[2013-10-18 03:40] haebin opened #438 "multiQuery() fails to accept vertex array as parameter."
https://groups.google.com/forum/#!topic/aureliusgraphs/EeFC_dHGw5s

The following works.

r=[]; g.V('mid','1').out('follow').store(r);
mq=g.multiQuery().direction(OUT).labels('follow');
mq.addAllVertices(r);
mq.vertices();

But the following doesn't due to type issue.

r=[]; g.V('mid','1').out('follow').store(r);
mq=g.multiQuery(r).direction(OUT).labels('follow');
mq.vertices();

[2013-10-18 07:24] topiaruss commented on #436
For our internal projects, I'm experimenting with Docker deployment. I'm certain that Docker is taking off like a rocket.

I suspect you could increase the titan user base by providing approved image Docker images, in the Docker index.  There are a few already appearing.

Best,

--r

On 18 Oct 2013, at 04:25, Matthias Broecheler notifications@github.com wrote:

Russ Ferriday -- Software and System

[2013-10-18 07:47] haebin opened #439 "multiQuery() fails to process has clause."
I don't know how to make has() work.
I tried several combinations but it just doesn't work.

rexster[groovy]> g.multiQuery().addAllVertices(r).direction(OUT).labels('like').has('lid').vertices()
==>An error occurred while processing the script for language [groovy]. All transactions across all graphs in the session have been concluded with failure: java.util.concurrent.ExecutionException: javax.sc

[2013-10-18 20:39] mpouttuclarke opened #440 "Make usage CachedKeyColumnValueStore configurable"
I have found that commenting out this line of code improves bulk load performance:

com.thinkaurelius.titan.diskstorage.Backend[titan3]:
156        //Enable cache
157        store = new CachedKeyColumnValueStore(store);

There may be other places where cache is not appropriate as well, or where we need to tune the cache size.

[2013-10-22 11:39] haebin opened #443 "Cannot query g.V('primaryKey', byteArray) because byte[] is converted to List<Byte> via groovy(?)."
https://groups.google.com/forum/#!topic/aureliusgraphs/IBA4ocY-M5M

[2013-10-22 17:58] dalaro commented on #437
I recently committed this feature to master and documented it in the wiki.  Now the metrics prefix is configurable at both the graph and transaction levels.

Documentation:
- https://github.com/thinkaurelius/titan/wiki/Titan-Performance-and-Monitoring#customizing-the-default-metric-names
- https://github.com/thinkaurelius/titan/wiki/Titan-Performance-and-Monitoring#transaction-specific-metrics-nam

[2013-10-22 17:58] #437 closed, assigned to dalaro

[2013-10-22 19:11] mbroecheler commented on #443
I think this is mostly an artifact of groovy's automatic type conversion,
no? Are you seeing the same issue when using the raw Java API?

On Tue, Oct 22, 2013 at 4:39 AM, Frederick Haebin Na <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-10-23 03:21] dalaro opened #445 "Change to Murmur3 in distributed cassandra.yaml"
The last use of RandomPartitioner is in the cassandra.yaml file packed into the distribution zipfiles.  We should change to Murmur3Partitioner for 0.5.0.

[2013-10-23 05:12] janarthanamr opened #446 "ID Pool concurrency issues"
Currently, ID Pool results in generating overlapping id ranges in the following scenario:
1. There are multiple threads
2. Each thread deal with its own instance of graph object

This is because the rid field used to uniquely identify the id pool claim is unique only per jvm. Its not unique per thread. In case two threads from the same jvm writes a claim on same id block, then we will end up with

[2013-10-23 06:30] mbroecheler commented on #446
For such cases, it is required to configure a unique machine prefix.
This is documented here:
https://github.com/thinkaurelius/titan/wiki/Titan-Limitations#multiple-titan-instances-on-one-machine

On Tue, Oct 22, 2013 at 10:12 PM, janarthanamr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-10-23 16:42] janarthanamr commented on #446
Yes, the configuration parameter 'storage.machine-id' will avoid this issue.However, if they are using threads, then this has to be dynamically set in the code to be unique. If they don't configure this right, this might lead to data corruption and there is currently no way for Titan to warn the user that this is mandatory in the given setting.

Given all this, and its fairly easy to fix this to b

[2013-10-23 16:59] mbroecheler commented on #446
Ah, I see where you are coming from.

On Wed, Oct 23, 2013 at 9:43 AM, janarthanamr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-10-24 05:00] mbroecheler commented on #440
Excellent observation. Yes, it indeed does not make sense to check mutations for cachable items on bulk loading. My suggestion would be to disable the CacheStore when batch-loading=true. Would that work for you?

[2013-10-24 05:03] mbroecheler commented on #446
Making the ID Allocator a singleton is not a good approach imho because then they couldn't be individually configured per Graph instance. Rather, I think we should implement that checks that if two (or more) id allocators are running in the same jvm that the rid is properly specified.

[2013-10-24 05:32] #438 closed, assigned to mbroecheler

[2013-10-24 05:32] #439 closed, assigned to mbroecheler

[2013-10-24 08:04] #407 closed, assigned to dalaro

[2013-10-24 17:10] #187 closed, assigned to mbroecheler

[2013-10-24 17:12] mbroecheler commented on #391
This was already included in the Titan 0.4.0 release.

[2013-10-24 17:12] #391 closed, assigned to mbroecheler

[2013-10-24 17:13] mbroecheler commented on #367
#369 was merged which closes this ticket.

[2013-10-24 17:13] #367 closed, assigned to nobody

[2013-10-24 17:25] mbroecheler commented on #423
My two cents: Many people use the default configuration files. They may copy them to a different directory (or not even) and then start going to town with them. Leaving them at /tmp/ is dangerous because of the potential loss of data.
For this reason, Cassandra uses /var/ for their data directories, but that sucks too because of permissions and so you either need to grant permissions or change the

[2013-10-24 17:25] #423 closed, assigned to nobody

[2013-10-24 17:26] mbroecheler commented on #427
@okram Are you still experiencing this issue? Is anybody else seeing this? Would be awesome if we could somehow reproduce this for debugging

[2013-10-24 17:31] okram commented on #427
Yes. This still happens (at least I never saw it working). It is as if g.shutdown() doesn't do anything.

On Oct 24, 2013, at 11:26 AM, Matthias Broecheler notifications@github.com wrote:

[2013-10-24 20:51] #145 closed, assigned to mbroecheler

[2013-10-24 22:51] mbroecheler commented on #440
Wait, unless <code>query.isStatic() && !query.hasLimit()</code> is true, CachedKeyColumnValueStore will pass method calls right through and should have no impact on performance. This line is only ever true for Titan internal queries which are rare.
It might be that the default cache size is too large and hence a lot of memory ends up being consumed. I reduced it to 1000 in 9692b2e0e968267fb95f33b4

[2013-10-24 23:00] mpouttuclarke commented on #440
Both of these would work.  Also, for reads it would be nice to configure the cache size via a property.

[2013-10-24 23:03] mpouttuclarke commented on #440
@mbroecheler: For now I am performance testing with a custom build with that line commented.  I have also added a number of .clear() calls on collections used during the commit process to free up memory for the concurrent GC process.  I now have embedded cassandra completely stabilized with absolutely consistent performance and no heap pressure.  Will be publishing results soon :)

[2013-10-24 23:27] mbroecheler commented on #440
@mpouttuclarke: Great, looking forward to it! Did you need to touch things in core? We are doing a pretty massive performance oriented refactoring of core that improves in-transaction performance by a lot. That would go nicely with you Cassandra embedded improvements.

[2013-10-24 23:45] mpouttuclarke commented on #440
@mbroecheler : Some of the other changes I made were previous to tuning the cassandra.yaml and -XX settings to prevent heap pressure created by Cassandra.  i.e. I know turning off the cache made a difference but some of my other changes may not have...

[2013-10-24 23:55] mbroecheler opened #448 "Persistit cleanup"
When gremlin is shut down without shutting down the graph, this error appears and the shell hangs:

[CLEANUP_MANAGER] WARNING Transaction abandoned Transaction_100000003 depth=1 status=<ts=17,896 tc=ABORTED mvv=0> owner=main

[2013-10-25 05:08] cglewis commented on #382
+1

[2013-10-25 16:03] okram opened #449 "CassandraEmbedded Hangs on exiting Gremlin REPL"
[code]

Just sitting there... been over 1 minute thus far.

[2013-10-25 16:17] mpouttuclarke commented on #440
@mbroecheler : I can merge any of my other changes which made improvements in performance, do you guys prefer patch file, pull, or just direct merge?  Any of the changes I make for Cassandra embedded should also carry over to data grid as well, since grids like to operate in the same JVM.  I have also built a distributed performance test project for embedded Cassandra as well...

[2013-10-25 16:53] mbroecheler commented on #440
A pull request would be fantastic. Thank you!

On Fri, Oct 25, 2013 at 9:18 AM, Matt Pouttu-Clarke <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-10-25 17:10] mbroecheler commented on #382
Sorry, my bad, I used the wrong issue number in my last commit. This issue has not yet been closed. We are actively working on this and you should expect a resolution soon. Just not yet ;-)

[2013-10-25 17:11] mbroecheler commented on #383
I falsely closed issue #383 when I meant to close this issue with commit fc2bc838a04c7a07de7a8a9b43fc41d08baf9611

[2013-10-25 17:11] #383 closed, assigned to mbroecheler

[2013-10-29 18:10] mbroecheler opened #450 "In-Tx Performance Improvements"
1) add entryProcessor (like edgeProcessor) in StandardTitanTx to make reading vertices faster
- getting vertices without having to create relation objects directly from the RelationCache
- only for transactions that have no modifications since we'd have to compare with in-memory relation objects otherwise and loose the speed advantage => hasDeletions=false, newElements=empty, etc

2) add SimpleVer

[2013-10-30 07:05] white127 opened #451 "Performance of Hbase backend"
Hi, all:

I try to use Hbase backend, the database contains more the 10 million vertexs and edges, the performance is not good, especially when getting properties of vertex, some times this operation consumes more the 100ms(even 500ms).
Can somebody give a help. And is there any extra infomations you needed?

[2013-10-30 19:15] mbroecheler commented on #451
Please use the mailing list aureliusgraphs@googlegroups.com for questions.

[2013-10-30 19:15] #451 closed, assigned to nobody

[2013-10-31 00:29] #417 closed, assigned to dalaro

[2013-10-31 09:17] white127 commented on #423
Can I modify hazelcast conf, for example, I want to use the tcp-ip method to join cluster, not the default multicast

[2013-10-31 18:40] mbroecheler opened #453 "Disable graph scans for GraphQuery"
Add a configuration option that, when enabled, will throw an exception when attempting to execute a GraphQuery that would result in a complete table scan due to missing indexes instead of issuing a warning.
For very large graphs, the warning does not help much because the execution would take sooo long that people need to kill the gremlin shell.

[2013-10-31 18:41] mbroecheler opened #454 "IndexQuery needs to take order into account in equals/hashcode/etc"
Otherwise caching is faulty.

[2013-10-31 21:52] mbroecheler opened #455 "Add "isPersistent" configuration option and adjust the test cases correspondingly"
That should help with the infinispan and hazelcast adapter and make the tests less "custom". In other words, the standard tests should be refactored to check this flag and the Infinispan/hazelcast/inmemory implementations don't need to be customized.

[2013-11-01 18:13] realdoug opened #456 "Best Practice for Unique Id's"
I am relatively new to Titan, and I noticed that when I did an update on an Edge (via Rexster), the edge was actually deleted and rebuilt with my new parameters, thus creating a new value in the "_id"

Can I rely on the "_id" field to act as a unique identifier the way I would in a traditional relational database (for both edges and vertices)?  If not what is a best practice for achieving this fun

[2013-11-01 22:02] mbroecheler opened #457 "Consider sort order in GraphQuery optimizer"
An index should be preferred if it can cover the sort order.

[2013-11-02 03:27] mbroecheler opened #458 "Use KeyConsistent ID Allocator even for transactional backends"
so that correct ID allocations are guaranteed even when transactions are temporarily disabled (e.g. for batch loading). Remove transactional id allocator.

In those backends, make StoreFeatures.isTransactional dependent on whether the store is actually configured to use transactions and not whether its supports them.

Not, this will introduce backwards incompatibility for transactional storage bac

[2013-11-02 04:03] mbroecheler opened #459 "Ensure key-consistency in non-transactional, distributed Hazelcast/Infinispan"
When transactions are disabled in these systems, we need to ensure that key-consistency is guaranteed when the transactional configuration calls for it (in locking and id allocation) and must ensure that this is signaled to the storage backend so it ensures key-consistency in distributed setups. Locally this is trivial but in distributed setups we need to use distributed locks whatever is provided

[2013-11-02 04:30] mbroecheler opened #460 "Make vertex existence check less expensive for transactional backends"
If a storage backend supports transactional isolation, we don't have to check whether the hidden vertex state property is present when checking for external vertex existence. It suffices to check whether the key is present which is faster, in particular on CacheStores.

This applies to
- getVertex(long) -> checks for slice
- getVertices() -> don't need to check inside each key

[2013-11-03 06:18] mbroecheler commented on #450
Extend SimpleVertexQueryProcessor to work for queries with constraints that are covered by the sort key

[2013-11-03 06:19] mbroecheler commented on #450
A number of these improvements have been implemented on the "infinispan" branch.

[2013-11-04 18:19] dkuppitz commented on #427
This is not a problem of Titan/Hazelcast, I have same the problem with embedded Cassandra and now also in my Java app.

Here's my main method:

[code]

The last line in `load` is:

[code]

I see this message in my console, so I know it finished.The overridden `close` method is:

[code]

I'm quite sure, that `System.exit(0)` is not the problem, thus it must be the `shutdown()` method.

[2013-11-04 19:35] mbroecheler commented on #456
Hi Doug,

please use our mailing list for questions: aureliusgraphs@googlegroups.com
We use this issue tracker for issues only.
Thanks,
Matthias

On Fri, Nov 1, 2013 at 11:13 AM, Doug Friedman notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-04 20:40] mbroecheler opened #461 "Limit is not adjusted correctly for queries filtered at lower level"
there should be NO filtering inside the executeQuery call to make sure that the limits are correctly propagated.

[2013-11-04 21:41] kevinschumacher opened #462 "Titan-Server-0.4.0 fails to launch on fresh install"
On a fresh installation of Titan-Server-0.4.0, "titan.sh start" fails to start Rexster. It appears that the jars for Rexster are corrupt.

$ unzip titan-server-0.4.0.zip
$ cd titan-server-0.4.0/bin
$ ./titan.sh start &> titan.start.log
...
$ ./titan.sh stop &> titan.stop.log

In the start log:
Error: Could not find or load main class com.tinkerpop.rexster.Application

In the stop log:
Titan + Rexs

[2013-11-04 23:18] #461 closed, assigned to mbroecheler

[2013-11-04 23:55] realdoug commented on #456
Sure thing sorry bout that!

[2013-11-04 23:55] #456 closed, assigned to nobody

[2013-11-05 09:47] dalaro commented on #462
I can't reproduce this locally.  Do you still have the zipfile that produced the corrupted jars?  If so, then could you please paste a sha1sum or md5sum or verify the GPG signature?

[2013-11-05 09:51] dalaro opened #463 "titan-server usability fixes"
Collecting recurring issues from the list and SO:
- Make titan.sh wait for Cassandra to fully bootstrap so that Astyanax doesn't try to talk to it before it's completely initialized; I want to avoid introducing a command dependency, so that probably implies either log watching or using one of Cassandra's stock tools (probably nodetool)
- Make titan.sh process its verb only after all options have b

[2013-11-05 15:38] kevinschumacher commented on #462
Dan -

I mispoke about the JARs being corrupt. I thought I had fixed the issue by replacing them with the JARs from the Rexster distribution, but that's not the case (the JARs for Rexster match what is provided in the Rexster server and console distributions, see below.)

I've pasted MD5 of the titan-server-0.4.0.zip below. For more context, I am running a fresh install of Ubuntu Precise 12.04 wit

[2013-11-05 21:18] mbroecheler opened #464 "Set unique id bit with to 7"
for IDAUTHORITY_UNIQUE_ID_BITS_DEFAULT so that one can randomize or set in the future to scale out the cluster.
For those upgrading, make sure to advise to explicitly set this value to 0.

[2013-11-05 21:19] dalaro commented on #462
Ah, I read right past the issue in the first message.  This is a known path bug in 0.4.0's titan.sh.  It's fixed in master and will be fixed in 0.4.1.

For now, cd to the root of the extracted distribution and run bin/titan.sh instead of cding into bin and running ./titan.sh.  Silly, I know, but a fix is coming.

[2013-11-05 21:23] mbroecheler opened #465 "Detect token ring bounds over localhost connection"
for both Cassandra and Hbase when a local connection is made to the storage backend and the keys are kept in sorted order (always true for Hbase).
In order word, extends this feature from CassandraEmbedded to CassandraThrift and HBase so we can read local partitions and effectively partition the graph.

[2013-11-06 01:19] mbroecheler commented on #409
We should do the same for HBase.

[2013-11-06 01:21] mbroecheler commented on #395
To emphasize the point of performance: For transactional backends its not necessary to check for the existence of the vertex state slice and a simple containsKey query would be faster since it does not require reading the entire value for a CacheStore implementation.

[2013-11-06 01:22] mbroecheler commented on #463
@spmallette Can you comment on the log file configuration?

[2013-11-06 01:27] #411 closed, assigned to dalaro

[2013-11-06 01:27] faberchri commented on #409
Do you intend to implement this in the very near future (for Cassandra)? The lack of this feature will force us to move away from Titan to a different Graph DB, which I think is a real pity.

[2013-11-06 07:48] #382 closed, assigned to mbroecheler

[2013-11-06 08:26] mbroecheler opened #466 "Implement weighted LabelPropagation"
with fixed "break-up" weight to make random assignments with some likelihood.
Takes into consideration already assigned vertices.

[2013-11-06 11:06] spmallette commented on #463
Rexster's log file configuration is more complicated than I would like, but here goes.  By default rexster suppresses rediculous amounts of log output from jersey and grizzly.  To flip that on you pass a `-d` on the command line.  To have better control over the logging output itself, Rexster looks for a `log4j.properties` file.  By default it uses the one  on the classpath embedded in one of the

[2013-11-06 17:12] mpouttuclarke commented on #417
FYI: I have published my load test package for Titan / Cassandra embedded under github.  This link may be of intrest :)
https://github.com/mpouttuclarke/titan-loadtest/wiki/Embedded-Cassandra-Considerations

[2013-11-06 19:40] jimfcarroll commented on #301
@timjstewart , thanks for this analysis. We just ran into the same problem. Good work.

[2013-11-06 22:04] mbroecheler opened #467 "Use upper bounds instead of max values throughout Titan core"
Both are used which can cause confusion and might lead to mistakes if one is mistaken for the other.
For upper bounds the comparison is value<upperBound
For max value the comparison is value<=maxValue

Change everything to upperBound by adding one to max value where used.
This is particularly pervasive throughout IDManager, StandardIDPool, VertexIDAssigner, etc

[2013-11-06 23:33] okram opened #468 "Warning message regarding Thrift fame size."
This doesn't seem good:

[code]

[2013-11-07 03:46] okram commented on #449
The same hang also happens with Titan/Infinispan.

[2013-11-07 04:01] mbroecheler commented on #417
Awesome, thanks @mpouttuclarke.
You might be interested to know that we have been doing a ton of optimizations on the in-memory data structures of Titan that should greatly reduce the number of objects being created for common types of queries. That should help keep GC under control. This work is currently in the infinispan branch and will be merged hopefully soon.

[2013-11-07 05:11] dkuppitz commented on #449
It happens with any backend and even with Neo4J.

[2013-11-07 05:32] mbroecheler commented on #449
Is it a general Gremlin REPL problem?

On Wed, Nov 6, 2013 at 9:11 PM, Daniel Kuppitz notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-07 05:33] mbroecheler commented on #409
Keep an eye on the ticket. @xedin is on it.

[2013-11-07 13:44] dkuppitz commented on #449
All you need to do to reproduce it is: open a connection to any transactional graph and then try to exit the REPL. Makes no difference whether you call shutdown() or not. I've had this problem 1 time in my Java app, but I cannot guarantee that it wasn't a bug in my application, since it never happened again. However, this behaviour is always reproducable in the REPL (at least I wasn't able to clos

[2013-11-08 01:33] dkuppitz commented on #449
Seems like g.shutdown() simply doesn't work. Just recognized that when I tried to shutdown a Titan/EmbeddedCassandra graph in one screen session and open another in a second screen session. The result was a port conflict. That means the first connection was still open.

[2013-11-08 01:40] mbroecheler commented on #454
false alarm according to TitanIndexTest. no fix.

[2013-11-08 01:40] #454 closed, assigned to mbroecheler

[2013-11-08 02:34] mbroecheler opened #469 "Refactor query optimizers for testing"
Refactor both VertexCentricQueryBuilder and GraphCentricQueryBuilder so that the construct method can be tested independently and the returned VertexCentricQuery/GraphCentricQuery be analyzed to make sure that the optimizers are behaving properly.

[2013-11-08 02:47] mbroecheler commented on #449
That would be strange. We have about a gazillion unit tests that use
g.shutdown(). There must be some strage interaction. Maybe a transaction is
still open but not thread bound?

On Thu, Nov 7, 2013 at 5:33 PM, Daniel Kuppitz notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-08 06:18] astubbs opened #470 "persisit intro link is wrong"
https://github.com/thinkaurelius/titan/wiki/Using-Persistit first persistit link takes you to berkelydb

[2013-11-08 10:03] topiaruss commented on #449
Which OS's are each of you using?
There have been various issues over the years with ports remaining in TIME_WAIT, after being closed, therefore preventing a new bind. OS and version dependent, of course.
I'll give you this old link to get you started:
http://hea-www.harvard.edu/~fine/Tech/addrinuse.html
You might want to spend 20 mins checking out this aspect of things, before suspecting code tha

[2013-11-08 16:17] dirkweissenborn opened #471 "Bug RexsterClient traversal"
I am querying the graph through rexpro with many queries (only reading, no writing) and mysteriously at some point the results of one query change (becoming wrong results). I try to verify the problem in gremlin and I cannot reproduce the problem. I know which queries were issued prior to the problem:

[code]

If I issue those queries before I run my loop (in which I do some traversing), it works.

[2013-11-08 18:00] dalaro commented on #449
Daniel, are you running `g.newTransaction()` to force a hang?  I have to do this.  If I just open a graph and call `g.shutdown()` and then exit, the REPL exits as intended.

I attached to the VM and took thread dumps after calling `g.newTransaction(); g.shutdown(); exit`.  The main thread is already dead.  The VM is being kept alive by ConcurrentLRUCache$CleanupThreads.  Each Transaction starts on

[2013-11-08 18:14] dalaro commented on #449
Oh, I should add about embedded cassandra: `g.shutdown()` makes no attempt to kill the Cassandra daemon.  The unit tests share a single embedded Cassandra daemon but each class uses a different keyspace.  So it's not surprising that you got port conflicts when shutting down an embedded cassandra db but not killing the VM.

[2013-11-08 18:25] dalaro commented on #463
These items are done in master:
- Make titan.sh wait for Cassandra to fully bootstrap so that Astyanax doesn't try to talk to it before it's completely initialized; I want to avoid introducing a command dependency, so that probably implies either log watching or using one of Cassandra's stock tools (probably nodetool) (58bc8358459f51acb836fc0b16e5aea01cd3fe9a)
- Make titan.sh process its verb only

[2013-11-08 18:29] dalaro commented on #463
Re Rexster logging.

I started out with -Dlog4j.configuration=conf/log4j-rexstitan.properties.  This props file configured logging to a file.  The file would be created, but it would remain empty.  I looked at Rexster's Application class.  Because the static initializer always runs PropertyConfigurator.configure(...) on either a file or classpath resource named "log4j.properties", and because I do

[2013-11-08 18:34] topiaruss commented on #449
Makes sense.
In this case, please ignore my earlier uninformed comment.
Best,
--r
On 8 Nov 2013, at 18:14, Dan LaRocque notifications@github.com wrote:

Russ Ferriday -- Software and Systems Architect/Developer
CEO Topia Systems Ltd.
russf@topia.com  --  +44 7429 518822  --  www.topia.com

[2013-11-08 18:47] spmallette commented on #463
That sounds right.  I probably should change that to better respect `-Dlog4j.configuration` at some point, but since you figured a work around i guess that will work.

[2013-11-08 19:01] dkuppitz commented on #449
No, I don't have to do anything to force a hang. Just to show that it's not only Cassandra/Embedded:

[code]

..hanging.

[2013-11-08 19:05] dkuppitz commented on #449
Correction for one of my last comments: Neo4J only hangs when you've actually used it / executed some queries. Simply opening a connection, calling `shutdown()` and then `exit` works as expected.

[2013-11-09 00:47] dalaro commented on #449
Thanks.  Your example led me to another separate root cause in HC.  Creating a HazelcastInstance starts a bunch of non-daemon threads.  Calling `HazelcastInstance#getLifecycleService()#shutdown()` in the store's `close()` stops those threads and allows the REPL to exit.

I also found a way to shutdown embedded Cassandra.  I'm refcounting Titan's uses of the embedded Cassandra instance by increment

[2013-11-09 00:49] dalaro commented on #449
Collected relevant changes (all on infinispan branch):
- f645e3f3afdef3b9bfdb8dd55c832dba0a6da500 - mark LRU cache cleaner threads as daemon threads
- 0b9f48f468e43a06e28d88c8dc745c40c31a14a9 - fire a Hazelcast lifecycle shutdown event on manager close
- 896fc61259515284638f0e425699e699c7498db0 - embedded Cassandra refcounting and quick shutdown
- c6814f4466ecff679ed718379990a2dc7200c7fd - Hazelca

[2013-11-09 07:50] #410 closed, assigned to mbroecheler

[2013-11-09 07:50] #426 closed, assigned to mbroecheler

[2013-11-09 07:50] #457 closed, assigned to mbroecheler

[2013-11-09 23:08] #389 closed, assigned to mbroecheler

[2013-11-09 23:08] #420 closed, assigned to mbroecheler

[2013-11-09 23:54] mbroecheler opened #472 "Use same timestamp method in Hbase as in Cassandra"
1) see TODO on line 164: uncomment 2 following lines, remove lines 168-170
2) do we still need waitUntil(putTS) since the difference is now just one ns?

[2013-11-10 01:18] mbroecheler commented on #400
Fixed in 04b25036801f88e71f3faaa295b3ecdbe64ad1ca

[2013-11-10 01:18] #400 closed, assigned to mbroecheler

[2013-11-10 01:20] #443 closed, assigned to mbroecheler

[2013-11-10 01:23] okram opened #473 "Make a backwards compatible test case."
Make a test case that generates a graph using Titan x.y.z our of Central Repo and then ensure that x.y.z+1-SNAPSHOT can property interact with it.

[2013-11-10 01:44] mbroecheler commented on #473
Yeah, I was thinking about that. How does one make such a test case though?
That would somehow require multiple class loaders to keep different
versions of Titan around.

If anybody has an idea on how to implement this elegantly, please let me
know. We definitely need this.

On Sat, Nov 9, 2013 at 5:23 PM, Marko A. Rodriguez <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.c

[2013-11-10 01:45] mbroecheler commented on #468
Fixed in a3a3aca7421dffa8de5d0ed747ec45ca238d183a

[2013-11-10 01:45] #468 closed, assigned to nobody

[2013-11-10 01:48] mbroecheler commented on #395
see #460 for a related ticket.

[2013-11-10 01:51] mbroecheler commented on #470
Merci. Fixed.

[2013-11-10 01:51] #470 closed, assigned to nobody

[2013-11-10 01:53] mbroecheler commented on #471
@D9891 according to the mails on the mailing list this does not occur through the gremlin shell but only when you run those queries in Rexster, is that correct? Would you mind verifying this so we know that we can isolate the bug to Rexster?
Thank you.

[2013-11-10 02:27] mbroecheler opened #474 "Remove serializer.registerClass(IndexType.class, KRYO_OFFSET + 20)"
in SerializerInitialization since its a duplicate of 14.

[2013-11-10 15:24] okram commented on #473
You can do as simple as if the version is x.y.0, generate a mini-database for each backend and tar -xf up the folder. Then if the verison is x.y.z (z != 0), untarball the folder and run queries against it to make sure no exceptions and correct results are returned. Some pom magic will have to come in here.

[2013-11-10 22:46] dirkweissenborn commented on #471
This is correct, but I am not sure this is a rexster bug though. I mean, I cannot run the same algorithm in a simple gremlin console, that's why I could not replicate the problem with gremlin, but that does not mean, that the bug is actually coming from rexster. I have the feeling it has something to do with titan, but of course I am not the expert here. It also only happens with one particular ty

[2013-11-11 13:13] spmallette commented on #471
On the surface, the queries themselves don't seem to contain anything that would make me think anything would be wrong.  Btw, interesting edge label names: `hmod -> induce:VB -> pobj`....never seen that before.  Is there more information in the mailing list on the exact nature of what's wrong in your results?  Could you please supply a link to the post if so?

[2013-11-11 13:42] dirkweissenborn commented on #471
Sorry, that is all I got. I really tried to get to the surface of that problem, but since it is not reproducible out of the context it occurs in I don't have anything else. I just ignore the issue for now, because it only happened for this specific edge or label. FYI, the edge label name is simply a dependency path from dependency trees (which are linguistic constructs).

[2013-11-11 16:43] okram opened #475 "Provide a TitanRowCacheProvider for use with Cassandra"
[code]

From the DataStax documentation:

[code]

@dkuppitz  and I have played with both SerializingCacheProvider (default and off-heap) and ConcurrentLinkedHashCacheProvider (on-heap). They perform (t = System.currentTimeMillis()) about the same (ConcurrentLinkedHashCacheProvider is ~10-20% faster). However, I'm wondering if Titan could have its own specific implementation of a IRowCacheProvider

[2013-11-11 17:11] mbroecheler commented on #475
If we put it on heap, we will suffer from the same deficiencies that ConcurrentLinkedHashCacheProvider has: much higher memory footprint which further compounds the issue that a lot of data is held on heap and hence under the control of the GC.
If we put it off heap, then the performance will be identical to if maybe marginally better than the current SerializingCacheProvider which does not justif

[2013-11-11 17:11] #475 closed, assigned to nobody

[2013-11-11 17:46] dirkweissenborn opened #476 "Bug in Titan BerkeleyDB"
Graph configuration:

[code]

I filled the graph with my data and tested the following with gremlin:

[code]

This should not be possible after the given type declaration, that 'ui' should be unique. During indexing, I query the graph for a given vertex with the given 'ui'. If it exists, I take it and add an edge to it. If not I create it first.

This is how I query the graph for the vertex:

[cod

[2013-11-11 18:55] #414 closed, assigned to dalaro

[2013-11-11 18:59] mbroecheler commented on #434
Has been implemented but not enabled by default in the 0.4.x line of Titan to remain backwards compatible. Enabled by default in titan 0.5.0. Can be enabled in 0.4.1 and beyond by setting "storage.short-cf-names=true". This should ONLY be done on new Titan/HBase deployments.

[2013-11-11 18:59] #434 closed, assigned to dalaro

[2013-11-11 18:59] mbroecheler commented on #446
Fixed with merge

[2013-11-11 18:59] #446 closed, assigned to dalaro

[2013-11-11 19:00] dalaro commented on #427
Fixed in #449

[2013-11-11 19:00] #427 closed, assigned to dalaro

[2013-11-11 19:00] #449 closed, assigned to dalaro

[2013-11-11 19:01] mbroecheler commented on #471
@D9891 why can you not run the algorithm in Gremlin? It has the same expressive power as Rexster.

[2013-11-11 19:02] #462 closed, assigned to dalaro

[2013-11-11 19:07] dirkweissenborn commented on #471
Because I have more than one graph which I query simultaneously. After each query I need to combine the results of this query from each graph, then I take these results and issue a new query to all graphs and so on. I would have to rewrite my whole code (which is written in scala) to groovy to let it run only on one graph using gremlin.

[2013-11-11 19:31] xedin commented on #409
@mbroecheler Pull is at https://github.com/thinkaurelius/titan/pull/477.

[2013-11-11 20:52] #409 closed, assigned to xedin

[2013-11-11 22:55] dirkweissenborn opened #478 "Bug leading to StackOverflowException"
When passing through CacheEdge.java:44, an endless recursion is starting.

[code]

isLoop refers back to it() and so on...

[code]

reported on the list: https://groups.google.com/forum/#!topic/aureliusgraphs/xEobpEVp4ik

[2013-11-11 23:40] mbroecheler commented on #471
Interesting setup. Is there way you can isolate this error you are seeing? It is very hard for us to debug something sitting at the very top of the stack when we don't know what the data and program looks like. Thank you.

[2013-11-12 00:12] faberchri commented on #409
:+1: Nice  :))

[2013-11-12 09:23] dirkweissenborn commented on #471
That is the same problem I had. I tried to reproduce the problem by finding out which queries were being issued prior to that problem and applying those to the graph where the change happened. Unfortunately this did not reproduce the error and I am kind of stuck. However, I will try to figure out a way to see what's really going on. It might be related to some elusive graph inconsistencies I repor

[2013-11-12 09:50] dirkweissenborn commented on #478
Temporary fix on snapshot for me was:

[code]

[2013-11-12 16:11] dirkweissenborn commented on #471
Could there be a problem if I create a lot of edges with a lot of different labels? I changed my implementation now, such that I rather create a property for the dependency path instead of using the dependency path as a label. Does this effect performance in some way? Maybe this might also solve the problem.

[2013-11-12 19:04] mbroecheler commented on #471
Titan should be able to support lots of different labels. What can cause a
problem is if those labels are created while storage.batch-loading is
enabled. In that case, you can have weird race conditions that can cause
edges to seamingly disappear.

On Tue, Nov 12, 2013 at 8:11 AM, D9891 notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-13 00:04] mbroecheler opened #479 "Titan does no longer cache types"
[code]

[2013-11-13 00:58] mbroecheler commented on #476
Is there something else I need to know about your setup? I am not able to reproduce this:

[code]

where my config file is a copy of yours with a specific path:

[code]

[2013-11-13 01:03] mbroecheler commented on #478
Ah, nice find! Ignore my comment on out of transaction object access.

[2013-11-13 03:23] #478 closed, assigned to nobody

[2013-11-13 03:23] #479 closed, assigned to mbroecheler

[2013-11-13 06:46] mbroecheler commented on #409
@GeorgeVorobiov @faberchri : We have added the ability to configure a username and password in Titan. What you do is set "storage.username" and "storage.password" in the Titan configuration file and it will use those credentials to connect to the cluster.
The changes are on master. Please try it out.

[2013-11-13 06:48] mbroecheler commented on #399
As discussed in https://groups.google.com/forum/#!topic/aureliusgraphs/VGv-RJwt8zI we have added the ability to pass arbitrary Parameters through to the indexing backend.

[2013-11-13 10:37] dirkweissenborn commented on #476
Well, there is nothing else to add from my side. Just wanted to share that I found this problem even though it should not be possible. I solved this by keeping a 'ui' to 'id' map on my side in memory and just lookup ids, whenever I want to add a vertex. I was not running any concurrent writing operations and transactions was not set to false.

[2013-11-13 10:40] dirkweissenborn opened #480 "[Enhancement] Streaming Transactions for BDB"
It would be very nice to have streaming transactions for BDB, to make global graph operations faster (e.g. iterating over all vertices).

[2013-11-13 11:05] dirkweissenborn opened #481 "Annoying warnings when using BatchGraph"
[code]

always gives me the warning:

Provided vertex id [someUI] is not supported by Titan and hence ignored

However, when using BatchGraph someUI has to be provided for addVertex, such that BatchGraph remembers the mappings from my uis to titan ids.

[2013-11-13 18:42] mbroecheler commented on #476
Mmmh, strange. I assume storage.batch-graph wasn't enabled either? Can you share the script and a fragment of the data that reproduces the problem for us to look at? I wasn't able to reproduce it with a pseudo replication of what you did.

[2013-11-13 18:43] mbroecheler commented on #481
The warning has been disabled and changed to an info statement.

[2013-11-13 18:43] #481 closed, assigned to nobody

[2013-11-13 18:44] mbroecheler commented on #480
So, you are finding that having transactions enabled and doing a g.V is too expensive, right?
I think this is related to #71.

[2013-11-13 18:57] dirkweissenborn commented on #480
Yes, it takes ages for reasonably large graphs (some millions of vertices). Does the number of edges effect g.V?

[2013-11-13 19:02] dirkweissenborn commented on #476
I already changed the code to fix that problem. But I will try to get it back for you.

[2013-11-13 19:03] dirkweissenborn commented on #476
I already changed the code to fix that problem. But I will try to get it
back for you.

2013/11/13 Matthias Broecheler notifications@github.com

[2013-11-13 19:03] mbroecheler commented on #480
Yes, for BDB it does. g.V requires a full table scan. There is no optimization for this query yet.
If this is a read only graph, why not disable transactions?

[2013-11-13 20:02] virgil0 opened #482 "Question about SetProperty"
Hi there, I got a problem when I try to use rexster server.
I am using titan-server-0.4.0. Created a graph through gremlin.sh.
Then I add the graph to db. and add a rexster.xml.
rexster.xml:
<?xml version="1.0" encoding="UTF-8"?>
<rexster>
    <http>
        <server-port>8182</server-port>
        <server-host>0.0.0.0</server-host>
        <base-uri>http://localhost</base-uri>
        <web-root>pu

[2013-11-13 20:39] mbroecheler opened #483 "Consider switching persistence times milliseconds"
From @xedin: all of the standard tools are at micros granularity so if only titan writes to that would be all fine because longs would be the same bit size but non of the standard tools would be able to override the data

[2013-11-13 22:09] mbroecheler opened #484 "NullPointerExcp when just a file name is specified"
This won't work:
g = TitanFactory.open('infini.prop')
but this does:
g = TitanFactory.open('./infini.prop')

Exception:
java.lang.NullPointerException
    at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:191)
    at com.thinkaurelius.titan.graphdb.configuration.GraphDatabaseConfiguration.getConfiguration(GraphDatabaseConfiguration.java:733)
    at com.thinkaurelius.titan.cor

[2013-11-14 02:40] kkochis commented on #165
I've also come across this issue and have tried several scenarios which do not work. Apache HBase (non-Cloudera) as well as MapR's HBase also have this same issue described. I am not using a local HBase install so dkuppitz's workaround does not work for me. I tried Titan versions 0.3.2 and 0.3.0 without success.

[2013-11-14 09:09] dirkweissenborn commented on #480
I do disable them. Still it is very slow!

[2013-11-14 22:09] mbroecheler opened #485 "Integrate metrics with ExpirationStoreCache and CachedKCVS"
to get rid of those nasty static variables and use those for testing.

[2013-11-14 23:36] mbroecheler commented on #480
Ok, thanks. Can you post the query you are executing with g.V.... so I can take a look at the runtimes?

[2013-11-14 23:37] mbroecheler commented on #482
@virgil0 : Please use our public mailing list aureliusgraphs@googlegroups.com for questions. Thank you.

[2013-11-14 23:37] #482 closed, assigned to nobody

[2013-11-15 00:03] #484 closed, assigned to dalaro

[2013-11-15 01:36] mbroecheler commented on #471
Are you still seeing this issue?

[2013-11-15 03:55] mbroecheler opened #486 "Extend TitanIndexQuery to return arbitrary result set parameters"
To accommodate this for instance:

I think returning the total number of results is important as the standard web metaphor when searching is to present pages from some number of hits.  ES makes it easy to ask for the range which makes up a page (which I think indexQuery would support if you are essentially doing a passthrough).  While other query-level information, such as max score comes back, ce

[2013-11-15 04:14] mbroecheler opened #487 "Consider Lz4 as default compression"
@dalaro:
I haven't tried it or thought carefully about it yet, but I think Cassandra's lz4 will be straightforward to support in Titan.  We might want to add a config option to control the compression options on newly-created CFs where Snappy is hardcoded.  Batch-recompressing existing data with a different algorithm will probably be better left for nodetool/compaction.

---

MapR also uses lz4 co

[2013-11-15 12:10] dirkweissenborn commented on #471
I am handling ui -> id mapping now locally, because like this I can iterate through the graph with my stored ids and I know which uis were already added. This was a fix from my side. When I see it again, I will report updates, but it is very unlikely now, because I handle uniqueness also on my side.

[2013-11-16 14:56] faberchri commented on #409
Test was positive on my local installation. Thanks for your efforts! :)

Noticed that Titan (or Cassandra?) hangs for quite a while if a user without appropriate permissions tries to access the (titan) keyspace .

Stacktrace:

[code]

[2013-11-16 19:30] mbroecheler commented on #409
I don't think there is much we can do about this since it between the
communication of the client and cassandra.

On Sat, Nov 16, 2013 at 6:56 AM, faberchri notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-17 19:48] dalaro commented on #463
f8404ceefea2be717bc24ccc6d6dd3ef865acca2 adds Cygwin compatibility to the titan-server distro.  That patch basically does two things based on the value of `uname`:
- Invoke `cygpath` to convert *NIX paths to Windows equivalents when needed
- Call `taskkill` instead of `kill` on Cygwin

titan.sh start, stop, status, and clean worked as expected on my Win 7 test box under current Cygwin with these c

[2013-11-18 03:12] mbroecheler commented on #385
I think you are better off storing this data outside of Titan. From an architectural perspective, its important that Titan has one "authoritative" data source which is always the storage backend. The indexing backends are purely used for indexing and not data storage. If we had some data stored in the storage backend and some in the indexing backend, we would make Titan's architecture way more com

[2013-11-18 03:12] #385 closed, assigned to nobody

[2013-11-18 06:33] pellyadolfo opened #488 "drop indices (and/or types) on a per-connection basis"
I have a graph which takes several hours in being populated with metadata. In order to fine tune performance by setting the right indices it seems that indices already created can not be dropped. So, no other option than start again, setup a new brand graph and repopulate it again (hours between tests of the indices configuration).

It would be hepful (but do not know if feasible) the possibility

[2013-11-19 13:46] ilyakard opened #489 "unique() locks all vertex properties"
We've been having some issues with concurrency and locking in titan 0.4.1. We are using a rexpro connection and cassandra-thrift to connect our rails application to titan. Multiple user accounts log in at once. On login we update a few properties on the User vertex with type definitions like this:

[code]

This property is not modified (but is read):

[code]

The gremlin command that we are using

[2013-11-19 16:31] spmallette commented on #463
I think it would be worth removing some unnecessary files from the distribution (specifically from the `conf` directory) so as to avoid confusion as to what files are actually used.  I'm not sure what's "necessary" or isn't but I would guess that `titan-server-rexster.xml` isn't used as well as non-cassandra/-es properties files.  I've caught myself editing the wrong "rexster.xml" in there and it'

[2013-11-19 18:50] mbroecheler opened #490 "Add CompressedString"
with compressed string serialization.

[2013-11-19 21:56] mbroecheler commented on #489
Could you do me a favor and check whether setting "fast-property=false" in
the configuration file changes anything?

On Tue, Nov 19, 2013 at 5:46 AM, Ilya notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-20 12:55] ilyakard commented on #489
`fast-property=false` has fixed it, and has made the other (read-only) traversals in our performance test faster. There were other vertices with unique properties being traversed.

Thanks Matthias!

[2013-11-21 18:51] richtera opened #491 "The 0.4.1-SNAPSHOT compile is missing classes"
Not sure why since the repo is correct and building the snapshot locally works, but your version of the snapshot is missing classes like Mapping for example.

[2013-11-21 19:50] richtera commented on #491
Never mind. My caching maven repo had a bad version. Ooops.

[2013-11-21 19:50] #491 closed, assigned to nobody

[2013-11-21 21:09] mbroecheler commented on #489
Thanks @ilyakardailsky, this pointed me to a bug in the retrieval of Titan's types in the sense that it did not utilize the cache correctly. If you pull the current master and enable `fast-property=true` you should see the same if not faster performance, because this setting will retrieve all properties with one Cassandra call when you are updating a bunch of properties.

However, I could not dete

[2013-11-21 21:14] spmallette commented on #435
:+1: to bringing back some sort of cheat sheet.

[2013-11-22 13:30] Sitin opened #492 "Rexter DogHouse static files access damaged in Titan Server"
I found that Rexter in the titan-server-0.4.0.zip can't serve it's static files e.g. images, CSS's and javascripts.

[2013-11-22 16:08] dalaro commented on #492
Thanks for reporting.  #463 fixed this for the pending 0.4.1 release.  The change is already in master.

[2013-11-22 16:08] #492 closed, assigned to nobody

[2013-11-24 11:24] jainmanoj opened #493 "commit performance very slow on Cassandra back end (Takes ~ 5 MINUTES for a batch of 1000 vertices)"
The commit performance is very slow. I am committing  a transnational graph on Cassandra back end. I am  doing a batch commit with around  around 1000 vertices and  5000 edges. It takes more than 5 MINUTES to commit the transaction. I am not sure what is the problem. The commit time increases  with  batch size.

I am using standard indexing  back end and verified that indexed queries are working f

[2013-11-24 17:17] okram commented on #493
This is issue is not properly submitted. Please do not send a big blob of Java code for us to have to decipher. Isolate your problem to the smallest amount of code required that can be reproduced via the Gremlin REPL. For instance, using Graph of The Gods or if your problem requires more data, please use random data generation (e.g. creating a large set of random vertices/edge, etc.). The code sub

[2013-11-24 17:17] #493 closed, assigned to nobody

[2013-11-24 17:27] okram opened #494 "Typo is Exception -- g.V and g.E."
Please see the two global scan queries below:

[code]

The second one should read:

[code]

While you may be getting all edges by scanning all vertices and emitting v.outE, perhaps for cleanliness, its good to say "iterating over all edges"

[2013-11-24 17:51] okram opened #495 "Fulgora and Hazelcast documentation still in Titan main."
The following two links should be removed from Titan and put into the "experimental" Titan wiki.

https://github.com/thinkaurelius/titan/wiki/Fulgora
https://github.com/thinkaurelius/titan/wiki/Using-Hazelcast

[2013-11-24 22:31] mbroecheler commented on #494
Problem is that g.E calls g.V internally so there is no way for us to
"mask" this warning message.

On Sun, Nov 24, 2013 at 9:27 AM, Marko A. Rodriguez <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-24 22:33] mbroecheler commented on #495
I have copied the pages over but not deleted them in the current wiki (you
never know ;-). I removed the reference to those pages.

On Sun, Nov 24, 2013 at 9:51 AM, Marko A. Rodriguez <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-11-25 09:42] jainmanoj commented on #493
Well, I am sorry. If not able to submit it properly.  I thought to put  full code which is compiled using single java class.

Main method is createUpdatePetGraph(int numInstances) {-
This is nothing but a loop  for creating graph instances and committing it in batch. The real culprit is

 ----- framedGraph.commit(); ----  the execution at this  just block for a long time and sometimes throw this e

[2013-11-25 12:21] X4 opened #496 "Titan urgently needs a Homepage Improvement"
I wish you had a page like this:
https://stripe.com/us/features or this http://codeception.com/
Would allow me and others to grasp, how Titan works, much much more easily.
Where in the docs am I supposed to find out how to use titan?
I think it's one of the main reasons, that neo4j is more popular (I know titan is younger, but this adds to it)

In the beginnings, most mysql developers heard about

[2013-11-25 14:20] jainmanoj commented on #493
It seems real problem is in acquiring the ConsistentKeyLocker  . It is taking too much of time and get following exceptions. The question is why it is taking so much of time in acquiring the ConsistentKeyLocker   -

669275 [main] WARN  com.thinkaurelius.titan.diskstorage.locking.consistentkey.ConsistentKeyLocker  - Lock write succeeded but took too long: duration 537 ms exceeded limit 300 ms
66980

[2013-11-26 01:22] Sitin opened #497 "Index issues after g.clear()"
I found two strange bugs caused by g.clear() (tested in titan-server-0.4.1 via Rexster, Java 7).

Assuming that we have clear DB in each situation.
#### First case: index recreation causes server error.

If we create index then add vertex with non-indexed property than after g.clear() adding the first index will cause an internal error.

[code]

The last command causes error 500: `<html><body><h1>

[2013-11-26 05:07] mbroecheler commented on #493
Hi, please read more about the locking behavior of Titan.
Basically, whenever you define something to be unique then Titan needs to
acquire a lock to ensure uniqueness. THis is a very costly operation on
eventually consistent backends. You can configure how long Titan should
acquire locks for but your error message suggests that your cluster is
under a lot of load for acquiring a lot of locks.

Yo

[2013-11-26 11:38] jainmanoj commented on #493
Thanks. I read the locking behavior of Titan. Few more question around this.
1) set storage.batch-loading=true to disable locking when doing an initial or
incremental bulk load that is considered consistent
   -> Not clear from document, if batch loading should be done on client
configuration or Server configuration or both. The graph configuration is
set during boot process, so If I need to chang

[2013-11-26 12:17] spmallette commented on #497
@mbroecheler @dalaro I'm not sure what the proper use of `clear` is and what the behavior should actually be, but it does produce some confusing output in the REPL (output that shows Rexster would get really messed up hosting a graph if someone did this).  Is the behavior below appropriate?  Could things be more clear?  Minimally, some javadoc on `clear` for expected behavior and proper usage woul

[2013-11-26 15:40] dkuppitz opened #498 "Old edges are not removed after changing sort key value"
**Code to reproduce:**

[code]

**Relevant output:**

[code]

**Expected behaviour:**

The old edge with `activity == 0L` should be removed.

[2013-11-26 17:32] spmallette commented on #307
Could you clarify what the fix was here?  Was it just for the Float like i had in my example?  Note this other "zero forgiveness" scenario that a client ran into:

[code]

[2013-11-27 02:55] #158 closed, assigned to mbroecheler

[2013-11-27 02:56] mbroecheler opened #499 "MultiQuery issue"
private List<Vertex> getFriendsOfFriends(TitanVertex vertex) {

[code]

}

but it fails some of my tests. That's the stacktrace I keep getting:

java.lang.AssertionError: Index 17 out of bounds [0, 17).
    at com.carrotsearch.hppc.LongArrayList.get(LongArrayList.java:190)
    at com.thinkaurelius.titan.graphdb.transaction.StandardTitanTx.executeMultiQuery(StandardTitanTx.java:699)
    at com.thin

[2013-11-27 03:23] mbroecheler commented on #307
This is because a dataType was never declared for dateTaken - hence Titan does not know how to compare these things.
This is where the generality of Blueprints is hurting us a little because its valid to write something like:

[code]

For Titan, it does not know how to push things down if the data type is unknown and hence it complains. I guess, we could make it such that when no data type is defi

[2013-11-27 03:25] ilyakard commented on #489
Repeated our concurrency tests and everything looks good with the official 0.4.1 release. The exceptions we were getting were the Cassandra thread blocks that Lars wrote to you about on the mailing list: https://groups.google.com/d/msg/aureliusgraphs/qfC97cM83rw/i5e7CssQM_EJ
These are now gone, not sure after which commit, perhaps the above fast-property fix. Also had a >50% performance boost afte

[2013-11-27 03:25] #489 closed, assigned to nobody

[2013-11-27 10:48] spmallette commented on #307
Thanks for the explanation.  This problem really only hurts two types of users:
1. New users who are just getting started and maybe just following TinkerPop docs but using Titan
2. Users who don't define types.

The client who ran into this problem falls into the second case and they have a reasonably compelling argument for not doing type definition (at least the most compelling i've heard thus f

[2013-11-27 13:19] JonSmoot opened #500 "Cannot delete an Edge that has more then one property"
Environment:
titan-server-0.4.0, running with titan-cassandra-es.properties from Gremlin shell

Trying to delete an edge after setting two (or more) properties on it generates an exception

[code]

To reproduce, run this from gremlin.sh:

[code]

Note that commenting out one of the e.setProperty(...) calls works like a charm.

[2013-11-27 21:34] mbroecheler opened #501 "Uniqueness Issue"
The uniqueness of MASTER_ID is not ensured in the following example:

https://gist.github.com/anonymous/7579852

[2013-11-27 22:17] mbroecheler commented on #307
I can figure out a way to make it work I think by simply casting things to Comparable. However, this will not be as efficient.

[2013-11-28 00:42] satb opened #502 "Titan 0.4.1 not picking up Rexster server scripts"
Hit a bump while upgrading from Titan 0.4.0 to Titan 0.4.1. This was working just fine when using Titan 0.4.0

Looks like I am unable to get my scripts to be recognized by Rexster.

titan-server-0.4.1 $vi conf/rexster-cassandra-es.xml

[code]

 titan-server-0.4.1 $cat scripts/data_types.groovy

[code]

titan-server-0.4.1 $./bin/titan.sh -c cassandra-es start
Starting Cassandra...
Started Cassandra

[2013-11-28 00:55] satb opened #503 "ClassCastException when using Gremlin query"
Using Titan 0.4.0 with rexster console and getting an exception on a Gremlin query that is very simple. What could be causing this exception?

I initially populated a property value as an empty value (it was unintentional). In other words, property 'ip' was empty but it got added. I believe, that is what is causing the problem but when I try to actually add a value g.V.has('ip', '').sideEffect {it

[2013-11-28 11:38] spmallette commented on #502
Looks like some pathing has changed in the packaging between 0.4.0 and 0.4.1.  I assume you had your `scripts` directory in `TITAN_HOME`.  It looks like Titan Server is now looking for them in `TITAN_HOME/rexhome`.  if you move your `scripts` directory there it should work.

@dalaro was this an intentional change going into 0.4.1?

[2013-11-28 11:49] spmallette commented on #503
I can't seem to reproduce this in a simple way.  Could you please connect directly to the cassandra backend of Titan Server through `bin/gremlin.sh` and try your failing query there to see what you get back?  I'd be interested to know what `g.V('ip','1.1.1.1').in` is returning that Rexster doesn't want to serialize.

[2013-11-28 16:45] okram opened #504 "0.5.0 should remove local: as possibility"
This "local:conf/titan.properties" as a folder and using BerekelyDB cause more problems then it solves. I think that by 0.5.0 we should have it so that every TitanFactory.open() MUST point to a properties file and if not, it gives a FileNotFoundException, where for local, you have to have a respective properites file.

[2013-11-29 09:23] grindiv opened #505 "Titan 0.4.1 throws StorageException when removing edge with sortKey"
edit:
On berkeley exception is thrown.
On Cassandra Titan fails in a silent way. It does not remove the edge and does not throw any exceptions.

the code:

conf = new BaseConfiguration()
conf.setProperty("storage.backend", "berkeleyje")
conf.setProperty("storage.directory", "/tmp/graph")

g = TitanFactory.open(conf)

k = g.makeKey("ke").dataType(Long.class).make()
g.makeLabel("lab").sortKey(k).sor

[2013-12-02 01:12] satb commented on #503
Thanks. Looks like we are getting somewhere.

[code]

[2013-12-02 01:17] satb commented on #502
Thanks. I'll try and see if it fixes it. Will report back

[2013-12-02 01:46] dkuppitz commented on #503
Fix your Gremlin code. Should be

g.V('ip','1.1.1.1').out

[2013-12-02 01:47] dkuppitz commented on #503
Sorry, didn't want to close yet. Reopen if the problem is still unsolved.

[2013-12-02 05:40] satb commented on #503
Sorry, I was trying to investigate this error and accidentally left the lower case v. Don't know if this is somewhat related.  I've seen this a few times.

[code]

[2013-12-02 11:46] spmallette commented on #503
Hmmm...well, if it can't be iterated in the Gremlin REPL, Rexster won't be able to iterate it either.  There still might be something weird with Rexster Console though.  It should handle the serialized error better than how it is.  There were some changes in 2.4.0 around RexPro and perhaps the console doesn't respect those changes as well as it should.

@mbroecheler any ideas what might be going o

[2013-12-02 15:51] okram opened #506 "Update Titan documentation so same ElasticSearch issue doesn't reoccur."
I am trying to run this example and I get the following errors:
Exception in thread "main" java.lang.IllegalArgumentException: Could not instantiate implementation: com.thinkaurelius.titan.diskstorage.es.ElasticSearchIndex
    at com.thinkaurelius.titan.diskstorage.Backend.instantiate(Backend.java:346)
    at com.thinkaurelius.titan.diskstorage.Backend.getImplementationClass(Backend.java:358)

[2013-12-02 18:50] satb commented on #503
The same query through rexster (connecting to the remote host) is causing the class cast exception

[code]

[2013-12-02 18:53] spmallette commented on #503
What I was trying to say was that I have this feeling that the ClassCastException is related to Rexster throwing an exception on the server which is not being handled in the client side console.  I suspect that exception on the server is the same one you are encountering in the Gremlin REPL.  Again...if you can't iterate in the Gremlin REPL, it is doubtful that Rexster will be able to.  At the mom

[2013-12-02 19:00] satb commented on #503
I have some suspicion it has something to do with some empty values that got loaded for the vertices. For example, for this node with id=32, it was originally empty, then I updated it to NA (as mentioned at the beginning of this issue). So, now, if I look at this vertex, it shows 'NA' as expected but something internal to Titan doesn't seem to like the empty value perhaps...just guessing.

rexster

[2013-12-02 19:14] dalaro commented on #502
@spmallette I made that change intentionally to work around Rexster's log4j configuration.  Here's my related comment in our conversation on #463: https://github.com/thinkaurelius/titan/issues/463#issuecomment-28085732

[2013-12-02 19:20] spmallette commented on #502
Yup...now I remember that.  thanks.  I've updated the wiki to reflect the change.

[2013-12-02 19:36] satb commented on #502
I can also confirm it is working by moving the scripts to rexhome. BTW, where did you look to figure out that the path has changed? Helps me troubleshoot next time

[2013-12-02 19:36] #502 closed, assigned to nobody

[2013-12-02 19:37] spmallette commented on #502
Rexster server logs were showing where it was looking for the script.

[2013-12-03 17:30] dkuppitz opened #507 "Ignore unknown fields in indexQuery"
`indexQuery()` currently throws an Exception when you use a non existent field/key. ES/Lucene will ignore unkown fields. To get the same result in Titan we could simply ignore/pass-through unknown field names.

Maybe a configuration option would be a good idea. Something like:

[code]

with a default value of `false`.

[2013-12-03 19:13] mbroecheler commented on #503
@satb: Do you have the full stack trace for the exception that was produced in the Gremlin REPL. There should be a "caused by" line below that I need to see what caused this error. Thanks.

[2013-12-03 19:30] vshchukin opened #508 "Resource leak when using 0.4.1 + cassandrathrift and iterating over all vertices"
Hello,

I've experienced lockups when using cassandrathrift backend and iterating over all vertices.
Steps to reproduce:
- using titan-server-0.4.1.zip
- using Rexster config https://github.com/MrKeyholder/random-data/blob/master/titan/rexster-cassandra.xml (the only change from default file is `storage.backend` changed from `cassandra` to `cassandrathrift` )
- run ./bin/titan.sh -c cassandra star

[2013-12-03 20:25] spmallette commented on #503
fwiw, I tried to recreate a failure of this type with just Rexster and Rexster Console and could not.  Still not quite sure  how Rexster is generating that classcastexception, though i'm still feeling like the root of the problem can be solved by looking at the full stack trace of the Gremlin REPL @mbroecheler requested.

[2013-12-04 00:49] satb opened #509 "Exception during data load using BatchGraph"
I have a 2 node Titan/Cassandra cluster. I loaded data on one node and am running a script to load data on the same node I have the data. Consistently and repeatedly, I keep getting this error. Can you please help me with any workarounds?

I have some 6-7 files of data that I read sequentially in the script and load the data. The script looks like this

[code]

The first 3 files load fine and I ca

[2013-12-04 02:20] mbroecheler commented on #509
Try a smaller batch size for BatchGraph and set the write-conssitency-level
to ONE for Cassandra.

On Tue, Dec 3, 2013 at 4:50 PM, satb notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-12-04 06:03] satb commented on #509
@mbroecheler  - Thanks. The changes didn't work...it made the problem worse. Not even the first file loads now. I get the same exception as above. I fire off the script to start BatchLoad, the script waits for about 2 minutes and then throws the exception

[code]

Batch Graph defined like so:

[code]

[2013-12-04 06:14] satb commented on #509
Tried just changing the batch size to 100,000 and left the write-consistency-level change out (defaults to QUORUM I believe right?) - but that didn't change anything. Starts to load and after the 3rd file is loaded, it thinks and thinks and  then throws an exception. The fourth file I believe has many more edges than the first 3. Don't know if that makes any difference.

[2013-12-04 14:59] satb commented on #509
If I shut down the second node (i.e. only single node now), then the batch data load happens smoothly. All files finished loading without issues. So something between the two nodes when they are part of the cluster is causing the problem. What could that be? And why would it fail only after a few files have successfully loaded? The data characteristics between the files are not all that different.

[2013-12-04 17:43] satb commented on #503
Here we go...so I guess I too see the problem now. Looks like some configuration change is required with v(32) being a super node, may need a bigger thrift frame size?

That said, Rexster gives me the same ClassCastException for the same query. So maybe its not a Titan issue but rather a Rexster issue.

[code]

[code]

[2013-12-04 19:40] tsecheran opened #510 "gremlin.sh doesn't parse more than 9 parameters"
If more than 9 parameters passed onto gremlin.sh,  gremlin interprets 10 as ${1}0, so the 10th param would result in "-e0", this is due to this following eval in the parsing block

if [ $# -gt 2 ]; then
    for (( i=3 ; i < $# + 1 ; i++ ))
    do
      eval a=\$$i
      k="$k \"$a\""
    done
  fi

**\* eval a=\${${i}} **\* should fix this issue...

[2013-12-04 20:34] cglewis opened #511 "Wiki Documentation Typo"
Noticed the following in https://github.com/thinkaurelius/titan/wiki/Titan-Limitations

"Hence, you Object.class as the data type for type flexibility."

Would make more sense if it was:

"Hence, use Object.class as the data type for type flexibility."

[2013-12-04 20:43] satb commented on #509
In case we need anything else from this machine please let me know. I have to put this VM back into the pool pretty soon.

[2013-12-04 21:46] xedin commented on #508
Pull is at https://github.com/thinkaurelius/titan/pull/512, problem is related to pool behavior when iterators hold on to connections. Please give it a try.

[2013-12-05 02:06] mbroecheler commented on #511
Fixed. Thanks.

[2013-12-05 02:06] #511 closed, assigned to nobody

[2013-12-05 02:09] haebin opened #514 "Why are you shipping out titan-all-0.4.1? Isn't it supposed to be titan-server-0.4.1?"
titan-all-0.4.1.zip is somewhat useless.
I don't know how to use it since it does not have any proper scripts to run titan server.

Isn't is supposed to be titan-server-0.4.1.zip?

I always download titan source and build it myself to get the zip.
(Is it only me?)

Please check the distribution package.
Thank you.

[2013-12-05 02:13] mbroecheler commented on #514
Yeah, we are also realizing that our distributions are somewhat
unfortunate. We wanted to provide a distribution that does not include
Rexster and all its dependencies for those who don't need it (given the
amount of extra stuff that this pulls in) but the name "all" is confusing.

We will rework our distribution management for the next release.

On Wed, Dec 4, 2013 at 6:09 PM, Frederick Haebin Na

[2013-12-05 02:23] mbroecheler commented on #509
It probably has to do with how the Cassandra cluster is configured
(balanced token ring, yaml configuration), how Titan is configured (QUORUM
writes are more expensive, id pool configuration, etc) or characteristics
of your environment (network latancy, etc).

There seems to be nothing wrong with Titan here since the read timeout
occurs in Cassandra. Please try to tune the system and your topology

[2013-12-05 02:35] mbroecheler commented on #503
No, this is an issue with v(32) being a super node and that reading all of
its edges requires more than the default 16MB frame size.
There is a related Rexster issue in that Rexster does not convert the error
message correctly, but that does not solve your problem.

You could increase the frame size, but that would just mask the larger
issue: there are too many edges on this vertex. Try to use ver

[2013-12-05 11:01] haebin commented on #514
Thank you, Matthias. :D

[2013-12-05 12:16] spmallette commented on #503
I'll take a look from the Rexster side (https://github.com/tinkerpop/rexster/issues/331), but I would assume that increasing the frame size, changing the model/query, etc. would allow this to work.

[2013-12-05 18:35] satb commented on #503
OK. Thanks. Will see what I can do. Is something like pagination an option? For example, in RDBMS, you have a limit option and I've been using the [0..10] to get the top 10 results and that seems to work. But want to check to see if there are any issues with that approach because that approach would rely on the assumption that the order remains the same on the result set.

[2013-12-05 19:14] mbroecheler commented on #503
Yes, using limit(int) works and the order remains the same. However, you
wanna make sure that you have a reasonable vertex centric index installed
so you can get the results you want and not just the top 10.

On Thu, Dec 5, 2013 at 10:35 AM, satb notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-12-05 19:27] brianin3d commented on #448
Heh... thanks for the tip about shutting down the graph!

[2013-12-05 20:48] ilyakard opened #515 "indexQuery() not supporting terms with underscores"
I have some indexed vertex properties with underscores in the name.

[code]

It seems Titan is breaking up the indexed property key name at the underscore, I believe underscores in the field name should be supported in the Lucene syntax. Escaping it out with \ did not seem to work. Other indexQuery calls are working great with my titan/cassandra/es setup, thanks!

[2013-12-05 21:14] mbroecheler commented on #515
You have to escape the entire property name when it contains non-alphabetic characters:

"v.\"first_name\":ilya"

[2013-12-05 21:14] #515 closed, assigned to nobody

[2013-12-05 23:23] carlosalberto opened #516 "count() in user defined steps"
count() -and likely other similar functions- don't work at all in a user defined step. Example:

g.v(1).out.count() -> works, returns the count of outgoing vertices.

Gremlin.defineStep('vouts', [Vertex, Pipe], { _().out.count() }) -> ok
g.v(1).vouts -> FAIL
groovysh_evaluate cannot be cast to com.tinkerpop.blueprints.Vertex
(Huge, not very helpful stacktrace...)

I'm pretty sure there must be a r

[2013-12-06 00:20] pellyadolfo commented on #385
I am also having this use case and I agree that is better using an ES cluster for this large data..... but how do you keep integrity for this external data with a Titan graph on Titan searches?

+1 for giving a thought to this configuration

Update: I added this thread on Gremlin forum on the possibility of a NoSQL Distributed Query Engine
https://groups.google.com/forum/?hl=en-GB#!topic/gremlin-u

[2013-12-06 01:59] dkuppitz commented on #515
Added this information to the according wiki page: https://github.com/thinkaurelius/titan/wiki/Direct-Index-Query

[2013-12-06 11:57] ilyakard commented on #515
Ah thanks for clarifying guys.

[2013-12-08 02:42] #495 closed, assigned to nobody

[2013-12-08 02:42] #494 closed, assigned to nobody

[2013-12-08 18:59] karkumar opened #517 "Rate Unit of the Sl4j Metrics report is off"
I'm currently getting  this output for the timer:

13:28:09,480 INFO foo: type=TIMER, name=com.thinkaurelius.titan.sys.stores.mutate.time, count=48, min=1.9043409999999998, max=10.187138, mean=2.82683375, stddev=1.5763919352830456, median=2.366405, p75=2.6430339999999997, p95=7.597572049999993, p98=10.187138, p999=10.187138, mean_rate=10.187138, m1=0.9160719857693511, m5=1.228691531959396, m15=1.5

[2013-12-09 18:56] spmallette commented on #516
This is really a Gremlin issue and not related to Titan.  `_().out.count()` is iterating the pipeline and returning a count.  You technically don't want to return that numeric value as that closure you are supplying to the `defineStep` should return a `Pipe`.  One way to do that would be to do:

[code]

In this way, we transform the incoming value to the count.  Now that the closure returns a `Pip

[2013-12-09 18:56] #516 closed, assigned to nobody

[2013-12-09 19:34] xedin commented on #508
@mbroecheler I'm pretty confident that we can move on and merge this.

[2013-12-12 04:49] vshchukin commented on #508
Works OK for me, thanks. Added test in separate pull request.

[2013-12-12 05:15] pellyadolfo opened #520 "indexQuery - indices not applied when filtering without condition i.e. has("index")"
As discussed in this thread https://groups.google.com/d/msg/aureliusgraphs/lbRw4ItFxtg/IsJ9K_jPktMJ there is currently a limitation when filtering without condition on ES extended indices.

At the moment, code is not applying indices when filtering without condition since is necessary working out how to make this call to ES. See the if sentence on StandardTitanTx#execute()

(https://github.com/thi

[2013-12-12 16:00] mpouttuclarke opened #521 "Add integration with Codahale Metrics / Graphite"
It would be very useful for Titan to integrate with these metrics packages:
https://github.com/codahale/metrics
http://metrics.codahale.com/manual/graphite/

[2013-12-12 16:13] dalaro commented on #521
Titan supports Metrics and its standard reporters, including Graphite: https://github.com/thinkaurelius/titan/wiki/Titan-Performance-and-Monitoring

I want to add new measurement points and welcome suggestions about what to monitor.  That's probably a discussion better suited to the aureliusgraphs list than the issue tracker.

[2013-12-12 16:13] #521 closed, assigned to nobody

[2013-12-12 19:27] jramsdale opened #522 "Consider publishing distributions to Maven repo"
We use Chef to automate our deployments and use a Maven repository to host all the software we install. Since we proxy Maven Central it's a cinch to deploy new versions of tarballs when they are posted to an upstream Maven repo. In the absence of attached tarballs we have to manually download the artifacts and then upload them to our repo.

I believe attaching tarballs is considered a good practic

[2013-12-12 20:04] dalaro commented on #522
I thought tarballs on Maven Central was bad practice.  Where is it recommended?  I just checked three well-regarded libraries, Guava, Joda, and Slf4j, and none of them appeared to have tarballs in Central.  I don't remember seeing this addressed in the [Sonatype OSS Maven Repository Usage Guide](https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide).

Chef deployme

[2013-12-12 23:00] jramsdale commented on #522
Guava, Joda, and Slf4j are all libraries, not applications themselves, so wouldn't be expected to have tarballs. Poking around I find Groovy: http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.codehaus.groovy%22%20AND%20a%3A%22groovy-binary%22 and JavaDB post zips: http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22javadb%22%20AND%20a%3A%22javadb%22

Unless Aurelius posts the RPMs/DEBs themsel

[2013-12-13 02:15] haebin opened #523 "Feature Request: Time To Live (TTL) setting for edges."
Since C\* and HBase both support TTL on column families, it would be possible to expose its TTL setting via edge label creation property.
With this, you can expire old edges for storage efficiency and query performance.

[2013-12-13 13:10] MartinSeeler opened #524 "No possibility to change retry policy"
It should be possible to change the `FixedRetryBackoffStrategy` to something other. I know it's in your todo, since it`s mentioned [in this line](https://github.com/thinkaurelius/titan/blob/master/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/astyanax/AstyanaxStoreManager.java#L354), but it is annoying to get an error each 1000ms without the possibility to try and cat

[2013-12-14 17:44] puneetar commented on #462
Hi Dalaro,

I am a student and doing a benchmark analysis over titan_cassadra and Neo4j.

I am facing the same Issue #462  in titan-server-0.4.1.
I am using ubuntu 12.04 LTS

pld4@pld4-virtual-machine:~/titan-server-0.4.1$ sudo ./bin/titan.sh -c cassandra-es start
Starting Cassandra...
Started Cassandra.  Thrift service is alive.
Forking Titan + Rexster...
Forked Titan + Rexster.
Rexster may need

[2013-12-14 21:59] puneetar commented on #462
Apologies Dalaro, it is not at all related to issue #462.

I found the problem and the solution for it.

The titan.sh script tries to use "jps" which was not available in the default path i.e. /usr/bin/
Actually I installed sun-jdk7_45, so it was installed in usr/lib/jvm. Therefore the titan script was not able to find it.

So did the following fix in titan.sh:
ORIGINAL:
 local p=`jps -l | grep "$

[2013-12-16 15:51] spmallette opened #525 "More Informative toString for Types"
Doing a `toString` on a types gives you a vertex `toString` which makes sense because types are defined as vertices:

[code]

It would be nicer if Titan would return more meaningful information there about the type itself.

[2013-12-16 16:08] okram commented on #525
I concur. To extend, I think that we should blind people to the fact that these are "vertices" (RDF schema style) and simply provide a TitanType.toString() that is cool as Stephen recommends.

On Dec 16, 2013, at 8:51 AM, stephen mallette notifications@github.com wrote:

[2013-12-17 10:02] ghost opened #526 "Titan on HDP2, HBase 0.96"
Hi, I'm developing a solution on the Hortonworks Data Platform. This issue is about Titan-HBase. It seems like the existing repo only supports HBase 0.94. There are some API changes in 0.96, which is shipped with the Hortonworks HDP2 GA. Here's the error that it will currently produce:

[code]

It doesn't seem like it's much more than that that they've restructured the packages in regard to the us

[2013-12-17 14:49] dalaro commented on #510
I merged your associated PR (#513) into master.  This part of gremlin.sh looks needlessly byzantine... it seems like the loop and eval block could be replaced with a couple of conditional calls to the `shift` builtin.  Still, your fix looks correct and in testing seems to handle both arguments with internal spaces and positional arguments greater than $9.  Thanks.

[2013-12-17 14:49] #510 closed, assigned to dalaro

[2013-12-17 15:56] dalaro opened #527 "Propagate ID renewer thread exceptions to the client"
When StandardIDPool's IDBlockThread throws an uncaught exception, it appears only on stdout/stderr of the enclosing process.  It is not programatically visible to clients blocked on the failed ID allocation attempt.  The client sees only that the renewer thread didn't succeed inside the timeout (60 s) without information from any exceptions the renewer may have thrown.

Consider refactoring IDBloc

[2013-12-17 16:13] dalaro opened #528 "Support pre-splitting HBase tables with IDs as rowkeys"
This would avoid some region split churn during HBase bulk loads.  This can be done manually with an intimate understanding of both Titan and HBase, but let's see if we can reasonably support or automate it.  Implementation notes:
- HBase creates tables with just one region by default: http://hbase.apache.org/book/perf.writing.html#precreate.regions
- configuring filesize threshold that triggers a

[2013-12-17 16:18] dalaro opened #529 "Fix short-cf-names regression"
I disabled short-cf-names by default in titan05's HBaseStoreManager when I ran into a regression in the process of debugging an orthogonal issue.  Some part of graphdb was reading the short name and attempting to open a diskstorage DB using the short name instead of the long equivalent.  Locate the root cause, fix it in both master and titan05, and then reenable short-cf-names under HBase by defau

[2013-12-17 16:20] dalaro opened #530 "Change ID renewer thread backoff behavior"
Make slow ID allocations sleep for a bounded exponential backoff between successful writes that were too slow to satisfy the ID allocation protocol.  These retries currently proceed with no backoff (only write exceptions trigger backoff) and, after 20 retries, the renewer background thread dies by throwing an uncaught exception.  The committing thread eventually times out in StandardIDPool.waitFor

[2013-12-17 21:02] mbroecheler commented on #526
Thanks, can you turn your changes into a pull request, please?

On Tue, Dec 17, 2013 at 2:02 AM, tommyskg notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-12-18 02:34] tsecheran commented on #510
Thanks for the merging the fix.

[2013-12-18 06:14] a2prn opened #531 "Facing problem connecting titan-all-0.3.2 with Hbase-0.96.0-hadoop2."
Hi All,

[code]

conf = new BaseConfiguration()
conf.setProperty("storage.backend","hbase")
conf.setProperty("storage.hostname","127.0.0.1")
conf.setProperty("storage.port","2181")
conf.setProperty("storage.tablename","titan")
g = TitanFactory.open(conf)

After running last command I have faced below error:

java.lang.IllegalArgumentException: Not a host:port pair: PBUF

hadoop??????(
at org.apach

[2013-12-18 15:53] okram commented on #531
Please see: https://github.com/thinkaurelius/titan/wiki/Version-Compatibility

[2013-12-18 15:53] #531 closed, assigned to nobody

[2013-12-18 20:46] anvie commented on #500
+1
I'm using 0.4.2

[2013-12-19 01:09] mbroecheler commented on #307
So, after more careful investigation, I wrote a new comparator utility in Titan that correctly compares numbers. I think this issue ultimately boiled down to the fact that Long.compareTo(Integer) throws an exception which makes little sense to me, but since this is in java core, I had to replace how we handle comparisons in Titan.

Now, Titan should be less strict about exact type matches when it

[2013-12-19 01:18] mbroecheler commented on #396
Actually, this won't work: If the buffer size in Titan is configured to be relatively small, it is conceivable that a relation R is being deleted at time point T, then immediately flushed because the buffer is full, then the remaining additions are written including the relation that overwrites R which is also flushed at the same time T (due to small buffer size or because the local machine is rea

[2013-12-19 01:18] #396 closed, assigned to mbroecheler

[2013-12-19 01:20] mbroecheler commented on #506
Everything seems to be good on the documentation side. I think this has to do with downloading the wrong distribution or having conflicting versions of Lucene on the classpath. Hence, this is really a duplicate of #514 and related issues.

[2013-12-19 01:20] #506 closed, assigned to dalaro

[2013-12-19 01:20] mbroecheler commented on #508
Closed when merged #512

[2013-12-19 01:20] #508 closed, assigned to xedin

[2013-12-19 01:28] mbroecheler commented on #497
This method was really just meant for internal use in unit testing but due to its un-safe nature it was replaced in the unit tests but the method itself never removed.

If you need to wipe clean an entire graph, follow the example in the unit tests. This will not be available through the graph itself since it requires that all graph instances be should down. Hence, this is an outside operation.

I

[2013-12-19 01:30] #497 closed, assigned to mbroecheler

[2013-12-19 01:30] dalaro opened #533 "Reflect "metrics.enabled" config key metrics docs"
This is partially implemented in the config branch already.  Change metrics.enable-basic-metrics to just "metrics.enabled" and modify the wikidocs accordingly.

[2013-12-19 01:50] #503 closed, assigned to nobody

[2013-12-19 03:12] mbroecheler commented on #507
The configuration option is called:
<code>
ignore-unknown-index-key=true
</code>
but will likely change in Titan 0.5 since the configuration system is being refactored for that release.

[2013-12-19 03:47] #524 closed, assigned to dalaro

[2013-12-19 03:48] dalaro commented on #524
There's confusing terminology here.  Astyanax distinguishes between RetryPolicy and RetryBackoffStrategy.  They sound and look similar, but they are separate interfaces without any inheritance relationship and they have different functions.

RetryPolicy is used for retrying operations (e.g. get_slice).  This is already configurable in the Titan Astyanax manager.

The source line you linked instant

[2013-12-19 04:07] mbroecheler opened #534 "titan.sh issue on OS X"
uname: illegal option -- o
usage: uname [-amnprsv]

[2013-12-19 04:15] mbroecheler opened #535 "OneToOne edges on Hbase"
[code]

[2013-12-19 04:25] dalaro opened #536 "Forward-compatibility with Astyanax RetryPolicy constructors"
https://groups.google.com/forum/#!topic/aureliusgraphs/YmS-ovoOQHg

BoundedExponentialBackoff (and maybe others?) have undergone constructor signature changes since 1.56.37 that break reflective instantiation of RetryPolicy in AstyanaxStoreManager.  Also consider potential mirror breakage for RetryBackoffStrategy implementations.

[2013-12-19 09:04] MartinSeeler commented on #524
I will give it a try! Thanks for the quick fix :thumbsup:

[2013-12-19 16:46] TimLudwinski opened #537 "Integrate RPM into build"
I've built an RPM for titan.  This is tested to work in CentOS 6.5.

https://github.com/TimLudwinski/titan-rpmbuild

It would be nice if you guys integrated this into your repo and maintained this.

[2013-12-20 00:24] mbroecheler opened #538 "Improve titan.sh script"
Change 1: (jps was not available at /usr/bin as I installed sun jdk using tar)
local p=`${JAVA_HOME}/bin/jps -l | grep "$2" | awk '{print $1}'`

Change 2: (solution to the exception at the beginning of this thread)
stop() {
    kill_class 'Titan + Rexster' com.tinkerpop.rexster.Application
    sleep 60
    kill_class Cassandra org.apache.cassandra.service.CassandraDaemon
}

[2013-12-20 01:00] dalaro commented on #501
This test has its own tiny project now:

https://github.com/dalaro/titan-add-vertex-test

Observations:
- I reproduced this error every time I ran the test against titan-bdb using default settings
- I never produced the error against titan-cassandra (135 attempts)
- Changing from BDB version 5.0.73 to 5.0.97 had no effect
- Changing from default isolation (repeatable read) to serializable _did_ ha

[2013-12-20 08:48] mbroecheler commented on #500
This was a tricky and non-obivous one. Thanks for the bug report.

[2013-12-20 09:35] #307 closed, assigned to mbroecheler

[2013-12-20 09:35] #498 closed, assigned to mbroecheler

[2013-12-20 09:35] #499 closed, assigned to mbroecheler

[2013-12-20 09:35] #500 closed, assigned to mbroecheler

[2013-12-20 09:35] #505 closed, assigned to mbroecheler

[2013-12-20 09:35] #507 closed, assigned to mbroecheler

[2013-12-20 09:35] #525 closed, assigned to mbroecheler

[2013-12-20 09:35] #535 closed, assigned to mbroecheler

[2013-12-20 20:33] ghost commented on #526
I modified the 0.5 branch corresponding to this ticket. It's probably a little rough in the edges and breaks compability with the current HBase 0.94.

Edit: And changed the versions to run on the HDP2 GA, may be your roadmap on Hadoop 2 is a little different than mine. Anyways, this one works on YARN.

[2013-12-21 00:39] mbroecheler opened #540 "Automatic script to convert configuration to texttile"
based on the TITAN_NS namespace in the configuration

[2013-12-21 00:41] mbroecheler opened #541 "Consider using BulkProcessor instead of BulkRequest for ES"
see the following discussion:
https://groups.google.com/forum/#!searchin/aureliusgraphs/Titan$20search$20improvements/aureliusgraphs/VGv-RJwt8zI/-_wjvztv18cJ

[2013-12-22 09:33] eyal33 opened #542 "titan 0.3.2 - cannot remove titan key - "TitanType""

[2013-12-22 09:41] eyal33 opened #543 "titan 0.3.2 - cannot remove titan key - "Cannot remove vertex since it is still connected""
I am creating a titan key using (using cassandra 2.0.2 & titan 0.3.2):

TitanTransaction tx = graph.newTransaction();
TitanType titanType = tx.makeType().name("mytype3").dataType(Integer.class)
    .group(TypeGroup.DEFAULT_GROUP).unique(Direction.OUT).makePropertyKey();
tx.commit();

When I am trying to remove it I am getting the error :
java.lang.IllegalStateException: Cannot remove vertex since

[2013-12-22 12:55] dkuppitz commented on #543
Types can currently not be changed/removed. See: [Titan Limitations](https://github.com/thinkaurelius/titan/wiki/Titan-Limitations#types-can-not-be-changed-once-created)
Please use our [mailing list](https://groups.google.com/forum/?pli=1#!forum/aureliusgraphs) for questions.

[2013-12-22 12:55] #543 closed, assigned to nobody

[2013-12-22 12:57] dkuppitz commented on #542
Answered in #543.

[2013-12-22 12:57] #542 closed, assigned to nobody

[2013-12-22 13:14] eyal33 commented on #543
Thanks.
I suggest to add the word remove to the limitation.

Regards,
Eyal
בתאריך 22 בדצמ 2013 14:56, מאת "Daniel Kuppitz" notifications@github.com:

[2013-12-22 23:42] ghost commented on #526
Upon further testing, it seems like there may be more issues to iron out. Perhaps someone has a quick fix for it?

[code]

WARN  com.thinkaurelius.titan.diskstorage.locking.consistentkey.ConsistentKeyLocker  - Discarded expired claim on KeyColumn [k=0x0-0-0-0-0-3-169-144, c=0x40] with timestamp 1387754890110011238
WARN  com.thinkaurelius.titan.diskstorage.locking.consistentkey.ConsistentKeyLocker

[2013-12-23 15:12] shaie opened #544 "StandardIDPool log formatting issue"
StandardIDPool, line 94, has this logging statement:

[code]

This results in messages like:

[code]

I think it should be either

[code]

Or, you can keep the current format but call Arrays.toString(new long[] {nextID, currentMaxID}). I think it's quite simple, so I didn't fork and created a pull request. If however you prefer to get issues w/ pull requests, let me know and I'll do it.

[2013-12-23 16:16] ghost commented on #526
Updated pull request to handle the issue.

[2013-12-23 16:23] dalaro opened #545 "Automate testing for Metrics"
Test that Titan records an expected set of metrics under the simplest possible metrics configuration (no transaction-specific metrics prefixes and no fancy reporters).  This test doesn't even consider whether reporting is working correctly.  It interrogates MetricRegistry directly to ask it what its values are.  It might be implemented as a custom reporter, though.

Once this test exists, we shoul

[2013-12-23 20:25] #544 closed, assigned to dalaro

[2013-12-23 20:54] shaie commented on #544
Thanks Dan!

[2013-12-23 21:32] dalaro commented on #485
The ExpirationStoreCache part of this issue is 2cd3aed74079cc5b5206e2c387b2cfcde5dbb4e2

[2013-12-23 21:32] #485 closed, assigned to dalaro

[2013-12-23 21:42] dalaro commented on #538
Regarding Change 2.  Hardcoded sleep times in titan.sh that mask racy operations will inevitably cause problems (for past experience, see first bullet in #463).

The suggestion comes from [an aureliusgraphs posting](https://groups.google.com/d/msg/aureliusgraphs/bviB6E5TZ-A/-ASMm_AYppQJ) where the context explains that a sleep was necessary to let Rexster complete graph shutdown before killing Cas

[2013-12-23 21:42] #538 closed, assigned to dalaro

[2013-12-23 22:38] dalaro commented on #402
1e0a628 is a QueryExecutor wrapper that measures time spent in and call/exception counts on all of the interface methods.  The graph and vertex query executors are separately wrapped when metrics are enabled.  These metrics appear by default in the namespaces com.thinkaurelius.titan.query.{graph,vertex}.*, though they honor a transaction-specific metrics name prefix if one is set.  The wrapper doe

[2013-12-23 22:38] #402 closed, assigned to dalaro

[2013-12-23 22:39] dalaro commented on #534
This is theoretically fixed.  I haven't tested it on OS X yet, though.

[2013-12-25 17:58] sirinath opened #546 "Akiban Persistit Link Broken"
The link to above is broken in: http://thinkaurelius.github.io/titan/

[2013-12-26 20:02] nathanlws commented on #546
I believe it can now be found at https://github.com/pbeaman/persistit

[2013-12-27 13:01] a2prn commented on #531
when shall I expect it to be implemented for hbase-0.96.0-hadoop2?

[2014-01-03 03:45] skavulya opened #547 "Warning message when serializing floats and doubles"
Serializing some floats and doubles in Titan 0.4.1 triggers the following warning even though the numbers being serialized do not have a high precision:

"WARN  com.thinkaurelius.titan.graphdb.database.serialize.attribute.DoubleSerializer  - Truncated decimals of double value: 0.12574. Use FullDouble for full precision."

Environment: EC2 instance cc2.8xlarge, Red Hat Enterprise Linux Server relea

[2014-01-04 04:56] hzlijianjun opened #548 "Unrecognized VM option 'UseCondCardMark' problem and solution"
Error at launching by: bin/titan.sh -c cassandra-es start
Unrecognized VM option 'UseCondCardMark'
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

My env:
OS:  Linux version 2.6.32-220.el6.i686 (mockbuild@c6b18n3.bsys.dev.centos.org) (gcc version 4.4.6 20110731 (Red Hat 4.4.6-3) (GCC) ) #1 SMP Tue Dec 6 16:15:40 GMT 2011
TITAN: titan-ser

[2014-01-05 03:42] a2prn commented on #526
I have installed hadoop-2.2.0.2.0.6.0-76 and hbase-0.96.0.2.0.6.0-76-hadoop2 of HDP2 on solaris 10 and "titan-master" from github. Made changes in HBaseStoreManager.java and titan-hbase/pom.xml and then I run:                           "mvn clean install -Dhadoop.profile=2.0 -Dhadoop.version=2.2.0 -DskipTests=true"

It is completed successfully.

when I am trying to run titan-master using ./gremli

[2014-01-07 12:11] hzlijianjun commented on #548
This problem occurs in  titan-server-0.4.1 too. that same solution for it.

[2014-01-07 12:16] hzlijianjun opened #549 "the script "g.makeLabel("about").sortKey(seq).sortOrder(Order.DESC).make();" fail in titan-server-0.4.0, success in titan-server-0.4.1."
execute following script with rexster-console, fail in titan-server-0.4.0
seq = g.makeKey("seq").dataType(Integer.class).indexed(Vertex.class).indexed(Edge.class).make();
g.makeLabel("about").sortKey(seq).sortOrder(Order.DESC).make();

 luckily success in titan-server-0.4.1.

[2014-01-07 19:46] mbroecheler opened #550 "Consolidate argument names in titan-core"
e.g.

[code]

..stuff like that (though not necessarily that method as that is a TInkerPop method and uses key/value). As opposed to:

[code]

[2014-01-07 21:20] mbroecheler commented on #526
Maybe the changes you made require that the hostname have a ":port"
appendix?

On Sat, Jan 4, 2014 at 7:42 PM, a2prn notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-01-08 05:28] mbroecheler opened #551 "Move other vertex id into addressable relation id"
and use VertexQuery.adjancent to retrieve the edge for performance reasons.

[2014-01-08 06:12] mbroecheler commented on #549
yes, this is an issue we fixed for 0.4.1

[2014-01-08 06:12] #549 closed, assigned to nobody

[2014-01-09 03:07] mbroecheler opened #552 "Have local mode flag take priority in ES"
Yes, I can see your exercise config would work, however, what I was referring was for the very first embedded ES (which your 2nd ES uses as master to form a dummy ES cluster in a single physical node). The problem is that if you have both the two below in your config (as I did a g = TitanFactory.open('conf/titan-hbase-es.properties') in the gremlin shell)

storage.search.index.hostname = 127.0.0.1

[2014-01-09 03:29] pellyadolfo commented on #552
https://groups.google.com/forum/?hl=en-GB#!topic/aureliusgraphs/qIkVs5TaffY

[2014-01-09 03:36] mbroecheler opened #553 "Make Titan more robust against partial persistence failure"
1) If property/edge is persisted to the storage backend but not the indexing backend, subsequent updates should not fail due to missing document exception

[2014-01-09 05:50] a2prn commented on #526
I have tried giving hostname:port pair. The ERROR I received is:

g = TitanFactory.open(conf)
Not a host:port pair: PBUF

[code]

Display stack trace? [yN] Y
java.lang.IllegalArgumentException: Not a host:port pair: PBUF

[code]

[2014-01-12 07:52] shaie opened #554 "Lucene configuration Wiki page issues"
The Lucene configuration [Wiki page](https://github.com/thinkaurelius/titan/wiki/Using-Lucene) has some minor issues:
- "Elasticsearch embedded configuration" should be "Lucene..."
- The configuration options should list "lucene" (not elasticsearch).

[2014-01-12 14:22] ghost commented on #526
@a2prn That's pretty strange if you followed my instructions. The error you get was the same as I found being the symptom for using the 0.94 HBase libraries.

[2014-01-13 22:20] dsiegel opened #555 "Advanced Eventual Consistency Options"
I'd like to use Titan with a Cassandra cluster distributed across multiple data centers. I must use CL_LOCAL_QUORUM for reads/writes. That means I can't use locking anywhere. As much as possible I want to use Cassandra’s write timestamps to resolve consistency issues.

There are three changes to Titan that I am interested in:
1. a “single” option for edges.
2. read access to the Cassandra timestam

[2014-01-14 17:47] erickt opened #556 "Need a public API to copy indices from one graph to another"
Right now there is no way (that I know of) to officially copy indices from one graph to another, which limits the ability to write an automated way to reindex or migrate graphs from one backend to another. The only way officially would be to save all the index definitions off in a groovy file and reapply them on the another graph.

There is, however, a way to do this using some internal APIs:

[co

[2014-01-15 07:21] mbroecheler commented on #546
@nathanlws Do you know what the status of the project is?

[2014-01-15 07:23] mbroecheler commented on #554
Thanks!

[2014-01-15 07:23] #554 closed, assigned to nobody

[2014-01-15 07:24] mbroecheler commented on #555
Great timing. We just put out an RFC that should address some of your comments:
https://groups.google.com/forum/#!topic/aureliusgraphs/MKpsXCp2VXU
Please comment.

[2014-01-15 14:58] nathanlws commented on #546
I can't speak to any plans but I do know the maintainer still has interest in it.

@pbeaman, can you weigh in any further at this point?

[2014-01-15 22:45] mbroecheler opened #557 "Use "upsert" in Indexing Backends"
If property/edge is persisted to the storage backend but not the indexing backend, subsequent updates should not fail due to missing document exception.

Related to #553.

[2014-01-15 22:55] mbroecheler commented on #476
Any news on this issue @dirkweissenborn ? Could it be the same as: #501

[2014-01-15 23:00] dirkweissenborn commented on #476
No. Did not encounter it again. But I am still using my workaround, which
prevents that from happening.
On Jan 15, 2014 11:55 PM, "Matthias Broecheler" notifications@github.com
wrote:

[2014-01-16 06:24] mbroecheler commented on #490
For consideration:
- method writeString in Kryo: https://github.com/EsotericSoftware/kryo/blob/master/src/com/esotericsoftware/kryo/io/Output.java
- Compressing short ASCII strings: https://github.com/icedrake/jsmaz/blob/master/src/main/java/com/github/icedrake/jsmaz/Smaz.java
- Compressing longer strings with lz4: https://github.com/jpountz/lz4-java

[2014-01-16 06:46] #547 closed, assigned to mbroecheler

[2014-01-16 07:19] a2prn opened #558 "Facing "Could not initialize backend" Error on titan-0.3.2 while connecting to Hbase-0.94.1 on Ubuntu-12.0.4 Desktop."
Hi All,

[code]

conf = new BaseConfiguration()
conf.setProperty("storage.backend","hbase")
conf.setProperty("storage.hostname","127.0.0.1")
conf.setProperty("storage.port","2181")
conf.setProperty("storage.tablename","titan")
g = TitanFactory.open(conf)

After running last command I have faced below error:

INFO zookeeper.ClientCnxn: Socket connection established to localhost/127.0.0.1:2181, init

[2014-01-16 12:20] shaie opened #559 "HBaseStoreManager overrides default HBase properties"
According to what I read on https://github.com/thinkaurelius/titan/wiki/Using-HBase, we should specify storage.hbase-config only if we wish to override or explicitly set some hbase properties. My HBase cluster configuration specifies "hbase.zookeeper.quorum" and "hbase.zookeeper.property.clientPort" specifically (in hbase-site.xml), yet I noticed that if I don't include "storage.hbase-config.*" in

[2014-01-16 15:05] shaie commented on #559
Actually, I think it's wrong that Titan sets these properties to any value itself. For instance, if my cluster has 3 machines: hb1, hb2 and zk1 -- One ZK server, two HBase servers, ZK is external to HBase, then it doesn't even make sense for Titan to set the zookeeper.quorum to storage.host (which will be the HBase servers).

So I'm now more convinced that Titan should only pass through storage.hb

[2014-01-16 17:05] dsiegel commented on #555
Thanks. The RFC looks very promising. However, it doesn't mention 3 in my list. Are eventually consistent uniqueness constraints just a bridge too far?

[2014-01-16 19:22] mbroecheler commented on #555
We are considering surfacing the timestamp of edges / properties as a
special property. However, this might happen in a later release. Will keep
you posted.

On Thu, Jan 16, 2014 at 9:05 AM, David Siegel notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-01-17 06:27] mbroecheler commented on #558
In you configuration, you are telling Titan to connect to HBase on
localhost (given your hostname) - hence you need to ensure that HBase is
running on localhost and accepting connections.

On Wed, Jan 15, 2014 at 11:19 PM, a2prn notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-01-17 15:47] dalaro opened #560 "Pad HBase partition bounds when necessary"
remove the @Ignore annotation on the related test in HBaseIDAllocationTest, then ensure that local key partition bounds should be padded to at least 4 byte length for compatibility with core

[2014-01-17 21:15] dalaro commented on #433
Now that I've gotten around to this, I can no longer reproduce it.  I commented titan-cassandra's JNA dependency in titan05 and ran `mvn clean install` in titan-cassandra twice.  It succeeded both times.  target/test.log contains messages like these:

[code]

[2014-01-17 21:15] #433 closed, assigned to dalaro

[2014-01-20 14:54] a2prn commented on #526
I have added the libraries that are required for hbase-0.96.0.2.0.6.0-76-hadoop2 and reconfigure with changes in HBaseStoreManager.java and titan-hbase/pom.xml and then I run: "mvn clean install -Dhadoop.profile=2.0 -Dhadoop.version=2.2.0 -DskipTests=true"

It is completed successfully.

when I am trying to run titan-master using ./gremlin.sh.

gremlin> conf = new BaseConfiguration();
==>org.apach

[2014-01-21 00:28] mbroecheler opened #561 "Document new configuration code and wiki"

[2014-01-21 03:39] mbroecheler opened #562 "Clean up ByteBufferUtil"
remove unneeded methods and consolidates others around StaticArrayBuffer

[2014-01-21 05:09] a2prn commented on #558
Yes. In my configuration I am running HBase on localhost.

[2014-01-21 06:41] adkatrit commented on #435
:thumbsup:

[2014-01-22 14:59] mauropirrone opened #563 "storage.tablename not documented"
This config property is not documented in this page.

https://github.com/thinkaurelius/titan/wiki/Graph-Configuration

[2014-01-22 22:54] colleen-love opened #564 "Titan Dependency Breaks Web-Application"
I've a simple webapp that builds using maven and deploys on a tomcat server - this webapp only includes struts, tiles, and log4j dependencies. Adding the titan dependency to this webapp breaks my maven builds and causes the following tomcat errors:

[code]

This error occurs when I use the maven-tomcat plugin.

Additionally, I am able to use titan without packaging and deploying from within my IDE

[2014-01-23 03:18] a2prn commented on #526
Just wondering, if their is any update.

[2014-01-23 08:52] ghost commented on #526
@a2prn,

this seems like it's something else unrelated to this ticket. I would guess configuration issues.

[2014-01-23 09:14] dalaro commented on #517
I reproduced the gibberish rate_unit problem locally on Metrics 3.0.0-BETA3 and checked that upgrading to 3.0.1 fixed it.  The release notes for 3.0.1 look innocuous, so I'm pushing this to master and titan05.

master: a68dce2d22e5c7e2fc307a9e100829c736a45a43
titan05: f56c54c85ee5b465be00afce241de6c0742cce8a

[2014-01-23 09:14] #517 closed, assigned to dalaro

[2014-01-24 09:20] mbroecheler commented on #563
This option only applies to Hbase, hence its documented here:
https://github.com/thinkaurelius/titan/wiki/Using-HBase

On Wed, Jan 22, 2014 at 6:59 AM, Mauro Pirrone notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-01-24 18:53] dkuppitz opened #565 "Improve exception message for missing type definitions"
[code]

This message should contain the name of  the missing key. I never had a problem with this exception in Titan, but if I get it in Faunus while doing a bulk load, I always need to waste too much time to find the missing type definition.

[2014-01-24 21:02] dalaro commented on #564
I think one of the servlet-api jars in Titan's dependency tree is conflicting with Tomcat's own.

Assuming your project depends on titan-all, please try excluding Jetty's servlet-api jar:

[code]

and if that has no effect, try additionally excluding the javax.servlet equivalent pulled in by several deps:

[code]

Titan's deps want javax.servlet:servlet-api version 2.5, but it's likely your app wa

[2014-01-25 00:52] dalaro commented on #448
I see a hang on quit without the transaction warning when opening an empty graph:

[code]

When I take a thread dump from the VM, I see about a half-dozen non-daemon threads waiting in Persistit code.

I'm reluctant to try to force the daemon bit on these threads.

Maybe we could change the behavior of quit.  Start a daemon thread, pass gremlin session from main to daemon thread, let the main thre

[2014-01-25 01:08] dalaro opened #566 "Create automated test of titan.sh"
Use existing expect-based tooling developed to test gremlin.sh automatically during Maven's verify phase in titan-dist

[2014-01-25 12:02] spmallette commented on #566
Could you provide a pointer to the code where you do the testing of gremlin.sh?

[2014-01-26 13:43] shaie opened #567 "Allow configuration of SimpleVertexIDBlockSizer through MapReduce jobs"
You can read the full discussion here: https://groups.google.com/forum/#!topic/aureliusgraphs/FHl8w8RCars. The idea is to allow configuring SimpleVertexIDBlockSize to not over-allocate ID blocks when run from MapReduce. This can be done via an extra property "ids.block-size-fixed" or something similar which MR jobs can set, in which case SimpleVertexIDBlockSize will allocate "ids.block-size" IDs f

[2014-01-27 03:39] colleen-love commented on #564
Thanks for looking into this, this solution worked for me.

[2014-01-27 04:30] mbroecheler commented on #558
Mmh, then there is something wrong with your local HBase instance or the
configuration because Titan cannot find the running instance to connect
to... Did you change anything for the local HBase? Ports or such?

On Mon, Jan 20, 2014 at 9:09 PM, a2prn notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-01-28 21:41] zazzcode opened #568 "Provide indexed search integration with ElastiSearch for geo points within a circle"
ElastiSearch provides support to perform an indexed search for elements that are located within a given radius of a geo-point.

Since this is already built into ElastiSearch, please provide support within Titan to search (using an index) for vertices having a geo-point property that are within a given radius of a geo-point.   Currently (according to the Titan documentation) one can only use an ind

[2014-01-28 21:51] zazzcode opened #569 "Remove many-to-one constraint on unidirected edges off of edges"
We would like the ability to create multiple unidirected edges with the same label off of a single edge.   We are using this pattern to model multiple graph-spaces within a single large graph.

Many-to-many carnality for unidirected edges is allowed from vertices and we feel allowing a many-to-many carnality for unidirected edges off of edges would also be more consistent and increase modeling fle

[2014-01-29 07:41] mbroecheler opened #570 "Refactor how metrics is integrated into Titan"
so that we
- no longer have to check if the transaction level metrics prefix is null with every access to metrics
- have some utility methods for StandardTitanGraph level metrics access

[2014-01-30 03:48] mbroecheler opened #571 "Investigate use of HashFunction for HashKCVS and KCVSLog"
pick a most effective hash function implementation and use it throughout. Murmur?

[2014-01-31 02:06] erickt opened #572 "GeoshapeHandler should work with the type 'List'"
`GeoshapeHandler` can parse a `Geoshape` out from a couple types: `float[]`, `double[]`, and a `String with the format`lat,long`or`lat;long`. Unfortunately it cannot handle parsing a`List`type. Adding support for this would allow the`GraphSONReader` to take this:

[code]

And treat the `"location"` field as a `Geoshape`.
 a `double

[2014-01-31 02:13] erickt opened #573 "Document Geoshape in the wiki"
While there are a couple references to `Geoshape` in the wiki, there is no real documentation of how to use it, or the fact that arrays and strings can be converted into a geoshape. It would be nice if there was an explicit section in the [Type Definition](https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview) page that goes into details about it and the rest of the types that Titan

[2014-01-31 02:23] erickt opened #574 "Consider GeoshapeHandler being able to parse a GeoJSON"
[GeoJSON](http://geojson.org/) is a standardized format that is used by a variety of projects, like MongoDB, PostGIS, and Twitter. I don't think it'll be that hard to add support for it in Titan. The approach I see is that the `GeoshapeHandler.convert` could be modified to check if it was passed a `Map<String, Object>` and check if it conforms to the GeoJSON spec.

If we do go this route, I would

[2014-01-31 04:59] shaie opened #575 "Add API to get multiple vertices in one call"
A spinoff from here: https://groups.google.com/forum/#!topic/aureliusgraphs/agWHzWY05z0. Would be nice if Titan offered API like TitanMultiVertexQuery to get a group of vertices (by their IDs) in one call, instead of calling g.getVertex() one by one. Something like g.getVertices(id1, id2, id3...). It can either return a List<TitanVertex> in the same order the IDs were given, or return a Map<ID,Tit

[2014-01-31 06:41] tyoc213 commented on #573
Adding to fixes on wiki
- https://github.com/thinkaurelius/titan/wiki/Graph-Configuration#wiki-storage-configuration Doesn't include cassandrathrift (I don't know if because deprecated or it is missing in the list).
- https://github.com/thinkaurelius/titan/wiki/Using-Persistit first link is broken points to https://github.com/pdbeaman/persistit instead of https://github.com/pbeaman/persistit
- htt

[2014-01-31 07:41] dalaro commented on #71
cc2b3a5bf6edc5599a506f9eda5e01018466b9a6 on titan05 adds a `storage.isolation-level` option that accepts the values READ_UNCOMMITTED, READ_COMMITTED, REPEATABLE_READ, and SERIALIZABLE.  The BDB JE public API does not seem to have an enum for isolation levels, instead exposing them only through a series of methods that take a boolean parameter, so I made an enum in Titan's BDB JE adapter whose lite

[2014-01-31 07:43] dalaro opened #576 "Accomodate BDB JE HA"
@mbroecheler in an issue about BDB JE isolation level configuration: ["Also accomodate high availability setups?"](https://github.com/thinkaurelius/titan/issues/71#issuecomment-20211051)

[2014-01-31 07:44] dalaro commented on #71
Split HA configuration into a new issue #576

[2014-01-31 07:44] #71 closed, assigned to dalaro

[2014-01-31 07:44] dalaro commented on #293
cc2b3a5bf6edc5599a506f9eda5e01018466b9a6 on titan05 adds a `storage.lock-mode` option that accepts any of the BDB LockMode enum values (DEFAULT, READ_UNCOMMITTED, READ_COMMITTED, RMW).

Similar to #71, the option can be set two ways:

In the transaction configuration, e.g. `g.buildTransaction().setCustomOption("storage.lock-mode", "RMW").start()`.

In the graph configuration, e.g. `storage.lock-mo

[2014-01-31 07:44] #293 closed, assigned to dalaro

[2014-01-31 08:06] dalaro commented on #324
I implemented an optional background service that logs and deletes expired locks.

This is subject to refactoring, but here's how it works now.  It's backed by an executor with zero idle threads, a maximum of one background thread, and a five second thread keepalive.  When ConsistentKeyLockTransaction discovers an expired lock, it calls LockCleanerService.clean(KeyColumn, long cutoffTimestamp, Sto

[2014-01-31 08:17] dalaro commented on #529
Fixed regression and reenabled short-cf-names by default in b533a2d18df9a90aa4913d542b7f21b8d1d7a08b

[2014-01-31 08:17] #529 closed, assigned to dalaro

[2014-01-31 08:21] dalaro commented on #483
From Pavel's comment I think the title of this ticket should be "...times to microseconds".  Yeah?

I'm aware of Guava Ticker and considering replacing TimestampProvider with it, but I don't like that it exposes systemTicker().

[2014-01-31 08:29] dalaro commented on #445
Replaced last use of RandomPartitioner with Murmur3Partitioner in df835276d38af0ab2f1e06e4c38a24f9cad15730

[code]

[2014-01-31 08:29] #445 closed, assigned to dalaro

[2014-01-31 08:36] dalaro commented on #514
Somewhat unfortunate was an understatement.  But we've done some early spring cleaning:  c71ef578aac27f074fa8600e276258c4d57b40c6

I deleted all of the `titan-dist-*` modules and retained only a singe `titan-dist` module.  This produces one zipfile/tarball, `titan-$VERSION.zip/.tar.bz2`.  Its contents are the contents of the old titan-server distros.

Combining poms, reshuffling assembly descripto

[2014-01-31 08:36] #514 closed, assigned to dalaro

[2014-01-31 08:39] dalaro commented on #483
Actually, I'm definitely not going to extend Ticker now that I see the javadoc saying it's used only for nanotime and we're moving towards micros or millis.  That's a time unit conversion error waiting to happen.

[2014-01-31 17:34] dalaro commented on #548
The only grep hit for UseCondCardMark in the titan repo is cassandra-env.sh (and the currently unused titan-env.sh).

Cassandra already encountered and fixed it: https://issues.apache.org/jira/browse/CASSANDRA-6190.  Rather than adding `-server`, they omit UseCondCardMark on 32-bit.

This bug only affects 32-bit Oracle 7 VMs, since only server mode is available on 64-bit Oracle 7 (`-client` is acc

[2014-02-01 10:33] ghost opened #577 "Delete Operations Fails Due To Negative Timestamps On HBase 0.96"
When running Titan on HBase 0.96 in the Hortonworks sandbox, specified after #526 - it seems like Titan-HBase serves the HBase API Delete call with negative valued timestamps. According to the HBase documentations these cannot have a negative value, and closer inspection showed that was truly the case.

The row in question can be found in `HBaseStoreManager.java` on line 468, and can be temporary

[2014-02-03 09:50] ghost commented on #577
I've run this in a testbed a couple of days, and it seems to work quite well. According to the docs this is how I've currently changed the code:

[code]

Not entirely sure how this will work out in the long run if the timestamp is invalid.

[2014-02-03 15:04] haebin opened #578 "Connection pool does not work properly under heavy load."
Under heavy load, Titan produces too many TIME_WAIT state sockets.

[2014-02-03 15:18] haebin opened #580 "Needs per transaction read/write consistency level setting."
Needs the option for it.

[2014-02-04 22:28] #563 closed, assigned to nobody

[2014-02-04 22:49] dalaro commented on #564
Thanks for following up.

libthrift 0.7.0 (and other stuff) depends on javax.servlet:servlet-api:jar:2.5:compile.  libthrift 0.9.1's pom seems to have changed the scope to provided.

[2014-02-04 22:49] #564 closed, assigned to dalaro

[2014-02-04 23:01] #324 closed, assigned to dalaro

[2014-02-04 23:03] dalaro commented on #552
Now the ES backend checks local mode prior to hostname.  This is changed and tested by the two referenced commits.

[2014-02-04 23:03] #552 closed, assigned to dalaro

[2014-02-04 23:05] dalaro commented on #548
I reapplied the patch from CASSANDRA-6190 on our copy of cassandra-env.sh (and titan-env.sh).

[2014-02-04 23:05] #548 closed, assigned to dalaro

[2014-02-04 23:26] dalaro commented on #577
Thanks for the report.  I assume this is on titan05 because HBaseStoreManager.java is only 442 lines long in 0.4.2.  Is that correct, and if so, what commit hash are you working from?

As I write this, titan05 HEAD is 837d05077f634cfea64495f0ae1d83f01d715a57.  `delTimestamp` is assigned from `System.currentTimeMillis()` in `mutateMany` and then passed into `convertToCommands` where it is used on t

[2014-02-05 10:19] ghost commented on #577
I were running it on 26aad45 and with HBase 0.96, but did a pull of the latest HEAD before running it again as well. I've seen the errors periodically previously before they became persistent.

[2014-02-05 21:58] dalaro commented on #483
Summary: I added an experimental "timestamps" config option to choose between milliseconds, microseconds, or nanoseconds timestamps throughout the diskstorage layer.  It defaults to microseconds.

Discussion:

I refactored core's existing `TimestampProvider` interface and implemented it in a new `Timestamps` enum with values `MILLI`, `MICRO`, and `NANO`.  This is essentially Titan's supported subs

[2014-02-05 22:00] dalaro commented on #472
1. Implemented as part of #483.  I also updated the delete command timestamps in `clearStorage`.
2. I think we only need waitUntil(putTS) at millisecond resolution.  When I ran the Cassandra test suite with millisecond timestamps, it died with unusual test failures that seemed to be due to overlapping writes with the same timestamps (that don't occur with nanosecond resolution).

[2014-02-05 22:00] #472 closed, assigned to dalaro

[2014-02-06 17:12] dalaro commented on #577
I have a few questions then...

I don't want to assume, so I have to ask: are the system clocks set correctly?

I just noticed that your patch casts long timestamps to ints before passing them to the Delete constructor.  Why?  This conversion won't rollover at millisecond resolution until 2038, but it could cause immediate problems if we switch to microsecond timestamps as considered in #483 and #

[2014-02-06 17:30] dalaro commented on #527
I made my changes in StandardIDPool as small as possible because that code is pretty sensitive.  It now uses a Future and an Executor instead of manually instantiating and starting a thread.  It throws ExecutionExceptions produced by Future.get() up to the client enclosed in a TitanException, so now those finally propagate.

The Future is for a Runnable, not a Callable, and hence is parameterized

[2014-02-06 17:31] ghost commented on #577
It all runs in a sandbox, setup with NTP. So yes.

Re the int casting, I actually don't remember why I set it. I follow your lead on this one.

I would guess an exception is probably a better way to go. I haven't had more time to follow up on this issue, but I'll get back to you when I have.

[2014-02-06 17:32] #527 closed, assigned to dalaro

[2014-02-06 17:33] dalaro commented on #527
Closing this issue and leaving potential Callable integration in StandardIDPool for a future issue, since it doesn't affect exception propagation.

[2014-02-06 17:58] dalaro commented on #566
In titan05, the code lives in these two places:
- titan-dist/src/test/java (integration tests run by failsafe)
- titan-dist/src/test/expect (expect script source)

I looked at https://github.com/cverges/expect4j early on, but I decided to go with the reference expect implementation.  I still develop expect scripts using the command-line interactive prompt, and I didn't want to have to consider pot

[2014-02-06 21:41] dalaro commented on #530
Squinting at this further, I've decided that both the renewer thread and the waiting thread need timeouts.

Calling `Future.cancel(true)` on the renewer alone is unsatisfactory because it's impossible to guarantee that the storage backend resets the thread interruption flag when handling InterruptedException and ClosedByInterruptException.  IOW interruption is not a fail-safe signaling method for

[2014-02-06 22:49] Endellur opened #583 "titan-rexster-0.4.2.jar missing in lib folder for titan-all build"
The instructions on the website to get rexster up and running won't work without it. I downloaded the titan-server package and copied the jar over because I couldn't find it on the website by itself.

[2014-02-06 23:11] dalaro commented on #583
Titan 0.5 is slated to release with only one zipfile containing all the storage backends, index backends, rexster bits, titan.sh, gremlin.sh, etc.  I've already unified the confusing plethora of zipfile options into a single package on the 0.5 development branch.  I recognize that it's really confusing that titan-all-0.4.2.zip is a subset of titan-server-0.4.2.zip, but soon that will be a thing of

[2014-02-06 23:11] #583 closed, assigned to dalaro

[2014-02-07 17:07] dalaro commented on #530
Related commits:
- Refactoring CKIM.getIdBlock to use a timeout: 8b86697e79532204ee556383c64f86ef8e10dfa2 & 931613d63c765b00fe151bf11af60788262b4b43
- Replaced constant backoff with stack variable stepping through 1, 2, 4, 8, 16, 32 \* idApplicationWaitMS, increasing with each write failure: 05c51b03b84ffcea6c59b25b9a3ca6ec3a17d504
- Deleting commented code from the IDAuthority interface: e73fa0da

[2014-02-07 23:51] moczkowski commented on #536
There are more relevant changes in the Astyanax codebase : https://github.com/Netflix/astyanax/pull/465/files which appears to solidify that the API change will be permanent.

[2014-02-08 20:13] #546 closed, assigned to nobody

[2014-02-11 00:17] dkuppitz commented on #403
Looks like this bug just reappeared in 0.4.2:

**Initialize sample graph:**

[code]

**Query:**

[code]

Bug was recognized in this mailing list discussion: [How to update multi-value property?](https://groups.google.com/forum/#!topic/aureliusgraphs/vflHMkHT4Es)

[2014-02-11 06:28] dalaro commented on #483
The default in titan05 is now microseconds both Cassandra and HBase.  These timestamps are computed by System.currentTimeMillis() \* 1000 and so they effectively only have millisecond resolution even though the units are microseconds.  Both the HBase and Cassandra backends block, if necessary, after completing a write until the timestamp changes.  But we could go back to the elaborate function-of-

[2014-02-11 06:28] #483 closed, assigned to dalaro

[2014-02-11 06:38] dalaro opened #584 "Make HBase Compression.Algorithm configurable"
GZIP is currently hard-coded, but Apache and others support compelling alternatives like Snappy and LZ4.

The packagename of Compression.Algorithm changed between 0.96 and 0.94, so the code handling this isn't cleanly source-compatible between versions.  I prepared for this in 09da239f1af114a6f78aabceb053737128c8ddad, which adds 0.94- and 0.96-specific classes with a method that takes a string enu

[2014-02-11 17:18] radzish opened #585 "Inifite loop at com.thinkaurelius.titan.graphdb.query.QueryUtil.processIntersectingRetrievals"
in certain conditions we could have infinite loop here.
if sublimit = 2, then it will never grow:
2^1.5 ~ 2.8, which is then rounded to 2 again.
I suggest to change sublimit to douable

[2014-02-11 23:55] batali opened #586 "Allow specification of host supplier for AstyanaxStoreManager"
Astyanax contexts implement the DISCOVERY_SERVICE type of node discovery using a "host supplier" (an instance of Supplier<List<Host>>) provided in the context builder.  The supplier's get() method is called periodically and the resulting list of available hosts is stored in the context's connection pool.

Titan currently uses the RingDescribeHostSupplier which doesn't work for multi-region Cassand

[2014-02-12 08:12] #584 closed, assigned to dalaro

[2014-02-12 18:01] #530 closed, assigned to dalaro

[2014-02-12 18:08] #534 closed, assigned to dalaro

[2014-02-12 18:09] dalaro commented on #463
That's a good point.  I'm going to move config file restructuring into a separate issue, since this one is starting to get into mission creep.

[2014-02-12 18:10] dalaro opened #587 "Trim config files in zipfile distribution"
Stephen points out obsolete config files shipped in the zip distro:
https://github.com/thinkaurelius/titan/issues/463#issuecomment-28805101

[2014-02-12 18:11] dalaro commented on #463
#587

[2014-02-12 18:11] #463 closed, assigned to dalaro

[2014-02-12 18:12] #471 closed, assigned to mbroecheler

[2014-02-12 18:35] dalaro opened #588 "Investigate resize cost in VertexCache and alternatives"
NonBlockingHashMapLong gets into pathologically costly resize behavior under single-threaded access as the absolute size of the map increases.  Measure and compare to implementation alternatives.

[2014-02-12 18:36] dalaro opened #589 "Ensure ID partitioning is enabled by default for new HBase stores"

[2014-02-14 04:03] mbroecheler opened #590 "Shutdown hook"
Register a shutdown hook to ensure Titan is properly shut down when Gremlin exits.

[2014-02-14 16:20] kevinschumacher commented on #399
Colleagues of mine tackled this solely for ElasticSearch by modifying ElasticSearchIndex.java to support an additional parameter on index creation. This additional parameter gets passed directly to ES. We are able to use it like so:

[code]

This makes ES tokenize on period, space, @ and / instead of its normal tokenizer.

@mbroecheler @dalaro is this something you would consider for a pull reques

[2014-02-14 19:45] mbroecheler commented on #399
This is a good use of the new Parameter arguments for index registration.
If you can put this into a generally usable pull request with test
coverage, we would greatly appreciate it.

On Fri, Feb 14, 2014 at 8:20 AM, kevinschumacher
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-02-14 20:52] dalaro opened #591 "Investigate VertexIDAssignerTest parameters and negative bounds in VertexIDAssigner"
Two of these precondition failures appear in titan-test/target/test.log for 0.4.2 and titan05:

[code]

(line numbers above are from 0.4.2's tag)

[2014-02-15 03:48] dalaro commented on #589
a69c97c62ef5323c11bfa4ae5a604e717332007a changed ID partitioning from a boolean setting to an enum with these three values:
- ENABLED
- DISABLED
- DEFAULT

ENABLED behaves as true used to, DISABLED like false.  The third value, DEFAULT, enables a new behavior.  Under DEFAULT, ID partitioning will be enabled if the underlying store reports `isKeyOrdered() && isDistributed()` via its `StoreFeatures`

[2014-02-15 03:49] #487 closed, assigned to dalaro

[2014-02-15 04:20] dalaro commented on #560
Relevant commits:
- 29db1aa028476b0f19900c981eba565c8bf8c151: rewrote HBase's `getLocalKeyPartition` method
- 874fa65e3ec0d4425f6ebe59fe39c68accb4e105: fixed what appears to be a ID partition upper bound handling bug in core
- 0d7afbd3355f7528654b5d128ba90d5e5f32719b: reenabled ignored method in HBaseIDAllocationTest

[2014-02-15 04:20] #560 closed, assigned to dalaro

[2014-02-15 04:22] dalaro commented on #526
Thank you for working on this and turning it into a pull request.  I'm closing this since I think we hit our objectives via #539.

@a2prn, I'm not sure what the issue was there either, but on current titan05 HEAD, you could try:

[code]

Please open a new issue if that's broken.

[2014-02-15 04:22] #526 closed, assigned to dalaro

[2014-02-15 06:48] RaazTripathi commented on #119
Very helpful post

[2014-02-16 07:05] xedin commented on #590
@dalaro I can take this one if you have more important stuff on your plate.

[2014-02-16 07:06] xedin commented on #588
@dalaro I can take this one if you have more important stuff on your plate.

[2014-02-16 07:06] xedin commented on #586
@dalaro I can take this one if you have more important stuff on your plate.

[2014-02-16 19:05] mbroecheler commented on #590
@xedin @dalaro Great idea. The goal here is to force a proper shutdown of Titan (so that all spawned non-daemon threads get properly shut down) when a user exists the gremlin shell (without g.close()) or hits ctrl-c.

[2014-02-16 19:42] spmallette opened #592 "Support Any Wrapper Graph from newTransaction"
Need to allow `ThreadedTransactionalGraph` to be wrappable as in:

[code]

Currently this throws an exception as in:

[code]

[2014-02-17 06:22] mbroecheler opened #593 "Support different cardinality in Indexing"
Provide support for list and set properties by following:
- using the automatic array type of ES
- http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/docs-update.html (search for array)
- be careful with the script syntax

Requires that the deleted value is made part of the IndexMutation as well.

[2014-02-17 10:28] ghost opened #594 "Latest titan05 Broken On Hortonworks HDP2"
Running on HDP2 sandbox in latest titan05, according to #526, now fails. Creating new ticket as instructed. As far as I can tell it's broken (and working previously with the mods that I did back then in #526).

Can be recreated with Hortonworks sandbox and the following:

[code]

Complains with the following `ERROR org.apache.hadoop.hbase.zookeeper.ZKConfig  - no valid quorum servers found in zoo.

[2014-02-17 12:29] ghost commented on #594
This may be more the source of the error of some reason:

[code]

[2014-02-18 01:38] dalaro commented on #594
The last exception in your comment should have been followed by a "Caused by" exception.  The two lines in the comment don't say very much by themselves.

I can't reproduce this with Apache.  I'm having issues getting HDP2 talking over the network on my Debian machine or hosted in sandbox Virtualbox image.

Is this an existing database?  I changed titan05 to enable HBase partitioning by default (#

[2014-02-18 06:06] ghost commented on #594
Yes, of course I should have added it all, see below. It's already existing - but I've tried it with a physical test cluster as well, and it's the same error there. Also tried dropping the whole database and setting ids.partition=DISABLED in the configuration. Same error occurs.

[code]

[2014-02-18 19:43] dalaro commented on #589
53760d0fd6dea380a32f4daa3f9036e37eac3c06 changed ID partitioning back to a boolean setting and added a check just prior to config freezing.  If the config lacks an explicit ids.partitioning value (i.e. `!config.has(IDS_PARTITIONING)`), we set it to `isKeyOrdered() && isDistributed()` and log the value at the INFO level.

[2014-02-18 19:43] #589 closed, assigned to dalaro

[2014-02-18 20:08] dalaro opened #595 "Update HBase's CF name shorthands"
Noticed this in the HBase test log:

[code]

Update shorthand table for `system_properties` and briefly look for other new CF names.

[2014-02-19 10:38] dalaro commented on #580
Please see #580

[2014-02-19 10:38] #580 closed, assigned to dalaro

[2014-02-19 10:50] dalaro commented on #559
Here's how I understood the problem.  Please correct me if I've misunderstood your point.
1. The configuration key storage.port is confusing in the context of HBase, since clients may care about multiple ports (e.g. regionserver & ZK).
2. The wiki documentation for storage.port under HBase is vague and misleading.  It reads "port on which to connect to HBase cluster nodes." That's ambiguous, but i

[2014-02-19 10:56] dalaro commented on #528
I added two options to the HBase adapter in titan05:
- storage.region-count
- storage.regions-per-server

These option names are liable to change before 0.5 releases.

If region-count is set, then regions-per-server is ignored.  Setting both issues a warning and considers only the former.

Region count, when set, is the total number of regions to create in Titan's table.  This option is only effec

[2014-02-19 10:56] #528 closed, assigned to dalaro

[2014-02-19 11:54] shaie commented on #559
In order to fix the problem, I think that the code doesn't need to explicitly set hbase.zookeeper.quorum and hbase.zookeeper.property.clientPort. If one wishes to control HBase setting through Titan config, he should set titan.hbase-config.*.

I think that letting one specify storage.hostname and storage.port is still important, e.g. in the absense of hbase-default/site.xml. For example, consider

[2014-02-19 16:25] cmbaron opened #596 "NPE accessing Edge with Framed primitive @Property added to interface after edge created"
Not sure if this is a Titan or Blueprints issue, but trying here first.

An edge is created with the following edge frame:

[code]

The Frame is then modified to include an additional property:

[code]

Attempts to access "isHidden" on an existing edge results in an NPE in the Proxy:
Caused by: java.lang.NullPointerException
        at com.sun.proxy.$Proxy164.isHidden(Unknown Source)

Changing the

[2014-02-19 18:46] okram commented on #596
As I remember, Frames requires that full Java objects be used in the Frame definitions -- i.e. no primitive types.

For example see:

[code]

[2014-02-19 18:46] #596 closed, assigned to nobody

[2014-02-19 19:33] cmbaron commented on #596
Thanks Marko.  I looked through the documentation for some reference to primitive semantics, but did not find any.  We'll stick to the boxed types.

##

Chris

[2014-02-19 21:17] dalaro commented on #559
"I don't think Titan needs to know the ZK host/port that HBase connects to -- it's specified on the hbase cluster."  I don't get it.  storage.hostname used to list the ZK ensemble hostnames.

Also, if the ZK clientPort in Titan's config is incorrect, e.g.

[code]

then Titan throws these exceptions on startup:

[code]

Separate question.  I don't get this: "I think that the code doesn't need to ex

[2014-02-19 23:00] dalaro opened #597 "Hide TitanConstants's titan.properties in a package"
Storing titan.version in a file named titan.properties in the default package leads to surprises like https://groups.google.com/d/topic/aureliusgraphs/BoeKkyvBB4U/discussion.

[2014-02-19 23:31] dalaro commented on #559
I've been thinking about this.  Removing `storage.hostname` is going to be a major annoyance for HBase users upgrading to 0.5, and I'm not really convinced it's justified.  It's less clear to me that people are overriding the default ZK port, but hostname is a big one.

I'm considering keeping storage.hostname and storage.port, but maybe:
1. Logging messages containing the HBase configuration keys

[2014-02-20 08:20] shaie commented on #559
Hi Dan,

I don't think we should remove storage.hostname and storage.port. These are
required, as far as I understand, so Titan knows how to connect to the
storage backend. What bothered me is that if I don't specify
storage.hbase-config.zookeeper.stuff, then Titan defaults the ZK host and
port to the storage.host/post, which as I detailed is wrong in case your
HBase is connected to an external ZK

[2014-02-21 03:27] yammelvin opened #598 "Titan 0.4.2 not able to connect to remote ElasticSearch 1.0.0"
I saw under release note, Titan 0.4.2 is compatible with ElasticSearch 0.90.5,
and I have successfully connect to ElasticSearch 0.90.5 remotely.
However, when I tried to connect to ElasticSearch 1.0.0 remotely, it throws the following Exception:

[code]

[2014-02-21 04:37] tmichaud314 opened #599 "AbstractVertexCentricQueryBuilder.types(params array) only processes last item in params array"
Found in 0.4.2 release.

titan-core: AbstractVertexCentricQueryBuilder.types(TitanType... type) always converts only the last item in the array and storing it to the internal "types" array, effectively truncating the first n - 1 items of the array.

[2014-02-21 14:59] jascks commented on #598
@yammelvin I was curious if you were going to open this again. :) This is a real problem though as ES 1.0.0 has breaking API changes and Titan 0.4.2 does not work with it.  Is this issue a duplicate of another?  Or is there a future version of Titan that is targeting ES 1.0.0.?

Thanks, Jeff

[2014-02-21 17:02] yammelvin commented on #598
@jascks I closed it because apparently this is a widely known issue. I was hoping to find some workaround / solution.

[2014-02-21 17:09] jascks commented on #598
@yammelvin That makes sense. It is not subtle failure. :)  I don't know if all ES users will be running to 1.0 right away, so maybe a separate search backend implementation for 1.0 vs. pre-1.0?  This is all still pretty new to me, so I'm sure the powers that be will handle it well. :)

[2014-02-21 20:04] xedin commented on #590
@mbroecheler pull is at https://github.com/thinkaurelius/titan/pull/600

[2014-02-24 05:40] cfcodefans opened #601 "kryo related problem breaks query"
Hi, all

I encounter a wired problem as testing titan's feature for concept approval.

Basically what i do is to use titan+cassandra to create a bunch of vertex and query them.
version is :
        <dependency>
            <groupId>com.thinkaurelius.titan</groupId>
            <artifactId>titan-core</artifactId>
            <version>0.4.2</version>
        </dependency>

//at first:

[code]

//the

[2014-02-25 22:38] bflad commented on #598
I'll :+1: integration with Elasticsearch 1.0, we're beginning to upgrade a couple clusters already.

[2014-02-25 23:46] jascks commented on #598
Great @bflad!  Thanks.

[2014-02-26 10:17] #595 closed, assigned to dalaro

[2014-02-26 10:26] #597 closed, assigned to dalaro

[2014-02-26 12:11] Colin-Mac-Donald commented on #598
Thanks for documenting this.  I wouldn't call it "widely known", since it took me a few hours of thrashing and swearing to figure out that I wasn't actually mis-using Titan and Elastic Search.

New developers will just grab the latest version of both Titan and Elastic Search and expect them to work.  Why wouldn't we, since the Titan wiki Elastic Search page doesn't list version compatibility or in

[2014-02-26 12:54] spmallette commented on #598
version compatibility can be found here:

https://github.com/thinkaurelius/titan/wiki/Version-Compatibility

Added a link to this page from ES wiki page.

[2014-02-26 12:59] bflad commented on #598
FWIW that page should read 0.90.3+, <1.0.0 for all mentions of ES 0.90.X.
The Java client strictly is not compatible between ES versions.

Brian Flad
Sent from mobile
On Feb 26, 2014 7:54 AM, "stephen mallette" notifications@github.com
wrote:

[2014-02-26 13:04] spmallette commented on #598
true....added a bit more clarity.  thanks.

[2014-02-26 14:06] boneill42 commented on #598
+1, I would love to see this addressed.  Elastic Search 1.0 has compelling new functionality that people are likely going to want to take advantage of.  (e.g. aggregations)  It would be great to see Titan work with the new version.  Should this be re-opened?

[2014-02-26 15:25] jascks commented on #598
+1 here too.  I doubt all Titan/ES users will be jumping off of < 1.0.0 though...  Does there need to be a titan-es-pre-1.0 implementation and a new titan-es moving forward?  I would like to think ES won't be making any breaking API changes until ES 2.x.

[2014-02-28 05:51] yammelvin opened #603 "Is Cassandra 2.0 compatible with Titan 0.4.2?"
I have no problem connecting Titan 0.4.2 with Cassandra 2.0.4
But Cassandra 2.0.4 is not in the compatibility list of Titan 0.4.2
Is it possible to include full comprehensive tests for Titan / Cassandra 2.0.4 and
add Cassandra 2.0.4 to the compatibility list please?

Thanks.

[2014-02-28 08:53] mbroecheler commented on #601
Yes, that's very bizarre. It suggests that something is going wrong with
the serialization. The fact that its random is suprising though. That makes
it more likely a data corruption issue but I have no idea how that would be
triggered.

Do you have a complete test case that reproduces this?
Thanks,
Matthias

On Sun, Feb 23, 2014 at 9:40 PM, cfcodefans notifications@github.comwrote:

##

Matthias B

[2014-02-28 23:44] xedin commented on #536
Pull Request is at https://github.com/thinkaurelius/titan/pull/604

[2014-03-06 12:28] ghost commented on #594
During some more debugging we found the following options to work:

[code]

As I've understood this, that might be a clue to that Titan isn't able to find hbase-site-xml.

Also, setting multiple hostnames in the quorum string results in the hostnames being parsed a like an array string or something: [host1, host2, host3]. This is verifiable if looking at the DNS resolution attempted to zookeeper.

[2014-03-06 15:34] FarzadT commented on #598
Does this fix the issue?
https://github.com/thinkaurelius/titan/pull/605

[2014-03-08 18:47] dkuppitz opened #606 "Make vertex IDs always the last sort criteria"
If you have a non-unique sort key, the sorting of edges with the same value is currently random. Is it possible to make the vertex IDs always the last sort criteria? This can be useful for fast paging.

The following code demonstrates the problem.

**Init sample graph**

[code]

**Query first page (10+1 items)**

[code]

[code]

Now it's clear that page 2 must start with weight == 0, but since pag

[2014-03-09 18:22] mbroecheler commented on #606
This will be the case in 0.5 with the only difference being that edges will
be sorted by vertex id difference
On Mar 8, 2014 1:47 PM, "Daniel Kuppitz" notifications@github.com wrote:

[2014-03-10 07:14] dkuppitz commented on #606
_by vertex id difference_ means something like `edge.inV().id() - edge.outV().id()`? If so, will it be consistent (e.g. always inV - outV) so that negative values are used or will you use the absolute distance?

**Negative values valid: _(preferred)_**

[code]

**Absolute distance: _(useless for the paging approach mentioned above)_**

[code]

[2014-03-11 12:16] leleueri opened #607 "Titan with Cassandra 2.x"
Hi,

I will try to use Titan for my project.
According to your wiki, only Cassandra 1.2.x is supported, do you plan to support cassandra 2.x ?

I tried to start an instance of Cassandra 2.x and I executed the GraphOfGods example on it, at first look, result was the same as Cassandra 1.2.x. Maybe it is because I don't execute complex queries. Have you already tested Titant with a Cassandra 2.x ?

B

[2014-03-11 12:18] #607 closed, assigned to nobody

[2014-03-11 12:18] leleueri commented on #607
I missed the issue #603 sorry

[2014-03-12 20:50] erickt opened #608 "titan05 branch's titan-hbase does not play nicely with IntelliJ"
`titan-hbase` in the `titan05` branch appears to be doing some maven tricks in order to support both hbase 0.94 and 0.96. However, this really confuses IntelliJ, because there is no direct dependency in `titan-hbase` on the `hbase` jar for 0.94, or `hbase-server` for 0.96. So it throws errors everywhere when compiling or debugging. Is anyone aware of a way to make IntelliJ Happy?

[2014-03-13 17:05] anvie opened #610 "java.lang.IllegalStateException: Could not find type for id: 130"
I just use Titan 0.4.2 when using IdGraph:

[code]

Sometimes work and sometimes got this error:

[code]

[2014-03-14 17:59] galdosd opened #611 "making new types fails when config setting attributes.allow-all=false"
When disabling attributes.allow-all, making new labels/keys fails. I guess titan itself is using the default serializer for storing type metadata? FWIW I am using cassandra backend, clearing the keyspace each time before tests, and testing by adding just a single String-typed attribute.

This is not a huge deal -- we can just keep allow-all=true whenever loading the schema (should be a relatively

[2014-03-18 09:21] galan opened #612 "Roadmap"
Question: Is there anywhere a roadmap to see when future versions (such as 0.5.0) will be released?

[2014-03-18 19:44] peterklipfel commented on #523
+1

[2014-03-19 03:53] anvie commented on #523
:+1:

[2014-03-19 03:57] rahst12 commented on #523
Amazing.  We spoke about this at length in NYC.  This is needed!

[2014-03-19 04:18] rahst12 commented on #612
In NYC they said 0.5.0 will have a the last changes to the underpinnings of the database. (This is important because it was beforehand causing significant / incompatible upgrade issues.)

[2014-03-20 17:00] joshsh commented on #523
+1 indeed.  TTL on edges would support an awesome array of distributed graph streaming applications.

[2014-03-21 02:42] anvie commented on #523
Make Titan different to other existing Graph DB on market :+1:

[2014-03-21 09:27] p1tz opened #613 "document reserved names"
Hi,

maybee I'm just too stupid to find it, but are there any other reserved names except id and label? is there a wiki page where I can look this up?

Have you considered renaming them to something awkward like _id_ or the like, because id is a very common property?

thank you :)

[2014-03-21 09:30] p1tz commented on #613
... like [underscore]id[underscore] ...

[2014-03-21 21:23] hrynek commented on #594
I'm struggling with Titan 0.5 and Clouder Hbase and got this array problem too. BaseConfiguration automatically splits comma separated options into array - this behaviour could be turned off with setDelimiterParsingDisabled() method.

[2014-03-22 22:55] hrynek opened #615 "Type java.lang.Integer silently changed to int"
In Titan 0.5 property defined as `java.lang.Integer` is expected to be `int`:

[code]

[2014-03-23 00:54] anvie opened #616 "Titan 0.4.2 cannot getting in-edges using explicit label"
I have strange experience when using Titan 0.4.2 + Cassandra  1.2.9. Cannot getting in-edges using explicit label but after querying without any label (query all in-edges) the next query using explicit label is fine.

Here is my gremlin code that demonstrating the problem:

[code]

Is this bug? Or I doing some missconfiguration in Backend?
Thx for advance.

[2014-03-24 12:29] cloud-on-prem commented on #523
:+1:

[2014-03-26 15:35] mbroecheler commented on #610
You are either operating on a different graph or there was a data
corruption on your graph data. Titan is trying to retrieve information on
an existing type but cannot find the data.

On Thu, Mar 13, 2014 at 6:05 PM, Robin Syihab notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-03-26 15:37] mbroecheler commented on #611
Thanks for pointing this out. This has been fixed in the next release.

On Fri, Mar 14, 2014 at 6:59 PM, Domingo Ignacio Galdos <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-03-26 16:06] anvie commented on #610
yeah it's looks like index data was loss after some cassandra node down abnormally even the replication factor = 3, is there any way to fix this?

[2014-03-27 20:48] galdosd commented on #611
Fantastic, thank you very much for your time! I'll try it out as soon as the release is out; I'm a big fan of any and all safety-adding features.

[2014-03-30 03:36] #536 closed, assigned to xedin

[2014-03-30 03:36] #590 closed, assigned to xedin

[2014-03-30 03:40] xedin commented on #465
This has already been merged into titan05 (at least Cassandra side of things).

[2014-03-30 03:49] xedin opened #618 "cassandrathrift returns broken connections back to the pool."
User has reported a problem with cassandrathrift when at least one of the nodes is stopped. https://groups.google.com/forum/#!topic/aureliusgraphs/yzedZ-P5D5k

[2014-03-30 16:48] anvie commented on #618
+1

[2014-03-31 16:51] mbroecheler commented on #610
Hi Robin,

was the data completely lost or is there a configuration issue where the
data is not replayed correctly to the restarted node?
If the data is actually lost, there isn't much to restore it. However, with
a properly configured cluster in RF=3 data loss should not occur and there
is an issue with the configuration.

HTH,
Matthias

On Wed, Mar 26, 2014 at 5:06 PM, Robin Syihab notifications

[2014-03-31 20:41] anvie commented on #610
I have no idea, I think this is because I'm running 3 nodes cassandra in a single machine, after re-setup cassandra nodes in different 3 machines with the same configuration this problem went away, at least until now I don't see this issue anymore.

Thx.
--robin

[2014-03-31 20:41] #610 closed, assigned to nobody

[2014-04-02 00:22] dalaro commented on #455
Is this moot with ISPN and Hazelcast moved to titan-experimental?

[2014-04-02 00:35] dalaro commented on #504
TitanFactory.open() on titan05 (as of a 0385d74d3f8ebbbfa5887b1a8c7a0aa8d3701645) no longer creates a BDB instance when the argument doesn't exist.  It throws an IllegalArgumentException on mistyped paths now, which I think is an improvement.  I'm not sure what commit made this change.

Incidentally, TitanFactory.open as of the same comimt also rejects arguments like "local:conf/titan.properties"

[2014-04-02 06:43] Janarthanam opened #619 "Titan requires create/admin access for HBase tables"
Titan does a bunch of checks to ensure the table and column family exists. All these require admin/create access. These checks are not needed in production machines, where tables are already created once.

We can disable this check on production.

[2014-04-02 14:05] sebastiaansamyn-tc opened #621 "Query on ES index with geolocation does not sort by distance"
ES supports sorting based on the distance to a point when doing index queries (http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-request-sort.html#_geo_distance_sorting).

When I look at the titan-es source code, titan does not seem to support this. Am I wrong and will it do this in the future?

[2014-04-02 18:12] mbroecheler commented on #612
@d8bitr We are keeping track of issues on github. The roadmap itself changes quite rapidly at the moment so we maintain it internally to not cause confusion. But as @rahst12 pointed out, our goal is to remain compatible on the storage backend level which should stabilize things a lot. Hopefully that will work out ;-)

[2014-04-02 18:12] #612 closed, assigned to nobody

[2014-04-02 18:26] mbroecheler commented on #616
Yes, that looks very strange. Do you have a small dataset to reproduce this on?
Thanks

[2014-04-02 19:08] mbroecheler commented on #568
If I understand this feature request correctly, this is already supported in Titan with the Geo.WITHIN predicate.
Have a look at:
https://github.com/thinkaurelius/titan/wiki/Indexing-Backend-Overview#querying-an-index

[2014-04-02 19:10] mbroecheler commented on #569
This would greatly complicate the Edge interface and in many cases you would rather want to have multiple edges for each "namespace". Can you describe the use case in a little more detail?

[2014-04-02 19:45] zazzcode commented on #569
Hi,  Thank you for replying to my post.
Based on comments on the Google group we have implemented multiple edges with one unidirected edge off each (as you suggest).

The overall problem I am trying to deal with is providing an efficient means of sub-setting graph elements (both edges and vertices) in a large graph.  The same graph elements can exist in multiple sets.  I call these sets "graph spa

[2014-04-03 00:01] johnbcoughlin opened #622 "Clarify documentation or fix bug on transactional scope"
The documentation at https://github.com/thinkaurelius/titan/wiki/Transaction-Handling seems to indicate that vertices are always transitioned between transactions:

This appears to only be true for the "implicit" transaction that is opened whenever we modify the graph. Consider the following, passing, test:

[code]

Thus, attempting to transition a vertex between explicit TitanTransaction instance

[2014-04-03 01:11] dkuppitz commented on #622
The linked wiki page also states that

And the documentation for multithreaded transactions [states](https://github.com/thinkaurelius/titan/wiki/Multi-Threaded-Transactions#gotcha) that

[2014-04-03 01:11] #622 closed, assigned to nobody

[2014-04-03 01:39] mbroecheler commented on #601
Another reason this could happen: You created the graph with Titan 0.4.2 but opened it with an older version.

[2014-04-03 02:27] mbroecheler commented on #613
The reserved names are taken from TinkerPop/Blueprints. @okram @spmallette Is there such a page for TinkerPop?
The reason its not an awkward name is that we want to allow usage in has constraints: has(id,5) for instance.

[2014-04-03 02:30] #558 closed, assigned to nobody

[2014-04-03 14:55] okram commented on #613
id and label are the only reserved names.

On Apr 2, 2014, at 8:27 PM, Matthias Broecheler notifications@github.com wrote:

[2014-04-03 14:58] p1tz commented on #613
thank you for your feedback, though it probably was a dumb question. I found it in the code meanwhile.

[2014-04-03 14:58] #613 closed, assigned to nobody

[2014-04-04 21:42] xedin commented on #618
Pull is at https://github.com/thinkaurelius/titan/pull/623, @mbroecheler please take a look.

[2014-04-05 00:14] xedin commented on #586
Pull is at https://github.com/thinkaurelius/titan/pull/624, @mbroecheler please take a look.

[2014-04-09 01:50] yammelvin opened #625 "Performance increases when removing edges."
Following is my test program for testing the performance when removing edges:

[code]

Over time, the time taken to remove the edge gets longer and longer, even though the number of edges remains 1 all the time.

Is this a bug? What causing this behaviour?

[2014-04-09 10:11] spmallette commented on #625
are you using cassandra?

[2014-04-10 01:04] #619 closed, assigned to dalaro

[2014-04-10 07:45] joshsh commented on #523
So, assuming we/I do this, it seems we will have to deal with different notions of TTL in Cassandra and HBase.  HBase supports TTL on column families, indeed, which would make the TTL setting global to a graph.  E.g. we could have TTL on all edges.  However, Cassandra permits setting of TTL upon the insertion of individual columns, which I think will be more useful in Titan.  Often, you will want

[2014-04-10 07:54] yammelvin commented on #625
yes i am using cassandra as backend storage
is this an issue with cassandra?

[2014-04-10 11:36] spmallette commented on #625
answering in stackoverflow.  if this ends up being a bug, we can reopen this issue:

http://stackoverflow.com/questions/22951488/titan-performance-increases-when-removing-edges

[2014-04-10 11:36] #625 closed, assigned to nobody

[2014-04-10 16:43] mbroecheler commented on #523
That's a solid analysis @joshsh. In addition, to graph level TTL and label/key level TTL we could also consider setting the TTL via a dedicated property:

[code]

However, that puts a lot of burden on the developer and I like the option of keeping it at the schema level better.

[2014-04-10 17:53] dalaro opened #626 "Remove StandardTitanGraph JVM shutdown hook when graph shuts down"
Current code seems to retain references to closed STG instances through a field in STG's ShutdownThread; eagerly unregistering a graph's hook should reduce memory pressure in testing where we frequently close and open STGs

[2014-04-11 06:26] joshsh commented on #523
TTL at the level of individual edges certainly would give the developer the most control.  There are scenarios in which this would be advantageous, including any scenario in which you want TTL bound to data sources as opposed to data types.   For example, you might want topic edges for blog posts to survive longer than the equivalent edges for tweets, or for a low-volume source of posts as opposed

[2014-04-14 18:24] dalaro commented on #618
Merged #623.

Thanks, Pavel.

[2014-04-14 18:24] #618 closed, assigned to xedin

[2014-04-14 18:33] dalaro commented on #598
#605 makes Titan 0.5 support ES 1.0, but it doesn't maintain backwards compatibility with 0.90.  Titan 0.4 can only get ES 1.0 support if it doesn't interfere with 0.90 compatibility, since that's what it shipped with, so we can't merge the change from #605 into the 0.4 branch (without additional compatibility work like @jascks hinted at).

[2014-04-14 18:38] dalaro commented on #586
Merged #624.

Thanks, Pavel.

[2014-04-14 18:38] #586 closed, assigned to xedin

[2014-04-14 20:00] MartinSeeler commented on #603
We are using Titan with Cassandra 2.0.4 - 2.0.6 and there are no issues so far. Even with more complex queries.

Is there any reason for the 1.2 compatibility?

[2014-04-15 19:21] dalaro commented on #608
I refactored titan-hbase in titan05 again.  This time, I'm trying a unified jar that dynamically loads a shim class compiled against 0.94 or 0.96 depending on what's detected at runtime, similar to the way Hive supports multiple Hadoope versions in a single jar.  It currently imports and builds in IDEA 13.1.1 on my machine.

Please reopen if you see a way to make it play nicer with IDEA.  Despite

[2014-04-15 19:21] #608 closed, assigned to dalaro

[2014-04-16 04:45] #509 closed, assigned to nobody

[2014-04-16 04:57] mbroecheler commented on #585
Fixed in titan05 branch

[2014-04-16 04:57] #585 closed, assigned to mbroecheler

[2014-04-16 05:01] mbroecheler commented on #601
The only way I was able to reproduce this is creating a graph with Titan 0.4.2 and opening it with 0.4.1. Make sure that all instances of Titan are running on the latest version as documented in the UPGRADE file that comes with Titan.

[2014-04-16 05:01] #601 closed, assigned to nobody

[2014-04-16 08:09] leleueri opened #628 "Question about vertexCache"
Hi,

I'm using titan 0.4.2 and I have performed some benchmarks.

The first benchmark used a disabled titan cache (cache.db-cache = false) and during the profiling, we saw that the "getType" method is often called and request a vertex.

So we activated the cache and obviously, the performance was better.

So here is my questions :
- why TitanTypes are stored in the same cache as other vertices ?
-

[2014-04-17 21:22] munkyboy commented on #506
I also ran into this error using Titan 0.4.2 and ElasticSearch 0.90.x. Specifically, my ElasticSearch server is in a Docker container running inside a virtualbox VM and my Titan app is on the outermost host layer. I had to turn off the `sniff` option in order to get it working.

[2014-04-18 08:31] grozavpava opened #629 "SSL support in cassandra thrift client"
This is actually a feature request.

Enabling client-to-node SSL connections from Titan to Cassandra should be possible.
Cassandra already supports this, and Apache Thrift has this functionality since 0.6.x (0.4.2 is using 0.7.0)

I understand that for future releases CQL/java driver is the preferred way to connect to Cassandra, but i think the thrift client can be enhanced also.

I hope to get so

[2014-04-19 00:42] mbroecheler commented on #628
Hi Eric,

yes, the types are cached in the same cache, but there is another type
specific cache in front of the data store. So, the performance difference
is due to the other accesses.

Best,
Matthias

On Wed, Apr 16, 2014 at 1:09 AM, Eric notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-04-19 00:48] mbroecheler commented on #506
@munkyboy You got the above exception because the sniff option was on?

[2014-04-19 21:14] munkyboy commented on #506
@mbroecheler yes. when I set sniff to false everything worked as expected.

[2014-04-21 18:11] joshsh commented on #523
Note: TTL for Titan / Cassandra has been implemented in this Titan 0.5 branch:

https://github.com/thinkaurelius/titan/tree/ttl

Both per-label TTL and per-edge TTL are supported.  An example of per-label TTL:

[code]

This will give all "likes" edges a time to live of 60 seconds.  I.e. if you commit() or rollback() a transaction more than 60 seconds after the commit() which creates the edge, the

[2014-04-21 19:49] mbroecheler opened #630 "Partital persistence can cause LockingException on unique properties"
Assume we have a property key that is configured graph-unique (and indexed) or an edge label that has a cardinality constraint and that either uses locking to ensure consistency.

When only the property (or one half of an edge) gets persisted due to failure and one is trying to remove the corresponding property/edge that will cause a locking exception because the expected value verification will f

[2014-04-21 21:35] mbroecheler opened #631 "Random unit test failures in LogTest.testMultipleLogsWithSingleReader"
this happens sometimes and for all storage backends. It's not 100% reproducible. The error message looks like this:

  InternalCassandraEmbeddedLogTest>LogTest.testMultipleLogsWithSingleReader:118 expected:<3> but was:<1>

It's always line 118 but the "was" part is sometimes 1, sometimes 2.
This seems to indicate that some timeout might be too low for my machine which causes failure when running t

[2014-04-21 22:13] mbroecheler commented on #506
@munkyboy thanks. Added a trouble shooting section to:
https://github.com/thinkaurelius/titan/wiki/Using-Elastic-Search

[2014-04-22 00:03] anvie commented on #523
Cool :+1:

[2014-04-22 03:50] #631 closed, assigned to dalaro

[2014-04-24 23:40] mbroecheler opened #634 "Make "Key" a reserved system name"
for types so that it can be used as an implicit key. Currently conflicts with unit tests.

[2014-04-25 04:52] #626 closed, assigned to dalaro

[2014-04-25 04:53] #591 closed, assigned to dalaro

[2014-04-28 07:36] #628 closed, assigned to nobody

[2014-04-28 07:39] #565 closed, assigned to mbroecheler

[2014-04-30 08:41] mbroecheler commented on #403
Mmh, that's actually a Gremlin issue. v.has('x','y') gets translated into v.getProperty('x').equals('y'), however, for multi-properties the latter returns list of values and hence the equals does not work.
For now, the filter work-around should work. @dkuppitz: Please file a ticket in Gremlin to make sure this is handled in the future (TP3).

[2014-04-30 08:41] mbroecheler commented on #615
I cannot reproduce that exception in Gremlin on the current titan05 build. Can you try to reproduce?
Thanks

[code]

[2014-04-30 08:41] #615 closed, assigned to mbroecheler

[2014-04-30 08:42] mbroecheler commented on #616
works for me. Closing unless there is some data to reproduce this.

[code]

[2014-04-30 08:42] #616 closed, assigned to mbroecheler

[2014-04-30 20:12] dalaro commented on #587
In addition to the commit reference above, I also made these related changes in titan05:
- Replaced outdated storage.index.foo keys with equivalent index.foo keys
- Added ES config files (based on 1.1.1 upstream), since titan.sh now starts ES standalone rather than embedded with Rexster
- Updated Cassandra files to 2.0.6:
  *\* bin/cassandra
  *\* bin/cassandra.in.sh
  *\* bin/nodetool
  *\* conf/

[2014-04-30 20:12] #587 closed, assigned to dalaro

[2014-04-30 20:19] dalaro commented on #594
@hrynek do you remember the context?  Were you calling TitanFactory.open(BaseConfiguration)?  That no longer exists in titan05.

I think I'm familiar with the problem you're describing.  I added a hack for it in https://github.com/thinkaurelius/titan/blob/titan05/titan-rexster/src/main/java/com/thinkaurelius/titan/tinkerpop/rexster/TitanGraphConfiguration.java.  Calling setDelimiterParsingDisabled

[2014-04-30 20:19] #594 closed, assigned to dalaro

[2014-04-30 20:47] dalaro commented on #603
Titan uses Cassandra's Thrift API (with the exception of the embeddedcassandra adapter, which calls into StorageProxy without Thrift). That's been stable since Cassandra 1.0.  In theory, the client and server versions can vary independently as long as they are both newer than 1.0.

This is a little sticky on the Astyanax backend though.  The latest Astyanax release uses client version 1.2.  When I

[2014-04-30 20:47] #603 closed, assigned to dalaro

[2014-04-30 21:25] dalaro commented on #559
Hi @shaie

You wrote, "My assumption was that Titan only needs to know the HBase host/port (the region servers actually) and that the ZK host/port is only needed by the region servers instances".  Chapter 17 of the HBase manual seems to contradict this: "[All participating nodes and clients need to be able to access the running ZooKeeper ensemble.](http://hbase.apache.org/book/zookeeper.html)"

I'

[2014-04-30 21:25] #559 closed, assigned to dalaro

[2014-04-30 21:35] kmccarp opened #635 "Null pointer on key.getDataType()"
Graph created with Titan 0.4.4, we're getting a NPE on line 262 of `com.thinkaurelias.titan.graphdb.database.EdgeSerializer` (see below for offending line).

[code]

I'm not sure how, but none of the keys on any of the properties on any of our vertices have a datatype set. Is there something I can do to fix this? When retrieving any property on any vertex, I'm getting this null pointer.

[2014-04-30 22:58] mbroecheler commented on #635
Do you get that exception in all cases or just some of them? If the latter, what cases?

[2014-04-30 23:00] kmccarp commented on #635
I discovered the error was due to pulling in Kryo 2.23 instead of 2.21 (the version Titan 0.4.4 depends on). Kryo 2.23 was retrieving a null datatype instead of the actual datatype.

[2014-04-30 23:00] #635 closed, assigned to nobody

[2014-05-01 00:08] mbroecheler commented on #520
Moving this issue to 0.6 for consideration after we roll out 0.5. In 0.5 we are significantly reworking how external indexing backends are coordinated by Titan. Then, we can see if this still applies.

[2014-05-01 00:24] mbroecheler commented on #119
You might also find this article helpful for getting Titan working with Spring:
http://mes-solutions.org/?p=50

[2014-05-01 00:24] #119 closed, assigned to nobody

[2014-05-01 00:31] #403 closed, assigned to mbroecheler

[2014-05-01 00:32] mbroecheler commented on #474
Serializer got completely reworked in titan 0.5

[2014-05-01 00:32] #474 closed, assigned to mbroecheler

[2014-05-01 00:32] mbroecheler commented on #490
Titan now automatically detects when it can use compressed string representations vs binary order preserving ones.

[2014-05-01 00:32] #490 closed, assigned to mbroecheler

[2014-05-02 18:32] dalaro commented on #598
Summary: Titan 0.5 supports ES 1.x ; Titan 0.4.2 supports ES 0.90.x.  Pull requests for ES 1 on Titan 0.4 or ES 0.90 on Titan 0.5 are welcome so long as they don't break existing ES version support.

[2014-05-02 18:32] #598 closed, assigned to dalaro

[2014-05-02 18:32] dalaro commented on #577
Closing this since I've been unable to reproduce it.

[2014-05-02 18:32] #577 closed, assigned to dalaro

[2014-05-02 21:32] dalaro commented on #588
59ff650bf732a51805409bd577d4cf9da18070dd adds a new option to set the initial size of the NonBlockingHashMapLong instance inside GuavaVertexCache that holds a transaction's uncommitted dirty vertices.  It's named "cache.tx-dirty-size" in an attempt to harmonize with the existing config option named "cache.tx-cache-size".  I'm not married to that name.

The size defaults to 32 with batch-loading di

[2014-05-02 21:32] #588 closed, assigned to dalaro

[2014-05-02 23:18] mpollmeier opened #636 "Titan 0.4.4. doesn't find the index when using elasticsearch"
Using titan's native index works fine (test1), however it doesn't use the elasticsearch index (test2). I'm having the same problem no matter if I use cassandra 1.2.16 or 2.0.7, and no matter if titan runs elasticsearch inside it's jvm or if I run it in remote mode.
What am I missing?

[code]

[code]

Complete log output:

[code]

[2014-05-03 04:13] awcoding opened #637 "Titan doesn't seem to like single node Cassandra w/stacktrace"
[code]

[code]

[2014-05-03 14:47] dkuppitz commented on #636
Please see the wiki page [Full Text and String Search](https://github.com/thinkaurelius/titan/wiki/Full-Text-and-String-Search).

**Working sample:**

[code]

[2014-05-03 14:47] #636 closed, assigned to nobody

[2014-05-04 04:25] mpollmeier commented on #636
That makes sense. Thanks Daniel!

[2014-05-05 04:18] mbroecheler commented on #637
What's your replication factor? On a single instance, it must be configured
to equal 1.

On Fri, May 2, 2014 at 9:13 PM, Alexwhite3000 notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-05-05 08:06] awcoding commented on #637
I let Titan configure the KS,CFs on the first run and I did on the 2nd. Both with RF=1.
Cassandra v=2.0.6

BTW I use Cassandra/Astyanax daily without any special config. I isolated the case above in it's own proj though so you should be able to replicate the error by just including titan-core and titan-cassandra.

[2014-05-08 18:54] johnbcoughlin opened #643 "Missing dependency in rexster-server 2.4.0 pom"
I wanted to package rexster-server with my Maven app, and found I had to sort out some dependency issues.

Pom snippet:

[code]

[2014-05-08 18:55] #643 closed, assigned to nobody

[2014-05-08 18:57] johnbcoughlin commented on #643
Put this in entirely the wrong repo. Delete as desired.
https://github.com/tinkerpop/rexster/issues/352

[2014-05-09 20:36] mbroecheler opened #644 "Add thread-safety and concurrency tests to KeyColumnValueStoreTest"
also, add a test case to load a non-trivial amount of data and iterate it through. We were seeing a weird Astyanax issue in earlier versions where it would truncate the result set after returning a lot of elements.

[2014-05-12 19:25] erickt opened #645 "Missing tag for 0.4.4"
I just filed https://github.com/thinkaurelius/faunus/issues/173 because Faunus was missing a `0.4.4` tag, and it looks like the same is missing on Titan. Can it also be added? Thanks.

[2014-05-12 19:27] dalaro commented on #645
My mistake, I had the tag in my local repo but failed to push it to github.  Pushed.

[2014-05-12 19:27] #645 closed, assigned to nobody

[2014-05-14 19:21] eparejatobes opened #646 "why TitanGraphQuery does not return TitanVertex?"
I'm having a hard time writing generic code because of this. Why vertices or edges returns the corresponding tinkerpop stuff? Just non-covariant Java generics? Can I safely assume that they're going to be TitanVertex/TitanEdge?

[2014-05-14 19:22] okram commented on #646
Yes.These will be TitanVertex/TitanEdge.

Please use our mailing list for questions as this is not a question for a bug tracker.

[2014-05-14 19:22] okram commented on #646
Yes.These will be TitanVertex/TitanEdge.

Please use our mailing list for questions as this is not a question for a bug tracker.

[2014-05-14 19:22] #646 closed, assigned to nobody

[2014-05-14 19:24] eparejatobes commented on #646
OK thanks for the quick reply, will do next time

[2014-05-14 22:53] xedin commented on #637
So I tried both Titan 0.4.3 and 0.5 with Cassandra 2.0.6 and they both work fine, I tried using ./bin/gremlin.sh but the same exact statements you did. It looks like Astyanax can't get the connection to your machine somehow, can you check server logs maybe they can shed some light?...

[2014-05-15 04:04] awcoding commented on #637
Did you try with my  class? My only two pom.xml deps are titan-core and titan-cassandra (tested with both: 0.4.3 or 0.4.4)

Here is the output on the server side:

[code]

I also tried adding:

[code]

But no help there either. Whenever I use astyanax / cassandra in normal operation I usually have to specify the cluster name. According to the wiki there is no obvious way of specifying the cluster

[2014-05-15 04:06] awcoding commented on #637
Perhaps if ring describe fails you could use storage.hostname for cassandra operations?

[2014-05-15 21:01] xedin commented on #637
Let me try your app.

[2014-05-15 21:14] xedin commented on #637
Tried your code with following dependencies version 0.4.4 (titan-core-jre6, titan-cassandra)

[code]

What I think is happening in your case is in yaml you have "listen_address" set to localhost or something similar, that would block Astyanax from getting ranges. You can try setting "connection-pool-type" to "ROUND_ROBIN" and see what happens.

[2014-05-16 03:11] awcoding commented on #637
I've tried it with both listen_address is set to localhost and the public ip address of the host machine 192.168.4.126. That's not it.

[code]

This is the code we are running in our dev env:

[code]

Would you be open to integrating NodeDiscoveryType.NONE with Titan if storage.direct=true?

[2014-05-16 08:48] crakjie opened #647 "Comparaison strangness"
Hello,
I'm using titan 0.4.2 with rexter

I have one vertex with a property witch is an int and witch is equal to 45
So in rexter console when i'm doing this

[code]

I got a result i'm ok.

when i do this

[code]

I got no result, I'm disappointed but ok.

now when I'm doing this

[code]

I got a result !!

ps : I'm disappointed because i cannot request integer with double or double with integer

[2014-05-19 18:07] mbroecheler commented on #647
Hi Etienne,

can you connect with the Gremlin shell directly against Titan (i.e. no Rexster) and do the same?
Here is what I get on Titan 0.4.2:

[code]

Note, that double-to-integer conversion works for me here because I defined the data type of the property explicitly. If you don't do this, then Titan accepts arbitrary values in which case it must compare them at "face-value" and then an integer

[2014-05-19 18:37] TimLudwinski commented on #11
I'm running into this issue in Titan 0.4.1 with a single cassandra instance.  Here is a simple example that displays this issue on an empty server:

[code]

I didn't have a vertex centric index on this one, but on the production server that is having the same problem there is an index on timestamp.  This really stinks because I can't access the incoming edges at all.

[2014-05-19 20:46] mbroecheler commented on #637
Does that solve the problem for you?

On Thu, May 15, 2014 at 8:11 PM, Alexwhite3000 notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-05-19 20:51] mbroecheler commented on #11
Yes, at over a million edges per vertex you are getting into "the danger
zone" in particular without a vertex centric index.
There isn't much we can do about it due to the limitations of Cassandra
that cause this.

However, we will introduce partitioned vertices in Titan 0.5 to address the
issue of extreme super nodes like the one you are encountering.

On Mon, May 19, 2014 at 11:37 AM, TimLudwins

[2014-05-19 21:08] arnaud2moissac commented on #11
Bonne nouvelle pour titan 0.5
Le 19 mai 2014 22:51, "Matthias Broecheler" notifications@github.com a
écrit :

[2014-05-20 05:41] awcoding commented on #637
That's from another project. But I think It would work if you integrated it. I guess if you really need me to I can submit a pull req but it might take awhile. Right now, as far as I can tell Titan won't work with Cassandra on a single node.

[2014-05-20 08:33] crakjie commented on #647
Sorry but I'm not able to connect to my database , i tried db db/cassandra db/cassandra/data db/cassandra/data/titan ...
But we use tinkerpop frames and I think it's possible the data type of each property is not set by frames.

[2014-05-20 13:20] crakjie commented on #647
Y test with gremlin without rexter ( but with titan 0.4.4 )
And I have exactly the same result with Rexter.
What is exactly face-value ?

[2014-05-23 09:43] #647 closed, assigned to nobody

[2014-05-23 15:15] krm1312 opened #649 "Allows specifying keyspace strategy_class and strategy_options"
It should be possible to specify the 'NetworkTopology' strategy and further keyspace options besides replication_factor.

In particular, in AstyanaxStoreManager:

[code]

Would like to be able to create a keyspace as in:

https://github.com/Netflix/astyanax/wiki/Create-keyspace-or-column-family

Second example with NetworkTopologyStrategry and two datacenters.

[2014-05-23 16:48] mbroecheler commented on #647
By "face-value" I mean the actual value that is being represented. Why did you close the issue?

[2014-05-24 13:10] crakjie commented on #647
Because if i enderstand what you mean it's not realy a bug , but a problem of configuration ?

[2014-05-26 08:44] vanthome opened #650 "Cassandra 2.0.x Compatibility"
Hi,
I want to evaluate titan but would like to use it more recent stuff. Mostly cassandra and ES support seems to lag a bit with current versions.
Is there any ETA for supporting more recent versions?
Thanks

[2014-05-26 09:27] xedin commented on #650
0.5 snapshot already has support for Cassandra 2.0.x merged in.

[2014-05-28 05:46] xedin commented on #637
It does work with the single node just fine, also there is no need to change any code for support NodeDiscoveryType.NONE, just set "node-discovery-type" to "NONE" in your properties.

listen_address should be pointing to the accessiable address otherwise Astyanax node discovery won't work.

[2014-05-28 05:59] xedin commented on #599
@mbroecheler are you going take a look at this?

[2014-05-28 22:54] mgmuscari opened #651 "Using "Contain" predicate on sorted key breaks multi vertex queries"
There is a corner case in the AbstractVertexCentricQueryBuilder class:

java.lang.ClassCastException: com.thinkaurelius.titan.graphdb.query.condition.Or cannot be cast to com.thinkaurelius.titan.graphdb.query.condition.PredicateCondition at com.thinkaurelius.titan.graphdb.query.AbstractVertexCentricQueryBuilder.compileSortKeyConstraints(AbstractVertexCentricQueryBuilder.java:342)...

There needs t

[2014-05-29 16:27] alexliu68 opened #652 "Cassandra CQL KeyColumnValueStore to replace CassandraThriftKeyColumnValueStore"
Cassandra latest native protocol is faster than thrift protocol according to some of the testing result in https://issues.apache.org/jira/browse/CASSANDRA-4718. We can also take advantage of https://github.com/datastax/java-driver built-in pooling, load balancing, security and other features.

This may involve some API changes in KeyColumnValueStore, especially change to SQL like query

[2014-05-29 17:58] mgmuscari commented on #651
A link to the block of code in question:

https://github.com/thinkaurelius/titan/blob/master/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/query/AbstractVertexCentricQueryBuilder.java#L342

[2014-05-29 20:02] mbroecheler commented on #652
Alex, we did our own internal benchmarking and found the thrift adapter to be significantly faster than  CQL mostly because thrift has better batch-updates and supports multi_get_slice which makes a big difference through multi-query.
If you use Titan's Astyanax adapter you get pooling and load balancing. Titan also supports Cassandra security.
We will keep an eye on the CQL and java driver develo

[2014-05-29 20:02] #652 closed, assigned to nobody

[2014-05-29 23:44] alexliu68 commented on #652
The latest Astyanax has  integrated Java-Driver. The following link show the details.
http://techblog.netflix.com/2013/12/astyanax-update.html

Do you have any benchmarking between AstyanaxStoreManager and CassandraThriftStoreManager? In which case, Astyanax is used? I find that by default setting, AstyanaxStoreManager is used instead of CassandraThriftStoreManager, is there any particular reason?

[2014-05-30 03:17] frankjl commented on #629
I came across this recently too, and the lack of client-to-node SSL was a deal breaker for me.  I ended up patching com.thinkaurelius.titan.diskstorage.cassandra.astyanax.AstyanaxStoreManager with the following snippet @ line 480:

[code]

Doing so let me define 3 more properties in my Titan configuration:

[code]

After this I was able to connect to my Cassandra cluster through Titan.  I'd be hap

[2014-05-30 23:55] mbroecheler commented on #652
The java driver does not (yet) support some of the operations we need for fast traversal execution. Our Astyanax and thrift adapters both you thrift under the hood, but astyanax adds automatic fail-over, ring detection and all these other nice properties. Hence, we recommend astyanax by default and thrift if you are running Titan and Cassandra co-local.

[2014-05-31 01:00] xedin commented on #649
I'm on this, strategy_class is already added, will try to finish up with options over the weekend.

[2014-05-31 15:59] dalaro commented on #629
@frankjl please do fork and open a pull request against master. Thanks!

[2014-06-01 01:14] xedin commented on #649
@mbroecheler @krm1312  Pull is at https://github.com/thinkaurelius/titan/pull/654

Only thing is that replication-strategy-options have to be set as an array instead of a map (because of property file support), but normally people do "<DC>", "<factor>" pairs anyway, so it's not a big deal.

**With BaseConfiguration:**

[code]

**With .properties file:**

[code]

[2014-06-01 02:06] xedin commented on #629
@dalaro @mbroecheler Pull is at https://github.com/thinkaurelius/titan/pull/655 , supports both Astyanax and Thrift.

[2014-06-04 21:24] jsight opened #656 "Occasional LuceneIndex.mutate failures"
I am getting periodic LuceneIndex.mutate failures due to duplicate documents. The stacktrace is:

[code]

The code in question is:
} else if (hits.scoreDocs.length > 1) {
                        throw new IllegalArgumentException("More than one document found for document id: " + docid);

For some reason, hits.scoreDocs returns two identical documents. I cannot see what scenario would cause the in

[2014-06-06 04:20] mbroecheler commented on #656
Yeah, that's interesting. Do you have code that reproduces this?

[2014-06-06 14:57] jsight commented on #656
Nothing standalone... the unit test suite for this project fails ~1/3 of the time with this exception:
https://github.com/windup/windup

[2014-06-06 19:41] dalaro commented on #649
Thanks Pavel, #654 is merged into titan05.  I like that it works with all of the Cassandra backends.  I expanded one of the new config option doc strings in 3b3d63a3e8ab9d4d70e48ac7347a8b1055423a46, but otherwise I didn't touch anything.

[2014-06-06 19:41] #649 closed, assigned to xedin

[2014-06-11 16:08] 0xRoch opened #657 "Wiki : wrong Snappy version ?"
https://github.com/thinkaurelius/titan/wiki/Titan-Limitations#snappy-14-does-not-work-with-java-17

In the wiki, Snappy 1.4 / 1.5 is mentioned : shouldn't it be Snappy 1.0.4 / 1.0.5 instead ?

http://mvnrepository.com/artifact/org.xerial.snappy/snappy-java

[2014-06-12 02:14] dalaro opened #658 "Fix ThriftGraphCacheTest.testConfiguration"
This applies to the 0.5.0 line

[2014-06-12 05:02] mbroecheler opened #659 "BerkeleyDBPartitionGraphTest"
fix issue in BDB's getKeys method which leads to a race condition. Add test back in.

[2014-06-12 05:06] #651 closed, assigned to nobody

[2014-06-12 05:06] #650 closed, assigned to nobody

[2014-06-12 05:08] mbroecheler commented on #656
There seems to be a race condition around the creation of documents. If you substitute ES for Lucene, do you still see the error?

[2014-06-12 05:10] mbroecheler commented on #606
added in titan05

[2014-06-12 05:10] #606 closed, assigned to mbroecheler

[2014-06-12 05:10] mbroecheler commented on #599
fixed in titan05

[2014-06-12 05:10] #599 closed, assigned to mbroecheler

[2014-06-12 05:11] mbroecheler commented on #571
fixed in titan05

[2014-06-12 05:11] #571 closed, assigned to mbroecheler

[2014-06-12 05:11] mbroecheler commented on #562
fixed in titan05

[2014-06-12 05:11] #562 closed, assigned to mbroecheler

[2014-06-12 05:11] mbroecheler commented on #557
fixed in titan05

[2014-06-12 05:11] #557 closed, assigned to mbroecheler

[2014-06-12 05:12] mbroecheler commented on #551
fixed in titan05

[2014-06-12 05:12] #551 closed, assigned to mbroecheler

[2014-06-12 05:12] mbroecheler commented on #550
fixed in titan05

[2014-06-12 05:12] #550 closed, assigned to mbroecheler

[2014-06-12 05:12] mbroecheler commented on #540
fixed in titan05

[2014-06-12 05:12] #540 closed, assigned to mbroecheler

[2014-06-12 05:13] mbroecheler commented on #504
fixed in titan05

[2014-06-12 05:13] #504 closed, assigned to mbroecheler

[2014-06-12 05:13] mbroecheler commented on #469
fixed in titan05

[2014-06-12 05:13] #469 closed, assigned to mbroecheler

[2014-06-12 05:13] mbroecheler commented on #465
fixed in titan05

[2014-06-12 05:13] #465 closed, assigned to xedin

[2014-06-12 05:13] mbroecheler commented on #464
fixed in titan05

[2014-06-12 05:13] #464 closed, assigned to mbroecheler

[2014-06-12 05:13] mbroecheler commented on #343
fixed in titan05

[2014-06-12 05:13] #343 closed, assigned to mbroecheler

[2014-06-12 05:14] mbroecheler commented on #458
fixed in titan05

[2014-06-12 05:14] #458 closed, assigned to mbroecheler

[2014-06-12 05:15] mbroecheler commented on #387
fixed in titan05

[2014-06-12 05:15] #387 closed, assigned to mbroecheler

[2014-06-12 17:32] jsight commented on #656
I tried ElasticSearch, but I do not believe that it would work for our use-case due to the lazy indexing. If we attempt a query before the ElasticSearch refresh interval has occurred, then we will end up with a race condition and potentially an invalid query result.

This actually shows up in some of our unit tests as well. I don't believe there is a way to force immediate indexing with ES, right?

[2014-06-12 20:55] radzish opened #660 "Edges are duplicated when concurrently updated in multiple threads (transactions)"
import java.util.UUID;
import java.util.concurrent.ExecutorService;
import java.util.concurrent.Executors;

import org.apache.commons.configuration.BaseConfiguration;
import org.apache.commons.configuration.Configuration;
import org.junit.Assert;
import org.junit.Test;

import com.thinkaurelius.titan.core.TitanFactory;
import com.thinkaurelius.titan.core.TitanGraph;
import com.thinkaurelius.titan.

[2014-06-12 23:38] yuriythedev opened #661 "Titan 0.5 unable to work with HBASE 0.98.0.2.1.1.0-1621-hadoop2 (on HortonWorks 2.1)"
Titan 0.5 has an issue with HBASE on HortonWorks 0.98.0.2.1.1.0-1621-hadoop2 - it cannot create an HBASE db failing on this breaking change in HBASE https://issues.apache.org/jira/browse/HBASE-10591

==>org.apache.commons.configuration.BaseConfiguration@3c3f9136
gremlin> conf.setProperty('storage.backend','hbase')
==>null
gremlin> conf.setProperty('storage.hostname', 'test-DATA3')
==>null
gremlin>

[2014-06-12 23:46] yuriythedev opened #662 "gremlin.bat fails with Titan 0.5 on Windows with "The input line is too long.""
After I've built Titan 0.5 after sync'ing my local repo today, I was not able to run gremlin.bat
It was failing with :

The input line is too long.
The syntax of the command is incorrect.

My environment is: Windows 8.1 x64

My workaround for the issue was to simply add directories to CLASSPATH like:
set CLASSPATH=..\lib*;

Instead of looping over all the jar files and adding each jar to the class

[2014-06-16 05:31] #637 closed, assigned to xedin

[2014-06-17 20:48] dalaro commented on #658
Fixed by 11a129558ec04394c42750bb2161778aee00ac2f

[2014-06-17 20:48] #658 closed, assigned to dalaro

[2014-06-20 19:59] dkuppitz opened #666 "Extended configurations / property files"
Add support for configurations like this:

[code]

A library that supports this feature (with a slightly different syntax) already exists: [eproperties](https://code.google.com/p/eproperties/)

[2014-06-23 19:43] dalaro opened #667 "TitanCassandraRecordReader does not use storage.username/.password"
TitanCassandraRecordReader uses org.apache.cassandra.hadoop.ColumnFamilyRecordReader.  This class ships with Cassandra.  We instantiate a CFRR without passing the username and password.  Skimming the source suggests that CFRR does have some mechanism for passing username and password.

It would also be interesting to see whether CFRR supports SSLized client<->cassandracluster configuration like we

[2014-06-23 20:30] dalaro opened #668 "v.getEdges returns a deleted ghost edge from cache"
#665

This definitely applies to 0.4.  Tried the test twice on titan05 and it didn't fail on either run, FWIW...

[2014-06-23 23:01] mbroecheler commented on #660
That's actually a feature not a bug to support concurrency without having to lock. In Titan 0.5 we made this configurable: either edges are duplicated or overwritten.

[2014-06-23 23:39] mbroecheler commented on #656
regarding lucene:  we are extending our test coverage in the hope to
reproduce this. If you can isolate a test that does this please let us
know. Is this triggered in a multi-threaded test case?

regarding es: you could force a flush after each commit (
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-flush.html)
but that would be expensive. In any case, i was wonderin

[2014-06-23 23:55] mbroecheler opened #669 "Index name setting ignored"
FROM PABLO: Thank you for your response. I did the change, And I'm seeing in the logs that the xyz index name seems to be applied

14/05/03 14:24:14 INFO diskstorage.Backend: Configuring index [xyz] based on:

However, when I browse indexes in ES http://localhost:9200/all/_mapping  I'm seeing

{
titan:
{
vertex:
{
properties:
{

and

hits" : [ {
      "_index" : "titan",
      "_type" : "vertex",

[2014-06-24 09:11] boliza opened #670 "titan05-M1 ElasticSearch mutate Bug"
[code]

[2014-06-25 20:33] jsight commented on #656
@mbroecheler - I have tried to isolate a test-case, but this has been completely unsuccessful for me so far. The test-cases that trigger the problem are not multithreaded.

I have spent a lot of time looking into this today, and it really is a bizarre problem. The problem does not happen on every test run, but when it does occur, it always occurs on exactly the same Vertex in our unit test. One-of

[2014-06-26 04:05] jsight commented on #656
@mbroecheler - I have placed a sample of a detailed log here:
https://raw.githubusercontent.com/jsight/scratchpad/master/build_1.log

This enables the trace statements from LuceneIndex.mutate to be seen.

As you can see, document 2oo appears to only be created once:
Jun 25, 2014 6:17:38 PM com.thinkaurelius.titan.diskstorage.lucene.LuceneIndex mutate
INFO: Creating new document for [2oo]

For some

[2014-06-26 19:08] jsight commented on #656
@mbroecheler - I have isolated the problem. It appears that in some cases, the search is returning inexact matches, even though this is a StringField. These seem to differ only in case (2Oo vs 2oo).

I have put a patch in my local fork that fixes this:
https://github.com/jsight/titan/commit/5c4ac652287b1e761756db40dfaf73c16c8e1599

Could you look into this (or another similar solution)?

[2014-06-27 17:03] michaelhowecisco opened #672 "titan 0.5 hbase 0.94 support broken"
titan-hbase-parent module titan-hbase-core has a specific dependency on hbase 0.96.

In titan-hbase-core/pom.xml, the hadoop1 and hadoop2 profiles declare, respectively:
               <hbase.version>${hbase096.version.base}-hadoop1</hbase.version>
               <hbase.version>${hbase096.version.base}-hadoop2</hbase.version>
This <hbase.version> is then used to for other artifacts.

This dependen

[2014-06-27 23:37] dalaro commented on #672
@michaelhowecisco please share some details about how this is failing, like logs or exception traces (ideally something I can reproduce).

`mvn clean install -DskipTests=true && mvn verify -pl titan-hbase-parent/titan-hbase-094` passes here except HBaseGraphTest.simpleLogTest.  That's currently failing on 0.96 and 0.98 too; it covers the trigger log consumer system and looks unrelated, though I co

[2014-06-28 19:29] espeed opened #673 "Add HyperDex as a datastore and/or indexing backend"
HyperDex (http://hyperdex.org) is an open-source (BSD) distributed, consistent, multidimensional datastore that enables multi-property searches and range queries so it can also be used as an indexing backend.

From the paper...

See http://hyperdex.org/papers/hyperdex.pdf

HyperDex has pluggable backends, but its primary backend is a modified version of LevelDB (http://hyperdex.org/performance/lev

[2014-06-28 23:28] rescrv commented on #673
It'd be great to see HyperDex as a backend for Titan.

Whomever does the porting should feel free to reach out to me with any questions.  I'd be happy to provide assistance where I can.

[2014-06-30 13:15] mduruisseau opened #674 "Slow loop on Iterable returned by vertices() method"
Hi !

First, some technical info :
- I work on a laptop with the following specs :
  - Intel® Core™ i7-2620M CPU @ 2.70GHz × 4
  - 4Go DDR3
  - Ubuntu 12.04 64 bits
- Scala 2.10.3 / titan-all v0.4.4 with gremlin-scala_2.10 v2.5.0
- I use the Titan Server package (titan-server-0.4.4.zip)
- I start it with `titan.sh -c cassandra-es start`

Then, my graph configuration :

[code]

And for the graph cr

[2014-07-01 07:48] bwlim commented on #673
I'm a big fan for Titan Graph Database.
I've implemented Kardin (Social Business Card Service) (http://www.kard.in/) using Titan(Cassandra+ElasticSearch) 3 server cluster on AWS. (with Play-scala application servers)

HyperDex seems wonderful to me~
I hope HyperDex could replace Cassandra and Elasticsearch as Titan storage and index backend.
HyperDex is said that it breaks CAP theorem.. (with user

[2014-07-02 15:48] anvie commented on #673
:+1:

[2014-07-02 17:54] ppeddi commented on #629
This is a deal breakers for us. If one of the committer could merge into mainline and release it in the next version, that would be very helpful for us.

[2014-07-02 17:58] dalaro commented on #629
This has been already merged into the titan05 branch via #655.  It's in the 0.5.0-M1 preview release and will be present in 0.5.0 final and beyond.

We haven't backported #655 to master/0.4.x, but there's no fundamental reason we couldn't do that (PRs welcome).

[2014-07-02 17:58] #629 closed, assigned to xedin

[2014-07-04 01:35] kbrumer opened #676 "PartitionKeyIndexableGraph"
I would like to use both a PartitionGraph and a SailRepository. SailRepository requires a GraphSail which needs a KeyIndexableGraph. There is a PartitionIndexableGraph but no PartitionKeyIndexableGraph.

Is this relatively straightforward?

Thanks.

[2014-07-04 10:07] spmallette commented on #676
This is really more of an issue for Blueprints, but I guess we never saw the need to include a `KeyIndexableGraph` because you typically create your indices with the base graph not the wrapper.  I guess for situations where you want to pass a wrapper of a particular interface type to something else, we should have implementations for all wrappers that way.

Please create an issue in Blueprints.  A

[2014-07-04 10:07] #676 closed, assigned to nobody

[2014-07-04 14:42] hihellobolke opened #677 "Relation or Node that age and expire"
While trying to build a graph from a streaming data and looking various graphDBs - I thought a notion of expiration of Node & relationship would be cool. A lot of use cases would exist, for graphing a streaming data...

[2014-07-04 16:08] joshsh commented on #677
Nodes and relationships?  Surely you mean vertices and edges ;-)  A time-to-live feature supporting expiration of vertices, edges, and properties at the graph level is under development and will soon be merged into the Titan 0.5 branch.  See:

https://github.com/thinkaurelius/titan/issues/523

and:

https://github.com/thinkaurelius/titan/tree/ttl

[2014-07-04 16:08] #677 closed, assigned to nobody

[2014-07-04 16:16] hihellobolke commented on #677
Awesome! awesome! awesome! Thank you!!

[2014-07-07 02:19] mbroecheler opened #678 "Allow vertex-centric indexes for MANY2ONE and ONE2MANY"
but only in the unconstrained direction.

[2014-07-07 02:28] mbroecheler commented on #674
Hello Mickaël,

how to fix it: You have to create an external (i.e. ElasticSearch based) index for the two properties. To do that, you have to change:

[code]

to

[code]

without the index name, Titan will create a "standard" index which means a hash index that does not support geographic "within" queries.

Why is this happening?
Since you (inadvertently) created two hash indexes for type and geo

[2014-07-07 02:32] mbroecheler opened #679 "Query optimizer support for IN queries"
From Adam:

I am using the Titan 0.5 release candidate. I have an internal index on the "profile_id" vertex property, which works well if it's trying to match a single value. But if I try to pass in multiple values, it hangs, presumably because it's not using the index.
This is fast:
g.V.has("profile_id", T.in, [1])
This is slow:
g.V.has("profile_id", T.in, [1,2])

[2014-07-08 14:48] JonSmoot opened #680 "Text.CONTAINS query fails if condition has a dot (.) as the last character"
Titan 0.4.4 (all) on ubuntu

Using a property indexed by elasticsearch, than querying with g.V.has(prop_name, Text.CONTAINS, some_value_ending_with_a_dot) will not return the expected result

Steps to reproduce (from gremlin shell):

[code]

Up to here everything worked but searching for _"Inc."_ will fail while _"Inc"_ will work:

[code]

[2014-07-08 15:04] dkuppitz commented on #680
Hi Jon,

that's the expected behaviour. For more information see [Full Text and String Search](https://github.com/thinkaurelius/titan/wiki/Full-Text-and-String-Search).

Cheers,
Daniel

[2014-07-08 15:04] #680 closed, assigned to nobody

[2014-07-08 18:42] mbroecheler opened #681 "Throw schema violation exception"
instead of IllegalArgumentException