[2012-05-04 00:35] okram opened #1 "Move to GitPages right before release (as it is public)"
http://help.github.com/pages/

[2012-05-05 04:56] mbroecheler opened #2 "Check for Iterables that also implement Iterator"
For efficiency reasons, some Iterables also implemented Iterator and returned themselves. This is not the right behavior and needs to be fixed (i.e. the iterator needs to be an independent object).

[2012-05-05 18:12] okram opened #3 "Provide HadoopGraph implementation..."
Per this issue:
  https://github.com/tinkerpop/blueprints/issues/247

This way other packages such as Faunus can deal with a HadoopGraph and not need to write one off Reader/Writer solutions as any graph that implements HadoopGraph will provide appropriate implementations.

[2012-05-07 17:18] mbroecheler opened #4 "Limit applied client side for HBase storage adapter"
Although getSlice applies columnStart and columnEnd filtering server-side, the total column count limit is only applied client-side.  This limit is obviously better applied server-side.  However, this might require deploying a Filter class to the HBase server(s), which makes deployment more annoying for prospective users.

[2012-05-07 23:05] mbroecheler opened #5 "In memory filtering for Neighborhood ID queries"
Currently, a neighborhood vertex id query will cause all edges matching the query to be created in memory (and the neighborhood subsequently determined by following those edges) unless the query can be answered by disk indexes alone (i.e. all property constraints are keyed and in the correct order). While most queries will be covered by keys it will nevertheless be a significant improvement to ans

[2012-05-07 23:16] mbroecheler opened #6 "Caching previously answered queries"
Titan needs to keep track of what it has loaded in memory. As a trivial example, if we do two vertex.getEdges() calls in a row, we don't want the second one to hit the storage layer again loading all edges. Titan knows that it already loaded the edges and hence the second call only retrieves edges from main memory.

This method works for all edges and for EdgeQueries that ask for edges of a specif

[2012-05-07 23:16] mbroecheler commented on #6
Check out the top comment on:
http://stackoverflow.com/questions/264582/is-there-a-softhashmap-in-java

[2012-05-09 19:04] mbroecheler opened #7 "Release reserved id blocks"
Currently, any id block that is reserved by a client cannot be release, that is, given back to the database so that it can reassign that block. This means, that the unused ids are lost when a client is shut down.

There is already a method stup in StorageManager for id block release (commented out). Implementing this feature would require:
- The StorageManager implementations put unused ids back i

[2012-06-04 14:26] okram opened #8 "Do no use hyperbole in error messages."
I would avoid such "human exceptions":

  Need to define particular key as indexed before it is being used!

The Blueprints style is, no punctuation.

  It is not possible to set a key as indexable once it has been used

[2012-06-04 14:27] okram commented on #1
Done.

[2012-06-04 14:27] #1 closed, assigned to nobody

[2012-06-04 14:29] okram commented on #7
Is this still and issue or was this fixed?

[2012-06-05 04:29] mbroecheler commented on #7
This is a limitation of the current release. It means that a few ids from a
block will be lost when the database is shutdown or in any way terminated.
Given that Titan has long ids loosing a few ids here and there is not
really a limitation until we hit exa-scale graphs or somebody restarts the
database every second (in which case there is probably something else
wrong).
Nonetheless, we aim to put

[2012-06-05 14:09] okram opened #9 "Documentation should be for users, not developers."
I noticed that this is all the documentation that exists for HBase:

  https://github.com/thinkaurelius/titan/wiki/Using-HBase

It is a section for "developers" and is about running a test suite. This is not sufficient as product documentation.

Documentation needs to be:
1. About the user (developer documentation is secondary at best)
2. Hand holding with plenty of toy code examples that take the

[2012-06-06 02:01] #2 closed, assigned to mbroecheler

[2012-06-06 02:01] mbroecheler opened #10 "One sided query constraints causes exception"
gremlin> hercules.outE('battled').has('time',T.gt,1).inV.name
0
Display stack trace? [yN] y
java.lang.ArrayIndexOutOfBoundsException: 0
    at com.thinkaurelius.titan.graphdb.query.QueryUtil.hasFirstKeyConstraint(QueryUtil.java:54)
    at com.thinkaurelius.titan.graphdb.loadingstatus.BasicLoadingStatus.loadedEdges(BasicLoadingStatus.java:57)
    at com.thinkaurelius.titan.graphdb.vertices.PersistS

[2012-06-06 02:04] mbroecheler commented on #3
This is a feature request, right?

[2012-06-06 02:07] mbroecheler opened #11 "Loading millions of edges at once on a single vertex causes timeouts in Cassandra"
When loading a million edges which are all incident on the same vertex into a TitanGraph backed by a Cassandra cluster with more than one node, a Cassandra internal timeout occurs which aborts the loading process.
This behavior is specific to having such a "supernode" with a lot of incident edges and loading all of these edges at once. Also, whether or not this behavior is observed depends on the

[2012-06-06 02:10] mbroecheler opened #12 "Allow block size to be configured per partition id"
For some partitions, significantly more ids are needed for edges than for vertices than for types. Hence, configuring those individually leads to better performance and less id waste (see #7).

[2012-06-06 02:10] mbroecheler opened #13 "ID allocation starts at 1"
The first block should start with id 1 to make id compression more effective.

[2012-06-06 02:13] mbroecheler opened #14 "For certain id block sizes, BerkeleyJE fails test case"
When the blocksize is set to be anywhere in [8191,65534] the TitanGraph.createAndRetrieveComprehensive test case fails. This id range seems to indicate a problem with ids in a certain bit range for BerkeleyDB. Edges are successfully written, but retrieving them by label fails (returns an empty result set from storage backend).

[2012-06-06 02:43] okram commented on #3
this was just a note from back in the day. sorry -- i will formulate it better.

http://markorodriguez.com

On Jun 5, 2012, at 8:04 PM, Matthias Broechelerreply@reply.github.com wrote:

[2012-06-06 08:19] dalaro commented on #13
Commit a60fe49f4e6a2af205bd2ce8a504ae7866784a0d should fix this for both Cassandra and HBase.

[2012-06-06 08:19] #13 closed, assigned to nobody

[2012-06-06 15:46] okram opened #15 "Why standardtitangraph[...] as the toString()."
When using both embedded mode and over Cassandra, Titan's toString() is standardtitan. Can we simply name the graph class TitanGraph so its consistent with other Blueprints implementations?

[2012-06-06 16:54] mbroecheler commented on #15
Unlike other blueprints implementation, TitanGraph is not a wrapper around
some native graph implementation. Hence, I made the design choice to have
TitanGraph be an interface and (potentially) have multiple implementations
under it. Based on the configuration that somebody passes to TitanFactory,
the optimal implementation is chosen.
I think this is a better way that asking the user to chose the

[2012-06-06 17:30] okram commented on #15
What about having StandardTitanGraph be called TitanGraph, but it is in a different package so its com.thinkaurelius.anotherpacker.TitanGraph? ... :D

[2012-06-06 17:30] okram commented on #3
Closing. Will open when better articulated.

[2012-06-06 17:30] #3 closed, assigned to nobody

[2012-06-06 17:31] okram commented on #9
We are now on track with this. Closing.

[2012-06-06 17:31] #9 closed, assigned to mbroecheler

[2012-06-06 17:36] mbroecheler commented on #15
Haha, in that case I'd rather change the toString method and exclude the
blueprints test case checking it.

On Wed, Jun 6, 2012 at 10:30 AM, Marko A. Rodriguez <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-06-06 18:05] okram opened #16 "Should say: "Unknown property key""
gremlin> jupiter.query().labels("knows").has("since",2011).has("stars",5).vertices()
Unknown property type: since

a property has keys and values. Not types.

[2012-06-06 22:26] #16 closed, assigned to mbroecheler

[2012-06-07 05:55] mbroecheler commented on #8
All error messages have been adjusted.

[2012-06-07 05:55] #8 closed, assigned to nobody

[2012-06-07 06:20] #10 closed, assigned to mbroecheler

[2012-06-07 12:24] spmallette opened #17 "Reconnecting to Titan From Gremlin"
I'm not sure if this is a problem or not.  it is an off-case for sure which likely wouldn't happen in the real-world, but during testing and tearing stuff down it's an irritant and i'm not sure if it's not going to manifest as a problem somewhere else so...

[code]

basically, you can't reconnect to titan from the gremlin console if cassandra is reinitialized.  i find the workaround is to exit gre

[2012-06-07 12:32] spmallette opened #18 "Data Types of Key Indices"
Consider making key indices more forgiving when it comes to data types.  For instance:

[code]

It might be good to just treat integers/longs as general numerics so that it doesn't create confusion for new users.

[2012-06-07 12:39] spmallette opened #19 "Gremlin Configuration Helpers"
Provide some helpers (mostly for Gremlin) to generate the BaseConfiguration object.  It gets a bit tedious typing this:

[code]

Perhaps, just having something that could generate different BaseConfiguration objects with all the defaults for each of the different modes of operation for Titan.  Or, maybe a 'create' method on TitanFactory in addition to 'open' ("create" in the sense of creating a co

[2012-06-07 13:29] okram opened #20 "g.getIndexedKeys() throws NPE"
This happens on a fresh instance of Cassandra and BerekeleyDB. Stack trace is after examples below.

gremlin> g = TitanFactory.open('target/testdb')
==>standardtitangraph[local]
gremlin> g.getIndexedKeys()
java.lang.NullPointerException
Display stack trace? [yN]
gremlin> g.createKeyIndex('name',Vertex.class)
==>null
gremlin> g.getIndexedKeys()
java.lang.NullPointerException
Display stack trace? [y

[2012-06-08 01:43] mbroecheler commented on #20
I had no idea you were allowed to call the method with a null argument. Is that what is going on here? If you provide null then it returns both vertex and edge indexes?

If so, I can change the implementation. This should also be documented here:
https://github.com/tinkerpop/blueprints/blob/master/blueprints-core/src/main/java/com/tinkerpop/blueprints/KeyIndexableGraph.java

[2012-06-08 02:03] mbroecheler commented on #18
Since Blueprints has no notion of data type, Titan accepts arbitrary objects and then stores the object class with the attribute so it can deserialize them. When it does so, an integer != long even if their value is the same, which is why you see this behavior.
When explicitly defining a key, the user provides a data type and then only those types are accepted.

What I could do for the standard Bl

[2012-06-08 02:30] mbroecheler commented on #19
Should this be in Titan core or in the titan gremlin shell?

[2012-06-08 08:42] #20 closed, assigned to mbroecheler

[2012-06-08 08:42] #18 closed, assigned to nobody

[2012-06-08 08:44] mbroecheler commented on #18
So, I implemented automatic type conversion for int->long and float->double when the data type is explicitly configured for a key. For the general Blueprints data type Object.class this cannot be done, because some test cases expect the original int value and not a long, so the Blueprints tests fail.

[2012-06-08 09:06] spmallette commented on #18
Cool...I think a good portion of users will appreciated the simplicity and convenience of this change.

[2012-06-08 12:04] spmallette commented on #19
I would think it would be most useful in the shell where you are just typing the same commands over and over again.  Not sure how much additional value it would add to connecting to titan otherwise.  I suppose that if was just in the shell then new methods on TitanFactory wouldn't be the way to go.  Conceptually, it would be the same thing though...

[2012-06-08 12:12] spmallette opened #21 "IO Packages"
Since @g.V@ and @g.E@ don't behave the in titan the way they do in other blueprints implementation the gremlin options to saveGraphML, saveGraphSON and saveGML won't work right as the IO writers won't be able to simply iterate all vertices and edges for output.

I suspect that's not a huge deal considering that no one would be dumping billions or vertices/edges to these file formats, however, it's

[2012-06-08 13:44] okram commented on #19
This will go into Gremlin shell. In the package com.thinkaurelius.titan.tinkerpop.gremlin.... I'll handle it, but if people have good ideas for good helper methods, I'm all ears.

Marko.

http://markorodriguez.com

On Jun 7, 2012, at 8:30 PM, Matthias Broecheler wrote:

[2012-06-08 13:46] okram commented on #20
Ah! ... no. My bad, I didn't realize the method signature of the method and Groovy is "smart" in that it says, "no argument, okay, null."

Yes, close.

[2012-06-08 17:04] mbroecheler commented on #19
Maybe extend the TitanFactory class in Gremlin?

On Fri, Jun 8, 2012 at 6:44 AM, Marko A. Rodriguez <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-06-08 18:13] okram commented on #21
Oh yea --- huh.

Matthias, is it at all possible for g.V/E to work?

Marko.

[2012-06-08 18:21] mbroecheler commented on #20
Well, I changed it so that null is automatically changed to Vertex.class. I don't think that does any harm and if you do a getKeyIndexes() in groovy it does what you would expect.

[2012-06-08 18:24] mbroecheler commented on #21
Well, it is technically possible, but it won't work for any use case that one might need Titan for. I did document this limitation in the wiki. I will add that this limitation also applies to all functionality that relies on vertex iteration.

My 2 cents: Global graph operations, including exports, should be handled through Faunus. We should get Faunus into shape asap after the Titan release to co

[2012-06-08 18:24] #21 closed, assigned to nobody

[2012-06-08 18:31] okram commented on #20
I would say make it throw a RuntimeException with a message of:

"Must provide either Vertex.class or Edge.class as an argument"

On Jun 8, 2012, at 12:21 PM, Matthias Broecheler wrote:

[2012-06-08 18:32] okram commented on #21
Coo'.

And yea Stephen -- geez.

Marko.

On Jun 8, 2012, at 12:24 PM, Matthias Broecheler wrote:

[2012-06-13 16:23] okram commented on #19
Done.

[2012-06-13 16:23] #19 closed, assigned to okram

[2012-06-13 16:24] okram opened #22 "Add a note on "batch loading" to the Pitfalls?"
https://github.com/thinkaurelius/titan/wiki/Titan-Pitfalls

By note, meaning, you said something about batch loading is not as "ripping fast" as you find in other graph databases because of X, Y, Z? .. I forgot what the X, Y, Z were.

[2012-06-14 14:24] okram opened #23 "There are two versions of Groovy in the distribution. Make it one."
groovy-all-1.8.5.jar
groovy-1.8.6.jar

Why is this? Also, see if you can get rid of all the GMaven depedencies (though they are tiny so its not too big a deal).

[2012-06-14 19:01] mbroecheler commented on #23
Titan has no groovy dependencies directly, but only through gremlin. Could
it be possible that gremlin has those two dependencies somehow?

On Thu, Jun 14, 2012 at 7:24 AM, Marko A. Rodriguez <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-06-14 19:33] mbroecheler commented on #11
This limitation also applies to dense index entries, i.e. if one is loading millions of properties with the same indexed value, then that creates a dense list of entries under that index entry. In these cases, failure in the storage backend may occur.

[2012-06-14 19:43] #22 closed, assigned to mbroecheler

[2012-06-20 05:49] yuanw opened #25 "Hbase endback is not handlering connection exception correctly"
When the HBase is not start, TitanFactory.open(config) stucks in a retry loop. by the way, I haven't successfully connected Titan with local HBase, (I tried Hbase 0.94.0, Hbase 0.92.1 on Mac) I alway got stuck in an retry loop.

[2012-06-20 20:56] jncorpron opened #26 "NoClassDefFoundError in bin/gremlin.sh"
Running bin/gremlin.sh in cygwin causes a NoClassDefFoundError:

java.lang.NoClassDefFoundError: com/thinkaurelius/titan/tinkerpop/gremlin/Console
Caused by: java.lang.ClassNotFoundException: com.thinkaurelius.titan.tinkerpop.gremlin.Console
        at java.net.URLClassLoader$1.run(URLClassLoader.java:202)
        at java.security.AccessController.doPrivileged(Native Method)
        at java.net.UR

[2012-06-22 16:23] dbxfb opened #28 "NPE on transaction commit"
Hi !

I am currently trying Titan out (snapshot 0.1), and I can't commit any transactions I make.
My code goes like this:

[code]

in the end I always get the following:

ERROR ContainerResponse - The RuntimeException could not be mapped to a response, re-throwing to the HTTP container
java.lang.NullPointerException
    at com.thinkaurelius.titan.graphdb.transaction.StandardPersistTitanTx.isDelete

[2012-06-23 00:07] mbroecheler commented on #25
You are correct. Currently, the HBase adapter assumes that HBase is running and will wait for it to appear. This is useful, since it sometimes takes a little while for an HBase instance to receive requests. That said, the adapter should eventually time out and throw an exception.

What are the issues that you are having connecting to a local HBase instance? I have successfully connected on a Mac s

[2012-06-23 00:18] #28 closed, assigned to nobody

[2012-06-23 00:19] mbroecheler commented on #28
Thanks for submitting this bug report. I reproduced the exception in a unit test and fixed it. Please try it with your code example.

[2012-06-23 03:02] yuanw commented on #25
Thank for the feedback. I am new to HBase, so I don't know whether it is a HBase configuration issue.

The stack I am seeing is:

 DEBUG org.apache.hadoop.conf.Configuration - java.io.IOException: config()
    at org.apache.hadoop.conf.Configuration.<init>(Configuration.java:226)
    at org.apache.hadoop.conf.Configuration.<init>(Configuration.java:213)
    at org.apache.hadoop.security.SecurityUt

[2012-06-23 03:18] mbroecheler commented on #25
Note that this is a DEBUG log statement and not an exception that made it
all the way to the top of the stack.
You will notice that HBase has a lot of those log statements and its easy
to confuse them for worrisome exceptions.

When you try to connect Titan with Hbase is it still stuck in the loop or
does it return?

On Fri, Jun 22, 2012 at 8:02 PM, Yuan <
reply@reply.github.com

##

Matthias Broe

[2012-06-24 09:12] #17 closed, assigned to dalaro

[2012-06-24 22:05] yuanw commented on #25
it stucks in the loop. From the hbase localhost web UI, I can the "titan" database is created.

[2012-06-25 05:49] mbroecheler commented on #25
that's should not be. are you using any non default configuration, like a
different port number or something of that nature?
to investigate this matter, please send me your configuration or script,
the output produced and the hbase output. thanks
On Jun 24, 2012 4:05 PM, "Yuan" <
reply@reply.github.com>
wrote:

[2012-06-25 13:49] dbxfb commented on #28
Everything works fine now! Thanks for your reactivity

[2012-06-25 20:33] okram opened #29 "Make graph.getVertices() an UnsupportedOperationException."
This distinction between "get all vertices in transaction" and "get all vertices in graph" seems to be confusing people. Best to simply throw an unsupported operation exception to make things clear.

[2012-06-26 16:18] dbxfb opened #30 "Querying Titan using Labels"
Hi,

I would be interested in querying Titan for an Iterable(TitanEdge) using a TitanLabel as argument (finding all edges with the given type).

As I could not find a way to do it: is there currently any way to do it, and if not can it be done ?
they way I understand things, Titan should be indexing my edge labels and thus doing TitanLabel queries should be feasible)

Thanks !

[2012-06-26 16:32] mbroecheler commented on #30
Hey Dan,

Titan does not currently support global edge retrievals but only vertex centric edge retrievals. So, given a vertex you can retrieve all of its edges for a particular label, for instance.

[2012-06-26 16:32] #30 closed, assigned to nobody

[2012-06-27 03:01] yuanw commented on #25
Oops, When I use Hbase 0.92.1, everything works fine.

[2012-06-27 03:01] #25 closed, assigned to nobody

[2012-06-27 09:07] dbxfb commented on #30
All right, thanks for the quick answer.

[2012-06-27 14:22] dbxfb opened #31 "getPropertyKey and getEdgeLabel should throw exceptions"
Hello !

I noticed that when doing

<pre>tx.getPropertyKey("someKey");</pre>

or

<pre>tx.getEdgeLabel("someLabel");</pre>

Instead of getting an <pre>IllegalArgumentException</pre> just like the documentation says, Titan silently creates the given type name and returns it.
This caused me a bit of trouble : albeit this was my bad for using getX()instead of getType(),
I think Titan should have angr

[2012-06-27 17:46] #26 closed, assigned to okram

[2012-06-27 17:47] okram commented on #15
this has been fixed. closing.

[2012-06-27 17:47] #15 closed, assigned to nobody

[2012-06-30 23:39] mbroecheler commented on #31
Hey Dan,
thanks for pointing out the inconsistency. whether or not titan throws an
exception in such a situation is actually configurable. I will document
this better.
Thanks,
Matthias
On Jun 27, 2012 7:22 AM, "Dan Forest-Barbier" <
reply@reply.github.com>
wrote:

[2012-07-04 14:20] dbxfb opened #32 "Could we have the possibility to retry a failed transaction?"
Hi :)

Currently, when a transaction throws on commit/stopTransaction because of a locking error, everything gets destroyed and if I want to try again later I have to redo all of my previous computations in a new transaction...

Would it be possible to have a tryCommitting method, or some way to backup the changes so that we can retry committing a changeset to Titan?
(I could do it manually... but

[2012-07-04 22:21] okram opened #33 "Update to support setProperty() fluent style in 2.1-SNAPSHOT"

[2012-07-06 16:08] okram commented on #23
This was due to a GMaven inclusion which was confusing because GMaven is a plugin, howver, I fixed this in Gremlin and now it rippled down and fixed this in Titan. Done.

[2012-07-06 16:08] #23 closed, assigned to nobody

[2012-07-06 16:10] okram opened #34 "Can we safely exclude JRuby from HBase? -- Its ~14 megs."
mvn dependency:tree

+- org.apache.hbase:hbase:jar:0.92.1:compile
[INFO] |  +- org.jruby:jruby-complete:jar:1.6.5:compile

That would help reduce the size of Titan.

[2012-07-07 19:42] mbroecheler commented on #32
That's a good idea for an enhancement. If I understand you correctly, there would be two parameters: numRetries and waitTime, such that if Titan fails in committing a transaction, it will wait for waitTime milliseconds and then retry committing the transaction. It will do so numRetries times and only fail if all of these attempts fail.

Does that sound good?

[2012-07-09 06:10] mbroecheler opened #35 "Make sure sorted order is returned for primary keys when query is processed in memory"

[2012-07-09 06:49] mbroecheler opened #36 "Throw exception when adding edge to vertex from previous transaction"

[2012-07-09 09:22] dbxfb commented on #32
Yep, that's exactly the feature I'd like to see :)

Maybe there could be a way to manually do it, by having "commit()" return a boolean (commited / failed) — but it could be an open door to leaks / beginner errors...

[2012-07-10 09:18] dbxfb opened #37 "IllegalArgument : invalid count for upper bound"
Hello !

While doing some hard work on my graph which loads about 1M nodes and 15M edges in memory (well, causes Titan to keep those in cache, at least),
I encountered the following exception when trying to add a few nodes and edges:

<pre>
java.lang.IllegalArgumentException: Invalid count for bound:4611686018427387903
        at com.thinkaurelius.titan.graphdb.idmanagement.IDManager.getEdgeID(IDM

[2012-07-11 07:09] mbroecheler commented on #37
Wow, that's a crazy large id. Since it's close to 2^62 I suspect its some
overflow problem, but not sure where it is coming from. Do you have a small
code snippet that reproduces this problem for me to analyze?

Thank you!

On Tue, Jul 10, 2012 at 2:18 AM, Dan Forest-Barbier <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-07-11 14:37] dbxfb opened #38 "Outdated wiki information"
Hi :)

This is low-priority, but I thought this was worth saying:
- storage.transactions default value is true, while the wiki says it's false
- flush-ids default value is true, while the wiki says it's false

(seen in titan/titan0.1 branch)

[2012-07-11 15:57] dbxfb commented on #37
I'm sorry, I did not have the time for a snippet (I'll try to write one this week).
However, I now know that I can reproduce the result each time I run this computation, and I ran it with a debugger :
- IDManager.getEdgeID(count = 9151315547450148020)
  - edgeTypeCountPartMask = 4503599627370495
  - edgeTypeIDBackLength = 11
  - groupBits = 6
  - groupIDDeltaOffset = 49
  - groupIDFrontMask = 2837

[2012-07-11 15:59] okram commented on #33
This is not happening in Blueprints 2.1. So this is no longer an issue.

[2012-07-11 15:59] #33 closed, assigned to nobody

[2012-07-12 09:01] dbxfb commented on #37
News !
I put a really large thrift-timeout and retried my computations using the regular Cassandra driver...
And I ended up with the same exception I got in my own driver.

I think it is caused by slow garbage collecting on OldGen, which takes around 10 seconds... and causes internal Cassandra timeout whatever the driver is, since we're in the same JVM.
Well, that was an interesting waste of time

[2012-07-12 10:43] dbxfb commented on #37
Well, fake alert. Even after changing GC settings and JVM heap size, I can reproduce the error (and it's the ONLY error happening, without Cassandra timeouts or GC longer than 200ms ...)

<pre>
     [java] java.lang.IllegalArgumentException: Invalid count for bound:4611686018427387903
     [java]     at com.thinkaurelius.titan.graphdb.idmanagement.IDManager.getEdgeID(IDManager.java:169)
</pre>

I

[2012-07-12 15:14] okram opened #39 "Add configuration table to BerkeleyDB wiki."
Like Casandra and HBase, it would be good to add the configurations specific to BerkeleyDB.

[code]

[2012-07-14 05:41] mbroecheler commented on #37
Absolutely not! Thanks for looking into this so carefully - this is a
really peculiar issue.

On Thu, Jul 12, 2012 at 3:43 AM, Dan Forest-Barbier <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-07-16 20:47] diegovar commented on #29
What would be the way of getting a graph given a property value if there is an index on that property? Doing
g.getVertices("name", "hercules") returns an empty list from Java code

[2012-07-16 20:50] okram commented on #29
If you have created a key index of "name" on Vertex.class, then g.getVertices("name","hercules") will return all vertices that have a name property of "hercules."

[2012-07-16 20:54] diegovar commented on #29
I am running titan on top of Cassandra locally.
In the gremlin prompt I can run
g.V('name','hercules').name
Which correctly returns "hercules". However, from Scala code I run

[code]

And the first assert fails. I have also tried creating a Transaction via g.startTransaction and doing the operation on the transaction, but that fails as well.

[2012-07-16 20:57] okram commented on #29
g.getVertices() is only respective of the currently transaction (which is different than g.getVertices(key,value)). To reduce confusion, this ticket will NOT make g.getVetices() a legal operation.

Regarding your getVertices(key, value) problem -- this is not the appropriate ticket as this is with respect to graph.getVertices().

Please provide another ticket with appropriate steps to reproduce yo

[2012-07-19 08:44] mbroecheler commented on #38
Thanks for pointing this out!

[2012-07-19 08:44] #38 closed, assigned to mbroecheler

[2012-07-19 12:13] KStubbings opened #40 "NPE in Mutation when deletions is null"
NPE is thrown in Mutation when deletions is null, however deletions is always null when mutateIndex is called from addIndexEntry.

Stack trance:

   java.lang.NullPointerException
    at java.util.ArrayList.addAll(Unknown Source)
    at com.thinkaurelius.titan.diskstorage.writeaggregation.Mutation.merge(Mutation.java:44)
    at com.thinkaurelius.titan.diskstorage.writeaggregation.BufferStoreMutato

[2012-07-19 15:42] dbxfb opened #41 "Efficiency problems with Cassandra backend"
Hello there,

I'm guessing this is a known issue, but still:

When using Cassandra through Thrift, there is a serialization/deserialization of each mutation,
and the current version of the Cassandra backend creates a huge batchmutation with everything;
which means that when I create 100k edges, there will be 100k mutations serialized in one go, eating lots of ram on both sides (client while serial

[2012-07-19 19:18] mbroecheler commented on #41
Check out buffer-size:
https://github.com/thinkaurelius/titan/wiki/Graph-Configuration

On Thu, Jul 19, 2012 at 8:42 AM, Dan Forest-Barbier <
reply@reply.github.com

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-07-19 20:43] #41 closed, assigned to nobody

[2012-07-20 09:39] dbxfb commented on #41
Right !
Sorry for the false issue, it seems I didn't look at the right places in the source.

[2012-07-20 23:29] dalaro commented on #40
Thanks for the report.

This NPE was triggering whenever a single transaction set p=v on one vertex while removing it from some other vertex, where p is an indexed but non-unique property and v is some value for p.  I wrote a test case for this scenario that generated your stack trace snippet and I fixed the NPE by adding null checks in diskstorage.writeaggregation.Mutation's merge method.  I'm pl

[2012-07-21 02:21] dalaro commented on #34
igrepping a HBase distro (incl source) for jruby brings up docs and scripts.  It _seems_ like JRuby is only used to run the Ruby-language "hbase shell" and some admin scripts (e.g. <code>bin/graceful_stop.sh</code>).  I'm not completely certain that JRuby is just a shell dependency within HBase, it just looks that way on brief inspection.

The use of JRuby in the shell is discussed at length on th

[2012-07-21 03:00] dalaro commented on #40
I cherry-picked the relevant patches into the master.

[2012-07-21 03:00] #40 closed, assigned to dalaro

[2012-07-21 06:32] jramsdale commented on #34
It seems like the better solution (or possibly additional solution) is to turn Titan into a multi-module build. The core should be split from the various implementations since most users will not want the dependencies and transitive dependencies for a data store they have no intention of using.

The question then becomes: do users of the HBase data store still require the Jruby dependencies? There

[2012-07-30 22:40] crisweber commented on #4
I had not seen this issue and so I've submitted a new pull request with same subject with the nice #42.

[2012-08-07 17:59] okram opened #43 "Whirr recipes should be included in the distribution..."
...not as a separate downloadable file.

[2012-08-09 11:53] DanielThomas opened #44 "AtomicTitanQuery throws IllegalArgumentException if property key does not yet exist"
This behaviour is inconsistent with Blueprints DefaultQuery. In this case we want the edges that do _not_ have a property set:

   .has("end", null)

This works fine with OrientDB and Neo4J with Blueprints, however Titan's native implementation throws:

[code]

[2012-08-09 13:11] DanielThomas commented on #44
I should say though, it's gratifying to see that Titan is so strict about state and not allowing nulls. Attempting to set a property explicitly to null results in:

[code]

If I add a valid property to at least one edge, has("end", null) will then fail with:

[code]

This discussion seems to indicate that has("property", null) is intended to be used for this purpose:

https://groups.google.com/d/t

[2012-08-09 19:51] okram opened #45 "Get Titan binary converter easy to use for Faunus"
iColumn, ByteBuffer -> FaunusVertex

See:
  https://github.com/thinkaurelius/faunus/tree/master/src/main/java/com/thinkaurelius/faunus/formats/titan

See specifically:
  https://github.com/thinkaurelius/faunus/blob/master/src/main/java/com/thinkaurelius/faunus/formats/titan/TitanCassandraRecordReader.java#L188

[2012-08-10 13:47] DanielThomas opened #49 "Cassandra and Astyanax tests failing"
Are there prerequisites that need to be met for these tests to succeed?

[code]

[2012-08-14 13:20] SakulK opened #51 "Problem with using TitanGraph with more than one thread"
Hi,
I'm getting an exception from TitanGraph when I use something like this:

[code]

the Exception is

[code]

it works fine when using TitanGraph in just one thread but I dont really understand why it works that way. Am I missing something or is it a bug?

Cheers

[2012-08-14 13:39] SakulK commented on #51
It works fine with the InMemory version of TitanGraph

[2012-08-14 13:41] DanielThomas commented on #51
Try this on the first thread:

[code]

[2012-08-15 19:42] mbroecheler opened #54 "Repeatedly opening and closing the database using the Astyanax adapter leads to Socket Error"
Verified that Titan does properly clean up all Astyanax resources and filed an issue with Astyanax:
https://github.com/Netflix/astyanax/issues/105

The exception is:

6325301 [RetryService : 10.101.41.184(10.101.41.184):9160] DEBUG com.netflix.astyanax.thrift.ThriftConverter - Too many open files
6325301 [RetryService : 10.101.41.184(10.101.41.184):9160] ERROR org.apache.thrift.transport.TSocket -

[2012-08-15 19:57] mbroecheler commented on #5
Initial benchmarks show that the object creation (vertex+edge) overhead is very low and hence the time savings achieved by filtering at the ByteBuffer level are not sufficient enough to warrant a major code investment.

This decision might be worth revisiting when declarative query support is added.

[2012-08-15 19:57] #5 closed, assigned to mbroecheler

[2012-08-15 20:02] mbroecheler commented on #4
Addressed in #42

[2012-08-15 20:02] #4 closed, assigned to dalaro

[2012-08-16 01:13] mbroecheler commented on #51
As Danny pointed out, if you do

[code]

it should work. Here is the reason:
In Blueprints, each thread automatically opens its own transaction. So, the createKeyIndex call is in one transaction and the getVertices call is in another. Since the first transaction has not been stopped/committed the other transaction cannot see its results - consequently you get the error.
If you would like to use th

[2012-08-16 01:13] #51 closed, assigned to nobody

[2012-08-16 01:18] mbroecheler commented on #49
No, the internal tests should start their own cassandra daemon and therefore don't have any pre-requisites (just fyi, the external tests require that cassandra/hbase be started before running the tests).

So, it seems like the cassandra daemon wasn't able to start properly. This can have multiple reasons - most likely that the port is blocked by another cassandra instance. However, to know for sur

[2012-08-16 01:32] mbroecheler commented on #34
While multi-module builds are the more sophisticated approach to handling the multiple dependencies, it will add too much overhead for just the two different dependencies (cassandra / hbase) at the moment. We will revisit this issue later.

[2012-08-16 02:32] okram commented on #34
Thing to consider:
- How are you going to meet the 30 meg .zip limit with Apache Central Repo?

[2012-08-16 02:37] okram opened #55 "If possible, depend on Hadoop 1.0.3 (hadoop-core)"
This way its the same dependency for Faunus.

[2012-08-16 13:03] SakulK commented on #51
Thank you, that helped alot :)

[2012-08-16 18:43] mbroecheler commented on #55
Dan, can we go to hadoop 1.0.3 or does this require updating hbase as well?

[2012-08-16 18:48] jramsdale commented on #34
I find multi-module builds to be almost no overhead over single-module builds.

Are you using the Maven Release Plugin?

I would be willing to help with this if you'd like.

[2012-08-16 19:18] #29 closed, assigned to mbroecheler

[2012-08-16 20:29] mbroecheler commented on #34
I have to disclose that I am not a mvn expert. If you have an easy way to
accomplish this, then please show me how. Thanks a lot!

On Thu, Aug 16, 2012 at 11:48 AM, jramsdale notifications@github.comwrote:

[2012-08-16 20:41] okram commented on #34
Please try and emulate the TinkerPop style of multi-modules. (e.g. https://github.com/tinkerpop/blueprints ).. Unless you have a really cool way I don't know about.

[2012-08-16 21:08] DanielThomas commented on #34
The Tinkerpop style is what you find on most projects. The only way I'd recommend you diverge is the module directory naming: 'project-module' gets tiresome on the command line - for example, blueprints-core would instead be 'core'. It remains 'blueprints-core' in the pom and therefore generated artifacts, only the module definition differs.

You might want to consider a dedicated parent pom (tita

[2012-08-16 22:27] mbroecheler commented on #31
Hey Dan,

I have been going back and forth on how to approach this. Finally, the behavior will stay the same, i.e. types will be automatically created by default. This is what users of Blueprints would expect. However, for increased type safety you can set _autotype=none_ in the configuration which will throw exceptions like you expected. Hope this is a good compromise.

[2012-08-16 22:28] #31 closed, assigned to mbroecheler

[2012-08-17 02:11] jramsdale commented on #34
Yeah, I would do it the same as Blueprints. I was the contributor of the Sonatype OSS Maven changes so have experience with Blueprints. I strongly prefer artifactIds match directory names--it prevents confusion and most folks have command-line completion anyway. I also prefer having a prefixed artifact names in the fashion of Spring and Blueprints. I've finished much of the restructuring today and

[2012-08-18 20:33] DanielThomas opened #58 "Avoid the use of null in internal implementations"
As discussed in issue #57, except where an external API contract requires (Blueprints for instance), consider:
- Using Guava Optional or Objects.firstNonNull to guard against null and establish defined absent or empty collection returns, instead of relying on null. When you require null when reaching those external interfaces with Optional, use http://docs.guava-libraries.googlecode.com/git/javado

[2012-08-19 08:28] dalaro commented on #55
I looked at the poms involved.  HBase 0.92.1 depends on hadoop-core 1.0.0 and therefore would probably but not necessarily work with hadoop-core 1.0.3.  Fortunately, I don't think we have to find out, because HBase 0.94.1 is now on Maven Central and depends it on hadoop-core 1.0.3.  I updated my local pom and the HBase tests in the comprehensive profile passed.  I pushed these pom changes bringing

[2012-08-19 08:28] #55 closed, assigned to dalaro

[2012-08-20 07:34] DanielThomas commented on #49
My fault - was only occurring when running the Jacoco code coverage tool.

[2012-08-20 07:34] #49 closed, assigned to nobody

[2012-08-20 23:11] #44 closed, assigned to mbroecheler

[2012-08-21 00:52] #36 closed, assigned to mbroecheler

[2012-08-21 06:19] #45 closed, assigned to mbroecheler

[2012-08-21 13:05] DanielThomas opened #60 "Fix multi-threaded correctness issues detected by FindBugs"
See #59. The priorities for these rules are low - I'd consider all violations in MT_CORRECTNESS category critical.

[2012-08-21 21:17] dalaro commented on #60
Some of the MT_CORRECTNESS bugs indeed read like they're worth a look, such as "&lt;object&gt; only synchronized &lt;less-than-100&gt;% of the time".

What about "&lt;method&gt; attempts to manually schedule threads by calling method Thread.sleep(long)"?  The explanation link for this bug description is http://findbugs.sourceforge.net/bugDescriptions.html#MDM_THREAD_YIELD, but that anchor doesn't

[2012-08-21 21:25] DanielThomas commented on #60
Yeah, really just concerned with the synchronization issues. That rule came from fb-contrib, the description reads like that they consider it a code smell, rather than any particular problem:

http://fb-contrib.sourceforge.net/bugdescriptions.html

[2012-08-22 14:04] DanielThomas commented on #58
This is a good example of a bug that would have been avoided using Optional. IMO, Optional is even safer and less ambiguous than an empty collection in cases like these:

https://github.com/thinkaurelius/titan/commit/72f849f1c3bf20d38ef82c06175318668da779ea

That said, if a collection is returned by a method and an empty collection doesn't introduce ambiguity, I'd prefer that over Optional, but us

[2012-08-24 03:46] mbroecheler commented on #58
Thanks for the pointer. That page was a good read. As I wrote in the in-line comment responding to your comment I think both Optional and empty immutable default collections have their place. The former is more "idiot-proof" but the latter is nicer to handle when you have a lot of default accesses (e.g. contains).

However, I completely agree on the general point: null should go. I will be looking

[2012-08-24 03:55] mbroecheler commented on #34
This issue is now addressed by #61

[2012-08-24 03:55] #34 closed, assigned to dalaro

[2012-08-24 04:10] jramsdale commented on #34
I have to confess, issue 61 is only a partial step. It doesn't change the overall size of the distribution--it just isolates the impact. There would still need to be research into whether JRuby is a required dependency. Apologies for waylaying the original conversation. I don't know HBase well, but I expect @dalaro is correct about it not being required. I would suggest reopening this and if @dala

[2012-08-24 04:21] mbroecheler commented on #34
Yes, Dan already excluded jruby in the titan0.1 branch pom, hence I
consider this issue closed. The reason I reopened it was for the pom
refactoring that you suggested. But that is in #61.

On Thu, Aug 23, 2012 at 9:10 PM, jramsdale notifications@github.com wrote:

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-08-24 04:50] jramsdale commented on #34
Ok. What's the plan to reconcile titan0.1 and master? (See other thread on
the subject...) Would like to know next steps to take.

-jeff

On Thu, Aug 23, 2012 at 9:21 PM, Matthias Broecheler <
notifications@github.com> wrote:

[2012-08-24 06:27] bobbyno opened #62 "Build fails on JDK 7 on OS X due to no snappyjava in java.library.path"
[code]

Workaround:
1. Download libsnappyjava.jnilib from [Google Code](http://code.google.com/p/snappy-java/source/browse/src/main/resources/org/xerial/snappy/native/Mac/x86_64/libsnappyjava.jnilib?name=snappy-java-1.0.3.3)
2. Copy to a directory on the java.library.path, e.g. /usr/lib/java/
3. Rename to libsnappyjava.dylib per the [snappy issue](http://code.google.com/p/snappy-java/issues/detail

[2012-08-24 08:36] mbroecheler commented on #60
I went through the list and tried to address a bunch of the issues in d038bc27ba07a7813e456c76e12995c641ab68d8. I will keep an eye on findbugs moving forward, but for now I hope it covers most of the critical issues. Most of the MT_CORRECTNESS that are left seem to be of the kind Dan mentions above or "sleeps without timeout when calling java.util.concurrent.locks.Lock.lock()"

Reopen if I missed

[2012-08-24 08:36] #60 closed, assigned to nobody

[2012-08-24 20:03] mbroecheler commented on #62
Thanks for the workaround. Obviously we want this to work out of the box. Is this a known issue in JDK 7 on Mac OS? Does it apply to other operating systems?

[2012-08-25 02:17] bobbyno commented on #62
Yes, it's a [known issue](http://code.google.com/p/snappy-java/issues/detail?id=39) involving changes in the naming conventions for shared libraries in JDK 7 on OS X. It doesn't affect other operating systems.

This issue was accepted as a defect and is scheduled to be included in the 1.0.5 snappy-java release, but there's no indication in that community when that will happen. I've asked the maint

[2012-08-26 01:54] bobbyno opened #64 "Titan against HBase in Gremlin shell hangs with Oracle JDK 7 on OS X"
[code]

...console hangs...

Config:

Titan 0.1
HBase 0.94

[code]

The same commands work when the Gremlin shell and HBase are started against Apple's JDK 1.6.0_33

[2012-08-27 16:33] dbxfb commented on #31
Sounds fine to me, thanks for taking this into account!

[2012-08-28 16:33] DanielThomas opened #66 "Should storage read operations should be avoided in StandardTitanGraph init?"
I've configured a Cassandra cluster and can't get Titan to start with an embedded Cassandra instance because I can't get a quorum (TitanFactory.open is on a critical path that will cause the service to fail if it fails).

I'll workaround by retrying the graph database open, but shouldn't storage dependencies be avoided in constructors, instead calling StandardIDPool.renewBuffer() lazily? That woul

[2012-08-29 17:11] DanielThomas opened #68 "Improve logging when using Titan as a dependency"
Managing the logging dependencies for Titan is a little tricky when using it as a dependency, with several logging frameworks brought in with dependencies. Consider:
- Excluding any log4j, commons-logging dependencies to prevent them sneaking in. Support those logging frameworks with SLF4J bridging modules
- Include the final SLF4J binding in the distribution only (supporting tests w/ test scope m

[2012-08-29 21:01] dalaro commented on #68
Making Titan agnostic about its logging backend would be nice.  But Titan should play nicely with Cassandra or HBase when they are put in a shared JVM.  Both Cassandra and HBase depend on slf4j and log4j.  I'd rather Titan support logback but default to log4j, unless logback demonstrates a meaningful performance increase over log4j or enables some useful new logging feature for Titan.

Since https

[2012-08-29 22:45] #14 closed, assigned to mbroecheler

[2012-08-29 22:45] mbroecheler commented on #37
Hey Dan,

do you have any news on this issue? I had hoped to be able to reproduce it once we had an embedded cassandra adapter in Titan, but no luck thus far. I did take another close look at the stack trace provided but cannot really explain where that crazy large maxID for the edge IDPool is coming from.
Some wild thoughts:
1) Do you have multiple Titan databases running against the same cassand

[2012-08-30 17:03] DanielThomas commented on #68
There's commons-logging dependencies coming in from HBase and several other Apache library dependencies. I typically add the SLF4J bridging libraries and exclude the dependencies explicitly:

http://stackoverflow.com/questions/4716310/is-there-a-way-to-exclude-a-maven-dependency-globally

I find logback easier to configure, allows far more flexible configurations and easier implementations of cust

[2012-08-30 17:22] DanielThomas opened #69 "Thread.sleep() in Titan LockingTransaction limits throughput"
I noticed during performance testing Titan that transactions that hold locks sleep for a minimum 100ms on commit and has the effect of limiting Titan throughput:

[code]

A brief read of the code seems to indicate lock seniority, ie. that a lock was gained _first_, is the priority. Reading the Javadocs on LockingTransaction#writeBlindLockClaim and GraphDatabaseConfiguration for the lock-\* setting

[2012-08-30 17:31] DanielThomas commented on #69
I read the verifyAllLockClaims() Javadoc again, and the sleep definitely seems to be about ensuring that the read value and expectedValue match:

[2012-08-30 19:59] #12 closed, assigned to mbroecheler

[2012-08-30 19:59] #66 closed, assigned to mbroecheler

[2012-08-30 20:02] mbroecheler commented on #37
Another thing: In a recent commit, lazy initialization of ID pools and type specific id pool sizes where introduced. Maybe those have an impact on the behavior you are seeing, so it might be worth trying out the current head of the titan0.1 branch and see if that changes anything.
Thanks!

[2012-08-30 22:18] mbroecheler opened #70 "Zombie lock timeout in LocalLockMediator"
Although the general-case locking code ignores locks over an age threshold as specified in the original protocol, this logic is not fully implemented in the LocalLockMediator.

Write a JUnit test with a timeout annotation to verify the current wait-forever-for-zombie-local-locks brokenness, then fix it and verify that the test passes.

[2012-08-31 02:25] #32 closed, assigned to mbroecheler

[2012-08-31 03:58] mbroecheler commented on #69
The reason for the sleep is as follows: When acquiring a lock, a transaction first applies for the lock. It then reads back all lock applications to see if its application was successful. Its considered successful if its timestamp is the oldest (plus some ip+port based conflict resolution). Now, since we have no guarantees from the storage backend in terms of when writes are going to be accepted,

[2012-08-31 05:21] mbroecheler opened #71 "Allow configuration of isolation level in BerkeleyJE adapter"
http://docs.oracle.com/cd/E17277_02/html/java/com/sleepycat/je/TransactionConfig.html

[2012-08-31 19:57] dalaro commented on #70
Thanks for extracting this from our email convo.

[2012-08-31 20:30] mbroecheler opened #72 "Refactor diskstorage package"
There seems to be repeated code in the diskstorage implementations for Cassandra.
1. Centralize configuration options and default values
2. Code de-duplication by using shared abstract classes, etc

[2012-08-31 21:54] mbroecheler opened #73 "Reinstantiate KeyIndexableGraphTestSuite"
test
.testGettingVerticesAndEdgesWithKeyValue()

in LocalBlueprintsTest and InMemoryBlueprintsTest

after https://github.com/tinkerpop/blueprints/issues/295 has been closed.

[2012-08-31 21:59] dalaro commented on #72
I've been neglecting this for a while.  Please note that this is not limited to Cassandra.  Refactoring should also consider HBase.

A specific example: containsKeyColumn() is implemented identically in terms of get() on all of the backends.  Self-referencing OrderedKeyColumnValueStore method implementations like this one naturally form an abstract base class that could be useful for anyone implem

[2012-08-31 22:39] dalaro commented on #69
This sleep exists for the general case where multiple Titan processes share a single logical storage backend (which may be distributed in turn) and where the Titan processes can't assume their writes are non-conflicting due to some external constraint (like batch loading).  This is implicit in Matthias's answer.  I think it's worth making explicit.  With just one Titan process, there's no point ei

[2012-09-01 22:53] #39 closed, assigned to mbroecheler

[2012-09-02 00:23] mbroecheler opened #74 "Repeated Vertex loading from disk"
When a full scan of vertices from disk has completed, all vertices will be in the vertexcache - hence subsequent vertex scans from disk could be avoided by going directly to the vertexcache.

[2012-09-02 03:23] dalaro commented on #43
I moved the HBase whirr recipe to the config folder of the source tree.

When we get more than one of these deployment-oriented files, whether Whirr recipes or CloudFormation templates or what have you, we might create a folder like "deployment" or something to hold them.  "config" is not an exact fit in my opinion.

[2012-09-02 03:23] #43 closed, assigned to dalaro

[2012-09-02 04:05] dalaro commented on #70
When I wrote additional tests, I found that this wasn't correctly implemented in the general-case locking code that talks to the storage backends.  In other words, expiration of zombie locks wasn't working at all, so abnormally terminated transactions could sometimes leave zombie locks in the storage backend indefinitely.  I've added testing for both the local and remote expiration cases and fixes

[2012-09-02 04:05] #70 closed, assigned to dalaro

[2012-09-02 19:30] mbroecheler opened #75 "Possible race-condition when closing BerkeleyJE adapter"
This exception seems to indicate a race condition when closing BerkeleyJE in multi-threaded transactions. However, this exception might also due to the stress testing on BerkeleyJE layer (this exception occurred on iteration 43 of the test suite).

Encountered error in testCompetingThreads
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Me

[2012-09-03 17:39] mbroecheler opened #76 "Extend Locking Test coverage"
Considering a multi-threaded stress-test type case and perhaps cases that tweak the timing variables -- using various expiration and wait times, for instance.

[2012-09-04 10:16] DanielThomas commented on #69
Guys, thanks, this is excellent.

I'm not familiar enough with Cassandra consistency/read repair/reliability of write statistics to really weight in on whether this is something that could be addressed at a storage layer or automatically tuned based on reported write latencies.

I watched Matthias' C\* presentation and noticed he called this out, is this tuning documented in the wiki?

[2012-09-04 18:47] mbroecheler commented on #69
Uh, I like your thinking on the automatic tuning of the lock write latency
timer. But that will be a Titan 2.0 feature ;-)

For now, I suggest you have a look at your cassandra quorum write latencies
under medium stress and set the value to the mean + X std deviations where
X is your measure of "conservativeness", i.e. a high value of X means that
only a very tiny percentage of lock acquisitions w

[2012-09-05 13:08] DanielThomas commented on #69
Great advice, thanks Matthias.

[2012-09-05 23:00] jasonculverhouse opened #78 "NPE in StandardTitanGraph.assignIDs"
This  this exception is thrown when I am performing a lot of concurrent writes to the graph database from several threads and several processes.    I have storage.flush-ids=false with a Cassandra backend  I can provide some additional information if required.

204790 [pool-1-thread-20] DEBUG com.thinkaurelius.titan.graphdb.database.StandardTitanGraph  - Saving transaction. Added 18164, removed 0
2

[2012-09-06 01:10] mbroecheler commented on #37
Closing for now...

[2012-09-06 01:10] #37 closed, assigned to mbroecheler

[2012-09-06 01:17] #69 closed, assigned to dalaro

[2012-09-06 21:45] mbroecheler opened #79 "Extend test coverag for EmbeddedCassandra storage backend"
in particular, add a Blueprints test

[2012-09-06 22:30] mbroecheler opened #80 "Refactor performance tests to become regression tests"
1. Extract metrics and compares those between releases
2. Enable batch for more intense reading/writing (these tests currently take waaaay to long)
3. Investigate potential Cassandra bug related to negative bloom filter size

[2012-09-07 00:54] mbroecheler opened #81 "Astyanax Error on shutdown"
When shutting down, an error is logged.

[2012-09-07 03:46] jasonculverhouse opened #82 "When IDBlockThread failes to claim ID block after lockRetries there is no way for the process to recover"
Here's a stack trace where  the `IDBlockThread` fails to allocate an id block after `lockTimes = 3`  Most of the time I see the process successfully get a new ID block after 1 retry.   In this case the storage exception bubbles up into  `IDBlockThread.run()` and there is no opportunity to recover.  I guessing there are ~4 to 6 processes writing to the graph when this happend.

[code]

[2012-09-07 16:07] okram opened #83 "Should we go full in on BerkeleyDB as opposed to "local""
gremlin> g = TitanFactory.open('/tmp/titan')
==>titangraph[local:/tmp/titan]

....?should be?

gremlin> g = TitanFactory.open('/tmp/titan')
==>titangraph[berkeleyje:/tmp/titan]

[2012-09-09 16:07] cjroth opened #84 "Maven build causes dozens of "[WARNING] We have a duplicate..." errors"
I'm trying to build my project with Titan and Maven is spitting out many dozens of "[WARNING] We have a duplicate..." messages. This only started happening when I added Titan.

I'm wondering if there's some modifications to my pom.xml that I could make to solve this. Maybe changing the Shade plugin's configuration? I think I could also add dependency excludes, but there are so many duplicates that

[2012-09-11 04:20] cjroth commented on #84
Update - was able to include it by compiling it with maven-assembly-plugin.

[2012-09-13 12:32] DanielThomas opened #85 "Gremlins outE query returns all edges from ReadOnlyGraph if label does not exist"
When using the Blueprints type maker, outE query returns all edges on a vertex if a label does not exist due to SimpleAtomicQuery returning null when a type does not yet exist:

[code]

The stack for the query to this point:

[code]

[2012-09-13 16:43] DanielThomas commented on #58
Oh, I came across this too. The Guava Immutable\* classes don't allow nulls, so you could use those as safer return collection in certain contexts:

https://plus.google.com/u/0/118010414872916542489/posts/8aY1LxiY15F

[2012-09-13 17:12] okram commented on #85
Hi,

I'm not getting that error:

[code]

Also, when doing a Vertex query, I don't get it:

[code]

Can you demonstrate how to reproduce your error via Gremlin?

Thanks,
Marko.

http://markorodriguez.com

On Sep 13, 2012, at 6:32 AM, Danny Thomas wrote:

[2012-09-13 20:42] espeed commented on #75
I'm getting this error when building the lastest GitHub master...

https://gist.github.com/3711518

$ uname -a
Linux life 3.5.2-3.fc17.x86_64 #1 SMP Tue Aug 21 19:06:52 UTC 2012 x86_64 x86_64 x86_64 GNU/Linux

$ java -version
java version "1.7.0_06-icedtea"
OpenJDK Runtime Environment (fedora-2.3.fc17.2-x86_64)
OpenJDK 64-Bit Server VM (build 23.2-b09, mixed mode)

UPDATE: Actually, OpenJDK is not

[2012-09-13 21:22] cjroth opened #86 "Index not being updated when property is changed."
Nevermind - solved.

[2012-09-13 22:50] espeed opened #87 "Rexster Docs Missing Steps"
The Titan Rexster docs are missing a few steps, such as building the jar-with-dependencies using `mvn:single` and the steps for creating the titanexample DB to get it running with Rexster.

See https://github.com/thinkaurelius/titan/wiki/Rexster-Graph-Server

And jar-with-dependencies is commented out in the pom.xml.

See https://groups.google.com/d/topic/aureliusgraphs/_WlNYsFUzZk/discussion

[2012-09-14 01:46] #86 closed, assigned to nobody

[2012-09-14 11:01] DanielThomas commented on #85
Thanks Marko, I should've spent a little more time on this before reporting it. Turns out the problem is Blueprints ReadOnlyGraph.

Stack for read-only graph:

[code]

Stack for command-line Gremlin:

[code]

Titan expects the returned query to replace the existing instance, but that's not how WrapperQuery works:

[code]

So, to reproduce (outE('blah') would obviously be enough to reproduce this,

[2012-09-14 18:38] mbroecheler commented on #82
I am assuming that you are loading a lot of data when this happens? In that case, its best to increase the id block size so that there isn't that much contention on the blocks. Also, increasing the retry-times will help in this case. Check the graph configuration: https://github.com/thinkaurelius/titan/wiki/Graph-Configuration.

In general, I think we should increase the default retry attempts for

[2012-09-14 18:39] mbroecheler commented on #84
You mean that by including the maven-assembly-plugin those warning messages went away?

[2012-09-14 18:46] mbroecheler commented on #85
Good catch! This looks like an omission in WrapperQuery which should not make the assumption that queries remain unchanged. Filed a corresponding ticket with Blueprints:
https://github.com/tinkerpop/blueprints/issues/300

[2012-09-14 18:46] #85 closed, assigned to nobody

[2012-09-14 18:48] mbroecheler opened #88 "Setting collections to null in StandardTitanGraph.save causes retry to fail"

[2012-09-14 19:23] mbroecheler opened #89 "Race condition in SystemTypeManager.getSystemEdgeType"
in creating the hashmap with all the system types.

[2012-09-14 19:28] cjroth commented on #84
Yes - removing the shade plugin and replacing with the maven-assembly-plugin worked.

[2012-09-14 19:41] mbroecheler commented on #84
Thanks. I have added an FAQ section to the documentation (https://github.com/thinkaurelius/titan/wiki/Building-Titan) if somebody else runs into this issue in the future.

[2012-09-14 19:41] #84 closed, assigned to nobody

[2012-09-14 19:50] cjroth commented on #84
Awesome :)

I've also received a recommendation to try the RPM plugin. When I get a chance, I'll test that as well and compare.

I'm using DropWizard, here is the issue with the shade-alternative suggestions: https://groups.google.com/forum/#!topic/dropwizard-user/HyqfIKbsgc8

[2012-09-14 21:13] #88 closed, assigned to mbroecheler

[2012-09-14 21:13] #82 closed, assigned to mbroecheler

[2012-09-14 21:13] #89 closed, assigned to mbroecheler

[2012-09-14 22:17] spmallette commented on #87
damn...james, you're right.  marko told me something shifted in the pom and i didn't connect it to this getting messed up.  i'll correct it as fast as i can.

[2012-09-17 17:22] spmallette commented on #87
james, i've modified the wiki page.  i've simplified things a bit to simply say: make a titan directory in the rexster ext folder and then copy the lib files from titan into it.

[2012-09-17 17:22] #87 closed, assigned to spmallette

[2012-09-17 19:21] espeed commented on #87
Thanks Stephen. It would probably help pull things together to include the
steps for creating the titanexample DB, or at least linking to those steps.

On Mon, Sep 17, 2012 at 12:22 PM, stephen mallette <notifications@github.com

[2012-09-18 09:41] spmallette commented on #87
Good point...missed that suggestion in the original bit you wrote....I've made a few more modifications.

[2012-09-19 18:14] okram opened #90 "HBase whirr recipe not consistent with HBase and Hadoop versions."
https://github.com/thinkaurelius/titan/blob/master/config/hbase-ec2-0.92.1.properties

this should use 0.94.1 and Hadoop 1.0.3 so as to be consistent with Aurelius' products.

[2012-09-20 17:13] jasonculverhouse opened #91 "MAX_WAIT_TIME that the StandardIDPool waits for the IDBlockThread is too short"
I'm pretty sure this has to be at least idauthority-wait-time \* idauthority-retries (300 \* 20) = 6000 vs the 2000 it is right now.

If I load a large amount vertices with batch-loading=true from a map reduce job sooner of later you will end up with a stack trace as follows with out seeing the "Could not acquire new ID block from storage" exception.

[code]

[2012-09-20 23:49] mbroecheler opened #92 "Read robustness in Titan"
Titan will automatically re-attempt saving transactional state upon encountering a TemporaryStorageException. It should do the same when reading.

[2012-09-21 11:59] DanielThomas opened #93 "Supernode edge loading heap utilisation problems"
We're seeing heap utilisation problems when dealing with supernodes (say 1M edges w/ a given label). The query is completely executed when hasNext() is first called on the iterator, in the case of ~1M edges, leading to over 350MB in retained heap between the ColumnFamily and the Titan objects.

Our query is a little convoluted, as we tag edges with a start and end timestamp:

[code]

However, the

[2012-09-21 19:13] mbroecheler commented on #93
Hey Danny,

yes, Titan will load all edges into memory at once given such a query. The
primary strategy to avoid this is using vertex centric indices. For
instance, if you have timestamps you can get a slice of edges for a
particular period of time. Also, you can nicely combine vertex centric
indices with limit() to get you the 100 most recent edges, for instance.

Generally, it would be smarter f

[2012-09-25 06:31] mbroecheler opened #94 "Improve exception output in case of non unique machine causing race condition"
Detect the case where the lock application got overwritten by an instance with the same unique id and alert the user to configure storage.machine-id.

---

Hi,
I'm running a map reduce job with ~300 mappers.   During the map I am writing each vertex into Titan/Cassandra.  For my test data set I am writing ~20 million vertexes at about 1 million per minute.    I've worked out most of the kinks but

[2012-09-28 23:14] mbroecheler opened #95 "OrderedKeyColumnValueIDManager reverse id block order"
so that the newest blocks are always on top. That way, one does not have to read all previous id block claims from the database when applying for a new one but only the 10 most recent or so (using limit). This will improve the id allocation performance significantly for large databases.

[2012-09-29 12:42] vadasg opened #96 "TitanFactory not imported when running Gremlin script"
I can create a new graph in an interactive Gremlin shell with no problems:

vadasg$ ./titan-0.1.0/bin/gremlin.sh

[code]

-----oOOo-(_)-oOOo-----
gremlin> g = TitanFactory.open('/tmp/titantest1')
==>titangraph[local:/tmp/titantest1]
gremlin> exit

However, when I do the same thing in a script that I run with Gremlin I get the following error:

vadasg$ echo "g = TitanFactory.open('/tmp/titantest2')

[2012-09-30 01:59] espeed commented on #87
I think the Rexster/Titan docs are still missing some steps...

[WARN] GraphConfigurationContainer - Could not load graph titanexample. Please check the XML configuration.
[WARN] GraphConfigurationContainer - GraphConfiguration could not be found or otherwise instantiated:.com.thinkaurelius.titan.tinkerpop.rexster.TitanGraphConfiguration
[WARN] GraphConfigurationContainer - com.thinkaurelius.titan

[2012-09-30 10:39] spmallette commented on #87
i'll walk through them again...

[2012-10-02 08:58] DanielThomas commented on #93
Matthias, thanks. This is an OLTP query, and we do have a timestamp field that is a primary key, so the latest vertexes would be coming off the query in that order anyway, so a vertex centric index/limit() approach seems to be exactly what we need to deal with this for the moment.

[2012-10-02 18:00] okram opened #97 "Query.has() with ORing of values."
It would be good to have Query.has() have a definition of:

   Query.has(String key, Compare compare, Object... values)

Where the values are OR'd. Very convenient when propagated through to Gremlin.

@mbroecheler  In Faunus, we have g.v(1)....has('name','marko','peter').  This is OR, where name can be either marko or peter.  has(String key, Object... values). I was going to add this to Gremlin as

[2012-10-02 18:32] okram commented on #96
Fixed. Pushed to 0.2-SNAPSHOT.

[code]

[2012-10-02 18:32] #96 closed, assigned to nobody

[2012-10-07 16:28] ventlam opened #98 "java.lang.ClassNotFoundException on running bin/gremlin.sh"
I am new to titan,just follow Getting Started ,download and unzip the titian.zip,and the run ./bin/gremlin.sh ,cause error as below :
Exception in thread "main" java.lang.NoClassDefFoundError: JAVA_HOME=/usr/lib/jvm/java-6-sun
Caused by: java.lang.ClassNotFoundException: JAVA_HOME=.usr.lib.jvm.java-6-sun
    at java.net.URLClassLoader$1.run(URLClassLoader.java:202)
    at java.security.AccessContr

[2012-10-07 18:32] mbroecheler opened #99 "Use Iterator Model for getSlice()"
and make implementations stream result set in reasonably sized batches to avoid timeouts

[2012-10-09 16:39] okram opened #100 "Renamed "A Highly Scalable, Distributed Graph Database" to "A Distributed Graph Database""
Keep it simple like "Graph Computing with Hadoop" ...

[2012-10-14 00:59] okram opened #101 "error in hbase-whirr.properties. REGION_SERVER_OPTS"
See last lines of:

https://svn.apache.org/repos/asf/whirr/trunk/recipes/hbase.properties

[2012-10-17 21:47] okram commented on #101
Fixed.

[2012-10-17 21:47] #101 closed, assigned to nobody

[2012-10-21 02:23] espeed commented on #87
I'm still getting this error because when following the Rexster docs and building Rexster from source -- Rexster's `mvn clean install` is not copying the Titan jar files into `rexster/rexster-server/target/rexster-server-2.2.0-SNAPSHOT-standalone/ext/titan`.

For one thing, the doc paths are inconsistent:

[code]

See https://github.com/thinkaurelius/titan/wiki/Rexster-Graph-Server

[2012-10-21 10:25] spmallette commented on #87
I fixed that issue with the path inconsistencies you mentioned...jeez...how many times did i go through those docs and miss that.

The docs don't contain what to do if building rexster from source.  Since Titan will likely never depend on anything other than a static official build, that doesn't seem necessary.  I would expect most people would download 2.1.0 and go.

In any case, if you are build

[2012-10-22 09:03] espeed commented on #87
The previous docs said this:

If building Titan and Rexster from source, copy the target/titan-0.1-SNAPSHOT-jar-with-dependencies.jar to the Rexster ./rexster-server/src/main/ext directory and then do mvn clean install on Rexster.

[2012-10-22 10:04] spmallette commented on #87
Since titan doesn't jar with dependencies anymore, we didn't want to present confusion in that way and chose to assume that Titan would run with a built/released rexster version.  Do things work for you now?

[2012-10-23 00:35] mbroecheler opened #102 "Vertex Removal throws Exception"
If I try to remove two related vertices in the same transaction, an IllegalArgumentException is thrown.  If the 2 removeVertex operations are performed in independent transactions it seems to work properly.

The following test case fails:

Vertex v1 = g.addVertex(null);
Vertex v2 = g.addVertex(null);

Edge e = g.addEdge(null, v1, v2, "some_edge");

g.stopTransaction(Conclusion.SUCCESS);

v1 = g.ge

[2012-10-23 22:27] okram opened #103 "Create a 3rd party connectors page ..."
with links to Bulbs, RubyRexster, ???........

[2012-10-28 15:58] okram commented on #97
Going through what I want to do with Gremlin -- this feature would be highly appreciated as it would allow us to still remain in "Query-world" if has()-ORing is supported by Blueprints Query.

[2012-10-30 09:48] castarco commented on #102
I think the problem is not in Titan, but in the fact that you don't delete the created edge in first place.

[2012-10-30 11:44] mbroecheler opened #104 "Faunus Titan Writer"
Refactor Titan to expose a batch writing utility that can be called by external libraries like Faunus.
Figure out how to do type management in that scenario.

public TitanHBaseRecordWrite {
    FaunusVertexRelationWriter writer = // setup code makes this what it needs to be.
    public void void(NullWritable key, FaunusVertex value) {
        Put put = writer.createPut(value);
        context.writ

[2012-10-30 14:56] okram opened #105 "Titan/BerkeleyDB error with g.E"
gremlin> g.E.count()
java.lang.IllegalArgumentException
Display stack trace? [yN] y
java.lang.IllegalArgumentException
    at com.google.common.base.Preconditions.checkArgument(Preconditions.java:76)
    at com.thinkaurelius.titan.graphdb.entitystatus.BasicElement.<init>(BasicElement.java:17)
    at com.thinkaurelius.titan.graphdb.vertices.PersistStandardTitanVertex.<init>(PersistStandardTitanVert

[2012-10-30 17:03] okram commented on #105
Problem was mixing Titan 0.1.0 with Titan 0.2-SNAPSHOT.

However, g.E.count() runs out of memory with Titan/BerkeleyDB --- true iterator needed.

[2012-10-30 17:03] #105 closed, assigned to mbroecheler

[2012-10-31 16:22] okram opened #106 "Composite Primary Key Edge Loading mistake"
When a composite key is defined on a label, a restricted query will be interpreted as an unrestricted query which leads to missing data.

[2012-10-31 16:29] mbroecheler opened #107 "Add whirr file to assembly so its part of distribution"

[2012-11-01 01:56] okram commented on #107
done.

[2012-11-01 01:56] #107 closed, assigned to okram

[2012-11-01 01:58] okram commented on #98
I don't believe this is an issue with Gremlin, but your environment. If you can isolate it to Gremlin, please reopen and provide more information (or the fix). Thanks.

[2012-11-01 01:58] #98 closed, assigned to nobody

[2012-11-01 01:58] okram commented on #90
done.

[2012-11-01 01:58] #90 closed, assigned to dalaro

[2012-11-01 02:38] okram opened #108 "Titan distribution folder is over chmod'd"
drwxrwxrwx 7 ubuntu ubuntu       4096 2012-09-06 18:03 titan-0.1.0

Get this like Faunus:

drwxr-xr-x 7 ubuntu ubuntu       4096 2012-09-21 07:20 faunus-0.1-alpha

[2012-11-01 16:33] okram opened #109 "Titan Monitoring Tools (---roll into Faunus/Fulgora)"
http://ganglia.sourceforge.net/

[2012-11-01 17:04] sgottipa opened #110 "May I know how do I create different graph instances on same HBase storage"
I am exploring titan to see whether I can use it in my domain.
We have a need where we need to store different graphs in the same HBase instance.

I see, in titan you can get a graph from TitanFactory and manipulate nodes/edges from there. But I don't see a way where it treats each graph instance as a first class citizen.
Am I missing something?

[2012-11-04 02:05] okram opened #111 "Titan cache and vertex-centric indices"
When you do a:

   v.outE.inV

Then do a

  v.outE[0..5].inV

..the primary key is not respected. I can provide an example if you don't know what I'm talking about, but we discovered this in Tennessee.

[2012-11-05 01:36] mbroecheler commented on #110
Hey,
please use our mailing list for questions:
aureliusgraphs@googlegroups.com
groups.google.com/group/aureliusgraphs

This issue tracker is for bugs and features only.
Thank you,
Matthias

[2012-11-05 01:36] #110 closed, assigned to nobody

[2012-11-06 02:55] dbxfb commented on #37
Hi Matthias,

I am deeply sorry for not answering earlier, I started a new university semester and forgot to check github notifications...

Unfortunately I cannot look into this peculiar issue anymore, as my internship ended 2 months ago and thus I do not have either code or data available at hand :/

I can however reply to both your questions:
1) I only had 1 Titan database running on my Cassandr

[2012-11-06 11:01] jal06 opened #112 "Wrong results in queries. Properties displayed are not the properties of the vertex"
Hello,

I am using titan with rexster and Cassandra :
- titan 0.1.0
- rexster 2.1.0
- cassandra 1.1.5 (1 single node in my VM)

When using gremlin with the graph of the Gods, everything is working corectly (I do the requests described in the Getting started page).

When I use gremlin with my data, the results of requests look wrong.
Example : I load a small graph (5 vertex and 4 edges) : you will

[2012-11-06 11:07] vadasg opened #113 "incorrect command in using-hbase wiki page"
In the wiki page

https://github.com/thinkaurelius/titan/wiki/Using-HBase

the section Tips and Tricks for Managing an HBase Cluster has the following lines:

sudo -u hadoop $HBASE_HOME/bin/hbase-daemon.sh stop regionserver
sudo -u hadoop $HBASE_HOME/bin/hbase-daemon.sh stop regionserver

these should read (note the "start" towards the end of the second line)

sudo -u hadoop $HBASE_HOME/bin/hbase-

[2012-11-06 16:43] okram commented on #113
done. thanks.

[2012-11-06 16:43] #113 closed, assigned to nobody

[2012-11-08 04:49] mbroecheler commented on #112
Why do you think those results are wrong?

gremlin> msisdn = g.V('name', '336803134278').next()
==>v[16]
gremlin> msisdn.map
==>{name=336803134278, legacymodificationdate=MSISDN}

When you retrieve a vertex with that name you would expect that vertex to
have that name and not some other id as you said.
It sounds like the xml file might contain data different from what you
expect?

On Tue, Nov 6, 2

[2012-11-08 07:43] jal06 commented on #112
Yes,

I hava atached the xml file containing my data.
Please, have a look at the data in the xml file : the result should be
legacymodificationdate = 2005051614342 instead of legacymodificationdate =
MSISDN

2012/11/8 Matthias Broecheler notifications@github.com

[2012-11-08 16:17] zcox opened #114 "Queries not returning any results after inserting new data"
While evaluating Titan with a local Cassandra backend, I'm having trouble getting any data for some basic queries. Code to reproduce is here:

https://github.com/zcox/titan-scala-test/blob/master/src/main/scala/tweet.scala

Typical sbt console/scala repl output I see is like this:

https://github.com/zcox/titan-scala-test/blob/master/tweet-console-output

With new, empty local Cassandra, set up sc

[2012-11-08 22:14] okram commented on #100
We decided on "Distributed Graph Database"

[2012-11-08 22:24] okram commented on #100
Done. pom.xml, gh-pages index.hmtl, and GitHub repo name.

[2012-11-08 22:24] #100 closed, assigned to mbroecheler

[2012-11-08 22:52] mbroecheler commented on #112
Hey Jean,

thank you very much for sending this along. I was able to reproduce your problem. However, its not a Titan issue but an issue in the GraphML reader, filed here: https://github.com/tinkerpop/blueprints/issues/326

[2012-11-08 22:52] #112 closed, assigned to nobody

[2012-11-08 23:21] okram commented on #112
@jal06 Your XML is bugged. Use the following correct header.

[code]

   {name=335747055871, type=NDRTC}
   {userlevel=1, name=CugaC5li5uhgoEucTvmDUYIc7qbJEtg08mNFwHUzwxX, mergeusertype=2, isnew=1, type=ISE,   mergestatus=2}
   {userlevel=2, name=9rV3jV3mwMnHIRDqqIVsMCErPLGMgYXwVIoRdX1c7RN, mergeusertype=0, isnew=1, type=ISE,   mergestatus=5}
   {name=336803134278, legacymodificationdate=200505161

[2012-11-09 06:41] jal06 commented on #112
OK Thanks.

Works fine now.

[2012-11-15 19:16] #102 closed, assigned to mbroecheler

[2012-11-15 19:51] mbroecheler opened #115 "Improve raw vertex neighborhood retrieval"
Filter bytebuffers instead of reading out edges first. Improve determination of when to retrieve in-memory.

[2012-11-16 13:55] DanielThomas opened #116 "Failure to lock against the local lock mediator causes a permanent locking exception"
We're using a unique key to store a unique identifier on graph nodes. We're seeing large numbers of PermanentLockingExceptions due to lock contention on the index lock:

[code]

Locks against the backing store are retried and failures to aquire a lock result in a TemporaryLockingException. Should the local locks be similarly retried or at least result in a temporary exception to allow the entire c

[2012-11-19 07:14] mbroecheler commented on #116
Just to make sure I understand correctly: Are those lock contentions correct? I mean, are you saying that there is a bug in how the locks are being acquired and validated or that it should be a different type of exception to facilitate retry?

Regarding the exception type, what we were trying to accomplish is characterize locking exceptions as follows:
- Temporary: the reason the lock application

[2012-11-19 09:40] DanielThomas commented on #116
No concern about the locking itself, I'm sure the lock contentions are correct. Just wanted to determine whether Titan should be retrying these index locks, because they feel more like an internal concern of Titan, rather than something that should bubble up to the application. They're potentially very frequent, and there might be additional, undesirable overhead from retrying the commit, that cou

[2012-11-21 20:22] spmallette opened #117 "Better Handle Empty Graph Location In Rexster Configuration"
Migrated this issue from Rexster at:

https://github.com/tinkerpop/rexster/issues/244

Leaving out graph-location works, but specifiying an empty one causes a failure.

Example, with output:

[code]

[code]

Removing it fixes the problem:

[code]

[code]

It seems weird that this would be expected behavior, given that all the Titan examples have the section in there (even for cassandra).

[2012-11-28 16:02] ghost commented on #117
+1 ;-)

Spend an hour on editiing my config before finding this issue report...

[2012-11-28 17:24] spmallette commented on #117
Fixed...

[2012-11-28 17:24] #117 closed, assigned to spmallette

[2012-12-06 00:01] mbroecheler opened #118 "Verify that object can be deserialized prior to writing it"

[2012-12-09 23:36] friksa opened #119 "Spring MVC Startup Issue"
Trying to evaluate Titan with Spring MVC, but with no luck.  I am able to recreate the issue with these steps:

1) Using STS 2.8.1 on OSX10.8 create a new Spring MVC project using the provided template (this runs fine)
2) Now add the Titan Maven dependency and restart TC server

[code]

TC Server fails to startup now with the following stack trace:

[code]

[2012-12-12 23:20] mbroecheler commented on #119
Can you give me a bit more context? What is the Titan exception you are seeing? Never used Titan with Spring MVC, so I am not sure what I am supposed to be looking at. Thanks.

[2012-12-12 23:34] friksa commented on #119
There is not a single line of code written yet.  This is simply adding Titan's Maven POM.  At that point, the server will not start up anymore.

Spring is a very popular FrameWork used by many large and small companies:
http://www.springsource.org

Neo4j is also well integrated with Spring, but cost-prohibitive:
http://www.springsource.org/spring-data/neo4j

Hope that helps.  Let me know if I can

[2012-12-13 00:02] mbroecheler commented on #119
Thanks! Do you know why it is not starting up? In the stack trace that you
provided, I don't see anything Titan specific. It seems to require some xml
file which is not there. Could that be the problem?

On Wed, Dec 12, 2012 at 3:35 PM, friksa notifications@github.com wrote:

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-12-13 00:07] friksa commented on #119
Unfortunately I am no Maven expert.  I simply followed the instructions on your web site for adding Titan using Maven, but without luck.  It is easy to recreate with the steps provided and prevents us from evaluating Titan for a few projects that we are ready to start.  We were able to get OrientDb going with their Maven instructions in the same setup, but were hoping to try Titan with Cassandra t

[2012-12-13 05:45] mbroecheler commented on #72
Major refactoring of diskstorage package has been completed in "storage" branch

[2012-12-13 05:45] #72 closed, assigned to dalaro

[2012-12-13 05:49] mbroecheler commented on #7
Not convinced that this is really needed. Titan now supports multiple partition spaces and people can adjust the id pool allocation size. So, while a few ids will be lost on database shutdown this should be tolerable compared to the significant overhead incurred by reusing ids. Will keep this issue open to keep thinking on it, but for now its a "no fix".

[2012-12-13 05:50] mbroecheler commented on #35
Fixed in commit 6ace728204750e695b72741ae63713997af4d1b7

[2012-12-13 05:50] #35 closed, assigned to mbroecheler

[2012-12-13 05:55] mbroecheler commented on #78
I could not quite isolate the problem, but there have been a bunch of improvements to the ID assignment module. Could you try running your code again and see if you still get the same issue?

[2012-12-13 06:04] mbroecheler commented on #92
fixed in "storage" branch

[2012-12-13 06:04] #92 closed, assigned to mbroecheler

[2012-12-13 06:06] mbroecheler commented on #111
fixed in 6ace728204750e695b72741ae63713997af4d1b7

[2012-12-13 06:06] #111 closed, assigned to mbroecheler

[2012-12-13 06:07] mbroecheler commented on #99
This has already been partially fixed for titan0.2 for getting all vertices/edges out of the backend. For edges, one should use a reasonable limit for now.

[2012-12-13 06:08] mbroecheler commented on #76
some additional tests have been added as part of bug fixing. More to come.

[2012-12-13 06:10] mbroecheler commented on #83
added berkeleyje as a configuration option for the backend.

[2012-12-13 06:10] #83 closed, assigned to nobody

[2012-12-13 06:16] #93 closed, assigned to nobody

[2012-12-13 06:17] mbroecheler opened #120 "POM Refactoring for multi modules"
so that each storage backend becomes its own module.

[2012-12-13 06:21] mbroecheler commented on #108
where does that need to happen? In the pom or before packaging it up?

[2012-12-13 06:32] #73 closed, assigned to mbroecheler

[2012-12-13 08:41] mbroecheler commented on #95
Fixed by da8901bcea96f225bc445f4e13289b0f04e18e14

[2012-12-13 08:41] #95 closed, assigned to mbroecheler

[2012-12-13 09:36] mbroecheler commented on #106
False report.

[2012-12-13 09:36] #106 closed, assigned to mbroecheler

[2012-12-13 11:37] spmallette commented on #108
in distribution.xml...

https://github.com/tinkerpop/rexster/blob/master/rexster-server/src/assembly/distribution.xml

[2012-12-13 20:23] mbroecheler commented on #108
the <fileMode>0775</fileMode> is already in there but Marko said it does not work.

[2012-12-13 22:49] rand opened #121 "Upgrade to Kryo v2"
Upgrading to Kryo v2 for serialization will allow Titan to share JVM with Storm, Cascalog, and a whole host of other recently mature data tools (http://code.google.com/p/kryo/#Projects_using_Kryo).

[2012-12-13 23:31] okram commented on #103
Done (see main Titan wiki). I stuck specifically to those that are Titan specific. There are numerous TinkerPop related projects that can be used with Titan. As we see people use these 2nd degree projects more and more with Titan, we can simply add them to the wiki.

[2012-12-13 23:31] #103 closed, assigned to okram

[2012-12-14 00:01] okram opened #122 "Please make sure Titan/Rexster documentation is valid."
https://github.com/thinkaurelius/titan/wiki/Rexster-Graph-Server

[2012-12-14 17:28] mbroecheler commented on #119
I will have to look into this more. The error seems to be a missing xml file, so I suspect that Spring expects some properties from the pom dependency that Titan does not currently fulfill. I am no Spring expert, so we'll need to figure out what that is exactly.

[2012-12-14 17:59] mbroecheler commented on #121
Good point. Since Kryo2 has a different byte format than Kryo1 (https://groups.google.com/forum/?fromgroups=#!topic/kryo-users/lwIoWXBhXXs) this will require a full database upgrade for existing installations. Hence, we are planning this for 0.3 which includes some other incompatible changes and will therefore come with an automatic update process.

[2012-12-14 18:11] mbroecheler commented on #81
Upgrade to newest version of Astyanax. However, there seems to be an issue with modification re-ordering in the newest version that leads to test case failure:
https://github.com/Netflix/astyanax/issues/164
Once that is fixed:
1) Make sure that the shutdown error is gone
2) That repeated connections to exhaust sockets (#54)

[2012-12-14 18:11] mbroecheler commented on #54
see: https://github.com/Netflix/astyanax/issues/105

[2012-12-14 18:11] #54 closed, assigned to mbroecheler

[2012-12-14 18:55] mbroecheler commented on #118
Updated documentation to make users aware: https://github.com/thinkaurelius/titan/wiki/Datatype-and-Attribute-Serializer-Configuration

[2012-12-14 19:23] mbroecheler commented on #91
This has been fixed in the "storage" branch and will be merged back into master for the 0.2 release.

[2012-12-14 19:23] #91 closed, assigned to mbroecheler

[2012-12-14 19:37] mbroecheler commented on #114
Sorry, I missed this issue. From the log output, we can see that the data is written to cassandra, but somehow it is not coming back out. We have a ton of test cases that verify correctness for such simple test queries, so I suspect its something at the scala-java intersection that is causing this because your query looks right to me. Can you try a simple
user.query().count()?

[2012-12-14 19:50] #79 closed, assigned to mbroecheler

[2012-12-15 00:19] mbroecheler commented on #118
check that type has no argument constructor:

[code]

[2012-12-17 20:19] spmallette commented on #122
went through...made some updates.  tested all the instructions.

[2012-12-17 20:19] #122 closed, assigned to spmallette

[2012-12-18 00:05] mbroecheler opened #123 "Make AtomicQuery an immutable structure"
and have it "compile" before executing.
Distinguish between constructor queries (i.e. SimpleTitanQuery) and execution queries (i.e. AtomicQuery).

[2012-12-21 12:08] mbroecheler opened #124 "Store information about Titan version in backend"
This makes it easier to upgrade and reason about the state of the database.

[2012-12-21 12:37] spmallette commented on #124
Could this be implemented through this issue in blueprints in some way?  Some manner of "system" property maybe?

https://github.com/tinkerpop/blueprints/issues/237

just something to consider....

[2012-12-21 12:44] mbroecheler commented on #124
Didn't know about that issue. Could be. But I think there needs to be
something native in Titan which i can refer to when writing upgrade scripts
and the like - simply for error checking purposes.

On Fri, Dec 21, 2012 at 4:37 AM, stephen mallette
notifications@github.comwrote:

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2012-12-23 16:24] mbroecheler commented on #78
Closing the issue for now. Please re-open if the issue persists.

[2012-12-23 16:24] #78 closed, assigned to mbroecheler

[2012-12-23 16:24] mbroecheler commented on #114
Closing the issue for now. Please re-open if the issues persists.

[2012-12-23 16:24] #114 closed, assigned to mbroecheler

[2012-12-27 04:37] xedin commented on #124
@mbroecheler Can I take this one?

[2012-12-27 04:38] xedin commented on #123
@mbroecheler Can I take this one?

[2012-12-28 21:39] mbroecheler opened #125 "HBase Improvements"
courtesy of Furcy Pin:

1) You use only one table with up to 5 column families, while the documentation recommends
here http://hbase.apache.org/book/number.of.cfs.html to keep the number of column families small (no more than 2).

2) The column family names are very long (eg: edgestore, propertyindex), while the documentation
recommends here http://hbase.apache.org/book/rowkey.design.html#keysize.

[2012-12-29 06:12] xedin commented on #124
@mbroecheler Code is pushed to titan/issue_124 branch and ready for review, I have added getLastSeenTitanVersion, setTitanVersionToLatest methods in StoreManager, so it would be convenient to do upgrades by checking latest version - doing required migration - reseting that version to the latest.

[2012-12-29 17:56] okram opened #127 "Self looping -- in edge count off after transaction committed. (but good when out edges are counted)"
gremlin> g = TitanFactory.open('/tmp/blah2')
==>titangraph[local:/tmp/blah2]
gremlin> v = g.addVertex()
==>v[4]
gremlin> g.addEdge(v,v,'self')
==>e[11:4:36028797018963982][4-self->4]
gremlin> v.inE.count()
==>1
gremlin> v.outE.count()
==>1
gremlin> g.stopTransaction(SUCCESS)
==>null
gremlin> v = g.getVertex(4)
==>v[4]
gremlin> v.inE.count()
==>0
gremlin> v.outE.count()
==>1
gremlin> v.inE.count()

[2012-12-29 18:01] okram commented on #127
It might be good to also have a transaction test in Blueprints transactional test suite that validates this behavior.

[2012-12-30 10:54] mbroecheler commented on #127
I will fix the bug. Can you add the test to blueprints?
On Dec 29, 2012 7:01 PM, "Marko A. Rodriguez" notifications@github.com
wrote:

[2012-12-30 18:34] okram commented on #127
Done. A validating test has been added to Blueprints TransactionalGraphTestSuite.

Pushed to Blueprints 2.3.0-SNAPSHOT and deployed to SonaType repo.

[code]

Marko.

On Dec 30, 2012, at 3:54 AM, Matthias Broecheler notifications@github.com wrote:

[2013-01-02 15:52] devsprint commented on #119
I can take a look to the problem. It will be easy if you can post the pom.xml file, @friksa

[2013-01-02 15:56] rafatuita commented on #119
I do have Titan with Spring working without any issues... please also upload your context file so we can have a look, but apparently there's an issue with classcasting of your servlet container

Caused by: java.lang.ClassCastException: com.sun.jersey.server.impl.container.servlet.JerseyServletContainerInitializer cannot be cast to javax.servlet.ServletContainerInitializer
    at org.apache.catalin

[2013-01-02 16:00] friksa commented on #119
Had issues getting XML pasted.  Please use link:
http://pastie.org/5611511

[2013-01-02 16:15] devsprint commented on #119
Like @rafatuita mention, there is a classpath issue. it seems that you are trying to use 2 different versions of servlet api, 2.5 and 3.0.1

In you pom, you are mentioning 2.5 version but titan has a dependency on rexter-server, that has a dependency on servlet api 3.0x . I guess, that you can confirm this by opening the pom.xml file in STS, select Dependency Hierarchy tab, and in Resolved depende

[2013-01-02 17:00] friksa commented on #119
It seems that you may be correct...  However...

Disclaimer:  I am not a Maven expert.

Spring uses servlet-api-2.5 "provided"...

Titan has:
- rexster-core with servlet-api-3.0.1 "compile"
- hbase with servlet-api-2.5 "compile"
- hbase with jsp-api-2.1 with servlet-api-2.5 "compile"

Since the issue is at runtime, I wonder if the hbase dependency is causing the issue with the "compile" scope.

Tr

[2013-01-02 17:29] devsprint commented on #119
You can try to update the pom.xml and add the titan dependency as follow:

[code]

But, this will let you use only the berkley db storage....

[2013-01-02 17:37] friksa commented on #119
Still failing.  We gave up on Titan - so no rush here anymore.  Happy to help resolve this issue though.

[code]

[2013-01-02 17:43] devsprint commented on #119
For me it is working just fine. I'm created a new spring-mvc-showcase project and added the dependency as above. Just make sure that you clean the project from STS menu (Project/Clean) and after you are re-deploying the application on server.

[2013-01-02 17:49] friksa commented on #119
It must be the version of STS that I am using that is causing the issue now.  I am a little behind as the new version of STS on the Mac has horrible performance.

Thanks for your help.  Please feel free to close this ticket as you found a resolution.  Hopefully it helps others evaluating Titan.

[2013-01-02 17:55] devsprint commented on #119
I've continue a little bit the investigation and I was able to make it work with Cassandra back-end, so the dependency should be:

[code]

I'm using STS 3.1.0.RELEASE on Mac OS X 10.8.2 (Java 6 and Java 7), 8 Gb RAM and seems to work ok for my projects (not so much Spring...)

[2013-01-02 17:58] friksa commented on #119
Great!  I am on STS 2.9.2.RELEASE... works great until certain Spring refactoring and then everything grinds to a halt.

Waiting for STS 3.2.RELEASE to upgrade.

[2013-01-02 18:14] devsprint commented on #120
it seems that also hadoop support has to be in its own module.

[2013-01-02 18:59] okram commented on #120
@mbroecheler -- I can do this at anytime. What needs to happen is all branches need to be merged into master as this change will cause merging nightmare afterwards. Once that happens, I need ~1-2 hours to modularize the project with no one forking or touching master.

[2013-01-03 19:18] devsprint opened #128 "Add support fo Cassandra 1.2.0"
Hi,

a new improved version of Cassandra 1.2.0 is available. I have tested to see if there if it can be used as embedded or just as a storage. Both of the tests failed do to changes in cassandra configuration file (cassandra.yaml) and thrift interface (I guess).

Can this request be added to next release?

Thanks,
Gabi

[2013-01-04 00:27] #124 closed, assigned to nobody

[2013-01-04 04:15] mbroecheler opened #129 "Filter out deleted vertices in index calls and global iterations"
[code]

[2013-01-04 04:25] mbroecheler commented on #128
Thanks, we will have a look at this.

[2013-01-05 03:50] mbroecheler opened #130 "Do not read certain properties when overwriting"
When setting a property for a key that is functional and does not require locking, one does not need to do a read for an existing property.
This saving is significant during batch loading.

[2013-01-05 09:16] xedin commented on #120
This introduced dependency problem in cassadra-1-2-integration branch after merging from master

Running com.thinkaurelius.titan.diskstorage.cassandra.thrift.InternalCassandraThriftMultiWriteKeyColumnValueStoreTest
java.lang.NoClassDefFoundError: org/jboss/netty/logging/InternalLoggerFactory
    at org.apache.cassandra.service.CassandraDaemon.setup(CassandraDaemon.java:328)
    at org.apache.cassa

[2013-01-05 18:25] mbroecheler commented on #120
What is causing this?

On Sat, Jan 5, 2013 at 1:16 AM, Pavel Yaskevich notifications@github.comwrote:

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2013-01-06 01:37] xedin commented on #120
It looks like system can't find this class "org/jboss/netty/logging/InternalLoggerFactory" for Titan-Cassandra package, this happend when I merged change from master.

[2013-01-06 01:54] xedin commented on #120
I have found the cause of problem, will close as soon as made sure.

[2013-01-06 02:08] xedin commented on #120
mvn clean test - passed, but there is another problem in master and my branch, when I do mvn clean install or mvn clean package I get this

[ERROR] Failed to execute goal on project titan-berkeleyje: Could not resolve dependencies for project com.thinkaurelius.titan:titan-berkeleyje:jar:0.3.0-SNAPSHOT: Failure to find com.thinkaurelius.titan:titan-test:jar:0.3.0-SNAPSHOT in http://download.oracle.

[2013-01-06 02:13] okram commented on #120
When all of these modules build fully, we need to:
1. go through each pom.xml and remove all dependencies not needed.
2. go through each pom.xml and try and push <plugin>s to parent pom.
3. figure out the resource/ requirements in src and test.
4. create a single titan-all that has the Gremlin shells.

[2013-01-06 10:00] mbroecheler commented on #120
Hey Vadas,

thanks for working this out. Both Marko and I were seeing similar issues to
the one below and had to build each project individually first before the
mvn clean install on the root level would work. Does that work for you as
well? This is another thing we have to figure out.
Cheers,
Matthias

On Sat, Jan 5, 2013 at 6:09 PM, Pavel Yaskevich notifications@github.comwrote:

##

Matthias Br

[2013-01-06 11:17] vadasg commented on #120
emailMessage.replace("Vadas","Pavel") probably :)

On Jan 6, 2013, at 5:00 AM, Matthias Broecheler notifications@github.com wrote:

[2013-01-06 21:06] mbroecheler commented on #120
Gee, I am sorry - it was late ;-)
Of course I meant Pavel.
Have you tried building individually, Pavel?

On Sun, Jan 6, 2013 at 2:00 AM, Matthias Broecheler me@matthiasb.comwrote:

##

Matthias Broecheler, PhD
http://www.matthiasb.com
E-Mail: me@matthiasb.com

[2013-01-06 21:29] xedin commented on #120
I did try building them (with mvn clean) one by one and the same error happens with berkleyje, cassandra and hbase modules

http://pastebin.com/iLZV5Yea

I didn't include hbase error there because it's exactly the same as titan-cassandra

[2013-01-07 15:23] devsprint commented on #120
Guys,

I have checkout the cassandra-1-2-integration branch and I'm not seeing the issues mention above. Try to remove 0.3.0-SNAPSHOT artifacts from your local repo and run mvn clean install in root. This is what I'm doing...

However, in the test.log file below, it seems that there are some issues with the startup of Cassandra Daemon caused by the change of the partitioner strategy... see last 2

[2013-01-07 18:08] xedin commented on #120
@devsprint I will try removing those, thanks!

@mbroecheler  I wonder why those tests were working before as nothing wipes out data directory after each run, so when you run with different configs in the same data directory it should fail. Probably Cassandra in 1.1.x wasn't enforcing it hard enough... I will try make random vs ordered partitioner test in the separate directories in my branch.

[2013-01-07 18:13] xedin commented on #120
So it didn't help, I have removed whole ~/.m2 directory to be sure. When I run 'mvn clean package' from root titan directory it fails with the same error

[ERROR] Failed to execute goal on project titan-berkeleyje: Could not resolve dependencies for project com.thinkaurelius.titan:titan-berkeleyje:jar:0.3.0-SNAPSHOT: Could not find artifact com.thinkaurelius.titan:titan-test:jar:0.3.0-SNAPSHOT in

[2013-01-07 19:22] xedin commented on #120
Ok I was able to successfully build everything after doing those steps:
- mvn clean
- rm -rf ~/.m2
- mvn install -pl titan-test -am (installed test and core)
- mvn install

[INFO] Titan: Distributed Graph Database ................. SUCCESS [1.275s]
[INFO] Titan-Core: Core Distributed Graph Database ....... SUCCESS [10:08.797s]
[INFO] Titan-Test: Distributed Graph Database ............ SUCCESS [13.

[2013-01-09 18:50] okram opened #132 "Add 'gremlin my-script.groovy' functionality to Console."

[2013-01-09 19:32] xedin commented on #120
Ok, to keep everybody up-to-date, cassandra-1-2-integration branch now has fixed maven pom files and builds, tests are working for me as well as gremlin/titan commands.

[2013-01-10 06:10] xedin commented on #120
Fixed the problem and everything is merged into master, closing this issue.

[2013-01-10 06:10] #120 closed, assigned to okram

[2013-01-10 06:10] xedin commented on #128
Cassandra 1.2.0 is merged into master. Closing this issue.

[2013-01-10 06:10] #128 closed, assigned to xedin

[2013-01-10 06:12] xedin commented on #62
added 1.5.0-M3 to the cassandra pom, tests on Mac OS X 10.7.5 with JDK 7 issue was fixed, closing.

[2013-01-10 06:12] #62 closed, assigned to nobody

[2013-01-10 06:24] xedin commented on #81
I seen that error happening before my test modifications, target/test.log in titan-cassandra is clean now, closing.

[2013-01-10 06:24] #81 closed, assigned to mbroecheler

[2013-01-10 06:38] xedin commented on #108
Fix pushed to master as 12c1a7a6718925a58f619c80f07a63320274fd55. Distribution directory - 755, files - 644/normal, 775/executable, closing this issue.

[2013-01-10 06:38] #108 closed, assigned to okram

[2013-01-10 07:23] devsprint commented on #120
I can confirm that the build is working properly. Thank you.

[2013-01-11 01:00] okram opened #133 "Remove the config/*.whirr files -- be sure to reflect in Wiki"
I will do this. Titan should not be responsible for Whirr related information. This will go into the Aurelius Graph Cluster project.

[2013-01-11 06:21] okram opened #134 "Make a Titan.version() method available."
gremlin> Gremlin.version()
   ==>2.2.0
   gremlin> Titan.version()
   No such property: Titan for class: groovysh_evaluate
   Display stack trace? [yN]

This is always helpful to know what you are dealing with.

[2013-01-11 06:44] okram opened #135 "Make JavaDoc exclusions works."
[code]

In the root Titan directory, you create the aggregate JavaDoc with:
   mvn javadoc:aggregate

The titan-all distribution.xml then grabs that for its distribution.zip.

Problem, the name exclusions don't seem to be considered by the plugin' :(

[2013-01-17 15:44] mbroecheler opened #136 "Autocast integer<->long in queries"
query.interval('time',0,1) causes incompatible type exception if long is expected.

[2013-01-17 16:58] wsalembi opened #137 "Support java.util.Date in Cassandra storage"
Is this a bug or a bad configuration on my part? My dates are not stored wekk in Titan/Cassandra. I always get currentDate() back from the database.

[code]

[2013-01-17 19:04] okram opened #138 "Make Edge not extend blueprints.Vertex"
This is causing various problems in frames and Rexster. If there is a way for "instanceof" to not have and Edge be a Vertex, this would be good.

[2013-01-17 22:15] okram opened #139 "Provide a "local" cassandra.yaml file with the distribution."
Given that

  storage.backend=embeddedcassandra

requires a cassandra.yaml file, it would be good to distribute a version of this file with Titan. (perhaps in config/)

[2013-01-17 22:31] okram commented on #139
NOTE: config/ of cassandra and hbase are not included int the titan-all distribution.

[2013-01-18 09:41] wuyc08 opened #140 "how to use titan linked to cassandra, please help me?"
I do it follow the method of Titan documents "Using Cassandra". firstly, I run a cassandra server successfully, then I code as bellow by  eclipse:
Configuration conf = new BaseConfiguration ();
conf.setProperty("storage.backend","cassandra");
conf.setProperty("storage.hostname","127.0.0.1");
conf.setProperty("storage.port",7000);
TitanGraph g = TitanFactory.open(conf);
....
But, when running it, p

[2013-01-21 16:48] mbroecheler commented on #140
I believe the default port for cassandra is 9160. Please try that to connect.
Also, please use our mailinglist and not this bug tracker for questions: aureliusgraphs@googlegroups.com
Thank you.

[2013-01-21 16:48] #140 closed, assigned to nobody

[2013-01-21 21:35] xedin commented on #134
pull request at https://github.com/thinkaurelius/titan/pull/141

[2013-01-22 11:05] #134 closed, assigned to xedin

[2013-01-23 17:09] okram opened #142 "Provide a rexster.xml with the distribution."
Like providing a base cassandra.yaml, provide a rexster.xml.

[2013-01-23 17:12] okram commented on #142
How I do this now with client:
- go to Rexster source and get rexster.xml
- edit it to remove all <graph>s I don't need.
- add in information from Titan wiki.

Having a base rexster.xml that works with Titan is much eaiser for users.

[2013-01-23 17:14] okram commented on #142
Perhaps provide three <graph> examples -- for BerekeleyDB, Cassandra, and HBAse. --- maybe have Cassandra and HBase  commented out so just dumping in the base rexster.xml will make a BerekeleyDB Titan.

[2013-01-23 17:58] vadasg commented on #142
I haven't yet done anything with Rexter (so I don't know whether I understand the situation), but this seems like a natural addition to GraphCluster -- have a whirr.instance-template=rexter that when used in conjunction with Titan/X will generate the correct rexter.xml during deployment.  If you have specific requirements please comment on GraphCluster Issue #17:

https://github.com/thinkaurelius/

[2013-01-23 21:34] mbroecheler opened #143 "Rolling commit"
Re-introduce rolling commit so that the transactional state can be preserved across commits.

Make rolling commit the default commit mode for blueprints thread-bound transactions so that titan has the same transactional semantics that people expect from blueprints.

This requires:
- new vertices and edges are assigned negative ids when they are created (unless flush ids is enabled in which case th

[2013-01-24 01:24] mbroecheler opened #144 "Functional edges are stored incorrectly on OUT Vertex"

[2013-01-24 02:05] mbroecheler opened #145 "Pre-load properties"
when the first property is accessed. Maintain statistics on how many properties are returned so that Titan adaptively disables this behavior if a graph has too many properties per vertex.

[2013-01-25 20:20] okram opened #146 "Better error handling around property key/edge label."
We have:
    g.createKeyIndex('keyword',Vertex.class)

We then do:
  g.addEdge(a,b,'keyword')
  g.addVertex([keyword:'Coral Reef'])

Database is no happy in terms of g.V('keyword','Coral Reef'). ... I don't have a stack trace because this was discovered via Rexster. ... Perhaps there is a good exception. ?? Just a note as I'm sitting here with client.

[2013-01-25 21:37] okram opened #147 "Documentation should say "primitives" instead of "numbers""
CURRENTLY:
 Titan efficiently serializes numbers, primitive arrays, Date, ArrayList and HashMap.

?SHOULD BE?:
   Titan efficiently serializes primitives, primitive arrays, Date, ArrayList and HashMap.

second sentence:
https://github.com/thinkaurelius/titan/wiki/Datatype-and-Attribute-Serializer-Configuration

[2013-01-27 03:47] okram commented on #142
Done.

@spmallette  can you look at:
   https://github.com/thinkaurelius/titan/tree/master/config
...and if you concur, please close this ticket.

Also, if there are XML comments you want to add that will be helpful to users, please do so. Thanks.

[2013-01-27 15:24] spmallette commented on #142
Modified the rexster.xml to have just bare minimum.  Wiki could use some work.  Also not sure if the packaging is right for the distribution.  Some more work for me to do here.

[2013-01-28 18:40] spmallette commented on #142
titan wiki updated a bit. config directory is showing up in the distribution.  this one is done

[2013-01-28 18:40] #142 closed, assigned to spmallette

[2013-01-28 23:11] zmaril opened #148 "Edges holding onto stale references of endpoints"
See [this issue in Hermes for motivation](https://github.com/gameclosure/hermes/issues/32). Whenever an edge gets printed out at the REPL outside of a transaction, it seems to be complaining about accessing an element outside of it's transaction. My guess is that it is calling toString on a stale node.

[2013-01-28 23:33] okram commented on #148
It would be nice if the toString() could exist outside of the transaction.  ?

On Jan 28, 2013, at 4:11 PM, Zack Maril notifications@github.com wrote:

[2013-01-29 00:58] zmaril commented on #148
Stack trace:

[code]

(There is more but it is just clojure calling toString)

So it looks like [StringFactory](https://github.com/tinkerpop/blueprints/blob/master/blueprints-core/src/main/java/com/tinkerpop/blueprints/util/StringFactory.java) is getting used [here](https://github.com/thinkaurelius/titan/blob/master/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/relations/SimpleTitanEdge

[2013-01-29 01:09] mbroecheler commented on #148
the issue is not so much with a stale vertex but with the edge label. In
order to print it out, it needs to be retrieved first if it isn't cached
locally. if that happens outside the scope of a transaction it throws the
exception you are seeing.
I will take a look at refactoring this so a toString() will always work.

On Mon, Jan 28, 2013 at 4:59 PM, Zack Maril notifications@github.comwrote:

##

[2013-01-29 02:33] zmaril commented on #148
Great If you have too much on your plate and the refactoring is straightforward, shoot me an email and I will do what I can.

[2013-01-29 07:00] #147 closed, assigned to mbroecheler

[2013-01-29 07:03] mbroecheler commented on #137
I was playing around with this a bit today. I can confirm that I am seeing the same behavior. Essentially, the deserialized date is always today's date & time. There must be something strage happening during the serialization process which I haven't been able to figure out yet.

In the meantime, I figured out a workaround: Use Calendar instead. I.e. set the datatype to GregorianCalendar.class
and

[2013-02-01 18:31] okram opened #149 "Make each child project have its own distribution.zip"
We currenlty have it such that Titan-All provides the gremlin.sh and distribution.

It would be good to have each project have its own packaged distribution so that we can have (on the downloads page):

  titan-all-0.3.0.zip
  titan-cassandra-0.3.0.zip
  titan-hbase-0.3.0.zip
  titan-berkeleydb-0.3.0.zip

Each has a bin/gremlin.sh and respective README.txt..

[2013-02-04 20:31] xedin commented on #139
Pull request is at https://github.com/thinkaurelius/titan/pull/150

[2013-02-06 06:05] anvie opened #151 "Getting vertex after update property sometimes return in inconsistent value"
Example:

[code]

After that operation when I'm trying to getting the vertex with id 4 property `age` returning inconsistent value, sometimes got right result sometimes got previous value (before update). Example:

[code]

This strange behavior happening in cassandra backend but not in memory storage, and fixed when I'm close the db and reopen it.

I'm looking inside the code and found VertexCache

[2013-02-06 06:09] anvie commented on #151
Oh forgot to mention, this strange behavior happen in 0.2.0 and 0.3.0-SNAPSHOT.

[2013-02-06 11:24] protheusfr opened #152 "Exception at g.shutdown()"
Hello I get the following exception each time I call a graph.shutdown()

152325 [main] ERROR com.netflix.astyanax.connectionpool.impl.ConnectionPoolMBeanManager  - com.netflix.MonitoredResources:type=ASTYANAX,name=TitanConnectionPool,ServiceType=connectionpool

Everything all work fine before this shutdown.

[2013-02-06 18:01] mbroecheler commented on #152
Which version of Titan is this?
Note that the error is a result of some pooling error inside Astyanax. I
filed a bug report with them a while ago and they closed it. Newer versions
of Titan should not experience this any more. Also note that this is non
criticial. No data is lost and the error can simply be ignored as I don't
know of any implications on the database or the data within.

On Wed, Fe

[2013-02-06 18:04] protheusfr commented on #152
0.2.0 with maven bundled astyanax-1.0.6 library.

[2013-02-06 18:14] mbroecheler commented on #151
Is the latter piece of code (i.e. getting the property) happening in a
different thread than the former?
Note that Cassandra has configurable consistency and is an eventually
consistent system. So, if you have a cassandra cluster and make an update
then immediately read back the value it may be possible that the old value
is returned.

On Tue, Feb 5, 2013 at 10:09 PM, Robin Syihab notifications@gi

[2013-02-07 08:02] anvie commented on #151
Yeah, the seconds code happening in different thread but using single shared Titan instance. I'm running single node Cassandra in my local machine, I also waiting after update for a 5 minutes and still returning inconsistent value, but it fixed when I close and reopen instance (i.e using `TitanFactory.open(conf)`)

[2013-02-07 12:23] anvie commented on #151
I'm testing with other type data, and it's seems only happening on int or long, not string.

[2013-02-07 17:57] mbroecheler commented on #151
The fact that it only happens with certain data types is bizarre. Titan
does not cache properties internally, so this must be something that is
happening at the cassandra level.
Can you send me a snippet of code that reproduces the problem? I will then
investigate the bug from there.
Thank you,
Matthias

On Thu, Feb 7, 2013 at 4:24 AM, Robin Syihab notifications@github.comwrote:

##

Matthias Broe

[2013-02-08 12:01] kanle485 opened #153 "Murmur3Partitioner"
I have the following error when trying to run with cassandra version 1.2
Unsupported partitioner: org.apache.cassandra.dht.Murmur3Partitioner

When will it be supported? Until then how can i proceed? Because i have a cluster running cassandra1.2.

[2013-02-09 04:44] anvie commented on #151
Hi mbroecheler, i'm revised my test, in previous test i was lucky when i changed data type to string its seems consistent, but today i just got inconsistent for string too.
Okay I will create code for debugging this weird anomaly.
thx.
--robin

[2013-02-09 07:15] anvie commented on #151
Here is my testing code, I'm create 2 thread DataReader and DataWriter, where DataWriter make changes to vertex, and DataReader only read properties from vertex, it's seems cache not invalidated on DataReader thread when DataWriter make changes on it own context even both thread using single TitanGraph instance.

https://gist.github.com/anvie/4744394

Output example:

![Screen Shot 2013-02-09 at 2

[2013-02-11 05:08] michaelklishin commented on #153
I confirm that Titan currently does not work with Cassandra 1.2 because of this issue.

[2013-02-11 11:52] vikraman commented on #137
I can reproduce this. It is probably due to [this issue](https://groups.google.com/forum/?fromgroups=#!topic/kryo-users/kZacb0ikW98) with kryo and Date.

[2013-02-11 17:09] wsalembi commented on #137
Are all property values serialized with kryo? Are primitives and simple types like String and Date not converted to native cassandra types? Would an index on Date be possible?

[2013-02-11 17:15] vikraman commented on #137
I see serializers for Double, Float, Integer and Long in [com/thinkaurelius/titan/graphdb/database/serialize/attribute](https://github.com/thinkaurelius/titan/tree/master/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/database/serialize/attribute). The rest are done using kryo I guess? There's nothing in titan-cassandra.

[2013-02-11 19:00] mbroecheler commented on #137
Serialization is not backend specific. For everything that is not specifically registered, Titan uses Kryo's standard Field serializer which has an issue with Date as explained in the link above (thanks for posting that here).
Bottom line: We need to add a custom serializer for Date to Titan. I will also look at https://github.com/magro/kryo-serializers (thanks for that as well) and some of the ot

[2013-02-11 19:08] vikraman commented on #137
I wrote a [custom serializer](https://gist.github.com/vikraman/4756717) that uses epoch for the time being,

[2013-02-11 20:36] mbroecheler commented on #153
Please read this thread on the mailing list:
https://groups.google.com/forum/?fromgroups=#!topic/aureliusgraphs/ET05rQ2sBiY

In short, the next version of Titan will support the new partitioner. Until then, you can set RandomPartitioner in the yaml file which should also work.

[2013-02-11 20:36] #153 closed, assigned to nobody

[2013-02-12 23:31] mbroecheler commented on #104
It is actually sufficient to use Titan's standard transaction handling mechanism to write with Faunus. No special purpose writer needed at this point.

[2013-02-12 23:31] #104 closed, assigned to mbroecheler

[2013-02-13 23:24] mbroecheler commented on #151
Ah, I see what you are doing, Robin. The reason you are seeing this "caching" behavior is because that's essentially what is happening. But at the transaction level and not the database level.
Titan is a transactional database (https://github.com/thinkaurelius/titan/wiki/Transaction-Handling) and as such each transaction maintains its own temporary "view" of the graph. So, in your data reader, whe

[2013-02-13 23:24] #151 closed, assigned to mbroecheler

[2013-02-13 23:59] mbroecheler commented on #146
The issue is that both labels and keys are types in Titan and you cannot have a label and a key with the same name. That causes a name collision in types. That's why this throws an exception.

[2013-02-13 23:59] #146 closed, assigned to mbroecheler

[2013-02-14 00:03] mbroecheler commented on #99
This issue might be re-visited for Titan0.4 when it comes to g.V / g.E

[2013-02-14 00:46] xedin commented on #135
Pull is at https://github.com/thinkaurelius/titan/pull/155

[2013-02-14 01:11] mbroecheler commented on #135
merged

[2013-02-14 01:11] #135 closed, assigned to xedin

[2013-02-14 01:13] mbroecheler commented on #139
merged pull

[2013-02-14 01:13] #139 closed, assigned to xedin

[2013-02-14 05:41] #127 closed, assigned to mbroecheler

[2013-02-14 05:41] #129 closed, assigned to mbroecheler

[2013-02-14 05:41] #144 closed, assigned to mbroecheler

[2013-02-14 08:45] anvie commented on #151
Owh i see, thx :+1:

[2013-02-16 17:59] ghost opened #156 "TitanInMemoryBlueprintsGraph is still isOpen() == true after .shutdown()"
com.thinkaurelius.titan.graphdb.transaction.InMemoryTitanGraph

[code]

public class InMemoryTitanGraph extends AbstractTitanTx

`isOpen` is in `AbstractTitanTx` and the only thing changing it to false is `com.thinkaurelius.titan.graphdb.transaction.AbstractTitanTx.commit()` and
`com.thinkaurelius.titan.graphdb.transaction.AbstractTitanTx.rollback()`
ergo, I figure, maybe one of those should be ca

[2013-02-16 23:15] xedin commented on #152
Pull is at https://github.com/thinkaurelius/titan/pull/157

[2013-02-16 23:22] #152 closed, assigned to xedin

[2013-02-19 19:15] rsiemens77 commented on #137
Kryo has a DateSerializer which does use long epoch serialization:
http://code.google.com/p/kryo/source/browse/trunk/src/com/esotericsoftware/kryo/serialize/DateSerializer.java?r=109

Just configure to use it with the below adapter:

attributes.attribute# = java.util.Date
attributes.serializer# = your.package.KryoDateSerializer

public class KryoDateSerializer implements AttributeSerializer<Date>

[2013-02-20 23:27] espeed opened #158 "Document Titan's Architecture/Internals"
A document detailing Titan's architecture/internals will help new devs get up to speed fast on the design philosophy and enable them to quickly build an accurate mental model for how things fit together.

[2013-02-20 23:39] okram commented on #158
This would be good on the Wiki so its editable and contained with the documentation. Perhaps a whole section on Titan Internals:

[code]

On Feb 20, 2013, at 4:27 PM, James Thornton notifications@github.com wrote:

[2013-02-21 14:55] boneill42 commented on #158
+1, i'd love to see it.

[2013-02-21 16:21] michaelklishin commented on #158
I'm curious what's the current policy on wiki editing permissions?

[2013-02-21 16:30] okram commented on #158
As it stands you have to be a contributor to Titan repo to have the ability to edit the wiki.

Why? Do you want to write up about Titan internals? If so, I can give you write access.

On Feb 21, 2013, at 9:21 AM, Michael Klishin notifications@github.com wrote:

[2013-02-21 18:15] protheusfr commented on #11
Hello Matthias,

I think I've observed this :
I currently trying to code a logs collector in order to inject event in a Titan Graph backed by Cassandra (1.8).
For one vertex (I.E. on server or one firewall equipment) we can add millions event (especially on firewalls).

For initials tests, I've try to parse and insert some log files (about 5 millions events by file).
Each log file concern just one

[2013-02-21 19:57] okram opened #159 "Index out of sync with Transaction?"
okay.. here there is a weird behavior in Titan I don't like.
I do this:
1. use index, kill some vertices.
   g.V('type','affiliation').has('state','NM').remove()
2. then hit the index again and traverse -- NM states gone.
   g.V('type','affiliaiton').out

I get a

[code]

why should I get that? I'm in a transaction that that vertex was already deleted in.

[2013-02-21 20:37] mbroecheler commented on #11
Hey,

I am not sure exactly what you mean by g.saveTransaction()? I think the
best way is to divide your transaction into smaller chunks. I.e. load only
a few thousand edges per transaction. That way, you are much less likely to
encounter the kind of timeout and buffer exceptions that you are getting.

HTH,
Matthias

On Thu, Feb 21, 2013 at 10:15 AM, protheusfr notifications@github.comwrote:

##

[2013-02-21 21:45] protheusfr commented on #11
"I am not sure exactly what you mean by g.saveTransaction()? "
My understanding of Cassandra backend implementation (only based on network traffic observation during transaction between client and cassandra servers) is :
- When we add Vertex or Edge on TitanGraph object, they build the graph on memory,
- The TitanGraph object only check/reserve IDs availability on Keyspace,
- On call of .stopTrans

[2013-02-22 06:25] xedin opened #160 "move 'titan-version' to separate 'titan_metadata' cf"
To avoid future regressions like introduced in C\* 1.2.1, let's make all metadata handling in separate CF.

[2013-02-22 16:20] connectdotz opened #161 "better type checking"
Regarding gremlin id property filtering issue, see discussion: https://groups.google.com/forum/#!topic/aureliusgraphs/qyh236qem8I

[2013-02-22 18:00] mbroecheler commented on #11
Yes, your understanding of how Titan operates is correct. However, only the
modifications of the memory mapped graph get flushed back to Cassandra.

Wouldn't the developer always want to flush all data? Otherwise they would
loose changes in their transaction.

On Thu, Feb 21, 2013 at 1:45 PM, protheusfr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-02-22 18:15] protheusfr commented on #11
Yes they would be flush, I've solve this pb with g.saveTransaction(), g.startTransaction() each 100 000 "Event" edge inserts during loading process.
So, now, my situation is :
- I have one Vertex (my supernode) with about 1.2 millions connected Vertex,
- This is backed by Cassandra with 7 nodes (dispatched on two geographically different sites and using RackInferringSnitch)

I try to request this

[2013-02-23 01:09] xedin commented on #160
Pull is at https://github.com/thinkaurelius/titan/pull/162 @mbroecheler if you don't have time to look I will just merge because I have tested it.

[2013-02-25 10:14] mbroecheler commented on #11
Meaning, you get no additional output? It just hangs forever?

On Fri, Feb 22, 2013 at 10:15 AM, protheusfr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-02-25 11:38] protheusfr commented on #11
Absolutely, no additional log on gremlin client and no relevant log on Cassandra servers.

Le 25 févr. 2013 à 11:14, Matthias Broecheler notifications@github.com a écrit :

[2013-02-25 15:18] protheusfr commented on #11
I've take a look to network traffic between Gremlin client and Cassandra servers.
It seem, after a while, to loop on "describe_ring" command :

describe_ring..................'130386982117462736970068843678458264655......'133105607137018827020446003034043231743............10.10.117.1....10.10.107.1....10.20.101.3............10.10.117.1....10.10.107.1....10.20.101.3...............10.10.117.1.......

[2013-02-26 07:11] mbroecheler opened #163 "Make titan.sh play nicely with backend monitoring options"
https://groups.google.com/forum/?hl=en&fromgroups=#!searchin/aureliusgraphs/biswas/aureliusgraphs/t8enj0-KkJs/Kpcd1V_wd7QJ

[2013-02-26 07:13] mbroecheler commented on #11
Can you run simple queries or do all queries time out? Try changing to
cassandrathrift as the adapter, see if that helps.

On Mon, Feb 25, 2013 at 7:18 AM, protheusfr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-02-26 08:55] protheusfr commented on #11
Hello,

Yes single simple query work fine :

gremlin> g = TitanFactory.open("./cassandra.distant");
==>titangraph[cassandrathrift:cnode03.xxxxx.com]
gremlin> g.V('name','srx3600.interco.dc1.xxxxxx.com').map
==>{timestamp=1361551746015, IP=/0.0.0.10, name=srx3600.interco.dc1.xxxxxx.com, date=Fri Feb 22 17:49:06 CET 2013}

After changing to cassandra thrift :
gremlin> g.V('name','srx3600.interco.dc1

[2013-02-27 01:11] #160 closed, assigned to xedin

[2013-02-27 01:39] xedin commented on #149
Pull request at https://github.com/thinkaurelius/titan/pull/164

[2013-02-27 06:56] xedin commented on #149
Merged.

[2013-02-27 06:56] #149 closed, assigned to xedin

[2013-02-27 07:07] mbroecheler commented on #11
Hey,
this is strange. It seems to time out on a very simple cassandra operation
- checking the existing of a small key slice. Can you reliably execute all
  other queries but this one always times out? Meaning, is it
  deterministically reproducible?
  Thank you,
  Matthias

On Tue, Feb 26, 2013 at 12:55 AM, protheusfr notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.co

[2013-02-27 13:22] protheusfr commented on #11
Yes absolutely, every request like "g.V('name','srx3600.interco.dc1.xxxxxx.com').map" work fine.
But when I try to access to a connected vertex of this one (they have more than 1 million connected vertex to this "super-node") this fails systematically.

The same request "g.V('name','srx3600.interco.dc1. xxxxxx.com').outE('srx_deny').count()" with a vertex degree of 10 000 on srx3600.interco.dc1. x

[2013-02-27 19:08] mbroecheler commented on #11
Do you have vertex centric indices on these super node vertices? That would
allow you to pull out the edges you want quickly. Otherwise, your queries
might attempt to read all edges which - at 1 million edges - is likely to
time out because its too much data. Also, try to limit the size of the
result set using [0..1000] after the outE. Does that work?

On Wed, Feb 27, 2013 at 5:22 AM, protheusfr n

[2013-02-27 19:48] cglewis opened #165 "Titan + HBase hangs at Gremlin console"
Running on Ubuntu 12.04 LTS x86_64

Here's my maven version:

[code]

And running configuration for my remote HBase cluster (running CDH4.2 with Hbase 0.94.2-cdh4.2.0 and Titan 0.2.0):

[code]

Unfortunately at this point the console hangs (I can still control-c out of gremlin).

Any suggestions on what I might be missing or doing wrong?  Prior to hanging, it does create the empty Titan table in H

[2013-02-27 20:06] protheusfr commented on #11
What do you mean exactly by vertex centric indices ?

I have created some index on vertex and edge in order to avoid full scans :

[code]

After that , I begin to create initial vertex (the super node) by calling :

[code]

And link events to this node through :

[code]

For the test with range limit [0..10000], THIS IS VERY STRANGE :

First call to initial vertex, every think goes well :
==>titan

[2013-02-27 21:20] cglewis commented on #165
Incidentally solved this.  Was an NTP issue.

[2013-02-27 22:57] protheusfr commented on #11
Hmmm my mistake (even if it doesn't explain previous observed comportment) :
replaced :

[code]

by

[code]

so, index is now realy used.

BUT I've found another pb :

gremlin> g.V('name','srx3600.interco.dc1.xxxxxxx.com').outE('RT_FLOW_SESSION_CREATE')[0..1]
Could not read from storage
Display stack trace? [yN] y
com.thinkaurelius.titan.core.TitanException: Could not read from storage
....

Cause

[2013-02-28 19:44] okram opened #166 "TitanGraph.getVertices() and TitanGraph.getEdges()"
The feature for Titan/Cassandra (all adaptors) and Titan/HBase. Already implemented for Titan/BerekelyDB.

[2013-02-28 20:45] mbroecheler commented on #166
All that is needed is implementing getKeys() [https://github.com/thinkaurelius/titan/blob/master/titan-core/src/main/java/com/thinkaurelius/titan/diskstorage/keycolumnvalue/KeyColumnValueStore.java#L114] in the respective storage adapters. BerkeleyDB already has an implementation of that method which you can check out. However, BerkeleyDb's implementation is complicated by the fact that we need to

[2013-03-02 19:37] okram opened #167 "Support Cassandra frame.size setting in Titan client."
E.g.

conf = new BaseConfiguration()
conf.setProperty('storage.backend', 'cassandrathrift')
conf.setProperty('storage.hostname', 'cassandra-test-01')
conf.setProperty('cassandra.thirft.frame.size', '1000000')
g = TitanFactory.open(conf)

[2013-03-02 20:29] okram commented on #167
Of course make the "cassandra.thrift.fame.size" name whatever is appropriate. Coordinate with @mbroecheler about naming convention.

[2013-03-05 09:28] xedin commented on #167
Pull request is at https://github.com/thinkaurelius/titan/pull/168, I named those options storage.cassandra.thrift.{frame_size_mb, max_message_size_mb} for compatibility with Cassandra's I/O Format.

[2013-03-06 19:25] okram opened #169 "Please review and update accordingly -- Version Compatibility page."
https://github.com/thinkaurelius/titan/wiki/Version-Compatibility

[2013-03-07 03:09] cglewis commented on #165
As a side note, I also experienced this issue when running gremlin inside of tmux.

[2013-03-07 08:52] mbroecheler opened #170 "Smarter Limit setting for GraphQuery"
similar to how this is done in the VertexCentricQuery -> SliceQuery translation

[2013-03-08 01:26] xedin commented on #166
Pull is at https://github.com/thinkaurelius/titan/pull/171

[2013-03-08 01:30] xedin commented on #167
Merged.

[2013-03-08 01:30] #167 closed, assigned to xedin

[2013-03-08 02:08] xedin commented on #166
Merged.

[2013-03-08 02:08] #166 closed, assigned to xedin

[2013-03-08 23:24] okram opened #172 "Fix the toString() of TitanGraph."
gremlin> g = TitanFactory.open(conf)
==>titangraph[com.thinkaurelius.titan.diskstorage.cassandra.thrift.CassandraThriftStoreManager:localhost]

that should be, at minim:

class.getName().toLowerCase()

==>titangraph[cassandrathriftmanager:localhost]

[2013-03-09 20:39] okram opened #173 "Nicer project names in pom.xml for ElasticSearch and Lucene."
[INFO] Titan-ElasticSearch: Full text indexing support
[INFO] Titan-Lucene: Full-text search support

Should be:

[INFO] Titan-ElasticSearch: Full-Text Indexing Support
[INFO] Titan-Lucene: Full-Text Indexing Support

.. in short, like the other projects, consistent captilization.

Also, is it _just_ Full-Text? Perhaps:

[INFO] Titan-ElasticSearch: Distributed Graph Indexing
[INFO] Titan-Lucene: L

[2013-03-10 04:25] okram opened #174 "Cmp vs. Compare."
I see Cmp enum being used in examples. Can we simply use Blueprints enum tokens in Compare so as to not repeat?

[2013-03-10 04:27] okram opened #175 "README.textile and GitHub pages update."
We need to include "pluggable index" talk and reference to licene and elStic search.

[2013-03-12 12:43] spmallette opened #176 "Embed HttpRexsterServer"
Get this:

https://github.com/tinkerpop/rexster/blob/master/rexster-server/src/main/java/com/tinkerpop/rexster/server/HttpRexsterServer.java

into Titan Server.  Embeds just like RexProRexsterServer and will give Titan Server REST capability for those who want it.

Dog House could be deployed with Titan Server, but it will complicate packaging.  Better to just have it disabled (see https://github.

[2013-03-12 20:03] okram opened #177 "Can not instantiate BekereleyJSEStorageManager from bin/gremlin.sh (the developer root)"
gremlin>
gremlin> conf = new BaseConfiguration()
==>org.apache.commons.configuration.BaseConfiguration@5f8581f3
gremlin> conf.setProperty('storage.directory','/tmp/jason-test2')
==>null
gremlin> conf.setProperty('storage.batch-loading','true')
==>null
gremlin> conf.setProperty('storage.backend','local')
==>null
gremlin> g = TitanFactory.open(conf)
Could not instantiate implementation: com.thinkaur

[2013-03-15 21:11] okram opened #179 "Make sure Titan 0.2.1 and Titan 0.3.0 work with IdGraph in TinkerPop 2.3.0-SNAPSHOT"
...necessary before release as many users are counting on this functioning.

@joshsh

[2013-03-18 20:41] okram opened #180 "Be sure to remove SonaType <repository> dependencies (SNAPSHOT) for release."
Titan should not depend on any SNAPSHOTs so prior to release, remove the <repository> dependency on SonaType.

[2013-03-18 21:07] #169 closed, assigned to xedin

[2013-03-18 21:08] xedin commented on #169
Added Cassandra/HBase dependency versions to 0.1-alpha and 0.1.0.

[2013-03-18 21:09] okram commented on #169
Doesn't Titan 0.2.1 also work with 1.2.x ?

Marko.

On Mar 18, 2013, at 3:08 PM, Pavel Yaskevich notifications@github.com wrote:

[2013-03-18 21:14] xedin commented on #177
This is what exception says to me

Caused by: java.lang.IllegalArgumentException: Cannot open or write to directory: /tmp/jason-test2
    at com.google.common.base.Preconditions.checkArgument(Preconditions.java:92)
    at com.thinkaurelius.titan.diskstorage.berkeleyje.BerkeleyJEStoreManager.<init>(BerkeleyJEStoreManager.java:53)
    ... 56 more

So it seems like BerkleyJE just can't create directo

[2013-03-18 21:22] okram commented on #177
Caused by: java.lang.IllegalArgumentException: Cannot open or write to directory: /tmp/jason-test2
    at com.google.common.base.Preconditions.checkArgument(Preconditions.java:92)
    at com.thinkaurelius.titan.diskstorage.berkeleyje.BerkeleyJEStoreManager.<init>(BerkeleyJEStoreManager.java:53)
    ... 56 more

this did not use to be the case?

[2013-03-18 21:47] xedin commented on #172
This is actually fixed in master.

gremlin> g = TitanFactory.open('titan.properties')
13/03/18 14:47:00 INFO impl.ConnectionPoolMBeanManager: Registering mbean: com.netflix.MonitoredResources:type=ASTYANAX,name=ClusterTitanConnectionPool,ServiceType=connectionpool
13/03/18 14:47:00 INFO impl.ConnectionPoolMBeanManager: Registering mbean: com.netflix.MonitoredResources:type=ASTYANAX,name=KeyspaceTi

[2013-03-18 21:47] #172 closed, assigned to xedin

[2013-03-18 21:49] xedin commented on #173
This one goes to Matthias, super easy to fix in pom.

[2013-03-18 21:53] xedin commented on #177
Actually we can try to create a directory on startup if it doesn't exist, but it looks like it was always the case.

[2013-03-18 22:04] okram commented on #177
I don't think  this was always the case -- Matthias?

On Mar 18, 2013, at 3:53 PM, Pavel Yaskevich notifications@github.com wrote:

[2013-03-18 22:05] xedin commented on #177
It should have been because nothing is creating it and there is Precondition to check if it exists.

[2013-03-18 22:21] xedin commented on #177
Pull https://github.com/thinkaurelius/titan/pull/181 would create directory if it doesn't exist also does necessary checks.

[2013-03-18 22:45] okram commented on #173
fixed.

[2013-03-18 22:45] #173 closed, assigned to mbroecheler

[2013-03-18 23:36] xedin commented on #125
1. Is not big a deal because first of all having things separated allow to keep track of things independently. You can say the same thing for cassandra but it actually depends on the traffic pattern, compactions should be relatively low concern for us.
2. In current state I don't think it makes sense to change names to one-character or even make them shorter as  this and other HBase housekeeping i

[2013-03-19 17:02] fabiankessler opened #182 "[0.2.0-berkely] ID renewal thread did not complete in time."
I got this 2-3 times, randomly:
Caused by: java.lang.IllegalStateException: ID renewal thread did not complete in time.

The setup is very basic: an embedded berkely db, fresh and empty (deleted all db files after each run). a unit test that creates a couple entities.

If you need more info then I'll copy the stack trace next time and tell more about the code. It's not reproducible.

[2013-03-19 17:13] mbroecheler commented on #182
Are you creating a lot of vertices and edges in a short amount of time?
That triggers a lot of id acquisitions which might fail if the BerkeleyDB
instance is under a lot of load because they time out.
Try to increase the id block size by a factor of 10 or 100 when you do
insertion heavy things. See if that solves it.

HTH,
Matthias

On Tue, Mar 19, 2013 at 10:02 AM, Fabian Kessler
notifications@gi

[2013-03-20 06:17] xedin commented on #177
Merged, closing.

[2013-03-20 06:17] #177 closed, assigned to xedin

[2013-03-20 22:32] tvpavan commented on #121
I think 0.3.0 would be good candidate to help interop other data tools. Any plans for this ?

[2013-03-21 14:03] jarohen opened #183 "Sub-type not accepted for Property type values"
I created a indexed key of type java.lang.Number but then couldn't create values of type long or int - trying to add such a property to a vertex was failing with (for example):

`'java.lang.IllegalArgumentException: Value [12] is not an instance of the expected data type for property key [test-num]. Expected: class java.lang.Number, found: class java.lang.Long'`

Is this intended behaviour? If not

[2013-03-21 17:34] mbroecheler commented on #183
Yes, this is intended behavior. The reason is that if you declare a type,
titan does not write out the type information but just the type data. So,
if you declare dataType(Long.class) it will just write a single 8 byte long
value to disk. If you declare dataType(Object.class) it will have to write
a class header so that titan knows what the type is adding significant
overhead.
That said, if you de

[2013-03-22 03:24] mbroecheler commented on #6
This is implemented in 0.3.0 - CachedVertex keeps track of which queries have been executed on a vertex and caches the results.

[2013-03-22 03:24] #6 closed, assigned to mbroecheler

[2013-03-22 03:25] mbroecheler commented on #75
In Titan 0.3.0 the way record iterators are handled by titan has changed to be more robust. Since then, this problem has not occurred.

[2013-03-22 03:25] #75 closed, assigned to mbroecheler

[2013-03-22 03:27] mbroecheler commented on #99
The iterator model is used for g.V/g.E but for vertex queries using an iterator model would make caching query results difficult/impossible. Hence, this won't be used there anytime soon. Use query.limit() instead.

[2013-03-22 03:27] #99 closed, assigned to mbroecheler

[2013-03-22 03:29] mbroecheler commented on #115
This is part of the major refactoring in Titan 0.3.0

[2013-03-22 03:29] #115 closed, assigned to mbroecheler

[2013-03-22 03:31] mbroecheler commented on #123
Part of the refactoring in titan 0.3.0

[2013-03-22 03:31] #123 closed, assigned to mbroecheler

[2013-03-22 03:34] mbroecheler commented on #130
Implemented as part of the major overhaul in Titan 0.3.0

[2013-03-22 03:34] #130 closed, assigned to mbroecheler

[2013-03-22 03:36] mbroecheler commented on #136
All types are no auto-casted if possible

[2013-03-22 03:36] #136 closed, assigned to mbroecheler

[2013-03-22 03:37] mbroecheler commented on #137
A special DateSerializer has been added to the list of default serializers.

[2013-03-22 03:37] #137 closed, assigned to mbroecheler

[2013-03-22 03:37] mbroecheler commented on #138
Changed in Titan 0.3.0

[2013-03-22 03:37] #138 closed, assigned to mbroecheler

[2013-03-22 03:41] mbroecheler opened #184 "Implement InMemoryKeyColumnValueStore"
to replace the old in-memory graph.
Use in tests to replace InMemoryStorageAdapter.

[2013-03-22 03:44] mbroecheler commented on #143
In Titan 0.3.0 vertex handles can now be used beyond the transaction they have been created in. Those handles will be automatically rolled over into the new transaction. So you can do:

[code]

Note, that this applies only to vertices. Edge handles do not automatically roll over since maintaining those reference chains would be too much effort and edges are unlikely to be used over long contexts.

[2013-03-22 03:44] #143 closed, assigned to mbroecheler

[2013-03-22 03:45] mbroecheler commented on #148
This should now longer be an issue as a consequence of https://github.com/thinkaurelius/titan/issues/143

[2013-03-22 03:45] #148 closed, assigned to mbroecheler

[2013-03-22 03:50] mbroecheler commented on #174
Titan's Cmp and Blueprint's Compare have the same semantics - you can use either one with the same effect. Titan needs Cmp internally which implements the functionality of the semantics. In the documentation and examples we should use Compare.

[2013-03-22 03:50] #174 closed, assigned to nobody

[2013-03-22 03:52] mbroecheler commented on #183
I have updated the documentation to better expose this:
https://github.com/thinkaurelius/titan/wiki/Titan-Limitations

[2013-03-22 03:52] #183 closed, assigned to nobody

[2013-03-22 05:08] mbroecheler commented on #125
1. ok
2. I agree that this is not a high priority. In particular, if we enable compression (see below), then this overhead should be negligible.

3) I think we should enable snappy compression by default. The data Titan writes is very amenable to compression (snappy easily compresses to less than 50%) and as such any compression overhead should be made up for by having to read/write less data.

[2013-03-22 05:17] #133 closed, assigned to okram

[2013-03-22 08:30] #156 closed, assigned to nobody

[2013-03-23 19:15] xedin commented on #163
Pull is at https://github.com/thinkaurelius/titan/pull/185.

[2013-03-23 22:11] mbroecheler opened #186 "Better memory handling for large transaction state"
In Titan 0.3.0 the internal memory management changed in the sense that we try to operate on externally allocated bytebuffers directly to increase performance (less deserialization and object creation) and reduce the memory footprint.

However, for some backends, in particular thrift based, this means there is not the possibility that the buffer size configured for the backend may be exhausted.
Cu

[2013-03-24 01:44] xedin commented on #163
Merged.

[2013-03-24 01:44] #163 closed, assigned to xedin

[2013-03-24 01:55] xedin commented on #125
Answering on 3) I'm not that sure about 50% compression rate but we can definitely try, the problem with any block level compression is that on some blocks it could actually give you desired ratio but other overhead could actually take even more space than original (Snappy does that). Another important thing to take into account is stealing away CPU time from CPU intensive things like graph walk i

[2013-03-25 23:34] mbroecheler commented on #71
http://en.wikipedia.org/wiki/Isolation_(database_systems)

[2013-03-26 00:05] #94 closed, assigned to mbroecheler

[2013-03-26 00:11] mbroecheler commented on #161
@okram I don't think this is a titan issue since v.has('id',4) is translated to v.getId().equals(4), by gremlin, right?
So, gremlin needs to be more lenient about the comparison.

[2013-03-26 01:21] okram commented on #161
No. If the provided value to getVertex() is an int, TitanGraph.getVertex()
should make it a long. See Neo4jGraph.getVertex() to see how I do it there.
This makes the developer's life a bit easier.

http://markorodriguez.com
On Mar 25, 2013 6:11 PM, "Matthias Broecheler" notifications@github.com
wrote:

[2013-03-26 02:09] mbroecheler commented on #161
Titan does that (see below). I don't think that's the issue here - I think its filtering (has) not retrieval (getVertex) that is the issue here.

[code]

[2013-03-26 02:19] mbroecheler opened #187 "Partital Vertex connectivity"
which results in errors of the form: edge is connected to some vertices but not all.

[2013-03-26 14:42] okram commented on #161
Will not fix. If you have a long and you compare it against another type, that is just Java's "style." We are not going to change the Number semantics of Java. For getVertex(Object) we provide some nice helpers, but beyond that, once the ID object is returned, its all Java comparison.

[2013-03-26 14:42] #161 closed, assigned to mbroecheler

[2013-03-26 15:34] okram opened #188 "[Indexing branch] INFO Log when starting up BerkeleyDB"
gremlin> g = TitanFactory.open('/tmp/test')
   13/03/26 09:32:15 INFO idassigner.VertexIDAssigner: Partition IDs? [false], Local     Partitions? [false]
   ==>titangraph[local:/tmp/test]
   gremlin>

[2013-03-26 15:35] okram commented on #179
This does not work on indexing-branch.

gremlin> IdGraph.class
==>class com.tinkerpop.blueprints.util.wrappers.id.IdGraph
gremlin> g = TitanFactory.open('/tmp/test')
13/03/26 09:34:22 INFO idassigner.VertexIDAssigner: Partition IDs? [false], Local Partitions? [false]
==>titangraph[local:/tmp/test]
gremlin> g = new IdGraph(g)
Cannot add an index to an already existing property key: __id
Display sta

[2013-03-26 15:52] okram commented on #188
This is showing up in Faunus now too -- so its not specific to BerkeleyDB.

13/03/26 09:52:03 INFO idassigner.VertexIDAssigner: Partition IDs? [false], Local Partitions? [false]

Should this message simply not be DEBUG message?

[2013-03-26 16:22] mbroecheler commented on #188
I would like this to be a info because this is very useful information for
reports and such. But I agree that its not pretty in gremlin. Is there a
way to Greene a gremlin specific log4j file?
On Mar 26, 2013 8:53 AM, "Marko A. Rodriguez" notifications@github.com
wrote:

[2013-03-26 16:30] mbroecheler commented on #179
That suggests that the id property is used before it is indexed which is a
no go in titan. Is that possible, @joshsh ?
On Mar 26, 2013 8:35 AM, "Marko A. Rodriguez" notifications@github.com
wrote:

[2013-03-26 20:18] spmallette commented on #176
I have it embedded but still needs more work.  Forgot that we auto-configured "graph" and therefore have no way to configure extensions and such.  Need to work that in there still.

[2013-03-26 21:22] joshsh commented on #179
Are you wrapping an existing graph with IdGraph?  One which has previously been wrapped with IdGraph?  If you look at the IdGraph constructor, it creates the indices in advance of allowing you to create any vertices or edges, i.e. use the "__id" property.

[2013-03-26 21:28] spmallette commented on #176
HTTP/REST Server is now fully embedded with the capability to deploy extensions.  Pretty cool...just drop your kibble into Titan Server path and it exposes it.  You only need specific configuration in the rexster.xml if your extension requires it (like Frames Kibble).  Most should just drop in and go.....

Wiki page for Titan Server has been updated.

[2013-03-26 21:28] #176 closed, assigned to spmallette

[2013-03-26 21:54] xedin commented on #68
I think we already have enough chaos in logging as we run in shared environment with Cassandra and HBase and others :) I only ok with doing so if it really gives us good benefit, especially knowing that all maven workarounds to exclude dependencies are practically hacks.

[2013-03-26 22:20] spmallette commented on #132
Done....

[2013-03-26 22:20] #132 closed, assigned to spmallette

[2013-03-27 02:07] okram commented on #179
We got it working Josh. If you are going to use __id as a key for both Vertex and Edge in Titan, you need to declare it first.

   gremlin> g.makeType().name('__id').unique(OUT).indexed(Vertex.class).indexed(Edge.class).dataType(String.class).makePropertyKey()
   ==>v[36028797018964170]
   gremlin> g = new IdGraph(g)
   ==>idgraph[titangraph[local:/tmp/test]]
   gremlin> g.addVertex("marko")
   ==

[2013-03-27 02:07] #179 closed, assigned to okram

[2013-03-27 02:24] okram commented on #179
https://github.com/thinkaurelius/titan/wiki/Advanced-Blueprints

[2013-03-27 02:38] mbroecheler commented on #176
great, thanks Stephen!

On Tue, Mar 26, 2013 at 2:28 PM, stephen mallette
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-03-27 03:18] joshsh commented on #179
Cool.  As an observation on the above, it appears that if you support both vertex __id and edge __id in Titan, you also need to know in advance the type of your ids.  Mixing and matching ids of different types would be pretty unusual in Blueprints (and impossible in Titan anyway...?), but you never know.

[2013-03-27 03:20] okram commented on #179
Yes. You will need to know the types. You can put Object.class, but that is inefficient.

On Mar 26, 2013, at 9:19 PM, Joshua Shinavier notifications@github.com wrote:

[2013-03-27 18:42] xedin commented on #68
Removing from 0.3 milestone, can be done in 0.4 if proven useful.

[2013-03-28 03:39] xedin commented on #125
Compression was added, closing.

[2013-03-28 03:39] #125 closed, assigned to xedin

[2013-03-28 19:09] mbroecheler opened #189 "Out-cast float[],double[] to Geoshape if that's the data type"

[2013-03-28 23:03] okram opened #190 "Support graph.query().interval()"
e.g. 50 > age < 75

[2013-03-28 23:20] zmaril commented on #190
Might you mean `50 < age < 75`?

[2013-03-28 23:24] okram commented on #190
Done. Implemented. And yes, thats what I meant. ;D

[2013-03-28 23:24] #190 closed, assigned to nobody

[2013-03-29 02:42] #159 closed, assigned to mbroecheler

[2013-03-29 04:36] mbroecheler opened #191 "Clean up KeyColumnValueStore"
and KeyValueStore interfaces by removing unused methods.

Inline mutateMany

Check if deletion operations are redundant given an addition and remove those prior to persistence.

[2013-03-29 04:38] mbroecheler commented on #76
ensure that all locks are released and everything is properly rolled back upon transactional failure

[2013-03-29 04:39] #118 closed, assigned to mbroecheler

[2013-03-29 04:39] #121 closed, assigned to mbroecheler

[2013-03-29 04:40] mbroecheler commented on #184
Implemented and added test cases - registered as "inmemory" adapter

[2013-03-29 04:40] #184 closed, assigned to mbroecheler

[2013-03-29 05:43] mbroecheler commented on #188
changed to debug

[2013-03-29 05:43] #188 closed, assigned to nobody

[2013-03-29 05:43] #180 closed, assigned to mbroecheler

[2013-03-29 07:21] mbroecheler opened #192 "ByteBuffer.duplicate"
Determine where ByteBuffer duplication is actually necessary.

[2013-03-29 07:24] okram opened #193 "HBase test cases DON'T hang with Hadoop is running."
We were trying to compile Titan/HBase and the first test case hung again like before. I theoreized that maybe Hadoop needs to be running as I typically always have Hadoop running. So I do that and wala! -- HBase tests go through and pass successfully.

Later, I realize that Titan/HBase tests wrote data to HDFS.

2013-03-29 01:21:10.795 java[42951:1703] Unable to load realm info from SCDynamicStore

[2013-03-29 09:30] antonkulaga opened #194 "Wrong dependancies in Titan core 0.3.0 pom"
I added Titan core 0.3.0 to my build.sbt and had troubles with two of its dependencies:

[error](*:update) sbt.ResolveException: download failed: com.tinkerpop.rexster#rexster-core;2.3.0-SNAPSHOT!rexster-core.jar
[error] download failed: com.tinkerpop.rexster#rexster-protocol;2.3.0-SNAPSHOT!rexster-protocol.jar

Here is a list of repos that I used in my build.scala

[code]

[2013-03-30 09:22] antonkulaga commented on #194
The latest update resolved this issue.

[2013-03-30 09:22] #194 closed, assigned to nobody

[2013-03-30 12:56] vantonio opened #195 "Wiki needs attention."
See this [https://groups.google.com/forum/?fromgroups=#!topic/aureliusgraphs/RlalUrQ1e2g] and this [https://groups.google.com/forum/?fromgroups=#!topic/aureliusgraphs/xaQ0rHqZE-k] for detailed infomation.

[2013-03-30 15:54] okram commented on #195
Both of these are in the wiki.

[2013-03-30 15:54] #195 closed, assigned to nobody

[2013-03-30 18:16] zmaril opened #196 "Change Wiki to point to Titanium for Clojure library"
https://github.com/thinkaurelius/titan/wiki

https://github.com/clojurewerkz/titanium

All my effort now is going into making that library awesome. `gameclosure/hermes` is unmaintained.

[2013-03-30 18:19] okram commented on #196
Done.

[2013-03-30 18:19] #196 closed, assigned to nobody

[2013-03-30 18:33] zmaril opened #197 "Default for unique/locked"
The documentation isn't clear here:
https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview

On what the default will be when you can `unique(Direction,lock)`.

[2013-03-30 18:34] zmaril commented on #197
Wait. That's dumb. It's clear in that it's not unique by default. Nevermind.

[2013-03-30 18:34] #197 closed, assigned to nobody

[2013-03-30 19:08] zmaril opened #198 ".hasIndex takes two arguments"
https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview

The documentation shows that the function takes no arguments, while the javadocs says it takes two.

[2013-03-30 19:13] zmaril commented on #198
Actually, the javadocs look odd as well.

http://thinkaurelius.github.com/titan/javadoc/current/com/thinkaurelius/titan/core/TitanKey.html

hasIndex is now in in TitanKey. It looks like it should be in TypeMaker based on the arguments and description string.

[2013-03-31 16:17] bdeggleston opened #199 "Persistit Backend"
The new b/e is coming along, though I have some questions. I thought it would be best to open a dedicated issue here than ask questions on the mailing list.

[2013-03-31 16:27] bdeggleston commented on #199
I'm getting this error intermittently in the concurrentReadWriteOnSingleTransaction test: "Relation already existed on some vertices but not on others". @mbroecheler, I remember you making a comment about the likely cause of this somewhere a few months ago, but I can't find it. Anyway, I wanted to check if you knew of a common cause of this before diving in.

[2013-03-31 16:30] bdeggleston commented on #199
Also, I've been talking with the guys at akiban, and there is in fact a way to have transactions that aren't bound to a single thread. They've been very helpful.

https://groups.google.com/a/akiban.com/forum/#!topic/akiban-user/IqMQqDr9QDA

[2013-03-31 17:00] okram opened #200 "[titan02/03] NullPointerException when doing linear scan has() with Titan/BerkeleyDB"
gremlin> g.V.has('name','DARK STAR')
==>v[40660]
java.lang.NullPointerException
Display stack trace? [yN] y
java.lang.NullPointerException
    at com.thinkaurelius.titan.graphdb.types.vertices.PersistVertexTitanKey.getDefinition(PersistVertexTitanKey.java:25)
    at com.thinkaurelius.titan.graphdb.types.manager.StandardTypeFactory.createExistingPropertyKey(StandardTypeFactory.java:55)
    at com.t

[2013-03-31 22:01] zmaril commented on #198
Whoops. Never mind. Didn't understand that the string was supposed to be something like "search" instead of the name. That makes more sense. What's the default index name then? Like if I only called indexed when creating the type without the string "search" as the first argument?

[2013-03-31 22:01] #198 closed, assigned to nobody

[2013-04-01 20:15] mbroecheler commented on #199
@bdeggleston: Great to hear that this is coming along. Looking forward to giving it a spin.
Do you get that exception with Titan 0.3.0? Try to implement the adapter against that version. The diskstorage package got cleaned up a bit.

[2013-04-01 20:33] mbroecheler commented on #198
"standard"

On Sun, Mar 31, 2013 at 3:01 PM, Citizen notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-01 21:00] #175 closed, assigned to mbroecheler

[2013-04-01 21:01] mbroecheler opened #202 "Astyanax connection issue"
I am not entirely sure what the issue was with astyanax. We were able to run Titan with "cassandra" as a backend  from  the cassandra nodes, but if we did tried remotely it would get stuck trying to establish a connection. We confirmed that the right ports were open on the nodes, both UDP and TCP. Then I saw in one of your posts to the mailing list the suggestion of trying with "cassandrathrift" t

[2013-04-01 21:02] renatogp opened #203 "Import UniquenessConstraint on Titan/Gremlin"
It would be great to have UniquenessConstraint automatically imported into Gremlin sessions, as suggested by @okram on https://groups.google.com/d/msg/aureliusgraphs/R3LbPEs9RzA/PMTGvOokHrMJ

[2013-04-01 21:08] rustyrazorblade opened #204 "link to thunderdome from wiki for 3rd party libraries"
At the bottom of https://github.com/thinkaurelius/titan/wiki, you've got links to 3rd party libraries.

Could you add thunderdome?

https://github.com/StartTheShift/thunderdome

[2013-04-01 22:06] okram commented on #204
Done.

[2013-04-01 22:06] #204 closed, assigned to nobody

[2013-04-02 04:34] vantonio opened #205 "Defining a unique type without committing won't enforce type check."
Please see this thread for detailed information:

https://groups.google.com/forum/?fromgroups=#!topic/aureliusgraphs/FFaZmp6P5JE

[2013-04-02 15:02] okram opened #206 "JUnit versions are different throughout Titan."
https://github.com/thinkaurelius/titan/blob/master/pom.xml#L63

then in various projects, direct references to 4.8.1. The parent pom.xml reference should be used throughout.

[2013-04-03 22:32] okram opened #207 "Elasticsearch embedded and Titan Server don't seem to play well."
I can successfully use Titan Server + Elasticsearch(NOT embedded). With Elasticsearch embedded, I can't get a connection to Elasticsearch from Gremlin.

gremlin> g = TitanFactory.open('bin/cassandra-es.local')
0    [main] INFO  com.thinkaurelius.titan.diskstorage.Backend  - Configuring index [search] based on:
 backend: elasticsearch
hostname: localhost

69   [main] INFO  org.elasticsearch.plugins

[2013-04-03 22:39] zmaril commented on #207
For Titanium, I seemed to be able to get it to work with embedded by suppling the following arguments (this is Clojure syntax, but guess how it works and you are probably right):

[code]

I haven't added in anything that tests elasticsearch directly yet, but it at least boots up and can create indexes that say they are searchable.  Notably,  "storage.index.search.directory" and "storage.index.sear

[2013-04-03 22:43] okram commented on #207
You shouldn't have to talk to the directory. cassandra-es.local works when you have ElasticSearch running as standalone:

[code]

The way you have it here, you are embedding Cassandra + ElasticSearch. That works for me. But then talking to the indices via Gremlin doesn't work.

On Apr 3, 2013, at 4:39 PM, Citizen notifications@github.com wrote:

[2013-04-04 00:47] mbroecheler commented on #207
Sorry, I don't really get it. You are running es inside titan server and
then want to connect to it from the outside?
On Apr 3, 2013 3:43 PM, "Marko A. Rodriguez" notifications@github.com
wrote:

[2013-04-04 01:25] okram commented on #207
Yes.

On Apr 3, 2013, at 6:47 PM, Matthias Broecheler notifications@github.com wrote:

[2013-04-04 03:51] mbroecheler commented on #207
Interesting, didn't even think that was a use case ;-)

On Wed, Apr 3, 2013 at 6:25 PM, Marko A. Rodriguez <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-04 07:52] SteamShon commented on #165
I am having exactly same problem here. can any one give me what is problem ans fix?

[2013-04-04 14:49] cglewis commented on #165
Are you using CDH?  I've found that with CDH you have to run the configuration about 6 times and then it works after that.  If you are watching your HBase cluster, you'll notice the table being made, and each time you run the configuration another column family gets added.  Once all of the column families are added, it works as expected.  Or at least that has been my experience so far.  I haven't

[2013-04-04 15:16] okram commented on #207
This is a nice use case for single machine deployments in that you have cassandra+elasticsearch+rexster all from a single titan.sh. Currently, I have titan.sh running Rexster+cassandra and now have to have ElasticSearch as a side process (bin/elasticsearch -f). In terms of packaging and ease of use for introduction people (pre-cluster,distributed,etc.) being able to have on .sh to make it all go w

[2013-04-04 20:05] okram commented on #203
gremlin> LOCK
==>LOCK
gremlin> NO_LOCK
==>NO_LOCK
gremlin> NO_LOCK.class
==>class com.thinkaurelius.titan.core.TypeMaker$UniquenessConsistency
gremlin> LOCK.class
==>class com.thinkaurelius.titan.core.TypeMaker$UniquenessConsistency

[2013-04-04 20:05] #203 closed, assigned to nobody

[2013-04-04 20:06] renatogp commented on #203
Thanks!

[2013-04-04 20:35] okram opened #208 "Increase the default Xmx settings for Titan server."
https://github.com/thinkaurelius/titan/blob/master/titan-all/src/main/bin/titan.sh#L21

This should be 1G ?

Also, lets do a echo to the screen what the memory settings are so people know what they are.

[2013-04-04 20:52] okram opened #209 "Add wiki documentation about indexing that same property for different reasons."
I needed an index on "name" both for full-text and for exact match. The index(Vertex.class).index("search",Vertex.class) was the key.

[2013-04-04 21:04] okram commented on #208
done.

[2013-04-04 21:04] #208 closed, assigned to nobody

[2013-04-04 21:05] okram commented on #208
@spmallette check in windoze pleaze.

[2013-04-04 22:14] okram opened #210 "Provide support for ext/ recrussion in titan.sh (.bat)"

[2013-04-04 22:15] okram opened #211 "Double index not working -- EXACT and FULL_TEXT"
the double indexed().indexed() thing didn't work. the exact index worked (g.V(key,value)), but when I did query().has(key,CONTAINS,value) it didn't work --- and for values we had working before.

[code]

[code]

[2013-04-06 10:14] spmallette opened #212 "Vertices Not Deleting Fully"
Vertices only partially deleting under certain conditions.  First reported here:

https://groups.google.com/forum/#!topic/gremlin-users/m5RjyS97iNA

To recreate:
- Start Titan Server:

[code]
- Start gremlin and connect to titan server and add a few vertices:

[code]
- You should be able to curl that out via REST:

[code]
- You should be able to remove all those vertices via REST:

[code]
- But th

[2013-04-06 22:45] bdeggleston opened #213 "deleted vertices can still be loaded from a separate transaction with getVertices"
I've created a test case that reproduces

https://gist.github.com/bdeggleston/5320684

this may be the same issue reported here:
https://github.com/thinkaurelius/titan/issues/212

[2013-04-06 22:47] bdeggleston opened #214 "adding properties in one transaction, after deleting them in another, brings the vertices back"
see the failing test case here:

https://gist.github.com/bdeggleston/5320562

I would expect an error to be raised when tx2 is committed

[2013-04-07 02:18] antonkulaga opened #215 "Very poor performance on indexed of Titan 0.3.0 + "could not instantiate implementation: com.thinkaurelius.titan.diskstorage.lucene.LuceneIndex""
I updated to the latest titan and got very poor performance on indexes (seems like the do not work at all).

Code that was executed in a matter of seconds on previous versions of Titan (stuff like this https://github.com/hudvin/genes-demo/tree/master/src/main/scala ) now takes many minutes on both Berkeley and Cassandra backends.

And when I add index backends explicitness to the config I get "cou

[2013-04-07 14:20] okram commented on #215
I am noticing index speed issues with Titan 0.3.0 as well. Not as significant as stated above, but a good 1.5x slow down. The example below is with Titan/BerkeleyDB, but have noticed this originally with a Titan/Cassandra project.

Titan 0.3.0 (BerkeleyDB) -- ~8 seconds cold cache. ~2.5 seconds warm cache.
Titan 0.2.0 (BerkeleyDB) -- ~5 seconds cold cache. ~1.5 seconds warm cache.

[code]

[2013-04-07 14:24] okram opened #216 "Titan 0.3.0 can read a Titan 0.2.0 backend (BerkeleyDB)"
I thought looking at a Titan 0.2.0 backend with Titan 0.3.0 would cause an exception due to the version change.

NOTE: The NullPointerException below is a demonstration of #200 ticket.

[code]

[2013-04-07 20:29] mbroecheler commented on #215
To clarify, is that with lucene as the index or native titan?
On Apr 6, 2013 7:18 PM, "Anton Kulaga" notifications@github.com wrote:

[2013-04-08 15:07] okram commented on #215
I am noticing that we are getting "linear scan" behavior on this type of index.

[code]

Each addition is checking the name and uri for existence before adding the vertex. The load process (of only 3000 vertices) gets slower and slower before nearly coming to a halt (1 vertex every ~2 seconds).

[2013-04-08 16:24] antonkulaga commented on #215
It is a link to Titan 0.21 code. On Titan 0.21 it works fast but when converted (to Titan 0.30 taking into consideration upgrade instructions  it became very slow). Seems like indexes and uniqueness work very differently now=(

[2013-04-08 18:29] xedin commented on #202
I have played with it for a while and I think that the problem here is how we ask it to discover hosts. NodeDiscoveryType is set to RING_DESCRIBE by default (via "node-discovery-type") which means that Astyanax would try to call "describe_ring(keyspace)" to identify hosts available for client requests, I think in ec2 case it just takes to long to calculate ring state which results in global connec

[2013-04-08 20:24] mbroecheler commented on #215
Two things:
1. _On Standard index performance in Titan 0.2.1 vs 0.3.0_: The fact that Titan 0.3 performs worse for the small benchmark that Marko put together is to be expected for two reasons: 1) Titan 0.3 has a query optimizer for index calls due to the extended indexing functionality. Hence, each index call incurs more overhead and 2) Titan 0.3 introduces index query caching. That means, result

[2013-04-09 17:05] mbroecheler opened #217 "Register Geoshape with Serializer"

[2013-04-12 02:41] xedin commented on #212
This is the problem with range ghosts (http://wiki.apache.org/cassandra/DistributedDeletes), as if you login to cassandra CLI and list edgestore you will see following (after removing vertices using rexster):

[default@titan] list edgestore;
Using default limit of 100
Using default column limit of 100
RowKey: 0000000000000008
RowKey: 0000000000000010
RowKey: 0000000000000018
.....

Those are just

[2013-04-12 07:07] spmallette commented on #212
nice pavel...thanks

[2013-04-12 19:33] bdeggleston opened #219 "1-2% of vertices corrupted"
Something is causing 'phantom' properties to be added to vertices.

1-2% of the vertices in our graph have a property on them which references a titan type that doesn't exist. This is causing all sorts of problems since it causes a null pointer exception to get thrown when getProperties is called on a vertex with this.

The null pointer exception is being thrown here:
https://github.com/thinkaurel

[2013-04-12 20:40] okram opened #220 "dataType(Boolean.class) and dataType(boolean.class) throw illegal argument exceptions."
[code]

[2013-04-12 22:18] okram opened #221 "id-block-size of 100,000 still causes problems."
I am consistently getting this exception. 9 out of the 400 mappers died cause of it. What is the solution?

[code]

Caused by: java.lang.IllegalStateException: ID renewal thread did not complete in time.
        at com.thinkaurelius.titan.graphdb.database.idassigner.StandardIDPool.nextBlock(StandardIDPool.java:66)
        at com.thinkaurelius.titan.graphdb.database.idassigner.StandardIDPool.nextID

[2013-04-12 22:40] mbroecheler commented on #221
Can you tell what they are complaining about? I.e. what is the root cause?
That should be in the log file shortly before the failure.

On Fri, Apr 12, 2013 at 3:18 PM, Marko A. Rodriguez <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-13 01:15] zachkinstner opened #222 "Not an instance of the expected data type: expected byte, found java.lang.Byte"
Using RexPro, I am trying to create a typed Byte index. Due to MsgPack data limitations, my Byte parameter is converted to a Long (see https://github.com/tinkerpop/rexster/issues/295). I have to re-cast that parameter to a Byte within the Gremlin script.

This seems related to Marko's issue posted a few hours ago: https://github.com/thinkaurelius/titan/issues/220. I posted it as a separate issue b

[2013-04-13 01:23] zachkinstner commented on #222
Without parameters:

[code]

Without creating an index:

[code]

Also occurs for the Short data type:

[code]

Integer works as expected:

[code]

[2013-04-13 10:00] topiaruss commented on #11
@protheusfr  Was there a resolution to this?

[2013-04-13 17:37] bdeggleston commented on #219
so I have some updates on this, we ran cassandra's node repair tool, and things seem to have gotten much worse. I'm not sure if the two are related, but the timing would indicate it is. We now have vertex properties which point to 15 types that don't exist.

[code]

Additionally, when running g.getProperties(), I'm getting a `The value is already used by another vertex and the key is unique` excep

[2013-04-13 19:39] xedin commented on #212
All tests passed (+ manually checked), merged and closing.

[2013-04-13 19:39] #212 closed, assigned to xedin

[2013-04-13 21:32] xedin commented on #202
I have also started working on upgrading Astyanax to the latest version which is currently 1.56.37, that officially supports Cassandra 1.2.x

[2013-04-14 02:05] voxsup opened #223 "GraphSON reader assume particular order of JSON fields and exits upon errors"
in the example of loading an entire graph from graphSON (https://github.com/tinkerpop/blueprints/wiki/GraphSON-Reader-and-Writer-Library), why is it necessary to place the JSON elements in a particular order (specifically, the "edges":[...] list comes before "vertices":[....] list)? i generated a JSON file programmatically and the program puts the edges list before vertices and then the import doe

[2013-04-14 11:49] spmallette commented on #223
This is a blueprints issue and exist as such over in blueprints:

https://github.com/tinkerpop/blueprints/issues/386

[2013-04-14 11:49] #223 closed, assigned to nobody

[2013-04-14 11:55] spmallette opened #224 "Expand Documentation on Type Definitions"
The [Type Definition Overview](https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview) wiki page requires more clarity I think.  Specifically, greater explanation on:
- the concept of Unique Types
- the use of indexed

[2013-04-14 13:05] zmaril commented on #224
Agreed. Getting Titanium up and running with types was not all that straightforward. I'm writing the documentation for Titanium currently and I saved types for last out of fear. The "unique via direction" idea doesn't intuitively make sense to me yet.

[2013-04-14 17:18] wsalembi commented on #224
Agreed. I got an exception while creating an elastic search index on a property key: "Only standard index is allowed on non-unique property keys". The point was my index was not intended to be a 'unique' index. Till the point I understood that unique(OUT) means singlevalue and unique(IN) means unique across all vertices. Very confusing.

[2013-04-14 18:00] rustyrazorblade commented on #224
Personally I think using unique(IN) and unique(OUT) is a strange choice.  functional(false) was also weird, but at least didn't use the same term to mean two totally different things.  unique is a term used frequently in other databases to indicate that the value is unique in the entire dataset, so at least that was consistent terminology.  unique(OUT) is extremely unintuitive that there's a singl

[2013-04-14 21:00] dkuppitz opened #225 "Relation has been removed"
Store a vertex in a variable (in Gremlin shell), then commit the current transaction. After commit you won't be able to use the variable for mutating queries.

[code]

This should not happen (see [discussion](https://groups.google.com/forum/?fromgroups=#!topic/aureliusgraphs/T9qrLnhWuys)).

[2013-04-15 18:49] rustyrazorblade opened #226 "add thunderdome to rexster section in wiki"
On https://github.com/thinkaurelius/titan/wiki/Rexster-Graph-Server bulbs is referenced as a 3rd party library for titan connectivity.  Could you guys please include thunderdome as well?  Thanks.

https://github.com/StartTheShift/thunderdome

[2013-04-16 01:15] okram opened #227 "g.V.count() returning only half the vertices."
I don't have a good test case for this, but will simply provide my observation as it may trigger and obvious realization.

I bulk loaded a graph into Titan using Faunus.

Titan:

[code]

Faunus:

[code]

This is exactly half the number of vertices. ? ... Titan's g.V iterator is not returning all the data. Why exactly half? -- seems a little to perfect. Note, I'm using Titan 0.3.0.

[2013-04-17 04:04] mbroecheler commented on #227
Is there some obvious symmetry in the data? Like an equal number of in and
out edges?

On Mon, Apr 15, 2013 at 6:15 PM, Marko A. Rodriguez <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-17 15:32] okram commented on #202
Note that I see this issue happen "randomly" on EC2. I tend to use Astyanax and then, sometimes, when it just hangs, I then move to Thrift and proceed with what I am doing.

[2013-04-17 16:08] okram commented on #215
Here is a new experiment.

"getOrCreate" with an index hit to a 'name' Titan specific index. (NOT ElasticSearch) using Titan 0.3.0/Cassandra 1.2.2. Note that this is all within a single transaction (no %-modulo g.commit()).

1000     vertices added  -- 2.763 ms per vertex (total time: 2.7 seconds)
10000   vertices added  -- 10.5567 ms per vertex (total time: 105.56 seconds -- 1.7 minutes)
20000  v

[2013-04-17 19:55] okram commented on #225
Ha. I just reproduced this problem and was like: "I saw this recently?! What is this again..." To repeat, g.addEdge() doesn't work when one of the vertex variables is expired out of the transaction (v.addEdge() works though). This is a real bummer cause now Frames is unusable around @Adjacency. We can't seem to get the work around of re-getting the vertex in the transaction either..... The hack we

[2013-04-17 20:10] okram commented on #215
More information. We are now doing this:

Insert 1000 vertices with "getOrCreate" behavior hitting a Titan native 'name' index. It starts to come to a crawl near 1000, then g.commit(). It speeds up significantly. As it approaches 2000, it comes a crawl. g.commit(). It speeds up significantly...

Thus, they theory that the in-memory index built during the transaction is a linear scan and not a log(

[2013-04-17 21:57] okram opened #228 "Titan/Cassandra + ElasticSearch -- Data not available after transaction commits?"
I suspect this is an issue with my setup, but I can't figure out what is wrong.

[code]

Then in Gremlin I do the following. Note the last line returns no data.

[code]

Then check out this very odd behavior... (simply continues where the last line of the above Gremlin output ended).

[code]

[2013-04-17 21:58] okram commented on #228
Here are the version numbers I did this with:

Cassandra 1.2.2
Elasticsearch 0.20.6
Titan 0.3.0

[2013-04-17 22:26] okram commented on #228
The plot thickens. Look at this odd behavior.

So, I'm able to have Elasticsearch work when I add more than one vertex and that other vertex has a different name. But the name property of the first vertex (and all subsequence vertices with that name property are not accessible).

Add 100 vertices to the graph with a name of this form: "person 100 a", where 100 is a counter and 'a' is from ring[].

[2013-04-17 22:45] okram commented on #228
Plot thickens once again.

So, it seems you can add names that have capital letters in them, BUT you can only search for names with lower case values. (e.g. "rodriguez").

HOWEVER, this doesn't explain this other odd behavior here:
  https://github.com/thinkaurelius/titan/issues/228#issuecomment-16539688

Thus, this ticket is like 4 issues in 1. Sorry. I can break apart if need be.

[code]

[2013-04-17 22:53] okram commented on #228
And to come full circle, note that the vertices ARE available as capitalization before committing the transaction.

[code]

...and still this is a big issue. (mentioned in the first section of this ticket)

[code]

[2013-04-17 23:07] okram commented on #228
It just gets odder. In the TX acts different than out of the TX but with capitals this time.

[code]

[2013-04-19 04:30] zachkinstner commented on #222
Using my new [RexConnect](https://github.com/inthefabric/RexConnect) project, in "console" mode:

[code]

The relevant Rexster Server debug output, with "TRACE" output level and running with the "-d" debug flag:

[code]

[2013-04-19 06:00] zachkinstner commented on #222
The exception comes from [AttributeUtil](https://github.com/thinkaurelius/titan/blob/master/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/relations/AttributeUtil.java). The issue is the class comparison within line 48:

[code]

I'm not a Java developer, so I may be missing something obvious. After some tests and Google searches, however, it seems there exists no trivial way to compare b

[2013-04-19 06:28] zachkinstner commented on #222
When I create the Byte property within the Dog House console, I don't receive these errors. Once that property has been added, I can successfully create a vertex with a "ByteVal" property from that same console, using Rexster REST, and using [RexConnect](https://github.com/inthefabric/RexConnect) via the RexPro client.

The exception occurs only when I create the Byte property using the REST API (

[2013-04-19 15:08] okram commented on #221
I'm consistently getting these errors when bulk loding into Titan 0.3.0 via Faunus.

Here are my loading properties in Faunus.

[code]

[code]

[2013-04-19 17:11] vantonio commented on #228
I can reproduce this with the following configuration:

`storage.backend=cassandrathrift
storage.hostname=192.168.56.202

storage.index.search.backend=elasticsearch
storage.index.search.local-mode=true
storage.index.search.client-only=false
storage.index.search.directory=/elastic/`

with the same `ActionRequestValidationException: Validation Failed: 1: no requests added` exception.

[2013-04-19 17:15] hariharshankar opened #229 "Could not commit transaction due to exception during persistence"
This exception is thrown everytime a transaction is committed to titan, after a script that would write to titan failed once (because of a bug in the script). This exception persists until the titan server is restarted again.

Exception in thread "main" com.thinkaurelius.titan.core.TitanException: Could not commit transaction due to exception during persistence
    at com.thinkaurelius.titan.graph

[2013-04-19 17:28] hariharshankar commented on #229
Update:
This exception is thrown even after I restarted both elasticsearch and titan servers. I guess the data directories need to be deleted and everything has to start afresh to get around this exception.

[2013-04-19 18:00] zachkinstner commented on #222
I captured Rexster's debug output while performing the index creation via Gremlin Console and then RexConnect Console.  There's a lot of output, so this is going to be a long comment. Is there a way to attach text files instead?

Index creation code:

[code]

Performed using the DogHouse Gremlin Console:

[code]

Performed using RexConnect Console:

[code]

Compared to the Gremlin output, the RexC

[2013-04-19 18:52] okram opened #230 "Make documentation around ES indexing more explcit."
These would be good points to include in the ElasticSearch (? or index in general) documentation in Titan.
- full-text clips out stop words (english language)
- full-text removes punctuation
- all words in ES are toLowerCase()
- dashes (-) are considered spaces.
- only tokenized searches, not multiple tokens.

What is geo indexing all about?
- a diagram perhaps demonstrating a circle intersecting

[2013-04-19 21:01] bdeggleston commented on #219
So this appears to be an edge case related to dropping keyspaces in cassandra, not a bug in Titan, though I haven't been able to duplicate

Before launching our application internally, we ran a script that would kill rexster, drop the titan keyspace via cqlsh, then start rexster. While this worked fine in our development environment, it seems like doing these operations in quick succession with a

[2013-04-19 21:01] #219 closed, assigned to nobody

[2013-04-19 21:34] mbroecheler opened #231 "No null values for mutate in KCVS"
additions and deletions can be empty but not null

[2013-04-20 01:43] mbroecheler opened #232 "Split Entry in EntryCache and Entry"
Entry for write - not thread safe
EntryCache for read - thread safe

[2013-04-20 16:36] simplyzaki commented on #165
@cglewis Was facing the same issue, but your stated trick ( 6 times config re-run ) got it working.

[2013-04-21 01:11] mbroecheler commented on #226
added

[2013-04-21 01:11] #226 closed, assigned to nobody

[2013-04-22 14:50] okram opened #233 "Make it repliation-factor not replication_factor for consistency."
https://github.com/thinkaurelius/titan/blob/master/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/embedded/CassandraEmbeddedStoreManager.java#L286

[2013-04-22 20:50] xedin commented on #202
Pull is at https://github.com/thinkaurelius/titan/pull/234

[2013-04-23 02:16] zachkinstner opened #235 "GraphSON creation issue with new Byte, Short types"
After the fix to #222, I forked Titan and created a build from the [titan03 branch](https://github.com/thinkaurelius/titan/tree/titan03). The following tests used [RexConnect](https://github.com/inthefabric/RexConnect) with that Titan 0.3.1 build.

The tests show that the GraphSON is not converting correctly for some of the newly-supported (as of the #222 fix) property types.

[code]

[2013-04-23 02:20] zachkinstner commented on #235
The resulting "TitanTypeTest.json" file uses strings for "MyShort" and "MyByte".

[code]

[2013-04-23 02:25] zachkinstner commented on #235
Trying EXTENDED mode:

[code]

The resulting file shows the type as "string":

[code]

[2013-04-23 11:13] spmallette commented on #235
GraphSON doesn't support Byte or Short.  We've long debated what types it should support in the extended format.  Right now it only supports:  boolean, string, integer, long, float, double, list, or map.

Please recreate this issue in Blueprints (you could just provide a title and a link to this closed issue).  I'm not sure if we will change extended mode to explicitly support those data types, bu

[2013-04-23 11:13] #235 closed, assigned to nobody

[2013-04-23 17:46] xedin commented on #227
Marko, is there any way to try to import the same dataset and test?

[2013-04-23 18:07] okram commented on #227
Unless there is an obvious realization, please ignore this ticket until I
can demonstrate a test case to validates the odd behavior.
On Apr 23, 2013 11:46 AM, "Pavel Yaskevich" notifications@github.com
wrote:

[2013-04-24 17:56] xedin commented on #193
Interesting, that means that hadoop setup should be interfering with the way we run HBase for tests (probably can't start). Can you please elaborate on how do you have things set up on your local machine? Because in isolated environments (e.g. Travis) that couldn't happen and those tests pass successfully.

[2013-04-24 18:48] xedin commented on #216
Which branch did you use and when your dataset was created?

What I did:
1. git checkout titan02
2. mvn clean package -Dmaven.test.skip=true
3. created graph of god following the old wiki (TitanFactory.open('/tmp/titan02'); createIndex(...), g.loadGraphML(...))
4. git checkout titan03
5. mvn clean package -Dmaven.test.skip=true
6. Tried to open /tmp/titan02 graph
   gremlin>  g = TitanFactory.open

[2013-04-25 08:36] anvie commented on #227
Hi all, is this problem related?:

When iterating from `outE` I got the right result:

[code]

But when using `g.E` those edges never seen:

[code]

[2013-04-25 14:09] gnantel opened #236 "Titan with embedded Cassandra: exception on startup of first node with replication-factor=3"
When launching a Titan with embedded Cassandra cluster for the first time using replication-factor=3, I get the following exception:
ERROR 2013-04-25 03:59:36,086 [main] CassandraDaemon - Exception in thread Thread[main,5,main]
com.thinkaurelius.titan.core.TitanException: Could not initialize backend
        at com.thinkaurelius.titan.diskstorage.Backend.initialize(Backend.java:214)
        at com

[2013-04-25 16:30] okram commented on #221
I have bumped to the id-block-size to 250,000. I no longer get the aforementioned exceptions. Now, instead, I'm getting consistent ConnectionRefusedExceptions.

[code]

Note that this is with very light Map/Reduce resources -- 12 mappers/reducers in a 6 node m2.4xlarge cluster.

[code]

[2013-04-25 16:59] okram opened #237 "InMemoryGraphTest not passing in titan03 (Titan 0.3.1-SNAPSHOT)"
[code]

[2013-04-25 17:00] okram commented on #237
Question: Are we deploying SNAPSHOTs to SonaType repo consistently?

[2013-04-25 17:03] mbroecheler commented on #227
This is strange. Do you have a dataset this can be reproduced on?

On Thu, Apr 25, 2013 at 1:36 AM, Robin Syihab notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-25 17:08] okram commented on #193
On titan03 branch, I do:

[code]

It hangs there. If I start Hadoop, it works. ?!

[code]

My local machine is a MacOSX with Hadoop 1.1.2. When I run the HBase tests that hang, its with "ps aux | grep hadoop" reporting no Hadoop threads. Start Hadoop, it works............. :/

[2013-04-25 17:23] okram commented on #109
Stephen will be dealing with this.

[2013-04-25 17:23] #109 closed, assigned to nobody

[2013-04-25 17:56] anvie commented on #227
@mbroecheler
here is my cassandra data to reproduce this behavior:
http://dmcd6hvaqrxz0.cloudfront.net/tmp/cassandra-data.tar.bz2
My environment:
Cassandra version:

[code]

Titan all 0.3.0 downloaded from http://s3.thinkaurelius.com/downloads/titan/titan-all-0.3.0.zip
Using cassandra local mode:

[code]

My gremlin commands after pointing cassandra to my data:

[code]

[2013-04-25 18:12] xedin commented on #227
@anvie Thanks! I can reproduce the problem now, already started working on this.

[2013-04-25 18:20] xedin commented on #227
Ah, I know what the problem is - global operations are only supported on random partitioning (RandomPartitioner, Mumur3Partitioner), thrift and embedded does throw an exception but Astyanax has to way to query what partitioner is used in the system (and they only support RandomPartitioner). It's confusing and I will try to figure something out to actually notify users that if BOP is used g.E and g

[2013-04-26 01:35] okram commented on #221
Here are is my Faunus properties file. Note that Hadoop is co-located with the Cassandra cluster.

[code]

[2013-04-26 03:26] xedin commented on #221
So it looks like server socket rejects you connection. The could be caused by two things - you are using ('sync' rpc server) and Cassandra can't process accepts fast enough so kernel fills up it's "pending" queue and rejects all new connection attempts _or_ you use non-blocking server and there are just to many connections and kernel part happens again _or_ Cassandra + Hadoop together utilizing in

[2013-04-26 03:28] xedin commented on #221
Can you try switching to 'hsha' for 'rpc_server_type' cassandra.yaml? Or I can build you a custom Cassandra jar with my thrift server implementation to try out...

[2013-04-26 13:59] okram commented on #221
My last run was with hsha as you recommended that previously.

I can try a custom cassandra jar. ping me when you are available, please.

http://markorodriguez.com

On Apr 25, 2013, at 9:28 PM, Pavel Yaskevich notifications@github.com wrote:

[2013-04-26 14:52] okram commented on #221
Regarding: " there are just to many connections and kernel part happens again or Cassandra + Hadoop together utilizing internal and internal connections cause that to happen."

I have gotten the same behavior with 8 mappers (48 total connections in the cluster) as I have with 2 mappers (12 total connections). I purposely reduced the amount of communication load to see if that was the issue and it

[2013-04-26 18:04] mbroecheler opened #239 "ByteBuffer.duplicate in Cassandra adapters"
Check which of the defensive copies are actually necessary.

[2013-04-26 19:14] mbroecheler opened #240 "Multi vertex query execution"
Use multiget_slice in Cassandra to execute the same vertex centric query on multiple vertices at once for better performance.
This is particularly useful when executing declarative queries.

[2013-04-26 20:48] okram opened #241 "Connection-timeout parameter not working ?"
Hi,

I set this to 60000 (60 seconds):

[code]

And I still get ConnectionRefused exceptions in less than 10 seconds.

[2013-04-26 22:06] mbroecheler opened #242 "Add more unit tests for IDManagement"
Make sure id allocation works under various failure scenarios by adding corresponding unit tests.
In particular, ensure that id can never be re-allocated.

[2013-04-26 23:56] mbroecheler opened #243 "Implement data grid KeyValueStore"
together with a KCVStore adapter that groups the entire adjacency list of a vertex into one value. This will be an in-memory version of Titan.

Which one should we support as our initial implementation for a data grid?

[2013-04-27 00:09] espeed commented on #243
Galaxy 1.0  :-) http://puniverse.github.com/galaxy/

http://paralleluniverse.co/docs/galaxy-1.0-SNAPSHOT.zip

Getting Started
http://puniverse.github.io/galaxy/start/getting-started.html

The Performance Of Distributed Data-Structures Running On A "Cache-Coherent" In-Memory Data Grid
http://highscalability.com/blog/2012/8/20/the-performance-of-distributed-data-structures-running-on-a.html

On Dist

[2013-04-27 00:14] mbroecheler commented on #243
Its LGPL :-(

On Fri, Apr 26, 2013 at 5:09 PM, James Thornton notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-27 16:49] okram commented on #221
Let it run with Astyanax. I'm back to getting ID renewal issues (was at 100,000 ids) as well as @Caused by: java.net.SocketTimeoutException: Read timed out@.

[code]

[2013-04-27 19:17] zmaril commented on #243
Pinging @pron @eitan101 , you might be interested in this issue.

[2013-04-27 19:19] pron commented on #243
@mbroecheler Is there a problem with LGPL?

[2013-04-27 19:27] espeed commented on #243
Previous discussions on Titan and Galaxy....

B+ Tree implementation in Galaxy
https://github.com/puniverse/galaxy/issues/9

B+ Tree
https://groups.google.com/d/topic/galaxy-user/3XD72zxdKyk/discussion

[2013-04-27 20:23] mbroecheler commented on #243
@pron: I don't have any personal problems with LGPL. Its been my impression
from interactions on the mailing list that folks get confused by non
Apache2 licenses which slows adoption. We are looking into different
alternatives including Hazelcast and EhCache (both Apache2).

That said, I am personally interested in seeing how Galaxy performs on
graph work loads compared to other systems like the o

[2013-04-27 20:29] pron commented on #243
@mbroecheler Interesting. We'll take a look at that (the licensing). Also,there are some changes coming very soon that will promote Galaxy to a  beta status.

[2013-04-27 20:39] mbroecheler commented on #243
@pron: Great, looking forward to it.

On Sat, Apr 27, 2013 at 1:29 PM, pron notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-29 15:21] okram commented on #211
This does work. It appeared not to work because of the toLowerCase()-bug in ElasticSearch indexing. Here is proof of it functioning given the toLowerCase()-workaround.

[code]

[2013-04-29 15:21] #211 closed, assigned to mbroecheler

[2013-04-29 16:05] okram commented on #207
I thought this problem would go away with my new knowledge of ElasticSearch -- but, unfortunately it hasn't. I still get the same exception and have tried various configurations to get it to work. In short:
1. I can get Rexster/Cassandra/ElasticSearch to all load without error (see good loading output below)
2. I can't get the Gremlin to talk to ElasticSearch when its embedded like this (same exce

[2013-04-29 18:35] mbroecheler commented on #221
@okram: Is Hadoop still co-located with Cassandra for those runs?

[2013-04-29 19:41] okram commented on #221
Yes, but I'm only running 2 mappers per machine which is very light considering they are m2.4xlarge boxes. Also, I've done colocation in the past with no problems. (well, we did have problems writing data :), but that was when task trackers were dying, nothing cassandra specific -- moreover, once we figured out the "task tracker dying issue," I didn't have issues with writing data to Titan/Cassand

[2013-04-29 22:38] okram commented on #221
Also realize that I can do pure Hadoop jobs all day long with no problem (SequenceFile) on this cluster configuration. Moreover, with the mapper count so low, I don't even come close to blowing a tasktracker.

[2013-04-29 23:08] hariharshankar commented on #229
I was able to reproduce this error in a controlled env:

The "name" field is indexed in both elasticsearch and cassandra.

[code]

[2013-04-29 23:11] mbroecheler commented on #229
Thanks, this is very useful. I am on it.

On Mon, Apr 29, 2013 at 4:08 PM, hariharshankar notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-04-30 11:10] protheusfr opened #244 "Index-free adjacency"
Just a question, is Titan index-free adjacency when using Cassandra backend ?
If not what is the graph traversal cost order ? ( O(1) ? O log(N) ? ...)

[2013-04-30 14:33] okram commented on #244
Looking up a vertex ID by its long is a O(1) operation (a hash). Thus, that gets you vertex A (lets say). Then the next cost is how to get to B. Well you need to find an edge in A that leads to B. If you have a small edge set, then its O(1) + O(m) + O(1). Thus, O(m), where m is the number of incident edges you scanned off of A. The problem is that m can be very large -- e.g. super nodes. In this s

[2013-04-30 14:33] #244 closed, assigned to nobody

[2013-04-30 15:58] okram opened #245 "Titan 0.3.0 release does not have all the .properties files in its bin/"
Look into assembly.xml and ensure -es.properties are included (its okay for titan-cassandra, but not titan-all).

[2013-04-30 16:01] okram commented on #229
So I have checked this for 2 combinations.
1. JUST CASSANDRA INDEXING (works!)
2. JUST ELASTIC SEARCH INDEXING (does not work!)

In short, you can not update a property on a vertex that has been indexed by ElasticSearch.

[2013-04-30 21:24] protheusfr commented on #244
Thank's for response, I'm perfectly concerned by super node problem...

Bastien VIGNERON

Le 30 avr. 2013 à 16:34, "Marko A. Rodriguez" notifications@github.com a écrit :

[2013-04-30 21:54] okram commented on #244
Note that Titan provides vertex-centric indices which alleviate the super node problem.

[code]

On Apr 30, 2013, at 3:24 PM, protheusfr notifications@github.com wrote:

[2013-04-30 23:04] okram commented on #221
Through 5 days of configuration optimizations, this is solved....

[2013-04-30 23:04] #221 closed, assigned to nobody

[2013-05-01 02:48] mbroecheler commented on #216
Titan 0.2.0 did not write version information to the database when it was released. That feature was only added later. Hence, when you open such a database with Titan 0.3.x or 0.2.1+ it will try to open it since it does not know any better and then fail when trying to actually read anything.

Nothing we can do about it. Later versions of Titan will check for version compatibility.

[2013-05-01 02:48] #216 closed, assigned to nobody

[2013-05-01 02:55] mbroecheler commented on #200
@okram : Can you double check this? Neither Pavel nor I can reproduce. Maybe it was an intermediate commit that was broken...

[code]

[2013-05-01 03:03] mbroecheler commented on #214
This is a really tricky one. I have been giving this a good amount of thought over the last two weeks. Here is the thing: In order to "fix" this, we would have to check if a vertex still exists every time we mutate the vertex. That is obviously very costly and not feasible at scale. In particular, because one would have to acquire some sort of lock to ensure that no race conditions arise. That mak

[2013-05-01 03:54] #237 closed, assigned to nobody

[2013-05-01 03:56] mbroecheler commented on #236
Titan will attempt to read from the storage backend pretty much immediately which causes this exception because the cluster hasn't "settled in" yet.

@xedin : What do you think is the best work around? Should we add a configurable "wait period" in the storage adapter?

[2013-05-01 14:21] okram commented on #200
This now works for me. Tested on the original dataset that was causing the problem too (the Grateful Dead dataset).

[code]

[2013-05-01 14:21] #200 closed, assigned to xedin

[2013-05-01 14:23] okram opened #247 "NPE when it should be IllegalStateException ("Graph has been shutdown")"
This is more of a corner-case/convention. If the database is already shutdown when an operation is done on it, it should be an IllegalStateException with a "Graph has already been shutdown"-type Exception message.

[code]

[2013-05-01 19:06] okram opened #248 "Depend on Frames so its in titan.sh and available for users."
When Frames is being used via an extension (e.g. titan.sh), then you have to copy the frames jar to the lib/ directory. Its such a small package that its handy for users to have that jar already available to them. Thus, it would be good to <dependency> on Frames.

[2013-05-02 14:19] okram opened #249 "Exception message -- value -> key"
" java.lang.IllegalArgumentException: The given value is already used as a property"

This should read "The given key is already used as a property"

key/value is the terminology for TinkerPop property graph model.

[2013-05-02 14:34] okram commented on #207
@spmallette You said in Denver that you had no problem getting Cassandra+Rexster+ElasticSearch to all run on the same JVM (embedded) via a single titan.sh call. Can you please demonstrate how you did this?

[2013-05-02 14:42] okram opened #250 "Lots of edges in TX causes exception. -- Titan 0.3.0 + Cassandra 1.2.4"
This is the GOOD situation -- 10,000 edges.

[code]

This is the BAD situation -- 100,000 edges.

[code]