[2014-07-09 08:48] mduruisseau commented on #674
Hello !

Thank you, it seems to be faster indeed .. ;)
Sorry for the issue here, next time I'll post on the mailing list !

[2014-07-09 08:48] #674 closed, assigned to nobody

[2014-07-09 11:56] JonSmoot commented on #680
got it, there's still some inconsistency here as this does work:

[code]

[2014-07-09 14:47] dkuppitz commented on #680
If you found a bug, please provide a complete example to reproduce it. If you just have a question about how to do it right, please use the [mailing list](https://groups.google.com/forum/#!forum/aureliusgraphs).

[code]

`.indexQuery()` sends the query string as is to ElasticSearch, Titan doesn't modify anything (except the field name).

[2014-07-15 15:22] huiwenhan opened #683 "when will Titan support Hbase 0.96 ?"
when will Titan support Hbase 0.96 ?

[2014-07-16 00:55] mbroecheler commented on #683
Titan 0.5 (which is currently in M1 and release within a month) will support 0.96

[2014-07-16 00:55] #683 closed, assigned to nobody

[2014-07-16 03:28] huiwenhan opened #684 "when will Titan support Hbase 0.96 ?"
andrew.stevens@au1.ibm.com

[2014-07-16 04:47] mbroecheler commented on #684
??

[2014-07-19 22:44] #684 closed, assigned to nobody

[2014-07-19 22:46] #670 closed, assigned to nobody

[2014-07-19 22:48] #660 closed, assigned to nobody

[2014-07-19 22:49] mbroecheler commented on #440
In Titan 0.5 this no longer exists and has been replaced by an explicit schema cache.

[2014-07-19 22:49] #440 closed, assigned to mbroecheler

[2014-07-19 22:50] mbroecheler commented on #656
@jsight That's an excellent observation. We will take a look at the solution.

[2014-07-19 22:54] mbroecheler commented on #523
Thanks to @joshsh @xedin and others, we moved this feature forward into the 0.5 release which supports edge label / property key and vertex label TTL.

[2014-07-19 22:57] mbroecheler commented on #453
Fixed in titan05

[2014-07-19 22:57] #453 closed, assigned to mbroecheler

[2014-07-19 22:58] #395 closed, assigned to mbroecheler

[2014-07-19 23:01] #553 closed, assigned to mbroecheler

[2014-07-19 23:08] #523 closed, assigned to mbroecheler

[2014-07-19 23:13] mbroecheler commented on #488
It will be possible to drop mixed/ES based indexes in Titan 0.5. However, composite indexes cannot be entirely dropped yet, only disabled. Hence, this ticket will survive into titan 0.6

[2014-07-19 23:16] mbroecheler commented on #569
After some discussion of use cases, we decided that in the interest of keeping the user interface simple we will not allow multiple unidirected edges off of a single edge (same for properties).
If this is absolutely required and none of the work around work, then we suggest wrapping Titan Edges such that mulitple unidirected edges are stored as a list of vertex ids and the wrapper converts those t

[2014-07-19 23:16] #569 closed, assigned to mbroecheler

[2014-07-20 01:47] zazzcode commented on #569
Thanks...  We came up with an alternate design

-Michael

Sent from my iPad

[2014-07-21 07:11] dalaro opened #685 "Automatically raise ExpectedValueChecking mutate consistency level to QUORUM when a lock is taken"
We recently changed ExpectedValueCheckingStore to verify expected values using at least QUORUM.  However, this still leaves a potential problem on the write side.  ExpectedValueCheckingStore mutations unconditionally use the write consistency level specified by the graph config.  This can lead to inconsistencies if the user configures the write consistency below QUORUM and then takes locks.  Readi

[2014-07-22 09:55] ksmets opened #686 "Error while commiting index mutations for transaction on index: search"
I'm testing out the 5.0-branch and got the following exception when updating properties of existing edges that are indexed using elasticsearch.

[code]

Debugging in Eclipse shows that isDeleted is set to true (while I'd expected this to be false, since I didn't delete any edge!), the hasDeletions() evaluates to false (empty list of deletions), and additions contains the correct list of changes.

[2014-07-22 13:15] ksmets commented on #615
Have the same issue when running titan05 build in storm topology in production. It also complains about

[code]

[2014-07-22 14:31] ksmets commented on #615
I figured out what is likely causing the issue... it's related to different version of the kryo serialization library. storm-incubating-0.9.2 uses kryo-2.21 while titan05 depends on kryo-2.22.

If you downgrade titan dependency to kryo-2.21, you can reproduce the silent int vs java.lang.Integer error. If you there is version mismatch you get java.lang.RuntimeException: com.esotericsoftware.kryo.Kr

[2014-07-22 18:36] ppeddi commented on #341
Would this be fixed in 0.5? We are waiting for this fix (critical for us since we need the ability to add indexes after the data is populated).

Thanks

[2014-07-23 02:41] bezalel commented on #399
g.makeKey("my_cjk_search_field").dataType(String.class).indexed("search", Vertex.class, com.thinkaurelius.titan.core.Parameter.of("analyzer", "cjk")).make();

==> this does not work for me.. I want to set different (custom) analyzer for each property..
Any update? this is really important for me and my customer :D

[2014-07-23 02:47] kevinschumacher commented on #399
Unfortunately I never got around to cleaning up the code and submitting the pull request. As far as I know that functionality doesn't exist in Titan yet (at least not in the 0.4.x series)

Sent from my mobile device

[2014-07-23 05:00] bezalel commented on #399
@kevinschumacher Could you please share titan jar file for Titan 0.4.4? :D my email is bezalel.dev@gmail.com

[2014-07-23 13:10] dkuppitz opened #687 "indexQuery is broken in 0.5.0-M2"
[code]

**copy/paste friendly version:**

[code]

[2014-07-23 18:48] dalaro commented on #687
I think this has to do with index API refactoring.  The backend name `search` declared for ES in the config file no longer maps 1-to-1 with with logical index name.  Here's the loader creating indices named `edges` and `vertices`, each of which is backed by `search`:

https://github.com/thinkaurelius/titan/blob/0.5.0-M2/titan-core/src/main/java/com/thinkaurelius/titan/example/GraphOfTheGodsFactory

[2014-07-23 20:27] dkuppitz commented on #687
Great, that works, although it's a bit cumbersome to tell Titan 3 times that I want either vertices or edges. In case somebody else stumbles across this issue, here's an example that shows the difference between vertex- and edge-queries:

[code]

[2014-07-23 20:27] #687 closed, assigned to nobody

[2014-07-24 03:50] mbroecheler commented on #341
Yes this will be part of the 0.5 release and is availble on M2. Documentation is forthcoming.

[2014-07-24 04:03] mbroecheler commented on #687
The reason is that Titan in 0.5 supports multiple vertex and edge indexes
in the same indexing backend so that the indexes can be separated from one
another. This is particularly useful in combination with labels.
Say, you have "user" and "organization" vertices. Both can have names and
what not and you want them both to be indexed but not together so that the
indexes do not pollute each other. Th

[2014-07-24 04:20] dalaro opened #688 "Remove TitanGraphOutputMapReduce's dependence on cassandra.yaml"
It throws an NPE if this is not available as a class resource

[2014-07-24 20:07] dalaro opened #689 "Remove titan-hadoop-core artifact with the shared-resources classifier from the dependency tree"
titan-hadoop-core:shared-resources is only used in testing and should be removed from the release dependency tree by `<scope/>` / `<optional/>`.

[2014-07-26 19:49] #592 closed, assigned to mbroecheler

[2014-07-26 19:49] #611 closed, assigned to mbroecheler

[2014-07-26 19:50] mbroecheler commented on #656
In Titan 0.5 we are changing the encoding scheme to only use lower-case letter thereby making it case insensitive which should fix this issue.

[2014-07-26 19:50] #656 closed, assigned to xedin

[2014-07-26 21:23] dkuppitz commented on #669
I just [verified](https://groups.google.com/d/msg/aureliusgraphs/HF8p4I6d4QI/2YoO0mnXGl0J) that everything's working as expected.

[2014-07-26 21:23] #669 closed, assigned to dalaro

[2014-07-27 00:43] mbroecheler commented on #686
Changing the encoding to be case insensitive should fix this.

[2014-07-27 00:43] #686 closed, assigned to mbroecheler

[2014-07-27 01:09] mindade opened #691 "Use key/value pairs in vertex centric indexes (and maybe other indexes)"
Vertex centric indexes are nice, but they only allow indexing on one property (or a composite of single properties). Frequently, I need to index an edge on multiple properties for the same edge in order to speed up queries. For example, say I have an event edge that has a time and a place. Now, I'm forced to create two edges with sort keys for time and place.

I have a proposal. Sort edges on mult

[2014-07-27 03:58] dalaro commented on #688
Fixed by 6f38f1928f69014d46b922fc626d6eceb7d5b3fc

This class could still use some refactoring, but this is enough to fix the NPE

[2014-07-27 03:58] #688 closed, assigned to dalaro

[2014-07-27 10:38] dkuppitz commented on #691
You can have as many sort-keys as you want, see the [Type Definition Overview](https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview#sortkeytitantype-and-signaturetitantype).

Is that not what you need?

[2014-07-27 17:38] mindade commented on #691
No, that is not what I need. I need the same edge sorted on different keys, and be able to pick which sort key I want to use in the query. With a composite key, I can't use an index for say, time, in one case, and then place, in another case, for the same edge.

My problem is that some of my edges contain a fair number of properties. I want to be able to use different properties as the sort key fo

[2014-07-27 19:51] mbroecheler commented on #691
Hey,

this feature has been implemented for Titan 05. There, you first define
your edge label and then can define an arbitrary number of indexes on that
label with various combinations of keys. Titan's query optimizer will pick
the best index to use for a particular query.

Cheers,
Matthias

On Sun, Jul 27, 2014 at 10:38 AM, mindade notifications@github.com wrote:

##

Matthias Broecheler
http://w

[2014-07-27 20:56] mindade commented on #691
Wow, that's awesome. I'll start using the 05 branch. Is it 'titan05'?

[2014-07-28 05:21] mindade commented on #691
I have the 0.5 M2 version running, but I can't find an example for creating an edge with multiple sortKeys. (The docs for vertex centric indexes in the 0.5 version is blank.) Is this handled differently now? I can see how to create multiple indexes for the edges, but I don't see how those indexes get used as a vertex centric index. It looks like a global index.

[2014-07-28 05:40] mindade commented on #691
I think I found a hint for how to do this in the new GraphOfTheGodsFactory:

mgmt.buildEdgeIndex(battled, "battlesByTime", Direction.BOTH, Order.DESC, time);

I'll keep digging, but this looks great. I guess the sortKey is no longer needed on edges?

[2014-07-28 05:50] mbroecheler commented on #691
We are about to release the M3 with an updated documentation. That should
make things easier for you ;-)
But, yes, you found it. Vertex-centric indexes are now created through the
management system. The sort key "time" in this particular example.

On Sun, Jul 27, 2014 at 10:40 PM, mindade notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-07-29 01:11] mindade opened #693 "gremlin gives 'need to set configuration value: root.graph.titan-version' when building from source"
I did the following:
1. Cloned titan.
2. git checkout titan05.
3. mvn clean install
4. bin/gremlin.sh
5. g = TitanFactory.open('conf/titan-cassandra-es.properties');

I get the following error:

"Need to set configuration value: root.graph.titan-version"

[2014-07-29 03:46] dalaro commented on #693
I couldn't reproduce this.  My titan05 head was d27488d3521543a9ef14bcdf832e70f324919ae1.  I had an Apache Cassandra 2.0.9 instance with no data running at the time.

Do you have existing data, and if so, can you reproduce the problem on a clean Cassandra + ES?  What version of Cassandra are you running?

[2014-07-29 04:07] mindade commented on #693
Hmmm. I really wanted to start the embedded cassandra, so I was using the wrong properties file. Not sure why it was giving that strange error. It seems to be working now. Thanks.

[2014-07-29 04:16] #693 closed, assigned to nobody

[2014-07-29 07:30] mbroecheler opened #694 "Widerow support in Faunus"
Add Faunus config option to enable cassandra's widerows iterator.
See if it solves at least some frame size exceeded exceptions.

[2014-07-29 07:32] mbroecheler opened #695 "Automated test of titan.sh using expect"

[2014-07-29 07:33] mbroecheler opened #696 "Faunus Config option refactoring"
Completing the refactoring of Faunus configuration options to use Titan's configuration system and including in the configuration reference documentation.

[2014-07-29 07:34] #691 closed, assigned to nobody

[2014-07-29 07:37] dalaro commented on #689
I tried this eventually gave up.  It's possible but annoyingly difficult to make it play nicely  with both deployment and reactor.

89ae42eac7f1882e2c3a7ca053a4b82011ce046d
7b9ac589542d6d028eed857c8268398e94e358de
0b602d8f5b21c54fdb1f7587ad710e50721f21bf

[2014-07-29 07:37] #689 closed, assigned to dalaro

[2014-07-29 07:38] dalaro commented on #685
Fixed in 88fe8001ef75306106faaa72625dd34a9e52d946

[2014-07-29 07:38] #685 closed, assigned to dalaro

[2014-07-29 13:14] utke1 opened #697 ""v." ( or "e.") substring in lucene query value string misinterpreted as element prefix"
If the value for a vertex property key (say "fieldname")  to be matched in a lucent query   happens to contain a "v." substring, for example,  "v.fieldvalue" and one issues the query like this:
g.indexQuery("search","v.fieldname:v.fieldvalue")
then one gets an exception such as this:
java.lang.IllegalArgumentException: Found reference to non-existant property key in query .... : fieldvalue

 The e

[2014-07-29 14:25] dalaro opened #698 "Reduce socket use in titan-hadoop tests"
The Cassandra-backed reindex tests create and close more than 10k Thrift sockets.  The total number of open sockets at any one time is low, almost always single digits.  However, thousands remain in TIME_WAIT.  There are enough waiting sockets to fail the reindex tests due to exhaustion when they are all run in succession.  Explicitly calling TSocket.getSocket.setSoLinger(false, 0) on each created

[2014-08-01 15:52] l15k4 commented on #612
I'm just joining 2 potential sources of revealing the roadmap a bit, even a rough estimate would help :-P  However I fully understand the reasons for keeping it internal. http://goo.gl/ZkJGpE

[2014-08-04 15:42] fitzoh opened #699 "Unable to enable batch-loading in Titan-0.5-M3 with BerkeleyDB"
This

[code]

Works fine, while this

[code]

Throws a backend exception

[code]

[2014-08-04 20:16] randall-sosacorp opened #700 "Unable to start Elastic Search using in-memory mode as configured"
##### Expected result

Defining a configuration like `index.search.elasticsearch.local-mode` should start Elastic Search in embedded mode.
##### Actual result

The following exception is emitted:

[code]
##### Affected versions

Titan 0.5.x, primarily 0.5.0-M2, 0.5.0-M3, and as of this writing, HEAD of the titan05 branch.
##### Detailed Description

This was discovered while running an integration

[2014-08-06 15:26] dalaro commented on #700
@randall-sosacorp thanks for the cogent report and the PR complete with a test.  This is a priority for 0.5.0 final.  I the approach in #701, setting MASKABLE on the three concerned ES options, seems reasonable as a standalone change.  I also plan to look at the incident code in `GraphDatabaseConfiguration` to see what's going on, and in particular if this could be affecting other namespaces/optio

[2014-08-07 16:34] #435 closed, assigned to mbroecheler

[2014-08-07 16:34] #561 closed, assigned to mbroecheler

[2014-08-07 16:35] mbroecheler commented on #431
Titan 05 docs are almost completely restructured.

[2014-08-07 16:35] #431 closed, assigned to mbroecheler

[2014-08-08 10:10] xsyn commented on #683
Hi, is 0.98 support also queued for this this release?

[2014-08-08 10:35] xsyn commented on #683
nevermind, I see interop between 0.96 and 0.98 is meant to be seamless

[2014-08-09 02:50] mbroecheler opened #702 "Rename methods for adding vertex with label"
Rename addVertex(string) and addVertex(VertexLabel) methods in TitanGraph, titanBlueprintsGraph, and TitanTransaction to addVertexWithLabel in order to remove with Collision with blueprints.

[2014-08-09 02:52] mbroecheler commented on #341
This has been implemented and documented.

[2014-08-09 02:52] #341 closed, assigned to mbroecheler

[2014-08-10 16:17] dalaro commented on #700
@randall-sosacorp I pulled #701 into a branch and spent a while investigating.  The root cause of the failing test you submitted is actually completely unrelated to GraphDatabaseConfiguration.  GLOBAL_OFFLINE seems to be working as intended here.

The test fails because it has been written in such a way that the ElasticSearchIndex class which defines `client-only`, `local-mode`, etc. is never load

[2014-08-10 16:17] #700 closed, assigned to dalaro

[2014-08-10 16:28] dalaro opened #703 "Consider additional Elasticsearch Node support"
Right now, the only way to start an ES Node inside Titan is to force local transport.  That limits ES to discovering only other ES instances in the same process (and there usually are none).

It could be useful to allow ElasticSearchIndex to run a Node without forcing `local(true)`.  A Node with `client(true)`, `data(false)`, `local(false)` could benefit from Node's cluster topology awareness and

[2014-08-11 01:53] #702 closed, assigned to dalaro

[2014-08-11 01:59] dalaro commented on #698
Mitigated by two commits:
- a2591756e2e9dc405ed7c6885da0a6367fa5146c - lower Faunus's Cassandra test connection pool size
- 9d4cef8b441cc59720d9ed2d78047c189bfe9160 - reduce num_tokens to fire fewer Mappers

The total TIME_WAIT sockets open during titan-hadoop tests currently stays under 500.

[2014-08-11 01:59] #698 closed, assigned to dalaro

[2014-08-11 02:01] dalaro commented on #699
@Fitzoh thanks for the report.  As @mbroecheler pointed out off-list, this precondition is absent in master, and it doesn't really make sense for BDB, which uses a null tx to signify an atransactional context (e.g. when transactions are disabled).  Deleted the precondition and modified the toString implementation to handle a null tx.

[2014-08-11 02:01] #699 closed, assigned to dalaro

[2014-08-11 02:08] dalaro commented on #657
Fixed in d5b091df87122eb9cff31afdeba201f5631cdbca

This bug only affects really old Cassandras at this point, since they've shipped a fixed version since 1.2.6.  I've noted that version and just suggested an upgrade instead of the old surgical fix of dropping in a newer Snappy.

[2014-08-11 02:08] #657 closed, assigned to dalaro

[2014-08-11 02:09] dalaro commented on #533
Fixed in d5b091df87122eb9cff31afdeba201f5631cdbca

[2014-08-11 02:09] #533 closed, assigned to dalaro

[2014-08-11 02:11] dalaro commented on #672
I still haven't been able to reproduce this; please reopen with additional details

[2014-08-11 02:11] #672 closed, assigned to dalaro

[2014-08-11 16:48] randall-sosacorp commented on #700
tl;dr: Changing the configuration option to MASKABLE solved our issue.

The test associated with pull-request 701 was written so as to simulate what was observed during debugging.  A separate test I wrote that discovered this issue is not part of the pull request associated with this issue.

I was able to observe that this, in fact, was not happening for our use-case.  When invoking `TitanFactory.

[2014-08-11 22:08] randall-sosacorp commented on #700
I'd be remiss not to describe, in more detail, the debugging trace:
[TitanFactory.open()](https://github.com/thinkaurelius/titan/blob/0.5.0-M3/titan-core/src/main/java/com/thinkaurelius/titan/core/TitanFactory.java#L92)
[Backend initialization](https://github.com/thinkaurelius/titan/blob/0.5.0-M3/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/configuration/GraphDatabaseConfiguration.java

[2014-08-12 07:13] mindade opened #704 "git repo changes"
I tried loading the 0.5.0-M3 release and git cloning the archive. The directory structure has changed. The bin, conf, and many other directories are missing, so I can't seem to just bin/gremlin.sh anymore. Is this intentional? I can't find any new doc on the changes.

[2014-08-12 07:17] anvie commented on #11
+1 for partitioned vertices

[2014-08-12 07:20] dalaro commented on #704
You're using the git repo, not the zip archive, right?  This builds M3's bin, conf, etc and then runs `bin/gremlin.sh`:

[code]

`titan.sh` is not setup to run out of the root of the repo in M3.  It's missing a few dirs that are present in the zipfiles.

[2014-08-12 08:10] mindade commented on #704
I can get the M3 archive or branch compiled, but I was trying the titan05 branch. That should be the latest 0.5.0, correct? I know I had this compiling last week. I'm trying it on a different machine. I just cloned the repo and did the commands above (except the checkout was for titan05). It builds, but the bin, lib, conf, and other directories are not there. I think I can use the M3 branch, but I

[2014-08-12 19:01] dalaro commented on #702
4da8c8a44e1e5b05e62499fdf00ed6bba0258c19 is a follow-on commit that resolves some asymmetry between TitanGraph/TitanTransaction's method names and updates the docs.

[2014-08-12 22:17] randall-sosacorp commented on #700
Nutshell summary: This was our problem, not Titan's.

After some further debugging, we were able to identify the root cause of the issue.  The [TitanFactory](https://github.com/thinkaurelius/titan/blob/0.5.0-M3/titan-core/src/main/java/com/thinkaurelius/titan/core/TitanFactory.java#L91) was not walking the classpath and forcing static `ConfigOption` initialization as expected.  The reason is that

[2014-08-13 05:13] dalaro opened #706 "Rework explicit partitioning + Cass RP/Murmur3 error handling"
Titan on Cassandra-Murmur3 allows definition of partitioned vertex labels, but then throws a cryptic precondition failure when attempting to allocate an ID for vertices with that label:

[code]

Can we check for this in `partition()` or `mgmt.commit()`, and just prevent the label from being defined?  If not, then we should at least detect when explicit partitioning is combined with RP/Murmur3 and

[2014-08-13 10:07] mbroecheler commented on #706
We should check the following:

1) when building a partitioned vertex label, it should be verified that
cluster.partition is true.

2) when initializing a graph, it should be checked that the storage backend
is keyordered if cluster.partition is true. The later must already be the
case, if not please add.
On Aug 13, 2014 12:13 PM, "Dan LaRocque" notifications@github.com wrote:

[2014-08-13 17:17] dkuppitz opened #707 "Add logging to the transaction recovery process"
[Transaction recovery](http://s3.thinkaurelius.com/docs/titan/0.5.0-SNAPSHOT/failure-recovery.html) is a nice new feature, but it currently acts like a black box. It would be nice if the process that started the recovery via `TitanFactory.startTransactionRecovery()` would log its recovery attempts to `stdout`.

[2014-08-13 17:28] dkuppitz opened #708 "Improve instance management"
[Failure & Recovery](http://s3.thinkaurelius.com/docs/titan/0.5.0-SNAPSHOT/failure-recovery.html) describes how to remove failed instances from a cluster. The problem is that it's not quite clear how one can identify the failed instance. For example I've had this output in a test on my local machine:

[code]

What are these instances? Obviously an instance is a process, but I couldn't identify the

[2014-08-13 17:35] dkuppitz opened #709 "Simplify the reindexing process"
It would be nice to have the following code snippet (taken from the [docs](http://s3.thinkaurelius.com/docs/titan/0.5.0-SNAPSHOT/reindex.html)) wrapped in a single method call:

[code]

**Suggestion:**

[code]

[2014-08-14 15:01] dalaro commented on #709
The API might be a little different than shown above.  We should support configuration of the sleep interval, timeout, and objective status.  An overload with sensible defaults is fine as long as we allow setting the others.  The timeout might be approximate in some configurations due to retry loops further down the stack, such as in BackendOperation or Astyanax.  For general use, we should add lo

[2014-08-14 15:12] dalaro opened #710 "Remove precondition check preventing declaration of unique edge indices"
ManagementSystem.createCompositeIndex's first few lines contain a precondition that only allows non-unique indexes or indexes on vertices.  This should allow edges.

Add test coverage first: create a unique composite edge index and do some basic exercises with it.  Then modify the precondition.

[2014-08-14 21:43] dalaro opened #711 "Refactor ReflectiveConfigOptionLoader"
I want to make several changes to ReflectiveConfigOptionLoader.
- Add a way to disable it entirely
- Move ReflectiveConfigOptionLoader's logic into the ConfigOption/ConfigNamespace/ConfigElement implementation where it as actually needed, so that it can't be accidentally bypassed through unusual construction of TitanGraph or its Backend classes (only by deliberately disabling it as mentioned in th

[2014-08-14 21:48] dalaro opened #712 "Look into avoiding "java.class.path" system property in Reflections"
See:

https://github.com/thinkaurelius/titan/issues/700#issuecomment-51985584

Some JVM environments like Play in dev mode or exec-maven-plugin's exec:java goal seem to modify the classpath at runtime, so that the system prop and the actual classpath in use by the app's classloader hierarchy are different.  We probably want to prefer the latter by default, if Reflections supports it or we can easi

[2014-08-14 21:50] dalaro commented on #700
@randall-sosacorp thank you for following up.  I've seen this behavior before with exec-maven-plugin's exec:java goal too.  I will look into potential alternatives to `ClasspathHelper.forJavaClassPath()` in #712 -- maybe there's a way to easily use the effective runtime classpath instead of the property?  I don't know yet but will look into it.

Related: #711

[2014-08-14 21:51] #661 closed, assigned to dalaro

[2014-08-14 21:51] #667 closed, assigned to dalaro

[2014-08-14 23:18] randall-sosacorp commented on #712
Here are some relevant links to the issue and methodologies:
https://groups.google.com/forum/#!topic/play-framework/H17U-tTmw0U
http://stackoverflow.com/questions/11613988/how-to-get-classpath-from-classloader

There's also an [interesting example in the Hazlecast project](https://github.com/hazelcast/hazelcast/blob/v3.3-EA2/hazelcast/src/main/java/com/hazelcast/util/ServiceLoader.java).

[2014-08-15 10:08] asaf opened #713 "Exception during deletion of an edge."
Hey,

In some situations while trying to delete an edge, it fails on:

[code]

This seems to fail on this conditional check : `Preconditions.checkArgument(del.isRemoved());`

For some reason the edge is not marked as removed,

I suspect this has something to do with transactions since as a workaround reloading the edge before marking for removal fixes the problem.

(I use 0.4.4)

 Clues?

Thanks.

[2014-08-15 10:16] asaf opened #714 ""Use Titan's Management API to create indices""
Hey,

This is a feature request, to support standard Blueprints API for managing indices,

We'r in a migration process from Neo to Titan and the main reason why this is possible at all without rewrite is thanks to Blueprints,

Not supporting the generic API layer Titan was built on sounds weird to me (unless there's a very good reason)

Support was gone in 0.5.0,

Thanks.

[2014-08-15 12:35] spmallette commented on #714
going forward in tinkerpop3, tinkerpop APIs will not support indexing at all.  the vendor indexing APIs are all too varied in what they require to keep the tinkerpop ones generic while still robust.  i have a feeling this was a planned move from @mbroecheler given the upcoming shift to TP3 focus.

that said, if you are migrating to titan and are not taking advantage of the native api interface, yo

[2014-08-15 12:35] #714 closed, assigned to nobody

[2014-08-15 12:52] asaf commented on #714
@spmallette Thanks for answering,

I understand the complexity of having support for multi vendor within a generic API, and
while I dig more and more into Titan, the data type is too different from Neo and other dbs I've seen so far.

Thanks again.

[2014-08-15 14:28] asaf opened #715 "Extending data types constraints"
Hey,

How Titan handles other constraints but unique ? such length, min/max, regexp, etc?

I currently have in mind the following approach:

Wrap Titan with pre-commit Tinkerpops's EventGraph wrapper and validate entity during commit: This is annoying because I'd like the failure to occur during the e/v.setProperty and not during the commit phase.

Is there a better approach extending properties c

[2014-08-15 15:08] mbroecheler commented on #714
Stephen is exactly right. Also note that the schema and index creation code
is typically a small subset of the application that gets executed once and
hence the amount of vendor lock in is rather minimal.

And, as Stephen noted, you would typically want to use database specific
features. For Titan, a lot of what makes is scalable less in the schema and
indexes.
On Aug 15, 2014 7:52 PM, "Asaf Shaka

[2014-08-15 15:19] mbroecheler commented on #713
Can you send the code block that triggers this exception and the full stack
trace? Thank you
On Aug 15, 2014 5:08 PM, "Asaf Shakarchi" notifications@github.com wrote:

[2014-08-15 15:29] mbroecheler commented on #715
Hi Asaf,

I don't see us pushing custom validation logic into the Titan graph.
Rather, this should be accomplished by a wrapper similar to the eventgraph
you mentioned. In fact, this is going to get a lot easier with the graph
strategies approach of tinkerpop 3. @spmallette can comment more
intelligently on that, but basically it will allow you to inject light
weight wrappers.
On Aug 15, 2014 9:28

[2014-08-17 02:23] dkuppitz opened #716 "Kryo buffer size"
Make the Kryo buffer size configurable. Once you hit the current [hard limit of 10 MB](https://github.com/thinkaurelius/titan/blob/0.5.0/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/database/serialize/kryo/KryoSerializer.java#L26), there seems to be no way to get around it.

[2014-08-17 13:46] asaf commented on #715
@mbroecheler thanks!

@spmallette In Tinker, we have EventGraph that fire events after commits, we need such an EventGraph that fires events before commit so we can perform validations rules and rollback if some constraints are violated,
It even makes more sense to have an ValidatedGraph type with support of constraints to any usage that need some validation rules before committing data to the und

[2014-08-19 00:45] yuriythedev opened #717 "Titan/Hadoop 0.5 GA does not parse RDF types correctly"
When I run Titan/Hadoop on a default RDF "rdf-input.properties" config with "titan.hadoop.input.conf.format=n-triples" in it,  I get

17:15:55 WARN  org.apache.hadoop.mapred.LocalJobRunner  - job_local1619420135_0002
java.lang.Exception: java.lang.IllegalArgumentException: No match for string "n_triples" in enum class com.thinkaurelius.titan.hadoop.formats.edgelist.rdf.RDFConfig$Syntax
        at

[2014-08-20 19:38] dkuppitz opened #718 "Wrong property used in sample configuration"
`script-input.properties` sets:

[code]

Should be:

[code]

[2014-08-20 19:45] okram commented on #718
Ugh. It should be 'direction' in the code. dir is not obvious.

On Aug 20, 2014, at 1:38 PM, Daniel Kuppitz notifications@github.com wrote:

[2014-08-21 10:16] stephtr opened #719 "Titan 0.5 on Windows with cygwin"
Starting Titan 0.5 with cygwin on Windows fails:

$ bin/titan.sh start -v
Starting Cassandra...
Error opening zip file or JAR manifest missing : /cygdrive/d/Programme/Titan/lib/jamm-0.2.5.jar

Error occurred during initialization of VM
agent library failed to init: Instrument

conf/cassandra-env.sh (JVM_OPTS="$JVM_OPTS -javaagent:$CASSANDRA_HOME/lib/jamm-0.2.5.jar") should be modified, the javaage

[2014-08-21 16:37] randall-sosacorp opened #720 "ElasticSearchIndex fails to load elasticsearch.yml file"
##### Brief Description

When attempting to configure Titan to read an Elasticsearch yaml configuration file while running in local mode, the settings defined in the yaml file never take effect.  Example configuration setting: `index.search.conf-file=/etc/elasticsearch/elasticsearch.yml`.  Within this configuration file, there is the following setting: `index.store.type=memory`.  This is ignored,

[2014-08-21 16:59] randall-sosacorp commented on #720
Present work-around is to load the body of the desired configuration settings in titan.properties: `index.search.conf-file={ "index.store.type" : "memory" }`.

[2014-08-21 19:28] mindade opened #721 "Clarification of Chapter 29 in 0.5.0 docs"
I just saw the documentation on graph partitioning in the new 0.5.0 docs (Chapter 29). The terminology is a little inconsistent, so I'm not sure how this is applied.
I assume that this only applies if you have multiple 'storage.backend' statements in the configuration file? Is this correct?
The reason I ask is that our setup is having one storage backend (cassandra) and several front end Titan ins

[2014-08-21 21:17] mindade commented on #721
I think I understand what this refers to now. The backend instances refer to the number of  instances in my cassandra cluster. So if I want to group graph items in a particular way on cassandra, these clustering parameters give me that option. Very nice. Thanks.

[2014-08-22 01:46] dalaro opened #722 "Remove "root." prefix from config option in HBase cfg warning"
The HBase manager produces this warning:

[code]

"root.storage...." should just be "storage..." in both instances above.

[2014-08-22 07:52] mbroecheler commented on #721
Correct. In case anybody else reads this: Titan does not support multiple
storage backends in a single deployment. There is always only one primary
storage backend but there can be multiple indexing backends.
On Aug 22, 2014 4:17 AM, "mindade" notifications@github.com wrote:

[2014-08-22 09:41] #722 closed, assigned to dalaro

[2014-08-22 09:46] dalaro commented on #718
I added edge-copy-direction.  edge-copy-dir is retained and used in the absence of edge-copy-direction, but it's marked deprecated in the code (and the documentation: http://s3.thinkaurelius.com/docs/titan/0.5.1-SNAPSHOT/hadoop-config-ref.html#_titan_hadoop_input).

I found no grep hits for edge-copy-dir in `docs/faunus`, `titan-hadoop-parent/*/src/*`, or `titan-dist/src/`  -- just for -direction

[2014-08-22 09:46] #718 closed, assigned to nobody

[2014-08-22 09:50] dalaro commented on #716
89a77c18377c9cef6f51ab621a31c22c10ff715f exposes this specifically for Faunus.  I think the origin of this ticket was an unusually large titan-to-faunus ID hashmap emitted by Faunus's TitanGraphOutput, which would not affect TitanGraph.  We can also expose this in TitanGraph if necessary, but I haven't done that yet.  Please reopen if we need this in TitanGraph too.

[2014-08-22 09:50] #716 closed, assigned to nobody

[2014-08-22 10:01] dalaro opened #723 "Add support for custom ES TransportClient settings"
Motivation: https://groups.google.com/d/msg/aureliusgraphs/jhPC0_OY34Q/--Yfob25v1YJ.

That thread started on using the found.no transport with Titan's ES backend.  We could probably support custom transports and more via `ImmutableSettings.Builder.loadFromUrl(customurl)`, where `customurl` is specified in the titan config.

[2014-08-22 10:08] dalaro commented on #720
You're right on the whole line, including the fix and current workaround.  This is a beautiful bug report.

If we were following the letter of the semver.org law, we should probably deprecate conf-file and introduce a new option that loads a stream to avoid breaking compatibility with 0.5.0, but the idea that `index.search.conf-file` under ES actually accepts a string literal instead of a file pat

[2014-08-22 10:09] dalaro commented on #719
Hi @stephtr, thanks for reporting.  A pull request would be welcome if you can submit one.

[2014-08-22 10:15] dalaro commented on #717
I think that exception is getting logged at WARN by LocalJobRunner.  Am I reading that right?  If so, then I think the log level is a Hadoop concern -- we can't control what level LocalJobRunner uses for that log message.

The formats are uppercase in 0.5.0, as you mentioned, and the recognized values are defined in the RDFConfig.Syntax enum.  Sorry for the bumpy transition.

[2014-08-22 10:15] #717 closed, assigned to nobody

[2014-08-22 15:47] randall-sosacorp commented on #720
Thanks, Dan.

[2014-08-22 16:47] mindade opened #724 "Query optimizer questions"
I'm trying to get a feel for how the query optimizer works in 0.5.0. Suppose I have a graph query:

g.V.has("owner","xx").has("color","blue")

Say I have 'owner' and 'color'. How will the optimizer choose which property to execute first? Is it different if I use an external search index?

I could do an indexQuery like (owner:xx AND color:blue). Does the query optimizer make this reduction?

Can (o

[2014-08-22 17:34] spmallette commented on #724
The issue tracker really isn't for "questions" on usage.  You asked it in the right place already:

https://groups.google.com/forum/#!topic/aureliusgraphs/ZWDk0rLESY0

[2014-08-22 17:34] #724 closed, assigned to nobody

[2014-08-22 18:10] mindade commented on #724
Sorry, sometimes I don't get a response on the forum, but do here.

[2014-08-22 18:28] spmallette commented on #724
I copy and paste this from a reply I once wrote to someone on our mailing list:

I hope that helps clarify why you might not always get an immediate response on the mailing list.

[2014-08-22 18:44] mindade commented on #724
Ok, thanks. I do think your support is outstanding.

[2014-08-24 20:59] dkuppitz opened #725 "ES cluster name setting"
Setting `index.search.elasticsearch.cluster-name` doesn't seem to work as expected. Multiple people reported that ES wasn't recognized by Titan when the cluster name was explicitly set; removing the setting always solved the problem.

Can't tell much more about it, since I haven't found the time to reproduce it locally yet.

[2014-08-25 00:02] dalaro commented on #662
Both this gremlin.bat CLASSPATH issue and the HadoopGraph import issue were resolved in 0.5.0.  Setting milestone back from 0.5.1 to 0.5.

[2014-08-25 00:02] #662 closed, assigned to dalaro

[2014-08-25 04:36] #715 closed, assigned to nobody

[2014-08-25 04:40] #721 closed, assigned to nobody

[2014-08-25 14:20] davidseth commented on #693
By upgrading to Cassandra 2.0.9 I solved the "Need to set configuration value: root.graph.titan-version" problem. Previously I was using 2.0.8 and couldn't run gremlin.

[2014-08-25 17:31] mbroecheler opened #726 "Shutdown during management ack should be graceful"
I am using titan 0.5.0 with hbase 0.98
I use the following code to create the test graph GraphOfTheGods. It throws exception

my code:
public static void main(String[] args) {

[code]

}

The error is :

start shutdown

Exception in thread "Thread-209" java.lang.IllegalArgumentException: Log {} has been closed [systemlog]

at com.google.common.base.Preconditions.checkArgument(Preconditions.java:11

[2014-08-25 18:40] BryanDonovan opened #727 "Looking up an invalid vertex ID returns 500 and HTML error response"
I'm not sure if this is an issue in Rexster or Titan, but if you request a vertex by ID, and that vertex does not exist, _and_ the ID is not valid, the response is a 500 instead of a 404, and the response body is plain-text HTML.

The below was using Titan 0.5.0 with the stock GraphOfTheGods graph on Mac OSX 10.9.4.

[code]

If the ID is valid but non-existent, the response is a 404 like expected.

[2014-08-25 18:51] BryanDonovan opened #728 "Deleting a non-existent vertex ID returns 500 with null error/message"
This is another bug where I'm not sure if it's Rexster or Titan, but if you try to delete a non-existent but valid vertex ID, the response is a 500 (which might make sense, but should probably be 404), and the error response is:

[code]

E.g.,

[code]

[2014-08-25 18:54] dkuppitz opened #729 "Incremental loading in Titan/Hadoop 0.5.0+"
In Faunus we've had [Incremental Data Loading using a TitanOutputFormat](https://github.com/thinkaurelius/faunus/wiki/Titan-Format#incremental-data-loading-using-a-titanoutputformat). It seems like we've either lost this feature in 0.5.0 or it's not documented in the [Hadoop](http://s3.thinkaurelius.com/docs/titan/0.5.0/hadoop.html) section of the docs.

[2014-08-25 19:37] spmallette commented on #727
are you seeing anything in the rexster logs after issuing this request?  if you look at the code in Rexster

https://github.com/tinkerpop/rexster/blob/fd82ccd589d52cf7b42590f46a92b26b28476151/rexster-server/src/main/java/com/tinkerpop/rexster/VertexResource.java#L194

it's pretty clear that it checks for the id first and if `null` throws a NOT_FOUND.  it leads me to believe that titan may be throw

[2014-08-25 20:03] mbroecheler opened #730 "Reserved names for vertex labels"
"vertex", "element", "edge", "property", "label" should be reserved names for vertex labels, edge labels, and property keys.

[2014-08-25 20:06] asaf opened #731 "Few issues related to checking edge/keys existence."
Hey,
1. When `schema.default` is set to default, tm.getPropertyKey() creates the key if it doesn't exist,
   IMO this is confusing as getters usually retrieve content and don't perform actions,
   I was trying to invoke this method to create a key if it doesn't exist and the invocation itself created an Object key.
2. When `schema.default=none`, tm.getPropertyKey() fails if key doesn't exist,
   I

[2014-08-25 20:09] mbroecheler commented on #731
For 2) + 3): There is the method containsRelationType(String) which
generalizes containsPropertyKey and containsEdgeLabel since both live in
the same namespace.

On Mon, Aug 25, 2014 at 1:06 PM, Asaf Shakarchi notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-08-25 20:24] mbroecheler opened #732 "Schema Locking"
If the same schema elements are modified in concurrent TitanManagement transactions, inconsistencies can arise. Add a locked "version" BaseKey that gets incremented for every change on a schema element to ensure that conflicts are avoided.

[2014-08-25 20:26] mbroecheler opened #733 "Graph Partitioning Test cases and custom partitioners"

[2014-08-25 20:54] BryanDonovan commented on #727
I don't see any logging in titan/logs (i.e., elasticsearch.log, cassandra.log, rexstitan.log) when I get this error.  Are there other logs I can look at, or is that all?

In #728 I do see this in rexstitan.log:

[code]

[2014-08-25 20:55] BryanDonovan commented on #728
p.s., I see this in the rexstitan.log file when this error occurs:

[code]

[2014-08-25 21:08] spmallette commented on #727
that's weird - that's right where it should be:

https://github.com/tinkerpop/rexster/blob/fd82ccd589d52cf7b42590f46a92b26b28476151/rexster-server/src/main/java/com/tinkerpop/rexster/VertexResource.java#L212

I wonder why you end up with a 500................

do you get any additional messages if you turn on more logging? not sure how you are set up...but with Rexster it's:  `bin/rexster.sh -s -d

[2014-08-25 21:17] BryanDonovan commented on #727
It seems to be related to the ID itself -- 2494 in this case (I generated some random integers in an integration test).  If I use a valid ID that doesn't exist, it seems to work.

I just tried starting rester with those flags (I actually edited bin/titan.sh and added them there) and I still don't see any extra log output.

[2014-08-25 21:20] BryanDonovan commented on #727
If I try send a DELETE to the same URL with id 2494, it returns:

[code]

Nothing is logged for that either.

[2014-08-25 21:27] spmallette commented on #727
ah - that's the problem - happens in the repl too:

[code]

This is a "non-standard" exception specific to Titan.  It is not a behavior enforced by Blueprints so therefore, Rexster doesn't know anything about it.

@mbroecheler is this expected behavior?

[2014-08-25 22:36] mbroecheler opened #734 "Proper graph shutdown"
If a graph is not properly shut down, a background thread should do so. I believe this was supported in 0.4.

[2014-08-26 14:12] asaf commented on #731
@mbroecheler Thank you for answering, I'm not sure why both live in the same namespace but I assume this is related internally to how titan structures the graph elements,

Either way, if you guys feel okay with the behavior of 1 then close this issue, I found it very confusing, up to you :-)

Thanks!

[2014-08-26 16:19] mbroecheler commented on #731
from @spmallette

matthias, i was converting some older Titan schema creation code to Titan 0.5.  to check key existence, i naively did (because that's what i did before basically):

def t = mgmt.getPropertyKey("someName")
if (t == null) {
   // create

when i ran this, i got this exception:

java.lang.IllegalArgumentException: Property Key with given name does not exist:someName
at com.thinkaurel

[2014-08-27 13:45] spmallette opened #735 "Hadoop Job Compilation Info"
With Faunus you used to get some output in the console when you issued a script that told you how many hadoop jobs the gremlin was going to compile down to.  That information is really important because it tells you very early on if something is messed up so you can kill your job early (and not wait 12 hours for the first job to finish to find out no additional jobs got scheduled).

[2014-08-27 14:45] curtisallen commented on #735
:thumbsup:

[2014-08-27 21:13] mbroecheler commented on #711
It would be good if we could reduce the time it takes to startup a TitanGraph due to the classpath loading.

[2014-08-28 01:06] dalaro opened #736 "Allow disabling and/or sandboxing the ES dynamic update script"
The ES backend requires `script.disable_dynamic=false`.  ES recommends migrating to some combination of sandboxing and server-side, implicitly-trusted scripts: http://www.elasticsearch.org/blog/scripting-security/.  This is not something we absolutely have to do, but it would allow Titan to use ES in a broader range of client environments.

Titan appears to require dynamic scripting to support del

[2014-08-28 03:36] dalaro opened #737 "Fix documentation errors compiled by Bob in Trello"
board name is "Titan 0.5.0 Documentation Errors"

[2014-08-28 10:28] dalaro commented on #723
Arbitrary custom options are now supported in titan05 HEAD.  They can be specified either via `index.[X].conf-file` pointing to an ES config file or via `index.[X].elasticsearch.ext.foo=bar`, where `foo` is any ES config key.  This works with both TransportClient and the Node client.

See the 0.5.1-SNAPSHOT development version of the documentation's rewritten Elasticsearch chapter for more informa

[2014-08-28 10:28] #723 closed, assigned to dalaro

[2014-08-28 10:29] dalaro commented on #703
This is now in titan05 HEAD.  For more information, see the `interface` configuration track in the just-rewritten 0.5.1-SNAPSHOT version of the Elasticsearch chapter in Titan's docs: http://s3.thinkaurelius.com/docs/titan/0.5.1-SNAPSHOT/elasticsearch.html#es-cfg-interface-track

[2014-08-28 10:29] #703 closed, assigned to dalaro

[2014-08-28 10:31] dalaro commented on #723
Relevant commits:
- 304f14e44f986e806ac8e86437ff7b8e46a68045
- aaf2537a204b21aa055f40c554aa957351828f08
- eb23a59a4e6816302282c67aef9bd76392cdc9e9
- 5aab5e28e3a88e0385a496ab80984883fd642fdf

[2014-08-28 10:31] dalaro commented on #703
Relevant commits:
- 304f14e44f986e806ac8e86437ff7b8e46a68045
- aaf2537a204b21aa055f40c554aa957351828f08
- eb23a59a4e6816302282c67aef9bd76392cdc9e9
- 5aab5e28e3a88e0385a496ab80984883fd642fdf

[2014-08-28 10:32] dalaro commented on #720
`conf-file` now uses `loadFromResource` in titan05 HEAD.

[2014-08-28 10:32] #720 closed, assigned to dalaro

[2014-08-28 10:34] dalaro commented on #725
Omitting `cluster-name` automatically set Elasticsearch's `client.transport.ignore_cluster_name` option.  Maybe setting `cluster-name` reveals some preexisting problem with cluster name validation in those configurations?

[2014-08-28 17:44] randall-sosacorp commented on #720
Thank you, Dan.

[2014-08-28 18:35] okram opened #738 "Provide property value constraints via MangementSystem"
It seems like the following would be easy to add when Titan goes Java8. It would be efficient in that its just a Predicate lambda that is called on each setProperty() -- what the user would be doing anyways via their applications to ensure data quality.

Note that SPredicate in TinkerPop3 is a serializable Java8 Predicate and Groovy closures will transform to them automagically. This means that yo

[2014-08-28 18:53] dkuppitz commented on #738
`constraint` is good, in SQL it's called [`CHECK constraints`](http://www.w3schools.com/sql/sql_check.asp).

[2014-08-28 22:29] okram opened #739 "Provide domain and range schema capabilities."
It would be great if the following exists in Titan schema management. This seems like a very easy feature to add that incurs very little speed-cost.

[code]

[2014-08-28 23:28] mbroecheler commented on #739
That looks a lot like RDFS inspiration ;-)

On Thu, Aug 28, 2014 at 3:29 PM, Marko A. Rodriguez <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-08-29 13:56] okram commented on #739
Tis. However, its a natural consequence when you add labels. The schema management work you guys did is epic. There are a few simple extensions that can be easily and (seemingly to me) efficiently provided that would cover lots of use cases/requirements. (e.g. this and #738)

Last night I was thinking that it could be good to do this to make it a little tighter.

[code]

Finally, what follows from

[2014-08-29 16:42] dalaro commented on #712
I replaced Titan's use of  the Reflections helper method`ClasspathHelper.forJavaClassPath`, which used the java.class.path property, with a call to `ClasspathHelper.forClassLoader(ClassLoader...)`.  The classloaders passed in are configurable through public methods on Titan's `ReflectiveConfigOptionLoader` class.  The default chain of classloaders is:
- The classloader that loaded ReflectiveConfig

[2014-08-29 16:42] #712 closed, assigned to dalaro

[2014-08-29 16:43] dalaro commented on #712
Related commits:
- 69ca65b21796f5639b3ef77a71b42e91a3d12212
- 0b2620d9aec9292a4e79f53291dbc50689b7b130
- 41a29eff6e7d0e0509833ebec6ad23108a5cadc0

[2014-08-29 17:16] dalaro commented on #711
I rewrote this class in 69ca65b21796f5639b3ef77a71b42e91a3d12212 and 0b2620d9aec9292a4e79f53291dbc50689b7b130.  Here's a summary of changes.
- Classloader configuration: the sequence of classloaders consulted when loading options is now user-configurable to support environments with unusual classloader hierarchies.  Use of the "java.class.path" system property in Reflections has been replaced with

[2014-08-29 17:16] #711 closed, assigned to dalaro

[2014-08-29 21:42] BryanDonovan commented on #660
@mbroecheler - how do I configure Titan to overwrite duplicate edges?  I'm having trouble finding it in the docs or the source.

Thanks,
Bryan

[2014-08-29 22:21] mbroecheler commented on #711
This is excellent, thank you
On Aug 29, 2014 10:16 AM, "Dan LaRocque" notifications@github.com wrote:

[2014-08-30 20:20] mbroecheler commented on #660
Which version of titan are you using? In 0.5 that is the default behavior.
On Aug 29, 2014 2:42 PM, "Bryan Donovan" notifications@github.com wrote:

[2014-08-30 20:27] BryanDonovan commented on #660
Interesting.  I'm on 0.5, and still seeing this.  Maybe I have something else configured incorrectly.  Where would I change this setting in case I've accidentally overwritten it?

[2014-08-30 20:32] mbroecheler commented on #660
This behavior is configured in TitanManagement through setConsistency.
On Aug 30, 2014 1:27 PM, "Bryan Donovan" notifications@github.com wrote:

[2014-08-30 21:00] BryanDonovan commented on #660
Oops... I had my label set to multiplicity.MULTI.  Thanks for the help.

[2014-09-01 21:37] dalaro opened #740 "Outdated config elements in GraphOfTheGodsFactory.create"
https://github.com/thinkaurelius/titan/blob/0.5.0/titan-core/src/main/java/com/thinkaurelius/titan/example/GraphOfTheGodsFactory.java#L28-L40

Running `g = TitanFactory.open('path/to/cfg'); GraphOfTheGodsFactory.load(g)` is the workaround.

[2014-09-02 12:18] adamdyga opened #741 "slf4j-log4j binding included in dependencies of titan-cassandra jar"
When Titan is used as a library with Cassandra storage (com.thinkaurelius.titan:titan-cassandra:jar:0.5.0), slf4j-log4j jar appears as one of the dependencies in the project (see dependency tree below) which results in conflicts with other slf4j-\* bindings. While it is possible to exclude such dependency in the build configuration (maven/gradle), a jar intended to be used as a library should not

[2014-09-02 20:01] PseudoCorps opened #742 "Gremlin Console Problem"
I'm on titan-0.5.0-hadoop2
When I execute

[code]

from the gremlin console, the following input does not appear. However, the console does continue to function properly. For example, if I enter:

[code]

the characters don't appear, but if I hit return the command still runs properly.
I think this might be a problem because after I leave the console, the behavior continues. I'm not sure if this i

[2014-09-03 00:48] dalaro commented on #704
I unintentionally disabled building `<REPO_ROOT>/bin`, `conf`, and `lib` dirs by default while working the `-Ddev.hadoop=1` or `2` maven option into Titan's build.  The repo root dirs were installed correctly only when `-Ddev.hadoop=X` was given on the command line for a while on titan05, up until around ca904c6c598fbbe7c7101d201cbb225d2b9fdf36 and 2dfd158f7defdae74f48bd11dc56defbeba1ac81.  It's f

[2014-09-03 00:48] #737 closed, assigned to dalaro

[2014-09-03 00:49] dalaro commented on #737
e2ede12437e736a415aed990081a93e7cffe19cf

[2014-09-03 01:14] rjbriody opened #743 "Print warning or fail to start when a GLOBAL_OFFLINE property is modified in config."
"GLOBAL_OFFLINE options get written to the storage backend on Titan's first startup, and further changes in the config file have no effect." -Dan LaRocque

This can be tricky for a user who doesn't realize why their config file changes are not taking effect. Maybe we should print a warning, or possibly even fail to start all together.

Discussion here:
https://groups.google.com/forum/?utm_medium=e

[2014-09-03 02:42] dalaro opened #744 "StackOverflowError involving stale vertex"
Kishore Senji posted [a test case](https://groups.google.com/d/msg/aureliusgraphs/nVkl0WiD4Vs/rfJNyHz7aIYJ):

[code]

That produces:

[code]

I think this is supposed to just work.  If it can't work for some efficiency/correctness reason that I'm missing, we should still detect it and throw a more useful exception.

[2014-09-03 08:34] dalaro commented on #742
I've seen a slightly different problem: ctrl+c inside gremlin.sh exits promptly, but it often leaves the terminal with echo disabled.  At that point I either blind-type `stty sane` (similar to what you're doing) or exit the terminal.  I long assumed that was due to a nonexistent or missed shutdown hook to restore terminal state... this problem likely involves jline or the way gremlin.sh uses jline

[2014-09-03 08:36] dalaro commented on #709
@mbroecheler can and should this be done safely inside a singe ManagementSystem, i.e. without getting foiled by cache on repeated getFieldKeys() and getIndexStatus calls?  I kept opening and rolling back management systems as shown in the snippet because I wasn't certain schemata caching was disabled inside a single ManagementSystem for these reads.  I've looked through the code for about a half h

[2014-09-03 14:20] tomersagi opened #746 "g.getManagementSystem() fails"
Hi,
I built titan from source today using maven on an Ubuntu machine.
I copied the [recommended configuration](http://s3.thinkaurelius.com/docs/titan/0.5.0/configuration.html) for a standalone Berkeley DB based instance to a properties file (myp.properties) and then ran the following:

What did I do wrong?
Thanks
Tomer

[2014-09-03 14:26] rjbriody commented on #746
Is it possible that you accidentally built the 0.4.4 branch? The method you
are calling appeared in 0.5.0.

Bob

On Wed, Sep 3, 2014 at 10:20 AM, Tomer Sagi notifications@github.com
wrote:

[2014-09-03 14:31] tomersagi commented on #746
I cloned the master branch from here https://github.com/thinkaurelius/titan is it 0.4.4 or 0.5?

From: bobb [mailto:notifications@github.com]
Sent: Wednesday, September 03, 2014 5:27 PM
To: thinkaurelius/titan
Cc: Sagi, Tomer
Subject: Re: [titan] g.getManagementSystem() fails (#746)

Is it possible that you accidentally built the 0.4.4 branch? The method you
are calling appeared in 0.5.0.

Bob

On

[2014-09-03 14:36] dkuppitz commented on #746
The master branch contains the 0.4 sources. Titan 0.5 development is done in the [titan05](https://github.com/thinkaurelius/titan/tree/titan05) branch.

[2014-09-03 14:37] rjbriody commented on #746
That is 0.4.x. If you want the 0.5.x branch then run "git checkout titan05"
to switch branches.

Downloads for 0.5.0 are also available here:
https://github.com/thinkaurelius/titan/wiki/Downloads

Bob

On Wed, Sep 3, 2014 at 10:32 AM, Tomer Sagi notifications@github.com
wrote:

[2014-09-03 14:39] tomersagi commented on #746
o.k. thanks

From: bobb [mailto:notifications@github.com]
Sent: Wednesday, September 03, 2014 5:37 PM
To: thinkaurelius/titan
Cc: Sagi, Tomer
Subject: Re: [titan] g.getManagementSystem() fails (#746)

That is 0.4.x. If you want the 0.5.x branch then run "git checkout titan05"
to switch branches.

Downloads for 0.5.0 are also available here:
https://github.com/thinkaurelius/titan/wiki/Downloads

Bo

[2014-09-04 03:48] ksenji opened #747 "CassandraTransaction uses write consistency option for read consistency"
public CassandraTransaction(BaseTransactionConfig c) {
        super(c);
        read =  CLevel.parse(getConfiguration().getCustomOption(CASSANDRA_WRITE_CONSISTENCY));
        write = CLevel.parse(getConfiguration().getCustomOption(CASSANDRA_WRITE_CONSISTENCY));
        log.debug("Created {}", this.toString());
    }

[2014-09-04 04:56] PhilAndrew opened #749 "Documentation is wrong for the keyword MULTI"
At : http://s3.thinkaurelius.com/docs/titan/0.5.0/schema.html

So I run

gremlin> follow = mgmt.makeEdgeLabel('follow').multiplicity(MULTI).make()
==>javax.script.ScriptException: groovy.lang.MissingPropertyException: No such property: MULTI for class: Script11
gremlin>

It works without the word MULTI

[2014-09-04 05:33] #746 closed, assigned to nobody

[2014-09-04 06:21] tomersagi opened #750 "Toy example not running due to "Unknown configuration element in namespace [root.index]: local-mode" error"
Hi,
I built from the titan05 branch and tried to run the toy example from (http://s3.thinkaurelius.com/docs/titan/0.5.0/getting-started.html)[here]. This is the result:

[2014-09-04 06:45] dalaro commented on #747
Thanks @ksenji!  Commented in and merged #748.

[2014-09-04 06:45] #747 closed, assigned to nobody

[2014-09-04 06:46] dalaro commented on #750
Hi @tomersagi, this is a duplicate of #740.  Fix has already been committed on titan05 and is forthcoming with 0.5.1.  Please see the linked issue for the workaround on 0.5.0.

[2014-09-04 06:46] #750 closed, assigned to nobody

[2014-09-04 06:47] #740 closed, assigned to dalaro

[2014-09-04 06:47] mbroecheler opened #751 "ByteOrderSerializer for Double/Float"
based on http://lucene.apache.org/core/4_0_0/core/org/apache/lucene/util/NumericUtils.html#doubleToSortableLong(double)

[2014-09-04 07:31] tomersagi commented on #740
Could you give an example of TitanFactory.open('path/to/cfg')?
the following returned an error:

[2014-09-04 07:44] dalaro commented on #740
Try this:
1. unzip titan 0.5.0's zipfile
2. cd into the titan-0.5.0-hadoop1 or -hadoop2 directory (according to whichever version you downloaded and unzipped)
3. run `bin/gremlin.sh`
4. type at the gremlin prompt as follows (assuming the path separator char on your platform is `/`):

[code]

The `titan-berkeleydb.properties` file that ships with Titan is not useful for GotG because it only configu

[2014-09-04 07:54] tomersagi commented on #740
Great, works fine now.
Thanks

[2014-09-04 08:36] tomersagi opened #752 "How do you open an existing graph"
Hi,
I scoured the documentation and couldn't understand how to open an existing graph.
Test case:
1. I created the GraphOfTheGods graph example according to the instructions and do some examples from the manual.
2. I went home and came back the next day.
3. How do I get g initialized to the same graph I created yesterday?
Thanks

[2014-09-04 14:02] #749 closed, assigned to nobody

[2014-09-04 14:03] dalaro commented on #695
New expect-based test of titan.sh runs as part of the aurelius-release profile along with the expect-based tests of gremlin.sh

[2014-09-04 14:03] #695 closed, assigned to dalaro

[2014-09-04 14:16] dkuppitz commented on #752
Please use our [mailing list](https://groups.google.com/forum/#!forum/aureliusgraphs) (and its search function) for those kind of questions.

[2014-09-04 14:16] #752 closed, assigned to nobody

[2014-09-05 01:34] PseudoCorps commented on #742
Its happened on my mac and on Ubuntu xterm
I think it might be a weird interaction between the daemons reporting an error and the gremlin console console.
One of the things I was doing wrong was running the titan server thinking that the cassandra-es option ran the embedded version, I would then go into the console and try to load the embedded properties. Which I think was probably starting two em

[2014-09-05 01:34] #742 closed, assigned to nobody

[2014-09-08 19:46] dalaro commented on #734
I reproduced this somewhat inconsistently in testing with embeddedcassandra.  The shutdown hook ran each time, but it seemed to only kill a subset of the Cassandra daemon's threads.  Cassandra has a seemingly thorough shutdown hook, but the hook logic does not seem to be exposed through a callable public method.  In c958ad2a2bafd305a33655347fef17138ee75088, I modified gremlin.sh's Console main cla

[2014-09-08 19:46] #734 closed, assigned to dalaro

[2014-09-08 21:04] mbroecheler commented on #727
2494 is an invalid vertex id which triggers an exception. Where did that id come from @BryanDonovan ?

[2014-09-08 21:05] mbroecheler commented on #728
Is that vertex actually in the graph or might it have been deleted concurrently?

[2014-09-08 21:05] BryanDonovan commented on #727
I generate a random number to see what happens when you use an ID that doesn't exist.  It doesn't actually exist in the graph.

[2014-09-08 21:07] BryanDonovan commented on #728
It's not in the graph.  I was testing what response I could expect when we attempt to delete a non-existent vertex ID.

[2014-09-08 21:10] BryanDonovan commented on #728
My test case is essentially:
1. Create a vertex
2. Delete the vertex
3. Try to delete the same vertex again
   ... response is a 500: {"message":null,"error":null}

[2014-09-09 05:27] anvie commented on #744
Maybe this is similar issue?

[code]

It's happened when iterate trough `Stream` (result from gremlin pipe executed before mutation) after edge mutation, likes stalled cache issue.

[2014-09-09 21:56] OndraZizka opened #753 "Supress KCVSLog$MessagePuller class lookup WARNING / cache the lookup result"
In a modularized environment, the WARN below pops up really often.
Looks like some internal Titan stuff which doesn't really affect functionality.
Perhaps the result of class lookup could be cached and not attempted again, so the WARNING would only appear once?
Thanks for considering.

2014-09-09 23:48:11 WARNING com.thinkaurelius.titan.diskstorage.log.kcvs.KCVSLog$MessagePuller run Could not read

[2014-09-10 17:15] dalaro commented on #753
Can you tell us more about the runtime environment's classloader and classpath? `KCVSLog$MessagePuller$1.class` is part of the titan-core jar, so I'm assuming you're running Titan inside some kind of container with special classloading behavior (or you've repacked/filtered the contents of the titan-core jar).

[2014-09-11 08:03] dalaro commented on #729
Took a shot at reimplementing this in bf39926f3f10ad8aacb16971d545c8595894e88c

[2014-09-11 15:34] ppeddi commented on #523
Is TTL available on vertices also? The above examples (and all references I could find) are all on edges only. If vertex TTL is supported, is there any documentation on this?

Thanks
Praveen

[2014-09-11 22:22] dalaro commented on #741
I think the place to address this is https://github.com/xedin/disruptor_thrift_server, since that's where the pom in question lives.  I opened xedin/disruptor_thrift_server#8.

[2014-09-11 22:22] #741 closed, assigned to nobody

[2014-09-12 00:54] dalaro opened #754 "Increase severity level of log messages reporting exceptions in Faunus incremental loader script compilation"
LoaderScriptWrapper reports compilation errors generated when attempting to compile the user's Gremlin-Groovy script fragment, but it does so at DEBUG.  For example:

[code]

This should be logged at a higher severity level, and (maybe) the exception should propagate up the stack to kill the task.

[2014-09-12 07:29] boliza opened #755 "gremlin query vertex by vertex label"
I defined an unique key 'bloggerId' index only in vertex label 'blogger'

when I query by bloggerId ,is correct
gremlin>g.V.has('bloggerId','tw1004449045').map
==>{favouritesCountHis=[0, 0], platform=twitter, friendsCount=13, favouritesCount=0, statusesCountHis=[22, 22], createdOn=1410504303159, vip=false, nickName=bernardo padilha, bloggerName=bernardopadilh1, createdAt=1355245535000, names=[bern

[2014-09-12 07:46] anvie commented on #523
@ppeddi http://s3.thinkaurelius.com/docs/titan/0.5.0/advanced-schema.html

[2014-09-12 09:48] huiwenhan commented on #731
I have same problem with @asaf ,home Titan can enhance in next release !

and when will 0.5.1 release ?

[2014-09-12 11:07] dkuppitz commented on #755
It doesn't work yet in TP2, but will work with TP3 (Titan 0.9 / next release). Currently you can do this:

[code]

[2014-09-12 11:07] #755 closed, assigned to nobody

[2014-09-12 11:12] boliza commented on #755
Thank you @dkuppitz

[2014-09-12 12:56] mjhallman opened #756 "Support automatic reindexing for Berkeley DB"
There is currently only support for automatic reindexing of Cassandra and HBase. Reindexing for Berkeley DB is currently a manual process, and could be much easier.

[2014-09-12 14:22] huiwenhan opened #757 "java.nio.channels.OverlappingFileLockException when set property for one vertex that indexed using lucene"
Get following error:
ERROR [com.thinkaurelius.titan.graphdb.database.StandardTitanGraph] Error while commiting index mutations for transaction [2364] on index: search
com.thinkaurelius.titan.core.TitanException: Could not execute operation due to backend exception
    at com.thinkaurelius.titan.diskstorage.util.BackendOperation.execute(BackendOperation.java:44)
    at com.thinkaurelius.titan.disks

[2014-09-12 20:12] asaf opened #758 "Changing external index properties"
Hey,

I'm aware of the 'index cannot be dropped' limitation but hopefully there is some workaround,

Assuming I have a mixed index built using Lucene, I'd like to enhance the index with extra properties (less priority remove some),

Is there a way to do that?

As a workaround I thought of creating a new index and increment its "version" by adding some postfix to its name and then perform re-indexi

[2014-09-12 20:13] asaf commented on #756
+1

[2014-09-12 20:16] asaf commented on #738
I asked (#715) too, :+1:

[2014-09-12 22:59] mbroecheler commented on #758
Yes, there is a methid in TitanManagement to do just that. It allows you to
add an individual key to an existing index. If the key you are adding is
newly defined in the transaction, then you don't have to do anything else.
If the key already existed you have to follow the reindexing steps and
enable the key.
On Sep 12, 2014 3:12 PM, "Asaf Shakarchi" notifications@github.com wrote:

[2014-09-13 15:59] huiwenhan opened #759 "rexster-server error for titan 0.5.0"
C:\software\nosql\rexster\rexster-server-2.5.0\rexster-server-2.5.0>bin\rexster.bat -s -c config\rexster.xml
[INFO] Application - .:Welcome to Rexster:.
[INFO] RexsterProperties - Using [C:\software\nosql\rexster\rexster-server-2.5.0\rexster-server-2.5.0\config\rexster.xml] as configuration source.
[INFO] Application - Rexster is watching [C:\software\nosql\rexster\rexster-server-2.5.0\rexster-ser

[2014-09-14 00:56] huiwenhan commented on #759
fixed ,delete lucene-core-3.6.2 on \rexster-server-2.5.0\lib\

[2014-09-14 00:56] #759 closed, assigned to nobody

[2014-09-14 09:12] asaf commented on #758
Ahh! I guess it's the `addIndexKey`, my eyes skipped it for some reason, closing.

[2014-09-14 09:12] #758 closed, assigned to nobody

[2014-09-16 02:56] dalaro commented on #473
I've implemented a basic compatibility test on titan05 in e30beedaebff1fd6af47449c3b5b2ad31784a78a.  This only applies to 0.5.x and later.

To summarize that commit message: each 0.5.x and later release is assumed to be compatible with every prior release up to 0.5.0.  GotG is automatically loaded into each 0.5.0+ version of Titan/BDB+ES during release.  The resulting files are archived and upload

[2014-09-16 02:56] #473 closed, assigned to dalaro

[2014-09-16 07:49] fechtner opened #761 "Resource leak in the Lucene connector"
Hello,
I've noticed problems during working with Lucene indexing in Titan, more precisely in using artifact titan-lucene 0.4.4. The problem was with closing database and indexes, the index files are still held by the application and cannot be deleted.

I think that IndexReader (init in the line 148) in the method mutate in the class LuceneIndex (https://github.com/thinkaurelius/titan/blob/master/t

[2014-09-16 15:34] armisael commented on #743
+1 for the "fail to start" solution, I've lost four hours trying to figure out why my `index.search.hostname` property was not read properly (apparently it is a `GLOBAL_OFFLINE`, while `index.search.port` is `MASKABLE`)

[2014-09-16 21:30] dalaro opened #762 "Deduplicate shell script boilerplate and fix titan.sh when running out of a repo clone"
This issue is for two bits of technical debt in Titan's assemblies and script files.
1. The assembly in `filesystem.xml` that controls `bin`, `lib`, `conf`, etc installed into the root of a repository clone is missing some files needed by Rexster (and hence titan.sh).  titan.sh can start ES and Cassandra, but Rexster fails to start because of those missing files.  The assembly in `filesystem.xml`

[2014-09-17 01:00] atomos commented on #621
+1

[2014-09-17 01:19] ajturner commented on #621
+1

[2014-09-17 11:47] boliza opened #763 "support many word analyzer"
in some situation,we should use different analyzer for different string field.

[2014-09-18 18:15] yuriythedev opened #764 "Titan 0.5 HadoopGraph.V.count() does not match TitanGraph.V.count()"
This bug is based on my forum post - could you please take a look:

Here is the data and it is based on examples/graph-of-the-gods.id shipped with Titan 0.5:

HadoopGraph:  g.V.map():

==>16416        {_id=[16416]}
==>16456        {_id=[16456]}
==>16536        {_id=[16536]}
==>163856648    {_id=[163856648]}
==>327696648    {_id=[327696648]}

g.E.map():

==>163842052    {_id=[163842052], userId=[1]

[2014-09-19 04:07] dalaro opened #765 "Add test coverage for and fix Cassandra CL options in graph config"
The consistency level on transactions can be explicitly set when building a transaction by calling `setCustomOption` on the `StandardTransactionBuilder` returned by `graph.buildTransaction`.  However, creating a transaction with the default config or through the thread-bound mechanism doesn't honor R/W CL options in the graph config -- it just uses the default `QUORUM`.  Add test coverage for sett

[2014-09-19 06:04] dalaro commented on #743
I agree that Titan should warn.

I'm not convinced that we should fail to start.  Consider deploying a cluster of Titan hosts with a config file that customizes `storage.lock.expiry-time`.  This is a `GLOBAL_OFFLINE` setting whose ideal value depends on the storage backend's write latency.  It's usually site-specific and subject to customization.  Suppose that, after bootstrapping, I find out that

[2014-09-19 06:05] #765 closed, assigned to dalaro

[2014-09-19 06:41] #754 closed, assigned to dalaro

[2014-09-19 06:46] dalaro commented on #706
1. Makes sense, added precondition and test coverage in 1e5e54bf5cfad4aa4c4540887c9ab8f07e933d1f.  Could we add another check in `mgmt.makeVertexLabel("foo").partition().make()` to catch this earlier?  Or would that break something?
2. We're already doing this, though the check is `isDistributed && isKeyOrdered` rather than just `isKeyOrdered`.  I tweaked the log statements emitted during this che

[2014-09-19 06:48] dalaro commented on #710
I added a test and then relaxed the precondition in my local clone, but I may have done something wrong, because I was seemingly able to insert multiple distinct edges with identical values for a unique-composite-indexed property key.  Stashed changes for now.

[2014-09-19 11:09] rjbriody commented on #743
Adding documentation to the example config files would probably help a lot
as well. I'm thinking there might be:
- a link to the "Global Configuration" Titan docs page
- a short warning: "Properties of type GLOBAL, GLOBAL_OFFLINE, and FIXED
  are stored in the backend on first startup. Modifying these properties here
  will have no effect after Titan is initialized."
- then as a bonus, a label ide

[2014-09-19 16:33] dalaro commented on #743
"a short warning: ..." in comments in the example config files?  Or elsewhere?

[2014-09-19 16:38] rjbriody commented on #743
Each of those bullets are suggestions for the example config files.

[2014-09-19 19:50] arisAlexis commented on #744
added some information here

https://groups.google.com/forum/#!topic/aureliusgraphs/6haBdWmHGlk

[2014-09-22 22:10] dalaro commented on #757
Did you call `TitanFactory.open` multiple times in one Java VM?  If so, did you have only one graph open at a time, and did you call `graph.shutdown()` on all of the graphs when you were done with them?

If you can reproduce this reliably, then please show us how.

[2014-09-22 22:10] dalaro commented on #757
Incidentally, I initially thought this could potentially be related to #761, but IndexReaders do not appear to have any bearing on the Writer locks.  I might be mistaken though.

[2014-09-25 17:15] mbroecheler opened #766 "Additional tx config options"
for controlling consistency

[2014-09-25 18:23] dalaro commented on #727
My thinking on this (d7873962cb6fdd73abff283b94f1dc06604d45c6's commit message)

Since this method is part of the Blueprints API, it should probably return null instead of throwing IllegalArgumentException for the (Titan-specific rather than Blueprints-standardized) range of IDs
which are outside the legal vertex ID space.  This commit changes the exception type thrown in IDManager.getUserVertexID

[2014-09-25 18:25] dalaro commented on #727
In case it was unclear in the previous comment:  I think this one is a Titan/BP contract issue on getVertex.  It's not a Rexster issue.

[2014-09-25 18:25] dalaro commented on #728
This one is a Rexster issue.  Some over-broad catch clauses are intercepting `WebApplicationException` instances that would otherwise propagate 404s here and turning them into 500s.  Opened Rexster PR linked above.

[2014-09-25 18:27] dalaro commented on #761
I'll cherry-pick this back to master (0.4.5-SNAPSHOT)

[2014-09-25 18:27] mbroecheler commented on #727
That's a good fix and no, we don't need to do something similar for the
schema since that is most certainly an exception.
Maybe we should make the log message debug instead of warning since this is
the expected behavior?

On Thu, Sep 25, 2014 at 8:25 PM, Dan LaRocque notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-09-25 18:28] dalaro commented on #706
6c3914ad754ddd53d8118a6350dc6587ec1f6639 fixes up some tests that I missed in 024c66755e8fd6187944895a6681a5c95b4260ce and 628d48fe23431422e71225306ce2220611a45c86.

[2014-09-25 18:29] dalaro commented on #727
Sounds good, will do.

[2014-09-25 18:31] #728 closed, assigned to dalaro

[2014-09-25 18:36] dalaro commented on #706
I moved the cluster.partition check into `StandardVertexLabelMaker.make`, removed the `addVertex` check introduced in 1e5e54bf5cfad4aa4c4540887c9ab8f07e933d1f, and updated tests to expect `make` on partitioned vertex labels to fail when `cluster.partition` is false (and check that they can be created when it is true).  I think this is set.

[2014-09-25 18:36] #706 closed, assigned to dalaro

[2014-09-25 18:37] dalaro commented on #729
Daniel and I did some manual tire-kicking to complement the automated tests introduced along with the feature in bf39926f3f10ad8aacb16971d545c8595894e88c.  I'll update the docs in titan05 and then close this issue.

[2014-09-26 17:36] #761 closed, assigned to dalaro

[2014-09-26 20:50] mbroecheler commented on #713
I wasn't able to reproduce this. I am thinking that it might have to do with stale edges based on the description but that didn't reproduce this either. If anybody is seeing this, please report a full stack trace and (ideally) code to reproduce. Thanks.

[2014-09-27 05:27] mbroecheler commented on #730
Related to #634. Needs to be revisited for the 1.0 release since this would be a backwards incompatible change.

[2014-09-27 18:46] mbroecheler commented on #710
Currently, we verify the index uniqueness constraint in StandardTitanTx.addPropertyInternal(), i.e. whenever a new property is added to a vertex. Hence, the uniqueness verification only applies to vertices and not relations.
To generalize this, we would either have to apply the same logic every time setProperty() is called on a relation (which makes the code really ugly) or refactor the entire log

[2014-09-27 19:11] mbroecheler opened #767 "Refactor out common interface between TitanTransaction and TitanGraph"

[2014-09-27 21:12] mbroecheler commented on #763
Can you elaborate on what you mean? Could this be achieved by modifying the analyzer directly in ES?

[2014-09-27 21:15] mbroecheler commented on #460
Since we removed CacheStore this is a really marginal performance improvement (if at all) and hence can be ignored.

[2014-09-27 21:15] #460 closed, assigned to mbroecheler

[2014-09-27 21:15] mbroecheler commented on #480
This has been addressed by the Fulgora streaming component

[2014-09-27 21:15] #480 closed, assigned to nobody

[2014-09-27 21:28] #541 closed, assigned to mbroecheler

[2014-09-28 05:11] boliza commented on #763
my es schema like this.
yrp: {
index: not_analyzed
type: string
}
vlx: {
analyzer: whitespace
type: string
}
kjp: {
analyzer: jieba
type: string
}
It can update the schema using es api after titan create the schema.

[2014-09-29 15:24] varunkalluri opened #768 "Titan 0.5 has problem with hbase 0.94"
Hello,
Right now we are integrated titan-0.5.0 with hbase as backend database but gremlin shell is hanging with our hbase 0.94 version.
 I see that titan 0.5 has 0.98 hbase jar files in lib directory, I tried to copy habse 0.94 libs from existing cluster still doesn't work .

Configuration file.
 storage.backend=hbase
storage.hostname=xxxxxx,xxxxxx,xxxxxxxx
storage.tablename=titan
cache.db-cache =

[2014-09-29 17:33] mbroecheler opened #769 "Support Boolean, Date/Time data types in mixed indexes"

[2014-09-30 01:36] mbroecheler opened #770 "Use key names in mixed indexes by default"
and convert non-standard names to supported ones by replacing whitespace with underscore, etc.

One issue will be property key renaming. We would have to leave the original field as is in the mixed index and add a field name mapping to the index entry. That much is doable (careful about synching such schema changes), but what happens if somebody adds another property key with the old name (which i

[2014-09-30 16:24] mbroecheler commented on #770
Here's my use case. I execute a query directly against ES. I want to use the values from the hit's source map to construct a response. However, the source keys are longs. I need to know what Titan Properties the ES source keys map to in order to know what field names to use in my response map. Right now, I have to:
Decode the id
LongEncoding.decode(searchHit.getSource().get(0))
Grab the name off t

[2014-09-30 19:55] dalaro opened #772 "Impose uniform naming pattern on all conf files"

[2014-09-30 21:35] mbroecheler commented on #770
This would be particularly useful for solr.

[2014-10-01 14:47] OndraZizka commented on #753
The environment is JBoss Modules, i.e. graph-like classloading (not hierarchical).
That is used through JBoss Forge, which is a wrapper around JBoss Modules allowing Maven Artifacts to be used as modules.
It's kind of light-weight OSGi alternative.

[2014-10-01 14:59] OndraZizka commented on #753
More info: We only see it in tests. It might be triggered of a quick successive inits / shutdowns of a graph, in combination with the way Forge tests work - it copies all modules .jar's to a temp directory, and then deletes them. I.e. we call `.shutdown()` on graph, and delete the .jar's, and the bug is that some logging thread keeps running for a bit longer and fails finding the expected classes.

[2014-10-02 12:54] crakjie commented on #611
I have the same error with titan 0.4.4, is it corrected in this version?

[2014-10-02 12:59] sebastiaansamyn-tc opened #773 "In memory storage backend"
Hi,

Does titan have a purely in memory storage backend? If not, is this something that's planned for the future?

This could be very useful for unit testing.

Thanks!
Sebastiaan Samyn

[2014-10-02 13:29] jbmusso commented on #773
Hi Sebastiaan,

Titan dropped support for Persistit "due to lack of continued development", though this may change in the future [as was discussed recently in the mailing list](https://groups.google.com/d/topic/aureliusgraphs/Nq91hOw8CPE/discussion).

[2014-10-02 14:53] rjbriody commented on #773
You might also find this post interesting
http://thinkaurelius.com/2013/11/24/boutique-graph-data-with-titan/

On Thu, Oct 2, 2014 at 9:29 AM, Jean-Baptiste Musso <
notifications@github.com> wrote:

[2014-10-02 15:56] sebastiaansamyn-tc commented on #773
Indeed.

The reason I was asking is that we initialize a new db for every test that we run (that requires a connection to our titan db). This way we ensure that tests don't interfere via unintended db state that sticks around.

The big downside to this approach is that BerkeleyDB takes its time to initialize a fresh db and it's considerably slowing down full runs of our test sets. I'm guessing the

[2014-10-02 16:14] rjbriody commented on #773
Ah, "For testing only"!

2 things come to mind:
- Does embedded Cassandra go faster than BerkeleyDB?
- I wonder if it would it be possible to wire up a mock backend -
  something like cassandra-unit
  https://github.com/jsevellec/cassandra-unit (disclaimer: I have never
  used cassandra-unit and have no idea if it is reliable).

These are just random ideas. Someone else might have suggestions rela

[2014-10-02 16:25] mbroecheler commented on #773
Titan does come with an in-memory backend for testing only. Just specify
the backend name as "inmemory".

On Thu, Oct 2, 2014 at 9:15 AM, bobb notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-02 22:39] espeed commented on #773
OpenHFT'S recent release of Chronicle Map might make an interesting memory
and/or memory grid backend for Titan.

http://openhft.net
On Oct 2, 2014 11:25 AM, "Matthias Broecheler" notifications@github.com
wrote:

[2014-10-03 01:28] #767 closed, assigned to mbroecheler

[2014-10-03 01:29] #744 closed, assigned to mbroecheler

[2014-10-03 01:29] #732 closed, assigned to mbroecheler

[2014-10-03 01:29] #731 closed, assigned to mbroecheler

[2014-10-03 01:29] #726 closed, assigned to mbroecheler

[2014-10-03 01:30] #707 closed, assigned to mbroecheler

[2014-10-03 06:26] sebastiaansamyn-tc commented on #773
@mbroecheler thanks that's exactly what I needed!
Is that documented somewhere? I've already spent many hours reading titan docs and have never come across this before.

@espeed Wasn't there a hazelcast backend in 0.4? Why was it removed?

Many Thanks!

[2014-10-03 17:45] #766 closed, assigned to mbroecheler

[2014-10-03 17:46] mbroecheler commented on #731
getPropertyKey and related methods do no longer create the types if they don't yet exist. Separate methods called getOrCreatePropertyKey() assume the old semantics.

[2014-10-03 17:50] #708 closed, assigned to mbroecheler

[2014-10-03 18:03] #697 closed, assigned to mbroecheler

[2014-10-04 00:44] dalaro commented on #644
Added some simple parallel getSlice and mutate stress tests in d163815083d61e8b455859b1751ec1f5a09b6f9c.

[2014-10-04 00:44] #644 closed, assigned to dalaro

[2014-10-06 15:41] OndraZizka commented on #753
After closing the graph properly, https://github.com/windup/windup/pull/286, this stopped happening. I guess this can be closed, unless you want to add some graceful handling. Thanks.

[2014-10-06 19:40] dalaro opened #774 "Update examples/BlueprintsScript.groovy"
Should match current docs

[2014-10-07 00:34] mbbeaubi opened #775 "Is the db-cache working?"
Hi,

I've been doing some performance testing of Titan to evaluate it for a potential application. I'm testing with both berekley and remote cassandra as storage backends with a single titan instance running in rexster communicating with the backend.

I see no difference in memory usage in the Titan process with db-cache enabled or disabled. I'm also not seeing any significant performance differen

[2014-10-07 00:42] rjbriody commented on #775
Maybe the duration of vertex retrieval is lost in the noise relative to
other operations that occur when processing a request. For example, script
evaluation can take a long time. (This is the part where your groovy code
is parsed into executable operation.) Are you using a cached/parameterized
script? If not, try that out.

Bob

On Mon, Oct 6, 2014 at 8:34 PM, mbbeaubi notifications@github.com wr

[2014-10-07 01:05] mbroecheler commented on #775
Hi,
that is very surprising. You should see a very big difference with caching
enabled. Can you measure the time for your query in 3 different scenarios
on the gremlin shell:
1) after starting the graph
2) after starting a new transaction
3) within the same transaction

Thanks,
Matthias

On Mon, Oct 6, 2014 at 5:34 PM, mbbeaubi notifications@github.com wrote:

##

Matthias Broecheler
http://www.ma

[2014-10-07 18:33] asaf opened #776 "Querying by label without full scan"
Support querying by label without full scan

`g.query('label', 'foo')` causes full scan while the vertex label is there,
What block us from retrieving all vertices by the label without full scan?

The workaround is to create a vertex and attach to it all items but IMO this approach conflicts with the concept of labels in the first place.

More info here:
https://groups.google.com/forum/#!searchin/

[2014-10-07 20:45] BrynCooke opened #777 "getProperty/setProperty for collections is asymmetrical."
Hi,

I've recently been upgrading a web site that used Titan 0.4 to 0.5. We are using Graphson to back up the data from the graph, but am unable to load it back in.

The data out looks like this:

[code]

But when loading back we get the following exception:
java.lang.IllegalArgumentException: Not an single key: photos. Use addProperty instead

This also means that the following won't work:

[code

[2014-10-08 03:22] mbroecheler commented on #776
Labels are not indexed since that will likely lead to an oversized index
entry. Hence the full scan.

On Tue, Oct 7, 2014 at 11:33 AM, Asaf Shakarchi notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-08 09:40] asaf commented on #776
@mbroecheler The vertex that represents a label also have no edges to the vertices of its type?

If not, the only solution to avoid full scan is to create a "root" vertex and attach it to all vertices of its type?

Thanks

[2014-10-08 13:55] BrynCooke opened #778 "Upgrade to Reflections 0.9.9 to avoid NoSuchMethodError"
Titan 0.5
There was a change method signature for ClasspathHelper.forJavaClassPath between Reflections 0.9.9-RC1 and 0.9.9

Using Titan in a project where this dependency has been upgraded results in:
14:41:40.630 [http-nio-8080-exec-3] ERROR c.t.t.c.u.ReflectiveConfigOptionLoader - Failed to iterate over classpath using Reflections; this usually indicates a broken classpath/classloader
java.lang.

[2014-10-09 02:30] dalaro commented on #778
The last call to `forJavaClassPath(...)` was replaced by a call to `forClassLoader` that passes in an array of `ClassLoader` in 0b2620d9aec9292a4e79f53291dbc50689b7b130.  The related issue is #711.  This is not contained in 0.5.0.  It is in titan05 and will be part of 0.5.1.  The `forClassLoader` method with a vararg `ClassLoader` signature still seems to exist in 0.9.9.  Please reopen if I'm mist

[2014-10-09 02:32] dalaro commented on #774
The name `BlueprintsScript.groovy` is an anachronism now that BlueprintsGraphOutputMapReduce no longer exists.  It's been renamed `IncrementalLoading.groovy` and updated to match the example script in the doc chapter on incremental loading.

[2014-10-09 02:32] #774 closed, assigned to dalaro

[2014-10-09 02:37] dalaro commented on #729
Updated docs in fc65db3470d27cf53297922ef9a3e1ddb15f9446 and again in f6e44efd078981d8390d56b278318e4f83cc5046.

@dkuppitz also pointed out that the zipfile's example script was outdated; this was separately addressed in #774.

[2014-10-09 02:37] #729 closed, assigned to dalaro

[2014-10-09 02:37] #727 closed, assigned to dalaro

[2014-10-09 07:11] mbroecheler commented on #776
Yes, you currently would have to build an index or a root vertex to get all
the instances. We are considering a feature that allows you to build a
label specific index.

On Wed, Oct 8, 2014 at 2:40 AM, Asaf Shakarchi notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-09 08:26] BrynCooke commented on #778
forClassLoader is there but the return type is different between 0.9.9-RC1 and 0.9.9. Unfortunately this is the same as a completely new method.

Here is the full stack trace when reflections 0.9.9 is on my classpath:

[code]

[2014-10-09 15:49] ccoffey commented on #740
The _Configuring Rexster to use Titan_ [tutorial](https://github.com/thinkaurelius/titan/wiki/Rexster-Graph-Server) states "PREREQUISITE: These instructions assume that a graph has been created in Titan as described in the “Loading Data Into Titan” section of the Getting Started page."

If we are no longer suppose to execute
g = GraphOfTheGodsFactory.create('/tmp/titan')

then what do I specify in

[2014-10-09 16:48] spmallette commented on #740
@ccoffey you still point it at the directory you created the graph in.  if you followed the workaround instructions @dalaro provided as:

[code]

Then you would set it to: `/home/dalaro/tinkerelius/titan-0.5.0-hadoop2/conf/../db/berkeley`

[2014-10-09 18:08] asaf commented on #776
@mbroecheler Thanks, it's up to you if to keep this open or not for the 'label specific feature' reference.

[2014-10-09 20:29] mbbeaubi commented on #775
Hi,

I'm fairly confident that the db-cache isn't working at this point. I didn't use the gremlin shell as I'm unsure how I can get accurate timings with that, but here's my simple test code:

---

private static final String uuid = "DB_1://TABLE_";

[code]

---

TitanConnection is just a helper I wrote to create the graph connection. Here's the settings I'm using:

storage.backend=cassandra
stora

[2014-10-09 20:39] ghost opened #779 "Error with primitive type when using Frames"
java.lang.IllegalArgumentException: Value [false] is not an instance of the expected data type for property key [isFooBoolean] and cannot be converted. Expected: boolean, found: class java.lang.Boolean
    at com.google.common.base.Preconditions.checkArgument(Preconditions.java:119) ~[guava-14.0.jar:na]
    at com.thinkaurelius.titan.graphdb.transaction.StandardTitanTx.verifyAttribute(StandardTita

[2014-10-09 20:55] espeed commented on #775
With only 100 objects, it's likely the objects are already in memory, cached in other places by the OS, etc, so the secondary cache might not make much difference.

Also, as Bob pointed out, there is a lot of noise in your timing procedure, e.g. you're including the time it takes to iterate over each item and print the response. The time it takes to execute these additional operations may dwarf th

[2014-10-09 21:22] BrynCooke commented on #778
Apologies.  I see you are saying this is will be merged into titan05 later

[2014-10-09 21:24] dalaro commented on #778
@BrynCooke there was a miscommunication.  I don't have any stuff sitting on a feature branch waiting to fix this -- just the commit and issue linked above (and the issue's already closed).  IMO this should remain open.

[2014-10-09 22:03] dalaro commented on #778
The `forClassLoader` method is pretty small, so I copied it into `ReflectiveConfigOptionLoader` and removed its use of `ClasspathHelper` altogether.

However, this led to another problem.  When Titan is compiled and tested under 0.9.9-RC1 but given 0.9.9 at runtime, the classes involved load and the methods resolve, and the thread of control calls into `Reflections.getTypesAnnotatedWith` as intend

[2014-10-09 22:08] dalaro commented on #778
I think 7e48bafc8c8f575492dfcd1ce969a7717fb3beeb makes Titan work with Reflections 0.9.9.  Sorry for the false start earlier in the thread involving `forClassLoader`'s return type.

BTW, there's an optimization in titan05 (but not 0.5.0) that covers the standard options without resorting to Reflections.  titan05 now (and 0.5.1 when released) shouldn't call Reflections unless third-party ConfigOpti

[2014-10-09 22:26] mbbeaubi commented on #775
Hi,

I think I'm not understanding how the db-cache works. I have Titan running on my box, I have Cassandra running in a remote cluster. I'm assuming that if something is cached in the db-cache, there should be no communication with the cassandra cluster to fetch that object, even if it an index look up?

BTW, here are the numbers with the prints turned off
db-cache:
Initial time = 716
Cached time

[2014-10-09 22:44] mbroecheler commented on #611
This has been fixed in 0.5 but (if my memory serves me correctly) a fix in
0.4 would have been backwards incompatible and hence we didn't do it.

On Thu, Oct 2, 2014 at 5:54 AM, etienne notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-09 23:43] #778 closed, assigned to dalaro

[2014-10-10 01:10] mbroecheler commented on #773
On Thu, Oct 2, 2014 at 11:26 PM, sebastiaansamyn-tc <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-10 02:10] mbroecheler commented on #775
It seems to work for me:
https://gist.github.com/mbroecheler/1450d1f7fa5d3dc75aab

This compares the cache with an embedded BDB instance (which is already
pretty fast) and cache seems to be about a factor of 2 faster.

BTW, your stack trace indicates that the cache is not enabled. The cache
overwrite KCVSProxy.getSlice() - that method should not be called with
cache enabled.

On Thu, Oct 9, 2014 a

[2014-10-10 08:09] BrynCooke commented on #778
Just in case you guys ever decide to refactor the discovery mechanism: [ServiceLoader](http://docs.oracle.com/javase/6/docs/api/java/util/ServiceLoader.html) is designed for this problem and developers already know how to use it. Classpath scanning is always painfully slow even with reflections. I have a web app with Titan embedded and a whole bunch of libraries, the existing scan adds 5 seconds t

[2014-10-10 09:07] rsteppac opened #780 "Build Titan OSGi bundles"
Titan (Cassandra) currently is (nigh?) impossible to deploy in an OSGi container. It would be great if this could be enhanced.
- the Titan jars should be built as proper OSGi bundles
- The Titan persistence modules must be visible from titan-core in order for the call to Class.forName() in `com.thinkaurelius.titan.util.system.ConfigurationUtil` to work.
- reflections 0.9.9-RC1 does not work in OSG

[2014-10-10 13:29] dalaro commented on #743
a8bad29d01dd4ab1c0e25b0c25738e72f9b55e05 tweaks the Maven assembly input to let us do some basic templating with `ConfigOption` info.

Lines like this in the config sources

[code]

are converted like this in the output ("output" is the files in zipfile/conf and $REPO_ROOT/conf):

[code]

A warning is automatically appended when the mutability is `GLOBAL`, `GLOBAL_OFFLINE`, or `FIXED`.  Here an ex

[2014-10-10 13:29] #743 closed, assigned to dalaro

[2014-10-10 13:33] rjbriody commented on #743
@dalaro you are the man!

[2014-10-11 04:18] dalaro commented on #778
@BrynCooke ServiceLoader is a great suggestion.  I wasn't ready to go that heavyweight at the outset, but it may be worth it to formalize a SPI framework for StoreManager and IndexProvider impls.

Regarding speed: 0.5.1 attempts to avoid classpath scanning when possible.  If only standard Titan opts are in use (no third-party additions), then it should preload a small set of hard-coded mainline Ti

[2014-10-11 04:42] dalaro opened #781 "Stringify ElasticSearchContstants.ES_VERSION_EXPECTED"
`ElasticsearchIndex.checkExpectedClientValue` attempts to get the `Version` enum value corresponding to the version against which Titan was compiled, then compare it against the current `Version`.  This prevents downgrades to older Elasticsearch versions without recompiling Titan, since  there will be no enum value corresponding to the version against which Titan was compiled in that scenario.

Tw

[2014-10-12 13:00] ccoffey opened #782 "java.lang.IllegalArgumentException when executing example in Titan documentation"
Version: [Titan 0.5.1 with Hadoop 2](http://s3.thinkaurelius.com/downloads/titan/titan-0.5.1-hadoop2.zip)

Steps the recreate the problem.
gremlin> g = TitanFactory.open('conf/titan-berkeleydb-es.properties')
==>titangraph[berkeleyje:/home/cathalc/Desktop/titan-0.5.1-hadoop2/conf/../db/berkeley]
gremlin> GraphOfTheGodsFactory.load(g)
==>null
gremlin> h = g.V.has('name','hercules').next()
==>v[1536

[2014-10-13 08:58] sebastiaansamyn-tc opened #783 "Provide clear errors when checking preconditions"
Hi,

Today I came across an issue in our code that triggered the precondition on com.thinkaurelius.titan.graphdb.blueprints.TitanBlueprintsTransaction:123. After hooking the application on to a debugger, I figured out that the vertex that was passed in there came out of a gremlin query and was a TitanVertex that had been wrapped by gremlin-scala.

In this particular case hooking in a debugger and

[2014-10-13 11:58] spmallette commented on #782
Seems the workaround is to iterate to List first:

[code]

though i don't know why.

[2014-10-13 21:02] mbroecheler commented on #782
It seems we introduced a bug in VertexLongList in the latest refactoring without noticing (i.e. no unit test coverage) - it will continuing iterating even though there are no more elements.

[2014-10-14 06:11] mbbeaubi commented on #775
Hi,

Sorry I didn't reply back sooner, but it's the weekend and also been pretty busy looking at your titan-hadoop product.

Put a commit in between your times calls. Without a commit there the second call is hitting in your tx-cache, which I agree is working.

Your numbers are actually proving my point. If you just compare the numbers from the first times call, you can see they are all pretty clo

[2014-10-14 06:24] mbroecheler commented on #775
I did add commit statements in the script I pasted. Sometimes I timed it
with and without commit to show the difference. And sometimes I restarted
the database.

To clarify some points:
- the database level cache is about factor 3-4 slower than the tx cache.
  That is because the database level cache keeps the data in serialized
  format to preserve memory and to not pollute the heap which makes g

[2014-10-14 22:55] dalaro opened #784 "Shade or otherwise fix ASM 4.x and 3.x conflict in 0.5.1"
titan-solr brought ASM 4.1 back into the Titan dependency tree.  This is going to be more delicate to resolve than with kryo-shaded, since the solr-core artifact on Maven Central does not use a shaded ASM.  Ideally we want a single fix that works not just in the zipfile but also interops with the solr-core artifact on Central.  Not sure that's even possible without putting an onerous runtime envir

[2014-10-14 22:56] dalaro commented on #784
Related discussion: https://groups.google.com/d/msg/aureliusgraphs/MSC779hz-uA/jk5hKPhcUc4J

[2014-10-14 22:58] dalaro commented on #784
Previous incarnation of this issue: #361

[2014-10-14 23:33] dalaro commented on #780
I would love to see robust OSGi support merged into Titan.  I'm not ready to force users to use OSGi to resolve dependency conflicts yet, but the option to use it would be great.

[2014-10-14 23:33] dalaro commented on #784
It might be easiest to leave the 4.x dependency dragged in by solr-core unshaded, and then attempt to shade the 3.x dependencies instead.  The path to 3.x through hbase-server can probably be ignored, since it's just used in testing.

[2014-10-15 00:52] miechus opened #785 "NoClassDefFound errors in 0.5.1 startup when not all titan dependencies are included"
When starting Titan 0.5.1 with only part of the dependencies (i.e. titan-cassandra without titan-hbase), an error is thrown in the log:

 java.lang.NoClassDefFoundError: org/apache/hadoop/hbase/ZooKeeperConnectionException

This is caused by the ReflectiveConfigOptionLoader.loadStandard() method which includes classes from all Titan dependencies such as Berkeley, HBase and Cassandra. To hack aroun

[2014-10-15 07:12] ccoffey commented on #782
Thanks Matthias, shall I create a github issue or is this already being
tracked?

[2014-10-15 07:23] dalaro commented on #785
Please paste the exception, including stacktrace, and the preceding 3 lines in the log.

The list iterated in `loadStandard` is a performance optimization; attempting to load those classes is usually faster than walking the classpath looking for option definitions.  Titan is intended to tolerate ClassNotFoundExceptions generated while attempting to load any or all of those classes:

https://github

[2014-10-15 07:56] mbroecheler commented on #782
This is a github issue ;-)

[2014-10-15 08:08] ccoffey commented on #782
Wow, I think I need to drink less coffee. I'm opening github issues unconsciously ;-)

[2014-10-15 11:26] miechus commented on #785
The problem is not a warning. Here are the snippets of the stack traces - please note that in our app Spring fails to initialize and the app simply does not start:

[code]

[2014-10-15 15:44] dalaro commented on #785
Thanks, that helped me get the problem.

d71100e92d1a2879d0a63409b40273b28e24a2ee makes Titan catch any type of Throwable on the affected lines, instead of just ClassNotFoundException.  This will be part of 0.5.2.  It should apply cleanly atop 0.5.1 if you prefer to recompile.  This should turn the exception into a DEBUG log message.  It appears to do so in testing here.

I think at least one clas

[2014-10-15 20:56] mbroecheler commented on #782
If you are drinking Irish coffee, I'd agree with that.

[2014-10-15 23:28] spmallette commented on #782
:beers:

[2014-10-16 06:58] ccoffey commented on #782
:-)

[2014-10-16 13:00] skiefer opened #786 "NullPointerException in TitanHadoop 0.5.1"
While executing a simple TitanHadoop query (g.V.has("propertyName")) the following NullPointerException occurs in TitanHadoopGraph:

[code]

The NullPointerException is thrown because the FaunusSchemaManager is not able to resolve properties we created via the TitanManagementSystem before the job runs.

[code]

When using Titan 0.5.0 the job runs without any problems.

[2014-10-16 13:39] skiefer opened #787 ""Unknown configuration element in namespace" in TitanHadoop 0.5.1"
Since we are using Titan 0.5.1 we are getting many exceptions like the following in TitanHadoop:

[code]

This configuration is causing the errors:

[code]

It seems that the "-0" is added in Hadoop1Compiler:

[code]

[2014-10-16 16:35] rsteppac opened #788 "Titan-Lucene returns edges that don't meet LESS_THAN predicate"
I have a strange issue with titan-lucene. Under a certain condition titan-lucene returns edges that do not meet the predicate requirement LESS_THAN.
The purpose of my little application is to sync an external source (LDAP) with a Titan graph. A full synchronization
1. sends all entries in the LDAP
2. I "touch" all vertices and edges that come past me during the synchronization process
3. delete al

[2014-10-16 23:49] dalaro commented on #787
These INFO messages and ensuing exception traces are noisy but harmless.  That line is a relic from earlier revisions of FaunusCompiler and Hadoop1Compiler.  At this point, I think it's completely vestigial, but I need to remove it and test before saying that for certain.

As long as each stacktrace listed above is preceded by an INFO line with the `Ignored configuration entry...` message that you

[2014-10-16 23:49] dalaro commented on #787
The commit which made the stacktrace part of the logging output is d1597002b06f802192a0e61b5f11463d77e993de.  This commit is included in 0.5.0 and 0.5.1 (but not the 0.5.0-MX milestone releases).

[2014-10-17 00:06] dalaro commented on #786
I reproduced this as described using GotG and the `name` property:
1. Start gremlin.sh
2. g = HadoopFactory.open('conf/hadoop/titan-cassandra-output.properties') ; g._ ; g.shutdown
3. g = HadoopFactory.open('conf/hadoop/titan-cassandra-input.properties') ; g.V.has('name').map
4. Restart gremlin.sh
5. g = HadoopFactory.open('conf/hadoop/titan-cassandra-input.properties') ; g.V.has('name').map

The

[2014-10-17 16:00] mithun12000 opened #789 "is there any rest api avaible with titan so that i can use it will other language like php"
Hi all,

can you guide me how can i implement it with php language.

regards
Mithun Mandal

[2014-10-17 16:53] avieth commented on #789
You should look into [rexster](https://github.com/tinkerpop/rexster/wiki). There's even a project called [PHP-Rexster](https://github.com/ashwinks/PHP-Rexster) which may be exactly what you need (I haven't used it, can't vouch for it).

[2014-10-17 16:55] spmallette commented on #789
Note that Rexster is packaged with Titan as [Titan Server](http://s3.thinkaurelius.com/docs/titan/0.5.1/server.html).  In the future please direct questions like this to the Aurelius Graphs mailing list: https://groups.google.com/forum/#!forum/aureliusgraphs

[2014-10-17 16:55] #789 closed, assigned to nobody

[2014-10-19 04:24] kivo360 opened #790 "Titan.sh 5.0 not starting (Timeout)"
I'm trying to start titan.sh 5.0 on my Ubuntu 14.10 machine and it keeps giving me the response:

[code]

Any ideas on what's going on?

[2014-10-22 18:06] ghost opened #791 "Error scanning classpath with Reflections"
titan-cassandra has a dependency on Reflections library. When the app starts Reflections library scans classpath. I am assuming it is looking for annotations. It also tries to scan the working directory. This works fine if it has permissions to scan working directory. If it does not have permissions then it fails silently and app fails to start.

This is happening for me when running the app as a

[2014-10-23 11:49] tomersagi opened #793 "Titan BDB+ES not enabling indexes in embedded mode"
Hi,
Sorry for posting this issue in Java but it seems to be specifically triggered when running titan embedded in java.

If you build a new graph with BDB and ES embedded in it, add a vertex property and create an index on it and then query this vertex using this property you get a warning:

[code]

MWE:

[code]

This issue started here [https://groups.google.com/forum/#!topic/aureliusgraphs/Be7UQ

[2014-10-23 13:24] tomersagi commented on #793
Update:

On my machine the thread seems to need 10 seconds to register the index before it can be enabled and there  is no need to explicitly register the index:

[code]

Results in:

[code]

[2014-10-27 21:38] angelcervera opened #794 "Source code 0.5.1 Where?"
In this repository, I only found source for version 0.4.5-SNAPSHOT
Where is the source code for version 0.5.1?

Regards

[2014-10-27 22:02] dkuppitz commented on #794
https://github.com/thinkaurelius/titan/tree/0.5.1

[2014-10-27 22:02] #794 closed, assigned to nobody

[2014-10-28 01:28] mbroecheler commented on #790
What does the log say?

[2014-10-28 01:36] mbroecheler commented on #793
This is because you are creating the property key and building the index for that key in separate management transactions. In that case, when the index is build, Titan has to assume that the key was already used and therefore demand a reindex (with manual index enabling). If you execute both of these in the same management transaction things should work smoothly.

[2014-10-28 01:36] #793 closed, assigned to nobody

[2014-10-28 06:39] angelcervera commented on #794
Hi. thanks.

Other quick question.
This link is a tag, but there is not a branch for 0.5.X-SNAPSHOT
Are you working in this version? Is 0.5.X-SNAPSHOT in other repository? If you are not woking in 0.5.X, what is the versioning policy?

Sorry but I am confused.
In the last year, I was working in small projects using Titan, but now I am starting a more ambicius project and I want use the las version

[2014-10-28 06:43] mbroecheler commented on #794
We are working on 0.5.X - its in the titan05 branch.

On Mon, Oct 27, 2014 at 11:39 PM, Ángel Cervera Claudio <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-10-28 06:53] angelcervera commented on #794
Thanks!

[2014-10-28 06:59] tomersagi commented on #793
Phew, thanks, that took a long time to figure out.

From: Matthias Broecheler [mailto:notifications@github.com]
Sent: Tuesday, October 28, 2014 3:37 AM
To: thinkaurelius/titan
Cc: Sagi, Tomer
Subject: Re: [titan] Titan BDB+ES not enabling indexes in embedded mode (#793)

This is because you are creating the property key and building the index for that key in separate management transactions. In th

[2014-10-28 07:17] calbazasebastian opened #795 "Implement ACID support with PostgreSQL"
I would like to use Titan with a backend that suports ACID, but BDB is not really an option because of it's license...
Was thinking that it would be a good ideea to use PostgreSQL and it's hstore datatype.
There is a lot of documentation on implementing graphs in a relational database and  by using hstore property graphs are also easy to do.

Would it be possible to have this in the near future?

[2014-10-28 11:22] tomersagi opened #796 "Elastic search crashes in local-mode due to skipped config option"
Hi,
I think the latest commit to Titan 0.5.0 has created a new bug.
When using a standard berkeley-db+es config the elastic search options do not get parsed and an exception is catched:

[code]

This can be traced to Basicconfiguration.java line 83. For some reason the elastic search options, namely:

[code]

Are not found in the namespace.
Later, the elastic search constructor finds no configurat

[2014-10-28 17:05] spmallette opened #797 "S3 Integration Docs for titan-hadoop Missing"
Not sure if this was intentional, but this page from Faunus:

https://github.com/thinkaurelius/faunus/wiki/Using-Amazon-S3-for-Storage

Doesn't appear to have been migrated to the latest titan-hadoop docs.  The functionality still appears to work so it doesn't look like it was removed.

[2014-10-28 20:19] dkuppitz opened #799 "EdgeMap - processing order"
Edges are currently processed for each in-vertex. That leads to problems when you have a few million unidirected edges pointing to a single vertex. You usually use unidirected edges to prevent supernodes; now when you have 5M vertices each having one unidirected (by type definition) edge pointing to a _master vertex_, Faunus will load all 5M edges in a single transaction because the EdgeMap phase

[2014-10-30 17:00] miechus opened #800 "Hadoop's titanlib folder JARs don't include Titan libraries"
We're trying to integrate Titan Hadoop in a webapp running in either Jetty or Tomcat containers. When running Jetty as Maven plugin we realized that only one Maven library is copied to the titanlib folder in HDFS and submitted jobs generate this error:

[code]

The problem is in the com.thinkaurelius.titan.hadoop.config.job.AbstractDistCacheConfigurer class in the configureByClasspath() method. In

[2014-10-30 20:04] rsteppac commented on #780
Providing OSGi bundles would not force anyone to use OSGi. But it would make the live of those easier who work with OSGi environments. Or maybe I do not correctly understand your comment about forcing OSGi use?

[2014-10-30 22:34] matthewbelisle-wf commented on #790
Same problem here, with Titan 0.5.1 and a default install of Debian 7.7.  Unfortunately there are no log files at all.

[code]

[2014-11-01 01:17] dalaro commented on #780
OSGi support would be nice.  I'll gladly accept changes towards better behavior inside an OSGi container insofar as those changes are unobtrusive, i.e. do not interfere with noncontainerized execution.  Put another way: I'm not ready to require an OSGi container to run Titan.

I would be surprised if the changes listed in the report are the only ones required to make all Titan modules well-behaved

[2014-11-01 01:17] dalaro commented on #790
What does `titan.sh -v start` say?

[2014-11-01 14:02] rsteppac commented on #780
Yeah, the list in the ticket surely is not exhaustive. It is just items that I encountered before I gave up... The total amount of work is mostly dependent on how many of your direct and indirect runtime dependencies are already built as OSGi bundles. The problem of "same dependency in multiple versions" should actually be easier to deal with in an OSGi environment. Once they are all OSGi bundles

[2014-11-02 17:28] angelcervera opened #801 "Could be an error in bdb.html"
Could be an error in titan-config-ref.html

In the documentation :

TitanGraph g = TitanFactory.build()
    .set("storage.backend", "berkeleyje");
    .set("storage.directory", "/tmp/graph");
    .open()

and should be :

TitanGraph g = TitanFactory.build()
    .set("storage.backend", "berkeleyje")
    .set("storage.directory", "/tmp/graph")
    .open();

Pay attention to the ";" at the end of eac

[2014-11-03 19:44] dminkovsky opened #803 "Download link on Getting Started points to "todo""
On, http://s3.thinkaurelius.com/docs/titan/0.5.1/getting-started.html, the "Downloads" link points to "todo". I'd submit a PR, but docs in the repo currently point to the wiki, which appears to be for 0.4. Wasn't sure where to find 0.5 docs

[2014-11-03 20:13] magnet commented on #780
I'm not using Titan yet, but I planned to use Tinkerpop3 and @spmallette pointed me to this direction.

Just for the record, the official Guava JAR has been a valid OSGi bundle for some time now (years afair), precisely because it's almost painless for Guava developers (who are not OSGi users) to maintain.

As it's been pointed by @rsteppac already, making any Java project consumable in OSGi does

[2014-11-03 22:45] dminkovsky opened #804 "Where is the source for the `com.thinkaurelius.titan.hadoop` package?"
New to Java and Titan, so I'm sorry if this question is really stupid, but: I'm not able to find the source files for the `com.thinkaurelius.titan.hadoop` package. Noticed it in `gremlin.sh`, wanted peek at it, and have spend the last long while looking for them! Found them on http://mvnrepository.com/, but can't find them anywhere in the thinkaurelius repos here on GitHub.

[2014-11-04 11:29] burlaka opened #805 "Web server doesn't respond"
Hello!
Something strange with the web-server of titandb. He stops responding to http requests after 3-5 min after the start. Browser infinitely waits for the answer. Only one thing I have changed in configuration is base-uri in the rexster-cassandra.xml and rexster-cassandra-es.xml. I try 4.4.0 and 5.1.0 version.

Many thanks.

[2014-11-04 11:50] spmallette commented on #805
Might be related to this issue in Rexster:

https://github.com/tinkerpop/rexster/issues/271

the summary of which is to increase thread pool sizes.

[2014-11-04 12:02] keith-hinde opened #806 ""wrong key class" errors - Sequence File Output"
Using 0.5.0.

Every time I try to run a Sequence File Output extract job against my graph, the mapreduce jobs fail with the following error:

Error: java.io.IOException: wrong key class: org.apache.hadoop.io.NullWritable is not class org.apache.hadoop.io.LongWritable

Hadoop (2.2.0) is working fine, for both regular mapreduce jobs and also GraphSON extracts from the same Graph (stored in Cassandra

[2014-11-04 12:28] rjbriody commented on #804
Here is the github project:

https://github.com/thinkaurelius/titan

Titan 0.5x development is on it's own branch.

https://github.com/thinkaurelius/titan/tree/titan05/titan-hadoop-parent/titan-hadoop-core/src/main/java/com/thinkaurelius/titan/hadoop

On Mon, Nov 3, 2014 at 5:45 PM, Dmitry Minkovsky notifications@github.com
wrote:

[2014-11-04 12:29] #804 closed, assigned to nobody

[2014-11-04 12:56] burlaka commented on #805
Yes. This is my case. I think that increase thread-pool is not a best solution, because problem may occure after sometime again.
I have read in one of you comment: "In TinkerPop3 we will be leaving Grizzly behind in favor of Netty." Do you have any plan for it? I'm planing to use titandb in big project and stability is critical for me.

[2014-11-04 13:33] spmallette commented on #805
If you are installing in a production environment it is quite likely that the default thread pool settings are inadequate so you will want to increase them anyway.  The defaults are set purposely low for those just getting started.  I've not heard of an environment yet where increasing the thread pool size doesn't solve this issue in the environments where it is a problem (typical RHEL).

TinkerPo

[2014-11-04 13:33] #805 closed, assigned to nobody

[2014-11-04 14:20] keith-hinde commented on #806
By way of an update - I'm seeing this same error on a clean install (different machine) of 0.5.1 running Graph of the Gods against a BDB backed graph,

[2014-11-04 19:45] dminkovsky commented on #804
Hi @rjbriody,

Thanks for this response. Had missed this branch. Noticed other issues where you direct people to the mailing list. Will research/post question there going forward.

[2014-11-05 20:42] rjbriody opened #807 "Multiplicity constraint error when using HadoopFactory"
Here is the relevant discussion: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/aureliusgraphs/vLHe43s6XlA/sKFW2ji6DlcJ

Step 1 - add schema

[code]

Step 2 - add vertex with multi-property

[code]

Step 3 - boom!

[code]

Results in following exception:

[code]

[2014-11-06 03:51] mbroecheler commented on #806
Not quite following: you are using BDB as the backend but your input format
states that you are trying to read from cassandra?

On Tue, Nov 4, 2014 at 6:20 AM, lw47 notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-11-06 06:27] mbroecheler commented on #803
we'll fix it. Just for future reference, the docs are now in the docs/ directory of the project in the titan05 branch.

[2014-11-06 07:44] keith-hinde commented on #806
Hi Matthias - Thanks for the reply. The original problem showed up when running against my cassandra cluster, but I created a basic (BDB) instance to try and establish if it was a Cassandra specific issue or not. I established that I was seeing the issue regardless of backends.

[2014-11-06 09:02] arnonyogev opened #808 "Solr scoring does not work as expected"
When using indexQuery() on a Solr backend, all returned vertices are scored 1.0.
1. Create a TitanGraph (we used in-memory for unit tests) and add a "text" property key:
   PropertyKey textKey = mgmt.makePropertyKey("text").dataType(String.class).make();
   mgmt.buildIndex(VERTICES_PROP_INDEX, Vertex.class).addKey(textKey).buildMixedIndex(INDEX_NAME);
   mgmt.commit();
2. Add 3 vertices with diffe

[2014-11-06 10:48] mglusiuk opened #809 "loading graph with faunus fails because KryoSerializer buffer too small"
During loading graph to titan(backend cassandra) using faunus job I have this exception:

com.esotericsoftware.kryo.KryoException: Buffer too small: capacity: 0, required: 1
at com.esotericsoftware.kryo.io.Input.require(Input.java:152)
at com.esotericsoftware.kryo.io.Input.readInt(Input.java:337)
at com.esotericsoftware.kryo.Kryo.readReferenceOrNull(Kryo.java:747)
at com.esotericsoftware.kryo.Kryo

[2014-11-06 12:23] philmes commented on #807
If anyone else is being afflicted by this problem, I have temporarily got around it by removing the multiplicity check in `com.thinkaurelius.titan.hadoop.FaunusElement.addRelation`. I figure this is safe enough for my use case, which is currently just read-only analytics. Probably more risky if you're writing data into Titan/Cassandra.

[2014-11-06 19:13] goldentriangle commented on #768
Hi Varun,
Have you solved the problem? I got same issue too

[2014-11-06 20:08] dminkovsky commented on #803
@mbroecheler Thank you, yeah, it took me a while but I found that branch :).

Related: there are links in the documentation to files on `master`; for example: in Chapter 3:

That links to the `master` version, which is illustrative but still pretty different from the relevant version on `titan05`.

[2014-11-07 06:45] boliza opened #810 "TitanVertexQuery with adjacent"
if direction is Direction.BOTH the result is incorrect.
my schema is

[code]

test code is

[code]

The size of iterable is 2.

Is this a bug of TitanVertexQuery or I'am full understand of the method adjacent

[2014-11-09 03:45] mbroecheler commented on #777
This will be fixed with the change to TP3 in Titan 0.9

[2014-11-09 03:45] #773 closed, assigned to nobody

[2014-11-09 03:46] #775 closed, assigned to nobody

[2014-11-09 11:51] boliza opened #811 "a problem of cassandra consistency"
Under certain scenarios,that's cassandra consistency is incorrect,we can't open the graph instance,by consistency quorum(r = 3).

[2014-11-09 15:23] angelcervera opened #812 "Unsynchronize result in Rexster doghouse, maybe from cache"
Is Doghouse returning cached values?

Steps to reproduce the error:
1/ Connect to Rexster doghouse.
2/ Create a Vertex using Rest API and POST request:
http://192.168.1.155:8182/graphs/graph/vertices?key1=key1value&key2=key2value

3/ Search in Rexster Dog House console:

4/ Search using Rest API and get request:
http://192.168.1.155:8182/graphs/graph/vertices/27392

5/ Update using API Rest and PU

[2014-11-09 15:40] spmallette commented on #812
If you use the web console then you are likely getting cached values from Titan as the console is operating in the context of a session and that session has a transaction.  If you want the new values in the console, issue a `g.rollback()` after you issue the request to update via the REST API.

The REST API should always get the latest results, because it automatically issues a `g.rollback()`  at

[2014-11-09 17:40] angelcervera commented on #812
I understand.
But if the console is working in a transaction with old values, Why not the search? It is a strange combination.

but

And if the vertex is never updated in the transaction, I think that the value should be always the real value and not the value of the last retrieve. right?

[2014-11-09 22:20] spmallette commented on #812
@mbroecheler maybe it's just late on a sunday, but i'm not sure i know the answer to this one.  what is the expected behavior here?

[2014-11-10 11:21] levin-royl opened #813 "Errors when trying to connect to Cassandra backend with Titan 0.4.4"
I am using titan-all-0.4.4. The Cassandra database is located on a machine called rcc-hrl-kvg-469 and listening on port 9160. Note that when I am using a local installation of cassandra (i.e., running on the same machine as Titan) everything looks fine.

Here is my titan config file:

autotype=none

storage.backend=cassandra
storage.hostname=rcc-hrl-kvg-469
storage.port=9160
storage.tablename=MY_D

[2014-11-10 17:37] angelcervera commented on #812
Other example.
Pay attention in the g.V after the g.V.remove()
Should return an empty list, but return the previous list.
However, g.V.count() is working right.

[2014-11-10 18:13] angelcervera opened #814 "Wrong return from Rexster on PUT and Vertex not found."
When a vertex is updated using RestFul API over Rexster, if the Vertex does not exits, Rexster responses with status **500** (Internal server error) and the message in the body is

Blueprints does not talk about the correct behavior, but IMO should response with a status **404** and a message like

In the GET, this is the behavior and IMO is right.

Could be a defect in tinkerpop/rexster?

[2014-11-10 18:26] spmallette commented on #814
I believe that this issue is related to this (as of yet unmerged) PR:

https://github.com/tinkerpop/rexster/pull/367

I haven't had time to apply this change consistently across the Rexster which is why I didn't apply the PR just yet.

[2014-11-10 19:27] angelcervera commented on #814
Yes, thanks.

[2014-11-10 19:27] #814 closed, assigned to nobody

[2014-11-11 13:18] levin-royl opened #815 "Getting an error when running simple Gremlin script in Faunus"
I am using titan-all version 0.4.4
## Code:

[code]
## Config File:
# input graph parameters

faunus.graph.input.format=com.thinkaurelius.faunus.formats.titan.hbase.TitanHBaseInputFormat
faunus.graph.input.titan.storage.backend=hbase
faunus.graph.input.titan.storage.hostname=rcc-hrl-kvg-469
faunus.graph.input.titan.storage.port=21810
faunus.graph.input.titan.storage.tablename=IBM-Connections-Versi

[2014-11-11 21:49] skavulya opened #817 "KCVSLog$MessagePuller does not shut down when using the TitanInputFormat in Apache Spark"
I encountered an error when using the TitanHBaseInputFormat in Titan 0.5+ with Apache Spark 1.0.0, and HBase 0.98. The Spark context would not shut down due to a runaway KCVSLog$MessagePuller thread that maintained a connection to the underlying graph.

The bug occurs due to the following sequence of events when using the TitanInputFormat with Spark's HadoopRDD:
val hBaseRDD = sparkContext.newAPIH

[2014-11-11 23:37] skavulya commented on #817
A better approach that might solve the issue is to move opening the graph from the TitanHBaseInputFormat.setConf to the TitanHBaseRecordReader.initialize() to ensure that the graph is always closed in case setConf get called multiple times. This approach might also resolve issue  #786 (NullPointerException in TitanHadoop 0.5.1) which I have run across because the reader will now have access to the

[2014-11-12 15:19] levin-royl opened #818 "Errors when building titan-all 0.5.1 in an ivy project"
Errors when building titan in an ivy project:
## This is the ivy.xml file:

<?xml version="1.0"?>
<!DOCTYPE ivy-module [
    <!ENTITY titan.version "0.5.1">
    <!ENTITY blueprints.version "2.5.0">
]>
<ivy-module version="2.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="http://ant.apache.org/ivy/schemas/ivy.xsd">

[code]

[code]

[co

[2014-11-12 17:51] okram opened #819 "Multi-properties don't work in Titan 0.9.0-Experimental"
Titan defaults to cardinality ONE for vertex properties. We should have this be MANY as this is now "standard TinkerPop."

[code]

[2014-11-12 18:02] mbroecheler commented on #819
We will do this for 1.0 but cannot do it for 0.9 because we want to maintain backwards compatibility to 0.5.
Explicitly define your keys for now.

[2014-11-12 18:53] okram opened #820 "Case insensitve index in Titan ("exact" match)"
Certain fields want to retain the original `String` provided by the client, but still be able to search on any cased permutation of that `String`. However, they don't want the expense of ElasticSearch when this can probably be easily provided by Titan exact match where the indexing is into a `toLowerCase()` representation of the `String`.

[code]

[2014-11-12 18:54] okram commented on #820
Wait a second... this is a bad idea for Gremlin though.

[code]

[2014-11-12 18:55] philmes opened #821 "Entire Kryo dependency should be shaded"
Titan depends quite intimately on a specific version of Kryo. Unfortunately Kryo isn't as backwards compatible as it ought to be, and there are some nasty hard conflicts with the version used by, amongst other things, Twitter Scalding and Cascading.

Ideally Kryo should be shaded, or there should be a `titan-all` style dependency which includes all of the core dependencies shaded into the jar.

[2014-11-12 21:54] dbeaumon opened #822 "Titan-Hadoop does not respect the output.location in properties."
Titan 0.5.0 / Hadoop 2.5.1

First, `conf/titan/titan-graphson.properties` does not have an `output.location` nor override output location like Faunus did. In essence, the bottom two properties are not present.

[code]

However, when the bottom two properties are added, Titan-Hadoop ignores the `output.location` specified and always makes the directory `jobs`. This is weird. Why is the output not g

[2014-11-12 21:56] mbroecheler commented on #799
This has already been changed in Titan 0.9. When the M1 comes out, it would be great if @dkuppitz could test this.

[2014-11-12 21:59] #681 closed, assigned to mbroecheler

[2014-11-12 22:28] dalaro commented on #694
titan05 honors ColumnFamilyInputFormat's `cassandra.input.widerows` boolean option instead of forcing it it off.  We have yet to show that it solves thrift frame size exceeded exceptions.

[2014-11-12 22:29] dalaro commented on #696
Public options have been refactored since 0.5.1 to use Titan's configuration system.  Some internal settings used by pipeline steps still work in static strings, but these aren't a priority, and they've disappeared on the 0.9 line.

[2014-11-12 22:29] #696 closed, assigned to dalaro

[2014-11-12 22:29] dalaro commented on #725
Closing this until we can reproduce it.

[2014-11-12 22:29] #725 closed, assigned to dalaro

[2014-11-12 22:31] dalaro commented on #704
Still not sure about the Eclipse import problems.  Closing given the lack of detail.

[2014-11-12 22:31] #704 closed, assigned to dalaro

[2014-11-12 22:36] dalaro commented on #566
#695 duplicated and subsumed this issue.  That's been closed for a while (by e6563d7352d7fdcfb55dc0b0f3c7c096517c8891).

[2014-11-12 22:36] #566 closed, assigned to dalaro

[2014-11-12 22:55] dalaro commented on #578
I think I ran into the same behavior mentioned here, in #582, and #579 while working on testing titan-hadoop.  Setting minIdle=0, maxactive=-1, and maxTotal=positive number seems to cause commons-pool to invoke `clearOldest` and destroy 15% of the total pool capacity every time it fills, so that the pool periodically turns over about a sixth of its capacity when it grows to capacity.

I refactored

[2014-11-12 22:55] #578 closed, assigned to dalaro

[2014-11-12 22:57] dalaro commented on #762
Part 1 is fixed by a8bad29d01dd4ab1c0e25b0c25738e72f9b55e05.

Reopening for part 2.

[2014-11-12 23:02] dalaro commented on #786
This specific bug is fixed by 7243d05e0c7a4162d5750374fe02aa94b17a8850.  The bug was an unintended side-effect of 3257577f892d3479955597ba4c835f860c34f3bc, which itself fixed a different NPE while introducing this one.

This bug is somewhat unusual in that it was triggered by a VM restart.  There's no test that would catch a regression of this bug right now.

[2014-11-12 23:25] mbroecheler commented on #659
minor importance. Seems to be a BDB bug we need to identify.

[2014-11-12 23:26] mbroecheler commented on #621
also should add a test case.

[2014-11-12 23:35] #785 closed, assigned to dalaro

[2014-11-13 00:35] #7 closed, assigned to mbroecheler

[2014-11-13 00:35] mbroecheler commented on #7
This will not be implemented since the benefit is very limited and the amount of work and likelihood of failure too high.

[2014-11-13 00:45] mbroecheler commented on #811
Can you elaborate on the problem that you are seeing? If the Cassandra cluster drops below quorum, that would be expected behavior.

[2014-11-13 00:47] mbroecheler commented on #812
@spmallette Did we see this before where the session gets mapped onto different transactions for separate requests?

[2014-11-13 00:49] mbroecheler commented on #813
You might not have the rights to access that remote machine or something else is blocking the traffic. It seems that you are trying to run Titan locally against a remote Cassandra instance. That is not a recommended way of operating Titan.

[2014-11-13 00:49] #813 closed, assigned to nobody

[2014-11-13 01:18] dalaro commented on #806
@lw47 did your properties file set  `cassandra.input.partitioner.class`?  It's not in what was pasted.  HadoopGraph `g._` can't even get that far without a partitioner when I test it on 0.5.1/hadoop2.  I don't think this is causing the issue, but I also don't think I have a complete picture of your config.  By the way, are you running `g._` or something else?

[2014-11-13 01:25] dalaro commented on #796
0.5.2-SNAPSHOT has been the active snapshot version and the version on the titan09 branch since Oct 9.  0.5.0's release tag was created on Aug 14, and I doubt anyone has pushed a 0.5.0-SNAPSHOT since then, which doesn't line up with the timeframe for this bug.  Which snapshot version are you using exactly?

[2014-11-13 01:40] dalaro commented on #768
What did you do about the Hadoop version?  That's the titan-0.5.1-hadoop2 distro in the snippet pasted above.  HBase 0.94 uses Hadoop 1 by default, though it can be manually recompiled to target other Hadoop versions.  I would not recommend taking the HBase 0.94 client built for Hadoop 1 and trying to execute it against a Hadoop 2 runtime without recompiling.

I just tried titan-0.5.1-hadoop1 agai

[2014-11-13 12:57] dkuppitz commented on #815
Looks like the `groupCount` closure is causing the error. Where does `ElementKeySchema.typeToken` come from?

[2014-11-13 13:03] levin-royl commented on #815
Thanks for your response, I thought of that and even removed the groupby altogether (i.e., running no query at all) but still I get the same error. Seems to me like there is some conflict with jar versions but I can't find out what's causing it ...

[2014-11-13 13:13] boliza commented on #811
Today I watch the log of cassandra then I find there many ERROR about tombstone time out。

[code]

I debug my program,found that titan can't read the CF system_properties.The logger is

[code]

I use to truncate the CF system_properties to slove this problem,that's works.

[2014-11-13 13:18] dkuppitz commented on #815
The stacktrace contains:

[code]

Not sure how you're able to get the same error if you remove the `groupCount` step. Please try to use a very basic query, like:

[code]

[2014-11-13 13:28] levin-royl commented on #815
I meant similar error. Here is what I get using the count query you suggested:

FYI--- the code is running from my local machine (in eclipse) and the graph is stored in a remove server running hbase.

Exception in thread "main" java.lang.VerifyError: class org.codehaus.groovy.runtime.callsite.GroovySunClassLoader$2 overrides final method visit.(IILjava/lang/String;Ljava/lang/String;Ljava/lang/Stri

[2014-11-13 13:49] dalaro commented on #815
@levin-royl Which version of ASM is on the runtime classpath when the latest exception you pasted is thrown?

[2014-11-13 13:51] dkuppitz commented on #815
Maybe [this discussion](https://groups.google.com/forum/#!msg/aureliusgraphs/i72ZJG0yafg/Ax45LA4ESb4J) on the mailing list can help. Seems like some people ran into the same - or at least into a related - issue.

[2014-11-13 13:57] keith-hinde commented on #806
Hi,

Unfortunately I don't have access to the Cassandra cluster today, but I did manage to replicate this issue using a fresh instance of 0.5.1 against a single Hadoop node. Here are the details:

Config File

# input graph parameters

titan.hadoop.input.format=com.thinkaurelius.titan.hadoop.formats.graphson.GraphSONInputFormat
titan.hadoop.input.location=examples/graph-of-the-gods.json

# titan.h

[2014-11-13 14:06] keith-hinde commented on #806
Interestingly - same config, but running g.V.count() actually runs to completion - producing the correct total (12) and producing a sequence file to boot (Not sure if it's valid though).

Dumping out all vertices via g.V fails, as does dumping out edges via g.E.

[2014-11-13 14:09] okram opened #823 "Default track-paths should not be true in Titan-Hadoop."
I keep seeing this in the default properties.

[code]

Note that `track-paths` is not efficient and is automatically turned on if a path-step is required. Hardcoding this to true is not a good idea as Faunus is not scalable.

[2014-11-13 18:09] curtisallen commented on #821
Sounds like a good idea but Kryo makes heavy use of reflection which can be immune to shading. I've ran into classpath issues with differing versions of kryo and the only solution was to make sure only one version of kryo is on the classpath.

[2014-11-13 18:17] curtisallen opened #824 "Bootstrap script doesn't get invoked in titan console"
Given a simple bootstrap script

setup.groovy:

[code]

When starting the gremlin console you used to be able to pass a bootstrap script. In titan-hadoop 0.5.x this doesn't seem to work.

[code]

Compare with gremlin-groovy

[code]

I also noticed that if you pass in a path to a script that doesn't exist a FIleNotFoundException is no longer thrown.

[2014-11-13 19:01] philmes commented on #821
Yep. Unfortunately in this case, there are binary and source incompatibilities between the version of Kryo that Titan depends on, and the version that Scalding depends on (I tried patching the latter but it turned into a bit of a rabbit hole). FWIW, I have created a shaded version of Titan 0.5.1 and it all seems to work fine.

[2014-11-13 19:57] denisekgosnell opened #825 "The graph data persists after titan.sh clean because of data being written to bin/db/cassandra"
The strange behavior I noticed: there were cases when I would stop titan and remove all data with titan.sh clean. After restarting titan, the graph would still be accessible and was not removed.

The reasons this is happening on my system:
1) titan.sh clean looks in `titan/log` and `titan/db/` to remove all data from the Cassandra and elastic search backends
2) If you start titan from within titan

[2014-11-13 20:10] okram opened #826 "GraphSON -> SequenceFileOutputFormat throws NullWrtiable -> LongWrtiable Exception"
Do a `g._()` with `GraphSONInputFormat` to `SequenceFileOuputFormat` on Titan/Hadoop2. The ChainMapper thinks the key should be a `LongWritable` when it should be a `NullWritable`.

[2014-11-13 20:17] dalaro commented on #826
I think this is #806

[2014-11-13 21:15] okram opened #827 "Titan Infer Schema does not work correctly in Titan/Hadoop."
Do this:

`titan.hadoop.output.infer-schema=true`

........Then see how it looks like its doing a bulk load but it does SchemaInfer, but then no data. Something is odd.

Titan/Hadoop2 into Cassandra.

[2014-11-14 01:46] superbeeny opened #828 "NoClassDefFound Errors in Titan 09"
Hi all,

I pulled a copy of titan 09 down and tried to build it so I could access the maven artifacts. mvn clean install works nicely and all my dependencies resolve from my local maven repo.

When I try to run the code I get the following exception

[code]

Code

[code]

Dependencies in pom

[code]

Dependency Tree from maven

[code]

[2014-11-14 01:57] superbeeny commented on #828
Appears adding

http://mvnrepository.com/artifact/com.esotericsoftware.kryo/kryo/2.24.0

[code]

to my pom now resolves the issue.
Output now as expected:

[code]

[2014-11-14 09:06] tomersagi commented on #796
I'm using a maven dependency now:

[code]

I can try and upgrade to 0.5.2-Snapshot and report the results.

[2014-11-14 11:07] phani1kumar opened #829 "Selective Replication of Sub-Graph --> Replicating Master data vertices across cluster nodes"
I am new to the Graph theory as such. But I've gone through the documentation out there and gathered some knowledge around the subject. I am aiming for a start-up basing around the Titan Graph database.

Coming to the subject line: Selective replication of sub-graph.
I could expect my graph data to grow beyond multiple nodes and also across geographies. 2-3 nodes present in Asia and 2-3 nodes in E

[2014-11-14 21:53] dalaro commented on #825
@denisekgosnell which version of Titan is this (please include the full name of the zipfile if the problem appeared while using one of the zipfile downloads)?

[2014-11-14 21:59] dalaro commented on #806
@lw47 Your GraphSON -> SequenceFile config and test case reproduces the issue here just as you described.  Thanks, very helpful.

[2014-11-14 22:16] dalaro commented on #821
I have noticed Kryo's shading approach changing since about 2.22, when its "shaded" artifact classifier disappeared.  2.22's primary artifact appeared to include shaded copies of Kryo's dependency tree, including objenesis, reflectasm, and minlog, much like the old jar with the "shaded" classifier.  That changed in 2.23.0, when shaded objenesis was removed, and again in 2.24.0, when shaded minlog

[2014-11-14 22:22] dalaro commented on #796
0.5.0 is fine.  You do _not_ need to upgrade to 0.5.2-SNAPSHOT.  I was confused by the words "snapshot" and "latest commit" in your original message.

Did you also depend on titan-es and on titan-berkeleyje?  You need both of these dependencies in your pom to run a Titan graph against BDB + ES as described in your original posting.  If in doubt, please post your pom.xml and the output of `mvn depe

[2014-11-14 22:34] curtisallen commented on #821
Interesting @dalaro , unfortunately  we'll probably be stuck playing these types of games until we have access to Jigsaw in java 9 :cry:
Hopefully you can get some solution working before then.

[2014-11-14 23:50] dalaro opened #831 "Invoking TitanFactory.open with nonexistent file argument throws exception"
If a JVM's first `TitanFactory.open` call passes a nonexistent configuration file, then TitanFactory gets into the else block on lines 169-190 where it tries to decode a backend shorthand.  This leads to a circular reference between static initializers triggered on line 173 which eventually generates an ExceptionInInitializerError:

[code]

Workaround: pass an extant properties file to `TitanFacto

[2014-11-15 00:13] dalaro commented on #791
Can you send exact steps to reproduce this, including the version of Titan used and the full permissions bitmask on the working directory?

I included a bogus config option `foo=bar` in titan-cassandra.properties to force Reflections to do a full walk over the classpath.  I used titan-0.5.1-hadoop2.zip.  I tried as a regular user with my / (which is root/root 755) and with an empty directory calle

[2014-11-15 00:18] #781 closed, assigned to dalaro

[2014-11-15 00:19] #787 closed, assigned to dalaro

[2014-11-15 00:22] dalaro commented on #786
Since the Faunus type code is somewhat fragile, and since this bug was hidden in the absence of a VM restart between type definition and the Faunus job that used the schema, I'm keeping this open until we have a test that exercises this scenario.  A VM restart is the common case, and this bug shows that it can be affected by bugs hidden in a simple single-VM JUnit/MRUnit test.

[2014-11-15 00:41] ghost commented on #791
This may have been caused by an error in our configuration. Changes to our classpath setting in start script fixed the issue.

[2014-11-15 01:17] dalaro commented on #764
@yuriythedev I'm really late to this party.  I haven't been able to reproduce this issue.  I tried with the following:
- HBase 0.98.2-hadoop2 (client & server)
- Hadoop 2.2.0 using the default LocalJobRunner
- titan05, currently 0.5.2-SNAPSHOT / commit ee67f0069d971aa8ffa88cf5b7231e7b1a38dd3d.  I recommend against using 0.5.1 to test this specific bug because this scenario is likely to trigger #78

[2014-11-15 06:37] dalaro commented on #735
I refactored Hadoop1Compiler and Hadoop2Compiler.  These handle Job management on their respective Hadoop major versions.  My refactoring extracted some common Hadoop-version-insensitive logic into a common abstract superclass, then added a bunch of logging lines in the common logic.

The logging happens in essentially two stages:
- Configuration: before submitting any jobs, the compiler logs ever

[2014-11-15 06:37] #735 closed, assigned to dalaro

[2014-11-15 06:54] tomersagi commented on #796
I did of course depend on them as well. You could see from the trace I posted that the appropriate classes have been found and called upon.

[2014-11-15 06:56] dalaro commented on #796
Thanks, just checking.  Can you please increase the log level on `com.thinkaurelius.titan.core.util.ReflectiveConfigOptionLoader` to DEBUG?  This should emit additional info about why index.search.elasticsearch.client-only is failing to map to an option object at runtime.

[2014-11-15 07:16] #826 closed, assigned to dalaro

[2014-11-15 07:16] dalaro commented on #806
This now has a test (0c28ed51f4be7d8a178024d7b46bbcd11f05038b) and a fix (520e7c650e08ebc2d6b86bfa1515f032006259f4).  Thanks again for the reproducible test case.

[2014-11-15 07:16] #806 closed, assigned to dalaro

[2014-11-15 07:18] #791 closed, assigned to dalaro

[2014-11-15 09:48] keith-hinde commented on #806
Thanks guys - glad to help!

[2014-11-16 14:12] levin-royl opened #832 "Problem connecting titan (0.5.1) to an hbase backend"
Hi,

In my configuration I run my code (including a titan database) from a 64bit windows machine (inside eclipse) which uses an hbase backend installed on a 64bit remote linux machine.
I am initializing the graph as follows and with the following config file.

TitanGraph tg = TitanFactory.open(config);
## config file:

storage.backend=hbase
storage.hostname=rcc-hrl-kvg-469
storage.hbase.ext.hbase.

[2014-11-16 14:15] levin-royl commented on #832
FYI --- here is my pom.xml

<project
    xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"

[code]

</project>

[2014-11-16 21:40] levin-royl opened #833 "Cannot get titan-hadoop (with titan-all 0.5.1) to work on a windows machine"
I am running a simple titan-hadoop-gremlin query (within windows eclipse) on my windows machine that also has cassandra installed.
## Here is my log file (with the error)

5418 [main] WARN  org.apache.hadoop.util.NativeCodeLoader  - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
5482 [main] ERROR com.thinkaurelius.titan.hadoop.config.HBaseAuth

[2014-11-17 10:49] traykova opened #834 "Message received response timeoutConnection (3600000 s)"
Hello,

I'm configuring my RexsterClient in the following way:

Map<String, Object> conf = new HashMap();
conf.put("hostname", "localhost");
conf.put("graph-name", "graph");
conf.put("timeout-connection-ms", 3600000);
RexsterClient client = RexsterClientFactory.open(conf);

However, when I query titan-berkeleydb (using titan-0.5.1-hadoop2), I'm getting the following error:

java.io.IOException: Me

[2014-11-17 11:08] spmallette commented on #834
This is really a rexster issue - answering on the mailing list: https://groups.google.com/forum/#!topic/aureliusgraphs/xMqU1sbvOnk

[2014-11-17 11:08] #834 closed, assigned to nobody

[2014-11-17 13:35] tomersagi commented on #796
I don't know what happened, but the issue went away. It's still not running, but now it's a different error. I'll try and handle it on my own and if I'm stuck I'll open a new issue.

[2014-11-17 13:35] #796 closed, assigned to dalaro

[2014-11-17 15:45] denisekgosnell commented on #825
@dalaro
from http://s3.thinkaurelius.com/downloads/titan/
we are using: titan-0.5.0-hadoop2.zip

[2014-11-18 01:22] dalaro commented on #832
[code]

Do you have winutils.exe installed?  I have read that the Apache distro stopped shipping it around 2.2.0 and now users have to build it, but I'm not certain.  It also looks like HADOOP_HOME is unset (`null` should probably be your HADOOP_HOME).

[2014-11-18 01:23] dalaro commented on #833
This seems to be the same problem as in #832:

[code]

[2014-11-18 01:32] dalaro opened #835 "RDFInputFormat Hadoop compat leak"
Thanks to @spmallette for reporting this.  Found under 0.5.1-hadoop1.  Probably a Hadoop 2 type leaking into core, but not certain yet.

[code]

[2014-11-18 06:45] dalaro commented on #786
I added a test for this in the titan-dist module.  This module has some Expect-based integration tests that simulate user interaction with `titan.sh` and `gremlin.sh`.  Catching a regression on this bug requires a JVM restart in the middle of the test logic, so the Expect-based integration tests seemed a more natural place to implement it than JUnit tests (even with Failsafe).  The test runs in th

[2014-11-18 06:45] #786 closed, assigned to dalaro

[2014-11-18 06:47] dalaro commented on #835
I covered this with a test (949b837948c1a0547911cb5dc9534c4973c65112) and then fixed it (62d459107f26085f1a1dbeadf4204be63af8fe03).  After fixing this issue, I found an unrelated anachronism in the rdf-input.config file ("n-triples" is now "N_TRIPLES") and fixed it with 502528c9843c2fa31ce1ed142dd3f4e2a4cfe58a.  This now writes six lines of GraphSON to jobs/job-1/part-m-00000 which appear to match

[2014-11-18 06:47] #835 closed, assigned to dalaro

[2014-11-18 07:21] levin-royl commented on #833
The problems may indeed be similar but they are not the same. Here (in #833) I am trying to use titan-hadoop and in the previous issue (#832) I am merely using titan (i.e., without hadoop).
Note that in both cases it is a development configuration so its easier for me to work in eclipse running titan locally and using the remote linux machine as the storage backend service.
Hence, I do not want (o

[2014-11-18 07:25] levin-royl commented on #832
Thanks for your reply.

Note that I am not using hadoop at all with this configuration --- I am merely using the remote linux machine as my hbase backend. Furthermore, a similar configuration worked well when I used tital-all-0.4.4 (i.e., running titan locally and connecting to a remote linux data backend).

Also, (see my comment details in #833) the issues are not the same since here I am not usi

[2014-11-18 09:41] levin-royl opened #836 "A question about Titan Gremlin Execution plan."
I have a question about how titan implements graph traversal queries.

For instance a Gremlin query such as:
g.v(1).outE('knows','created').interval('weight',0.5,1.0).has('date',2012).inV.name

What I want to know is, what is the plan for executing such a query --- i.e. what happens behind the scenes?
For instance, does the edge filtering take place in the database backend (say in cassandra) or ar

[2014-11-18 10:11] dalaro commented on #832
@levin-royl I think you're suggesting that winutils.exe is optional.  I'm not a Windows Hadoop expert and I could be mistaken, but I think winutils.exe is required.  Enis Söztutar is a committer on HBase, and he [posted on the hbase-user list about this](http://mail-archives.apache.org/mod_mbox/hbase-user/201402.mbox/%3CCAMUu0w9nhgEHtKPdhKk7VO3+FVLDnhweqyV39fEYg3d=qbq+KA@mail.gmail.com%3E):

Also,

[2014-11-18 10:13] dalaro commented on #824
This now has a test (60672b030dfac452ac2ae71a3eaf74d627be5318) and a fix (1b23ce606090eb7e9407e63e26bf8e4e2418ac42).  Here's an example post-fix that borrows from the new test:

[code]

[2014-11-18 10:13] #824 closed, assigned to dalaro

[2014-11-18 15:15] rsteppac commented on #788
In the meantime I found another scenario that causes the opposite to happen, i.e. no instead edges are matched by the LESS_THEN predicate:
1. insert several vertices and connect with edges
2. add some property to edge
3. commit
4. load edge and update property
5. commit
6. Iterate over all edges (`graph.query().edges()`) in graph and log cut-off timestamp property to verify there are edges that me

[2014-11-18 15:27] curtisallen commented on #824
:+1:

[2014-11-18 17:47] dalaro commented on #825
Thank you, I reproduced the bug with your report.  I then modified cassandra.in.sh, the shell fragment evaluated shortly before the scripts fork the Cassandra daemon, to change the working directory that which contains the `db` directory (b2ad7e883d873b1e8425aedc31cefbf82aacb60c).  Now the Cassandra daemon starts with the same working dir regardless of the working dir from which `titan.sh` was inv

[2014-11-18 17:47] #825 closed, assigned to dalaro

[2014-11-18 17:48] dalaro commented on #801
This is fixed in titan05.  I also cherry-picked this back to 0.5.0_docs and 0.5.1_docs branches that I've been keeping locally off their respective release tags and rebuilt+redeployed the docs for both of those versions.

[2014-11-18 17:48] #801 closed, assigned to dalaro

[2014-11-18 17:56] dalaro commented on #803
Thanks for pointing these things out.

I fixed the downloads link (25cf8f5b076fc74f817dd95b933cab8b7bbee89a).  I also grepped case-insensitively for todo in the docs markup, but I found no other particularly conspicuous hits like this one.

I found two references to Titan's blob/master and changed them to titan05 references (c12d1ebecbf423d4b9ae0b468263af4109218a45). A more elegant solution would

[2014-11-18 17:56] #803 closed, assigned to dalaro

[2014-11-18 18:00] dalaro commented on #831
This is tested in c546e13325756f7ed68b3d4f72ced4e097fee7ff.  I broke the static initializer cycle in a2149cec1d2d9b52b1bad596ef8cb1accdd2f3db by pulling the canonical maps of index provider and store manager names and classes into small, self-contained enum classes used by both Backend and GraphDatabaseConfiguration.  Some of Backend's static initializers continue to reference static fields in Gra

[2014-11-18 18:00] #831 closed, assigned to dalaro

[2014-11-18 18:04] dalaro commented on #797
I ported this to titan05 as docs/faunus/s3.txt (a0a726d2fdc0dd20e82dee4536701064f4f778e7).

Since this page is applicable to older versions, I also cherry-picked this to 0.5.0_docs and 0.5.1_docs local branches that I've been keeping off their respective release tags.  Thanks to non-numeric page names and hyperlinks, we can add chapters retroactively without breaking existing deep links.  Newly up

[2014-11-18 18:04] #797 closed, assigned to dalaro

[2014-11-18 18:07] dalaro commented on #817
Thanks for the report.  I think this is fixed by 5dd656e050cf1f31580a4425e51b3da272d9bfcb, which essentially just what you suggested (for Cassandra as well as HBase).  If you're in a position to try the patch and determine whether it solves the problem in your Spark RDD setup, I'd appreciate the feedback.

[2014-11-18 18:14] dalaro commented on #828
@superbeeny thanks for the very clean bug report.  There's a separate but related ASM issue in #821 (though they are distinct, not dupes).  Just wanted to link these in the tracker.

[2014-11-18 18:31] dalaro commented on #817
I cheated in my first commit by instantiating graphs in `InputFormat.createRecordReader`.  I'm not sure the contract on that method makes this safe.  I moved instantiation into `RecordReader.initialize` with b4eee85165c5c1887d7597a628d5470500ffef8d.

If you're in a position to test, I now suggest applying both 5dd656e050cf1f31580a4425e51b3da272d9bfcb and b4eee85165c5c1887d7597a628d5470500ffef8d.

[2014-11-18 20:54] fitzoh opened #837 "SOLR issues with DSE Search"
Datastax enterprise is a commercial cassandra distribution, which comes with a built in SOLR solution, DSE Search.

Directions for using DSE Search with titan are listed in the [titan docs](http://s3.thinkaurelius.com/docs/titan/current/solr.html#dse-search)

DSE Search does not have the ability to do atomic updates
http://www.datastax.com/documentation/datastax_enterprise/3.2/datastax_enterprise/

[2014-11-18 22:08] xedin commented on #837
Currently we only support atomic updates because it's problematic to pull whole documents on every update, but in future we are considering adding a mode which will do that.

[2014-11-19 00:38] superbeeny opened #838 "HBase Zookeeper not found with Titan 09 Gremlin client"
Using the below properties

[code]

Generates the below error when trying to open the connection. Connections with the same properties opened from within java do not generate the same exception.

[code]

[2014-11-19 08:36] rsteppac commented on #788
You can find a small sample project with a unit test that demonstrates the problem described in my last comment here:
https://github.com/rsteppac/titan788
With the stripped down test I was able to see that loading and updating an edge property is not what causes the issue, only the commit after the action.

[2014-11-19 14:59] dalaro commented on #762
Part 2 is much more work than it seems to be worth right now.  I can't easily repurpose the Velocity stuff used in Expect testing because it runs from the integration tests, not from a Maven plugin as I originally thought.  I can't justify hours of work for the marginal maintainability improvement that part 2 would entail.  Closing this without completing part 2.

[2014-11-19 14:59] #762 closed, assigned to dalaro

[2014-11-19 17:03] dalaro commented on #782
@mbroecheler I don't think this is a VertexLongList issue.  I attached a debugger and set breakpoints in VertexLongList's `hasNext` and `next` methods.

@ccoffey's query never trips the `hasNext` breakpoint.  At first I thought was a problem with my debugger.  I compared with @spmallette's workaround query.  That trips `hasNext` and `next` in alternation, exactly as one would expect.  So  `VertexL

[2014-11-19 17:31] dalaro commented on #784
I implemented the strategy suggested in my last comment.  titan05 now depends only on ASM 4.1 via Solr.  The other copies of ASM are all shaded.  These changes were tricky and could use some additional testing, but I think this issue is fixed (until we add another dependency that unexpectedly drags ASM back into Titan's tree).

Several projects upstream independently decided to shade ASM themselve

[2014-11-19 17:39] dalaro commented on #800
I think there are two ways to approach this.

One is to pack a mapreduce job jar that contains all of the dependencies needed for Titan-Hadoop execution.  This is essentially how Faunus worked up through version 0.4.4.  It's still supported in 0.5.x by setting `mapred.jar` (Hadoop 1) or `mapreduce.job.jar` (Hadoop 2) in the configuration.  But this is also cumbersome and space-inefficient, since t

[2014-11-19 17:40] #823 closed, assigned to dalaro

[2014-11-19 18:35] dalaro commented on #784
Dropping in Groovy 2.3.7 at runtime breaks Rexster's console through the JLine upgrade:

[code]

Although I suspect that it might be possible to resolve this by retaining jline 1.x in a separate directory for use only by rexster-console, I'm reluctant to give up on the unitary classpath we've maintained thus far.

I discussed this with Stephen.  It sounds like a Groovy version bump is very unlikel

[2014-11-19 20:45] mbroecheler commented on #836
Please use our mailing list for questions. The issue tracker is for bugs and features only.
https://groups.google.com/forum/#!forum/aureliusgraphs

[2014-11-19 20:45] #836 closed, assigned to nobody

[2014-11-19 20:48] dalaro commented on #809
Can you please share the steps to reproduce this error, including the `HadoopFactory.open` configuration of the job(s) that cause it?

[2014-11-19 20:48] mbroecheler commented on #838
Titan09 is currently under development. Please wait until the M1 release for us to sort things out.

[2014-11-19 20:48] #838 closed, assigned to nobody

[2014-11-19 20:52] #833 closed, assigned to nobody

[2014-11-19 20:53] mbroecheler commented on #829
This is a question on the mailing list:
https://groups.google.com/forum/#!searchin/aureliusgraphs/Replication/aureliusgraphs/DWZ5NE7Tn-s/0vpICpFjMeUJ

[2014-11-19 20:53] #829 closed, assigned to nobody

[2014-11-19 21:03] miechus commented on #800
Dan,

Looking at the changes it does seem like this would solve our issue.

I was wondering if it would also be possible to add a parameter to the configuration that would allow to skip the copy of the JAR files to titanlib (especially if you're invoking many jobs it seems like it could be done outside of the Titan process in a more streamlined (i.e. periodic) sync process). Or, even more elegant,

[2014-11-19 21:06] dkuppitz commented on #809
This was resolved in #716. The setting that allows you to change the Kryo buffer size is documented here: http://s3.thinkaurelius.com/docs/titan/0.5.1/hadoop-config-ref.html#_titan_hadoop_serializer

[2014-11-19 21:08] dalaro commented on #800
@miechus Please let me know if you're seeing something different in testing.  However, setting classpath-configurer should disable the copy to titanlib.  This is the logic that determines which JobClasspathConfigurer is used at runtime:  https://github.com/thinkaurelius/titan/blob/titan05/titan-hadoop-parent/titan-hadoop-core/src/main/java/com/thinkaurelius/titan/hadoop/config/job/JobClasspathConf

[2014-11-19 21:24] miechus commented on #800
@dalaro You're right - using only the configurer will solve this. The use of some external static object would be needed as the configurer instances are instantiated on a per-job basis and would not maintain the state but this can be worked around.

[2014-11-20 04:54] mbroecheler opened #839 "Concurrency issue with index"
Problem description
We have a fairly graph project built on top of Titan as the Data Grid. It is highly multi-threaded, with all threads reading and writing to the same in-memory graph. We have tried both 'inmemory' driver and 'berkeleyje' driver and can reproduce the issue on both.

Under volume, we started to see duplicate vertices returned in result sets via iteration of a GremlinPipeline<Verte

[2014-11-20 10:54] dalaro commented on #827
@okram can you spell out the steps to reproduce and exactly what's broken?  I'm having trouble understanding the problem or reproducing it.  I tried the following on titan05 HEAD and on 0.5.1-hadoop2's zipfile.
- Started Cassandra (2.0.9) with no data, then `bin/gremlin.sh`
- `gremlin> g = HadoopFactory.open("conf/hadoop/titan-cassandra-output.properties"); g._`

  First job counters:

[code]

  S

[2014-11-20 10:58] dalaro commented on #809
@dkuppitz that seems like a reasonable explanation.  I hadn't even considered the size limit.  Thanks!

@mglusiuk please try increasing the setting Daniel linked.  And please reopen this issue if you increase it an order of magnitude or two and the problem still appears.

[2014-11-20 10:58] #809 closed, assigned to dalaro

[2014-11-20 11:00] dalaro commented on #800
Sounds good.  Please reopen/open-new if a Titan bug or unseen limitation in the approach comes up during Plexus integration.

[2014-11-20 11:00] #800 closed, assigned to dalaro

[2014-11-20 11:28] dalaro commented on #784
I rolled back to Groovy 1.8.9 in bfcc99dbd71e90f4a2a17b24cf02ab484bf89396.

I wanted to avoid pushing a shaded gremlin-groovy doppelganger artifact to Central, if possible, since that would become obsolete with TP3 anyway, and Central is forever.  I configured titan-core to contain a copy of org.codehaus.groovy:groovy and asm:\* (3.2).  The ASM packages are relocated to com.thinkaurelius.shaded.gr

[2014-11-20 11:28] #784 closed, assigned to dalaro

[2014-11-20 11:45] BrynCooke opened #840 "Replicas setting in elastic search indices"
As far as I can tell there is no way of specifying the number_of_replicas setting when indices are created in Elastic Search via Titan. The default is 1.

The user can interact with Elastic Search directly to change this after the index has been created, but I feel that this should be an option within Titan in the same way that replication factor can be set for Cassandra.

[2014-11-20 12:56] mglusiuk commented on #809
Thank you for suggestion it is possible that my data have some supernodes with a lot of edges. I will try to use this setting as you suggested.

[2014-11-20 14:31] okram commented on #827
Hm. On the client's Hadoop2 cluster, once the SchemaInferencing happens, it throws some exception about not finding an enum. Then you have to update your properties file to NOT do schema inferencing and run it again to get the bulk load ... ?? If you don't see it, then its probably the client's cluster. They were having other problems with it so I believe they might have installed it incorrectly.

[2014-11-20 14:36] dalaro commented on #827
What was the client config's input format?  The only enum-related issue on Hadoop that I've seen recently was an outdated setting in `conf/hadoop/rdf-input.properties`.  It contained this line:

[code]

But should have contained this line instead:

[code]

(fixed in 502528c9843c2fa31ce1ed142dd3f4e2a4cfe58a)

Kind of a shot in the dark, but it's the only thing coming to mind.

[2014-11-20 14:36] BrynCooke commented on #840
I can see that in the ES config you can set index.number_of_replicas to set the default in the ES config, but still think that this should be an option in Titan.

[2014-11-20 14:39] okram commented on #827
It was GraphSON.

On Nov 20, 2014, at 7:36 AM, Dan LaRocque notifications@github.com wrote:

[2014-11-20 14:41] dalaro commented on #827
That's what I used.  I don't know to reproduce this.  Will gladly take another look if we get more info.

[2014-11-20 14:41] #827 closed, assigned to dalaro

[2014-11-20 20:14] dalaro opened #841 "Add an option controlling Astyanax's local datacenter"
Astyanax provides `ConnectionPoolConfigurationImpl.setLocalDatacenter(String)` to declare the closest DC in a multi-DC Cassandra deployment, but Titan currently provides no way to access this setter.  It's possible to hack around this shortcoming by specifying a custom host supplier, but it would be nice to have access to the local datacenter option.

Add a `ConfigOption<String>` that causes the s

[2014-11-20 21:22] mbroecheler commented on #779
This one has slipped through the cracks.
@bluestix Could you tell us what your schema definition looks like?

[2014-11-20 22:18] ghost commented on #779
This works but requires casting:

[code]

This doesn't work and fails with the error above regardless of whether I use boolean or Boolean:

[code]

[2014-11-20 23:05] mjc- opened #842 "ShutdownThread not playing well with others"
Greetings!

After some digging, it looks like the call to removeShutdownHook() here:
https://github.com/thinkaurelius/titan/blob/titan05/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/database/StandardTitanGraph.java#L164

is throwing IllegalState exception as it is being called during shutdown.

This appears to be expected behaviour
https://docs.oracle.com/javase/7/docs/api/java/lang/Ru

[2014-11-20 23:33] mbroecheler commented on #779
Also, @bluestix, which version of Titan are you suing? Newer versions should not allow primitive datatype definitions for this reason, however, it seems that this is the case here. Wonder how that is possible.

[2014-11-21 00:04] mbroecheler commented on #810
I copy-pasted your code and ran it against Titan 0.5.1 and it produced the right answer - the size of the iterable was 1.

[2014-11-21 00:04] #810 closed, assigned to mbroecheler

[2014-11-21 01:03] mjc- commented on #842
After thinking a bit more about this, shutdown() isn't solely called in the process of the ShutdownThread.  Catching the IllegalStateException is likely the right fix.

[2014-11-21 01:20] boliza commented on #810
Thanks I will test myself .I find that error,in titan 0.5.0

[2014-11-21 02:16] boliza commented on #810
@mbroecheler I run this test in 0.5.1(I build my selft).but the data has already create,but the size of this itreable was 2...

[2014-11-21 07:25] ghost commented on #779
titan-cassandra 0.5.0

[2014-11-21 08:33] mbroecheler commented on #810
That is strange. Something might be wrong with your setup. I literally
copied the code into a test case, changed "Vertex" to "TitanVertex" and got
the right result.

On Thu, Nov 20, 2014 at 6:16 PM, Ranger Tsao notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-11-21 08:50] dalaro commented on #842
I took the try-catch approach a while back in part of the test harness (https://github.com/thinkaurelius/titan/blob/titan05/titan-test/src/main/java/com/thinkaurelius/titan/DaemonRunner.java#L100).  It seems to work, but the stakes are much lower in there than in StandardTitanGraph.

A tidier approach might be to move all of the code except hook deregistration out of `shutdown` to a new method `sh

[2014-11-21 08:50] mbroecheler commented on #807
@dalaro This is probably due to schema information getting lost between iterations. We should remove any schema checking and only enforce it when writing data back into the graph.

[2014-11-21 09:35] BrynCooke commented on #779
Unbelievably I have actually seen this before.
You have Kryo 2.21 on your classpath.

The error can be replicated outside of Frames using the following code:

[code]

java.lang.IllegalArgumentException: Value [true] is not an instance of the expected data type for property key [test] and cannot be converted. Expected: boolean, found: class java.lang.Boolean

Simply remove your kryo dependency and

[2014-11-21 19:35] mbroecheler opened #843 "Allow query filters for batch operations"
Push down the filter to the store scanner.

[2014-11-21 19:40] #782 closed, assigned to mbroecheler

[2014-11-21 19:40] #783 closed, assigned to mbroecheler

[2014-11-21 20:31] dalaro commented on #842
I took the approach described in my last comment with 1c37382e35f9d0901ed67d26aace6c539d049c82, and I also made the `shutdown` method try-catch around hook removal.  An IAE during hook removal will be logged at `WARN`, but it won't be propagated up the stack.

[2014-11-21 20:31] #842 closed, assigned to dalaro

[2014-11-21 20:32] dalaro commented on #841
Added in b9aca3273a0b6b0ea716932ff4111af074d9ba1f.  This is a trivial change on the Titan side, but it's also untested.

[2014-11-21 20:32] #841 closed, assigned to dalaro

[2014-11-21 20:39] dalaro commented on #807
This is reproducible on 0.5.1-hadoop2, but it does not occur on titan05 as of this morning.  This might have been fixed as part of #786.

Since this is working currently on titan05, I added a test that would break if this regresses in 856a84ee55aa106d29db3d6ade540b7ca627dd57.

[2014-11-21 20:39] #807 closed, assigned to dalaro

[2014-11-21 21:01] dalaro commented on #788
Thanks for the test case.  I'm going to describe what I saw.  Maybe we can compare notes.

When fetching edges LESS_THAN the timestamp, Titan finds three hits in Lucene.  Two are expected hits, and the third a third "ghost" document that should have been deleted between tests.  The ghost doesn't appear in TermQuery results and can't be deleted by its indexed docid Term, but it does still appear in

[2014-11-23 00:18] #839 closed, assigned to mbroecheler

[2014-11-23 20:45] #679 closed, assigned to mbroecheler

[2014-11-23 20:52] dalaro commented on #621
This requires more information than can be cleanly passed in through Titan's API, so it will probably require some consideration.  Titan has `orderBy("geoPropKeyName", ASC)`, but this distance sort predicate needs additional info: at a minimum, the point around which to search.  It would also potentially be useful to expose ES's `sort_mode` geo-order parameter through the API (http://www.elasticse

[2014-11-24 02:04] dalaro commented on #822
This has been added to titan05 and works much like it did back in Faunus 0.4; it overrides the default value of the FileOutputFormat output path property for the final job in a chain when set.  Also added a test.

[2014-11-24 02:04] #822 closed, assigned to dalaro

[2014-11-24 08:01] sebastiaansamyn-tc commented on #783
thx!

[2014-11-24 08:57] xedin commented on #808
@mbroecheler I've pushed changes to issue_808 branch (referenced in the issue). Basically only after reading actual code I was able to figure out that wildcard query that we were using "_:_" with filter sub-query converts to ConstantScoreQuery which sets all of the results of the query to score of 1.0f, so I've changed the code to set conditions to "?q=" instead, which actually computes the score,

[2014-11-24 10:34] philmes commented on #821
Just for clarity as I see this issue was reference from #828 - this problem is about Kryo itself conflicting, not it's dependencies. Scalding (and a bunch of other Twitter Hadoop libraries) depend on an older version of Kryo which isn't binary compatible with the version Titan uses.

[2014-11-24 11:14] philmes opened #844 "Titan 0.5.2 snapshot doesn't work on Hadoop 2"
Attempting to test out #807 using a snapshot build of Titan 0.5.2 (commit SHA 34002ea0af81bd8723d390a694ac763e0cda9c53) results in the following exception when running a simple Hadoop job from the gremlin console:

[code]

This is evidently a Guava compatibility issue, but Interesting this only explodes when I run it against a remote Hadoop cluster. Running locally works.

[2014-11-24 11:36] philmes commented on #844
This is the classpath for the remote execution:

[code]

[2014-11-24 11:55] philmes commented on #844
Some more rummaging suggests that this issue is because Hadoop itself depends on Guava. The suggestion is (surprise!) to shade the Guava dependency: https://groups.google.com/a/cloudera.org/forum/#!topic/cdh-user/d5_HqUSvVl4

[2014-11-24 13:21] dalaro opened #845 "Guava 11 compatibility/shading for Hadoop clusters"
#844 showed how using Guava API elements newer than 11 can blow up on a Hadoop cluster.

We could go back to the MapReduce job-jar approach, where we copy every class in Titan's dependency tree (and Titan) to a fat jar, then shade the whole thing, and call `Job.setJar` on that instead of using the distributed cache.  It's inflexible and wasteful of space, but it will work even if Hadoop forces Gua

[2014-11-24 13:22] rsteppac commented on #788
I have never used the Lucene API myself. But looking at your test and and the API documentation and some posts on blog.mikemccandless.com my understanding is the same as yours, i.e. the test should return the updated document after the second commit. The NRT readers are specifically promoted for the purpose of immediate visibility. You should not even have to commit the writer. I tried with your t

[2014-11-24 13:27] dalaro commented on #844
Thanks for reporting this.  I was able to reproduce it on a 2.2.0 pseudo-distributed cluster by running `g.V().map` out of a Cassandra graph.

The cause is a2149cec1d2d9b52b1bad596ef8cb1accdd2f3db, which introduced that immutableEnumMap call.  I changed that to an `ImmutableMaps.copyOf` call (6205f7fa29b9faacd785285112c972b59deda13d).  This particular NoSuchMethodError is no longer thrown and the

[2014-11-24 13:27] #844 closed, assigned to dalaro

[2014-11-24 14:21] philmes opened #846 "Issue generating unique instance id during Hadoop job run (0.5.x)"
When running a Hadoop job against a Cassandra backed Titan graph, I occasionally get this exception:

[code]

My cluster has 5 workers, with each capable of running 10 simultaneous Yarn processes. These exception only happen a few times during a run, and the job does actually complete due to Hadoops retry mechanism.

[2014-11-24 14:23] philmes commented on #846
My job configuration looks like this:

[code]

[2014-11-24 16:37] protheusfr commented on #11
Good news, I will try it.

[2014-11-24 20:13] mbroecheler commented on #846
@philmes By default, there can only be one Titan graph instance per jvm. This is important to ensure that the id allocation process does not conflict with other instances. There is some automatic conflict resolution logic in Titan that does not seem to apply in your case. We will try to figure out why.

[2014-11-25 06:45] javajpn opened #847 "Defining image type as SerialBlob in the Titan Graph node throws java.lang.IllegalArgumentException?"
I am using Titan graph database and cassandra as a storage back end. One of my requirement is need to save avatar image into cassandra back end over titan Graph.

I have defined data type for Image as SerialBlob in the following Node. //Subscriber node

 public interface Subscriber extends VertexFrame {

[code]

 }
While committing titanGraph I am getting below Exception:

[error] play - Cannot in

[2014-11-25 21:21] okram opened #848 "Create TitanXXXInputFormat extends InputFormat<NullWritable,VertexWritable>"
With Hadoop-Gremlin now in master/ and nearly fully re-written, it is very easy for Titan to interact with Hadoop -- both OLTP or OLAP.  If Titan can provide a `TitanXXXInputFormat` then we will be able to read data out of Titan and into GiraphGraphComputer, OLTP iterators, and (in the future), MapReduceGraphComputer.

Titan simply needs to "pop off" `VertexWritable` objects which are pretty basic

[2014-11-25 22:19] dalaro commented on #848
I pulled TP3 master and looked at the builtin formats that extend `<NullWritable,VertexWritable>`.  I see that GraphSONInputFormat, for instance, still emits TinkerVertex instances wrapped in VertexWritable.  Since Titan's IF already emits TinkerVertex too, I think the immediate changes on the Titan side will be straightforward.  I'll take a crack at it.

[2014-11-26 00:37] skavulya commented on #817
Thanks Dan! I'll try it out and see if it fixes the issue.

[2014-11-26 03:26] dalaro commented on #848
37b3a45a2fe440c1aa2c845ae1f0fb49c5ce0ef8 and 24fe518569bb08299be62bd4d862243edc1472f7 refactored titan09's titan-hadoop to account for the TP3 changes.  The new approach in TP3 has substantially simplified the Titan side.

Coincidentally, I ran into trouble trying to execute a MapReduce on GiraphGraphComputer  without at least one VertexProgram.  The `memory` field on GiraphGraphComputer is null i

[2014-11-26 03:26] dalaro opened #849 "Investigate some bulk load issues on TP3 + titan09 snapshots"
Concurrent with #848, I tested a Cassandra bulk load of grateful-dead-vertices.gio into Titan using BulkLoaderVertexProgram on 37b3a45a2fe440c1aa2c845ae1f0fb49c5ce0ef8 and tinkerpop/tinkerpop3@7a79fc1b531d2871dffcaf241de712bbfb116efe (still manually defining schema like we did in previous tests).  It mostly worked.  After the load, I connected with TitanFactory.open and the vertex and edge counts

[2014-11-26 12:37] okram commented on #848
Great! Yes, the Hadoop refactoring to go with the newly created `VertexWritable` and a consistent `<NullWritable,VertexWritable>` format was the trick.

In terms of a `null` memory field in `GiraphGraphComputer` when there is no `VertexProgram` --- I just realized it when I ran the `GiraphGraphComputer` integration tests:

[code]

I accidentally introduced this in my refactoring yesterday and did

[2014-11-26 12:58] okram commented on #849
Dan -- `(TitanGraph).V().map()` is bad Gremlin3. That will definately throw an NPE. You really want `g.V().valueMap()`. Map is a function from S->E and if you don't provide a closure, then its a null pointer.

[2014-11-26 13:39] dalaro commented on #849
Oops.  Thanks for pointing that out!  Old habits die hard...

[2014-11-26 13:39] dalaro commented on #848
Thanks for fixing that so quickly.  I stashed my workarounds, pulled, rebuilt, and reran BulkDumpMapReduce.  The fix looks good.

[2014-11-26 13:45] #848 closed, assigned to dalaro

[2014-11-26 13:48] dalaro commented on #848
These names might change, but as of a036dc600658e2adb9884bc6bd184d34bb75ac5e, the `<NullWritable, VertexWritable>` formats are:
- com.thinkaurelius.titan.hadoop.formats.cassandra.CassandraInputFormat
- com.thinkaurelius.titan.hadoop.formats.hbase.HBaseInputFormat

[2014-11-26 21:57] skavulya commented on #787
I see the following errors in Titan 0.5.2 when I try to configure ids.num-partitions or ids.placement. Are my settings for ids.num-partitions being ignored, or is this a harmless exception? Thanks.

From com.thinkaurelius.titan.diskstorage.configuration.BasicConfiguration in ForkJoinPool-1-worker-29 Ignored configuration entry for ids.num-partitions since it does not map to an option
java.lang.Ill

[2014-11-26 21:58] skavulya commented on #817
I tested it on Titan 0.5.2. The fix works. Thanks!

[2014-11-26 21:58] #817 closed, assigned to dalaro

[2014-11-26 22:06] dalaro commented on #787
That's strange.  I think you're seeing a separate issue @skavulya.  The original issue reported by @skiefer involved Hadoop1Compiler generating vestigial config keys with numeric suffixes, e.g. ids.num-partitions-0, ids.num-partitions-1, etc.  I don't see any numeric suffix on the config key in your comment -- this problem is not necessarily harmless and looks pretty concerning.  Would you please

[2014-11-26 22:07] dalaro commented on #817
Thanks for following up.

[2014-11-26 23:37] skavulya commented on #787
I managed to reproduce the issue. I'll open a new issue.

[2014-11-26 23:53] skavulya opened #850 "Unknown configuration element in namespace when reflective config option loader disabled"
Some configuration options in the IDs namespace are not recognized when the reflective config option loader is disabled.

I tried disabling the reflective config loader because I was trying to figure out why vertex writes were significantly slower in Titan 0.5.1 and Titan 0.5.2 in my system when compared to Titan 0.5.0. I don't think the reflective config loader is the reason for the slowdown in m

[2014-11-27 05:12] p-lewis commented on #790
Hi, I'm seeing the same thing with titan 0.5.2. My output is below:

[code]

I've got a vagrant virtualbox setup I can push somewhere if that would be helpful in debugging.

[2014-11-27 05:27] bcajes opened #851 ""IllegalArgumentException: Vertex id..." thrown when setting property on a FaunusVertex with an ID < 0"
Negative long IDs seem valid when constructing a FaunusVertex, but the following exception is thrown when setproperty is called in this example:

(new FaunusVertex(new ModifiableHadoopConfiguration(), -10)).setProperty("foo", "baz")
java.lang.IllegalArgumentException: Vertex id %d [-10]
        at com.google.common.base.Preconditions.checkArgument(Preconditions.java:148)
        at com.thinkaureli

[2014-11-28 04:03] dalaro commented on #850
Hi @skavulya.  Here's some background.

Titan's config system relies on numerous `ConfigOption` and `ConfigNamespace` instances defined as static fields on classes throughout the codebase.  The `ConfigNamespace`s form a tree with `ConfigOption` at the leaves.  When Titan reads a string config key, it walks the tree from the root, looking for the corresponding `ConfigOption` instance, then uses the

[2014-11-28 04:03] #850 closed, assigned to dalaro

[2014-11-28 20:27] skavulya commented on #850
Thanks for the clarification!

[2014-11-29 18:00] dkuppitz opened #853 "Timestamp conversion issues"
If you use timestamps created by Titan (see http://s3.thinkaurelius.com/docs/titan/0.5.2/titan-config-ref.html#_storage_meta) in a query, e.g.

[code]

...then all you get is an exception:

[code]

I'm not sure whether the property name is indeed `$timestamp`, the client who reported the bug used a String constant in the original query, I just took the property name from the stacktrace.

[2014-12-01 02:58] mbroecheler opened #854 "Upgrade Guava"
to current version. Remove usage of StopWatch

[2014-12-01 03:29] mbroecheler opened #855 "TitanGraphComputer Status"
A TitanGraphComputer can run for a fairly long time against a large graph and it runs asynchronously in the background. As such, a user might wonder what is going on and whether the computer is still running, whether it failed and what its status is. This is particularly true when the user is connected with Titan through the server.

To provide the user with information on a running computer job,

[2014-12-01 03:32] mbroecheler opened #856 "Finer grained control over which properties a VertexProgram or MapReduce job retrieves"
for a particular TitanGraphComputer. Currently, all properties are retrieved. Some VertexPrograms don't need any in which case this is a waste. In other instances, only a particular property might be needed.

So, the 3 options should be:
1) All properties (default)
2) No properties
3) One particular property key

[2014-12-01 04:00] mbroecheler opened #857 "Notion of "chunks" in ScanJob"
Introduce "startChunk()" and "endChunk()" in ScanJob and VertexScanJob similar to VertexProgram#workerIterationStart/End to mark the beginning and end of a logical unit of work.

In the job implementations, move the transaction start/commit into those respective methods so that the length of the transaction can be better controlled.
In FulgoraGraphComputer call the respective VertexProgram methods

[2014-12-01 04:13] mbroecheler opened #858 "Allow custom tx options on a per ScanJob basis?"
Currently, a ScanJob (any OLAP job or the FulgoraGraphComputer) takes the transaction options from the global graph configuration.
So, if we want to disable transactions in BDB for better performance of such jobs, we would do so in the configuration provided when opening the graph.

However, if the graph is not just used to execute OLAP jobs, then having those settings affect the entire graph (eve

[2014-12-01 04:43] mbroecheler opened #859 "Consolidate "count" in TitanVertexQuery"
reconcile the different variants. Should "count()" just be for relations? How to count all edges on a vertex then? Where and how much is this currently used?

[2014-12-01 14:42] okram opened #860 "Titan should remove "poor man's hyper edges" in 0.9.0."
While this is a nice idea, the problem I see is during bulk dumping and then re-loading. Correct me if I'm wrong, but we will not be able to get the ID's correct as there are no edges to the vertex with the "hyper-referenced" vertex.

[2014-12-01 14:48] okram commented on #860
Also, I'm seeing that this is breaking Rexster.. I suspect similar problems will emerge in TP3 GremlinServer, I/O, and of course, OLAP.

[2014-12-01 14:51] okram commented on #857
We will probably be introducing "workerIterationStart/End()" to TP3 MapReduce as well. Just a heads up so you don't code yourself in hole.

[2014-12-01 17:38] mbroecheler commented on #860
The current plan is to drop them for 1.0. The reason I don't want to drop them for 0.9 is that this would create an incompatibility to 0.5.

[2014-12-01 18:01] dalaro commented on #854
We should probably shade Titan's copy of Guava.  Some of Titan's dependencies may still be incompatible with versions later than 15.0, since Guava periodically removes deprecated API bits.  Titan's own classes can use the latest version regardless (as long as we shade).

[2014-12-01 18:06] mbroecheler commented on #851
Negative ids should not be supported and we don't plan to support them for compatibility with Titan.

[2014-12-01 18:06] #851 closed, assigned to nobody

[2014-12-02 01:46] boliza commented on #854
Shade Guava would be a good choice.

[2014-12-02 02:16] mbroecheler opened #861 "Remove FulgoraGraphComputer Hacks"
1) VertexProgramScanJob#getQueries - no more special treatment for TraversalVertexProgram after
https://github.com/tinkerpop/tinkerpop3/issues/383 is fixed

2) Only persist the keys the VertexProgram specifies to be returned after https://github.com/tinkerpop/tinkerpop3/issues/373 is fixed. Remove current hack that tries to determine which keys should be persisted.

[2014-12-02 02:51] mbroecheler opened #862 "Detaching vertices in Fulgora computer"
For sideEffects, retain/except or when a user adds vertices to a list in a sideEffect, Fulgora should replace such vertex with a detached vertex to conserve memory.

It might also makes sense to simply not allow certain types of sideEffects that require setting a vertex for this reason since they cannot be retrieved after the fact.

[2014-12-02 02:56] mbroecheler opened #863 "Remove oldfulgora package and contents"
also remove associated unit tests. This should all be GraphComputer from now on.

[2014-12-02 20:57] mbroecheler opened #864 "Consistent naming for Berkeley"
sometimes referred to as berkeleyje (shorthand) and sometimes berkeleydb (conf files).

[2014-12-03 00:36] mbroecheler opened #865 "One (Vertex)ScanJob, VertexProgram, MapReduce per thread"
in FulgoraGraphComputer and StandardScannerExecutor to be truthful to parallel execution semantic.

[2014-12-03 11:17] angelcervera opened #866 "Error executing example queries."
When I try to execute the example about indexes: https://github.com/thinkaurelius/titan/wiki/Indexing-Backend-Overview throws an exception:
g.query().has("age",GREATER_THAN_EQUAL,1000).has("age",LESS_THAN,5000).orderBy("age",Order.ASC).vertices()

==>javax.script.ScriptException: groovy.lang.MissingPropertyException: No such property: GREATER_THAN_EQUAL for class: Script10

The same for Order and

[2014-12-03 23:36] mbroecheler commented on #866
If you are running this through the gremlin-groovy adapter, try T.gte and
T.lt instead.

On Wed, Dec 3, 2014 at 3:17 AM, Ángel Cervera Claudio <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-12-03 23:40] mbroecheler commented on #847
The image would be stored as a binary array.

On Mon, Nov 24, 2014 at 10:45 PM, javajpn notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2014-12-03 23:52] mbroecheler opened #867 "Remove Index limitation from documentation"

[2014-12-04 00:18] mbroecheler opened #868 "hasNot for inmemory graph"
I noticed that hasNot(String, Object) probably doesn't work properly with "inmemory" graph.
I expect that if a given vertex _doesn't_ have a particular property, if passes the hasNot(propertyKey, value) check.
It works so with TinkerPop toy graph (and also Titan with Cassandra):

gremlin> g = TinkerGraphFactory.createTinkerGraph()
==>tinkergraph[vertices:6 edges:6]
gremlin> g.V.hasNot("abcd", true

[2014-12-04 03:41] javajpn commented on #847
@ mbroecheler Thanks for your response.. First I stored image as binary array. But time taken to store  image was inconsistent. For saving same image one time took  more than 1 min & another time took only 2 secs. That is why I am looking for  saving image as Blob, but that could not happen. Size of that image file I tried is 1.3 MB. Please correct me if I have done anything wrong

[2014-12-04 06:51] angelcervera commented on #866
Where I can found documentation about this?

[2014-12-04 08:32] angelcervera opened #869 "Imports in the conf/rexster-cassandra.xml and conf/rexster-cassandra-es.xml are ignored"
Test:

gremlin> xx = mgmt.makeEdgeLabel('xx').multiplicity(MANY2ONE).make()
==>javax.script.ScriptException: groovy.lang.MissingPropertyException: No such property: MANY2ONE for class: Script2

gremlin> xx = mgmt.makeEdgeLabel('xx').multiplicity(Multiplicity.MANY2ONE).make()
==>javax.script.ScriptException: groovy.lang.MissingPropertyException: No such property: Multiplicity for class: Script1

gr

[2014-12-04 11:22] mglusiuk commented on #809
@dkuppitz is this setting available in faunus/titan 0.4.4?

[2014-12-04 12:55] dkuppitz commented on #809
No, it was changed in 0.5.2. Previous versions use the hard limit of 10 MB.

[2014-12-04 13:07] mglusiuk commented on #809
Any suggestion how can I deal with this problem in 0.4.4?

[2014-12-04 13:32] spmallette opened #871 "Inconsistent Transactional Scopes for Traversal"
Certain traversals seem to execute within different scopes.  This causes problems for Gremlin Server, but also might yield some weirdness for folks in other contexts.  You can recreate the issue from the console pretty easily.  The following sets up the graph:

[code]

That all works nicely, but if i do a `g.tx().rollback()` my `Traversal` is invalidated:

[code]

Seems strange that one `Traversal

[2014-12-04 14:20] dkuppitz commented on #809
When I faced this problem in 0.4.4 I wasn't able to find a work-around. Ultimately I changed the [hard limit](https://github.com/thinkaurelius/titan/blob/0.4.4/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/database/serialize/kryo/KryoSerializer.java#L37) and recompiled Faunus.

[2014-12-05 14:50] okram opened #872 "Documentation bugs."
http://s3.thinkaurelius.com/docs/titan/0.9.0-M1/arch-overview.html
http://s3.thinkaurelius.com/docs/titan/0.9.0-M1/getting-started.html (Gremlin2)
http://s3.thinkaurelius.com/docs/titan/0.9.0-M1/gremlin.html (Gremlin2)

...there is alot more Gremlin than just the titanbasics.txt. It would be good for Titan guys to go through each line one by one and make sure its all right -- with appropriate link

[2014-12-05 22:21] mbbeaubi commented on #821
I'd just like to chime in and vote for this as well. If not possible to shade, would it be possible to downgrade titan to kryo 2.21? That's the version that twitter chill uses, which is in turn used by spark, storm, and cascading. None of these can work with titan until this issue gets resolved.

[2014-12-08 13:58] phani1kumar opened #873 "org.apache.maven.plugins.enforcer.DependencyConvergence failed Titan 0.9.0-M1"
Tried to build the Titan repo from 0.9.0-M1 tag, `mvn clean install -DskipTests=true` works on the /titan root directory. But when tried to generate the distribution in the /titan/titan-dist, the mvn command fails with DependencyConvergence issue:

PS: for building the distribution, I modified the dependencies in `/titan/titan-dist/pom.xml` a bit as follows:

[code]

Following was the issue during

[2014-12-09 14:55] phani1kumar commented on #873
I can see that this is a known thing, and hence only it was commented out these modules inclusion in the titan 0.9.

[2014-12-09 14:55] #873 closed, assigned to nobody

[2014-12-10 04:17] nipadadbhawala opened #875 "Tinkerpop 2.6.0 with Neo4j 2.1.5"
Hi,

I was looking at the pom for Neo4j implementation file and my observation is that it depends on neo4j version 2.0.1 community edition. What I am looking is to use the enterprise edition of Neo4j and potentially the latest version such as 2.1.5 or 2.1.6. Have you certified Tinkerpop 2.6 to work with any other version of Neo4j?

From the Neo4J documentation here

http://neo4j.com/docs/2.1.4/tut

[2014-12-10 05:41] dalaro commented on #875
Does this issue involve Titan?

[2014-12-10 05:52] dalaro commented on #869
What version is this?  On titan05 HEAD (0.5.3-SNAPSHOT), Multiplicity resolves but its enum values do not:

[code]

[code]

The problem description doesn't completely make sense to me.  The import lists in in conf/rexster-cassandra.xml and conf/rexster-cassandra-es.xml apply only to Rexster.  `gremlin>` looks like the gremlin.sh prompt.  The conf files with rexster in their names have no bearing o

[2014-12-10 05:58] dalaro commented on #869
On the one hand, the redundancy of `multiplicity(Multiplicity.MANY2ONE)` is silly.  On the other hand, importing identifiers as basic as `SET`, `LIST`, and `SINGLE` with special schema meanings is an invitation to unintended aliasing in application code that uses the same identifiers by coincidence.  This is a lesser-evil choice...

[2014-12-10 06:20] dalaro commented on #828
This was fixed just before 0.9.0-M1 via 44632ff681fa2e95c2c0eaef9dc4d54ccb50196f.

[2014-12-10 06:20] #828 closed, assigned to dalaro

[2014-12-10 07:54] angelcervera commented on #869
I am using the last release, 5.0.2 and **Rexster Dog House Gremlin Shell**.

[2014-12-10 08:03] angelcervera opened #876 "Project maturity"
I started to use Titan in the last month (after test and use Neo4J and other blueprints implementations) and I find inconsistency between the documentation, strange behavior (for example, the behavior of cache inside transactions), problems trying to integrate with enterprise application (for example, a lot of dependencies requirements only to use the client), etc.

I think that it is a great proj

[2014-12-10 08:13] anvie commented on #876
I use Titan for production started a year ago, currently I have no big issue with the 0.5.x version, at least not yet.
Btw, I think you better ask question like this to the group: https://groups.google.com/forum/#!forum/aureliusgraphs

[2014-12-10 10:51] dalaro opened #877 "Remove ThreadLocals when no longer needed"
https://groups.google.com/d/msg/aureliusgraphs/2wXtxczww6Q/AmEJNXeNfE8J

The Kryo instance stored in a ThreadLocal should probably be removed during graph shutdown to prevent unintended reference retention.  Servlet containers in particular may reuse threads after Titan's done with them, and Tomcat appears extra clever about this, checking and warning when it finds ThreadLocals after a webapp shut

[2014-12-10 11:17] spmallette commented on #875
Clearly not a Titan question - answered here: https://github.com/tinkerpop/blueprints/issues/517

[2014-12-10 11:17] #875 closed, assigned to nobody

[2014-12-10 12:17] arnonyogev commented on #808
Will the fix be available for the 0.9 branch as well? Noticed that 0.9.0-M1 was released recently.

[2014-12-10 20:36] angelcervera commented on #876
Hi @anvie
Thanks t¡for the link.

[2014-12-11 06:09] mbroecheler opened #878 "Array comparison"
[code]

I suspect Titan does not use Arrays.equals. is this intentional?

[2014-12-11 06:11] mbroecheler opened #879 "Regex support in Lucene"

[2014-12-11 06:15] mbroecheler opened #880 "Index failures should not prohibit Titan from starting"
to update configuration options. However, since normal operation isn't possible with the index disconnected, it might make sense to only allow access to the management system?

[2014-12-11 06:24] dalaro opened #881 "Read schema using strong-consistency backend settings (Cassandra's QUORUM)"
Schema writes on Cassandra that take locks are already promoted to QUORUM regardless of the `write-consistency-level` in the config.  However, schema reads -- such as StandardTitanGraph.typeCacheRetrieval.retrieveSchemaByName, which looks up a type vertex given a string name -- use the `read-consistency-level` in the config.  Under certain circumstances, this could lead to Titan instances failing

[2014-12-11 07:04] boliza opened #882 "GraphQuery use Contain.IN Predicate"
my schema is:

[code]

the first query is:

[code]

the test passed,but when I add an condition like this:

[code]

get an exception:

[code]

[2014-12-11 19:20] mbroecheler commented on #880
An alternative would be to ensure that all "blocking" configuration options are LOCAL so that they can be overwritten. This applies to INDEX_HOSTNAME in particular.