[2014-12-11 19:23] mbroecheler commented on #882
Which version of Titan is this?

[2014-12-12 00:59] boliza commented on #882
@mbroecheler sorry I forget mark the titan version,I using tian 0.5.2

[2014-12-13 14:35] holub opened #887 "UUID has no default serializer"
Add default serializer for java.util.UUID class.

[2014-12-13 14:38] holub opened #888 "Failed to find cutom serializer"
titan 5.2: g.commit() ignore registered custom serializer that implements AttributeSerializer.

[2014-12-15 16:44] dalaro commented on #864
@mbroecheler do you have a preference?

Though I defer to your preference, I would go with berkeleyje in the absence of one:
- removes the potential for ambiguity between the pure-java "Java Edition" and the Java-language binding for the native edition
- it's slightly more common on aureliusgraphs, according to google search result count estimates for each term in double quotes:

[code]
- continui

[2014-12-15 16:50] danieljoppi opened #889 "DynamoDB: Storage Backend"
Some anything prevision off integration with DynamoDB?
Very difficult to create the connector?
I'm thinking of creating it if they have forecast? Any idea of a connector already created that can build me?

[2014-12-15 17:37] dalaro commented on #878
Aureliusgraphs posting that led to this issue: https://groups.google.com/d/topic/aureliusgraphs/cxeCd60yhD8/discussion

[2014-12-15 17:41] dalaro commented on #866
@angelcervera Here's the javadoc for `T` as of Gremlin 2.5.0: http://www.tinkerpop.com/docs/javadocs/gremlin/2.5.0/com/tinkerpop/gremlin/Tokens.T.html

[2014-12-15 17:43] dalaro commented on #866
@angelcervera What version are you using?  The documentation on the Github wiki is for 0.4.x (master branch).  You recently commented in #869 that you were using "5.0.2" which I assume meant 0.5.2.  The manual for 0.5.2 is here: http://s3.thinkaurelius.com/docs/titan/0.5.2/

[2014-12-15 17:57] crakjie opened #890 "Why null is grather than number?"
Hello,

I found this strang behavour with titan 0.5.2 in gremlin console.

`g.V.inE('a').has('created_at',T.gt,1816411120000).outV ( with vertex centric index )`
return vertex but all created_at are null or not set.

In other way
g.V.inE('a').has('created_at',T.lt,1816411120000).outV
return 0 vertex which is for me a more understandable result

[2014-12-15 19:24] mbroecheler commented on #889
@danieljoppi Have a look at the mailing list archive for a discussion of DynamoDB:
https://groups.google.com/forum/#!forum/aureliusgraphs

[2014-12-15 19:24] #889 closed, assigned to nobody

[2014-12-15 19:42] mbroecheler opened #891 "Better document different storage engine trade-offs"
with respect to consistency, locking, caching, etc

[2014-12-15 20:28] #876 closed, assigned to nobody

[2014-12-15 20:30] mbroecheler commented on #888
Do you have a test case that reproduces this?

[2014-12-15 20:36] mbroecheler commented on #847
I wouldn't recommend storing files of such large size in Titan as a property but rather in an external system with a pointer to it in Titan.

[2014-12-15 20:36] #847 closed, assigned to nobody

[2014-12-15 20:37] mbroecheler commented on #556
no fix

[2014-12-15 20:37] #556 closed, assigned to mbroecheler

[2014-12-15 20:50] dalaro commented on #879
Reenable Regex support in the Lucene backend; tests should be reactivated and begin failing. Implement to compliance with the test expectations.  Same tests should already run and pass on the ES backend.

[2014-12-15 21:06] dalaro commented on #790
@p-lewis this might be separate from @matthewbelisle-wf issue -- can't tell quite yet.

After running `sudo ./titan.sh -v start` and getting the timeout you pasted, what does `sudo bin/nodetool statusthrift` print?  Is it any different from what `bin/nodetool statusthrift` (i.e. same command but without sudo) prints under the same conditions?

`titan.sh` forks Cassandra, then goes into a loop wher

[2014-12-15 21:41] holub commented on #888
I have custom serializer for java.util.UUID which implements AttributeSerializer.
I can't promise but I'll try to create the simplest version of my code.

[2014-12-16 15:51] p-lewis commented on #790
After receiving the "timeout exceeded" message (as before):

[code]

[2014-12-16 17:08] dalaro commented on #790
I think that means nodetool successfully connected on Cassandra's JMX port (tcp/7199), but Cassandra hadn't finished starting up and opening its Thrift listen socket (or something like that).  The startup log you pasted for Cassandra also seems to end very abruptly... after all those "Initializing" lines, Cassandra should print something like this:

[code]

In what you pasted, Cassandra appears to

[2014-12-16 18:07] dalaro opened #892 "Throw an exception when an instance detects its own expired locks"
Expired locks are logged at `WARN` without respect to the graph instance ID that originally held the now-expired lock.

The code that warns about and drops these expired lock columns should check whether the instance ID matches the reader's own instance ID.  If the expired lock belongs to the running instance, this should propagate up to the user as an exception with a message specifically about l

[2014-12-16 18:33] dalaro commented on #846
@philmes Are the hostnames of the YARN workers `preference-graph-1`, `preference-graph-2`, ..., `preference-graph-5`?  Are any of the hostnames that connected to the graph prefixes of any other?

[2014-12-16 18:40] philmes commented on #846
@dalaro correct - three nodes run Cassandra and Yarn and have hostnames `preference-graph-{1/2/3}`. The other two nodes just run Yarn and have hostnames `preference-graph-worker-{1/2}`

[2014-12-16 19:13] dalaro commented on #840
@BrynCooke  Please have a look at http://s3.thinkaurelius.com/docs/titan/0.5.3-SNAPSHOT/elasticsearch.html#es-cfg-index-create.  I implemented this by adding a config prefix for arbitrary index creation settings, rather than adding a single Titan option specifically for number_of_replicas.

This is implemented as documented on the titan05 branch.  Unless there are problems, I'll cherry-pick this f

[2014-12-16 19:29] dalaro commented on #846
If none of the hostnames touching the graph are prefixes of any other, then I'm still puzzled.  I wonder if there's some YARN classloader behavior I don't know about.

Is there any pattern to the final token after the `-` in the exceptions?  The first digit in the token will be part of the hostname going from the hostnames in your last reply, but the subsequent numbers (and maybe letters if the co

[2014-12-16 19:32] mbroecheler opened #893 "removeProperty() doesn't work"
when cache-size is set to 0.

Reproducible in 0.5.2. The key is that cache.tx-cache-size must be 0 (for whatever reason you would do that) to see this effect.

**With cache.tx-cache-size set to default:**

[code]

**With cache.tx-cache-size set to 0:**

[code]

[2014-12-16 20:02] philmes commented on #846
I've got some free time tomorrow, so I'll try and reproduce with a debugger attached to some of the workers.

[2014-12-16 20:11] dalaro commented on #877
I think I'm going to make this behavior in KryoSerializer a binary option:
- use ThreadLocal and avoid synchronization but potentially leave threads with local state even after Titan shuts down (the old behavior)
- use a CHM and suffer synchronization overhead but leave thread state clean and avoid reference retention memory leaks under Tomcat and similar apps that want to reuse pooled threads for

[2014-12-17 07:52] dalaro commented on #866
I can't reproduce this problem in gremlin.sh or rexster-console.sh 0.5.2.

The 0.5.2 manual still contains the queries you found on the github wiki here:

http://s3.thinkaurelius.com/docs/titan/0.5.2/search-predicates.html

But all of the queries on that page evaluate in gremlin.sh and rexster-console.sh on 0.5.2, including the GREATER_THAN_EQUAL ones.

Did you download the rexster zipfile separat

[2014-12-17 07:52] #866 closed, assigned to dalaro

[2014-12-17 15:37] p-lewis commented on #790
With the official apache-cassandra-2.0.8.tar.gz, it seems to work as expected.

[code]

Running `bin/cassandra -f` from the titan distro gives different results.

[code]

And then it stops.

[2014-12-17 16:12] dalaro commented on #790
I had a 14.04 vagrant VM lying on disk from past work.  I just started it up and unpacked 0.5.2-h2; `bin/cassandra -f` worked as expected.  Same on my Debian 7 box.  I must be missing some critical piece of configuration or version information about the environments where it fails.

Can you push your Vagrant box?

[2014-12-17 17:50] p-lewis commented on #790
Here's my vagrant setup:

https://github.com/p-lewis/testvm-2014dec

Digging in a bit, I think I figured out what's going on. I had kept my titan directory in the 'shared' directory of the VM, shared between the host and VM. When I move titan out of the shared area to a directory fully in the VM's filesystem, titan.sh starts up fine and works normally.

Starting the upstream cassandra instance did

[2014-12-17 18:14] nik9000 opened #894 "ResultMergeSortIterator on more than two delegates"
I was just digging around the code to learn and noted that in `QueryProcessor` you wrap ResultMergeSortIterator in itself over and over again to sort multiple iterators.  I'm pretty sure that's inferior to converting the iterators to peeking iterators and dumping them in a priority queue sorted on the peek when you have more than a couple of iterators.  Maybe it doesn't matter.  Probably not.  I o

[2014-12-18 08:11] dalaro commented on #878
Tweaked Cmp.EQUAL to pass this test in 50c0998b2a8251779f01e547b8d6a9ca334ed9a4.  The test checks both 1D and 2D arrays.

One potential alternative way to do this: invoke `getClass().isArray()` once inside `has`, store that state somewhere in query object, and later use it to invoke one of two equality check methods -- one for objects, the other for arrays.  But I balked at implementing that, sinc

[2014-12-18 18:12] dalaro opened #895 "Consider KryoPool support in titan09"
The version of Kryo used by titan05 does not appear to include KryoPool.  It may be available in the later version (presently 2.24) used on titan09, in which case it might be a good candidate for a KryoInstanceCache implementation.

This issue assumes #877 gets closed and cherry-picked forward to titan09.

[2014-12-18 18:29] dalaro commented on #869
I made a couple of matter-of-taste changes:
- Multiplicity.\* and Cardinality.\* enum values (e.g. `SET` and `MANY2ONE`) will be imported by default in the gremlin.sh and rexster-console.sh shipped with Titan 0.5.3.  e91119524b87a2d87f4cf23066bbc0866634464e
- As I found them, the code examples in the docs used a mixture of unqualified enum values (e.g. MANY2ONE) and qualified ones (e.g. Multiplici

[2014-12-18 18:31] dalaro commented on #879
Added with test coverage.  This only covers `REGEX`.  We could open another issue for `CONTAINS_REGEX`, which is still unsupported in Lucene.

[2014-12-18 18:31] #879 closed, assigned to dalaro

[2014-12-18 18:31] #878 closed, assigned to dalaro

[2014-12-18 18:35] dalaro commented on #892
I changed ConsistentKeyLockerTest to expect an exception specifically of type `ExpiredLockException`, a subclass of `TemporaryLockingException`, when a held lock expires in 6ea5ebf8d0b13c025d08a4734037fb725d0e089c.

I changed ConsistentKeyLocker to match the new test expectations in 24f93bbdfff7b20a0e11bfd747813ba1a48111cb.

I'm going to leave this alone for day or two to let it fall out of my sho

[2014-12-18 18:40] dalaro commented on #877
KryoSerializer's approach to Kryo instance management is now configurable via `graph.kryo-instance-cache`.  It can be set to `THREAD_LOCAL` or `CONCURRENT_HASH_MAP`.  The default is `THREAD_LOCAL`, which is essentially just the old behavior, but now behind an interface that allows it to be swapped out for a ConcurrentHashMap when the other setting is provided.  Kryo has introduced their own approa

[2014-12-18 18:40] #877 closed, assigned to dalaro

[2014-12-19 01:58] mbroecheler opened #896 "Re-consider per vertex TTL"
See discussion at: https://groups.google.com/forum/#!topic/aureliusgraphs/jbVWrKtxoyE

[2014-12-19 02:26] mbroecheler commented on #895
That's nice. I didn't know KryoPool existed. Is that thread safe?

[2014-12-19 02:33] mbroecheler commented on #894
Thanks, we take a look. However, there are rarely more than a few iterators and in our performance profiling this hasn't bubbled up into the top 100 so it'll be a while before that becomes a focus of our attention ;-)

[2014-12-19 07:59] angelcervera commented on #869
@dalaro Sorry. I was fighting in other battles.

**Step to reproduce the error with version 0.5.2:**

**Server info:**
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:    14.04
Codename:   trust

**Java Version:**
java version "1.8.0_20"
Java(TM) SE Runtime Environment (build 1.8.0_20-b26)
Java HotSpot(TM) 64-Bit Server VM (build 25.20-b23, mixed mode)
All clean, only JDK. Nothin

[2014-12-19 11:02] dalaro commented on #790
Thanks for the follow-up.  I think you're right about the Vagrant `vboxsf` shared data filesystem.

I started a new Ubuntu 14.04 VM with `/vagrant_data` mounted and running `vboxsf`.  I unpacked titan-0.5.2-hadoop2.zip and apache-cassandra-2.0.8-bin.tar.gz inside `/vagrant_data`.  I edited apache-cassandra-2.0.8/conf/{cassandra.yaml,log4j-server.properties} to write within the `/vagrant_data` moin

[2014-12-19 11:02] #790 closed, assigned to dalaro

[2014-12-19 11:05] dalaro commented on #790
@kivo360 please feel free to create a new issue or reopen this one.  The root cause behind your original report is still unclear.  We may have just hijacked the issue to debug a separate root cause with an identical symptom.

[2014-12-19 11:26] dalaro commented on #811
@boliza Is this reproducible?

Cassandra's `tombstone_failure_threshold` is configurable, but I'm assuming it's at the default value of 100k.  Accumulating 100k tombstones on `system_properties` seems highly unusual.  I can't think of a natural use case that should do that specifically to `system_properties`.  TombstoneOverwhelmingException on `edgestore` does occasionally come up in busy ingest/m

[2014-12-19 12:14] dalaro commented on #869
@angelcervera Thanks for following up.

Replace `-Dmaven.test.skip=true` with `-DskipTests`.  The former prevents the test classes from compiling and packaging and ultimately leads to dependency resolution failures like the one you pasted.  The latter builds and packages the tests, allowing test deps to resolve (it just doesn't run them).

Your last reply shows this problem:

[code]

I think that'

[2014-12-19 15:06] crakjie opened #897 "Null pointer exception when doing getEdges"
vertex.getEdges(Direction.IN) give some time ( rarely )

[code]

[2014-12-19 15:31] boliza commented on #811
@dalaro I have many instance of my titan application.REST API,Vertex Persitence,Graph analysis.maybe Some of this instance config is not the same.When I upgrade to tian0.52,I have't see the exception anymore(I have not run the gemlin command again)

[2014-12-19 19:47] ghost opened #898 "Improved edge referential integrity"
Enhancement Request:

The request is to enhance the way that Titan handles Edge Label Multiplicity as described here: 5.1.1. Edge Label Multiplicity

This request can be summarized by the following use case:

I want to declare an edge with Label=update between two verticies with a multiplicity of MULTI, but I only want a single edge with an update label with the same timestamp between two verticie

[2014-12-19 20:27] angelcervera commented on #869
@dalaro Thanks you for your help.

Also errors with -DskipTests and checking that it is not resolved Multiplicity on 0.5.2

[INFO] Titan: Distributed Graph Database ................. SUCCESS [0.258s]
[INFO] Titan-Core: Core Library for Titan ................ SUCCESS [22.639s]
[INFO] Titan-Test: Test Suite for Titan .................. SUCCESS [0.311s]
[INFO] Titan-BerkeleyJE: Distributed Graph Data

[2014-12-19 21:25] dmarkwat commented on #743
I finally found this issue after a few hours of puzzling over my config changes in Titan; I was trying to change my index backend from local to Solr and then a variety of changes to the Titan-Solr config - each time, blowing away the database after giving up from simply restarting Titan.

But in the docs, [Titan 0.5.2](http://s3.thinkaurelius.com/docs/titan/0.5.2/configuration.html#configuration-g

[2014-12-19 21:32] dalaro commented on #743
@dmarkwat I thought the docs and the comment at the start of this issue seemed consistent.  Can you elaborate on the specific contradiction or misunderstanding?  Maybe we can expand the docs to address it better.

BTW, did you receive a warning like the following when invoking `TitanFactory.open` while struggling with config changes?

[code]

This sort of message -- albeit citing a different confi

[2014-12-19 22:14] dmarkwat commented on #743
I did see that line, yes - took a while but I did see it which led me to dig until I found this.

In summary I'm reading the docs as "GLOBAL_OFFLINE properties in the config file can be changed and will take effect once the cluster is completely turned off and comes online again" and I'm reading the quote from above as "once a GLOBAL_OFFLINE property is set and the Titan cluster is initialized, an

[2014-12-19 22:27] dalaro opened #899 "Emphasize in the docs that milestone releases are incompatible with regular releases"
Per @dkuppitz's suggestion

[2014-12-20 16:25] usov-andrey opened #900 "Wrong transaction managment"
First, sorry for my english. I very like this project, but i have one problem.

Every new thread create the new transaction and put it in TitanBlueprintsGraph.txs, TitanBlueprintsTransaction.openTx and StandardTitanGraph.openTransactions. If in that thread does not use graph.commit opened transactions will not close and still consume memory.

We have the memory leak. If u try to work with small ma

[2014-12-22 11:22] boliza commented on #811
@dalaro I use cassandra2.0.9,tombstone_failure_threshold is 100k.

[2014-12-22 16:53] dalaro commented on #900
If you want to avoid ThreadLocal, then use `TitanGraph.newTransaction`.  The program must still call `rollback` or `commit` on the objects returned by `newTransaction`.  In other words, if your app is already leaking open transactions somehow, then switching away from ThreadLocal is not necessarily going to fix the leak.

The `newTransaction` method is part of Blueprints (the `ThreadedTransactiona

[2014-12-22 17:00] dalaro commented on #897
Which version of Titan produces this exception?  Could you describe steps to reproduce this at least some of the time, assuming it's reproducible?

Guessing that this is 0.5.2, the trace suggests something like the serializer reading a relation with null multiplicity.

[2014-12-22 19:30] dalaro commented on #743
In response to your question: elasticsearch.

GLOBAL_OFFLINE options (of which `index.search.backend` is one example) can be changed through the `ManagementSystem` API.

Instead of shutting down Titan and modifying the local config file, do the following on a single Titan instance (any will do):

[code]

Then shutdown all Titan instances, including `g` from the snippet above.  When Titan is restar

[2014-12-22 19:33] dalaro commented on #877
1f6f9503c5a6120da4cba0dea8fbab6fb27624be is related to this issue.  The commit log says it's related to #840, but that's wrong.  It's related to this.

[2014-12-22 19:36] dalaro commented on #840
I just added a test for this (29491f362521e74f7459aec14c21682589e4050b).  The docs were done last week (ab8f6e5d97721b00c84b67c39d556ddc20d3c2dd).

Barring any objections or suggestions here, I think this is ready to close.  But I'll leave it open until 0.5.3 in case @BrynCooke or anybody else has feedback.

[2014-12-22 20:55] dalaro commented on #869
Thanks for following up.

I ran these commands on titan05 and again on 0.5.2:

[code]

and the build succeeded both times.  Do _not_ run `mvn clean install -DskipTests=true -Dmaven.test.skip=true`.

Almost everything about the command output in your last post seems strange to me.  For example: why does Maven's list of modules in the build reactor omit the hbase modules and the hadoop modules (have

[2014-12-22 21:55] BrynCooke commented on #840
Looks good to me. I'll not be able to test until the new year now though.
On 22 Dec 2014 19:36, "Dan LaRocque" notifications@github.com wrote:

[2014-12-23 09:10] crakjie commented on #897
Ok I look up a lot and I found how to reproduce it.

 mgmt.getEdgeLabel("labelName")

and g.getVertices.map( v => v.getEdges )

Will throw nul pointer exception when ( I think ) v get Edge without label.

It could be nice to have a real and explicit exception, no ?

[2014-12-23 14:05] dalaro commented on #811
Since I'm unsure how to reproduce this one, and since I don't currently see how it would happen on `system_properties` in typical use patterns, I'm going to close this.  But please reopen if it recurs or if you have more info about the last occurrence that could help us troubleshoot.

[2014-12-23 14:05] #811 closed, assigned to dalaro

[2014-12-23 15:49] dalaro commented on #882
Thanks for the detailed report, @boliza

I reproduced this titan05.  I've adapted this into a test case which I'll commit and push soon.  An external index is not required to produce this exception.

[2014-12-23 17:24] boliza commented on #882
@dalaro could Contain.IN effect using CompositeIndex?

[2014-12-23 17:26] boliza commented on #811
Thank for your work.

[2014-12-23 20:00] dalaro commented on #893
I spent some time stepping through the `h.removeProperty('name')` and `h.getProperty('name')` calls with a debugger.  I think I understand the problem.

Nutshell explanation: GuavaVertexCache evicts the hercules vertex before `cache.get` returns, and in particular, before `removeProperty` has a chance to dirty it.  The GVC eviction listener is responsible for copying dirty evicted vertices to a du

[2014-12-23 20:24] dalaro commented on #881
Schema vertex and relation reads now open a separate tx using the backend's strong-consistency settings (QUORUM r/w CL under Cassandra).  This is fixed, though test coverage on it is weak.

[2014-12-23 20:24] #881 closed, assigned to dalaro

[2014-12-23 20:25] dalaro commented on #840
Great, I'll close this for now.  Please reopen if you run into problems with it or have any related suggestions prior to 0.5.3.

[2014-12-23 20:25] #840 closed, assigned to dalaro

[2014-12-23 21:58] angelcervera commented on #869
Hi @dalaro

I said "checking that it is not resolved Multiplicity on 0.5.2" and "If I have time this weekend, I will try to compile the version 0.5.3-SNAPSHOT" So _my test was with version 0.5.2_
I explained all step to reproduce the error in previous post.

No, I did not modify anything. Only checkout and install. And only with -DskipTests=true. The list of commands to reproduce:

My version of m

[2014-12-24 10:15] dkuppitz opened #903 "gremlin.sh buggy in 0.5.2"
`gremlin.sh` in 0.5.2 ignores the `-e` and `-i` parameters. You can find a partially fixed version [here](https://gist.github.com/dkuppitz/b7c804ef71f0d8bd86ca). This version brings back the `-e` functionality, but still fails for `-i`. I'm not sure how to solve this one:

[code]

[2014-12-24 14:32] boliza opened #904 "a bug of titan-hadoop in titan0.5.2?"
I run a hadoop job using gremlin,find some exception:

[code]

 some map the job failed ,but the job SUCCEEDED.
I don't konw this is a bug or some bad data of my graph?

[2014-12-26 11:00] jaceklaskowski opened #905 "Use http://s3.thinkaurelius.com/docs/titan/current for documentation links in javadocs"
Javadoc should use http://s3.thinkaurelius.com/docs/titan/current to refer to documentation pages in `@see` annotations. It now uses https://github.com/thinkaurelius/titan/wiki.

From [com.thinkaurelius.titan.core.TitanFactory](https://github.com/thinkaurelius/titan/blob/titan05/titan-core/src/main/java/com/thinkaurelius/titan/core/TitanFactory.java#L57):

[code]

[2014-12-26 15:30] holub commented on #888
My vision of problem:
1. Graph has version 4.4
2. Switching to 5.2 we missed information about keyTypes
3. Trying to access the keyType we get Object
4. For Object we uses backup serializer (Kryo) which has no idea about our custom Type.

[2014-12-26 16:05] #888 closed, assigned to nobody

[2014-12-27 18:45] dalaro commented on #882
Deleted precondition following discussion with @mbroecheler in 4e38eca1540b4b42d2c722b8f063adda5c87f537.

[2014-12-27 18:45] #882 closed, assigned to dalaro

[2014-12-30 06:21] tomersagi commented on #854
+1 for this. This is causing issues downstream when embedding titan with projects using guava 18.

[2014-12-30 19:45] nik9000 opened #906 "has function behaves inconsistently"
I'm seeing inconsistent behavior on the `has` function:

[code]

I _think_ what is going on here is that the initial `has` evaluation uses an index which uses 'in' semantics for equals.  I imagine the second line works because of some duplicate condition logic.  I believe the third line fails because it can't use an index and so instead `has` is exact equals semantics.

This is going to be a pain

[2014-12-30 20:08] smalyshev commented on #906
Some more experiments on this:

[code]

But:

[code]

So looks like when using the optimizer, has() uses IN semantics on SET fields, but where it does PropertyFilterPipe, it uses EQUAL semantics.

[2014-12-30 20:10] smalyshev commented on #906
Just to be clear - P???link are SET fields :)

[2014-12-30 20:12] nik9000 commented on #906
My examples also only use the builtin indexing - @smalyshev has some indexing pushed to Elasticsearch.

[2014-12-30 20:16] nik9000 commented on #906
This is Titan 0.5.2 as well.

[2014-12-31 19:20] dalaro commented on #906
I tried the following script on 0.5.2 and titan05 (0.5.3-SNAPSHOT), but all the queries return the vertex, so I assume I've misunderstood the schema or the data.

[code]

Can you please modify this script or provide a different script to reflect the problem in your environment?  I'm still trying to get a handle on the issue.

[2014-12-31 19:40] nik9000 commented on #906
Sure!

[2014-12-31 20:05] nik9000 commented on #906
This sequence causes trouble:

[code]

but it doesn't match up with my original problem.  I'll keep digging to see if I can find that problem.

[2014-12-31 20:45] nik9000 commented on #906
It looks like

[code]

isn't actually throwing an exception because there are no results.  Its throwing an exception because it times out waiting for cassandra.

It looks like that query turns into this sequence of queries to cassandra:

[code]

And whenever I tried to debug it by injecting stuff between the has clauses I was getting the inconsistent behavior.

That first query is fast - 146 milli

[2014-12-31 23:12] smalyshev commented on #906
It looks like the timeout is the result of the fact that `has('P106link', 'Q6625963')` never matches in the last expression, since it uses "equals" semantics instead of "in" semantics and P106link is a SET field with multiple values, so it can never be equal to a single value. I'm still not sure why this would cause a timeout as opposed to just a very long query eventually finishing, but the diffe

[2015-01-03 15:22] 245987242 commented on #903
hi

[2015-01-04 09:41] christoperzeng opened #907 "A Bug of 0.5.2 ? use closed HConnection in HBaseStoreManager.ensureTableExists()"
line 1295 of GraphDatabaseConfiguration will call HBaseStoreManager.ensureTableExists()
the HBaseStoreManager.ensureTableExists() finally close the HBaseAdmin;
the HBaseStoreManager.cnx will be closed when close the HBaseAdmin;

line 1296 of GraphDatabaseConfiguration will call HBaseStoreManager.ensureTableExists() again,
this call will use the closed HConnection which cause problems:
the HConnect

[2015-01-04 09:50] christoperzeng commented on #907
the version of HBase i use is HBase 0.94.2

[2015-01-05 05:50] smalyshev opened #908 "Titan server 0.5.2 does not recover from backend failure"
I'm running Titan server 0.5.2 on top of Cassandra and if Cassandra goes down, I get exceptions like this:

[code]

(full text here: http://pastebin.com/1nMgZ6eN) and the connection never recovers. Worse yet, connecting to the server with rexster console starts to give this error on any query:

[code]

So far I have found no way to recover from it except shutting down the Titan server and restarti

[2015-01-05 12:08] spmallette commented on #908
Are you seeing this when explicitly using Titan Server (i.e. using `titan.sh`)?  I don't see this problem when running a cassandra instance and rexster instance separately.  I can kill cassandra, rexster will throw some errors if it tries to connect, then if i restart cassandra, rexster is happy to start working again. I did configure rexster to work with `storage.backend=cassandra` for what that

[2015-01-05 14:38] ghost opened #909 "Query translator bug - Solr"
Hey,
Per the mailing list discussion here (https://groups.google.com/forum/#!searchin/aureliusgraphs/solr|sort:relevance/aureliusgraphs/TOMZ7SyCUv4/jH46ErXCWUYJ) this issue is being opened to address unexpected behavior:
gremlin> g=TitanFactory.open('./solr.properties')
==>titangraph[cassandra:[1.23.456.789]]
gremlin> mgmt = g.getManagementSystem()
==>com.thinkaurelius.titan.graphdb.database.manag

[2015-01-05 17:52] dmarkwat commented on #743
Sorry for the delay on this!  Yes, that makes perfect sense and clears up the confusion.  Thanks very much for the information and assistance.

[2015-01-05 18:19] smalyshev commented on #908
@spmallette yes, this is using titan.sh and connecting via rexster-console.sh. I'm using storage.backend=cassandrathrift now but I can try with just cassandra. Restarting just the console does not help, the full server restart is the only thing that works for me.

[2015-01-05 18:23] spmallette commented on #908
i didn't expect the console restart to help fix the server.  i just meant that if the console gets into that state AND rexster recovers, you might need to restart the console.

[2015-01-05 18:44] smalyshev commented on #908
The problem is that rexster does not recover.Here is what happens when I tried it with storage.backend=cassandrathrift:

Here's a normal query that returns a result:

[code]

Here I restart cassandra:

[code]

Restart the connection:

[code]

Restart the console:

[code]

and this continues until I restart the server. After restart it works again:

[code]

[2015-01-05 18:52] spmallette commented on #908
I understand that Rexster isn't recovering for you and that is your primary problem - again, my side note about Rexster Console was just an observation.

Please try `cassandra` for your `storage.backend` setting as it works for me.  I get the same failure as you when i use `cassandrathrift`.  using `cassandra` will use the astyanax client, which must be more robust when it comes to failure.

[2015-01-05 18:59] smalyshev commented on #908
@spmallette Thanks, I will try the "cassandra" setting and report if it solves it.

[2015-01-05 19:13] smalyshev commented on #908
@spmallette  Looks like "cassandra" setting fixes the problem. Thanks!

[2015-01-05 19:16] spmallette commented on #908
good - i don't think this is actually a problem with Titan Server - it is just the nature of `cassandrathrift`.  As there is a workaround and i doubt there is actually a "fix" for this issue, i'm going to close this one.

[2015-01-05 19:16] #908 closed, assigned to nobody

[2015-01-05 19:49] smalyshev opened #910 "BatchGraph can't work with SET properties"
Not sure if this is the right place or it should go to Tinkerpop, but the issue is as follows:

Tinkerpop's BatchGraph has a wrapper around Vertex/Edge which allows only certain operations to be used when in batch mode. The problem is that addProperty is not one of them, and this is the only way to set values for SET properties. Since SET properties is a Titan's unique feature, I post it here.

Th

[2015-01-05 20:24] nik9000 commented on #908
Is it worth marking cassandrathrift as deprecated or just noting this somewhere in the docs?

[2015-01-05 20:28] spmallette commented on #908
i don't think it's "deprecated" as thrift still has its place in Titan usage.  perhaps we could update the docs with a note to say that "when using with Rexster configure with `cassandra` as oppose to `cassandrathrift` because...."

[2015-01-05 20:44] spmallette commented on #908
Note added to the docs on the `titan05` branch.

[2015-01-05 21:18] nik9000 opened #911 "Unclosed transactions escape gremlin scope"
I don't know if this is a Gremlin or Titan bug but I'll file it here.  Anyway, at least in 0.5.X, if you start a transaction but don't close it before quitting the server leaks memory.  This crashes Titan:

[code]

as does this:

[code]

This isn't really a show stopper bug but it is pretty dangerous.

[2015-01-05 21:45] spmallette commented on #911
This is an issue with Rexster. As you mentioned it's not a showstopper in the sense that you just need to be careful that you don't do things in your scripts that let that happen.

This issue was noted during TP3 development in the creation of Gremlin Server and has been rectified.  When a session with Gremlin Server is closed, the server does a rollback on graphs that support transactions, thus c

[2015-01-05 21:45] #911 closed, assigned to nobody

[2015-01-05 21:54] nik9000 commented on #911
I think you said that TP3/Titan 0.90 fixes the problem with hanging graph transactions but not hanging management transactions.  Is that right?

I think the hanging management transactions are pretty insidious.  I mean, when I first encountered this I didn't think that I was actually making any transaction because I was just calling `getManagementSystem().getGraphIndex("foo")` to check if the inde

[2015-01-05 22:13] spmallette commented on #911
that's right

Rexster (or Gremlin Server in TP3) can only operates on the Blueprints API (or Gremlin Structure API in TP3).  It has no knowledge of any APIs outside of that, so from a Rexster/Gremlin Server perspective, I don't have any way to close down the Titan management transaction because to Rexster/Gremlin Server, it's only dealing with the TinkerPop `Graph` interface.

There is the added p

[2015-01-05 22:22] nik9000 commented on #911
I suppose it'd be possible for gremlin server to expose a registry for transactions opened during the session that implement some simple api that ManagementSystem's transaction implements.  I haven't looked too closely into the code though.

I suppose I'm just concerned that its a bug that almost caused me to stop using Titan at all.  I only stuck with it because I know other people are successful

[2015-01-05 23:45] spmallette commented on #911
I'm not sure that it is has much to do with "hard".  It is more an issue of what TinkerPop looks to expose as a generalization for vendors to implement.  For example, TP3 specifically does not expose any indexing APIs because of the great disparity among the various vendor systems in how they are implemented.  TP3 also chooses not to get into the business of generalizing "schema"  mechanisms for t

[2015-01-06 03:23] bwlim opened #912 "offset() for Graph Centric query result and Vertex-Centric query result"
Is there any plan to support offset() using elasticsearch index for global graph-centric query(GraphCentricQueryBuilder) for search result pagination?
and how about supporting offset() for Vertex-Centric index query for Titan users to implement search result pagination efficiently?

Google Groups
https://groups.google.com/forum/?hl=ko#!topic/aureliusgraphs/UIx7UCX9hcs

[2015-01-06 11:01] levin-royl opened #913 "Tian not supporting multiple values per property like previous version or like TinkerGraph"
Hi,

I ran into some problems with Titan version 0.9.0.M1 and TinkerPop 3.0.0.M6 when trying to set vertex properties with multiple values.
I created the following test to show that TinkerGraph and TitanGraph behave differently with respect to this:

@Test
public void testTitanMultiValueVertexProperty() throws Exception {
        Graph[] graphs = new Graph[] {
                TinkerGraph.open(),

[2015-01-06 22:44] dalaro commented on #867
http://s3.thinkaurelius.com/docs/titan/0.5.3-SNAPSHOT/limitations.html#_unable_to_drop_indices

[2015-01-06 22:46] #900 closed, assigned to dalaro

[2015-01-06 22:48] mbroecheler commented on #910
Yes, this is a current limitation that will be addressed by Tinkerpop3.

[2015-01-06 22:48] #910 closed, assigned to nobody

[2015-01-06 23:15] dalaro commented on #906
@smalyshev I think I see what you mean.  Is the following script representative of the problem you observed involving `filter{true}`?

[code]

The script prints this:

[code]

The pipeline with `filter{true}` includes a likely-problematic `PropertyFilterPipe(P106link,EQUAL,Q36180)`, like you mentioned.  This pipe does not appear in the pipeline produced by the preceding version of the query that l

[2015-01-07 05:57] dalaro commented on #904
I edited the stacktrace in your original report.  The trace has newlines and indentation now instead of being strung out on one very long line.  The content should be identical aside from whitespace changes.

I can't seem to reproduce this.  I induced a this failure in a job by changing `TitanHadoopSetupImpl`'s constructor:

[code]

Then I compiled and tried reading the Graph of the Gods from Cass

[2015-01-07 06:57] dalaro commented on #867
@mbroecheler This issue would make sense to me on the 0.9.0 milestone, since titan09 already has index removal scanjobs implemented and documented.  I don't see how this applies to 0.5.3.  Did we backport index removal to titan05?  I'm looking through the tree, but I don't see it.

[2015-01-07 10:53] dalaro commented on #808
I merged this into titan05 a while back via ea126c7edb1a5092d48c1fe96093f1b6a8eb5a5c.  It was included (barely) in 0.5.2.  This has also been cherry-picked into titan09 as 8c4cb727599bf9ee2811020ce6714c3f8dece52d, which was part of 0.9.0-M1.  Apologies for not updating the issue sooner.

[2015-01-07 10:53] #808 closed, assigned to dalaro

[2015-01-07 12:30] dalaro commented on #907
Those GraphDatabaseConfiguration line numbers seem inconsistent with 0.5.2.  Here's GraphDatabaseConfiguration @ 0.5.2:

https://github.com/thinkaurelius/titan/blob/0.5.2/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/configuration/GraphDatabaseConfiguration.java#L1295-L1296

1296 assigns the `null` literal to a field.  I don't see how that could possibly call `ensureTableExists`.

Is it

[2015-01-07 12:45] dalaro commented on #903
The diff of your gremlin.sh against the current gremlin.sh appears to exactly revert 018827a538979a93c0b1cd9b4de240e72a235f72.  In that commit, I broke `-e`.  Reverting does fix it, but it also introduces a regression on the problem that commit tried to fix: invoking, say `bin/gremlin.sh -l INFO path/to/script.groovy` dies with `Gremlin initialization file not found at [-l]`.

I think we can fix b

[2015-01-07 12:45] #903 closed, assigned to dalaro

[2015-01-07 12:47] dalaro commented on #905
Thanks.   In addition to the instance you found, grep turned up some other similar wiki links in different javadoc comments.  I think I got them all in da15f294ed693e30409e76d8f88e27d7aa257c41.

[2015-01-07 12:47] #905 closed, assigned to dalaro

[2015-01-07 12:55] dalaro commented on #869
This error:

[code]

occurs when building titan05 with JDK 8.  titan09 builds with JDK8, but titan05 only builds cleanly with JDK7 at the moment.

This build error is important -- it would be useful for titan05 to compile cleanly to a 1.7 target using JDK8 -- but I think it is orthogonal to the import problems at the root of this particular issue.  I also think those import issues are going to be

[2015-01-07 12:55] #869 closed, assigned to dalaro

[2015-01-07 23:18] smalyshev opened #914 "TitanBlueprintsGraph not releasing transactions?"
It looks like TitanBlueprintsGraph class does not release transactions it puts into openTx map.

I was porting data import code from Titan 0.5.2 to 0.9 and I've encountered OutOfMemory errors. Looking into the memory dump, I've discovered 16 StandardTitanTx objects held by ConcurrentHashMap in StandardTitanGraph object. I suspect those are transactions in openTx map in TitanBlueprintsGraph:

https

[2015-01-07 23:22] smalyshev commented on #906
@dalaro yes, this seems to be correct representation. I think it should not be Cassandra-specific, since the main problem seems to be handling of SET properties, not timeouts.

[2015-01-08 01:17] dalaro commented on #914
I agree with your analysis on 0.9.0-M1.  This looks like an unintended reference retention bug in 0.9.0-M1.

I checked titan05 for the same issue.  I think that titan05 is unaffected.  TitanBlueprintsGraph's 0.5.3-SNAPSHOT counterpart removes a thread-bound transaction from the openTx map when the transaction either
- commits: https://github.com/thinkaurelius/titan/blob/titan05/titan-core/src/main

[2015-01-08 07:07] dalaro opened #915 "Refactor GuavaVertexCache for safe dirty reference handling"
#893 was closed with a workaround.  The underlying issue still remains, although a fairly pathological configuration seems to be necessary to trigger it.

[2015-01-08 07:08] dalaro commented on #893
Related commits: a3ea0e5c3cc566984f652619f71b0e058d716909 and af784bd93ef4cbcd8356bd2a255dbcaa2bc4d2a2

As a workaround, I put a minimum of 100 on the effective `cache.tx-cache-size` when the transaction is not read-only.  The assumption behind this workaround is that 100 will be substantially larger than the level of thread parallelism acting on any one transaction.  Read-only transactions are no

[2015-01-08 07:08] #893 closed, assigned to dalaro

[2015-01-08 07:09] dalaro commented on #915
To recap #893, the point of this issue is to ensure that dirty vertices are not "lost" from the vertex cache by getting evicted before a thread with a reference to said vertex has had a chance to write to it.

[2015-01-08 09:38] dalaro commented on #892
Gave this another proofread.  Closing.

[2015-01-08 09:38] #892 closed, assigned to dalaro

[2015-01-08 14:19] asaf opened #916 "Full scan with OR for a key that is indexed via composite index"
Hey,

I have a composite index for key FOO
if I search for 'FOO='x'' Titan uses the index just fine,
But a query such:

`g.V().has('FOO', T.in, ['x', 'y'])` causes a full scan with the message:

`
Query requires iterating over all vertices [((FOO = x OR FOO = y))]. For better performance, use indexes
`

Why?

Thanks.

[2015-01-08 14:49] boliza commented on #916
In this case I think you should create mixed index on field FOO.

[2015-01-08 15:38] jbmusso commented on #916
Which version of Titan do you use? This could be the same issue as this one: https://github.com/thinkaurelius/titan/issues/679

[2015-01-08 15:55] asaf commented on #916
0.5.0, i'll try with 0.5.2 and close the issue if it's solved.

Thanks!

[2015-01-08 19:24] mbroecheler commented on #868
This also should not have worked for the Cassandra backend unless the key ('abcd') was defined there.

[2015-01-08 19:31] mbroecheler commented on #909
Can you retry this against Titan 0.5.2. This should have been fixed in that release.

[2015-01-08 20:33] mbroecheler opened #917 "Consider not writing vertex-centric index entries when a sort key is not present on edge"
In other words, only write the vertex centric index entry, when the edge has all of the properties (i.e. non-null values) for the keys in the sort key of the index. That would ensure that there are never null-value entries in the index which would allow us to remove the additional fitted-check in BasicVertexCentricQueryBuilder.constructSliceQueries on lines 551 and following.

That check is curren

[2015-01-08 20:57] mbroecheler commented on #906
The `filter{true}` aborts the query rewriting because Gremlin cannot inspect the filter condition. Hence, the first part of the query (up to filter) is rewritten as an index lookup but the has condition following the filter step is executed as a PropertyFilterPipe which cannot handle SET properties (it does getProperty(key) which returns a set and checks for equality which is false).

This script

[2015-01-08 20:57] #853 closed, assigned to mbroecheler

[2015-01-08 20:57] #868 closed, assigned to mbroecheler

[2015-01-08 20:57] #880 closed, assigned to mbroecheler

[2015-01-08 20:57] #890 closed, assigned to mbroecheler

[2015-01-09 02:31] christoperzeng commented on #907
Sorry, it's my fault. they are line 1259 and 1260
https://github.com/thinkaurelius/titan/blob/0.5.2/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/configuration/GraphDatabaseConfiguration.java#L1259-L1260

[2015-01-09 02:37] christoperzeng commented on #907
and it will close HBaseStoreManager.cnx at
https://github.com/thinkaurelius/titan/blob/0.5.2/titan-hbase-parent/titan-hbase-core/src/main/java/com/thinkaurelius/titan/diskstorage/hbase/HBaseStoreManager.java#L755-L757

[2015-01-09 05:05] smalyshev opened #918 "Duplicate properties after singleProperty call in Titan 0.9"
I create a vertex with this code:

[code]

Then I do this:

[code]

As you can see, I have now two properties named contentHash - even though I specifically asked to make it a single property. It also leads to this unpleasant effect:

[code]

I.e. despite me always using `singleProperty`, I can not use `property()` reliably. The duplicates disappear after the commit, but committing after each prop

[2015-01-09 14:16] vitordouzi commented on #787
I try something like this using titan-core 0.5.2 . When I try to open a titan using cassandra and elasticsearch, but, when I call TitanFactory.open("ini.properties") same problems occurs, like:

[code]

using as "ini.properties" file:

[code]

in #787, @dalaro say: "These INFO messages and ensuing exception traces are noisy but harmless. [...]"

As you can see, I try use three elasticsearchs in sa

[2015-01-09 19:53] dkuppitz opened #919 "Typo in index parameter docs"
The [index parameter docs](http://s3.thinkaurelius.com/docs/titan/0.9.0-M1/index-parameters.html) make use of `.getParameter()`, which should be `.asParameter()` since version 0.9.

[2015-01-09 19:59] dkuppitz opened #920 "Make use of _all in ES queries"
ES has the virtual field `_all`, which allows you to search for any term in every field. Usually you would create an aggregate field in Titan, which is a pain, since you always have to keep it in sync with other fields. It would be great if we could do something like  `g.indexQuery("index-name", "_all:foo").vertices()`.

http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/mapping

[2015-01-09 20:58] spmallette opened #921 "Traversal and Transaction - Titan 0.9M1"
Reported here in the mailing list:

https://groups.google.com/d/msg/aureliusgraphs/JgMlZsuXhgg/slJF-qrpngMJ

but something i discovered a while back on my own and discussed with @dalaro - not sure that we came to a solution or if this is fixed.  i figured i would create an issue to prevent forgetting about it again.

it's pretty easy to recreate the problem:

[code]

all works as expected - it can

[2015-01-09 21:36] spmallette commented on #921
I've been able to recreate the problem in the regular Gremlin Console:

[code]

Basically, the transaction closes but isn't auto-reopened for some reason.  Note that is behavior is different from 0.5.x which works perfectly:

[code]

I assume that we want this working like 0.5.x and that I don't need to adjust Gremlin Server at all.  Please let me know if there is some different opinion on that.

[2015-01-09 23:12] dkuppitz commented on #853
:+1:

**Before:**

[code]

**After:**

[code]

In both cases the following line was added to `titan-cassandra-es.properties`:

[code]

[2015-01-10 00:21] rjbriody opened #922 "Gremlin extensions not loaded when gremlin.sh is run from directory other than dist root"
Observed in titan-console-0.9.0-M1.

Extensions are loaded when gremlin.sh is started from the dist root:

[code]

...but when gremlin is started from anywhere else the extensions are not loaded

[code]

I have verified that the $DIR and $CLASSPATH vars in gemlin.sh look correct.

[2015-01-10 14:33] spmallette commented on #921
I've added a test to TP3 in the commit above to enforce the expected operation.

[2015-01-12 22:50] kevinschumacher commented on #506
This has been closed for a long time, but I just want +1 @munkyboy's solution --  I also had to set sniff to false when running Titan 0.4.4 (built from source, tag 0.4.4) in Rexster 2.4.0 when connecting to ElasticSearch 0.90.13 on another server.

[2015-01-13 06:14] xedin commented on #909
@mbroecheler Pull is at https://github.com/thinkaurelius/titan/pull/923, I have also added a test to make sure that we cover this everywhere.

[2015-01-13 17:31] spmallette opened #924 "Ellipse shows in Console for 15 items"
I saw this in 0.5.2, but @dalaro confirmed that it was in 0.5.3:

[code]

Unsure if there are other list sizes that pop in the ellipse or not.

[2015-01-13 17:34] spmallette opened #925 "Vertex Query Graph Filter in Titan Hadoop Has No Effect"
This feature:

http://s3.thinkaurelius.com/docs/titan/0.5.3/hadoop-vertex-query-graph-filters.html

which i used heavily in 0.3.x is no longer available as of 0.4x, per mr. @dalaro

I suppose that means either adding the feature back or simply cleaning up references to the documentation that says it is still around.

[2015-01-14 17:07] rjbriody opened #926 "Consider highlighting Mapping.TEXTSTRING in docs"
`Mapping.TEXTSTRING` seems like a big win for Elasticsearch. It might be helpful to highlight this feature in  "Chapter 22. Elasticsearch" and "Chapter 20. Index Parameters and Full-Text Search". This is especially true for Chapter 20, where the documentation presents string vs full-text search as a "choose only one" decision.

[2015-01-14 18:59] armisael opened #927 "Mapping a name with colons (:) to external index breaks indexQuery"
As stated by the [lucene syntax query](http://lucene.apache.org/core/4_1_0/queryparser/org/apache/lucene/queryparser/classic/package-summary.html), property names must be escaped on the following characters: `+ - && || ! ( ) { } [ ] ^ " ~ * ? : \ /`.

However, property names are not properly escaped when using `indexQuery` on a mixed index with a `mapped-name` containing (for example) a colon.

An

[2015-01-15 01:05] mbroecheler commented on #927
Have you tried putting the name in quotation marks so that Titan keeps it together?

[2015-01-15 01:43] boliza opened #928 "Why this exception"
[code]

I use vertex id to load vertex,when get the unique property ,throw this exception

[2015-01-15 03:21] boliza commented on #928
more infomation
I use titan0.5.2,using titan in OSGI.

[2015-01-15 04:27] dkuppitz commented on #927
From the ML:

[2015-01-15 04:55] mbroecheler commented on #927
Ah, yeah, that won't work.

On Wed, Jan 14, 2015 at 8:27 PM, Daniel Kuppitz notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2015-01-15 16:44] kevinisaac commented on #229
I faced this issue now. I can write to the database normally but when I open the graph in the gremlin console like this : `g = TitanFactory.open("/location/to/db")`, I cannot update properties of a vertex until Titan is restarted.

[2015-01-15 23:07] rjbriody opened #929 "titan.properties on classpath results in startup failure."
Seen in 0.9.M1

Having a titan.properties on the classpath causes a failure on startup.

[code]

The problem is that an ImmutableMap is returned and passed on the following line:

[code]

...then registerShorthands calls put on the Immutable Map

[code]

...which results in the `UnsupportedOperationException`.

Taking a step back, I wonder if auto-loading titan.properties is actually useful (but I

[2015-01-16 10:53] dalaro commented on #909
thanks @xedin, I merged #923 into titan05

[2015-01-16 10:53] #909 closed, assigned to xedin

[2015-01-16 21:09] smalyshev opened #930 "Non-existing method in the documentation for Unidirected Edges"
In chapter 25.4 in the docs here: http://s3.thinkaurelius.com/docs/titan/0.9.0-M1/advanced-schema.html#_unidirected_edges

the code example is:

[code]

However, if you try to run this code, you discover that it produces an exception:

[code]

This is because Edge objects don't seem to have singleProperty(), only property().

[2015-01-16 22:11] dalaro opened #931 "AbstractVertex.setProperty issuing avoidable reads on unindexed Card.SINGLE propkeys"
[code]

The trace line numbers are slightly different on 0.5.0 and titan05 (0.5.4-SNAPSHOT as of this writing), but the behavior appears to be the same on both versions.  Setting a breakpoint in the backend implementation's getSlice will trip when `setProperty` invokes `removeProperty` on a preexisting (i.e. non-new) vertex.  In the particular case of a Cardinality.SINGLE pkey with no indices, I t

[2015-01-16 22:44] mikeiannacone commented on #834
I'm having what I suspect is the same issue.

Is there any update on this?

I saw the message you referred to - is there an issue created on another project that addresses this?

[2015-01-19 17:30] dkuppitz opened #932 "Existence lookups (null or not null) using mixed index"
Currently Titan doesn't use a mixed index for null-checks.

[code]

However, it's possible using a direct index query:

[code]

I guess the same query syntax could be used for `.has("property")`. `.hasNot("property")` seems to be trickier, I haven't found a solution for it yet.

[2015-01-19 18:14] mbroecheler opened #933 "Allow user customization of Lucene Field Analyzer"
From Roy:
There is no way that I know of to configure Lucene non-programmatically.
In the code itself I suppose somewhere in Titan you have:
            indexWriter = new IndexWriter(indexDirectory, new IndexWriterConfig(version, new TheAnalyzer(version)));
It would be possible to allow users to provide the name of the default PerFieldAnalyzer to use in some config file and then in the code use re

[2015-01-19 18:16] mbroecheler commented on #930
Yes, it should be `property('author',user)` - thanks

[2015-01-19 19:21] levin-royl commented on #933
P.S., similarly when querying (doing the search) the same Analyzer must be instantiated and used.

[2015-01-19 20:05] spmallette commented on #834
@mikeiannacone i'm not sure an issue was opened in Rexster for this because the OP didn't provide any additional information.  i'm pretty sure I did improve the error messaging as I stated in the mailing list post, but I'm not sure that there was much more investigation.

[2015-01-19 23:30] boliza commented on #763
@mbroecheler this issue should close,it seems the same with #933

[2015-01-19 23:30] #763 closed, assigned to mbroecheler

[2015-01-20 13:21] JPMoresmau commented on #932
As an implementation note, it seems that on an elasticsearch index `_exists_:v.age` is faster than `v.age:*`.

[2015-01-20 14:33] JPMoresmau opened #934 "Support indexQuery return objects via Rexster"
Hello,

Via the Rexster client I think invoking an indexQuery works:

[code]

However, the resulting list contains String objects only, that look like:

[code]

So it looks like the query is correctly executed on the server, but a `toString()` is done on the result objects, instead of serializing properly at least the vertices.

Thanks!

[2015-01-20 14:41] JPMoresmau opened #935 "Send back proper error messages"
It seems that when using Rexster, a lot of error messages are swallowed and it's impossible to understand what's going on.
I had two concrete cases:
- `Exception during FilterChain execution java.lang.ClassCastException: com.tinkerpop.rexster.protocol.msg.ErrorResponseMessage cannot be cast to org.glassfish.grizzly.asyncqueue.WritableMessage at org.glassfish.grizzly.nio.transport.TCPNIOTransportFi

[2015-01-20 15:23] isaki commented on #854
+1 for this.

Is it possible to get an ETA for this or a targeted release version?

[2015-01-20 20:49] mikeiannacone commented on #834
hm.  Around what time frame would that have been?  I'm still seeing  `java.io.IOException: Message received response timeoutConnection (3600000 s)` during my travis-ci tests.  (I bumped the timeout to match the 1h above.)  I'm seeing around 6-8 instances of this message in under 15 minutes of total test run time, so presumably this message is not correct in this case.  (eg. builds 39 and 41 here:

[2015-01-21 16:40] spmallette commented on #934
Rexster doesn't have a way to serialize Titan specific classes - it deals in some general commodities that likely apply to all graphs (e.g. Vertex, Edge, etc).

You will want to amend the script you send to rexster to include a way to iterate the return values to something it understands:

[code]

The above is the Java way - a groovy approach might be:

[code]

or if it won't go to `Pipeline` with

[2015-01-21 16:40] #934 closed, assigned to nobody

[2015-01-21 16:44] spmallette commented on #935
Sorry if some of the errors are hard to decipher - whenever I think I have them working nice a new one pops up that isn't.  As this is is not a Titan issue, but related to Rexster, I will close this here.  Please feel free to migrate it to the Rexster project so that it can be addressed in the right place: https://github.com/tinkerpop/rexster/issues  Thanks.

[2015-01-21 16:44] #935 closed, assigned to nobody

[2015-01-21 16:50] spmallette commented on #834
hmmm - looks like it was part of Rexster 2.6.0:

https://github.com/tinkerpop/rexster/commit/831a87c3174112ad60c20f38ede7504059fa0bbd

which Titan 0.5.x doesn't officially support.  i've heard tell of people doing it though without problem...we just haven't officially tested such things.

[2015-01-21 17:26] dkuppitz commented on #934
This should work:

[code]

[2015-01-21 17:41] #916 closed, assigned to nobody

[2015-01-21 17:44] mbroecheler commented on #928
This indicates that the vertex has been deleted.

[2015-01-21 17:57] mbroecheler commented on #843
Duplicate of #925

[2015-01-21 17:57] #843 closed, assigned to nobody

[2015-01-21 18:02] mbroecheler commented on #895
Actually, I think we should get rid of Kryo altogether since TP3 now uses it.

[2015-01-21 18:48] mbroecheler commented on #921
This has been fixed as the TP test case now passes.

[2015-01-21 18:48] #921 closed, assigned to nobody

[2015-01-21 18:50] #777 closed, assigned to nobody

[2015-01-21 18:51] mbroecheler commented on #821
We decided to remove the (direct) dependency on Kryo for 0.9. This will make it incompatible with previous releases but also make life much easier moving forward in terms of upgrade and data compatibility.

[2015-01-21 19:02] #713 closed, assigned to mbroecheler

[2015-01-21 19:11] mbroecheler commented on #871
Duplicate of #921

[2015-01-21 19:11] #871 closed, assigned to dalaro

[2015-01-21 19:12] #895 closed, assigned to dalaro

[2015-01-21 19:15] dalaro commented on #709
discussed with @mbroecheler, it's best to close and reopen ManagementSystem often; it does cache, and it should not be held open longer than necessary to avoid obstructing tx-closure-dependent ops

[2015-01-21 19:16] mbroecheler commented on #575
This is implemented as part of TP3 g.V(id1,id2,...)

[2015-01-21 19:16] #575 closed, assigned to mbroecheler

[2015-01-21 19:26] curtisallen commented on #821
@mbroecheler are you referring to previous releases of titan or kryo?

[2015-01-21 19:33] mbbeaubi commented on #821
Wow, I was just working merging the changes in my custom titan branch where I've shaded kryo with the most recent changes you've made in titan05.

Any idea when kryo will be out of .9 so I can start using it?

BTW, the kryo shading solution was working well for me, been using my patched titan for about a month now.

[2015-01-21 19:47] mikeiannacone commented on #834
Nice, thanks!  I'll try that soon.

However, after that, it looks like there's still some Titan issue remaining, which is causing the null `resultMessage` which is being checked for in the updated Rexster code.  (Unless I'm off here - I'm not an expert on titan/rexster internals by any means.)  Any idea how I can start digging into that issue?

I've seen it when using the cassandra and in-memory b

[2015-01-22 01:23] boliza commented on #928
I'am confused , Some of the exception vertex id ,can load by rexster ,some vertex has not the unique property.

[2015-01-22 11:19] spmallette commented on #834
I think you have to try to recreate this problem off of travis.  We battle with travis all the time when it comes to "integration style" tests (so much so that we have gotten very particular about what tests are executed there - at least for tinkerpop).  The environment is quite unpredictable.

[2015-01-22 11:36] levin-royl commented on #913
Hi,

Just to provide some context, we have finished migrating from Titan 0.5.2 to 0.9.0.M1.
As our graph is already created with multiple values per some properties (e.g. email) we now cannot import the data into 0.9.0.M1 until this is resolved.

Is this feature planned for 0.9.0.M1 as well?

Thanks,
Roy.

[2015-01-22 15:55] dkuppitz opened #937 "Conversion issue when trying to set a long value on an edge"
Trying to set a `Long` on an edge fails when you're using the setting:

[code]

Check out the [sample code](https://github.com/dkuppitz/titan-sandbox/tree/simon) that reproduces the issue.

[2015-01-22 16:11] dkuppitz commented on #937
Same problem occurs when you try to remove a property with a `Long` value.

[2015-01-22 20:16] mbroecheler commented on #937
Is that on 0.5.3 @dkuppitz ? Can you post the stack trace please?

[2015-01-22 20:44] dkuppitz commented on #937
[It is](https://github.com/dkuppitz/titan-sandbox/blob/simon/pom.xml#L15). The [stacktrace](https://github.com/dkuppitz/titan-sandbox/commit/7146d60b5c5d92fbc1818b9cbe1ba959d37fee94) for `setProperty()`:

[code]

...and for `removeProperty()`:

[code]

[2015-01-22 23:31] mbroecheler commented on #937
Oh, this is a good one ;-)

[2015-01-23 02:07] mbroecheler commented on #931
Short story: Do `tx = graph.buildTransaction().consistencyChecks(false).start()` when opening the transaction to avoid the read for now.

Long story: There is a bit of weirdness here. Without the above configure Titan will prematurely read the old property state in order to be able to apply for a lock. However, if locking is disabled for this particular property, then that's sort of in vain.

[2015-01-23 03:35] rossabaker commented on #931
Will that workaround have any impact on the integrity of a unique index?  That also triggers a read.

[2015-01-23 03:41] dalaro commented on #931
@rossabaker yes, the workaround is only safe on transactions that don't actually needs locks.  We're working on modifying Titan to detect when it's safe to forego this read, which should obviate the `consistencyChecks(false)` call (that's not intended to be the long-term solution).

I'm going to follow up with some more detail in our separate thread about this.

[2015-01-23 04:34] dalaro commented on #867
I think this was removed on titan09 a long time ago via dae0a97f33211968619429f66ed4708f81496404

[2015-01-23 08:30] JPMoresmau commented on #935
OK, done https://github.com/tinkerpop/rexster/issues/381

[2015-01-23 08:41] JPMoresmau commented on #934
@spmallette , I had no luck with your suggestions, but @dkuppitz 's worked!! Thanks to you both. @dkuppitz , I got back a Map<String,Object> instead of a Vertex, but I can work with that!

[2015-01-23 11:55] spmallette commented on #934
oops - i left something out of my second one:

[code]

...didn't return `l`.  i didn't think to use the spread operator like @dkuppitz did - that's smart - looks much nicer.  glad this workaround is good for you.

[2015-01-23 18:37] dalaro commented on #922
Opened TP3 PR:

https://github.com/tinkerpop/tinkerpop3/pull/513

[2015-01-23 19:31] dalaro commented on #709
I added a pair of utility classes for this:
- GraphIndexStatusWatcher
- RelationIndexStatusWatcher

To make their use in the shell a bit more concise, I also added public static ManagmentSystem methods:
- ManagementSystem.awaitGraphIndexStatus
- ManagementSystem.awaitRelationIndexStatus

An example invocation from the docs:

[code]

There are setters for controlling the target status (defaults to

[2015-01-23 19:31] #709 closed, assigned to dalaro

[2015-01-23 19:35] dalaro commented on #864
I think d343091d610c7392aa2a57bc814de488420f5548 converted all of the important uses of "berkeleydb" to "berkeleyje".  There are still some bits of prose in the docs that refer to "BerkeleyDB" without the "Java Edition" qualifier, but file paths and classnames should be converted.

I looked for instances of "berkeleydb" with these commands executed from the root:
- `find -iname '*berkeleydb*'`
- `

[2015-01-23 19:35] #864 closed, assigned to dalaro

[2015-01-23 19:36] dalaro commented on #919
I updated the AsciiDoc source on the titan09 branch.  I haven't redeployed the 0.9.0-M1 docs.

[2015-01-23 19:36] #919 closed, assigned to dalaro

[2015-01-23 19:38] dalaro commented on #899
I rewrote the upgrading instructions for 0.9.0-M1:
- b5db54673010c4b3cfe4566484b50f4ec6d628bb (edit docs/upgrade.txt)
- 8d5f50cefca0d20892cc6621c5b53cd463a4a2f8 (copy docs/upgrade.txt to $ROOT/UPGRADE.asc)

[2015-01-23 19:38] #899 closed, assigned to dalaro

[2015-01-23 19:39] #867 closed, assigned to dalaro

[2015-01-23 23:58] mikeiannacone commented on #834
Hm.  I switched the tests over to tinkergraph, to try to avoid this issue, but ran into the same problem on travis.

I also tried to create a VM environment similar to travis, but can't reproduce the issue there.  I'll probably play around with that environment some more and see what I come up with.  (My VM is missing a lot of their default-installed services, so I plan to add those when I come ba

[2015-01-24 00:31] dalaro commented on #772
Back when we switched from TP2 to TP3, I disabled titan-dist as a matter of triage, since removing Faunus and adding the new plugin system meant we had to make some major changes there.   I recently remade titan-dist on titan09 in the following commits:
- 7193e97bf70ab7ebbfcd55e1f279ac577fdfbaeb
- eada6263cdc0352336c6ffb3e1001177d26bb082
- 3b10ffa08c970ac83844541fc436fc62aaa05a24

As part of that

[2015-01-24 00:31] #772 closed, assigned to dalaro

[2015-01-24 00:34] mbroecheler opened #938 "Add no-check consistency modifier"
Currently, Titan will check if adding an edge or setting a property will violate a consistency constraint. That requires issuing a query which has performance implications. In some cases you just want to replace whatever is there without such a check. For this, we should have the NO_CHECK consistency modifier.

[2015-01-24 00:37] dalaro commented on #929
Thanks for the report.  I think this involved two separate problems:
- When I made the maps of shorthand->classname immutable, I didn't account for the code in the trace, which attempts to put custom entries from `titan.properties` into those maps
- `titan.properties` is a collision-prone name; it's too likely that a user will name their config file `titan.properties` to make assumptions about its

[2015-01-24 00:37] #929 closed, assigned to dalaro

[2015-01-24 00:57] mbroecheler opened #939 "Use internal getVertex call in RelationIdentifier"
which is more efficient.

[2015-01-26 02:34] #931 closed, assigned to mbroecheler

[2015-01-26 02:34] #937 closed, assigned to mbroecheler

[2015-01-26 02:34] #939 closed, assigned to mbroecheler

[2015-01-26 20:21] spmallette commented on #834
As this issue seems to be be reproducible with TinkerGraph, it doesn't sound as though it is a Titan issue.    @mikeiannacone if you get any closer to reproducing this outside of travis, please create an issue in Rexster for the discussion to continue there.

[2015-01-26 21:01] dalaro opened #940 "Fix sign-assembly plugin ordering in poms"
In 0.5.3, the gpg:sign goal executes before the assembly:single goal, resulting in zipfiles without signatures.  Reorder the plugin config declarations s.t. gpg:sign executes after assembly:single.

[2015-01-26 21:40] dalaro opened #941 "Hadoop read failure on edge property"
This reproduces in two separate shell invocations.

First `gremlin.sh` invocation uses OLTP to load GotG:

[code]

Next `gremlin.sh` uses OLAP to count vertices.   It dies in FaunusSchemaManager.

[code]

Here's the exception:

[code]

Running these two snippets in the same shell does not produce a failure.

Reproduced on titan05 HEAD 69b0788d86422d6e50555e1830b46639137e305c.

[2015-01-26 21:50] dalaro commented on #941
@dkuppitz points out that this can also be reproduced without restarting the shell:

[code]

[2015-01-27 09:40] skiefer opened #945 "AssertionError in LongSerializer.read with "storage.meta.edgestore.timestamps" set to "true""
If "storage.meta.edgestore.timestamps" is set to "true", I get the following Exception:

[code]

 when calling the following code:

[code]

while this code is working without any problems:

[code]

The query seems only to be failing if the graph contains one "statement" edge pointing to the vertex. It there is an edge which is starting from the vertex the AssertionError does not occur.
The Problem

[2015-01-27 22:23] makoConstruct opened #946 "Future plans for more sophisticated vertex-centric indexing?"
For instance
- ~~Indexes with secondary sort fields~~*
- Indexes applying to properties of the nodes, rather than the edges pointing at them(important for checking whether known nodes are connected or disconnecting them). For nodes of types A and B on either side of an edge type E, There are four kinds of indexes a user might want to maintain. B accessible from A through incident Es, E accessible

[2015-01-28 22:16] BrynCooke commented on #574
These methods could be added to Geoshape:

[code]

One potential issue is that geoJSON doesn't support circles. So what do we do if we are trying to serialize one of these? I would not be keen on an approximation via polygon as accuracy requirements may not be known.

There is a proposal for circles in V 1.1 of the spec
https://github.com/geojson/geojson-spec/wiki/Proposal---Circles-and-Ellipses-G

[2015-01-29 00:05] BrynCooke commented on #574
Actually the extra methods are an awful idea. Marshalling belongs in type handlers in gson or the equivalent in Jackson.

[2015-01-29 05:17] nik9000 opened #947 "Upgrade jackson2 to 2.3.0 to match tinkerpop 3.0.0M7"
Looks like tinkerpop 3.0.0M7 wants jackson2 and blows up when registering the titan plugin without it.

[2015-01-29 10:05] rsteppac commented on #788
Could you please advise on the status of this ticket? Does asigining the ticket to "consideration" mean it won't be resolved any time soon?

[2015-01-29 15:37] mbroecheler commented on #574
@BrynCooke Exactly, you can extend the TypeHandler to look at strings and detect the encoding, then try to parse.

[2015-01-29 15:39] mbroecheler commented on #788
We were able to reproduce this in Lucene natively and now are a little bit stumped as to how to resolve this, hence the tag.

[2015-01-29 18:11] thomascramer opened #949 "Inconsistent Counts using "cassandra" or "astyanax""
I'm getting inconsistent counts when connecting titan to a cassandra cluster using the "storage.backend" to "cassandra" or "astyanax" though "cassandrathrift" seems to work just fine (I've created a mailing list topic to this effect https://groups.google.com/forum/#!topic/aureliusgraphs/2pnIGr32XTg).  It seems more prevalent when starting to do a 5,000 or 6,000 data set.

When connecting via greml

[2015-01-30 00:20] kbrumer opened #950 "PartitionGraphStrategy and Indexing in Titan-0.9.0-M1"
It appears the PartitionGraphStrategy is not respecting indices. The following gremlin script exposes the behavior I'm seeing - calling the same exact query on the partition wrapped graph does not use an index and gives us a warning.

[code]

[2015-01-30 12:25] BrynCooke opened #953 "Trying to serialise a Geoshape as GraphSON give an odd error message."
Titan 0.9

I know this isn't supported currently but the error message could be better.

[code]

The bean property writer is just going through all the get methods on geoshape.

[2015-01-30 15:33] BrynCooke commented on #568
As far as I can tell this is supported (0.9-M1)
You can do something like

[code]

You need to make sure you use a mixed index

[code]

Please open if you still think there is an issue.

[2015-01-30 15:33] #568 closed, assigned to BrynCooke

[2015-01-30 15:39] BrynCooke opened #954 "Add support for writing out Geoshape as GeoJSON in GraphSON"
Once https://github.com/thinkaurelius/titan/pull/952 is merged then we can consume GeoJSON in GraphSON, so it would be nice to have round trip support.

I think this just involves overriding

[code]

And adding a serializer for the Geoshape class.

[2015-01-30 15:42] BrynCooke commented on #574
I've not added a toGeoJSON method as I believe that serialization should be performed by a type serializer.
I think this could be added as part of https://github.com/thinkaurelius/titan/issues/954 and if folks want to reuse it in their own code then they can.

[2015-01-30 21:10] BrynCooke commented on #573
@mbroecheler
Am I correct in thinking the only mixed indexes support Geoshapes?
Just want to confirm as the docs imply that composite indexes will handle anything.
Also when trying to create a composite index for a Geoshape property no error is thrown (although nothing seems to be indexed).

[2015-01-31 00:13] dalaro commented on #954
This sounds reasonable.  The idea is to have a GraphSONWriter subclass that adds a Geoshape serializer (that resides in the Titan codebase) to harmonize with #952?

[2015-01-31 04:19] dalaro commented on #914
I removed the `openTx` map in f25283628168a4888ce46f38e6cf7cecb2794c05.  In that commit, I also made `StandardTitanGraph.commit` throw an exception when `MANUAL`-mode transactions are left hanging.  However, I threw the wrong exception type.  TP3 specifies IllegalArgumentException where I threw TitanException, and there's even a TP3 test to check for this.  Fixed type in 24c1ef84913e4fd79631f2c269

[2015-01-31 04:19] #914 closed, assigned to dalaro

[2015-01-31 04:25] dalaro commented on #922
tinkerpop/tinkerpop3#513 was merged.

I copied the relevant `gremlin.sh` tweak into Titan's copy of the script via 8a778950afb0bf2b9f603b7f158acafefffb3975.  Once we update to a TP3 version that has tinkerpop/tinkerpop3#513, no further changes in Titan besides that commit should be necessary to get the benefit.

[2015-01-31 04:26] dalaro commented on #922
Reopening this -- should keep it unresolved until we get to a TP version that includes the upstream PR.

[2015-01-31 21:16] BrynCooke commented on #954
Yes this us exactly it. I think it will be straight forward to achieve.

[2015-01-31 21:18] BrynCooke commented on #954
Plus it will resolve https://github.com/thinkaurelius/titan/issues/953

[2015-02-02 05:44] mbroecheler commented on #949
Yes, we have also observed some strange "caching" behavior for Astyanax. We
don't have an explanation for that yet.

On Thu, Jan 29, 2015 at 10:11 AM, Thomas Cramer notifications@github.com
wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2015-02-02 05:48] mbroecheler commented on #946
In 0.5 we introduced secondary sort fields and support for multiple indexes per label. Am I misunderstanding those feature requests?

[2015-02-02 06:33] makoConstruct commented on #946
Where is that documented? I would have hoped to find it here https://github.com/thinkaurelius/titan/wiki/Vertex-Centric-Indices

[2015-02-02 06:47] makoConstruct commented on #946
Multiple indexes per label.. How? The given example only shows how to tell titandb to index all edges of the given label during the creation of the label. I can imagine the API for secondary sort fields(repeated sortBys?) but I can't guess how you would create indexes on a different set of properties.

[2015-02-02 13:08] rjbriody commented on #946
The docs for 0.5+ have moved:

[image: Inline image 1]

...this warning could probably stand to be a little more noticeable, but
check out the 0.5 docs and see what you think.

http://s3.thinkaurelius.com/docs/titan/0.5.0/indexes.html#vertex-indexes

Bob

On Mon, Feb 2, 2015 at 1:47 AM, mako yass notifications@github.com wrote:

[2015-02-02 23:11] makoConstruct commented on #946
Ahh.. If there is a doc-usability issue here at all, rather than just random stupidity on my part, I guess it would have helped if the link to the new docs linked straight there. I vaguely remember clicking through, possibly ctrl+f ing "vertex-centric", getting nothing, and going back.

Anyway, so you have secondary sort fields and you explicitly name indices so managing multiple indices applying

[2015-02-05 02:03] mbroecheler commented on #954
@BrynCooke Please implement a special GraphSon extension for Titan to test out that TinkerPop method. Coordinate with @spmallette if you have any questions / issues.

[2015-02-05 05:09] mbroecheler commented on #756
This should fall out of the work we have been doing to generalize GraphComputer. No additional work necessary - just verify and close when done.

[2015-02-05 05:38] mbroecheler opened #955 "Replace Kryo with custom serialization engine"

[2015-02-05 05:38] mbroecheler opened #956 "Write all properties to canonical id"
for a partitioned vertex

[2015-02-05 05:39] mbroecheler opened #957 "Virtual partitions for random storage backends"
to avoid hotspots and allow partitioning of vertices (vertex-cut). Edge-cut partitioning will not be sensible in this setup.

[2015-02-05 10:46] crakjie opened #958 "TitanIndexRepair configuration format"
Hello,

That would be nice if TitanIndexRepair can use the same configuration than TitanGraph and not a java.util.Properties.

The idee is use the same configuration than TitanGraph

`titanGraph.getConfiguration()` or `titanGraph.getConfiguration().getConfiguration()`

[2015-02-05 15:43] BrynCooke commented on #573
I've added some documentation about geoshapes. The rest of the comments seem outdated as they refer to the old wiki.

[2015-02-05 15:44] #572 closed, assigned to BrynCooke

[2015-02-05 16:18] mbroecheler commented on #573
@BrynCooke  Composite indexes support geoshapes but only for equality search which is arguable of little use. A composite index could answer the query "What vertices have this exact point location" but it cannot do any distance or shape based queries.

[2015-02-05 17:10] #574 closed, assigned to BrynCooke

[2015-02-06 16:43] crakjie opened #961 "Exception throw when calling get on ManagementSystem"
[code]

Throw

[code]

I was expecting the value I have set in the configuration, is it normal?

[2015-02-06 16:49] crakjie commented on #946
makoConstruct I like this idee :+1:

[2015-02-09 17:33] dalaro commented on #907
@christoperzeng thanks for following up.  I took a closer look.  Lines 1259 and 1260, as you linked in your reply, make sense.  However, I disagree that `HBaseStoreManager.cnx` is closed on HBaseStoreManager.java 755-757.  It's true that we call `HBaseAdmin.close` there.  But we constructed HBaseAdmin using the `HBaseAdmin(HConnection)` constructor (at https://github.com/thinkaurelius/titan/blob/0

[2015-02-09 17:33] #907 closed, assigned to dalaro

[2015-02-09 20:15] dalaro opened #963 "Add unit test of titan-hadoop Cassandra widerows, fix spurious row-breaks"
ColumnFamilyRecordReader's widerows option is technically honored when provided in titan-hadoop's config since #694, but because TitanCassandraRecordReader incorrectly assumes it will still get all of a row's columns in one call even when widerows is enabled, it's unusuable.  TCRR produces a bunch of fragmentary vertices from distinct chunks of a single row's columns and chaos ensues.

The binary-

[2015-02-10 06:35] dalaro commented on #963
I added a test that reads from Titan using widerows=true (3c776d48e6d7d40359c2d7080409fd590d695728).  That broke as expected.  3736b37212d3a9e2278e44e4b070ba02b32cceea is the fix.  The fix just pulls all of the columns into memory, processes each chunk, and then releases that chunk before moving onto the next.  It only passes a FaunusVertex object reflecting all those chunks of columns up to the t

[2015-02-10 06:35] #963 closed, assigned to dalaro

[2015-02-10 06:35] #940 closed, assigned to dalaro

[2015-02-10 06:43] dalaro commented on #924
645b406468f06c043b810375d6203618b505b241 fixes the fencepost bug and makes the limit apply to all collections, so that [1,...16] only prints up to 15 and then `...`.

Since limiting non-titan-hadoop collection previews is new behavior, I made the default 15-element limit into a CLI option.  `gremlin.sh -w <number>` controls the number of elements printed in a result collection.  The hope is that p

[2015-02-10 06:56] dalaro commented on #941
I just edited the headline and issue summary to reference unidirected edges instead of some vague "edge prop".  Debugging did seem to show that this was specific to unidirected edges in titan-hadoop.  `FaunusElement.getPropertyKeysDirect` (incorrectly, I think) returned the name of an edge label for a unidirected edge.  This led to an exception when GraphSONUtility (correctly, from its perspective

[2015-02-10 06:56] #941 closed, assigned to dalaro

[2015-02-10 11:43] spmallette commented on #924
so all results whether they come from titan-hadoop or just `(0..100)` stop at 15 by default...is that right?

[2015-02-10 11:44] spmallette commented on #963
Thanks for the widerows fix dan - thrift frame size exceeded exceptions are annoying to deal with.

[2015-02-10 17:07] Ghost93 opened #964 "Bump Elasticsearch to latest version"
As requested here:

https://groups.google.com/d/msgid/aureliusgraphs/79862633-6148-47e4-8ac4-eab3d715880d%40googlegroups.com?utm_medium=email&utm_source=footer

Latest version is 1.4.2.

Thanks

[2015-02-10 19:22] saden1 commented on #854
Ran into this issue...Titan should shade all the third party libraries it uses so users aren't prevented from using their own versions of these libraries in their application.

[2015-02-10 19:36] dalaro opened #965 "Debug Lucene testContainsWithMultipleValues failure"
This test passes in 0.5.3 but currently fails on titan05:

[code]

[2015-02-10 19:52] dalaro commented on #924
That's the current behavior.

The commit mentioned in my last comment without a hash is now pushed as 5298f5d923fd2fbf276b40d7c20d4d56fd2f0621.  Thinking some more about this, a gremlin.sh option is just the wrong way to do this.  It works, but it's not very usable.  Maybe a `set/:set` preference is the way to go.  I think I see how to hook into that on 1.8.9 using `org.codehaus.groovy.tools.shell

[2015-02-10 19:55] dalaro commented on #924
Also: that default value (15) is an old constant that's been in Console forever.  I'm not attached to it.  Suggestions welcome.

[2015-02-10 20:01] spmallette commented on #924
yeah - i was waiting for your response to be clear before i mentioned that i kinda didn't like the gremlin.sh way.

we haven't used the "preference" system heavily in TP2/3, but i don't think that's a bad piece of the infrastructure to leverage.

I'd prefer a larger default too - 15 is fine for a pure "faunus" job, but less awesome when you're doing other stuff.  I think it's more of a burden to n

[2015-02-10 20:40] dalaro commented on #924
In titan05, it would be possible to have two distinct limits, one for MapReduce result file `head`'ing and another for iterating anything else, but that's sort of a consequence of an abstraction leak.  Does TP3 have the same thing?  It looks like only one limit would make sense for Console.handleResultIterate https://github.com/tinkerpop/tinkerpop3/blob/master/gremlin-console/src/main/groovy/com/t

[2015-02-10 20:49] spmallette commented on #924
We don't have any notion of limits in TP3 and at the moment we don't have such distinction for different options for limits. i'll create an issue for discussion over there.

[2015-02-10 21:44] dkuppitz commented on #924
If we can distinguish between OLAP and OLTP results, then I would prefer to have a very high limit (1000+) or no limit at all for OLTP. Maybe a high limit is the better choice for those who are crazy enough to submit `g.V().valueMap()` on a huge graph. But usually I don't want to see my OLTP results truncated.

However, no matter if we can distinguish between those result types or not, I like the

[2015-02-10 23:02] dalaro commented on #924
Given your feedback, I'll separate them.  What should the separate defaults be for OLAP and OLTP?  For OLTP, I do like the idea of a very high default as opposed to infinity for the same reason you mentioned.

[2015-02-11 00:13] dkuppitz commented on #924
I think 50 is absolutely okay for OLAP. In most cases you'll have your OLAP result stored in HDFS (the truncated data is not lost), thus you don't have to execute the traversal again just to see more data.

[2015-02-11 00:17] dalaro commented on #924
50 for OLAP is fine with me.  512 for OLTP then?

[2015-02-11 00:18] dkuppitz commented on #924
Yep, that should work in almost all cases.

[2015-02-11 00:20] okram commented on #924
Huh. This solves the CNTRL-C problem.. eh?

https://github.com/tinkerpop/tinkerpop3/issues/11

[2015-02-11 00:22] dkuppitz commented on #924
I don't think so. The console will probable never get a response from Titan / Cassandra if you send `g.V().valueMap()` to a 1B+ vertices graph.

[2015-02-11 01:11] dkuppitz commented on #924
Thought about it a bit longer. Sometimes the first entry is the most important one, even in large result sets (for example when you want to check the entry order). That said, it's probably better to make the default limit 500. This way you can still scroll up and see your query + the first result entries (with default terminal settings).

[2015-02-11 02:01] dalaro commented on #924
@okram tinkerpop/tinkerpop3#11 is still useful.  Aside from iterators that precompute or for which building each element is unexpectedly costly, some stuff just blocks inconveniently for a long time (e.g. network unreachable).  The latter is harder to deal with though, since it implies that the console would be multithreaded with the main thread cautiously avoiding blocking on anything except stdi

[2015-02-11 02:15] dkuppitz commented on #924
Yea, so we both like the idea of a high default value :). 500 is cool.

`:set result.rows.limit -1` => infinity

[2015-02-11 03:08] boliza commented on #854
titan-core provide some interface need Guava class as param.so shade guava is not a good choice.

[2015-02-11 07:22] dalaro commented on #857
Is the benefit here for Fulgora?

For MR, I don't see how this makes a difference.  We can open a graph in `setup` and the transaction in `startChunk`, but there will still only be one of each call per MR map task in that order.

For Fulgora, maybe this helps a monster computation by decoupling a shared graph's lifetime from the lifetimes of its many shorter-lived chunk txs.  Although VertexJobCon

[2015-02-11 07:30] dalaro commented on #865
Please elaborate.  What does it mean for instance to have one MapReduce per thread?  Does this have anything to do with the following line from the top of FulgoraGraphComputer?

[code]

(https://github.com/thinkaurelius/titan/blob/titan09/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/olap/computer/FulgoraGraphComputer.java#L57)

[2015-02-11 11:39] spmallette commented on #924
I'm still not so sure `ctrl-c` is even possible given our dependence on groovysh.  i've been through that code a few times now and i've never seen where we can hook into something to interrupt an evaluation.

[2015-02-11 17:16] crakjie opened #967 "Setting storage.cassandra.thrift.frame-size do not change the max frame size"
Setting the configuration of storage.cassandra.thrift.frame-size before TitanGraph.open(conf) do not change the max frame size

[2015-02-11 21:30] #965 closed, assigned to dalaro

[2015-02-11 21:42] dalaro commented on #967
What is the value of `storage.backend` in your config?

[2015-02-11 22:22] dalaro commented on #924
71bd1d7 implements what we just discussed.

The only bit I dislike is that, insofar as we attach to `set`, we seem to be stuck in a flat namespace shared with general Groovysh preferences.  The current implementation will end up writing a file like this:

[code]

with a path like `~/.java/.userPrefs/org/codehaus/groovy/tools/shell/prefs.xml` (on Linux at least).

`Preferences` is inherently hierar

[2015-02-12 09:09] crakjie commented on #967
"cassandra"

[2015-02-12 09:21] boliza commented on #967
@crakjie cassandra not support this config, only cassandrathrift support this config

[2015-02-12 10:09] crakjie commented on #967
I'm confused, what is the difference between cassandrathrift which use cassandra thrift and cassandra which use cassandra thrift but which cannot be configured ?

[2015-02-12 11:56] spmallette commented on #924
Want to hear some real crazytown? I secretly often feel like writing our own console :smiling_imp: Anyway, I would say that what you have is probably good enough to cope with the scope of this issue.  We have this issue referenced in TP3 at this point so hopefully we can look at what you have here and determine the direction to go for the future.

[2015-02-12 11:57] boliza commented on #967
storage.backend=cassandra means use use the cassandra driver astyanax.

In your case you should set storage.backend=cassandrathrift

Your can take look at the doc http://s3.thinkaurelius.com/docs/titan/0.5.3/cassandra.html#_cassandra_specific_configuration

[2015-02-12 13:35] crakjie commented on #967
When I use storage.backend=cassandra I have an exception about the thrift frame size.
So I simply try to increase the frame size with storage.cassandra.thrift.frame-size.
If it's not with this property which property should I use?

[2015-02-12 15:26] boliza commented on #967
You must change the storage.backend to cassandrathrift to solve that exception. When your storage.backend is cassandra the config storage.cassandra.thrift.frame-size does not work

[2015-02-12 15:36] crakjie commented on #967
Yes but, isn't it suppose to work? Because storage.backend=cassandra also use thrift.

[2015-02-12 16:08] boliza commented on #967
@crakjie  cassandra use astyanax driver and astyanax did't provide an interface to set this config.You should read this discuss.
https://groups.google.com/forum/#!msg/aureliusgraphs/xl5SqhL5UaU/qaSHU-8GIAAJ

[2015-02-12 16:46] dalaro commented on #967
thanks @boliza.

Long story short, `storage.backend=cassandrathrift` uses a different client implementation than `storage.backend=astyanax`, and `storage.backend=cassandra` is just an alias for Astyanax.  We didn't see a way to modify the frame size setting through Astyanax, so the option is ignored there.  This is not a design decision -- if somebody finds a tidy way to control the frame size in

[2015-02-12 16:46] #967 closed, assigned to dalaro

[2015-02-12 16:49] crakjie commented on #967
Problematic but it makes sense, I have seen Astyanax is discontinued, so I think there is no way  this will be fixed.

[2015-02-12 17:00] dalaro commented on #924
A rewrite is tempting...  I'm not volunteering though :chicken:

Should I reimplement this on TP3 as a PR for tinkerpop/tinkerpop3#556, or would you rather handle that separately?

[2015-02-13 00:06] mbroecheler commented on #945
@skiefer I have not yet been able to reproduce this on another dataset.
When you say:

Does that apply to both pieces of code you pasted above or only to the first? In other words, is it the GremlinPipeline that is causing problems here or the one edge pointing in the other direction?

Bumping to 0.5.5 to not delay 0.5.4.

[2015-02-13 07:11] skiefer commented on #945
Yes, the GremlinPipeline seems to cause this problem. The second code snippet is the workaround for the problem.

[2015-02-13 17:52] #926 closed, assigned to BrynCooke

[2015-02-13 17:53] #573 closed, assigned to BrynCooke

[2015-02-14 01:50] mbroecheler opened #971 "Fix encapsulation order"
The nutshell explanation is that https://github.com/thinkaurelius/titan/commit/278d8b988058183ed032b03959771864f6b37a0c switched the encapsulation order of the Metrics and TTL StoreManager wrappers, but the Metrics wrapper didn't implement an interface expected by the TTL wrapper (the CustomizeStoreKCVSManager interface with the openDatabase(name, ttl) overload).  HBase still implements the interf

[2015-02-14 16:31] saden1 commented on #896
One of the key questions raised in the discussion is what happens if a vertex/edge/property with TTL is updated. Some may not want the update to have any impact on TTL, others, like myself, would like for the TTL to be extended. One particular use-case where an update triggers a reset of TTL is in the area of session management.

[2015-02-16 14:06] bala-infini opened #972 "Titan 0.5.3 Hangs while connecting to Hbase 0.98.4 with HDP 2.2 stack"
Hi

I have downloaded and started HDP 2.2 Hortonworks sandbox, its Oracle virtual box CentOS instance, all components are up and running file, I am able to create a table at Hbase using hbase shell

I have downloaded Titan  titan-0.5.3-hadoop2.zip and while trying to connect it simply hangs , below are the steps I followed at gremlin.sh

no errors and nothing spitted out

// Gremlin
conf = new Bas

[2015-02-16 14:10] spmallette commented on #924
Been thinking about this one - let's wait on an PR for this - I've referenced this issue over in TP3 so we can get back to this issue.  This might yet be how we want to do it, but I'd like to take more time to make that decision.  Thanks.

[2015-02-16 14:33] skiefer opened #973 "Setting unique property causes exception with titan 0.5.4"
I create a new unique property uid using the management system.
Then I add a new vertex and set the property to e.g. value "source2#uri4".
The second time I call setProperty with the same value the following exception occures:

[code]

Steps to reproduce:

[code]

This works in Titan 0.5.3.

[2015-02-16 16:32] bala-infini commented on #972
Hi

When I try using property file then getting below error ,

Also facing same issue when created a cluster using ambari in HDP 2.2 with two server

# Content of property file

storage.backend=hbase
storage.hostname=("127.0.0.1")
cache.db-cache = true
cache.db-cache-clean-wait = 20
cache.db-cache-time = 180000
cache.db-cache-size = 0.5
cache.db-cache-size = 0.5

# storage.hbase.ext.hbase.zookeepe

[2015-02-16 20:25] mbroecheler commented on #973
@skiefer So, you are overwriting a unique property with the same value, right?

[2015-02-16 21:21] p1tz commented on #973
yes, thought it was just me when the test-suites failed. it led me to wrap and actually set only dirty properties. yes, overwriting a unique property with the same value.

[2015-02-17 09:54] #930 closed, assigned to BrynCooke

[2015-02-17 18:55] dalaro commented on #924
Thanks for following up.  This feature shipped in Titan 0.5.4.  Since the linked TP3 issue is pending consideration and since there are no next steps here, I'm going to close.

[2015-02-17 18:55] #924 closed, assigned to dalaro

[2015-02-17 18:57] dalaro commented on #846
Closing this due to inactivity and lack of steps to reproduce.  If someone comes across this with steps to reproduce the problem, please open new or reopen.

[2015-02-17 18:57] #846 closed, assigned to dalaro

[2015-02-18 08:55] skiefer commented on #973
Yes, the problem only occures when overwriting the unique property with the same value.

[2015-02-19 02:07] saden1 commented on #854
I don't understand the previous comment.  Shading is the only good choice unless you want users to be indefinitely bound to titan's version of guava or think it's desirable to run into this kind of issues. The best course titan can employ is to either shade it's third party dependencies along with it's jar files or pre-shade and take ownership of third party libraries and use the shaded version of

[2015-02-20 01:25] dalaro opened #974 "Investigate interruption of FulgoraGraphComputer"

[2015-02-23 09:28] bala-infini commented on #972
The issue got fixed with additional configuration in titan

As hbase-site.xml has value for below as /hbase-unsecure , the same need to be referenced while connecting to hbase from a client (titan)

hbase-site.xml:

  <property>
      <name>zookeeper.znode.parent</name>
      <value>/hbase-unsecure</value>
    </property>

titan_property config file should refer the same

storage.hbase.ext.zookeep

[2015-02-23 09:28] #972 closed, assigned to nobody

[2015-02-27 19:00] fitzoh commented on #950
Running into similar issues with SubgraphStrategy

[2015-02-28 02:34] mbroecheler commented on #950
Yes, one of the things we found as part of the initial implementation of TP3 is that GraphStrategy is broken for graphs with internal query optimization. A rework of that component is in progress.

[2015-03-03 23:00] #769 closed, assigned to BrynCooke

[2015-03-04 11:18] #887 closed, assigned to BrynCooke

[2015-03-04 12:02] dalaro commented on #821
In response to https://groups.google.com/d/msg/aureliusgraphs/qOqFKIXqFok/Ke8e2KifHNUJ, I think the right fix is to shade Titan's copy of Kryo (i.e. implement https://github.com/thinkaurelius/titan/issues/821 as originally reported on titan05).  I have a local titan05 branch with shaded Kryo that resolves the issue described in that thread, as tested with a trivial count-vertices Spark application

[2015-03-04 12:38] dalaro commented on #821
Repository with the smallest Spark job I could concoct that reads from Titan using TitanCassandraInputFormat and Spark's InputFormat-to-RDD converter: https://github.com/dalaro/titan-spark-test

[2015-03-05 16:19] BrynCooke commented on #920
As far as I can tell this already works.
I had a look at also adding this to a standard gremlin query, but some stuff especially around text handling (TEXT vs STRING) won't make sense. Therefore I think this is better left as indexQuery only.

[2015-03-05 20:31] dkuppitz commented on #920
Cool, I just tried it again and indeed it works. Not sure why I opened the ticket, maybe it wasn't possible in 0.5.x.

[2015-03-05 20:41] BrynCooke commented on #920
I'm trying to make it a bit nicer. We get a warning in the logs that will confuse users. The syntax will be more in line with the existing indexQuery. e.g. v.*:"test"

[2015-03-06 14:37] zazzcode commented on #964
Please note the latest version of ElasticSearch is 1.4.4 and this version is required for using the new Kabana 4.
http://www.elasticsearch.org/blog/kibana-4-literally/
If possible please bring Titan 0.9 compatible with ElasticSearch 1.4.4

[2015-03-06 14:40] BrynCooke commented on #964
We currently have some unit tests failing. As soon as we have a stable build I'll upgrade the dependency to the latest ES version available.

[2015-03-06 21:12] vijayrudraraju commented on #961
I'm getting the same thing, haven't figured it out yet...

[2015-03-10 03:58] dalaro commented on #961
@crakjie @vijayrudraraju the ManagementSystem interface currently only talks to the storage backend.  It does not consider the local configuration file.  Config options marked `LOCAL` in the [manual's config option reference](http://s3.thinkaurelius.com/docs/titan/current/titan-config-ref.html) live only in the local configuration file and will effectively be invisible to ManagementSystem.  `stora

[2015-03-10 03:58] #961 closed, assigned to dalaro

[2015-03-11 13:15] #920 closed, assigned to BrynCooke

[2015-03-17 19:25] mbroecheler opened #979 "Catch exception trying to unregister in shutdown"
and proceed with shutdown.

See user reported error:

I tried to debug the code and found that during graph shutdown there are attempts made to write data to the backend which fails as other cassandra node is down and there is no quorum. It makes shutdown to throw an uncaught exception and various threads keep running.

For example following line in StandardTitanGraph.shutdown()
globalConfig.remov

[2015-03-18 07:06] boliza opened #980 "Exception when Change TTL"
My Schema:

[code]

After my schema is created,When change the TTL I see an exception becasue of this code in AbstractVertex line 90.

[2015-03-18 07:15] boliza opened #981 "When change the TTL of Vertex,Edge,Propery,it can to zero"
When change the TTL of Vertex,Edge,Propery,it can set to zero.

[2015-03-18 09:42] boliza commented on #980
Seems to change the assert to if condition could avoid this

[2015-03-18 14:08] dalaro opened #983 "Modify StandardScannerExecutor to propagate exception in worker thread"
VertexJobConverter and RowProcessor both have `try ... catch (Throwable ...)` clauses around most of their guts.  These catch clauses log the exception at `ERROR`, then swallow it.  Hence, while an exception in an OLAP worker thread shows up in the log, it's programmatically invisible to the caller.  These exceptions are not necessarily harmless.  One can potentially make the result set incorrect

[2015-03-18 20:41] mbroecheler opened #984 "Replace com.google.common.base.StopWatch"
which is deprecated

[2015-03-18 20:42] mbroecheler commented on #984
also go through other warnings to identify deprecated imports.

[2015-03-18 23:16] mbroecheler opened #985 "StandardScannerExecutor threads work on consecutive rows -> better error handling"
Currently, each worker thread in StandardScannerExecutor (randomly) grabs rows out of the queue as they become available. That means, we have no control over which rows a particular processor thread has processed and each workBlockSize chunk of work is fairly randomly defined.
This makes it impossible to gracefully recover from error. If there is an exception in one of the blocks of work, we have

[2015-03-18 23:17] #857 closed, assigned to mbroecheler

[2015-03-18 23:18] #865 closed, assigned to mbroecheler

[2015-03-19 23:06] mbroecheler commented on #917
This might not actually be a good idea. Currently, if you have a vertex-centric index by time and then weight and you ask for all edges at a current point in time, then Titan wouldn't actually be able to use that index since there might be edges with a time property that don't have a weight property and hence wouldn't be indexed by that index.

The only downside of the current approach seems to be

[2015-03-19 23:13] mbroecheler commented on #958
This has been refactored for 0.9.

[2015-03-19 23:13] #958 closed, assigned to nobody

[2015-03-19 23:14] mbroecheler commented on #950
Closing this issue as PartitionStrategy is changing in TP3 M8.

[2015-03-19 23:14] #950 closed, assigned to nobody

[2015-03-19 23:15] mbroecheler commented on #953
Closing this in favor of fixing #954.

[2015-03-19 23:15] #953 closed, assigned to nobody

[2015-03-19 23:18] #928 closed, assigned to mbroecheler

[2015-03-19 23:23] #832 closed, assigned to dalaro

[2015-03-19 23:25] mbroecheler commented on #897
This strongly suggests data inconsistency in the underlying data store.

[2015-03-19 23:25] #897 closed, assigned to dalaro

[2015-03-19 23:26] #906 closed, assigned to mbroecheler

[2015-03-19 23:29] mbroecheler commented on #520
Related to #932.

[2015-03-19 23:29] #466 closed, assigned to mbroecheler

[2015-03-19 23:31] mbroecheler commented on #845
Related to #854.

[2015-03-19 23:32] #904 closed, assigned to dalaro

[2015-03-19 23:33] #815 closed, assigned to dkuppitz

[2015-03-19 23:33] #58 closed, assigned to nobody

[2015-03-19 23:34] #757 closed, assigned to dalaro

[2015-03-19 23:35] #764 closed, assigned to dalaro

[2015-03-19 23:35] #779 closed, assigned to mbroecheler

[2015-03-19 23:35] #768 closed, assigned to dalaro

[2015-03-19 23:36] mbroecheler commented on #555
1 & 2 are fixed. 3 is likely a NO_FIX

[2015-03-19 23:36] #555 closed, assigned to nobody

[2015-03-20 16:47] syan4826 opened #986 "KeyIndexableGraph.createKeyIndex vs TitanManagement.buildIndex().buildCompositeIndex()"
Hello,
After reading code and document in Titan and Blueprint, I am a bit confused by this two type of index.
KeyIndexableGraph.createKeyIndex in Blueprint API
and
TitanManagement.buildIndex().buildCompositeIndex() in Titan API
What's the different between these two ?

Thanks,

Yan

[2015-03-23 12:14] spmallette commented on #986
The Blueprints methods are a generalization of index management in graphs and is insufficient for usage with the robust schema management functions of Titan.  Focus your usage on the `TitanManagement` API.

[2015-03-23 12:14] #986 closed, assigned to nobody

[2015-03-23 12:29] splatch commented on #780
Don't be so close for new improvements. Since you are now in apache incubation process please be open for community suggestions which might lead to expanded project usage and easier adoption of it. Couple of additional manifest entries doesn't cost you anything at all and you can shift mainanance of these to somebody else (for example me).
I have made some work around fasterxml osgification in mid

[2015-03-23 12:48] syan4826 commented on #986
Thank you.

[2015-03-24 10:35] BrynCooke opened #987 "Support Solr 5.0"
Solr 5.x has removed various types that are used in schema.xml.

Where X is Int, Float, Long, Double or Date

XField becomes TrieXField
SortedXField becomes TrieXField

I am not sure what the impact will be if any.

[2015-03-25 15:30] esatsuta opened #988 "Query matches old property value(s)"
Titan 0.5.4. When subsequently setting different values on the same vertex property, queries find the vertex by old values. To reproduce:

[code]

[2015-03-25 19:11] dalaro commented on #947
merged linked PR, thanks!

[2015-03-25 19:11] #947 closed, assigned to dalaro

[2015-03-26 02:55] dalaro commented on #979
I modified titan09's `StandardTitanGraph.shutdownInternal` to catch and log exceptions, then proceed with remaining shutdown actions.  This leans heavily on AutoCloseable and I didn't try to backport to titan05.

Regarding the question -- "is it a good idea to write something to storage during shutdown of the graph?" -- yes, as long as those writes are just optimizations rather than necessary, and

[2015-03-26 02:55] #979 closed, assigned to dalaro

[2015-03-26 02:56] dalaro commented on #821
Kryo shading is implemented now on titan05 and titan09.

titan05 commits:
- c736cf7dba4b72ba00c9cf8dbe2941be6e9c66a9
- e6e2dacc2b10d4936ebf1ff9d9bdb4d2498ed0d4

titan09 commit:
- af76a295311146f0c3a24453a1b6fc1d0a4f12c3

[2015-03-26 02:56] #821 closed, assigned to dalaro

[2015-03-26 16:01] mbbeaubi commented on #821
Excited to see this is finally in. If it gives you any confidence we've been successfully using Spark / GraphX and Titan for 4 months now using custom build of titan 0.5.3 that has kryo shaded with no issues. But it's going to be great to get back on ML.

[2015-03-26 19:35] dalaro opened #989 "Update/replace ignored OLAP pagerank test"
`OLAPTest.pageRank` is marked `@Ignore`.  Either rework it so that it passes and uses a Titan-hosted vertexprogram that does the same thing as the TP3 equivalent, or replace it with some other vertexprogram-friendly algorithm that exercises fulgora in a similar pattern.

This issue was spawned by #863

[2015-03-26 19:36] dalaro commented on #863
As we discussed recently, it turns out that we don't actually want to remove the associated unit tests (as would have been done by #966).  We want to instead port the unit tests forward to the new fulgora interfaces.  I removed oldfulgora but kept the tests in 5b8bcce7f2d645fe3e27a93a18ab5ca34bf86de5.  The tests compile as of that commit, though two of them have problems:
- The pagerank test is `@

[2015-03-26 19:36] #863 closed, assigned to dalaro

[2015-03-26 21:02] dalaro commented on #862
This seems like it may require coordination between TP3 and Titan, if we're going to return DetachedVertex instances.  Reattachment of GraphComputer result elements seems to happen here, from debugging and squinting at the code:

https://github.com/tinkerpop/tinkerpop3/blob/3.0.0.M7/gremlin-core/src/main/java/com/tinkerpop/gremlin/process/computer/traversal/step/map/ComputerResultStep.java#L51-L52

[2015-03-27 16:29] zazzcode commented on #964
ElasticSearch now at v1.5.   Where you able to resolve your unit test issues?  Is ElasticSearch version bumped in latest build?

https://www.elastic.co/blog/elasticsearch-1-5-0-released

thanks

[2015-03-27 17:44] dalaro commented on #862
/cc @okram @mbroecheler any thoughts on this?

[2015-03-27 20:27] fitzoh commented on #819
Per the conversation [here](https://groups.google.com/forum/#!topic/gremlin-users/N4R5GO6fHiQ) Single is now the default cardinality

[2015-03-27 21:23] okram commented on #862
DetachedXXX can be used anywhere.

Detaching:

[code]

Attaching:

[code]

Traversers (in process -- Gremlin OLAP)

[code]

Perhaps at the end of a round, you go through all the properties of the vertex and:

[code]

[2015-03-27 21:57] okram commented on #862
Check this -- I propagate the "compute properties" between rounds. Attach them to the vertex, VertexComputer.execute(), then detach the properties (which is a recursive detachment), and the vertex is back to its original pristine state.

https://github.com/apache/incubator-tinkerpop/blob/master/hadoop-gremlin/src/main/java/org/apache/tinkerpop/gremlin/hadoop/process/computer/spark/SparkExecutor.ja

[2015-03-30 17:29] dalaro commented on #862
I discussed out-of-band with @okram & @mbroecheler.  The current plan:

After Fulgora executes a VertexProgram on a vertex, inspect its associated VertexState (via FulgoraVertexMemory) for element compute keys of standard TP3 Gremlin side effects that retain references to attached elements (e.g. groupCount).  For each element compute key associated with a standard TP3 side effect, "detach" the ass

[2015-04-02 03:04] dalaro commented on #862
@mbroecheler  I think the plan isn't going to work.  Treating the values associated with standard TP3 Gremlin side effect element compute keys as opaque objects and serializing-then-deserializing them means, in the cases we care about for Fulgora, that we attempt to serialize a PreloadedVertex.  Since the Kryo configuration underlying both GryoWriter (M8 only) and StandardSerializer does not have

[2015-04-02 09:21] BrynCooke opened #990 "BerkleyElasticsearchTest fails on subsequent runs"
BerkleyElasticsearchTest
When running the unit tests I sometimes errors, these look like actual test errors but they go away if I do a clean build.

This is a very common stack trace for testGraphOfGodsFactoryCreate:

[code]

[2015-04-02 09:55] BrynCooke commented on #990
Running mvn test twice in a row will cause the issue to surface:
Results :

Failed tests:
  BerkeleyElasticsearchTest>TitanIndexTest.testCompositeAndMixedIndexing:649 expected:<25> but was:<13>
  BerkeleyElasticsearchTest>TitanIndexTest.testRawQueries:830 expected:<500> but was:<0>
  BerkeleyElasticsearchTest>TitanIndexTest.testConditionalIndexing:570 expected:<50> but was:<0>
  BerkeleyElasticsea

[2015-04-02 09:56] BrynCooke commented on #964
This needs to be solved first:
https://github.com/thinkaurelius/titan/issues/990

Once it is I will bump to the latest release.

[2015-04-02 10:21] BrynCooke commented on #990
The Graph of gods test was actually never being cleared out. Somehow this single test failing had an interaction with the other tests that caused them to also fail.

[2015-04-02 10:33] #990 closed, assigned to BrynCooke

[2015-04-02 12:25] zazzcode commented on #964
Looks like you solved #990 – says “Closed”

Looking forward to Titan 0.9/1.0

Thanks for all your hard work –

~Michael

From: Bryn Cooke [mailto:notifications@github.com]
Sent: Thursday, April 02, 2015 5:56 AM
To: thinkaurelius/titan
Cc: Woytowitz, Michael
Subject: Re: [titan] Bump Elasticsearch to latest version (#964)

This needs to be solved first:
#990https://github.com/thinkaurelius/titan/is

[2015-04-02 14:03] okram commented on #862
If PreloadedVertex implements tinkerpop.Vertex, then Gryo will "detach" it for you automagically.

On Apr 1, 2015, at 9:04 PM, Dan LaRocque notifications@github.com wrote:

[2015-04-03 02:29] dalaro opened #992 "Allow ID allocation to resume after continuous failures exceeding ids.renew-timeout"
This is assigned somewhat arbitrarily to 0.5.5.  It may also apply to 0.9 (not sure yet).

Looking at StandardIDPool.java in 0.5.4, I think I see the following:
- Successive IO failures when attempting to claim a new ID block in the storage backend which take (collectively) longer than ids.renew-timeout will set StandardIDPool.nextBlock = null.
- If StandardIDPool.nextBlock is null, calls to Stand

[2015-04-03 08:50] mailsanjayyadav opened #993 "In latest versions TitanGraphTransaction extends Gremlin Graph class instead of blueprint TransactionGraph class"
Not sure if this is intentional. Can someone explain. I had written generic code to use multiple graph dbs -  ne04j and titan. But because of this change I cannot cast TitanGraph to blueprints Graph class.

In 0.5.4
public interface TitanGraphTransaction extends com.tinkerpop.blueprints.TransactionalGraph, KeyIndexableGraph, SchemaManager {

In 0.9.0-M1
public interface TitanGraphTransaction exten

[2015-04-03 14:08] spmallette commented on #993
note that Titan 0.5.x and prior version depends on TinkerPop2.  Titan 0.9.x depends on TinkerPop3. TP3 has an entirely new interface model, so interfaces like `TransactionalGraph`, `KeyIndexableGraph`, etc. no longer exist.  Please see the TP3 documentation for the latest information on the changes: http://tinkerpop.incubator.apache.org/docs/3.0.0-SNAPSHOT/

[2015-04-03 14:08] #993 closed, assigned to nobody

[2015-04-03 15:32] #964 closed, assigned to BrynCooke

[2015-04-03 18:01] mailsanjayyadav commented on #993
So it means, tinkerpop3 and tinkerpop2 are backward incompatible in some sense.

[2015-04-03 18:05] spmallette commented on #993
correct - to accomplish some of the "next generation" features we needed to, a complete re-thinking of the APIs was required.

[2015-04-03 19:36] dalaro commented on #862
@okram does TP3 master's Gryo detachment automagic look into side effect maps like groupCount's, or is that something we need additional logic for?  I would test titan09 against 3.0.0-SNAPSHOT right now, but there is a nontrivial set of compile-time incompatibilities when I try to upgrade from M7 to the current master.

[2015-04-03 21:11] okram commented on #862
There is nothing special about "sideEffects". Gryo simply serializes the vertex. If the vertex has properties that are "sideEffects", they are serialized. In other words:

[code]

…just properties…

On Apr 3, 2015, at 1:36 PM, Dan LaRocque notifications@github.com wrote:

[2015-04-03 22:42] scottauchmoody commented on #795
I'm in the process of building a PostgreSQL backend for Titan.
What is the process for submitting my change for consideration?
Or is this something already being worked on by someone?

[2015-04-07 09:37] #989 closed, assigned to dalaro

[2015-04-07 09:42] dalaro commented on #756
This does fall out of StandardScannerExecutor more or less for free.  There doesn't seem to be a really tidy API for this though.  It doesn't fit naturally in FulgoraGraphComputer and it would complicate `submit` anyway.  I created a new IndexJobs helper class in the [issue_756](/thinkaurelius/titan/tree/issue_756) branch.  Did some ad-hoc testing with BDB in gremlin.sh just to check that creating

[2015-04-07 09:47] dalaro commented on #849
These items are covered or moot:
1. Still a pain when Titan is installed as a plugin on a preexisting TP3 install, but resolved within Titan's all-inclusive distribution zipfile
2. This turned out to be an insane classpath ordering problem.  In the version of TP3's gremlin.sh on which I reported this item, gremlin.sh used filesystem dirent ordering for classpath elements.  If titan-all appeared be

[2015-04-07 09:47] #849 closed, assigned to dalaro

[2015-04-07 19:10] dalaro commented on #756
The issue_756 branch is unnecessary.  `ManagementSystem.updateIndex(..., REINDEX)` already does the right thing:

[code]

Tested that with BDB and the output was as expected (warning about fullscan on the first query, reindex runs and index converges on enabled, no warning about fullscan on second query).

Now I'll just document this.

[2015-04-08 08:57] MFrancesco opened #997 "Titan 0.5.4 backend index configuration issue"
Hi all, using titan 0.5.4 on hbase with solr secondary index here.

Currently i'm struggling finding the right configuration in order to make some unit test for my application.
I have 2 identical collection in my solr installation:
search and searchtest and i would like to use the second one for some unit testing.

To use solr as secondary index config i need to configure properly my titan graph,

[2015-04-09 15:51] dalaro commented on #756
This is documented by the linked commit just above.

Here's an updated copy of the snapshot docs with the new section: http://s3.thinkaurelius.com/docs/titan/0.9.0-SNAPSHOT/index-admin.html#_executing_a_reindex_job_on_titanmanagement

[2015-04-09 15:51] #756 closed, assigned to dalaro

[2015-04-10 17:49] dalaro opened #1000 "Check TP3M8-induced dependency convergence errors"
See d397bf42c2d55b1a000045b1baca1701de352a46

I blindly chose the later version in both of these conflicts just to see what would happen.  Titan compiled.  Opening this ticket as a reminder to circle back and check the changelogs to see if there's anything scary looking in those upgrades.

[2015-04-10 21:23] mbroecheler opened #1001 "Sort out BerkeleyPartitionGraphTest"
Why is that test even there is BerkeleyDB doesn't support partitioning? Might make sense to have it after we allow partitioing against random storage backends.

[2015-04-10 21:38] dalaro commented on #922
This fix survived into the TP3 3.0.0.M8 release (checked in gremlin-console-3.0.0.M8-distribution.zip).

Titan's copy of the fix is also still OK (checked in titan09 @ cff4c8588e7a1e6eead650af45d2af5399a7ad5e).

This is resolved.

[2015-04-10 21:38] #922 closed, assigned to dalaro

[2015-04-11 00:07] mbroecheler commented on #987
Is that something we should investigate for Titan 1.0 and upgrade to Solr 5.x? What's your recommendation here?

[2015-04-11 00:12] mbroecheler commented on #988
note to self: Investigate whether this is a bug in StandardTitanTx.setProperty() where we are trying to bypass the read logic which we should be allowed to do in case there is an index. Also update 09.

[2015-04-11 04:59] dalaro commented on #997
Note that switching between two different Solr indexes covering a single HBase table ("titanTest") can be problematic.  If you write data on one index then switch to the other index, subsequent queries may generate spurious index misses until repaired.

Moving on: I'm unable to reproduce an IllegalStateException here using your two configs in order.  Can you provide more detailed steps about what

[2015-04-12 08:29] jordi-chacon opened #1003 "Method hasLabel not working"
Hi,

I am using 0.9.0-M1 and running Titan Console against a local BerkeleyDB instance.

I have a bunch of nodes in my graph:

[code]

I would like to get the list of all vertices with label 'user':

[code]

According to the TinkerPop3 documentation, this should work and there are actually many examples with exactly that statement. Why am I getting this exception?

Thanks a lot!

[2015-04-13 15:45] BrynCooke opened #1005 "Occasional error with TitanIndexTest.testIndexUpdatesWithoutReindex"
Occasionally the test fails:

[code]

[2015-04-13 21:04] mbroecheler opened #1006 "Add TP3 Groovy test cases for Berkeley"
there are 2 process and 3 environment tests for groovy (see TinkerGraph tests for comparison) that are not currently invoked in Titan. We should only add those to the berkeley module since passing there should mean everything works correctly.

[2015-04-13 21:07] mbroecheler opened #1007 "Include TP3 Performance tests"
There is a structure and performance test case that are currently implemented for Berkeley but ignored.
Include those and add the right annotation so those only get executed with the other titan performance tests. Make sure they pass.

[2015-04-13 21:13] mbroecheler commented on #1007
There is an open serialization issue in writeGyro. Awaiting feedback from Stephen. Have not yet run ProcessPerformanceTest to completion since that takes forever.

[2015-04-13 21:57] mbroecheler commented on #1007
The ProcessPerformanceTest finished. There is a failure which seems unrelated to Titan. Waiting on feedback from Daniel.

[2015-04-14 11:09] BrynCooke commented on #1006
BerkeleyTitanGroovyProcessComputerTest fails due to lack of StandardTitanGraph.empty method.

BerkeleyTitanGroovyEnvironmentTest has a couple of failures:

shouldProcessUTF8Query: TP assigned IDs to vertices https://issues.apache.org/jira/browse/TINKERPOP3-629

shouldEvalGlobalClosuresEvenAfterEvictionOfClass:
https://issues.apache.org/jira/browse/TINKERPOP3-630

[2015-04-14 18:18] BrynCooke opened #1010 "ElasticSearch Test fail dues to race conditions"
Separating out from https://github.com/thinkaurelius/titan/issues/593

As far as I can tell programmatically starting and stopping a node is not a synchronous operation, and examining the log files for started and stopped markers is insufficient to prevent conditions where:

An ES node is queried before it is ready.
An ES node joins a cluster that has been shut down.
This manifests itself in faile

[2015-04-14 18:49] BrynCooke commented on #1010
It still happens but is better then before.

[2015-04-14 18:49] #1010 closed, assigned to BrynCooke

[2015-04-14 22:09] mbroecheler opened #1012 "Fix PartitionTest#olapTest()"
and add additional test coverage to that test for when all vertices are added in the same transaction but partitioned vertices is enabled.
Do so after reworking the partitioning logic #957 and #956.

[2015-04-14 22:38] #770 closed, assigned to mbroecheler

[2015-04-14 22:55] mbroecheler commented on #918
This is fixed with upgrade to TP3 M8 on current titan09 branch.

[2015-04-14 22:55] #918 closed, assigned to mbroecheler

[2015-04-14 23:01] mbroecheler commented on #819
This should now be resolved. Essentially, for Titan it is strongly encouraged to declare the properties keys explicitly and define their cardinality. Titan will then use that cardinality in updates as one would expect. The default cardinality remains single.

[2015-04-14 23:01] #819 closed, assigned to mbroecheler

[2015-04-14 23:02] #913 closed, assigned to mbroecheler

[2015-04-14 23:04] mbroecheler commented on #938
However, we need to be really careful here. If there is an index (external or vertex-centric) associated with that key/label, then we still need to read the original property/edge so that we properly update the index structures.

Related to #988

[2015-04-14 23:06] mbroecheler commented on #1003
That's because TinkerPop is evolving rapidly and Titan will always be a bit behind until TP3 GA comes out. We are currently working on getting Titan up to speed with TP3 M8 which will resolve this.

[2015-04-14 23:06] #1003 closed, assigned to nobody

[2015-04-15 03:16] mishraawake opened #1013 "titan core 0.4.2 bug : com.esotericsoftware.kryo.KryoException: Buffer too small: capacity: 2, required: 8"
I have a titan graph setup using following versions of software.

Cassandra version : 2.0.6

Titan version : 0.4.2

5 cassandra server with replication factor 3.

Recently, all of sudden, we have started getting following error intermittently.

com.esotericsoftware.kryo.KryoException: Buffer too small: capacity: 2, required: 8

I searched net and found that there is a bug filed relating to same er

[2015-04-15 04:41] dalaro commented on #1000
- compress-lzf (https://github.com/ning/compress): 0.8.4 vs 1.0.0
  - designed for compatibility with the C lzf tools, so it's unlikely the storage format has changed
  - couldn't find a changelog
  - this is Tatu Saloranta's, so I suspect it would not break API compat unless deliberate and necessary... 1.0.0 would be a good version to do that though
- paranamer (https://github.com/paul-hammant/pa

[2015-04-15 04:41] #1000 closed, assigned to dalaro

[2015-04-15 04:44] dalaro commented on #1005
Has this only appeared so far on BDB?

[2015-04-15 08:47] BrynCooke commented on #1005
Not sure I do almost all my testing against BDB as it it most convenient, I'll let you know if I sport it happening against any of the other back ends.

[2015-04-15 09:23] MFrancesco commented on #997
Hi, i created a [github project](https://github.com/MFrancesco/titanSolrIssue) in order to describe and reproduce the problem as better as possible.
Just take a look at unit test, the ones with the index named searchtest fails.

About using same hbase table with different indexes i'm aware of that and i'm not going to do that, thanks.

[2015-04-15 10:20] #954 closed, assigned to BrynCooke

[2015-04-15 17:21] mbroecheler commented on #1012
Add test coverage for different types of adding data to the graph: one transaction (everything goes into the same partition) vs multiple ones (multiple partitions)

[2015-04-15 22:02] #860 closed, assigned to mbroecheler

[2015-04-15 22:32] szetheli opened #1016 "Inconsistent handling of querying Set Properties"
- Declare a Vertex property as Set
  t.makePropertyKey('anks').dataType(String.class).cardinality(Cardinality.SET).make()
- Add a Vertex with two values of that property
- Query the Vertex from the g.V
  gremlin>g.V.has('anks',g.v(237824)['anks'][0])
  ==>v[237824]
- Query the Vertex from the vertex
  gremlin>g.v(237824).has('anks',g.v(237824)['anks'][0])
  No matches

When using g.V, the query ev

[2015-04-16 04:51] dalaro commented on #997
Thank you, I'll take a look.

[2015-04-16 09:28] gointosunset opened #1017 "some suggestion of building source"
Hi, i don't know how to post my suggestion, so i post as a issus.
when i begin to build titan source, i use the command follow:

1：i get error about <artifactId>asciidoctor-maven-plugin</artifactId> need support of jruby-complete 1.7.0 + , so i modify the follow configuration

plugin>
____groupId>org.asciidoctor/groupId>
____artifactId>asciidoctor-maven-plugin/artifactId>
____inherited>false/inher

[2015-04-16 23:25] mbroecheler opened #1018 "Verify that ConfigOptions only use supported primitives"
After removing Kryo, Titan does no longer support serializing arbitrary objects. All such instances have been removed inside the core graph module, but there might be cases where the configuration system relies on non-supported classes.

For instance, BerkeleyJE used some ConfigOption instances that made references to BerkeleyJE specific classes (e.g. LockMode, IsolationLevel). Those need to be re

[2015-04-16 23:28] mbroecheler opened #1019 "Better support for Timestamp"
I think we should try to make `com.thinkaurelius.titan.core.attribute.Timestamp` the standard representation of time inside Titan rather than having users rely on Date, Calendar or what-have-ya. To that effect, we should:

1) Provide methods on Timestamp to convert to and from Date and Calendar
2) Extend TimestampSerializer to automatically convert to Timestamp from Date and Calendar (by implement

[2015-04-16 23:32] mbroecheler commented on #1007
Failure is supposed to be fixed. After next upgrade of TinkerPop, verify its passing then close this ticket.

[2015-04-17 01:49] gepengxu commented on #921
I find same issue ,When Load data GSON Format to Titan cluster,by Titan-hadoop(0.5.1),
on the TitanGraphOutputMapReduce execute the EdgeMap,find such issue
java.io.IOException: Operation cannot be executed because the enclosing transaction is closed
    at com.thinkaurelius.titan.hadoop.formats.util.TitanGraphOutputMapReduce$EdgeMap.map(TitanGraphOutputMapReduce.java:534)
    at com.thinkaurelius.

[2015-04-17 09:39] BrynCooke opened #1020 "Create Lucene example config"
The Lucene example config is no longer present in the titan09 branch

[2015-04-17 13:38] BrynCooke commented on #987
I don't think we can upgrade to Solr 5.0. Instead we can upgrade to 4.10.4 Which matches the version of Lucene that elastic search requires.

[2015-04-17 16:59] #751 closed, assigned to mbroecheler

[2015-04-17 16:59] #955 closed, assigned to mbroecheler

[2015-04-17 22:16] BrynCooke commented on #987
Actually we can upgrade to Solr 5.0.
We only use the Solr client rather than embedding it so it is fine to co-exist with older versions of lucene.

[2015-04-17 23:49] mbroecheler commented on #945
Still not able to reproduce.

[2015-04-18 00:10] mbroecheler commented on #945
@dkuppitz Could you try to reproduce this and figure out what the issues is? Why is the pipeline causing such a failure where normal iteration isn't?

[2015-04-18 01:58] #973 closed, assigned to mbroecheler

[2015-04-18 01:58] #988 closed, assigned to mbroecheler

[2015-04-18 02:47] mbroecheler commented on #938
Actually, after thinking about this some more, it doesn't really make sense to check in the first place under the current TP3 property(key,value) semantics.
When setting a property, the user can specify the cardinality of the operation (single,set,list) or the cardinality is inferred from the key. In either case, the user must expect that an (explicit or implicit) call to `property(single,key,valu

[2015-04-18 02:53] #938 closed, assigned to mbroecheler

[2015-04-18 03:06] mbroecheler commented on #859
We will have:
- count() => # of relations
- edgeCount() => # of edges
- propertyCount() => # of properties

[2015-04-18 03:07] #859 closed, assigned to mbroecheler

[2015-04-18 03:31] mbroecheler opened #1021 "Support TP3's Spark Graph Computer"
by providing suitable connectors (i.e. InputFormats) for C\* and HBase and implementing a Scanner executor against Spark similar to the existing work for Hadoop.

[2015-04-20 06:20] skiefer commented on #992
I can confirm this behaviour in Titan 0.5.3.
Once I'm getting this exception, it re-occurres continuously and I cannot get out of this state:

[code]

The exception occurres when Cassandra is under heavy load.

[2015-04-20 06:28] mbroecheler commented on #795
Hello Scott,

I don't think anybody is currently working on a PostgreSQL backend. It
probably be best if you make the storage backend available as a github
repository for users to try out. We'd be happy to link to it from the
documentation.
Depending on the community feedback and your continued involvement, we can
discuss merging it into the Titan codebase. Based on past experience, we
won't direc

[2015-04-20 06:33] mbroecheler commented on #1013
That's hard to say. Often times, such bugs are caused by inconsistencies in Cassandra itself. I wasn't aware of the kryo bug, so that might be another issue.

[2015-04-20 06:45] mbroecheler commented on #1016
Yes, this is a known issue since Blueprints doesn't support SET semantics and Titan cannot overwrite the behavior. This is solved in the upcoming TinkerPop3.

[2015-04-20 06:45] #1016 closed, assigned to nobody

[2015-04-20 06:53] mishraawake commented on #1013
But the problem is that we have already used titan 0.4.2 and it was running fine for last one year. Now it has started throwing this problem. We are almost stuck.
At least we want to have some kind of sure way to debug the problem.  What is the way forward you are suggesting.
Is there a tool which will help me to remove this inconsistency. Is there any support available from titan team.

We are in

[2015-04-20 13:07] BrynCooke opened #1022 "Solr commit performance"
I have noticed the following line is causing Solr to take ages to return from mutations:

req.setAction(UpdateRequest.ACTION.COMMIT, true, true);

The offending parameters is waitSearcher that causes the action to wait until the new results are visible in the Solr index before returning. This can take several seconds.

@mbroecheler Is it safe to remove this?

[2015-04-20 13:20] #987 closed, assigned to BrynCooke

[2015-04-20 14:10] akosbordas opened #1024 "ElasticSearchIndex does not support simple types like boolean."
I would like index boolean data in my ES backend, however according to the ElasticSearchIndex class Titan supports only String, Numeric and GeoShape fields. Why is this restriction? ES supports boolean if you use it as a standalone indexer.

Btw.: This exception is a bit annoying: IllegalArgumentException("Unsupported type: " + add.value);
From the logs you can think that it's try to use the value

[2015-04-20 14:26] boliza commented on #1024
titan09 will support.
You can see this #769 ,also discuss https://groups.google.com/forum/#!topic/aureliusgraphs/YAbKt9Vscl0

[2015-04-20 15:53] BrynCooke commented on #1006
Laving open to remind me to remove the empty method in the next TP release.

[2015-04-20 15:54] #1024 closed, assigned to nobody

[2015-04-20 15:56] mbroecheler commented on #1022
check 0.5 and 0.9 branches

[2015-04-20 17:36] mbroecheler opened #1025 "Configuration read-only not working"
We should remove that config option in BerkeleyDB and enforce it inside Titan only (i.e. propagating it to tx configs).

[2015-04-20 17:41] mbroecheler commented on #1013
In that case, it does sounds like data corruption in Cassandra. Can you try
a repair? Does this issue only come up when reading certain types of data
or all data? Is your cluster in good health?

On Sun, Apr 19, 2015 at 11:53 PM mishraawake notifications@github.com
wrote:

[2015-04-20 18:07] #1025 closed, assigned to mbroecheler

[2015-04-20 18:09] dalaro opened #1026 "cherry-pick recent titan05 fixes to titan09"
Including, but perhaps not limited to, 81cfbdba7b338ed677808f8a1e141e7517e8cb43

[2015-04-20 18:40] dalaro opened #1027 "Consider LOCAL_QUORUM mode for locking"
This is a request from a long-time multi-DC Titan user.

The deployment is active-passive between two DCs.  Considering that they intend to run only one DC at a time, they're interested in reducing locking from QUORUM to LOCAL_QUORUM, in spite of the operational risk.  We could create an option for this with lots of scary warnings in its documentation, but I don't see any way to mitigate the opera

[2015-04-20 19:52] dkuppitz commented on #945
Hm, I tried a lot of scenarios with the Graph of the Gods, but I got no exception at all. Maybe you have some corrupted data?

@skiefer Does it also happen if you use the following code instead?

[code]

[2015-04-21 00:18] dalaro commented on #997
I looked at the GraphTest.testSearch(test)Index methods.  I tweaked the scripts a bit and got it running, although I'm having trouble getting repeatable results across multiple `mvn clean test` invocations without deleting the solr and hbase directories.

There's something wrong with the test configuration.  `src/test/resources/titan-hbase-searchtest.properties` looks like this:

[code]

The very

[2015-04-21 05:22] dalaro commented on #992
I just pushed a new test method for this scenario and associated fix.

[2015-04-21 05:22] #992 closed, assigned to dalaro

[2015-04-21 05:23] dalaro commented on #971
I pushed a branch containing a potential fix for this (issue_971), but it adds nearly as many lines as it removes.  This may not even be worth doing.  I also moved the milestone to titan09, since the approach I took added an `openDatabase` overload signature to the KCVS interface.

[2015-04-21 05:29] mishraawake commented on #1013
Cluster seems to be fine as i can see from nodetool. Issue comes only for certain types of data. i.e. for certain nodes. But that number is significant. Almost 100 nodes seems to have been effected. We are planning to run repair on our cassandra database and hoping error will go away.

Can you guide  me  through a method to see whether data is correct in cassandra by querying it through cql. We ha

[2015-04-21 07:04] skiefer commented on #945
This Code is is working correctly:

[code]

I dont think that the data is corrupted. The problem occurres in a simple integration test which is executed on a fresh cassandra instance.

[2015-04-21 07:13] skiefer commented on #945
I just tried to isolate the problem and I'm not able to reproduce it anymore.

[2015-04-21 16:54] mbroecheler commented on #971
If it doesn't simplify the code, then I'd say we drop it.

[2015-04-21 17:11] dalaro commented on #1018
@mbroecheler StandardSerializer maps some enum types to a simple serializer that avoids the need for ConfigOption.getEnumValue:

[code]

Most of those are Titan or TP3 enums, though at least one (TimeUnit) is part of Java.

Why do you want to move to ConfigOption.getEnumValue(string, enumclass) instead of just adding additional type mappings to StandardSerializer for the rest of the enums required

[2015-04-21 17:17] mbroecheler commented on #1018
I want to avoid cyclic dependencies. Hence, anything that is not titan-core should not use enums for serialization. That was the problem with BerkeleyJEStoreManager#ISOLATION_LEVEL - to add that to the serializer would have introduced a cyclic dependency (or some ugly reflection business).

So, within titan-core we should register the enums. Outside, we should use the helper method to go through s

[2015-04-22 12:31] #593 closed, assigned to BrynCooke

[2015-04-22 12:31] #1022 closed, assigned to BrynCooke

[2015-04-22 15:17] #1018 closed, assigned to dalaro

[2015-04-22 20:36] dalaro commented on #981
Let's discuss this in the linked PR (#982) for now.  I just replied there.

[2015-04-22 21:14] dkuppitz commented on #945
Please reopen if you find a way to reproduce it.

[2015-04-22 21:14] #945 closed, assigned to dkuppitz

[2015-04-22 22:39] #956 closed, assigned to mbroecheler

[2015-04-22 22:39] #957 closed, assigned to mbroecheler

[2015-04-22 22:39] #1001 closed, assigned to mbroecheler

[2015-04-22 22:53] mbroecheler opened #1030 "Should we disable ID flushing"
Currently, GraphDatabaseConfiguration.IDS_FLUSH default to true, meaning that ids are assigned to elements upon creation. This has the advantage that ids are directly available to the user (and not just after commit) but has the distinct disadvantage that graph partitioning doesn't work well since we cannot reason about optimal placement on a just-created element.

Hence, it should be considered t

[2015-04-23 00:56] #733 closed, assigned to mbroecheler

[2015-04-23 01:01] dalaro commented on #488
@mbroecheler is documentation (and perhaps additional testing) the only remaining task in this issue?

ManagmentSystem.updateIndex's `REMOVE_INDEX` case seems to have logic for removing all but mixed graph indices, for which an exception directs the user to drop the index manually in the backend:

[code]

For large composite indices, there are two helper methods on `MapReduceReindexJobs` that spin

[2015-04-23 02:10] mbroecheler commented on #488
Yes, it is my understanding that the implementation is complete (modulo bugs).

[2015-04-23 04:59] dalaro commented on #1005
In general, it's not too hard to imagine a BDB read from `ManagementUtil.awaitGraphIndexUpdate` interfering with some other concurrent operation.  But I don't understand how that could happen in this test.  I thought the log from a failed execution might help, but 50 executions of `BerkeleyElasticsearchTest.testIndexUpdatesWithoutReindex` in a loop running in the background wasn't enough to genera

[2015-04-23 05:14] #1012 closed, assigned to mbroecheler

[2015-04-23 11:09] BrynCooke opened #1031 "Disable transaction cache for compute"
Fixes compute union tests in test suite.
The issues is that when a compute traversal takes place adjacent vertices end up in the transaction cache. These vertices are not full vertices you cannot get properties or labels from them.

If a vertex program subsequently starts at one of the vertices then it will fail as it will be unable to get retrieve the property information or traverse to adjacent

[2015-04-23 15:47] #984 closed, assigned to BrynCooke

[2015-04-23 15:52] BrynCooke opened #1034 "SubgraphStrategyProcessTest is currently failing"
[code]

[2015-04-23 16:26] BrynCooke commented on #1034
Stephen is currently looking at this as a fix on the TP side.

[2015-04-23 16:37] mbroecheler commented on #1034
This exception is due to the SubgraphStrategy accessing properties on adjacent vertices which causes trouble under the GraphComputer computing style.

[2015-04-23 17:09] okram commented on #1034
Hm. This works for `SparkGraphComputer` and `GiraphGraphComputer`. ??

[2015-04-23 18:37] mbroecheler opened #1035 "Add deep profiling information"
by extending the profile step functionality added in TP3 M8 with information on index hits, cache performance, etc. With @rjbriody

[2015-04-23 19:09] dalaro opened #1036 "Resolve testVertexTTLWithCompositeIndex failures"
testVertexTTLWithCompositeIndex fails on ThriftGraphTest (and perhaps on other concrete subclasses that inherit this method from TitanGraphTest).

This seems to pass back on a725dbfa886dcf45147cce22ddf921d93f53c96d, the last TP3M7-era commit on titan09.  I'm going to bisect.

I'm making this an issue since any TTL-related test failures block #971, IMO.

[2015-04-23 19:11] dalaro commented on #971
I reworked this and pushed new commits on the issue_971 branch.  I'm not going to merge it until all TTL tests are passing, and there's at least one preexisting failure that I need to resolve first (#1036).

Anyway, in the branch right now, KCVS defines two openDatabase methods:
- `openDatabase(String name, StoreMetaData.Container options)` with no default impl
- `openDatabase(String name)` with a

[2015-04-23 19:25] spmallette commented on #1034
i'm am mostly sure that this problem is due to strategy conflicts that will be sorted out before GA.

[2015-04-23 19:44] dalaro commented on #980
I adapted the last two lines from your example.  I ran that on titan09 in gremlin.sh (at d704116e9577867e9cff5d962bafd02e43f405c2, using Cassandra + ES).  It seemed OK:

[code]

Then adapted your whole example in gremlin.sh, wondering if there was some obscure interaction between the last two lines and the foregoing ones that you included.  I still don't see anything broken:

[code]

Can you pleas

[2015-04-24 00:58] boliza commented on #980
I using titan0.5.4,have not test in titan09.I will try again

[2015-04-24 00:59] dalaro commented on #980
I'll try that.

[2015-04-24 03:03] dalaro commented on #980
Seems OK on the 0.5.4 tag:

[code]

[2015-04-24 03:03] #1036 closed, assigned to dalaro

[2015-04-24 03:08] dalaro commented on #488
I wrote docs for this today in a local branch.  The gremlin.sh-pastable sample code snippet that I wrote to remove a composite graph index on BDB executes without errors and seems innocuous enough up through the steps required to disable the index and await its state change to `DISABLED`.  An IndexRemoveJob on it then runs but doesn't appear to do anything: ScanMetrics show 0 for both FAILURE and

[2015-04-24 04:13] dalaro commented on #862
TP3M8 appears to do what we wanted without any additional changes in Titan.  I don't know why.  I'm not even sure if this ninja fixed elsewhere in Titan, or if it's a consequence of a TP3M7 -> M8 change.  However, Fulgora appears to spit out DetachedVertex in its groupCount map whereas Titan OLTP seems to spit out CacheVertex in the same collection.  There could just be a flaw in my test technique

[2015-04-24 04:13] #862 closed, assigned to dalaro

[2015-04-24 08:00] CasperWW opened #1037 "Suggestion: Native depth X searches"
I would love to see native support for breadth first searches in depth.
Ideally some custom call like:

[code]

Right now I'm doing depth X searches via the [Gremlin Pipe API](https://github.com/tinkerpop/gremlin/wiki/Using-Gremlin-through-Java), but when I compare the performance of depth 2 with a native call (MultiVertexQuery), the native is just so much faster. My guess is that it is because of

[2015-04-24 09:03] #1020 closed, assigned to BrynCooke

[2015-04-24 09:45] BrynCooke commented on #1019
@mbroecheler
I think what this is saying is that all temporal data will be stored as titan.Timestamp internally, but that also when users retrieve that data they would get back a titan.Timestamp which they can then convert in to the appropriate format.

I'm not sure that this is such a good idea as Java already has so many different representations of Temporal data, and we don't really want to add

[2015-04-24 15:06] BrynCooke opened #1039 "Kryo serialization error with gremlin server."
Config is now fixed but am getting a weird error

[code]

[2015-04-24 15:08] spmallette commented on #1039
When do you see that message?

[2015-04-24 15:12] BrynCooke commented on #1039
When I connect via gremlin.sh
:remote connect tinkerpop.server conf/remote.yaml //OK
:> g.V().values('name') //ERROR

In addition when I try the curl as per the TP docs I get:
curl "http://localhost:8182?gremlin=100-1"
not a WebSocket handshake request: missing upgrade

[2015-04-24 15:15] BrynCooke commented on #1039
This is my remote.yaml:

hosts: [localhost]
port: 8182
serializer: { className: org.apache.tinkerpop.gremlin.driver.ser.GryoMessageSerializerV1d0, config: { serializeResultToString: true }}

[2015-04-24 15:17] spmallette commented on #1039
you can't curl unless Gremlin Server is configured with the REST channel - it isn't by default.  if you are in the console and using `:>` what happens when you just do a `1+1`? does that work?

[2015-04-24 15:22] BrynCooke commented on #1039
I get the same error

[2015-04-24 15:23] spmallette commented on #1039
eek - what version of TP3?  M8? master?

[2015-04-24 15:24] BrynCooke commented on #1039
M8-incubating

[2015-04-24 15:25] spmallette commented on #1039
i assume this only happens when you have titan configured in Gremlin Server?  it works otherwise (with like TinkerGraph)?

[2015-04-24 15:30] BrynCooke commented on #1039
I took out all configured graphs and tried
:> 1+1
and got the same error.
I'm not saying it isn't Titan related but at least the graph isn't involved.

Could this be Kryo version issues?

[2015-04-24 15:34] BrynCooke commented on #1039
OK. I got it. The gremlin-server.yaml still had the old Kryo serializer it in rather then the new Gryo serializer. I am surprised it didn't blow up on startup though.

[2015-04-24 17:41] mbroecheler commented on #1019
Yes, that's a good idea. Is there also a class for duration now that we
could use instead of StandardDuration?

However, we should nevertheless increase our utility support for whatever class we ultimately end up using so that we automatically convert from Date, Calendar, String to that format if such is provided by the user. Likewise, we should think about how such data is returned to the user -

[2015-04-24 19:42] mbroecheler commented on #1031
@BrynCooke This can be closed, right?

[2015-04-24 19:44] mbroecheler commented on #1037
@CasperWW, this will be solved with Titan 1.0 which provides multi-query support through Gremlin. Please check out Titan 1.0 once we can release it and let us know whether this meets your demands.

[2015-04-24 19:44] mbroecheler commented on #1037
Solved in 1.0. Closing for now.

[2015-04-24 19:44] #1037 closed, assigned to nobody

[2015-04-24 19:44] BrynCooke commented on #1019
Yes there is duration support. Also serialisation and parsing to ISO formats is easy. Currently we have code that does this.
We can still have a converter that accepts date, calendar etc as per the original suggestion. It would be up to the user to convert from instant back to date or calendar if they wanted to. (They won't unless they are calling legacy code)

[2015-04-24 20:44] BrynCooke commented on #1031
Yup

[2015-04-24 20:44] #1031 closed, assigned to nobody

[2015-04-25 01:40] dalaro opened #1040 "Fix IndexRemoveJob on MapReduce"
Determine why IndexRemoveJob.keyFilter sees illegal keys (buffer underrun during decoding) when attempting to remove a composite graph index on MR.  Erroneously running against the edgestore CF instead of graphindex (just a guess)?

Probably needs test coverage.

[2015-04-25 02:30] mbroecheler opened #1041 "Investigate lower bounds for (key-)slicequeries"
Investigate two occurrences where the lower bound is an all-0 bytebuffer longer than 1 (which can cause not all rows or columns being retrieved since a shorter all-0 bytebuffer would be considered smaller).
In ConsistentKeyLocker: LOCK_COL_START
In ConsistentKeyIDAuthority: LOWER_SLICE

Interestingly, changing LOWER_SLICE to zeroBuffer(1) causes test failures in VertexIDAssignerTest and its not cl

[2015-04-25 02:45] mbroecheler commented on #1041
Actually, the test failure has nothing to do with this and is a random failure (due to randomized id allocation) which I am looking into. SO, this is likely a safe change but we should be careful nevertheless since this is core stuff.

[2015-04-27 02:55] gepengxu opened #1042 "why the configuration of the cluster.max-partitions with issue?"
When I want enable Titan-0.5.1-hadoop config with HBase,The HBase with 17 instance,I just want to enable cluster.partition and cluster.max-partitions
When I set in the rexster-hbase.xml with such conf information
                                &lt;cluster.partition&gt;true&lt;/cluster.partition&gt;
                &lt;cluster.max-partitions&gt;34&lt;/cluster.max-partitions&gt;
when Start the inst

[2015-04-27 02:57] gepengxu commented on #1042
the configuration is as following
&lt;cluster.partition&gt;true&lt;/cluster.partition&gt;
&lt;cluster.max-partitions&gt;34&lt;/cluster.max-partitions&gt;

[2015-04-27 05:03] mishraawake opened #1043 "unparsable data present in cassandra."
Hi,
Relating to bug (https://github.com/thinkaurelius/titan/issues/1013) we have found following findings.
1. Even on repairing cassandra cluster bug persists.
2. On further investigation we found that, for a particular vertex (with titan id : 291494040 and cassandra row key id: 22bfb130 in edgestore), the data present in cassandra is unparsable by titan.  For your reference following data are pre

[2015-04-27 13:59] rjbriody commented on #1035
@mbroecheler,  some notes on expected usage of the TinkerPop Metrics framework:

The metrics for the Traversal Steps are created automatically and held/managed by the StandardTraversalMetrics class.

In Titan, an individual step's `MutableMetrics` can be augmented by
- adding annotations via `setAnnotation`
- adding nested metrics via `addNested`

I think it makes sense for Titan to populate 2 sep

[2015-04-27 14:11] BrynCooke opened #1044 "Groovy compute test cases currently failing"
There are two issues:
TitanLocalQueryOptimizerStrategy cannot retrieve configuration when running against the compute empty graph. Therefore if the empty graph is detected then this strategy should be a no-op.

and script related stuff on the TP side.

https://issues.apache.org/jira/browse/TINKERPOP3-644 - Compute IDs changing from Long to Integer in groovy script
https://issues.apache.org/jira/br

[2015-04-27 19:39] mbroecheler opened #1045 "Initial Spark support"
as a first step toward #1021, it seems we can get Spark support in Titan by simply reusing the existing InputFormats for Hadoop in Spark.
While this may not be the most efficient way to go about this, it would provide us with an easy first integration opportunity to investigate Spark support and get some feedback in the Titan 0.9M2 release.

It is unclear as to what exactly is needed here, but @ok

[2015-04-28 09:14] dalaro commented on #1040
My guess was right.  Backend.EDGESTORE_NAME was hardcoded in both CassandraBinaryInputFormat and HBaseBinaryInputFormat.  I made it string config option.  It still defaults to Backend.EDGESTORE_NAME.

As part of this issue, I also tried to simplify the user-facing API for starting Hadoop MapReduce index jobs.  The new API introduced in the linked PR (#1046) replaces the old MapReduceIndexJobs clas

[2015-04-28 09:14] #1040 closed, assigned to dalaro

[2015-04-28 09:19] dalaro commented on #488
Matthias fixed a subtle related issue with IndexRemoveJob's slice bounds in a457c6bc3a440d72e045436f8be7a93948568f2e.  I also reworked the API around this in #1040.  The documentation for dropping indexes (and reindexing) went in as PR #1047.

[2015-04-28 09:19] #488 closed, assigned to dalaro

[2015-04-28 22:50] dalaro commented on #1045
Here's an old repo that might be tangentially useful on the input side.  It's the simplest possible proof-of-concept that I could concoct that wrapped a Titan 0.5 inputformat in a Spark RDD: https://github.com/dalaro/titan-spark-test.  Haven't touched it in a couple of months though.

[2015-04-28 23:17] mbroecheler commented on #1045
From what I gathered this wouldn't even be necessary since all we need is the Hadoop InputFormat, right @okram.

[2015-04-29 03:26] dalaro commented on #971
Merged #1049

[2015-04-29 03:26] #971 closed, assigned to dalaro

[2015-04-29 09:03] dalaro commented on #981
Summarizing the discussion in #982: the point of this issue is to allow Titan to remove a finite TTL from an existing type, such that new elements of that type have no TTL.  I don't think #982 can be merged as-is, but the goal is still feasible.

I played with treating `setTTL(-1)` and `getTTL` returning `-1` as indicators of live-forever status on a type, but it was tricky to root out existing as

[2015-04-29 09:24] CasperWW opened #1050 "Update to Cassandra 2.1"
Cassandra 2.1 [shows](http://www.datastax.com/dev/blog/cassandra-2-1-now-over-50-faster) 50% performance gain. When I run Cassandra 2.1 in combination with Titan, it results in error. Can Titan-Cassandra be updated to support 2.1?

[2015-04-29 09:29] BrynCooke opened #1051 "Index gets stuck in installed state if a transaction is open"
If the user has an open transaction then new index will never make it to installed state

[code]

[2015-04-29 09:29] CasperWW commented on #1050
Results show no improvements on thrift client, but only on native query language (CQL)

[2015-04-29 09:29] #1050 closed, assigned to nobody

[2015-04-29 09:36] CasperWW opened #1052 "Cassandra 2.1 CQL3 Support"
Cassandra 2.1 CLQ3 [shows](http://www.datastax.com/dev/blog/cassandra-2-1-now-over-50-faster) 160% and 150% (read and write respectively) performance gain over the deprecated Thrift framework. A huge optimisation with the combination Titan-Cassandra can be made.

[2015-04-29 10:01] BrynCooke opened #1053 "NPE when waiting for index status of edge index"
[code]

[code]

[2015-04-29 10:03] BrynCooke commented on #1053
Oops this was a relation index. But it could have warned me.

[2015-04-29 10:03] #1053 closed, assigned to nobody

[2015-04-29 11:26] BrynCooke opened #1054 "Can't get nested transactions to work."
[code]

[2015-04-29 14:27] BrynCooke commented on #1039
Fixed as part of https://github.com/thinkaurelius/titan/issues/872

[2015-04-29 14:27] #1039 closed, assigned to BrynCooke

[2015-04-29 14:28] BrynCooke commented on #872
I've made a first stab at this. If there are other specific doc issues we should open them up individually.

[2015-04-29 14:28] #872 closed, assigned to BrynCooke

[2015-04-29 14:32] BrynCooke opened #1056 "'as' step defeats index usage"
For some reason adding an 'as' step will cause the following query to do a full traversal

[code]

[2015-04-29 14:34] BrynCooke opened #1057 "Force close instance not working"
I can't run the code in the docs:

[code]

[2015-04-29 14:35] BrynCooke opened #1058 "Spam in the gremlin console"
When using cassandra:

15:45:23 ERROR org.apache.cassandra.db.Memtable  - MemoryMeter uninitialized (jamm not specified as java agent); assuming liveRatio of 10.0.   Usually this means cassandra-env.sh disabled jamm because you are using a buggy JRE;  upgrade to the Sun JRE instead

[2015-04-29 15:43] #1058 closed, assigned to BrynCooke

[2015-04-29 16:40] mbroecheler opened #1059 "Auto-detect and kill extremely long running transactions"
to help with cases where users forget to close them. The threshold would be configurable. This will also help with index updates (see #1057 for more information).

[2015-04-29 16:41] mbroecheler commented on #1051
Yes, this is unfortunately a feature and not a bug. We cannot install an index while a transaction is still open, because that transaction might interact with the database using the old index state (since that information is cached and cannot be changed mid-transaction). Hence, we need to wait for all tx to close before we can signal the update.
@BrynCooke Please point this out in the documentatio

[2015-04-29 16:45] mbroecheler commented on #1042
As specified in the documentation, max-partitions must be a power of 2. Hence, 34 is an invalid setting. 32 is valid as is 64.

[2015-04-29 16:45] #1042 closed, assigned to nobody

[2015-04-29 17:41] mbroecheler opened #1060 "Default property(key,value) behavior"
Once https://issues.apache.org/jira/browse/TINKERPOP3-627 is fixed, we should
1) remove the configuration option in Titan that configures the default behavior
2) eliminate 2 TODOS that reference that issue where we had to add a hack in Titan to get around this

[2015-04-29 17:47] mbroecheler commented on #1043
@mishraawake I have only seen this data corruption occur in two contexts:
1) Part of the schema information was lost. This would explain why some of the entries can no longer be read since the needed schema information cannot be found
2) Cassandra was operated sub-quorum or in a split-brain scenario for a while before the cluster subsets where merged back together and invalid data was merged into

[2015-04-29 18:27] dalaro commented on #981
I accidentally wrote #971 instead of #981 into multiple commits on the issue_981 branch.  I rebased it as issue_981_bis to fix those typos.  Matthias answered my only lingering question in that branch about an assertion change (https://github.com/thinkaurelius/titan/commit/addb1559b976c172d8297361c7e9a9ef3d940749#commitcomment-10968686).  I think this is ready to be turned into a PR and merged.

[2015-04-29 19:49] mbroecheler opened #1061 "HBase TP3 tests require M9"
TP3 test suite currently opens a graph before @BeforeClass gets called. This is fixed in SNAPSHOT but requires an M9 release of TP3 for the tests to work in Titan.

This issue just keeps track of this dependency. No need to do anything.

[2015-04-29 21:02] mbroecheler opened #1062 "Always log all schema changes"
so that a schema history can be produced at all times to investigate potential schema issues.
Provide a means to retrieve the schema history.

[2015-04-29 21:48] mbroecheler commented on #1057
Actually, that's not an issue but outdated documentation. See, we originally just returned the list of all open instances. However, in case of multiple running instances, people didn't know which one was which. Hence, we added "(current)" to the instance that was running the query so users could forcefully shut down all others.
Hence, the above code should be replaced by something that shows the a

[2015-04-29 22:24] mbroecheler opened #1063 "Follow up on labeled step reordering"
in optimization strategies. It seems weird that filter steps can be pulled over labeled identity steps since that seems to invalidate the labeling semantics.
Started a discussion on dev@tinkerpop - follow up.

[2015-04-29 23:42] mbroecheler commented on #1035
Temporarily blocked on https://issues.apache.org/jira/browse/TINKERPOP3-651

[2015-04-30 01:19] #1056 closed, assigned to mbroecheler

[2015-04-30 01:19] #1054 closed, assigned to mbroecheler

[2015-04-30 01:20] mbroecheler opened #1064 "Debug BerkeleyLogTest"

[2015-04-30 04:49] mishraawake commented on #1043
1. First point is looking more likely  but if we look at the key name "0x010b", Following sequence of call happens IDHandler. readEdgeType() -> VariableLong.readPositiveWithPrefix() -> VariableLong.readUnsigned(). The last call fails. After looking at code it seems that, its not referring for schema to parse that data at all. It fails because , I think, this key name is not valid for titan (0.4.2)

[2015-04-30 05:24] mbroecheler commented on #1064
Fixed by 4f45806aa2f91763286d03171d191e06a13ff6b8

[2015-04-30 05:24] #1064 closed, assigned to mbroecheler

[2015-04-30 09:07] BrynCooke commented on #1034
@spmallette Is there an issue on the TP side that tracks this issue? I would like to link to it.

[2015-04-30 09:32] #1057 closed, assigned to BrynCooke

[2015-04-30 10:41] spmallette commented on #1034
my best guess is that this will be resolved via: https://issues.apache.org/jira/browse/TINKERPOP3-593

[2015-04-30 14:37] monkegoist opened #1065 "Support HBase 1.0"
HBase 1.0 was released 2 months ago. Titan is currently compatible only with 0.98. It would be great if you, guys, added support for 1.0 as well.

[2015-04-30 15:48] okram commented on #1045
I wrote an email to you guys, but here it is for issue record:
1. Reading from Titan will be easy as that is simply setting the `InputFormat` to be `TitanCassandraInputFormat` in your Hadoop properties file --- along with the various properties that Titan requires.
2. Writing to Titan is a different story. `TitanCassandraOutputFormat` will not work as that was something very specific to Faunus whe

[2015-04-30 16:13] abased commented on #950
with the release of TP3 M8, does this now work?

[2015-04-30 18:54] maccam912 opened #1066 "Connecting to Solr when authentication is required?"
I couldn't find anything in the documentation about how to connect to Solr if I have basic auth enabled, or even if it is possible. I asked here too: http://stackoverflow.com/questions/29973191/titan-securing-solr-with-basic-auth-as-an-index-backend

Right now titan silently fails to connect to Solr, and I would not know it didn't work if I didn't look directly at what Solr was doing. Is it planne

[2015-04-30 20:17] mbroecheler opened #1067 "Investigate HBase specific test failures"
So, the only thing for us to look into would be:

1)
GraphConstructionTest.shouldMaintainOriginalConfigurationObjectGivenToFactory:73->lambda$shouldMaintainOriginalConfigurationObjectGivenToFactory$100:74

which is probably related to some extra HBase options that are automagically inserted into the config but not copied and result in a discrepancy that this test checks for. I doubt this is a majo

[2015-05-01 00:31] mbroecheler opened #1068 "Create test profile for maven that completes in reasonable time with good coverage"
this should EXCLUDE all of the TinkerPop3 tests, all performance and all memory tests.

Is it possible to make this the default profile that is executed when running mvn clean install? If so, we should have another profile that includes TP3 tests and finally a profile that includes those plus performance and memory.

[2015-05-01 00:36] mbroecheler commented on #1035
This has been implemented under the assumption that Titan's custom steps can get access to a @MutableMetrics@ object.
Hence, hooking this up with the work @rjbriody is doing in TP3 should be trivial. Once that is complete, this feature needs to be documented.

[2015-05-01 01:03] dalaro commented on #1068
Sounds good.  I'll document the options controlling the Maven test set either in RELEASING.md (which exists already) or a new file like BUILDING.something.

[2015-05-01 05:17] dalaro commented on #1041
I tweaked these and added comments around them with my rationale (080b8be609baf8cbadc2719ce1566965a35c9046).  I also found no failure when changing `LOWER_SLICE` to `zeroBuffer(1)`.

[2015-05-01 05:17] #1041 closed, assigned to dalaro

[2015-05-01 05:39] dalaro commented on #1067
1. Still investigating.
2. The timeout was red herring.  The worker thread upon which the foreground thread had timed out had a totally different problem: buffer underrun in HBaseKCVS.RowIterator when attempting to convert a rowkey into a long.  This seems to be an old assumption in RowIterator that all rowkeys will be interpretable as longs, but this is not true when StandardScannerExecutor runs

[2015-05-01 06:04] mbroecheler opened #1070 "Update OperationCountingTest"
and re-add ignored test cases. Make sure numbers line up right.

[2015-05-01 06:30] dalaro commented on #1045
Reading is indeed pretty simple.  I ran into a thorny classpath conflict around Netty that affects Spark, but I made some temporary hacks to get it working, though I need to return to this to see what else is affected by the conflict.

Anyway, with Netty classpath conflicts out of the way, I could read from Titan-Cassandra after preloading GotG through OLTP:

[code]

[code]

I'm fuzzy on how the w

[2015-05-01 06:35] dalaro commented on #1045
I also just noticed that vertices without relations do not appear in Spark count or valueMap output.  This could be due to CassandraInputFormat (i.e. the Titan bits involved here).  I'm not sure at the moment.

[2015-05-01 14:03] okram commented on #1045
@dalaro -- what do you mean "vertices without relations." You mean edge-less vertices? I don't have any test cases that test with edge-less vertices so perhaps its a Spark thing...... ?? eek. We may have to create a new `@LoadGraphData` with a toy graph that has "corner case topologies": edge-less vertices, self-loops, zero property knows-edges and single property knows-edges, etc. cc/ @spmallette

[2015-05-01 17:39] dalaro commented on #1045
@okram right, `g.addVertex() ; g.tx().commit()`.

At its storage level, Titan doesn't really allow for a relationless vertex.  There's a hidden system relation on every extant vertex, even if a vertex hase no user-visible relations.  I suspect that I'm not translating that into a TP3 compatible analog in the inputformat (if one exists in TP3).

[2015-05-01 17:48] okram commented on #1045
An edge-less vertex is simply a vertex with `v.edges(BOTH).hasNext() == false`. It is nothing "special" in TP3. Is there a way for you to test edge-less-ness at the `TitanXXXInputFormat` level? That is, without `SparkGraphComputer`. In other words, just get a `RecordReader` from your `InputFormat` and iterate to see if edge-less vertices come back. See the following "file-based" `InputFormat` test

[2015-05-01 19:06] mbroecheler opened #1071 "Update docs to new TP3 API"
which means, specifically:
- For all has() constraints that are not equality constraints we need to use the new predicate semantics, e.g. has("weight", P.gt(5.0)) instead of has("weight",T.gt, 5.0)

[2015-05-01 19:30] mbroecheler opened #1072 "Update to TP3 M9"
- remove between predicate and other non-atomic predicates that have been removed in TP3. Review changes to HasContainer/Step.
- as in TinkerGraphStepStrategy, fold labels onto each other in optimizing steps away rather than introducing an identity step.

[2015-05-01 20:03] mbroecheler commented on #950
This should work soon. There are still some issues around Strategy application in TP3 that should get fixed by M9. It should be better now, but some tests are still failing.

[2015-05-01 20:04] mbroecheler commented on #1066
It is my understanding that this is currently not supported. Shouldn't be too hard to ad though if somebody wants to take a crack at it.

[2015-05-01 20:14] mbroecheler commented on #1027
I have strong reservations against allowing LOCAL_QUORUM for locking since the reason somebody would use locking is to ensure consistency across the entire cluster.
The only use case where this would be useful is if you know that all writes will only ever happen in one DC and you can guarantee that. However, this makes it incredibly easy to shoot yourself in the foot since there is no way for Tita

[2015-05-01 21:42] mbroecheler commented on #1021
This ticket is effectively addressed by #1045

[2015-05-01 21:42] #1021 closed, assigned to dalaro

[2015-05-02 01:47] dalaro commented on #1045
Working with Marko, I did the following on this issue today:
- ran BulkLoaderVertexProgram on Giraph, loading Grateful Dead from Gryo into Titan-Cassandra.  BLVP needed minor changes to catch up with the new Kryo default registration list (Long[] -> long[]; no nulls to consider here).
- ran BulkLoaderVertexProgram on Spark, loading Grateful Dead from Gryo into Titan-Cassandra.  Ran into an odd con

[2015-05-02 01:50] dalaro commented on #1045
Related commits:
- b4e62ef44976ec858bd0f27b2b013fefcc5be835
- 1a8647958c0242bd32142814f4d9dccfee295562
- 607eaba228f5f811fc48900052aaf8e1baa81bbb
- 61175c8dd9d6a5217e652f9385287686f52084e4

[2015-05-02 04:10] dalaro commented on #981
Merged #1069

[2015-05-02 04:10] #981 closed, assigned to dalaro

[2015-05-02 05:01] dalaro commented on #1067
1. is fixed through f20489a9280c99a718b61e2569fe613ba16d2a0a (commit message has details)

[2015-05-02 05:01] #1067 closed, assigned to dalaro

[2015-05-02 06:18] boliza commented on #980
seems fixed in commit df42713

[2015-05-02 06:18] #980 closed, assigned to dalaro

[2015-05-03 18:24] ullasAK opened #1073 "Unable to load Hbase on titan with Windows 7"
I am struggling to set up titan with Hbase . I would like to list of things I did for set up

Downloaed titan-hbase
downloaded cygwin
Installed Hbase ( referred this http://hbase.apache.org/cygwin.html)
Hbase in running in cygwin .
5.Titan is running on my windows and basic gremlin console is coming up.
Now I want to load Hbase as storage in titan . I am not understand how to configure in titan so

[2015-05-05 03:44] dminkovsky commented on #1065
https://groups.google.com/forum/#!topic/aureliusgraphs/qtphiLXgcMM

[2015-05-05 11:01] dalaro commented on #1068
This is pushed to titan09, though not well tested.  The TP3 tests should be disabled by default.  To reenable them, add `-Dtest.skip.tp=false` to the Maven command line.  For example: `mvn clean install -Dtest.skip.tp=false`.  This is documented in BUILDING.md in the root of the repo.

[2015-05-05 11:01] #1068 closed, assigned to dalaro

[2015-05-05 11:06] dalaro commented on #1045
The netty dependency issue was fixed in 0c36a4ff1cffe26162d75df42f97a2ce19da4924.  I tweaked the configuration keys and changed BLVP's ResultGraph default to `NEW` in fab0f61a025f824f76980d54c3aa2cfa435a8c79.  These issues were all obviously problems in Titan.  The remaining issues are either likely to be TP3 issues (like the seeming difference in SparkGC and GiraphGC config processing) or ambiguo

[2015-05-05 11:06] #1045 closed, assigned to dalaro

[2015-05-05 11:14] dalaro opened #1074 "Port #931 / #973 / #988 from titan05"
These titan05 commits seem to be logically applicable on titan09, but StandardTitanTx has changed too much for a cherry pick to make any sense:
- 43690b3bea97373aca20569e35c442bd4b17289f
- 41fa56113a19a58a4b93cc15c7ad386b98844595
- 4962db3fafb72e31f5d1f77c1c19b520f3feb960
- 84138c642657082101e492941577879225172992
- 879c9a16cddc117291e6bc9e82aa5e76a2666b3c
- 82d629f5c2ec8451858f144b81c13f9494990d6

[2015-05-05 11:15] dalaro opened #1075 "Port #963 (Cassandra widerows) to titan09"
The Hadoop inputformats were completely rewritten between titan05 and titan09.  Cassandra widerow support was implemented on titan05, but those changes no longer apply meaningfully on titan09.

   Related commits:
- 3c776d48e6d7d40359c2d7080409fd590d695728
- 3736b37212d3a9e2278e44e4b070ba02b32cceea

[2015-05-05 11:16] dalaro commented on #1026
Translating titan05 cherries that touched StandardTitanTx to titan09 got quite a bit uglier than I expected.  I pushed cherry-pick commits to catch titan09 up with most recent developments on titan05.  The following issues and commits are _not_ included in that batch of cherries.
- skipping an avoidable read on certain Cardinality.SINGLE property retrievals (#931)
  Related commits:
  - 43690b3bea

[2015-05-05 11:16] #1026 closed, assigned to dalaro

[2015-05-05 13:27] okram commented on #1045
@dalaro --- if there are aspects you think are wrong because of TP3, please file issues on our issue tracker. Thanks -- that was cool to see it work!

[2015-05-05 14:02] fitzoh commented on #1066
Have you tried embedding the credentials in the SOLR url?

[code]

We're currently using this method with DSE Search without any issues (other than #837).

[2015-05-05 18:06] dalaro commented on #1074
@mbroecheler you mentioned that this may have already been separately implemented on titan09.  43690b3bea97373aca20569e35c442bd4b17289f introduced the test method `testSettingProperty` and later commits iterated on it; it did not appear to pass in at least two incarnations.  However, I'm uncertain whether that was due to missing functionality in titan09 or a flaw in the test at that specific revis

[2015-05-05 18:14] dalaro commented on #1074
Also: 43690b3bea97373aca20569e35c442bd4b17289f introduced MetricsInstrumentedStoreManager to capture metrics on `mutateMany` calls, and that will remain worth retaining even if `testSettingProperty` and the `verifyCardinalityConstraint` bits in STTx fall by the wayside.

[2015-05-05 18:30] mbroecheler commented on #1060
This has been done in the upgrade to TP3M9rc1

[2015-05-05 18:30] #1060 closed, assigned to mbroecheler

[2015-05-05 18:31] mbroecheler commented on #1035
This has been added on the titan09 branch. @rjbriody Please test and let us know whether the information comes through.
I the information can be retrieved through TP3 this issue can be closed.

[2015-05-05 18:38] mbroecheler commented on #1074
Yes, keeping the instrumentation around StoreManager and the additional test cases will be critical. What I was trying to say is that the fixes in 84138c642657082101e492941577879225172992 and dbae2d6d7a14ff16a108ab3f62e8f7233ed0ab50 where manually applied to titan09 since the respective logic in StandardTitanTx looks different now.

In many ways this is related to #1070 and we should:
1) Make sure

[2015-05-05 19:09] simtitanuser opened #1077 "IllegalArgumentException: Cannot access a removed vertex - please explain"
Hi,
Using gremlin I have the following piece of code:
g = TitanFactory.open(conf);

t = (long) (System.currentTimeMillis()/1000 - (60 \* 60 ));
x = [];
g.V.hasNot('SHA256', null).filter{it.lastSeenDate > t}.store(x).outE.inV.remove();

The last line is throwing the exception (as per title). It doesn't happen every time I run, just occasionally, but I've witnessed exactly the same behavior when run

[2015-05-05 19:39] dalaro opened #1078 "Improve StandardTitanGraph.compute"
StandardTitanGraph's `compute(Class graphComputerClass)` method implementation throws an exception unless the `graphComputerClass` argument equals `FulgoraGraphComputer`.

@okram recommended accepting TP3-standard graph computer classes in addition to `FulgoraGraphComputer`.  Here's his sample code giving the general idea:

[code]

[2015-05-05 20:10] mbroecheler opened #1079 "Implement vertexFeatures.getCardinality(k)"
on TP3M9rc2 by looking at the property cardinality.

[2015-05-06 09:01] #1019 closed, assigned to BrynCooke

[2015-05-06 14:14] BrynCooke opened #1080 "CoreTraversalTest.shouldThrowExceptionWhenIdsMixed Failing"
I've got the code to fix this but we need to wait for the new TP3 M9 RC before I can apply it.

[2015-05-06 18:07] mbroecheler opened #1081 "Review Titan's TP3 Strategies"
which are all in the com.thinkaurelius.titan.graphdb.tinkerpop.optimize package.

[2015-05-06 19:10] mbroecheler opened #1082 "Update LocalQueryOptimizer"
by removing this line when we move to TP3-SNAPSHOT:
https://github.com/thinkaurelius/titan/blob/titan09/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/tinkerpop/optimize/TitanLocalQueryOptimizerStrategy.java#L39

[2015-05-06 20:18] mbroecheler opened #1083 "Edge/Property ID handling in TP3 IO"
Titan's relation ids (i.e. edge and vertexproperty ids) are complex objects since we want to be able to support efficiently retrieving edges by their id, i.e. `g.E(edge.id())` should be an efficient operation. In order to do so, Titan returns a RelationIdentifier object in edge.id() which contains extra information needed to quickly locate the adjacency list and locate the edge within.

However, t

[2015-05-06 21:10] spmallette commented on #1083
Let me think on this one....there might be a way to do that if you need to.

The recommendation for GraphSON is to now serialize as a String rather than a complex object (unless the users requests that types be embedded). See the example in `IoTest` and follow that example:

https://github.com/apache/incubator-tinkerpop/blob/28828d4775cc11bcacc710b126e4de4c34fc87b3/gremlin-test/src/main/java/org/a

[2015-05-07 05:15] mbroecheler commented on #1083
@spmallette Take a look at:
https://github.com/thinkaurelius/titan/blob/titan09/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/tinkerpop/io/graphson/TitanGraphSONModule.java

This is pretty much the same thing that you implemented. And it does to a .toString(). However, when reading graphson, this is being returned:

[code]

Any idea what might be going on here?

Also, the "withType" imp

[2015-05-07 08:26] #1006 closed, assigned to BrynCooke

[2015-05-07 10:39] spmallette commented on #1083
The `serializeWithType` method should look like mine.  That's what gets called when a user requests "type embedding".  When they do that GraphSON can deserialize back to a `EdgeRelation` object.  I assume that since you don't have that, you are getting weirdness in some of the tests.

Your `serialize` method looks fine assuming that your `EdgeRelation` identifier does the heavy lifting for getting

[2015-05-07 14:26] BrynCooke commented on #1080
This is fixed, but the strategy sorting is currently broken in TP.
https://issues.apache.org/jira/browse/TINKERPOP3-667

[2015-05-08 06:15] mbroecheler commented on #1077
Could it be possible that this iterates over a vertex twice in which case it would throw the exception the second time its encoutered because it was deleted in the first place? Try adding `dedup` before the `remove`.

[2015-05-08 14:16] simtitanuser commented on #1077
Thanks Matthias.

I'll give this a try. In my Java implementation, I logged all vertex ids in
a cache before removing them. Checking the cache prior to removal proved
that I wasn't encountering the vertex more than once, so I'm convinced
there's a issue somewhere.

The overall problem I'm facing is that I may have up to a billion entries
(vertex triads with edges) to remove on a daily basis, and m

[2015-05-08 16:50] boliza commented on #1077
You should do anti-entropy node repair in your C\* cluster.I have found many this error in  my graph,but after anti-entropy repair ,I have never found this error. like this issue #928

[2015-05-08 18:52] simtitanuser commented on #1077
Thanky you. I'll investigate this.
I managed to get my vertex removal rate up to ~60 vertices/sec based on a
2K sample, and using a Set<Vertex> to eliminate duplicates from the query,
but that's still far from what I need. I read up on locking but my
impression is that only really applies to batching operations, so is there
anything else I can read-up on?

Best,

On Fri, May 8, 2015 at 12:50 PM, R

[2015-05-09 22:19] #1083 closed, assigned to mbroecheler

[2015-05-09 22:20] mbroecheler commented on #1083
@rjbriody This should be done in titan09 - please verify that this is what you need.

[2015-05-09 22:21] mbroecheler commented on #1082
Work with @okram to clean this file up. It is unclear to me when we can expect a "real" Titan graph to be available. Currently there are a bunch of isPresent() and !=null checks in there that need to be cleaned up. Not to mention that above referenced if statement.

[2015-05-09 22:21] #1080 closed, assigned to BrynCooke

[2015-05-09 22:21] #1079 closed, assigned to mbroecheler

[2015-05-09 22:21] #1072 closed, assigned to mbroecheler

[2015-05-11 11:02] l1v1umun734nu opened #1084 "Secure Elasticsearch Communication"
Hi guys,

I have a security issue on Titan - Elasticsearch scenarios that could be read as a feature request. I read in the Titan docs that I can go with stunnel, vpn or firewall. Considering just the first ones(I need auth and encryption), the maintenance will be hell. I know Elasticsearch introduced a plugin(Shield) that secures the transport port(9300) and this port is also used by the Titan cl

[2015-05-11 12:59] sabithavk opened #1085 "Titan IllegalArgumentException:Could not instantiate implementation:com.thinkaurelius.titan.diskstorage.cassandra.astyanax.AstyanaxStoreManager"
I'm a beginner with Titan Graph Database and I'm just trying to create a simple titan graph in a particular path using eclipse.Initially , setting the titan configurations followed by creating two vertices and an edge. This is the code i had given :

public class TitanGraphDemo {
        private static final String TITAN_DB = "target/tmp/titan";
        private static final Logger logger = LoggerF

[2015-05-11 13:03] BrynCooke commented on #1085
You are specifying an ancient version of Titan. In addition maven handles transitive dependencies for you so you should only need to specify:

[code]

[2015-05-11 18:41] Airswoop1 opened #1086 "Failure when running TitanIndexRepair on 0.5.4"
Running on 0.5.4

After creating:

management.buildIndex("discover_feed_index", TitanProperty.class)
                .addKey(vertexTypePropertyKey)
                .addKey(itemIdPropertyKey)
                .addKey(itemIsSrc)
                .addKey(itemGender)
                .addKey(itemScore)
                .addKey(itemCategoriesSet)
                .addKey(itemTimeOfYearStart)

[2015-05-11 20:55] mbroecheler opened #1087 "Clean up PreloadedVertex"
make it clear when it's a stub vertex so we don't have to set the MapReduce part on it.

[2015-05-12 08:27] sabithavk commented on #1085
Hello Bryn , Thanks for responding ... i tried what u said and have included the dependencies  to  only the given below jars

<dependencies>
        <dependency>
            <groupId>com.thinkaurelius.titan</groupId>
            <artifactId>titan-core</artifactId>
            <version>0.5.4</version>
        </dependency>
        <dependency>
            <groupId>com.thinkaurelius.titan</groupId>

[2015-05-12 14:13] pluradj opened #1088 "Read GraphSON fails with cardinality conflict"
Here is a reproduce snippet, using titan09 branch.

[code]

I've discovered I can fix the problem by setting `schema.default=tp3` on the graph properties. The default in GraphDatabaseConfiguration.java is currently `blueprints`. Should `tp3` be the default now?

[2015-05-12 14:19] pluradj commented on #1088
This commit seems related to this issue https://github.com/thinkaurelius/titan/commit/36e779e7ea04b385cc10f2652cedc7dc0478d2a7

[2015-05-14 02:33] GuruPrasadP commented on #119
Hi,
Im trying with Spring-boot,able to build the war file but im getting exception in the server startup.

Caused by: java.lang.ClassCastException: Cannot cast org.springframework.web.SpringServletContainerInitializer to javax.servlet.ServletContainerInitializer
    at java.lang.Class.cast(Class.java:3369)
    at org.apache.catalina.startup.WebappServiceLoader.loadServices(WebappServiceLoader.java

[2015-05-14 11:14] #1085 closed, assigned to nobody

[2015-05-15 00:44] pluradj opened #1089 "JSON serialization errors with Gremlin Server"
I'm doing some testing with titan09 branch with the latest incubator-tinkerpop master branch, and I'm running into some errors serializing vertex properties. I will make a pull request.

Titan properties

[code]

Gremlin server YAML

[code]

Node.js client

[code]

Gremlin server console output

[code]

The same error happens with HTTP Gremlin Server configuration, but it doesn't produce a stack t

[2015-05-15 06:39] geogeqq commented on #768
I met the same situation with gremlin, any suggestions?

java.lang.RuntimeException: com.thinkaurelius.titan.diskstorage.TemporaryBackendException: Temporary failure in storage backend
    at com.thinkaurelius.titan.diskstorage.hbase.HBaseStoreManager.getDeployment(HBaseStoreManager.java:352)
    at com.thinkaurelius.titan.diskstorage.hbase.HBaseStoreManager.getFeatures(HBaseStoreManager.java:390)

[2015-05-15 11:50] spmallette commented on #1089
This issue was resolved on the TinkerPop side - please see #1090

[2015-05-15 11:50] #1089 closed, assigned to nobody

[2015-05-15 11:54] jbmusso commented on #1089
(On a side note @pluradj, you may want to use https://github.com/jbmusso/gremlin-client if you require a JS client for Gremlin Server.)

[2015-05-15 12:34] pluradj commented on #1089
@jbmusso Yes, definitely!

[2015-05-15 13:08] rjbriody commented on #1083
@mbroecheler verified. This makes the GraphSON much easier to manage from an application development standpoint.

[2015-05-18 14:28] pluradj commented on #1088
Contents of /tmp/test.json

[code]

[2015-05-18 14:29] pluradj commented on #1088
FWIW, I've backed away from using `schema.defaults=tp3` because it doesn't give the me the desired behavior on Cardinality. `blueprints` uses Cardinality.SINGLE which is what I want.

[2015-05-18 14:37] spmallette commented on #1088
@pluradj  I would argue that you don't want to use `schema.default=tp3` or `schema.default=blueprints`.  Best practice would dictate that you explicitly specify your schema.

@mbroecheler not sure if you want to try to figure out how to switch back to `single` for `tp3` - i'll leave that up to you.  if you do then you need to override `loadGraphData` in your `GraphProvider` implementation and base

[2015-05-18 14:44] pluradj commented on #1088
@spmallette Yes, I agree with you, but for cases when I'm building an ad-hoc graph, the autotyping is pretty handy.

[2015-05-19 16:55] mbroecheler commented on #1088
@spmallette @okram The current default cardinality for properties in Titan is SINGLE, however, Stephen changed `features().vertex().getCardinality(key)` to return LIST for compatibility with TP3. Hence the question: Should we make Titan's default cardinality for properties to LIST as well?

[2015-05-19 17:06] spmallette commented on #1088
to repost a private message:  you can do single if you implement the solution i noted above (i.e. override `GraphProvider.loadGraphData` to respect the `LoadDataWith` annotation)

[2015-05-19 17:08] okram commented on #1081
Done.

[2015-05-19 17:08] #1081 closed, assigned to okram

[2015-05-19 18:44] mbroecheler commented on #1082
This has already been fixed by @okram

[2015-05-19 18:44] #1082 closed, assigned to okram

[2015-05-19 20:42] mbroecheler opened #1091 "Addition of WhereStep broke Titan's query optimizer"
since steps like `has('weight')` are no longer folded into TitanVertexStep (or TitanGraphStep).

@rjbriody Could you please add BerkeleyGraphTest to the set of tests that is executed by Jenkins on build. That ensures that Titan's test cases for the query optimizer are included since they aren't part of the TinkerPop test suite.

[2015-05-19 20:45] mbroecheler commented on #1091
In addition, there seems to be an issue around HasStep not being folded in correctly. Run `testTinkerPopOptimizationStrategies` in BerkeleyGraphTest to reproduce.

[2015-05-19 20:57] okram commented on #1091
This test does not exist. Which branch are you in? I work against `titan09`.

[2015-05-19 21:05] okram commented on #1091
Ah. I see it. Its in the base class. Note that `has(key)` is simply a `where(values('key'))` and `hasNot(key)` is now `where(not(values('key'))`. The `Contains.within() == null` stuff was a hack.

[2015-05-19 21:08] okram commented on #1091
Also, in your `testTinkerPopOptimizationStrategies` test cases you do this:

[code]

This is equivalent to:

[code]

If you are filtering on weight, you don't need to check if the weight exists.

[2015-05-19 21:12] okram commented on #1091
This test fails too:

[code]

I suspect because `P.between(1,2)` returns a `AndP` -- no more `P[]`. I don't understand you test case, but you will probably want to check to see if the `P` predicate is a `AndP` or an `OrP`. From there you get can `AndP.getPredicates()`.

Note that this is where we are going with nesting and `AndP.getPredicates()` can return yet more `OrP` and `AndP`s.

[2015-05-19 22:58] mbroecheler commented on #1091
Fixed in TP3.

[2015-05-19 22:58] #1091 closed, assigned to okram

[2015-05-19 23:00] mbroecheler commented on #1035
@rjbriody Titan's profiling information has been flattened - i.e. no more AND/OR nesting. In addition, an optimization sub-metric has been added to measure the time taken by query optimization.

[2015-05-19 23:02] mbroecheler commented on #1088
This should be fixed now.

[2015-05-19 23:02] #1087 closed, assigned to mbroecheler

[2015-05-20 01:27] rjbriody commented on #1035
Cool. I will check it out.

On Tue, May 19, 2015 at 7:00 PM, Matthias Broecheler <
notifications@github.com> wrote:

[2015-05-20 18:30] pluradj commented on #1088
Just tested it out successfully. Thanks, Matthias!

[2015-05-20 18:30] #1088 closed, assigned to nobody

[2015-05-20 18:45] dalaro commented on #1061
I  think this was fixed in a6c94ca0cce89192b19cbc4a0c5adf99bbaff3be.

[2015-05-20 18:45] #1061 closed, assigned to dalaro

[2015-05-20 20:24] BrynCooke commented on #1007
Tests run without failure

[2015-05-20 20:24] #1007 closed, assigned to BrynCooke

[2015-05-20 20:58] BrynCooke commented on #1034
Tests are passing in 'Berkeley' and 'In Memory'

[2015-05-20 20:58] #1034 closed, assigned to BrynCooke

[2015-05-20 21:56] BrynCooke commented on #1044
Passes on Berkeley and in memory tests.

[2015-05-20 21:56] #1044 closed, assigned to BrynCooke

[2015-05-21 14:43] dmill-bz opened #1094 "titan09 gremlin-server serializing issue on session OpProcessor"
Hey,

I'm running `./bin/titan.sh -v start` built from titan09. (no change in configuration or anything)

When using the `session OpProcessor` in combination with the `GraphSONMessageSerializerV1d0` I get an error  when i run `g.addV('name', 'john')` (see trace at the end of the post)

This works fine using the console (I'm guessing `GryoMessageSerializer` ?)
This also works fine in vanilla gremli

[2015-05-21 15:36] spmallette commented on #1094
I'm not expecting to see this error on the `titan09` branch this point - I assume you built this from there?

[2015-05-21 15:43] dmill-bz commented on #1094
Yes I built again after your changes on the configuration files (skipped the tests though). I did wonder at one point if it was using the correct TP3 jars as I never had to manually configure anything. I just built TP3-snapshot and then titan09 and it simply worked (I assumed maven kept some trace of the TP3 files in cache or something)

On the off chance that I've been screwing up the build can y

[2015-05-21 15:45] spmallette commented on #1094
are you building the distribution zip file in titan or taking some other approach (e.g. building both and then doing a manual install of titan into gremlin server)?

[2015-05-21 15:52] dmill-bz commented on #1094
Here's what I've been doing (hopefully correct):

**mvn -v**

[code]

[code]

[2015-05-21 16:00] spmallette commented on #1094
hmmm - i'm not sure if your build of titan is good.  i don't run gremlin server from there like that - i run from the distribution.  to generate the distribution do:

[code]

which can be run from the `titan-dist/titan-dist-hadoop-1` directory.  then look in the `target` directory there and unzip the package to your system and run from there.  obviously you should make sure that you have TP3 built

[2015-05-21 16:18] dmill-bz commented on #1094
Ok, I just did and it still fails with the same error.

[2015-05-21 16:26] spmallette commented on #1094
:rage4:

[2015-05-21 16:29] dmill-bz commented on #1094
:sob:

[2015-05-21 16:30] spmallette commented on #1094
i think i know what's wrong - bad configuration for serializers - update as follows:

[code]

please see: http://tinkerpop.incubator.apache.org/docs/3.0.0-SNAPSHOT/#_serialization

of course those settings should be there by default in the packaged yaml - updating that now.

[2015-05-21 16:35] spmallette commented on #1094
Note that i just updated those configs by adding commas between the classname entry and the config entry.

[2015-05-21 18:00] dmill-bz commented on #1094
Awesome!! That works and all the transaction tests pass for the driver.
Quick question: we can only reference one graph in the conf?

[2015-05-21 18:06] spmallette commented on #1094
good - glad that's working.

at the moment, you can only reference one graph.  we need to implement some kind of chaining mechanism in `IoRegistry` to allow multiple to be assigned:

https://issues.apache.org/jira/browse/TINKERPOP3-656

There is a workaround - but it would involve a custom message serializer.

[2015-05-21 18:06] #1094 closed, assigned to nobody

[2015-05-22 04:36] frensjan commented on #949
Might this be related to: [https://issues.apache.org/jira/plugins/servlet/mobile#issue/CASSANDRA-8940]?

[2015-05-22 16:36] maccam912 commented on #1066
It seems like the problem is that SolrJ is stripping the credentials from the URL at some point. DSE Search says there is support from extending SolrJ, and when I am debugging, the URL Solr is requesting does not include the credentials. I think it's an issue of Solr not supporting basic auth.

[2015-05-22 16:36] #1066 closed, assigned to nobody

[2015-05-23 15:51] dkuppitz commented on #799
I don't remember my exact use case, but I just did some tests using a 10M (unidirected) edge graph and everything worked smoothly, so I assume that this is fixed.

[2015-05-23 15:51] #799 closed, assigned to dkuppitz

[2015-05-24 04:53] dmill-bz opened #1095 "titan09 The vertex or type is not associated with this transaction [v[40980496]]"
Hey,

I'm using titan09 with gremlin-console M9-RC3.
I'm getting an error when I try to create a vertex and then attach another one to it. I don't know if this is an issue or if I'm doing something wrong.
Here's how to recreate it:

[code]

Let me know if you need any extra information.

[2015-05-25 14:49] dmill-bz commented on #1095
Ok I've rebuilt TP3 and Titan09 with the current SNAPSHOTS and this seems to work correctly so I'm closing this.

[2015-05-25 15:06] dmill-bz commented on #1095
I spoke too soon, I still get this error. I however don't know if it's expected behavior as the following works fine:

[code]

This is a complete guess but it might be TP3 related. Looks like maybe the difference between two expressions is that the first is iterated outside the scope of the transaction and the later within? Again a complete guess on my part. But it reminds me of https://issues.apa

[2015-05-25 15:50] dmill-bz commented on #1095
And although

[code]

works fine in the console (Gryo) it throws the following error using the GraphSON serializer:

[code]

[2015-05-25 21:35] andrewnet commented on #821
Hi dalaro,

Are your commits on titan05 in the titan-0.5.4-hadoop2.zip?

[code]

I am using "titan-0.5.4-hadoop2.zip" and still has the problem.

[2015-05-26 14:31] takaomag commented on #673
:+1:

[2015-05-26 14:44] rescrv commented on #673
It's worth noting that the Weaver project is a graph store developed by @dubey that is built on top of HyperDex.  It would be great to see Titan do the same.

[2015-05-26 15:06] spmallette commented on #1095
The `StreamFactory` class was removed from TinkerPop and replaced with `IteratorUtils`.  That was broken late last Friday.  Just fixed it this morning - pushed.

As for the other issue - your issue boils down to how you are iterating the traversal.  Note that this works:

[code]

For now the workaround is to not let Gremlin Server iterate results automatically when those results involve mutations.

[2015-05-26 15:06] #1095 closed, assigned to nobody

[2015-05-26 15:25] takaomag commented on #673
I found out about Weaver for the first time. According to [the project page](http://weaver.systems/);

It seems very young alpha project (dangerous for production!) and does not have Tinkerpop api. But it is interesting for me. I want to test and use it for some projects which require performance.

[2015-05-27 14:40] simtitanuser opened #1096 "TTL performance"
Hi, this is not really an issue but something I need to document.
After re-writing my Java code to take advantage of TTL, I'm now being asked to explain how it works. I understand that the process starts from the time the transaction is closed, but need to know if there are any limitations when dealing with millions of vertices and edges all created within a short period of time.
I've been struggl

[2015-06-01 14:42] SecSan opened #1097 "Cassandra timeout at start of titan.sh"
Hi,
I just wanted to try out Titan with Cassandra and Rexster but I get a timeout when trying to start it. I just execute `bin/titan.sh start -v` of Titan 0.5.4 on an Ubuntu 14.04 x64 VM.

Here are the last lines of output I get on the terminal:

[code]

and the last line of the log file log/cassandra.log:

[code]

Since Cassandra seems to be running (which is what `bin/titan.sh status` tells me)

[2015-06-01 18:10] dmill-bz opened #1098 "titan09 buildEdgeIndex() error. Wrong signature?"
Hey guys,

When using the default example from the docs I get an `illegalArgumentException` :

[code]

Here's the trace:

[code]

I'm not sure but looking at the code I find the following in `...graphdb.database.management.managementSystem`:

[code]

Looks like the signatures are off, but maybe I'm missing something ?

[2015-06-01 18:28] dmill-bz commented on #1098
My bad I've been incorrectly defining the property keys. I'll close this.

[2015-06-01 18:28] #1098 closed, assigned to nobody

[2015-06-05 21:49] dalaro opened #1099 "Support customizing arbitrary Hadoop Configuration options in TitanIndexRepair (0.5)"
TitanIndexRepair has `cassandraRepair` and `hbaseRepair` methods that take a Titan configuration file (the file you would pass to `TitanFactory.open`).  The repair methods then build a Hadoop Configuration for a reindex job and copy the Titan configuration keys into the Hadoop Configuration with some string prefixes.  The exact details are all in TitanIndexRepair.

These helper methods offer no wa

[2015-06-05 21:55] dalaro opened #1100 "Support customizing arbitrary Hadoop Configuration options in TitanIndexRepair (0.9)"
#1099, but for the 0.9 line.  The user-facing problem is the same, but the guts are somewhat different.

[2015-06-08 10:32] spmallette commented on #1097
Perhaps you can look at #790 as this issue has been reported before.  Perhaps you could comment with respect to the questions @dalaro posted here:

https://github.com/thinkaurelius/titan/issues/790#issuecomment-67065775

and here:

https://github.com/thinkaurelius/titan/issues/790#issuecomment-67194187

as I suspect his questions would largely be the same on this issue.

[2015-06-08 12:13] SecSan commented on #1097
Thanks, I just tried some suggestions in #790 and noticed a problem with my Java path when running nodetool. After resolving this, Titan started successfully :-)
Sorry for the inconvenience but I really couldn't figure out where the problem was with the error messages I got. Maybe, you could print / log errors reported by nodetool at the end of the timeout?

[2015-06-09 16:05] ariansacct commented on #750
@dalaro  I'm running 0.5.4 and still get this.

`<dependency>`
`<groupId>com.thinkaurelius.titan</groupId>`
`<artifactId>titan-all</artifactId>`
`<version>0.5.4</version>`
`</dependency>`

[2015-06-09 20:22] jinliangwei opened #1102 "OrderedKeyValueStore: insert() and getSlice() semantics and potential bug in StaticArrayEntryList"
Titan version 0.5.4.

I am implementing Titan backend on top of a key-value store. My understanding of the insert() and getSlice() functions in the OrderedKeyValueStore interface is:
after a key-value pair (k, v) is inserted via insert(), getSlice() should return an iterator containing exactly v, instead of a subset of v or a manipulated v.

If my understanding is correct, then there's a bug in Ti