[2013-05-02 15:49] okram opened #251 "BerkeleyDB memory exists beyond rm -rf"
I forgot to add unique(OUT) so I rm -rf'd the /tmp/test-index directory. I then try to reinstantiate a new graph using TitanFactory.open(). Note that the directory was removed but it still 'sees' the old database schema.

[code]

[2013-05-02 16:12] okram opened #252 "ElasticSearch chaining has() does not work -- Titan 0.3.0 and ES 0.20.06"
Without ElasticSearch, has() chaining works perfect. See below.

[code]

With ElasticSearch has() chaining does not work correctly. .................

NOTE: I can NOT reproduce it on the small scale. I can only reproduce it in a semi-production data set.

I can demonstrate on the large scale:

g.query().has('service','computers').has('name','marko').vertices() is an empty iterable.
g.query().has('

[2013-05-02 16:54] spmallette commented on #207
Looking at what I did (which works for what i was doing, I think i cheated.  I ran my data loader with:

[code]

and then i started titan.sh with basically the same config after it was loaded.  the elasticsearch index appears to be accessible via rexster extensions, though rexster console fails to recognize it (actually, to be more exact rexster console doesn't recognize the Geo.WITHIN as a class/

[2013-05-02 16:57] mbroecheler commented on #251
It seems like BDB caches the database state in the jvm somehow. Exiting the
gremlin shell and re-starting it solves the problem.

On Thu, May 2, 2013 at 8:49 AM, Marko A. Rodriguez <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-02 17:04] mbroecheler commented on #207
to have it run on a remote server, you need to start an Elasticsearch
cluster first and then configure the host ips in storage.index....

On Thu, May 2, 2013 at 9:54 AM, stephen mallette
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-02 17:25] spmallette commented on #207
So with Titan Server running, I did this from Gremlin with this config in `cassandra-es.local`:

[code]

and got this:

[code]

i noticed though in titan server output:

[code]

which doesn't align nicely with this in gremlin:

[code]

see 9200 !=  9300 on the port (for some reason the default ports don't align which is confusing).  in any case, i got excited and change my remote config to make su

[2013-05-02 18:22] mbroecheler commented on #189
done

[2013-05-02 18:22] #189 closed, assigned to nobody

[2013-05-02 18:23] #192 closed, assigned to mbroecheler

[2013-05-02 18:23] okram commented on #251
Yea. That is the solution, but would be "nice" if it was smart. Not crazy important, but for some people they will get confused.

[2013-05-02 18:24] mbroecheler commented on #193
For me the HBase tests work without having to start Hadoop.
Anybody else experiencing this? @okram: Has anything changed on this?

[2013-05-02 18:24] okram commented on #229
This patch has been validated at scale and appears to be working now. Thanks.

[2013-05-02 18:25] #202 closed, assigned to xedin

[2013-05-02 18:25] #217 closed, assigned to mbroecheler

[2013-05-02 18:26] #220 closed, assigned to mbroecheler

[2013-05-02 18:27] mbroecheler commented on #227
@xedin : Can we close this?

[2013-05-02 18:28] #228 closed, assigned to nobody

[2013-05-02 18:29] okram commented on #193
Nothing has changed. I tried it again last week and still the same problem. ……… :/

On May 2, 2013, at 12:24 PM, Matthias Broecheler notifications@github.com wrote:

[2013-05-02 18:32] mbroecheler commented on #250
It seems like the Cassandra node receiving all these mutations choked which broke the pipe. How many mutations a particular Cassandra cluster can take in rapid succession depends on the machines and cluster size.
I'd encourage you to try smaller transactions sizes than 100K in any event.

I will consider increasing the robustness of this operation and attempting to re-open the socket connection.

[2013-05-02 18:51] hariharshankar opened #253 "ElasticSearch: Out of Memory/Unable to create new native thread"
In a titan/cassandra/elasticsearch instance, I am trying to start multiple processes that would write to the graph simultaneously and I get the exception below.
Elasticsearch is running with -Xmx15G -Xms15G.
Each of the write process is running at 250M each, and this exception is thrown when opening the third process itself.

[code]

[2013-05-02 20:37] mbroecheler commented on #253
If I remember correctly, that exception does not actually mean that you
don't have enough memory but that the jvm cannot create more threads. Check
that your OS allows more than 1024 threads per process.

On Thu, May 2, 2013 at 11:51 AM, hariharshankar notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-02 22:43] mbroecheler commented on #207
Oh, so you are starting ES embedded with Titan Server and are then trying
to connect to it remotely?

On Thu, May 2, 2013 at 10:25 AM, stephen mallette
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-02 22:47] okram commented on #207
Yes!

On May 2, 2013, at 4:43 PM, Matthias Broecheler notifications@github.com wrote:

[2013-05-02 23:05] mbroecheler commented on #252
Which of these property keys are indexed? Just "service"?

[2013-05-02 23:05] #245 closed, assigned to nobody

[2013-05-02 23:06] okram commented on #252
Yes. Just 'service'.

On May 2, 2013, at 5:05 PM, Matthias Broecheler notifications@github.com wrote:

[2013-05-02 23:07] okram commented on #248
Done for both master and titan03.

[2013-05-02 23:07] #248 closed, assigned to nobody

[2013-05-02 23:08] okram commented on #250
Is this perhaps related to "thrift frame size" issues?

[2013-05-03 00:13] mbroecheler opened #254 "Synchronization issue around CacheEntry in EdgeSerializer"

[2013-05-03 00:34] mbroecheler commented on #215
The linear scan issue has been fixed. There is no an internal "equality" index for vertex lookups maintained by the transaction. Verified the performance in test cases.

[2013-05-03 00:34] #215 closed, assigned to nobody

[2013-05-03 00:34] mbroecheler commented on #213
I added a test case and it looks like its related to #212 as you suggested. We have disabled vertex iteration when using BoP with embedded cassandra for now and are looking into possible ways to make it work.

[2013-05-03 00:35] #205 closed, assigned to mbroecheler

[2013-05-03 00:36] mbroecheler commented on #205
This was an interesting bug. It was actually triggered by a failure in the indexing framework to interpret a search query. Nice find!

[2013-05-03 00:40] mbroecheler commented on #250
No, I don't think its related to that. Basically, when you have a transaction that large, Titan will queue up a lot of mutations and then send them all to Cassandra in batches (you can configure the size of those). It seems like a connection error occurs when there are too many of those batches flying in at once which would be the case which such big transactions.
Can you try increasing the storag

[2013-05-03 00:41] mbroecheler commented on #249
Actually, in this particular instance its referring to the value already being used since the key is defined as in-unique, i.e. values for that key must be globally unique. I have changed the message to make that clearer:
"The given value is already used as a property and the property key is defined as in-unique"

[2013-05-03 00:41] #249 closed, assigned to nobody

[2013-05-03 00:44] mbroecheler commented on #241
I think those two are different things. You get a ConnectionRefused if the server blocks your connection attempt. In that case, there is no reason to wait before throwing the exception.

The connection timeout is used so that the client can determine at which point the lack of response from the server ought to be interpreted as a failed connection.

[2013-05-03 00:45] #232 closed, assigned to mbroecheler

[2013-05-03 00:45] #231 closed, assigned to mbroecheler

[2013-05-03 00:46] mbroecheler commented on #225
This was a bug because I did not check whether the vertex should be re-refreshed in the current transaction before creating the edge.

[2013-05-03 00:46] #225 closed, assigned to nobody

[2013-05-03 00:48] #206 closed, assigned to nobody

[2013-05-03 00:57] mbroecheler commented on #233
That's how cassandra calls the option. In Titan its "replication-factor".

[2013-05-03 00:57] #233 closed, assigned to nobody

[2013-05-03 00:58] #247 closed, assigned to nobody

[2013-05-03 05:37] zachkinstner opened #255 "StackOverflowError upon rollback"
The following [RexConnect](github.com/inthefabric/rexconnect) output demonstrates the issue.  Starting from an empty graph, make a simple `a --tests--> b` graph.  Within a session, perform an aggregation operation, then try to rollback the session:

[code]

Rexster Server in `-d` mode reports:

[code]

[2013-05-03 05:39] zachkinstner commented on #255
Workaround: try setting `x = null` before the rollback.

Also, I think I noticed during my trials that `g.v(4).outE.aggregate(x).iterate()` (without the `.inV.aggregate(x)`) has a successful rollback.

[2013-05-03 19:17] mbroecheler commented on #214
@bdeggleston : Does Titan tools help with cleaning up such vertices? I saw its part of the documentation:
https://github.com/StartTheShift/titan-tools

[2013-05-03 20:32] mbroecheler commented on #255
This seems related to the following bug report from the mailing list. This has to do with the newly introduced "automatic refresh" feature in Titan when starting a new transaction. However, if that transaction was rolled back, then the refresh is bound to fail and goes into the infinite loop. This needs to be fixed and an exception thrown.

Exception in thread "pool-1-thread-1" java.lang.StackOver

[2013-05-03 20:35] #241 closed, assigned to nobody

[2013-05-03 20:41] mbroecheler opened #256 "Resolve Titan internal naming inconsistencies"

[2013-05-03 21:29] mbroecheler opened #257 "Remove RexsterTitanClient"
This class is no longer needed with the recent improvements in RexPro and RexsterClient, right?

[2013-05-03 21:53] #191 closed, assigned to mbroecheler

[2013-05-03 23:25] #255 closed, assigned to nobody

[2013-05-03 23:25] #256 closed, assigned to mbroecheler

[2013-05-03 23:27] mbroecheler opened #258 "Keyspace iteration in EmbeddedCassandra with BoP"
What options do we have if we know the min and max token?

[2013-05-04 01:28] #254 closed, assigned to mbroecheler

[2013-05-04 15:17] zachkinstner opened #259 "KryoException: Buffer underflow"
RexConnectServer query:

[code]

Returned the following RexProException message:

I'm using Rexster 2.4.0-SNAPSHOT and Titan 0.3.1-SNAPSHOT.  The Rexster build is more recent, but the Titan build is older, around the time of the #222 fix (https://github.com/thinkaurelius/titan/commit/33a560db97bf3187ac45d1fe4fdf2e6b817bec40).

This seems to happen only when I'm executing several commands in parall

[2013-05-04 17:02] mbroecheler commented on #259
Hey Zach,

I have seen this exception before and made a change to EdgeSerializer a few
commits ago. Titan now reliably passes the concurrency tests. Could you try
with the head of the titan03 branch and see if it comes up again? I am not
100% confident that I have fixed this problem completely.

Best,
Matthias

On Sat, May 4, 2013 at 8:17 AM, Zach Kinstner notifications@github.comwrote:

##

Matth

[2013-05-04 17:16] bdeggleston commented on #214
@mbroecheler, yes Titan tools does clean up vertices that are missing the VertexState property.

Since each titan "client" working on the storage backend doesn't talk to the other clients, has authoritative control over the data, and the data backend has no understanding of the graph it's storing, it's probably unavoidable that phantom properties will pop up occasionally. The "edge only exists on

[2013-05-04 19:20] zachkinstner commented on #259
It's looking good so far with the latest Titan build -- I think it's safe to close this ticket. Thanks!

[2013-05-04 19:20] #259 closed, assigned to nobody

[2013-05-05 02:17] mbroecheler commented on #214
Yes, its a good idea to check for the existence of VertexState instead of
just the key. It'll be a little slower, but I guess it wouldn't be too bad
- we'll have to test that one.

While that would be more robust, phantom vertices can still arise when the
deletion and modification happen virtually at the same time. So, clean up
will always be necessary. Unless you lock which I wouldn't even want t

[2013-05-05 06:59] xedin commented on #227
Error reporting is merged, closing.

[2013-05-05 06:59] #227 closed, assigned to xedin

[2013-05-05 22:31] mbroecheler commented on #213
I have added the test case to the Titan test suite and its passing now after fixing #258.

[2013-05-05 22:31] #213 closed, assigned to mbroecheler

[2013-05-06 03:29] mbroecheler commented on #207
I cannot really conclude from the docs, but I believe that is not possible. To run ES embedded, it is configured to run in "local mode" which I believe makes the assumption that there are no other ES servers and no clients. So, unlike Cassandra embedded which is a full version of Cassandra started by Titan, ES embedded is a special variant meant for embedded mode on a single machine.

I will refle

[2013-05-06 03:31] mbroecheler opened #260 "containsVertex(long id) should check for existence of VertexState"
using a VertexCentricQuery instead of just checking whether the row exists.
This would provide greater protection against phantom vertices. See #214 for more information.
Test whether this change has any performance implications.

[2013-05-06 03:36] mbroecheler opened #261 "Document & monitor diskstorage.locking.consistentkey package"
- Explaining how locking is achieved. Use comments written in #69 as a starting point
- JavaDoc for classes
- Add monitoring hocks

[2013-05-06 11:10] hudvin commented on #215
I have tested Anton's code on 0.3.1 snapshot. It's still extremely slow. I have 7000 records, and it takes about 30-60 msec to insert one relation.
Can you provide full configuration?

[2013-05-06 14:44] vallettea opened #262 "Warn: you are using a buggy JRE and cassandra issue"
when launching a titan cassandra server I get the following warning:

13/05/06 16:36:33 WARN service.CacheService: MemoryMeter uninitialized (jamm not specified as java agent); KeyCache size in JVM Heap will not be calculated accurately. Usually this means cassandra-env.sh disabled jamm because you are using a buggy JRE; upgrade to the Sun JRE instead

but:
MacAV:~ vallette$ java -version
java ver

[2013-05-06 15:05] rsiemens77 commented on #236
I'm also having this issue.  We had a failure of one of our 3-node cluster (replication factor 1), and I can't bring the failed node back because of this.  Why fail fast from this error?  I don't know the details of the wait requirement, but why not a standard exponential back-off and retry before giving up completely?

Any workaround, short of titan code modifications, so I can get my 3rd node ba

[2013-05-06 15:06] zachkinstner commented on #262
See [these notes](https://github.com/thinkaurelius/titan/wiki/Titan-Limitations#removing-jamm-warning-messages) to resolve this warning:

[2013-05-06 16:02] vallettea commented on #262
thanks

[2013-05-06 16:02] #262 closed, assigned to nobody

[2013-05-06 16:17] okram opened #263 "Better shell scriping for Titan as a Service -- remove the requirements for multiple shells."
I think we should make titan.sh more of this nature. Such a script would greatly improve developer/user experience.

[code]

Below is an example script provided by Harish that wraps the current titan.sh and does just that. I assume that we should have environmental variables such as:

[code]

[code]

[2013-05-06 16:21] okram commented on #263
To extend why this is important for user experience. Right now, to use Titan, you have to go through the following inane series of steps.
- Open a terminal and start Cassandra.
- Open a terminal and start ElasticSearch.
- Open a terminal and start Rexster
  ...if you are developing and what to purge you data easily.
- CNTRL-C the terminal (or ps aux | grep | kill) and then sudo rm -rf /var/lib/cas

[2013-05-06 18:17] zachkinstner commented on #222
Confirmed -- I can now use the `Byte` type as described above.

[2013-05-06 18:34] hariharshankar commented on #215
Titan 0.3.1-snapshot behavior confirmed. We tried loading a ~3500 vertex graph in a single transaction and the lookups and writes to the graph was very fast. Definitely not linear lookups.

[2013-05-06 18:38] mbroecheler commented on #215
@hudvin Titan 0.3.1 has extra consistency checks inside the transaction that Titan 0.2.x does not have. Also, the indexing infrastructure is slightly more involved than in the 0.2.x line due to the additional indexing support. That explains some performance difference between 0.3.x and 0.2.x but it shouldn't be much slower. What is Anton's code? Also, note that you can enable storage.batch-loading

[2013-05-06 18:46] spmallette commented on #257
removed....

[2013-05-06 18:46] #257 closed, assigned to spmallette

[2013-05-06 19:10] mbroecheler opened #264 "LockKeyColumnValueStoreTest assertion failures"
when running against embedded cassandra:

There are many entries in the log file of the type:

[code]

and for line 137 generated during tearDown().

[2013-05-06 20:08] spmallette commented on #210
done...

https://github.com/thinkaurelius/titan/commit/61b84690432bea2ace49cc080cef40b7e2ac9762
https://github.com/thinkaurelius/titan/commit/f35b13a7561d4183b773dae17562abdc822e412c

[2013-05-06 20:08] #210 closed, assigned to spmallette

[2013-05-06 20:58] okram commented on #253
Harish will be testing this today and will report back.

[2013-05-06 21:38] okram commented on #250
Increasing storage.buffer-size worked. Note thatI set it to 10000. (1024 was default).

[code]

[2013-05-06 21:38] #250 closed, assigned to mbroecheler

[2013-05-06 22:28] okram commented on #263
@dalaro wrote: I like it.  By the way, have you or a client needed init.d scripts or systemd service files to automatically start and stop Titan, Rexster, Cassandra, HBase, etc. when the host power cycles?  I think the developer-friendly script called for by the ticket is separate from init.d/systemd, but the two concerns are still potentially related

@okram writes: That would be smart too. I'm n

[2013-05-06 22:32] neilchaudhuri opened #265 "Question on Graph Initialization"
I have been told that a Titan graph can be built by simply "pointing to data in Hadoop." Regardless of the lack of precision of that statement, I do not see any evidence in the documentation that indicates that a Titan graph can be initialized with data in HDFS or Hive. Rather, the only way I have found is to construct a graph "manually" (with the TItanGraph API) and have Titan store the data in t

[2013-05-06 22:38] okram commented on #265
Please see Faunus (http://faunus.thinkaurelius.com). Faunus provides tools for importing/exporting graphs to/from Hadoop.

https://github.com/thinkaurelius/faunus/wiki/Titan-Format

[2013-05-06 22:38] #265 closed, assigned to nobody

[2013-05-07 00:44] rustyrazorblade commented on #263
I think getting debian packages & rpms would be helpful as well.  Take a
look at https://github.com/tcurdt/jdeb

On Mon, May 6, 2013 at 3:28 PM, Marko A. Rodriguez <notifications@github.com

##

Jon Haddad
http://www.rustyrazorblade.com
skype: rustyrazorblade

[2013-05-07 01:09] mbroecheler commented on #265
Also, please use our mailing list aureliusgraphs@googlegroups.com for
questions.

On Mon, May 6, 2013 at 3:38 PM, Marko A. Rodriguez <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-07 01:18] mbroecheler commented on #236
I pushed a fix that retries to connect in case of failure for up to 60 seconds (this is configurable via storage.setup-wait) using exponential back-off.
@rsiemens77  Please build the titan03 branch (using _mvn clean install -DskipTests_ since we just added the last unit tests to fix) and see if that works.

[2013-05-07 01:21] #258 closed, assigned to xedin

[2013-05-07 01:23] #242 closed, assigned to mbroecheler

[2013-05-07 02:06] mbroecheler opened #266 "Thrift exception in multiIdAcquisition"
in LockKeyColumnValueStoreTest.testMultiIDAcquisition and encountered this crazy bug. Check out the attached log file that contains more information. Scary part is an ERROR in cassandra:
17693 [Thrift:16] ERROR org.apache.cassandra.thrift.CustomTThreadPoolServer  - Thrift error occurred during processing of message.
org.apache.thrift.protocol.TProtocolException: Bad version in readMessageBegin

An

[2013-05-07 02:50] xedin commented on #236
@mbroecheler I think what we should wait DatabaseDescriptor.getRpcTimeout() after first attempt to read/write attribute and set consistency to ONE, that would work for any RF.

[2013-05-07 04:03] rsiemens77 commented on #236
@mbroecheler I appreciate that responsive fix and your helpful instructions.  It worked, and saved me from recreating my cluster from scratch.

[2013-05-07 08:04] dalaro commented on #264
Here are my preliminary thoughts.  Since the locking code is delicate and has undergone refactoring since I last worked on it, I'm planning to take a break and examine this again later today.  However, I think I see two causes of the assertion failures.
1. Multiple calls to commit() on the same transaction.  When executing the test methods testLocalLockContentention() and expectedValueMismatchCaus

[2013-05-07 15:21] hariharshankar commented on #253
As Matthais mentioned, increasing the number of threads per process seems to have solved the problem.
The `ulimit -u` value was increased from the default 1024 to 1024*10.

[2013-05-07 15:46] okram commented on #253
I added this to the Useful Tips section of the Wiki.

[code]

On May 7, 2013, at 9:21 AM, hariharshankar notifications@github.com wrote:

[2013-05-07 19:12] okram commented on #252
Using the latest Titan 0.3.1-SNAPSHOT, the problem does not happen for _the same_ query above. I don't know what is different now save ElasticSearch bump and Titan bump. Either way, I can't reproduce it anymore.

[2013-05-07 19:12] #252 closed, assigned to okram

[2013-05-07 19:31] mbroecheler commented on #251
I tried to make BDB "aware" of the data being deleted, but with no luck. My guess is that its still memory-mapped somewhere and therefore effectively cached.
Anyhow, I think there is a better way for dealing with this use case. Titan has the functionality to clear all backend storage (including any configured indexes) with one call. It's been hidden thus far so I added a utility class to make it a

[2013-05-07 19:31] #251 closed, assigned to mbroecheler

[2013-05-07 19:32] mbroecheler commented on #251
Closed with 472e913c1f0b634f43c1638e0ec201e5f0acce6e

[2013-05-07 19:33] mbroecheler commented on #236
@rsiemens77 Glat to hear it worked for you.

[2013-05-07 19:33] #236 closed, assigned to mbroecheler

[2013-05-07 19:39] okram commented on #251
NOTE: I just added the util package to Gremlin imports so you don't need to specify the full package name.

https://github.com/thinkaurelius/titan/commit/e8280480d0830cfb3db4288d8f0dba8ca1a4c037

[2013-05-08 12:19] zachkinstner opened #267 "GraphConfigurationContainer - Could not load graph"
Setup:
- Rexster 2.4.0
- Titan 0.3.1 (from [this commit](https://github.com/thinkaurelius/titan/commit/e8280480d0830cfb3db4288d8f0dba8ca1a4c037))
- Embedded Cassandra
- 3-node cluster
- Replication factor = 3

Every time I start up Rexster (roughly simultaneously on all nodes), at least one (usually the first) node gives me the following warning. The problem goes away once I restart Rexster on the

[2013-05-08 12:21] zachkinstner commented on #267
This seems related to #236.

[2013-05-08 14:37] spmallette commented on #267
are you saying that you are running titan.sh (embedded cassandra) and then trying to connect to it from a different rexster instance?

[2013-05-08 14:46] zachkinstner commented on #267
I'm not sure if I understand what you're asking... here are some more details:

I don't currently work directly with Titan or `titan.sh`. Titan+EmbeddedCassandra starts up automatically when I start Rexster with `rexster.sh -s`.  At that point, I can use Rexster REST or RexPro/RexConnect to communicate with the graph.

Here's the graph portion of my `rexster.xml` configuration:

[code]

[2013-05-08 14:48] zachkinstner commented on #267
The `graph-location` tag seems out-of-place here. I'll remove that and see what happens.

[2013-05-08 14:56] spmallette commented on #267
ah...i see.  that's basically what i was asking. i don't believe that this is a supported configuration option.  i don't think you can start an embedded cassandra inside of a rexster container.  any reason you are not using Titan Server (titan.sh -https://github.com/thinkaurelius/titan/wiki/Titan-Server) which basically runs titan+cassandra+rexster in the same jvm (which appears to be what you are

[2013-05-08 14:56] zachkinstner commented on #267
Removing `graph-location` didn't help.  I'm finding that the failures sometimes occur on more than just the first-started node, and sometimes take more than one Rexster restart to resolve.

Regarding my configuration, I'm using the [Titan Embedded Mode](https://github.com/thinkaurelius/titan/wiki/Using-Cassandra#titan-embedded-mode) approach:

Regarding the part about Titan Server, does this mean

[2013-05-08 14:59] zachkinstner commented on #267
No reasons anymore :smile:.  I didn't realize that the Rexster/RexPro functionality is already included within Titan Server.

[2013-05-08 15:00] #267 closed, assigned to nobody

[2013-05-08 15:00] spmallette commented on #267
yes...you get all the same benefit of rexster (except dog house).  you can still deploy extensions, connect via rexster console, do REST, do rexpro.

[2013-05-08 18:51] dalaro commented on #264
In 74166f9, I fixed code in ConsistentKeyLockTransaction where we committed twice (cause 1) by removing the redundant commit.  An alternative approach to cause 1 which I briefly considered but did not pursue: make commit completely idempotent besides perhaps logging an error on calls after the first.  I didn't want to fiddle with transaction semantics close to a release, even if the change seemed

[2013-05-08 18:51] #264 closed, assigned to dalaro

[2013-05-10 07:04] dalaro opened #268 "Add Metrics monitoring"
We would like to instrument Titan using Metrics.   Let's consider what to measure with Metrics and what application(s) we plan to initially use atop Metrics for charting (e.g. ganglia or graphite).

[2013-05-10 07:13] dalaro commented on #261
Monitoring hooks now has its own issue: #268

In db73354894a076eeadbe6a361745e3c9c8592dc7 and a few smaller subsequent commits, I fleshed out and updated the Javadocs for diskstorage.locking.consistentkey.  I also added a package-info.java file in titan-core/.../diskstorage/locking/consistentkey that briefly describes how to use the locking code from a client perspective and how the locking protoc

[2013-05-10 07:13] #261 closed, assigned to dalaro

[2013-05-10 08:12] espeed commented on #268
From a previous email...

Here are the three leading application performance management systems (in order) -- see http://www.compuware.com/application-performance-management/compuware-leadership-in-the-APM-market.html.

dynaTrace and AppDynamics specifically support Cassandra, and AppDynamics has partnered with DataStax (see the Martin Stone video below).

Opnet
- http://www.opnet.com/solutions/ap

[2013-05-10 09:15] spmallette commented on #268
@dalaro let me know if you need any help on this one.  it's probably harder to figure out "what" to track than it is to implement, but given the current state of Titan Server with embedded Rexster it would nice if we could share a single MetricRegistry instance (I've already setup Rexster to allow for that).

[2013-05-10 20:16] mbroecheler commented on #266
Solved as part of the recent ByteBuffer refactoring.

[2013-05-10 20:16] #266 closed, assigned to mbroecheler

[2013-05-10 20:40] mbroecheler commented on #193
@xedin : Any ideas for what may be going on here? For me, the tests continue to work but I am also not running Hadoop.

[2013-05-10 20:46] okram commented on #193
Perhaps it realizes there is a $HADOOP_PREFIX environmental variable and tries to use Hadoop to do the data storage. One thing that is interesting is that if I run the tests with Hadoop running, the HBase data is in HDFS! Therefore, I think HDFS wants to use Hadoop if possible. ??..

On May 10, 2013, at 2:40 PM, Matthias Broecheler notifications@github.com wrote:

[2013-05-11 04:16] xedin commented on #193
global HADOOP_PREFIX could be a problem, also other Hadoop/HBase related variables set in your .bashrc (.zshrc), can you try to remove those and run the tests? Also would be nice if you could remove all of the files from titan-hbase/logs directory, run the tests and attach those logs.

[2013-05-12 23:53] #253 closed, assigned to okram

[2013-05-13 00:35] #222 closed, assigned to mbroecheler

[2013-05-13 22:38] mbroecheler commented on #209
https://github.com/thinkaurelius/titan/wiki/Advanced-Indexing

[2013-05-13 22:38] #209 closed, assigned to mbroecheler

[2013-05-13 22:41] mbroecheler commented on #230
https://github.com/thinkaurelius/titan/wiki/Indexing-Backend-Overview

[2013-05-13 22:41] #230 closed, assigned to mbroecheler

[2013-05-13 23:24] mbroecheler commented on #207
Documented: https://github.com/thinkaurelius/titan/wiki/Using-Elastic-Search

[2013-05-13 23:24] #207 closed, assigned to mbroecheler

[2013-05-14 17:34] okram opened #269 "Add Frames to NOTICE.txt"

[2013-05-14 18:00] okram opened #270 "Make sure the /ext directory is in the distribution.xml (is only in titan-all)."

[2013-05-14 23:04] hariharshankar opened #271 "Could not commit transaction due to exception during persistence"
This exception is appearing again when I try to write to titan from multiple concurrent processes. I am using titan 0.3.1-SNAPSHOT

[code]

[2013-05-15 01:46] zachkinstner opened #272 "Using CONTAINS via Gremlin script"
I'm having issues using `CONTAINS` in Gremlin queries. I'm using RexConnect, so these queries are coming in via RexPro -- I'm not building these queries in a Java program.

[code]

[code]

After looking at more examples, I was able to do this:

[code]

Will it be possible to use `CONTAINS` beyond the initial index? For example:

[code]

Also -- I didn't see the full `com.thinkaurelius.titan.core.a

[2013-05-15 01:48] zachkinstner commented on #272
I did find a note from Marko [here](https://groups.google.com/forum/?fromgroups=#!topic/gremlin-users/XJX2hOAvyOY):

[2013-05-15 03:49] mbroecheler commented on #271
This is expected behavior. I have updated the Gotcha page to explain what is going on:
https://github.com/thinkaurelius/titan/wiki/Titan-Limitations

---

When defining unique Titan types with locking enabled (i.e. requesting that Titan ensures uniqueness) it is likely to encounter locking exceptions under concurrent modifications to the graph.

com.thinkaurelius.titan.diskstorage.locking.Permanen

[2013-05-15 03:49] #271 closed, assigned to nobody

[2013-05-15 03:52] mbroecheler commented on #272
Hey Zach,

text and geo search capabilities are currently limited to Titan. As you
noted, we hope to bring them into Blueprints into the near future to enable
the query you were attempting to run.

As such, this is not really a Titan issue but rather a Blueprints/Gremlin
issue.

On Tue, May 14, 2013 at 6:46 PM, Zach Kinstner notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthi

[2013-05-15 11:06] spmallette commented on #272
zach, is it possible to get around the problem by casting `g` to `TitanGraph` before doing `query()`?

[2013-05-15 18:01] okram opened #273 "Strong respect for minor version compatibility so we can do forward and backward compatibility."
This is the problem. Faunus 0.3.0 leverages Titan 0.3.0. Titan 0.3.0 can't talk to Titan 0.3.1 !

What we need to do in the future is be very strict about minor versions such that Titan 0.3.x can all talk to each other. This way, forward- and backward-compatibility are possible.

This way, we only need to specify in the pom.xml of Titan:

[code]

[2013-05-15 19:28] mbroecheler commented on #272
No, the has() after g.V. is an optimization in Gremlin. Without CONTAINS
support in gremlin that optimization will not be possible.

On Wed, May 15, 2013 at 4:07 AM, stephen mallette
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-15 19:41] spmallette commented on #272
oh...right...got confused.

[2013-05-15 20:00] zachkinstner commented on #272
I did try to cast `g`, with no luck:

[code]

So, the conclusion seems to be: updated Blueprints/Gremlin support is coming in the near future.

In the meantime, two questions... First, will this example query (noted above, executes correctly) actually make use of ElasticSearch when called via RexConnect/RexPro?

[code]

Second, am I doing something incorrectly to require the full path: `com.thinka

[2013-05-15 21:30] mbroecheler commented on #272
On the second issue: I know that the gremlin shell that ships with Titan
includes those enums in the imports, but I believe that might not be the
case for Rexster by default, right @spmallette?

On Wed, May 15, 2013 at 1:01 PM, Zach Kinstner notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-05-15 21:37] spmallette commented on #272
Yes...that is not the case with Rexster.  I had a discussion with marko on this the other day and it needs more though.  Rexster uses the GremlinGroovyScriptEngine to execute gremlin.  Since it does not depend on Titan it does not do titan imports.  Follow this issue over in Rexster:

https://github.com/tinkerpop/rexster/issues/304

[2013-05-15 21:52] dalaro commented on #268
@espeed thanks for the pointers.

I really like Dapper/Zipkin style distributed tracing.  The ZIpkin UI's nested breakdown of function runtimes is powerful.  I think it would also take substantially more engineering to get Titan instrumented for Zipkin than for Metrics.  We don't use Finagle and probably can't wrap existing communication inside Finagle RPC in a sane way.  It looks like we might ne

[2013-05-15 22:11] dalaro commented on #268
@spmallette I've been thinking about initially tracking Timers and Counters around the diskstorage layer in Titan where we communicate with Cassandra/HBase/etc.  Timers seem powerful since they deliver a histogram of durations.  I've also been thinking about how to chart Timer's histogram output.  This is an interesting approach to histogramming in graphite:

http://dieter.plaetinck.be/histogram-s

[2013-05-17 05:26] mbroecheler opened #274 "HBase 0.94.7"
update adapter if necessary, run tests

[2013-05-17 12:41] zachkinstner commented on #268
Notes on dependencies from the [issue](https://github.com/inthefabric/Fabric/issues/13#issuecomment-18052524) referenced above:
- Cassandra 1.2.2 ==> Metrics 2.0.3
- HBase 0.94.1 ==> Metrics 2.1.2
- Rexster 2.4.0 ==> Metrics 3.0.0-BETA

[2013-05-17 13:02] spmallette commented on #268
@dalaro  as i mentioned over in zach's issue, i wish i'd seen the metrics version discrepancies before i got too deep with stuff.  there were definitely some things in the stable beta that i wanted to make use of, but that's now left some dependency issues.  perhaps there is some fancy pom work that can be done here?

I am using Timers in most cases.  There are a small number of counters/guages wh

[2013-05-17 19:26] dalaro commented on #268
@zachkinstner thanks for linking to Fabric issue and pointing out HBase's Metrics dependency.  I just found the Cassandra dep on 2.0.3 but hadn't seen the HBase one yet.

@spmallette what fancy pom work did you have in mind?

I'm considering the case where Rexster, Titan, and Cassandra are all running inside a shared JVM and each one wants to load Metrics.  It's probably technically possible to re

[2013-05-17 20:13] dalaro commented on #268
I mistakenly wrote org.codahale above.  The new package prefix is com.codahale.

[2013-05-17 21:13] zachkinstner commented on #268
It may not be useful, but I was curious about it -- Cassandra's `trunk` branch uses Metrics 2.2.0:
https://github.com/apache/cassandra/blob/trunk/build.xml#L388

[2013-05-17 22:35] spmallette commented on #268
@dalaro if i remember correctly, some of the api elements were more straightforward.  it also came ready out of the box with the admin servlets and the jersey integration which wasn't there before hand.  all-in-all, it was enough for me to look past the beta label and go for it.

[2013-05-17 23:05] dalaro commented on #268
@spmallette One approach: use the latest Metrics beta (3.0.0-BETA3) in Rexster and Titan and leave the old Metrics versions in Cassandra and HBase unchanged.  Metrics 3.0.0-BETA2 and -BETA3 use the new package prefix com.codahale.metrics.  Cassandra and HBase would each retain their older Metrics versions under the com.yammer.metrics package prefix.  This is a hack, but it would allow embedding Ca

[2013-05-18 03:06] zachkinstner commented on #268
@dalaro, I followed your setup, and I can confirm that `RexsterTitanServer` starts up without the error I was experiencing before. I haven't done any further investigation, however.

Also: bonus vocab points for "chicanery" :+1:

[2013-05-18 03:10] jwtodd commented on #268
i'm a _huge_ fan of yammer-metrics [ http://metrics.codahale.com/ ]

i've instrumented apps with the library before which includes one-line
hooks to publish said metrics to grahpite/etc.

not sure if this is too low level or not, but can't speak highly enough
about this metrics lib.

been meaning to work more with titan ... if a decision is to go w/
yammer-metrics, i'd most assuredly lend a hand :

[2013-05-18 03:41] zachkinstner commented on #268
With the following configuration, metrics are being displayed in the console. I get an empty result with the HTTP `/metrics` page, and nothing seems to be sent to Graphite.

[code]

The log says the HTTP and Graphite modes are being configured, at least.

[code]

[2013-05-18 03:53] zachkinstner commented on #268
My [Titan `metrics` branch](https://github.com/zachkinstner/titan/commits/metrics) replicates the `ReporterConfig` setup from [`com.tinkerpop.rexster.Application`](https://github.com/tinkerpop/rexster/blob/3d6db902f0a7cab39c9b86dc9163206e4865b9c4/rexster-server/src/main/java/com/tinkerpop/rexster/Application.java#L75). I'm not sure if additional setup is required on the Titan side to make metrics

[2013-05-18 04:27] zachkinstner commented on #268
In the commit referenced above, I was able to get the HTTP metrics to work by making `ReporterConfig` setup occur before `RexProRexsterServer` and `HttpRexsterServer` creation.  My `http.rest.*` excludes are still ignored (HTTP shows items like `http.rest.vertices.extension.get`), and my Graphite server isn't showing any data.  It is entirely possible my Graphite server/setup is flawed.

[2013-05-18 04:44] zachkinstner commented on #268
"Flawed" was an understatement :flushed:. Once I [_started_](http://graphite.readthedocs.org/en/0.9.10/admin-carbon.html) Graphite, things are working well. In my own defense, I've run this command before, but must have rebooted the server... or something...

[2013-05-18 09:52] spmallette commented on #268
@zachkinstner thanks for proving out the theory for integration.

@jwtodd i liked working with metrics.  definitely found it intuitive and easy to introduce.

[2013-05-18 19:13] zachkinstner commented on #268
No problem... I'm happy to help, and even happier to have my Lego pieces fitting together.

I was a little concerned about the changes in latest commit. I had to move `RexProRexsterServer` and `HttpRexsterServer` instantiation out of the `RextsterTitanServer` constructor and into the `start` method instead.  It seems to work fine, and I suppose it shouldn't cause an issue as long as `start` is onl

[2013-05-19 17:53] connectdotz opened #277 "inconsistent case handling for hybrid query"
https://groups.google.com/forum/?fromgroups#!topic/aureliusgraphs/qrKx6BSNuRY

[2013-05-19 19:35] zachkinstner opened #278 "Titan Server: JNA not found"
When JNA is not included, I see this error during Titan Server startup:

[code]

I can't find the correct JNA to work with Titan Server. So far, any JAR I place into Titan's `lib` directory causes Titan to crash immediately.  I've tried:
- The JAR `apt-get install libjna-java`
- JNA 3.2.7 (Cassandra's version)
- JNA 3.5.2 (latest version)

I have previously (Titan 0.3.0 with Rexster Server) resolv

[2013-05-19 23:13] xedin commented on #278
What platform are you trying to get it working on?

[2013-05-20 00:52] zachkinstner commented on #278
Ubuntu 12.10.

I'd like to provide some debugging output, but I'm not sure how to do it with `titan.sh`.  With Rexster Server, I could use the `-d` flag and/or modify the log4j properties.

Here's the output I get whenever there is a JNA JAR in Titan's `lib` directory:

[code]

[2013-05-20 19:42] dkuppitz opened #279 "Index query fails"
Index queries fail when you use at least two equality filter conditions for two indexed properties. Problem is described [here](https://groups.google.com/forum/#!topic/aureliusgraphs/sXjw-JTwHsY) and [here](https://groups.google.com/forum/#!topic/aureliusgraphs/VPx0-K5W5gw). Additionally I just wanted to mention, that it works, when you only have one equality filter:

[code]

[2013-05-20 20:28] zachkinstner commented on #279
I just experienced this issue with a query in this format (using Gremlin 2.4.0-SNAPSHOT):

[code]

[2013-05-20 21:10] dalaro commented on #279
I'm copying @dkuppitz's Gremlin script from the list to this issue because the script is so handy.

[code]

Thanks, Daniel!

[2013-05-20 21:32] dalaro commented on #279
I've attempted to patch this in fa5c1bffdf26f12b6f9c5330ea445c2d30b8a801 on titan03.  Please consider my changes experimental and potentially broken until Matthias reviews them.  He's much more familiar with this part of Titan than I am.  The changes needed seemed simple, which is partly why I'm concerned that I might be breaking some state invariant out of ignorance.

Given that disclaimer, I now

[2013-05-21 09:17] gjdev opened #280 "Change scope of log4j in pom.xml's"
Please mark the dependencies log4j and slf4j-log4j12 as scope=provided or with optional=true in the pom.xml's. That would make it easier for projects that depend on titan to use another logging implementation over slf4j.

[2013-05-21 16:17] spmallette opened #281 "Chaining has() When Multiple Keys are Used"
Originally reported here:

https://groups.google.com/forum/#!topic/aureliusgraphs/VPx0-K5W5gw

chaining has() in GraphQuery when referencing to property keys marked as indices seems to generate an error:

[code]

doesn't seem to create errors when the second property key reference in the chain is not indexed:

[code]

[2013-05-21 16:23] zachkinstner commented on #281
Is this the same issue as #279?

I can confirm -- I noticed the same behavior.

[2013-05-21 16:45] spmallette commented on #281
yeah...i guess this is a duplicate.  my bad.

[2013-05-21 16:45] #281 closed, assigned to nobody

[2013-05-22 03:11] xedin commented on #274
Merged https://github.com/thinkaurelius/titan/pull/282.

[2013-05-22 03:11] #274 closed, assigned to xedin

[2013-05-22 03:14] xedin opened #283 "Investigate if HBase tests could be run faster."
It takes around 30 mins for tests to run, there should be a way to run them faster.

[2013-05-22 06:29] dalaro opened #284 "TitanBlueprintsGraph's WeakHashMap loses transactions"
TitanBlueprintsGraph (TBG) implements the Blueprints interface TransactionalGraph.  TBG's implementation internally creates a single ThreadLocal transaction for each caller and also stores all of these transaction references as keys in a WeakHashMap.  TBG's shutdown() method iterates over the WeakHashMap and autocommits every open transaction.

The test method BerkeleyJEBlueprintsTest#testTransact

[2013-05-22 06:34] dalaro commented on #280
Optional sounds good.  I think we want scope=runtime or at least scope=test rather than scope=provided, since we do use log4j output when debugging failing tests.  What do you think?

I can make this change in Titan, but some of Titan's dependencies still have non-optional compile-scoped dependencies on log4j.  I think both Rexster (depended on by titan-core) and Cassandra are in that category.

[2013-05-22 06:40] dalaro commented on #279
Following up on my last comment: the test suite did pass on my box.  I'd still consider my commit experimental and potentially broken until it's reviewed, though.

[2013-05-22 07:17] dalaro commented on #284
With Collections.synchronizedMap(new WeakHashMap()), the test passed 575 successful consecutive executions before I killed the loop.  Right after killing the loop, I reverted to an unsynchronized WeakHashMap and the test failed on its first execution.

I also reproduced the failure on a pristine titan03 clone using Tinkerpop 2.3.0 (HEAD was fa5c1bffdf26f12b6f9c5330ea445c2d30b8a801).

[2013-05-22 08:26] gjdev commented on #280
Scope = runtime wouldn't help, the jars would remain transitive dependencies for dependent projects. Scope = test is what the slf4j faq suggest, so that's probably best. Scope = provided jars are available on the test-classpath, so you will still have log4j when debugging failing tests.

You're right about rexster directly depending on log4j (but shouldn't rexster be an optional dependency of tita

[2013-05-22 20:18] gmcfall opened #286 "AbstractElement.equals"
Sometimes, the following class cast exception occurs...

java.lang.ClassCastException: com.thinkaurelius.titan.graphdb.types.system.SystemKey cannot be cast to com.thinkaurelius.titan.graphdb.internal.AbstractElement
    at com.thinkaurelius.titan.graphdb.internal.AbstractElement.equals(AbstractElement.java:40)

Here's the source code...

 public boolean equals(Object other) {
        if (this==ot

[2013-05-22 22:31] dalaro commented on #284
Changed to a ConcurrentHashMap in 1bea1e5a9d3de1b8eb128dd05c237b4a1d01201a.

[2013-05-22 22:31] #284 closed, assigned to dalaro

[2013-05-23 00:34] okram opened #288 "Why does this warning message happen twice? (During vertex iteration with no indices)"
[code]

[2013-05-23 00:39] okram commented on #288
This is Titan 0.3.1.

[2013-05-23 00:46] spmallette opened #289 "ThreadedTransactionalGraph and Type Maker"
Is there a possible problem when introducing a new property key via a `TransactionalGraph` spawned from `newTransaction()`?  I tried to recreate the problem (something I've experienced while writing unit tests) in the Gremlin REPL, but couldn't.  I've been seeing this issue with BerkeleyDB, but perhaps it is possible to recreate it with the other backends.

Here's a rough synopsis of what I see ha

[2013-05-23 03:10] dalaro commented on #289
[TransactionTitanGraphTestSuite](https://github.com/thinkaurelius/titan/blob/master/titan-test/src/main/java/com/thinkaurelius/titan/blueprints/TransactionalTitanGraphTestSuite.java) also does what you did.  That contains a comment reading "Need to define types before hand to avoid deadlock in transactions" underneath which it makes a bunch of property keys and then starts a bunch of threads that

[2013-05-23 03:29] dalaro commented on #289
Are you passing TypeMaker between threads?  Or does each thread get its own TypeMaker by calling tg.makeType()?

[2013-05-23 09:49] spmallette commented on #289
Using `synchronize` sounds like the right way to go.  regarding:

I'm not passing TypeMaker explicitly.  I only included that line of code to show what i do in a single thread prior to starting the application touching the fresh graph.  In doing that, things work fine.

My guess from following the Titan code (which I still don't know very well) is that the default TypeMaker gets called when `setPr

[2013-05-23 11:54] gjdev opened #290 "IllegalArgumentException removeProperty(key) for not out-unique properties"
The api-docs on AbstractVertex.removeProperty(key) suggest that calling removeProperty(key) for a not out-unique (i.e. multivalued) property key, will delete all values and return the last deleted. The actual implementation throws an IllegalArgumentException instead.

Either the doc or the implementation should be changed. My preference would be to fix the implementation, as it's very useful to be

[2013-05-24 00:36] ghost commented on #119
Thank you for posting this issue and making it searchable on Google.  I ran into the same issue, but wanted to share with others the root cause and solution in my case.  My symptom was seeing the same type of error messages.

The newer build of Titan (0.3.x) depends on 'javax.servlet:javax.servlet-api:3.0.1'.  One of the downstream (or transitive) dependencies when using cassandra is 'javax.servle

[2013-05-24 07:31] advancedlogic opened #291 "[URGENT] update to 0.3.1 failed - waiting for id renewal"
it's one day and a half I am literally fighting with titan 0.3.1
I have updated ElasticSearch to version 0.90.0 and titan to 0.3.1 using maven.
I already set ids.block-size to 250000 but nothing changed.
I tried using Cassandra 1.2.2 as suggested (I was using the last version 1.2.5) but nothing changed.  What am I doing wrong?
Below the exceptions

26:35 [main] INFO  org.elasticsearch.plugins  - [

[2013-05-24 23:49] dalaro commented on #286
I patched titan03 to remove the unchecked cast.  The new equals() should be safe to call on objects of any type.  However, I wonder if comparing SystemKey to AbstractElement subclasses could be indicative of a failed assumption somewhere else in the Titan source.  Would you please paste the full exception stacktrace?

[2013-05-24 23:56] dalaro commented on #291
The commit I pushed is for the negative sleep time exception in your log dump, but that seems like a peripheral concern here.  The main concern is why Titan is taking 25+ seconds to get an ID allocation from Cassandra.

Can you describe a bit more about your deployment?  Is it an upgrade from, for instance, 0.3.0 and some other Cassandra version?  Or is it a new installation of Titan 0.3.1?  Is th

[2013-05-25 00:01] dalaro commented on #290
I agree.  I don't see any implementation or conceptual reason that this method can't behave as the interface describes.  I added a test to verify the behavior described in the interface and then I changed the implementation of `AbstractVertex.removeProperty(TitanKey)` to comply: 48c680b16582318630c56716b0ffc629177841db.  `AbstractVertex.removeProperty(String)` is implemented atop the `TitanKey` eq

[2013-05-25 00:02] #290 closed, assigned to dalaro

[2013-05-25 00:10] advancedlogic commented on #291
Thanks for your kind reply. I was able to fix it a couple of hour ago and now it's under test.
There was a Cassandra wrong settings in cassandra.yaml and some maven library intellij did not import correctly :( …
in any case it has been really hard to find out the reason. A lot of debugging inside your code (very nice code in any case :) ) …
At the end I tried first running embedded cassandra and i

[2013-05-27 19:36] dalaro commented on #291
Glad the config issue is resolved.

Regarding that "problem with locks on vertices" -- this sounds alarming and is unfortunately vague.  If you'd like to discuss it further, then please open another ticket about the problem with additional details and/or stacktraces.  Thanks.

[2013-05-27 19:36] #291 closed, assigned to nobody

[2013-05-29 05:17] fabiankessler commented on #182
No, it was just a couple of entities. Under 100. I had this in my persistence tests around every 7th time (wild guess). I have now upgraded to 0.3.1 and haven't seen it anymore...

[2013-05-29 11:55] gjdev opened #293 "Per transaction configuration of LockMode for Berkeley"
Currently when using the Berkeley backend, it is not possible to have concurrent transactions that do mutations on the same data, without getting PermanentStorageException (caused by sleepycat LockTimeOutException). That's because in the typical read-modify-write logic imposed by Titan, the concurrent transaction will deadlock when they try to promote their locks from READ to WRITE. (Which will le

[2013-05-29 19:06] gjdev commented on #290
Thanks for fixing this, much appreciated!

[2013-05-30 22:22] mdessureault opened #294 "Properties indexed by elasticsearch are sometimes nulled out when the vertex is retrieved"
Environment:
Titan 0.3.1 running cassandra and elasticsearch in embedded mode on a single Redhat server.

Here is a code snippet that reproduces the problem:

[code]

This prints the following:

[code]

Retrieving this vertex either using gremlin or rexster works as expected.

Using gremlin:

[code]

Using rexster:

[code]

But if I want to retrieve all vertices, the objectType (and sometimes the

[2013-05-31 05:14] dalaro commented on #288
Titan's `QueryProcessor` iterator appears to precompute the first `next()` result during construction.  Two such iterators are instantiated in the constructor for `GremlinPipeline`:

[code]

The first is instantiated inside the `StartPipe` constructor (first line of GP constructor).  The second is instantiated inside `FluentUtility.setStarts(...)` (last line of GP constructor).  Each iterator prec

[2013-06-04 16:36] mbroecheler opened #296 "Text.CONTAINS is token based"
In some other trials, I found an interesting result: a partial-text search works (case-sensitive) if the property is not indexed:

g.makeType().dataType(String.class).name("test").unique(OUT).makePropertyKey();
g.addVertex([test: "Elastic"]);
g.query().has("test", com.thinkaurelius.titan.core.attribute.Text.CONTAINS, "E").vertices(); //works
g.query().has("test", com.thinkaurelius.titan.core.attri

[2013-06-04 16:46] zachkinstner commented on #296
Thanks Matthias -- from [this discussion](https://groups.google.com/forum/?fromgroups#!topic/aureliusgraphs/0ZQLoYtjC0g).

[2013-06-05 08:06] dkuppitz opened #297 "Unexpected caching behaviour in Query API"
Hi,

there seems to be some caching in the Query API, that prevents you from getting what you want in subsequent queries.

**Example:**

_Init:_

[code]

_Query:_

[code]

It's only a problem within the current transaction. So, if you call `g.commit()` or `g.rollback()` between the two queries, then the second query successfully returns the expected tweets. Also when you _touch_ the tweet vertices

[2013-06-05 11:29] vantonio opened #298 "RexsterTitanServer ignores <script-engines> in rexster.xml"
`EngineController.configure(-1, this.rexsterConfig.getString("script-engine-init", null));`
in file RexsterTitanServer.java,  ignores the <script-engines> tag.

[2013-06-06 19:03] spmallette commented on #298
@dalaro this is a good fix as we have never allowed the configuration of multiple script engines in Titan Server before.    i assume we would want to just merge this to master.  any objections?

btw, @vantonio thanks for the pull request.

[2013-06-07 18:51] dalaro commented on #298
This caused an NPE for null script-engines values.  At least one of the unit tests based on `RexsterServerClientTest` died immediately on this NPE.  I modified the code slightly to workaround the NPE by falling back on the old behavior when script-engines is unset and pushed 110476b02d9b39451fff242a7fbb0aeae2efc082 to titan03.

Do you think this needs to go into master immediately?  It seems at le

[2013-06-07 20:13] spmallette commented on #298
It's not really a bug.  it's more of a feature omission, which was somewhat intentional when we first got started. i'll make a couple of adjustments to what you have in titan03.  besides, i busted some stuff when i deployed latest rexster to sonatype a few hours ago...

[2013-06-07 20:46] spmallette commented on #298
Committed this fix... 0f88d61d90d95ef1dcfd82aec48cf4be6738813b ...should now run with rexster 2.4.0-SNAPSHOT.

[2013-06-08 04:16] vantonio commented on #298
Thank you guys:-)

[2013-06-09 21:04] okram commented on #288
I fixed the double .iterator() call in Gremlin.

[2013-06-09 21:04] #288 closed, assigned to nobody

[2013-06-10 10:46] dalaro commented on #298
Thank you.  I think this and the related PR #299 are resolved and I'm closing them.  Please reopen if I missed something.

[2013-06-10 10:46] #298 closed, assigned to nobody

[2013-06-11 05:52] ankit18lewis opened #300 "loading graph in gremlin from casandra"
hi,
 i am using titan with cassandra through gremlin i am able to connect to cassandra and create graph but when i stop the gremlin shell and start it again the graph does not persists and i am unable to load the graph again .
anyone can please tell me how to load the graph.
thanks

[2013-06-11 12:06] okram commented on #300
Please provide more information as this bug report is not sufficient to debug.

[2013-06-11 12:06] #300 closed, assigned to nobody

[2013-06-11 12:16] ankit18lewis commented on #300
Can anyone tell me how to load already created graph in gremlin from cassandra database?There is a GraphOfGodsFactory.load() method which is used to load the God's graph.Is there something similar to load the already created graph in gremlin shell.

[2013-06-11 12:23] ankit18lewis commented on #300
gremlin>  GraphOfTheGodsFactory.load(g)                                                                                                                      No such property: GraphOfTheGodsFactory for class: groovysh_evaluate
Display stack trace? [yN] y
groovy.lang.MissingPropertyException: No such property: GraphOfTheGodsFactory fo

[2013-06-11 12:47] okram commented on #300
This is an issue tracker for reporting bugs, not for asking questions. Please use a mailing list or stack overflow for questions.

[2013-06-11 15:54] #279 closed, assigned to nobody

[2013-06-11 15:54] #286 closed, assigned to dalaro

[2013-06-12 15:57] anvie commented on #227
Hi @xedin, so do you have any idea howto rescue my data in my cassandra that using BOP to new cassandra with random partitioner?
Now I'm trying to dump all existing data from cassandra and migrate to another cassandra with random partitioner,
Direct access using gremlin (in Titan 0.3.1) I'm got error:
`This operation is only allowed when random partitioner (md5 or murmur3) is used`
and when using

[2013-06-12 16:42] anvie commented on #227
Just walking around and found this: https://issues.apache.org/jira/browse/CASSANDRA-5566
maybe related issue?

[2013-06-13 12:12] dalaro commented on #280
We agree on optional=true.  Won't that kill dependency transitivity regardless of scope?  That's how I interpreted the [Maven docs on optional](http://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html#How_do_optional_dependencies_work).  I think scope=test and scope=runtime will probably be practically indistinguishable for Titan, but I wonder if I've mis

[2013-06-13 17:58] timjstewart opened #301 "Storm and Titan Interop Problems"
Hello, I'm writing a Storm bolt that will insert data into a Titan graph backed by Cassandra (by DataStax, version ReleaseVersion: 1.2.5).

Titan Version: 0.3.1 (depends on Kryo version: 2.21)
Storm Version: 0.8.2 (depends on Kryo version: 2.17)

I think I have a Catch-22.  I can either tell the build tool to use Titan's Kryo dependency or Storm's Kryo dependency.  No matter what I do, I see a pro

[2013-06-13 18:35] timjstewart commented on #301
Ah!  I'm not using one version of Kryo.  When I run gremlin.sh, it's using the 2.21 version of Kryo.  I'll try dropping in the 2.17 version of Kryo into the titan install.  This implies that Kryo might have introduced a binary incompatibility between 2.17 and 2.21.

[2013-06-13 18:38] timjstewart commented on #301
That fixed the problem.

[2013-06-13 19:25] dalaro commented on #301
Your analysis of both Kyro version configurations looks sound and complete to me.  Is there anything else we can do on this issue?

[2013-06-13 21:26] dalaro opened #302 "Lock could not be acquired due to timestamp mismatch"
This issue is from the [aureliusgraphs list thread of the same name](https://groups.google.com/forum/#!topic/aureliusgraphs/ukhSu-7BKY0).

On Titan 0.3.1, locking sometimes fails with a "Lock could not be acquired due to timestamp mismatch" PermanentLockingException when running one Titan process against a Cassandra cluster.  The full exception message resembles this:

[code]

This check was intro

[2013-06-13 21:38] okram commented on #263
@hariharshankar is pushing on this.
_support_

[2013-06-13 21:39] hariharshankar commented on #229
This issue seems to have resurfaced again:

[code]

[2013-06-13 22:14] dalaro commented on #302
Titan reads/writes lock records on Cassandra to resolve contention between conflicting lock attempts by separate processes.  Contention between threads in the same process should be handled in memory by LocalLockMediator before touching Cassandra.  For the special case of a single Titan process, as seen in the list thread, all lock contention at the Cassandra level is architecturally spurious.

I

[2013-06-14 11:00] gjdev commented on #280
Yes if optional=true and scope=runtime, that should work. With scope=test you don't need to set optional. The scope setting might affect how distributions are build, so you may want to double-check that a distribution build still includes the log4j bindings.

[2013-06-14 16:31] timjstewart commented on #301
Thanks Dan!  I'm not a seasoned Java developer.  Is overwriting the JAR file an acceptable solution for me to use?  For all I know Titan depends on something released in version 2.21 of Kryo (e.g. a performance improvement in Kryo).

Was there a binary compatibility issue related to serialization introduced by Kryo between version 2.17 and 2.21?  It might be nice to know how important binary compa

[2013-06-14 16:52] zackzackzack opened #304 "Testing support tag"
Testing if any old github account can open an issue with the support tag.

[2013-06-15 00:34] xedin commented on #278
Just for experiment's sake, can you try running it as normal user and decrease your heap size? I think this error could be related to the mlockall(MCL_CURRENT) call done when JNA is present which tries to lock whole JVM heap into physical memory, could be that your machine just doesn't have enough RAM to handle it and process gets killed when run with root privileges.

[2013-06-15 15:57] dalaro commented on #304
thanks for checking this.

[2013-06-15 15:57] #304 closed, assigned to nobody

[2013-06-15 19:52] dkuppitz commented on #229
Same with "normal" edges:

[code]

I've tried a lot of things, but didn't find any workaround. It's not even possible to remove (and recreate) the edge.

[2013-06-17 14:47] okram commented on #229
I just added this test case to Blueprints.
  https://github.com/tinkerpop/blueprints/blob/ef9210734f917e64807dcada95609e2089fe0ef0/blueprints-test/src/main/java/com/tinkerpop/blueprints/KeyIndexableGraphTestSuite.java#L195

I will extend it to include edge properties in a few.

[2013-06-17 17:55] dalaro commented on #229
I'm confused.

I ran @okram's new KeyIndexableTestSuite method (testUpdateValuesInIndexKeys) using InternalCassandraBlueprintsTest in the Titan 0.3.1 tag and it passed.  I've been unable to locally reproduce @hariharshankar's exception locally by starting a pristine embedded cassandra + local ES instance and running the gremlin commands as listed.  The last commit just returns null as usual.

What

[2013-06-17 18:42] hariharshankar commented on #229
Yes, I forgot to add that. This is the type statement:

[code]

[2013-06-17 19:19] dalaro commented on #229
Thanks!

I'm running a freshly-unzipped copy of titan-all-0.3.1.zip.  I've tried embedding Cassandra + ES and running both of them as external processes.  Here's my typical Gremlin output in either configuration:

[code]

In your first message, you wrote that "This exception is thrown everytime a transaction is committed to titan, after a script that would write to titan failed once (because of a

[2013-06-17 19:23] dalaro commented on #229
Here are the two configurations that I tried:

[code]

[2013-06-17 19:49] hariharshankar commented on #229
I ran a clean instance of titan/cassandra similar to @dalaro's comments and I am not able to reproduce this error now! I guess there is something wrong with my configurations. I will try to locate the problem. Sorry for the troubles.

[2013-06-19 00:46] dkuppitz opened #305 "Problem with limit in Query API"
The problem is in the last query:

[code]

I suspect the set of users is limited without taking firstname into account.

[2013-06-19 03:08] dalaro commented on #305
I didn't account for limits in fa5c1bffdf26f12b6f9c5330ea445c2d30b8a801 when working on #279.  As @dkuppitz inferred, the limit on graph queries is being erroneously applied to the index fetch without consideration for the additional unindexed conditions.

I wrote a unit test based on the gremlin script.  It failed as expected.  I then changed the graph query processor.  It now hits the backend wi

[2013-06-19 13:52] ghost opened #306 "Vertex Centric Query -- Primary keys other than Integer and Long"
As described at [the Google Groups topic](https://groups.google.com/forum/#!topic/aureliusgraphs/pBZMZVG0oUs), with the current implementation it seems impossible to have arbitrary comparable data types as primary key although this can be defined through the `TypeMaker` interface. It might be interesting to document this at [Titan:Type-Definition-Overview](https://github.com/thinkaurelius/titan/wi

[2013-06-20 16:16] dalaro commented on #199
This exception string is no longer in Titan master.  It was refactored out of existence months ago:

[code]

d5662482340f61d370cde27fece75d7ecb6b16e4 deletes the method that used to throw this exception, along with its enclosing class, and replaces it with substantially different code.  I'm not sure whether this exception has a direct equivalent anymore.  Maybe something thrown from `ElementLifeCy

[2013-06-20 16:35] bdeggleston commented on #199
yeah, I developed the persistit backend against titan 0.2.x, then ported it to 0.3.x. We're using 0.2.1 here, so I was able to give it some real world use, and look for any problems not exposed by the unit tests

[2013-06-20 17:30] mbroecheler commented on #199
To clarify on the "Relation already existed" exception: With the major
refactoring of Titan, this exception is no longer applicable nor does it
have an equivalent in Titan 0.3.x.

On Thu, Jun 20, 2013 at 9:35 AM, Blake Eggleston
notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-06-20 20:13] AlexanderDaw commented on #165
Also seeing this issue. CDH4 , CentOS6.2.

[2013-06-20 20:36] spmallette opened #307 "Make Has() More Forgiving On Comparisons"
This is also an issue over in Blueprints (https://github.com/tinkerpop/blueprints/issues/409), but since Titan doesn't use the default vertex query of Blueprints, it would need to be fixed here for it to have affect in Titan (at least I think that is the case).

If a property mixes types and you try to use `has()` on it you can get some ugliness....in the example below (using TinkerGraph just for

[2013-06-21 16:48] dalaro commented on #302
I would have created a much cleaner history if I'd branched off titan03 instead of master.  Next time...

These changes are in master and titan03.  I deleted the issue-302 branch.  The issue-302-on-0.3.1 branch is in use by J.D. Corbin on a client environment and should probably stay around until we package a new 0.3.x release.

I think the "relax lock timestamp mismatch" check may be applicable t

[2013-06-21 18:02] dalaro commented on #263
@hariharshankar: on what Linux distro are you running Titan?

I think that we could write a small main class that, after interactively warning the user and prompting for positive confirmation, calls clearStorage() on Titan's configured index and data backends.  This main class should help the developer use case.  When used with a configuration that embeds Cassandra and ES in Titan's JVM, there wou

[2013-06-22 16:36] okram commented on #263
My two cents and take with a grain of salt as I'm not a "devops" guy.

I see this ticket as simply making it easy to start/stop/status Titan (purge optional -- and can be ignored in the initial pass). This script simply starts up Cassandra and ElasticSearch and wa'la. Nothing fancy, just a simple shell script so people don't have multiple terminals open with:

[code]

On Jun 21, 2013, at 12:02 PM,

[2013-06-24 03:54] mbroecheler opened #308 "Use ReadBuffer as argumenttype in custom AttributeSerializer"

[2013-06-24 17:30] mbroecheler opened #309 "Make limit > int.max equal to int.max"
to address:
https://github.com/tinkerpop/blueprints/issues/407

[2013-06-24 19:37] hariharshankar commented on #263
We are using RedHat in our servers.
As @okram mentioned, purge is a luxury to have, but would like for start/stop functionalities. The current script works for all our purposes, but the main draw back is that the stop function kills ALL the processes that has the word cassandra in it. This obviously has unintended consequences.

[2013-06-26 21:06] devsprint opened #312 "Cassandra backed support through native transport and cql"
I'm looking to implement storage support for Cassandra, using CQL and native transport protocol.

I do have a draft version that is working  but there are still improvements to add.

I have implemented as a separate module, to not mess with the dependencies.

If is it something that it could be interesting to Titan community, then, I will make a pull request.

Let me know your thoughts.

[2013-06-27 09:11] mbroecheler commented on #312
Hey Gabriel,

what is the performance of using cql vs thrift? What would be the benefit
of going over cql?

Cheers,
Matthias

On Wed, Jun 26, 2013 at 2:06 PM, Gabriel Ciuloaica <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.com

[2013-06-27 15:49] okram commented on #289
We had a big time sync that I believe is related to this problem.

We were bulk loading data into Titan/HBase with Faunus. We accidently forgot to add one of the property keys as a type. The property key was "value". The data loaded correctly, but when we did this in Titan/Gremlin terminal we got this weird behavior.

[code]

We were like "bawaaah?" ... After realized we forgot to add "value" to o

[2013-06-27 16:33] devsprint commented on #312
I think that the main benefit will be better performance by using the native protocol and cql instead of thrift. I wil come back in a week with some performance numbers. Is there any specific test/scenario that you'd like to see the numbers for?

Br,
Gabi

[2013-06-27 17:21] mbroecheler commented on #312
That would be fantastic? No specific scenario, just some standard vertex
and index queries over a reasonable size dataset.

Thanks,
Matthias

On Thu, Jun 27, 2013 at 9:33 AM, Gabriel Ciuloaica <notifications@github.com

##

Matthias Broecheler
http://www.matthiasb.com

[2013-06-27 20:47] mbroecheler commented on #199
closed with https://github.com/thinkaurelius/titan/pull/275

[2013-06-27 20:47] #199 closed, assigned to nobody

[2013-06-28 20:02] mbroecheler commented on #80
Use junit benchmarks, export as xml, parse xml and gather statistics (@dalaro)

Write junit benchmark tests (@mbroecheler)

[2013-06-28 20:03] mbroecheler commented on #71
Also accomodate high availability setups?

[2013-06-28 20:09] mbroecheler commented on #97
This feature will roll out with Blueprints 2.4.0 and something that we need to accomodate for in the Titan query answering.
I am currently favoring an approach whereby we refactor the query processing pipeline (for both vertex centric queries and StandardElementQueries) into:

QueryBuilder -> execute -> query optimizer -> list of atomic queries plus execution flags (fitted or not) wrapped in a Que

[2013-06-28 20:11] mbroecheler commented on #145
this should be part of the query optimizer

[2013-06-28 20:12] mbroecheler commented on #158
include the DelftSWA project results

[2013-06-28 20:13] mbroecheler commented on #170
this refers to the StandardElementQuery creation and optimization

[2013-06-28 20:13] #182 closed, assigned to nobody

[2013-06-28 20:20] okram commented on #97
Please see has(key,predicate,value) in Blueprints. And predicate
Contains.IN.

This removes the ORing at the has() level and is predicate specififc.

http://markorodriguez.com
On Jun 28, 2013 4:09 PM, "Matthias Broecheler" notifications@github.com
wrote:

[2013-06-28 20:22] dalaro opened #313 "Parallelize test suite"
Consider two potential levels of parallelism in the current maven test suite:
- Running Maven's reactor-driven module builds in concurrent processes (e.g. `mvn -T4`)
- Running test classes in concurrent threads within a process (e.g. surefire's `<parallel>classes<parallel>` configuration option)

I'm already experimenting with the second type of parallelism in the cassandra-test-refactoring branch

[2013-06-28 20:28] mbroecheler opened #314 "Edges and properties not resolved correctly when removed"
Same with "normal" edges:

gremlin> g = TitanFactory.open('/tmp/bar')
==>titangraph[local:/tmp/bar]
gremlin> t = g.makeType().name("type").dataType(Integer.class).unique(OUT).indexed(Edge.class).makePropertyKey()
==>v[36028797018963978]
gremlin> g.makeType().name("friend").primaryKey(t).makeEdgeLabel()
==>v[36028797018963990]
gremlin> g.commit()
==>null
gremlin> v1 = g.addVertex(null)
==>v[4]
grem

[2013-06-28 20:28] mbroecheler commented on #229
closed until further incidences are found.
Created issue #314 for the discovered (unrelated) issue

[2013-06-28 20:28] #229 closed, assigned to dalaro

[2013-06-28 20:54] mbroecheler commented on #263
This needs to be subsumed by a more general Titan manger deployment service.

[2013-06-28 20:54] #263 closed, assigned to dalaro

[2013-06-28 21:31] mbroecheler commented on #289
@okram: Did you have batch loading enabled when you were loading the data. That would explain the weirdness you were seeing. With batch loading enabled, existing types would get silently overwritten (since locking is disabled - that's why you weren't seeing the exception that Stephen got) and the database ended up in an inconsistent state.

I think what we should do is this:
Whenever batch-loading

[2013-06-28 21:57] okram commented on #289
That makes sense. SchemaInferencer does that job in Faunus so that makes sense to me.

[2013-07-02 12:58] akumarb2010 opened #315 "Titan with embedded cassandra issue"
I am facing issue while connecting to titan (with embedded cassandra mode).

My configurations:

titan-server-cassandra.properties:
storage.backend=embeddedcassandra
storage.cassandra-config-dir=file:///home/user/Work/titan-all-0.3.1/config/cassandra.yaml

I started titan as below and tried to connect with java snippet:
./bin/titan.sh config/titan-server-rexster.xml config/titan-server-cassandra.p

[2013-07-02 13:01] spmallette commented on #315
if you want to connect to a running Titan Server from a java application then you don't want this:

[code]

you want to do:

[code]

[2013-07-02 16:47] akumarb2010 commented on #315
I modified it as below, but still getting same issue. It's considering as Berkeley storage.

public static TitanGraph create() {
        conf = new BaseConfiguration();
        conf.setProperty(GraphDatabaseConfiguration.STORAGE_BACKEND_KEY,"cassandrathrift");
        conf.setProperty("storage.hostname", "127.0.0.1");
        Configuration index = conf.subset(
                GraphDatabaseConfigur

[2013-07-02 16:55] akumarb2010 commented on #315
Istead of

conf.setProperty(GraphDatabaseConfiguration.STORAGE_BACKEND_KEY,"cassandrathrift");
conf.setProperty("storage.hostname", "127.0.0.1");

I used below
conf.setProperty("storage.backend","cassandrathrift");
conf.setProperty("storage.hostname","127.0.0.1");

Now it's trying to connect cassandra but still I am facing thrift issue:

Exception in thread "main" com.thinkaurelius.titan.core.Tita

[2013-07-03 14:35] mphuff commented on #165
@cglewis, @AlexanderDaw, and @khanio -- any other idea as to what may be causing this? We are running CDH4 on Ubuntu 12.04 and I'm seeing exactly the same output as mentioned above. I've tried re-deploying the configuration through the Cloudera manager and that hasn't improved anything either. I have also tried explicitly including the hadoop-core library specific to my version of CDH4 and everyth

[2013-07-03 16:01] jmzhang opened #316 ".\bin\gremlin.bat path issues"
I'm fairly new to windows scripting stuff. After downloading the titan on windows, I've be struggling to start the gremlin and create a titan graph. Finally, I figured out that I have to start gremlin one level out of the .\bin folder by typing ".\bin\gremlin.bat" in the command prompt and the gremlin.bat needs a little modification as below:

change `set LIBDIR=..\lib` to  `set LIBDIR=.\lib`

cha

[2013-07-03 16:44] zcox commented on #263
I know this ticket is closed, but fwiw here is the Upstart script we're using with Titan Server (Cassandra) 0.3.1 on Ubuntu 12.04 on ec2. I literally just used wget to download the .tar.gz and extracted it into /home/ubuntu/titan. Then this seems to work well:

[code]

The above goes in /etc/init/titan.conf and allows us to use the start and stop commands to run Titan Server as a daemon (as well a

[2013-07-04 00:56] mbroecheler commented on #315
Do you have cassandra running locally? Meaning, can you connect to
cassandra on the specified port 127.0.0.1?

On Tue, Jul 2, 2013 at 9:55 AM, AnilKumar notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-04 10:48] simplyzaki commented on #165
@mphuff What version of Titan are you using ?

[2013-07-04 15:05] mphuff commented on #165
I'm using the latest version of Titan, 0.3.1. I've tried using titan-hbase as well as titan-all with no difference as well.
- Micah

On Jul 4, 2013, at 3:48 AM, Zakiullah Khan Mohammed notifications@github.com wrote:

[2013-07-04 15:13] simplyzaki commented on #165
@mphuff And is CDH4 installed in cluster mode or pesudo (standalone) mode ?

[2013-07-04 15:23] mphuff commented on #165
It is in clustered mode.
- Micah

On Jul 4, 2013, at 8:13 AM, Zakiullah Khan Mohammed notifications@github.com wrote:

[2013-07-04 15:39] simplyzaki commented on #165
And when referencing the HBase server setting in Titan config, are you pointing to CDH4 client node or HBASE master node ?

[2013-07-05 14:29] mphuff commented on #165
@khanio -- I'm pretty sure I'm pointing to the HBase master node. Both CDH4 and HBase are running on the same master machine and the region servers for hbase are running on 2 other servers. This is a cluster we're using as a test setup and we're trying to understand what may be wrong -- either with Titan or HBase itself.

[2013-07-05 16:55] mphuff commented on #165
Just as a follow-up, I've been successfully able to create a table just through the hbase shell, insert records, add a number of column families, and everything worked as expected. When I run the following SIMPLE java code though, it stalls at 'Started enable of xdm':

[code]

[2013-07-05 16:57] okram commented on #165
Does it "stall" or does it go into what looks as an infinite loop. If the latter, realize that Titan will enable/disable/enable/disable/etc. for a good 45 seconds before completing and table creation is complete.

On Jul 5, 2013, at 10:55 AM, Micah Huff notifications@github.com wrote:

[2013-07-05 18:12] mphuff commented on #165
@okram -- It appears to stall. I only ever see one iteration of 'start disable', 'disabled', 'start enable' and then nothing else. I just recently let it sit there at the 'start enable' line for as long as it would and I wound up with this call stack as the resulting error:

[code]

[2013-07-06 10:57] spmallette commented on #316
thanks. i'll look into these suggested changes.  the .bat was based on the Gremlin version, so I'll adjust it there as well if necessary.

[2013-07-07 18:40] yvesx opened #317 "Titan 0.3.1 doesn't work with examples in /wiki/Graph-Configuration"
the examples worked when I ran them in Java.

I just downloaded titan 0.3.1 zip and run with ./bin/gremlin.sh
to try the configuration example here: https://github.com/thinkaurelius/titan/wiki/Graph-Configuration

gremlin> Configuration conf = new BaseConfiguration();
==>org.apache.commons.configuration.BaseConfiguration@43eeba19
gremlin> conf.setProperty("storage.directory","/tmp/titan");
No such

[2013-07-07 18:54] okram commented on #317
You can not use Configuration conf. Just conf. You can not specifiy class types in the console.

[code]

[2013-07-07 18:54] #317 closed, assigned to nobody

[2013-07-07 18:59] yvesx commented on #317
thanks for the speedy reply. But I seem to get the same thing with "Configuration conf" / "conf".

[code]

-----oOOo-(_)-oOOo-----
gremlin> conf = new BaseConfiguration();
==>org.apache.commons.configuration.BaseConfiguration@6302ae84
gremlin> Configuration conf = new BaseConfiguration();
==>org.apache.commons.configuration.BaseConfiguration@12e90e23
gremlin>

[2013-07-07 19:15] spmallette commented on #317
yes...they output the same thing at the prompt, if that's what you are referring to, but did you pass the one initialized as:

[code]

into `TitanFactory.open(conf)`...that really should resolve that issue.

[2013-07-07 19:21] yvesx commented on #317
it does work now as you suggested!
thanks for helping me out.
On Jul 7, 2013, at 2:15 PM, stephen mallette notifications@github.com wrote:

[2013-07-07 19:23] okram commented on #317
In the future, please spend time trying to figure out basic issues on your own. There is much to be read in the documentation. Use your time to learn so you don't spend our time teaching you.

On Jul 7, 2013, at 1:21 PM, yvesx notifications@github.com wrote:

[2013-07-08 12:40] akumarb2010 commented on #315
Yes Cassandra is running locally.

When I am using RexsterClient, I am able to connect and as of now I am using RexsterClient.

[2013-07-08 12:45] akumarb2010 opened #318 "Titan cluster set up in embedded cassandra mode"
Is there any documentation for setting up Titan Cluster with embedded Cassandra?

Is there any user mailing list for Titan?

And also I want to understand, how the graph partitioning(sharding) will be happen, in cluster mode? Is there any architecture documentation for this? I started going through source code, but it is taking time to understand.

[2013-07-09 00:19] mphuff commented on #165
@okram, @cglewis, @AlexanderDaw, and @khanio --

Update as to where I'm at. It appears that this is a compatibility problem between CDH4.3.0 and Titan 0.3.1. I'm still working out the problem but I'm now explicitly including all of the CDH4.3.0 hadoop binaries (hadoop-core and hadoop-common) as well as the hbase 0.94.6-cdh4.3.0 binaries.

By doing that, I don't get all the way to the point in time

[2013-07-09 00:34] cglewis commented on #165
@mphuff  I haven't tried with the latest yet so there be some differences to making it work.  Are you creating a new HBase table before letting Titan do it, or is Titan creating it for you?  I've had issues with pre-existing tables and the CDH hack, so would be curious what you're doing.

[2013-07-09 01:50] mphuff commented on #165
@cglewis - I am letting Titan do the creation of the table for me. I want to have no manual Hbase interaction and let Titan take care of everything. I posted the code I'm using just a few posts ago. I never make it to the shutdown line.

[2013-07-09 04:18] mbroecheler commented on #318
Please read the documentation in the wiki and use the mailinglist aureliusgraphs@googlegroups.com for questions.

[2013-07-09 04:18] #318 closed, assigned to nobody

[2013-07-09 04:40] mbroecheler commented on #315
Can you also connect to cassandra directly? I.e. does cassandra respond at
127.0.0.1 when you connect to it from cassandra-cli for instance?

On Mon, Jul 8, 2013 at 5:40 AM, AnilKumar notifications@github.com wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-09 15:03] okram opened #319 "Create a general interface (and subsequent implementations) for linearly scanning key/values out of Titan"
If Titan had a general interface for scaning data, then we could simply have TitanInputFormat in Faunus and other Titan implementations (e.g. LevelDB :)) could be subjected to analysis from Faunus.

[2013-07-09 15:23] mbroecheler commented on #319
I am not sure if it makes sense to expose this through Titan since it will
be faster for Faunus to directly go against the underlying store an have
Titan act as the "translator". When we pull titan-core under Faunus, this
will be pretty easy and reduce a lot of code.
For the smaller, local machine systems we can use Titan's optimized g.V and
work with Furnace directly.

On Tue, Jul 9, 2013 at 8:03

[2013-07-10 20:26] dalaro opened #320 "potential race in ES query over recently-committed vertex properties"
Jon Smoot reported this issue in the aureliusgraphs thread [elasticsearch queries stoped working after commit (from a Java app)](https://groups.google.com/d/msg/aureliusgraphs/nCIKkwiif-M/Hs_P-kQiIC4J).  Thanks, Jon!

I played around with this example locally in Java and Gremlin (except I inserted a g.commit() right after creating types).  It seems to be a race condition.  If I insert a `Thread.sl

[2013-07-12 20:09] yvesx opened #321 "Problem connecting to external ElasticSearch cluster (which has two sets of public&private IPs)"
I searched my error and couldnt find much either in titan or elasticsearch repo...
(in Using-Elastic-Search, this is mentioned `Also ensure that the machine running Titan can connect to the Elasticsearch instances over the network if the machines are physically separated.`)
So this is my setup. I have Titan on top of 10 non-embedded Cassandra node.

I also have 4 ES nodes (say ES-1,ES-2,ES-3,ES-4)

[2013-07-16 06:34] gorgia opened #322 "Multithread transaction update"
I have the usual problem of retrieving a vertex, update a property, save it back to the graph.
Since I have a massive and continuous amount  of data I would like to multithread this job. Is that possible within a TitanTransaction?
I have read https://github.com/thinkaurelius/titan/wiki/Multi-Threaded-Transactions and tried that configuration but it leads to this error: https://github.com/thinkaure

[2013-07-16 20:56] mbroecheler commented on #321
This seems to be an issue with the elastic search client not being able to
connect to the elastic search servers at the ips that you configured.
Note, that Cassandra is not talking to elasticsearch - only titan is.
Hence, the Titan instance (in this case the gremlin shell where you were
running this) must be able to physically connect to the ES servers.

On Fri, Jul 12, 2013 at 1:09 PM, yvesx noti

[2013-07-16 20:57] mbroecheler commented on #322
Can you please post your question to the mailinglist instead of using the issue tracker:
aureliusgraphs@googlegroups.com
Thanks

[2013-07-16 20:57] #322 closed, assigned to nobody

[2013-07-17 01:32] yvesx commented on #321
Thanks. So I tried to run the Titan instance on the same private network as ES nodes. Yes, Titan indeed detects ES nodes. I guess Titan interacts with ES through means other than ES's HTTP interface (this would explain why simply enable port9200 in the firewall does not do the trick). However, I have not tested if Titan can connect to remote Cassandra nodes.

So if anyone, like me, is running ES a

[2013-07-17 01:32] #321 closed, assigned to nobody

[2013-07-18 03:39] vikraman opened #324 "ConsistentKeyLockTransaction - Discarded expired lock with timestamp"
I get these logs with the same timestamp everytime a transaction is committed.

[code]

I am using `0.3.2-SNAPSHOT`, and lots of concurrent multi-threaded transactions.

[2013-07-18 11:28] haebin opened #325 "Embedded Rexster server does not seem to work properly. (titan 0.3.1)"
It seems '/static' folder is needed for javascript, css and img which sit in the web root.
If you unzip lib/rexster-server-2.3.0.jar and you will see.
I tried to relocate the js, css, img folders under static and re-jarred rexster server but it did not fix the problem.
And, funny thing is rexster-server is like that in its own distribution as well.

I can connect to rexster-server via rexster-cons

[2013-07-18 11:49] haebin commented on #325
aww...

https://groups.google.com/forum/#!topic/aureliusgraphs/_uO6Qhue0cQ

never mind.
you removed it intentionally.

[2013-07-18 13:25] haebin opened #326 "How to delete types created by makeType?"
https://github.com/thinkaurelius/titan/wiki/Titan-Limitations#types-can-not-be-changed-once-created

It cannot be changed, Ok. But can I delete it?

[2013-07-18 13:26] #326 closed, assigned to nobody

[2013-07-18 13:26] #325 closed, assigned to nobody

[2013-07-19 01:59] xedin commented on #278
I'm going to close this for now, feel free to re-open when there would be more info.

[2013-07-19 01:59] #278 closed, assigned to xedin

[2013-07-20 06:17] xedin commented on #283
Pull request https://github.com/thinkaurelius/titan/pull/327 was merged, which brings significant test runtime cut off.

[2013-07-20 06:17] #283 closed, assigned to xedin

[2013-07-22 05:14] mbroecheler opened #328 "Remove Cmp.Interval"
which is redundant given LESS, GREATER, etc and the helper method in Query. This remove code complexity.

[2013-07-22 21:36] mbroecheler opened #329 "Index entry format allows duplicates for out-unique properties"
Use the vertex id as the qualifying third field in the index entry not the property id.

[2013-07-22 21:37] andre3k1 commented on #271
I had the same issue. I solved it by upgrading Cassandra to the latest release.

[2013-07-23 20:48] darKoram commented on #263
I downloaded the latest zip of titan-cassandra which doesn't come with the egosystem.sh posted above.  egosystem was EXACTLY what i was looking for.  I had to make a small change to get it to work on a mac.  Without this, the sudo kill would fail if it didn't find a process.  Also, it is tricky to get environment variables set in .bashrc, for example, to pass on to sudo commands.  In the end, i ha

[2013-07-23 22:29] violahs commented on #314
I have been having trouble deleting nodes from titan,  and I noticed that this same process leads to failure on remove as well:

[~/Packages/titan-berkeleyje-0.3.1]$ bin/gremlin.sh

[code]

-----oOOo-(_)-oOOo-----
gremlin> Gremlin.version()
Gremlin.version()
==>2.3.0
gremlin> Titan.version()
Titan.version()
==>0.3.1
gremlin> g = TitanFactory.open('/tmp/bar')
==>titangraph[local:/tmp/bar]
gremlin>

[2013-07-24 12:54] akumarb2010 opened #330 "Titan cluster set up in embedded cassandra mode"
Hi,

I have created titan(embedded cassandra) cluster of size 4, and by using rexster-console I pointed to one of the node and created on graph as below:

1) rexster-console.bat -rh 192.168.23.78
        (l_(l
(_______( 0 0
(        (-Y-) <woof>
l l-----l l
l l,,   l l,,
opening session [192.168.23.78:8184]
?h for help

rexster[groovy]> g=rexster.getGraph("graph")
==>titangraph[embeddedcassandra:n

[2013-07-24 13:06] spmallette commented on #330
You should likely take these question to the mailing list, but just a quick observation:

I don't see where you actually `commit()` your transaction on the first node.  As long as you have that transaction open you won't see that v[4] anywhere, even if you started a new Rexster Console on the same Titan Server instance.

[2013-07-24 13:07] spmallette commented on #330
Ah...i see that you did that already.

[2013-07-24 13:07] #330 closed, assigned to nobody

[2013-07-24 15:40] richtera opened #331 "Problems using elasticsearch"
It seems that the pom file has a dependency to lucene 4.1 through titan-lucene but the version of elastic search the server depends on requires lucene 4.2. Changing the pom file in titan-lucene to require 4.2 seems to fix the issue.

[2013-07-25 11:21] spmallette opened #332 "Enrich the Unique Violation Error Message"
When Titan yields this message:

[code]

It would be nice if the message could contain the name of the property key and value that is causing the problem.

[2013-07-25 15:18] vallettea opened #333 "Index query fails"
index query fails with this query:

[code]

com.thinkaurelius.titan.core.TitanException: Could not call index

I think this issue is different from issue 279 (https://github.com/thinkaurelius/titan/issues/279)

[2013-07-26 21:00] jkovacich opened #334 "Please talk about incremental loading on the Faunus page? thank you"

[2013-07-27 01:07] mbroecheler commented on #333
Please post the full stack trace. Judging from your email, this seems to be a Lucene problem.

[2013-07-27 01:24] mbroecheler commented on #334
Please file this as a Faunus issue.

[2013-07-27 18:28] okram opened #335 "Support streaming read-based transactions."
Lots of people seem to not like the concept of OutOfMemory when they want to do a g.v(4).out.out.out in Titan.

[code]

I understand the need for keeping writes in memory (as if you drop things you will potentially g.commit(), you lost your information), but make the in-memory Titan transaction data structure some sort of LRU memory structure so that if when people are reading, they do NOT get an

[2013-07-27 18:29] okram commented on #335
This is good for the boundary between when a Faunus is job is just too much effort -- like doing some analysis of 500k-1m edge subgraph.

[2013-07-29 11:42] vallettea commented on #333
I think this was due to my server running titan 3.0.0 and the code querying using titan 3.0.1 dependency.
thx

[2013-07-29 11:42] #333 closed, assigned to nobody

[2013-07-29 12:07] vallettea opened #336 "Elastic search runs fine but starts an unknown greedy process"
hello,

I'm running titan with cassandra and elastic search. I had no problem before I added elasticsearch.
Here is my .properties to start my titan server:

[code]

Then I interact via scala using something like this:

[code]

My query works fine but after i get:

[code]

then my processors are used both to 100% until I kill the java process.

[2013-07-29 21:01] dalaro commented on #324
Titan's current lock code never deletes expired locks.  Leaked locks (e.g. due to a client crash) are bound to reach this expiration time and start generating these warnings.  These lock columns could be manually deleted, but there's no automatic mechanism for it yet.

I should probably add an option to automatically log and then delete expired locks.  I haven't thought carefully about it yet, but

[2013-07-29 21:04] dalaro commented on #313
I implemented the run "test classes in concurrent threads" part of this issue for Cassandra in PR #337.

The PR doesn't address compatibility with <code>mvn -T#</code>  or move <code>/tmp/titan-test</code> into <code>target</code>.

[2013-07-29 21:05] dalaro commented on #302
titan02 is backlogged, but it shouldn't hold this issue open.  Closing.

[2013-07-29 21:05] #302 closed, assigned to dalaro

[2013-07-29 21:06] #305 closed, assigned to dalaro

[2013-07-30 01:22] mbroecheler commented on #336
From your configuration it seems that you are running ES in its own
processes. Is it only that process that causes the problems?

On Mon, Jul 29, 2013 at 5:07 AM, Alexandre Vallette <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-30 06:42] vallettea commented on #336
yes when I do not use elastic search (either remotely or embedded) I have no problem.

[2013-07-30 06:44] mbroecheler commented on #336
This seems to be an elastic search specific issue then. Please file it with
the Elasticsearch project.

On Mon, Jul 29, 2013 at 11:43 PM, Alexandre Vallette <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-30 06:55] vallettea commented on #336
no because I've tested my elastic search nodes and they are running nicely. Doon't you think it can be a problem of connection between elastic search and titan?

[2013-07-30 12:14] vegaed opened #338 "Check ElasticSearch version"
Titan should check the version number for ElasticSearch on startup and if not compatible fail.

[2013-07-30 18:15] mbroecheler commented on #338
That's a good point. What (types of) errors to do you see when the versions
are incompatible?
Thanks,
Matthias

On Tue, Jul 30, 2013 at 5:14 AM, Edgardo Vega notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-30 18:45] vegaed commented on #338
Matthias,

I just ran into this issue, hence the suggestion. In summary when I was trying to use data with geopoints gremlin would fail with Could not commit transaction due to exception during persistence
Display stack trace? [yN] y

Here is the link  forum with all the details. https://groups.google.com/forum/#!topic/aureliusgraphs/V9poQr6WOkM

Cheers,

Edgardo

[2013-07-30 18:46] mbroecheler commented on #336
It could be, but we are connecting with ElasticSearch through their normal
java API. There is nothing "special" that Titan does when connecting to ES.
It might be that a particular query is extremely expensive and causes ES to
get into this state?

On Mon, Jul 29, 2013 at 11:55 PM, Alexandre Vallette <
notifications@github.com> wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-07-30 21:04] dkuppitz opened #339 "Current ES version (0.90.2) is not compatible with current Titan version (0.3.2)"
The following script works as expected in Titan 0.3.2 / ES 0.90.0, but crashes with Titan 0.3.2 / ES 0.90.2.

[code]

**Stacktrace for ES 0.90.2**

[code]

Interesting fact: The following script works well in both ES versions:

[code]

So the error only occurs when you update an existing vertex.

[2013-07-31 06:22] dalaro opened #340 "IDAuthority-related assertion failure in Travis build 226.3"
An assertion failed in InternalAstyanaxLockKeyColumnValueStoreTest's testMultiIDAcquisition method.  The code before the assertion called IDAuthority's peekNextID and getIDBlock methods in that order.  The latter returned a smaller block than the former.

Here's the HTML build log.

  https://travis-ci.org/thinkaurelius/titan/jobs/9677885#L4311

Here's the text log.  Search for ".fail" to go to th

[2013-07-31 06:33] vallettea commented on #336
yes you are right I don't think it a titan problem anymore. I think it is a problem of sbt (scala built tool) when you use the mode

[code]

but the simple

[code]

does not reproduce the problem.
Apologies for the inconvenience and many thanks for your great work.

[2013-07-31 15:37] vallettea commented on #336
I think the problems comes from the fact that when you make a simple run at the end all the connections to whatever services are closed. But with the "~run" option, the JVM is left hot, connection opened and only modified files are recompiled. So I think this problem is due to the fact titan does not closes ES normally.

[2013-07-31 19:27] okram commented on #334
done.

[2013-07-31 19:27] #334 closed, assigned to nobody

[2013-07-31 19:28] okram commented on #97
Done. This is now handled not as OR but via Contains in new Blueprints.

[2013-07-31 19:28] #97 closed, assigned to mbroecheler

[2013-07-31 19:31] okram opened #341 "Reindexing elements using Titan/Faunus (global graph indices)"
This is possible with Faunus quite simply.

[code]

If Titan allows us to define an index "after the fact," then once that is done, then for all elements, the above Faunus job is kicked off. Read the property and set the property.

[2013-07-31 21:39] okram opened #342 "Make the word Attribute be Value"
[code]

"Property value cannot be null."

[2013-07-31 21:57] okram opened #343 "Put ElasticSearch configuration data into database metadata."
We should not require the user to have ElasticSearch configuration data with every TitanFactory.open(). Once the cluster is defined with ES, put the ES information into Cassandra (like a metadata column family). Then, when Titan connects, it gets the ES data out of the metadata column family.

[2013-08-01 06:11] jann2005 commented on #330
Dear akumarb2010 ,

Need help to set up clustered environment. Can you please setup steps from dev perspective, what configuration you had done to set up 4 node titan-cassandra cluster.

your help is appreciated. Thanks!

[2013-08-01 09:44] mvogiatzis commented on #301
@timjstewart Thanks for explaining everything. I had the same issue and I thought I forgot to implement Serializable in one of my classes in Storm but no.

Rolling back to Kryo 2.17 in both sides solved the problem.

[2013-08-02 21:26] astubbs commented on #221
@okram, can you summerise the optimisations you had to make? And what sort of size job are you running?

[2013-08-07 04:21] mbroecheler opened #345 "Add API method to get all types"

[2013-08-08 14:10] mphuff opened #346 "Titan 'autotype' map implementation incorrect according to documentation"
We have started using Titan 0.3.1 (and recently upgraded to 0.3.2) and discovered that the 'autotype' according to Titan's documentation is inconsistent with what is actually implemented.

In the documentation, the valid values are "none" or "blueprints". However, looking into the com.thinkaurelius.titan.graphdb.configuration.GraphDatabaseConfiguration class, here is the actual implementation:

[c

[2013-08-08 22:16] mbroecheler opened #347 "Store edge id as diff to vertex id in EdgeSerializer"
which makes the storage format more compressed for partitioned graphs.

[2013-08-08 22:19] mbroecheler opened #348 "Remove Interval as attribute and in Cmp"
only provide helper methods

[2013-08-13 11:25] spmallette opened #350 "Titan Version Upgrade"
Titan auto-upgrades the database as soon as it touches it (e.g. the database is 0.3.1, and then i access it with 0.3.2 and 0.3.1 clients no longer work).  That auto-upgrade can lead to accidental upgrade which can break things unexpectedly if you aren't paying attention.

I'm not sure what's viable here, but i think that having some configuration that either allows/disallows (default to disallow)

[2013-08-13 15:46] szarnyasg opened #351 "gremlin.sh's -e switch does not return results"
Hello!

I found that Titan's `gremlin.sh` does not return the results if the script is feeded with the `-e` switch. Here is a minimal working example:

[code]

If the query is feeded with the `<` file pipe, `gremlin.sh` returns the results (v[16], v[20], v[32]).

[code]

If the query is feeded with the `-e` switch, the query runs, but no results are returned.

[code]

The problem is present for bo

[2013-08-16 15:17] zachkinstner commented on #278
Follow-up: this issue no longer occurs for me. Various changes which may have had some effect...
- updated to Titan 0.4.0-SNAPSHOT (from the `blueprints-2.4.0` branch)
- updated (via Titan) to the TinkerPop 2.4.0 stack
- changed the JVM options to `-Xms1G -Xmx1G`
- updated to Ubuntu 13.04

[2013-08-19 16:38] dkuppitz commented on #341
Just wanted to mention a short version:

[code]

What about properties that are not out-unique? Trying to call setProperty will fail, right?

[2013-08-20 13:59] szarnyasg opened #352 "Cannot increase Thrift frame size with cassandrathrift backend"
Hello!

I'm having some trouble increasing the Thrift frame size when using the `cassandrathrift` backend (I plan to use Titan on EC2, hence I try to stick to `cassandrathrift`).

I use the 0.4.0-SNAPSHOT version and set the following lines in `config/cassandra.yaml` on all Titan/Cassandra server instances:

[code]

The server output shows that Cassandra is now working with 60 MiB frames.

[code]

[2013-08-20 16:42] sirinath opened #353 "Embedded Database"
Hi,

Can you add the ability to work with an embedded instance without having to use HBase, Cassandra, etc.

Suminda

[2013-08-20 16:51] espeed commented on #353
You can use BDB: https://github.com/thinkaurelius/titan/wiki/Using-BerkeleyDB

[2013-08-21 13:37] sirinath commented on #353
I was thinking something like MapDB. This perhaps would be much faster. Also may be easy to get up and running if you are just dealing with small amount of data.

[2013-08-22 00:00] mbroecheler opened #354 "First Filter execution is wrong"
In Gremlin on a medium size graph where "type" is not indexed:

gremlin> g.V('type','something').count()
==> 7
gremlin> g.V('type','something').count()
==> 1252

with nothing done to the database in between. When executing a g.V up front, it produces the correct result.

[2013-08-22 20:17] dkuppitz opened #355 "Unexpected null values"
One of our clients has a problem with unexpected null values. Unfortunately I cannot reproduce this behaviour in s small sample graph, but here's how it looks like:

[code]

Then, in the same graph (and even the same Gremlin REPL session) the following query:

[code]

The custom id is definitely unique, so it's definitely the same vertex. Some queries return null values for a_property, some querie

[2013-08-23 20:49] timjstewart commented on #350
Hi Stephen.  Thanks for documenting this.  We already have multiple services talking with the graph and we need to be able to upgrade systems independently.  Steve asked me to escalate this issue.  Thanks!

[2013-08-23 21:54] jholmberg-cni opened #356 "Solr As Full-Text Index for Titan"
Hi There,
I'm currently working on a fork of Titan where I'm attempting to add support for Solr 4.4.0. We're already using Solr in production with other parts of our technology stack, and we'd like to contribute Solr support back to the titan project as a pull request if that turns out to be helpful.

I'm getting most of the assertions to pass in IndexProviderTest.singleStore() but I've run into a

[2013-08-24 01:42] jholmberg-cni commented on #356
Figured it out. The SolrSearchIndex class I'm writing didn't properly handle the mutation to remove the weight field and its value from doc3.  Fixed it and test is now passing on that assertion.

[2013-08-24 01:42] #356 closed, assigned to nobody

[2013-08-24 14:57] vantonio commented on #356
Good to know another index provider coming, thanks and hope to see your work real soon!

[2013-08-24 17:25] sirinath opened #357 "Label / Tags on Vertices | Sub Labels / inter label relationships"
Hi,

Can you consider ability to add Label / Tags on Vertices also.

Also sub labelling / additional qualification to label. E.g. 1) A related / cousin B. The relationship cousin is contained within related also. 2) A related / cousin / Classmate B. here being a classmate has no hierarchical relationship like before. These can be modelled as 3 edges but in this case the affinity in related and cou

[2013-08-24 17:50] sirinath commented on #357
Perhaps ability to model Label and Properties which have relationships as other graphs would perhaps be the solution?

[2013-08-24 18:32] sirinath commented on #357
Perhaps capture meta data in 1 graph as edges and vertices in another graph.

[2013-08-24 18:53] sirinath commented on #357
Perhaps objects as properties would solve this. These could be part for more than 1 graph.

[2013-08-27 01:00] erickt commented on #165
Reconfirmed this is still happening on CDH 4.3.1 and Titan 0.3.2. 6 times gets it working.

EDIT: Had the wrong CDH version.

[2013-08-27 08:16] dalaro commented on #356
Hi Jared, looking forward to the PR.  Please ping if other implementation obstacles come up.

[2013-08-27 16:12] mbroecheler commented on #355
When you do the first query after the second one, do you still get the null
value?

On Thu, Aug 22, 2013 at 1:17 PM, Daniel Kuppitz notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-08-27 16:13] mbroecheler commented on #352
Which version of Cassandra are you using? Until recently, Cassandra had a
bug where it ignored this configuration on the server side.

On Tue, Aug 20, 2013 at 6:59 AM, Gábor Szárnyas notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-08-27 16:19] okram commented on #355
We noticed this with another client when bulk loading data into Titan from Faunus and the property wasn't defined prior to bulk loading. Titan gets into a weird state where null values are returned though the data in Cassandra is there and not corrupt. moreover, as you note, sometimes it returns the value okay and sometimes not --- seemingly random.

On Aug 27, 2013, at 10:12 AM, Matthias Broechel

[2013-08-27 18:04] dkuppitz commented on #355
When I execute the second query first, it's the same result. `g.v(id).map()` has the expected value, `gV[0..10].map()` has the null value.

[2013-08-27 22:07] dkuppitz commented on #355
I can confirm, that this behaviour can be avoided by defining all types prior to bulk loading. It only seems to be a problem when you forget a type definition.

[2013-08-28 09:46] szarnyasg commented on #352
I used Cassandra 1.2.2 provided with 0.4.0-SNAPSHOT. Should I try a newer version?

[2013-08-31 14:33] spmallette commented on #350
@mbroecheler or @dalaro can one of you comment on what version we might see a fix for this issue and how Titan might better deal with this issue?

[2013-08-31 14:38] spmallette commented on #289
Lost a lot of time on this issue again.  I should have recognized the problem, but I didn't make the connection immediately.  This issue does not seem to occur just with `TransactionalGraph`.  It was the source of this problem as well where i don't think @zcox was using `TransactionalGraph` at all:

https://groups.google.com/forum/#!topic/aureliusgraphs/BeGJ6k6saMs

[2013-08-31 15:08] jcamins commented on #339
I am seeing the same problem with ElasticSearch 0.90.3 on Mac OS X 10.8.4.

[2013-09-04 03:19] bytor99999 commented on #224
Not sure if this has been addressed. But the Schema definition documentation is extremely confusing. I mean in general I understand the code, but what are we actually defining here. I can't even figure out how to start to define my Vertices. Is schema definition just about properties, or just about edges, or defining everything. Also when should this code to define the schema be run? Each time you

[2013-09-04 09:57] spmallette commented on #224
You are defining all the property keys (for a vertex or edge) and edge labels you intend to use in your graph, with their explicit data types and constraints.  The best practice is to define "everything" and to do so prior to first usage in your graph (e.g. via Element.setProperty), lest the type be defined by default Type Maker:

https://github.com/thinkaurelius/titan/blob/master/titan-core/src/m

[2013-09-04 15:33] bytor99999 commented on #224
Thanks Stephen, those are the details that I would love to see added to the documentation. I feel it just goes into those little details that those that already knows how it works takes for granted, but those that are new, really would need that information to get going.

Thanks again

Mark

[2013-09-04 18:17] zachkinstner opened #358 "Null Edge Properties Added After Commit"
I have noticed that Titan is adding additional null properties to edges after committing the transaction. I think this is related to the property being an edge primary key, and _not_ being set by `addEdge()`. Here is an example scenario:

[code]

Result before commit:

[code]

After commit, the `MyProp` property is present:

[code]

Is this the expected behavior?

Side note: this (after commit) re

[2013-09-04 18:25] zachkinstner commented on #358
This also occurs when I replace `primaryKey` with `signature` during edge-label creation.

[2013-09-04 19:34] dalaro commented on #350
Matthias and I conferred about this.  We think the format version of the storage version should be decoupled and incremented separately from the Titan version.  The only compatibility change in the 0.3.x series that I'm aware of affects ES.  I think we can relax the check for 0.3.x and move to a different storage format versioning scheme (separate from Titan release versions, incremented only for

[2013-09-04 22:40] mbroecheler commented on #357
Hey Sirinath,

the feature you are describing can be useful in some applications, in particular, those that have "ontological" or "taxonomic" labels. I'd encourage whoever is interested in such an extension to Titan to write a wrapper around TitanGraph (similarly to the wrappers that Blueprints provides) that adds these features as we intent to keep Titan as lean as possible.
Concretely,

### Labe

[2013-09-04 23:31] mbroecheler commented on #339
This exception is so deep inside ElasticSearch that I doubt Titan has anything to do with it. We will keep investigating to see what the issue might be.

[2013-09-04 23:38] mbroecheler commented on #358
No, this is not expected behavior. It occurs because Titan will automatically add all primary key and signature keys to the list of keys on the edge which results in this behavior.

[2013-09-05 00:09] BillBaird opened #360 "FullFloat and FullDouble should implement .hashCode(), .equals(), and .toString()"
FullFloat and FullDouble should implement .hashCode(), .equals(), and .toString().  This would allow Gremlin to show the actual value in a .map, as well as allow generic code for walking and manipulating a graph not to have to special handling for these types.

[2013-09-05 00:37] mbroecheler opened #361 "ASM Dependency Issue"
I was trying to instantiate the Gremlin scripting engine, but was getting exception below while executing the line ScriptEngine engine  = new GremlinGroovyScriptEngine(); It seems that the problem is caused by asm.jar. Titan-core is pulling asm 4.0 as transient dependency and titan-hbase and gremlin groovy are pulling 3.2. In asm 4.0 visit method in ClassVisitor class is declared as final which I

[2013-09-05 00:54] mbroecheler commented on #165
@erickt: Does that mean it works with a more recent version or that the version number was originally wrong? Does this ticket need to be reopened?

[2013-09-05 01:38] erickt commented on #165
@mbroecheler: I didn't notice that this issue was closed. Yes, this ticket should be reopened.

[2013-09-05 01:54] mbroecheler commented on #352
Just as a sanity check - could you try the most recently released Titan
0.3.2?
Thanks, Matthias

On Wed, Aug 28, 2013 at 2:46 AM, Gábor Szárnyas notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-09-05 03:17] mbroecheler opened #363 "Make Titan Transactions more robust against data degradation"
There are certain (failure) conditions under which the graph might become inconsistent which should be addressed in the transaction:
1) Index entry points to deleted vertex (in case of partial mutation persistence)
2) Unidirected edge points to deleted vertex
3) Only "half" an edge is present or deleted

[2013-09-05 05:51] sirinath commented on #357
Perhaps you can provide the wrapper for ontological / taxonomic labels and data. We might want to attache just more than a label.

Also perhaps reference to other graphs / sub graphs.

Also graph reference is also a feature that is nice to have. Perhaps as a thin wrapper on top of the core api.

[2013-09-05 05:54] mbroecheler commented on #355
I think what I will add for Titan 0.4.0 is a switch that disables automatic type definition when batch-loading is enabled.

[2013-09-05 05:58] mbroecheler commented on #353
Yes, a MapDB storage adapter would be splendid indeed.

[2013-09-05 05:58] #353 closed, assigned to nobody

[2013-09-05 06:02] mbroecheler commented on #346
Oh no, this must have happened during refactoring. This configuration option is completely non-sensical.

[2013-09-05 06:05] sirinath commented on #357
Should I opening a new enhancement request for graph / sub graph references to make this part clear?

[2013-09-05 06:11] mbroecheler commented on #320
Is there anything we can do about that? I mean, it has to be expected that results added to elasticsearch are not immediately available (the same might even hold for Cassandra in a distributed environment).

[2013-09-05 06:12] #319 closed, assigned to nobody

[2013-09-05 06:13] mbroecheler commented on #312
@devsprint Any news on this?

[2013-09-05 06:14] devsprint commented on #312
Hi, I just merged with latest titan code. I still have some functional tests failing but I should have something soon.

[2013-09-05 06:18] #315 closed, assigned to nobody

[2013-09-05 06:34] mbroecheler commented on #357
I think the mailing list is a better place to discuss general feature requests. The issue tracker is resolved for concrete issues or enhancements.

Also, if this is something you need, it might be quickest to take a crack at this yourself, then open source the repo and invite other to contribute. There are more important things we need to address in Titan first.

[2013-09-05 07:14] dalaro commented on #331
I fixed this a little while ago in master after enabling maven-enforcer-plugin's DependencyConvergence feature.  According to the output of mvn dependency:tree -Dverbose=true, all Lucene artifact dependencies are currently at version 4.2.1.  This change will be part of the 0.4.0 release.

In the future, if ES and titan-lucene disagree on the version of Lucene to use, then the enforcer plugin will

[2013-09-05 07:14] #331 closed, assigned to dalaro

[2013-09-05 14:06] jcamins commented on #339
Actually, I have a little more information. I just tried removing all the ElasticSearch 0.90.0 JARs from the client and replacing them the JARs from ES 0.90.3. For me this gets it through the first commit, but the second (I commit every thousand records) fails with a new error:
Caused by: java.lang.NoSuchMethodError: org.elasticsearch.action.update.UpdateRequestBuilder.setUpsertRequest(Lorg/elasti

[2013-09-05 16:14] cglewis commented on #221
@okram I would love to know what the optimizations are as well.  I'm currently running into the same issue loading into Titan 0.3.2 on top of HBase using Faunus.  I've messed with several parameters including:

faunus.graph.output.titan.ids.block-size=100000
faunus.graph.output.titan.storage.idauthority-wait-time=3000
faunus.graph.output.titan.storage.idauthority-retries=4
faunus.graph.output.tita

[2013-09-05 17:38] heyvishy commented on #62
Thanks for this workaround. Although in my case, I skipped step 3 and 4 and it worked fine for me.
I am using Mac OS 10.7.5

[2013-09-05 18:44] bhvette opened #365 "Rexster-Server 2.4 has issue with "isRDFModel" in REST service"
I'm trying to use Rexster-Server 2.4.0, with Cassandra as a backend.  I can get it up, and connect with Rexster-Console, including adding data.  But when I try to use the REST interface (curl http://mymachine:8182/graphs/titan) Rexster throws a "java.lang.NoSuchFieldError: isRDFModel"

Suggestions as to how I can make this work?  This same error is thrown if you try to use doghouse to view the nod

[2013-09-05 19:46] spmallette commented on #365
Not sure what version of Titan you are using, but I don't think Titan 0.3.x is completely compatible with Rexster/TinkerPop 2.4.0.  That is likely your problem.  Try to downgrade to Rexster 2.3.0 or try the Titan 0.4.0-SNAPSHOT with Rexster 2.4.0.  Please reopen if you find other problems.

[2013-09-05 19:46] #365 closed, assigned to nobody

[2013-09-06 02:44] bytor99999 commented on #365
I was just about to open an issue myself on this. Funny that it was 8 hours apart.

I get a compile time error showing in my IDE for line 32 of TitanFeatures class

features.isRDFModel = false;

I am trying to use IdGraph to set my Vertex ids to a user-defined id.

Thanks, I will try to downgrade our TinkerPop Blueprints to 2.3.0 and see what happens.

[2013-09-06 02:54] bhvette commented on #365
I'm using the libraries from the Titan 0.3.2 Complete. I already tried the downgrade to Rexster 2.3, so I'll try an upgrade to Titan 0.4-SNAPSHOT

[2013-09-06 04:41] bytor99999 commented on #365
Yes, switching to 2.3.0 of TinkerPop does the trick for that compile time error, but now I can't use the FramedGraphFactory in Frames. :(

Oh, well, I guess we can't have IdGraph. (Un-related to the actual issue)

The issue won't show anymore, but at a trade-off of some nice new features in 2.4.0

Thanks

Mark

[2013-09-06 11:16] bhvette commented on #365
I had to go back to Rexster 2.2, but I can now get the REST interface to work.

[2013-09-06 12:03] spmallette commented on #365
@bhvette, fwiw, you should not have had to go all the way back to 2.2.0.  2.3.0 should have done the trick as @bytor99999 reported.

[2013-09-07 00:47] #308 closed, assigned to mbroecheler

[2013-09-07 22:09] #306 closed, assigned to mbroecheler

[2013-09-07 22:13] mbroecheler commented on #309
Blueprint's issue was fixed, so this can be closed.

[2013-09-07 22:13] #309 closed, assigned to mbroecheler

[2013-09-07 22:18] mbroecheler commented on #170
Implemented in major query execution engine refactoring.

[2013-09-07 22:18] #170 closed, assigned to mbroecheler

[2013-09-07 22:19] mbroecheler commented on #240
Implemented over multiple commits in multiquery branch.

[2013-09-07 22:19] #240 closed, assigned to nobody

[2013-09-07 22:21] mbroecheler commented on #328
Has been removed as part of query execution refactoring.

[2013-09-07 22:21] #328 closed, assigned to mbroecheler

[2013-09-07 22:22] mbroecheler commented on #348
duplicate

[2013-09-07 22:22] #348 closed, assigned to mbroecheler

[2013-09-07 22:29] #269 closed, assigned to nobody

[2013-09-08 00:23] #332 closed, assigned to mbroecheler

[2013-09-08 00:23] #342 closed, assigned to mbroecheler

[2013-09-08 00:23] #360 closed, assigned to mbroecheler

[2013-09-08 01:12] #273 closed, assigned to nobody

[2013-09-08 01:12] #345 closed, assigned to mbroecheler

[2013-09-08 01:12] #346 closed, assigned to mbroecheler

[2013-09-08 01:12] #350 closed, assigned to dalaro

[2013-09-08 04:42] mphuff commented on #346
Thank you for submitting the patch @mbroecheler!

[2013-09-08 12:13] spmallette commented on #270
@mbroecheler does this one matter anymore as we are removing Rexster from Titan?

[2013-09-08 23:23] xedin commented on #352
@szarnyasg Exception that you get when using frame_size_mb option with "storage." prefix means that it expects to have a string there not an int that you set (no exception without prefix means that option wasn't recognized), I have fixed string->int bug (https://github.com/thinkaurelius/titan/pull/366) and correct handling would be available in the next snapshot of 0.4.0, meanwhile you can set "st

[2013-09-08 23:23] #352 closed, assigned to xedin

[2013-09-09 06:25] szarnyasg commented on #352
@mbroecheler, @xedin: Thanks for the tip and the fix.

It took me some time to reproduce the error:

[code]

Using the string representation, it works (I had to restart the Gremlin shell, but never mind that):

[code]

Gabor

[2013-09-09 16:31] okram commented on #351
The -e options in Gremlin does not return results, it simply executes the provide script with provided arguments. If you want results, you can write out the results of a data structure in your script to a File. For example, given you g.V('type','god') query, I would do:

[code]

[2013-09-09 16:31] #351 closed, assigned to okram

[2013-09-09 17:18] gwhitehawk opened #367 "Make cassandra transaction timestamp directly settable"
Atm, transaction timestamps are assigned to current time in (Cassandra)StoreManager.mutateMany method. Support making them settable via transaction configuration. I'm working on this, a patch should be ready within a few days.

[2013-09-09 17:43] mbroecheler opened #368 "Remove embedded Cassandra, RexsterServer"
from the Titan distribution and associated dependencies. This will make the project leaner.

Add scripting to easily stand up Titan+Rexster, backend service and elastic search on a local machine (see #263 )

[2013-09-09 18:09] mbroecheler commented on #270
irrelevant through #368.

[2013-09-09 18:09] #270 closed, assigned to spmallette

[2013-09-10 17:36] spmallette commented on #316
I wish i'd kept better notes on this because I gave this fix a try and while it does get things to run properly if you are running as `bin\gremlin.bat` it won't work as it always has from within the `bin`.  My .bat scripting is not so good and couldn't get the stupid thing to be nice so that it could work either way.  I'd rather not trade one problem for another especially since i think people are

[2013-09-10 22:46] inolen commented on #207
@mbroecheler I'm trying to evaluate Titan and running into some similar issues.

I can successfully launch Titan / Cassandra / ES embedded like so:

[code]

and then, I can connect to that by launching the gremlin shell and running:

[code]

However, when I try and add an ES-backed index like so:

[code]

I get `Index is unknown or not configured: search`. As I'm writing this however I think I'm s

[2013-09-12 19:18] snojcb commented on #207
@inolen I'm running the exact same commands on my end for the same reason (learning graph DB and evaluating Titan) and getting the same problems.  Conceptually, I'd like my single-VM Titan+Cass+ES to do the heavy lifting and allow me to use Rexter or Gremlin to poke around (including using/manipulating ES-backed indexes).

[2013-09-12 19:53] inolen commented on #207
Right, I ended up just launching a standalone ES instance so that I could configure my gremlin shell to connect to it. I'm a bit curious as to why the embedded ES instance can't be connected to remotely (but Cassandra can?).

If you're running everything embedded, I believe you have to hit the Rexster api through the Rexster console (however, I haven't tried yet).

[2013-09-13 16:48] lra opened #370 "Small doc issues"
I'll gladly do a PR if there is a way to do so for the doc/wiki.

On https://github.com/thinkaurelius/titan/wiki/Using-Cassandra#verify-successful-instance-launch :
`ssh -i [your-private-key].pem ubuntu[public-dns-name-of-any-cassandra-instance]@`
should be
`ssh -i [your-private-key].pem ubuntu@[public-dns-name-of-any-cassandra-instance]`

On https://github.com/thinkaurelius/titan/wiki/Using-Cassa

[2013-09-13 19:07] gwhitehawk commented on #367
Related to this pull request: https://github.com/thinkaurelius/titan/pull/369

[2013-09-13 22:02] VomerJike commented on #317
I think it would be important to change the "Configuration conf" to "conf" in

https://github.com/thinkaurelius/titan/wiki/Graph-Configuration

In order to avoid misunderstandings.

[2013-09-13 23:17] erickt opened #371 "Re-fix bin/*.sh scripts"
As of 6961aa8c13bba370070d7a6e14a6c1691ca9bb9c, this shell script fails:

[code]

I had this same issue back in #349, which @dalaro fixed in 7bf88ffaf2c5cc4873b08b70ead2849a93a4b2ee. Unfortunately it looks like this re-broke after there had been some fall out from a couple of branch merges. The last commits I could find that this script can work on is 0871d3b52fa3abc87bad76221e975b27283bf798 and a

[2013-09-14 12:10] dkuppitz commented on #165
Just stumbled across this issue. Maybe the following piece of information will help somebody.

I started the Gremlin REPL on the HBase master, tried `g = TitanFactory.open("bin/hbase.local")` and the console was hanging as described a few times here. However, everything worked just fine after I've changed the hostname in hbase.local. These configurations did not work (console hanging):

[code]

[c

[2013-09-16 18:49] JonSmoot opened #373 "ElasticSearch index query stopped working when combined with standard index"
Mixing two indices in a single query, one an elasticsearch index and a second titan index produces unexpected results (or to be more exact, seems like the query behaves as a standard index and not using elastic search)
See this thread for more details:
https://groups.google.com/forum/#!topic/gremlin-users/h-wW8UIFIf0

How to reproduce:
environment: titan 0.3.2, java 1.7.0_02-b13

create a couple o

[2013-09-17 08:46] tranngocsam opened #374 "How to weight elasticsearch results?"
I use Ruby (Rexpro) to search for client first_name, last_name and description, so can I weight the results for ordering?

[2013-09-20 16:14] spmallette commented on #350
@mbroecheler @dalaro can you elaborate a bit on what the behavior is now in regard to this.  i'm sorry, but from your description it's not all clear to me.  There were two problems we were facing...first, the auto-upgrade allowed accidents to happen (upgrading when an upgrade wasn't expected and thereby breaking other systems using the old version).

The second problem I didn't go into exactly in

[2013-09-20 16:57] dalaro commented on #340
As described above, peekNextID's behavior is intrinsically unsafe on the consistentkey backend, and can't easily be made safe.  Fortunately, it appears to be unused.  Besides the tests and store adapters, there are no call sites in the source tree.  I deleted it from the interface and all implementations in  6961aa8c13bba370070d7a6e14a6c1691ca9bb9c.

[2013-09-20 16:57] #340 closed, assigned to dalaro

[2013-09-20 19:53] TimLudwinski opened #375 "When previous session disconects without commit, commit fails"
Doing the following in Python

[code]

Causes the following to fail until the server is restarted

[code]

with the error message:

13/09/20 15:42:00 WARN filter.ScriptFilter: Could not process script [g.commit()] for language [groovy] on session [[B@33fca8e4] and request [[B@10b42b66]
==>An error occurred while processing the script for language [groovy]. All transactions across all graphs in the

[2013-09-20 19:53] TimLudwinski commented on #375
NOTE: I'm using the BereleyDB backend.

[2013-09-21 19:50] mbroecheler opened #376 "Make easy to get started distributions"

[2013-09-21 20:13] mbroecheler commented on #375
This might be because the transaction handle inside BerkeleyDB from the
previous transaction is still lingering around causing the failure. Hard to
tell without the entire stack trace - could you retrieve that from the logs?

THanks,
Matthias

On Friday, September 20, 2013, TimLudwinski wrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-09-22 02:58] TimLudwinski commented on #375
Sure, I can reproduce this bug pretty easily.  I won't be in the office
until Monday though.

Tim

On Sat, Sep 21, 2013 at 4:13 PM, Matthias Broecheler <
notifications@github.com> wrote:

[2013-09-23 03:04] dalaro commented on #350
@spmallette 442f468 disabled Titan's automatic backend-version upgrade behavior.  The patched code in Backend.java still checks the version at startup, and it still requires that the version belongs to a set of known-compatible versions.  In 0.3.1, the set is { 0.3.0, 0.3.1 }.  For 0.3.2, it's { 0.3.0, 0.3.1, 0.3.2 }.  In 0.4.0 it will be something else.  But the patched code won't modify an exist

[2013-09-23 03:04] dalaro commented on #116
Almost all the code mentioned in this ticket has been refactored or rewritten since it opened.  The principal related classes and interfaces in master are now Locker, BackendTransaction, ExpectedValueCheckingStore, and ConsistentKeyLocker.  The exception behavior is still basically the same even though the code has changed.

Titan's built-in locking backend is intended for low contention, which in

[2013-09-23 03:04] #116 closed, assigned to dalaro

[2013-09-23 03:04] dalaro commented on #361
I looked at the dependency tree of the titan-all artifact using `mvn dependency:tree`.  It showed three paths to ASM:

titan-core -> kryo -> reflectasm -> asm 4.x
titan-core -> rexster-server -> jersey-server -> asm 3.x
rexster-console -> rexster-protocol -> gremlin-groovy -> groovy -> asm 3.x

An old [Kryo list thread](https://groups.google.com/forum/#!topic/kryo-users/y08SA4hrA2w) discusses inco

[2013-09-23 03:04] #361 closed, assigned to dalaro

[2013-09-23 11:07] spmallette commented on #316
i would assume that most windows users are calling the .bat the "correct" way.  closing since a clear fix to have it run both ways was not provided.

[2013-09-23 11:07] #316 closed, assigned to spmallette

[2013-09-23 14:07] spmallette commented on #350
Great explanation @dalaro.    I think i fully understand how "upgrade" will work now.  i think that if all `x` version of 0.x.y will be backward/forward compatible that will be good.  In that way, folks can take advantage of titan patches without a lot of thinking.  thanks for the details.

[2013-09-23 20:57] dalaro commented on #320
I thought about two potential options, but I don't really like either.

It's extraordinarily costly and doesn't scale, but there's  the `refresh` option for ES's bulk/update/index ops.  That would guarantee subsequent searchability.  But I don't have a reasonable use case for that.  If someone can show that exposing `refresh` solves an actual application problem with lots of property reads and nea

[2013-09-23 20:57] #320 closed, assigned to dalaro

[2013-09-23 20:58] mbroecheler opened #378 "Multiquery performance test"

[2013-09-24 08:10] dalaro commented on #76
Since then and now, I rewrote the locking code with TDD.  The locking logic is tested with all collaborator objects mocked or stubbed: https://github.com/thinkaurelius/titan/blob/master/titan-test/src/test/java/com/thinkaurelius/titan/diskstorage/locking/ConsistentKeyLockerTest.java.  The test is single-threaded and deterministic, but it tests wait timeouts and expirations by stubbing System.curre

[2013-09-24 12:32] freakinruben commented on #339
Is there any news on becoming compatible with the index api of ElasitcSearcg >= 0.90.3?

[2013-09-24 12:35] freakinruben opened #379 "Feature request: Support for disabling Snappy compression Cassandra"
I would like to have the possibility to disable snappy-compression when using Cassandra. Disabling snappy in Cassandra right now means that I can't use Titan, so it would be nice to have this as a Cassandra specific configuration option.

[2013-09-24 16:16] mpouttuclarke opened #380 "Delete of embedded Cassandra?"
On the head it looks like this functionality was deleted.  This is a non-backward compatible change and I am currently using this, so is there an alternative being introduced?

[2013-09-24 16:19] mpouttuclarke commented on #380
I have extensive experience with Cassandra, so I can carry this forward if you guys aren't looking forward to maintaining this...

[2013-09-24 16:25] okram commented on #380
AFAIK: The head is 0.4.0. 0.3.3 will go into the titan-03 branch. For 0.4.0, cassandra-embedded is no longer available.

On Sep 24, 2013, at 10:16 AM, Matt Pouttu-Clarke notifications@github.com wrote:

[2013-09-24 16:54] mpouttuclarke opened #381 "Classpath issue with titan-cassandra-0.3.2"
When I run gremlin:
gremlin> g = TitanFactory.open('bin/cassy-lucy.local')

I get the following:
2835 [main] INFO  com.thinkaurelius.titan.diskstorage.Backend  - Configuring index [search] based on:
 backend: lucene
directory: /data/01/lucene/titan

Could not find implementation class: com.thinkaurelius.titan.diskstorage.lucene.LuceneIndex

$ cat bin/cassy-lucy.local
storage.backend=embeddedcassan

[2013-09-24 17:00] dkuppitz commented on #381
There's no LuceneIndex. You're probably looking for:

[code]

See [Using Elastic Search](https://github.com/thinkaurelius/titan/wiki/Using-Elastic-Search) for more details.

[2013-09-24 17:05] mpouttuclarke commented on #381
[code]

Seems to work fine from java :)

[2013-09-24 17:06] mpouttuclarke commented on #381
https://github.com/thinkaurelius/titan/wiki/Using-Lucene

^^

[2013-09-24 17:07] mpouttuclarke commented on #381
[code]

[2013-09-24 17:27] dalaro commented on #381
I confirmed this with titan-cassandra-0.3.2.zip.  The -all zip has a titan-lucene jar, but the -cassandra zip does not.  I think the HBase (and BDB?) distros are the same.  I'll  add these dependencies to the titan-dist-cassandra (and -hbase, -bdb) pom.xml files under the release profile.

None of this affects using Titan through Maven.  This problem is specific to the distribution zipfiles.

As a

[2013-09-24 17:30] mpouttuclarke commented on #381
Thanks!  Having fun with Titan but just wanted to make sure no one hit this snag :)

[2013-09-24 18:54] dkuppitz commented on #381
Ha, sorry for that, never recognized the Lucene implementation :).

[2013-09-24 19:13] #76 closed, assigned to dalaro

[2013-09-24 19:20] dalaro commented on #313
Parallel maven builds (`mvn -T#`) are blocked on two things:
- maven-exec-plugin does not have the `@threadSafe` annotation.  An open but inactive issue has been around for a couple of years: http://jira.codehaus.org/browse/MEXEC-93.  I don't know whether this is a real problem or just an annoyance, though it would be surprising if this was a real problem considering maven-exec-plugin's function.

[2013-09-24 19:20] #313 closed, assigned to dalaro

[2013-09-24 19:25] mbroecheler commented on #380
As discussed on the mailing list (https://groups.google.com/d/topic/aureliusgraphs/EasJTTkDtfY/discussion) we are removing the embedded option for Cassandra since it is slower than running Cassandra in a separate process and communicating over localhost. We will provide helper scripts to make that setup easy to use.

You could maintain the adapter in a separate repo. We are removing it because we

[2013-09-24 19:25] #380 closed, assigned to nobody

[2013-09-24 19:44] mpouttuclarke commented on #380
Thanks for the feedback.  It looks like you guys are testing with Amazon using ephemeral disk.  Are you interested in results with Cassandra on Fusion-io?  I think you will find different results when the storage is faster than the network interface...  I have some bare metal Fusion-io machines available, if you want I can run some tests.

[2013-09-24 19:49] mpouttuclarke commented on #380
FYI: I have already tried the Amazon Flash instances with both RHEL 6 and Amazon Linux and they're extremely slow compared to bare metal.

[2013-09-24 19:53] spmallette commented on #375
@bdeggleston are requests in rexpro-python configured to auto-commit by default?

[2013-09-25 04:58] mbroecheler commented on #380
Making sure I understand you correctly: Are you saying that using Cassandra
embedded is significantly faster than using Cassandra via localhost unless
running the experiments on AWS?
We have also been running experiments locally. It is true that Cassandra
embedded gives you lower latency, but the behavior under stress is much
more erratic due to compounding GC issues to the point where the through

[2013-09-25 05:30] #347 closed, assigned to mbroecheler

[2013-09-25 05:46] mbroecheler opened #382 "Make Titan ID allocation more robust for parallel bulk ingestion"
I'm running an import of both sequencefiles and graphson files using Faunus 0.3.2 into HBase using the TitanHBaseOutputFormat format.

The graphs are already stored in HDFS on the same cluster as my HBase cluster.  What I'm running into are errors like the following:

attempt_201309101345_0012_m_000140_0: Exception in thread "Thread-15" com.thinkaurelius.titan.core.TitanException: Could not acquir

[2013-09-25 09:42] dalaro commented on #239
I deleted the remaining explicit ByteBuffer.duplicate(...) calls in the Astyanax and Thrift Cassadra KCVS classes in 8774c847c7b50c8338cc0bfe946f40681a8884d3.  I'm reasonably -- though not absolutely -- confident that the deletions are safe.  The complete Titan test suite passes on my box.

Though I deleted ByteBuffer.duplicate(...) call sites in the Cassandra KCVS classes, invocations remain insi

[2013-09-25 09:42] #239 closed, assigned to dalaro

[2013-09-25 15:36] cglewis commented on #382
thanks for creating this issue @mbroecheler

feel free to ping me if anyone would like further details about this issue I'm running into.

[2013-09-25 15:42] mpouttuclarke commented on #380
I was wondering if you had tested with Flash (esp. PCI Flash like Fusion-io).  The heap pressure is mitigated by:
- Cassandra 1.2 moving bloom filters and cache off-heap out of the JVM
- PCI Flash is so fast that caching in the JVM has no benefit, so Cassandra key cache and row cache are unnecessary
- Many low-latency apps would turn consistency to ONE or ANY which in that case the response comes

[2013-09-25 16:04] jschott780 commented on #382
We've seen the same behavior with Titan 0.3.1, hand rolled Map/Reduce, and Cassandra. Our graph is ~15 billion vertices and expected to grow to 50 billion very soon. In addition, our graph data tends to churn a couple times a week. Resulting in lots of ETL. So this is somewhat a critical issue for us.

Using UUIDs would solve a couple problems we expect to encounter with IDs. We already have UUIDs

[2013-09-25 17:24] mbroecheler opened #383 "Allow users to assign UUIDs to vertices"
FOR CONSIDERATION as triggered by #382.

Regarding UUIDs assignment:
1) If the user does not know what s/he is doing, allowing them to pass in UUIDs can cause a lot of havoc. I'd be willing to consider it as a feature for power users on very large graphs.
2) However, UUIDs would have to be longs otherwise Titan's storage format would become horribly inefficient. Also, this would mean that graph pa

[2013-09-25 17:25] mbroecheler commented on #382
This ticket is about making the ID assignment more robust to high concurrency. Whether Titan should allow UUIDs is a separate issue which I moved to ticket #383.

[2013-09-25 17:29] GeorgeVorobiov opened #384 "Add the ability to register a new index provider in com.thinkaurelius.titan.diskstorage.Backend"
I'm working on adding a custom index provider to support our solr instance instead of the ones provided out of the box. It would be nice if we had an API to make it easy.
Currently I've found the only method that does it:

[code]

but the problem is that we need to put a new mapping into the following private Map object inside the Backend class:

[code]

But in order to change this Map, I need to

[2013-09-25 17:32] jschott780 commented on #382
I should have been a clearer in my response. Apologies for that.

We are seeing the same timeout issues related to ID allocation. We were running ~1200-2300 mappers to ingest vertices across 86 hosts. It appeared to overwhelm Cassandra as well as Titan. We scaled it back to ~500 mappers with no luck.

[2013-09-25 17:32] mbroecheler commented on #380
That's really interesting. Do you have any numbers that you could share.

I agree that there is a lot of tuning you can do to reduce the latency of
Cassandra. I guess my question is: Is Cassandra a good target for low
latency applications in the first place? It seems that distributed data
grids would be far preferable for such use cases. This is why we have
project "Fulgora" targeted at data grids

[2013-09-25 17:39] GeorgeVorobiov commented on #384
So something like:

public static final void registerIndexShorthand(String shorthand, String clazz) {
        shorthands.put(shorthand,clazz);
        log.debug("Registering index shorthand [{}] for [{}]",shorthand,clazz);
}

[2013-09-25 17:42] mbroecheler commented on #382
Exactly, we will fix that.

On Wed, Sep 25, 2013 at 10:32 AM, jschott780 notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-09-25 17:50] kunklejr opened #385 "Add ability to define properties as indexed, but not stored in Titan vertex"
Titan provides the ability to use Lucene or Elastic Search to "full text index" a property as well as save it to the storage backend. It would be nice to allow a property to be indexed but not stored in the Titan vertex for cases where the data is very large and you'd still like to be able to use its value in a graph query. Currently we need to maintain a separate Elastic Search index for large pr

[2013-09-25 18:36] mpouttuclarke commented on #380
I haven't had a lot of luck so far with a non-embedded Cassandra with low latency and I've been working at it for 1+ years.  We still haven't been able to pull the switch on using Cassandra in our low latency products.  I was hoping the embedded Cassandra would work out better, or some of the newer Flash capabilities DataStax is working on.

Yes, data grids work well for this as long as the GC doe

[2013-09-25 18:46] dalaro commented on #80
I merged the performance-test-rewrite branch into master.  This branch contains a combination of performance test plumbing and new Gremlin-based performance tests that use the plumbing.  Contributions:
- JUnitBenchmarkProvider, a static utility class for tests that handles JUB configuration and automatic method-round-count tuning
- GraphGenerator, a class built on Furnace that creates synthetic sc

[2013-09-25 18:46] #80 closed, assigned to dalaro

[2013-09-25 19:16] mpouttuclarke commented on #380
Sure I can share some stats, I will start running Titan/Cassandra embedded and non-embedded tests today with both an 8 disk RAID0 and fio.  I’ll let you know how it goes.  Here’s the box spec:

HP DL380p Gen 8
2x 8 core E5-2670 (32 total threads):link http://www.cpu-world.com/CPUs/Xeon/Intel-Xeon%20E5-2690.html
192 GB DDR3-1600 memory (16GB DIMMS)
8x 1 TB 7.5k RPM SAS SFF disk (RAID 0)

Fusion IO

[2013-09-25 22:06] mbroecheler opened #386 "Change "primaryKey" to "sortKey" in TitanTypes"
to avoid confusion with the use of "primary key" in RDBMS.

[2013-09-25 22:28] okram commented on #386
Bam. Finally.

On Sep 25, 2013, at 4:06 PM, Matthias Broecheler notifications@github.com wrote:

[2013-09-26 00:10] mbroecheler opened #387 "Refactor AbstractVertexCentricQueryBuilder.constructQuery"
since this method got pretty impenetrable.

[2013-09-26 00:45] mbroecheler commented on #385
@kunklejr Are you saying that you have vertex properties that are too large to be stored in Titan? How large are they and what is the exception that you are seeing?

[2013-09-26 00:52] kunklejr commented on #385
I'm primarily thinking about the backend storage engine used by Titan, specifically HBase. In their FAQ they suggest storing data in HDFS and "pointers" in HBase for anything over 10MB (http://wiki.apache.org/hadoop/Hbase/FAQ_Design#A3). In my case I'm storing text extracted from any number of documents (Word, Excel, HTML, PDF, etc.) where I don't control the size.

[2013-09-26 01:14] mpouttuclarke commented on #380
Here's my load test class, any comments?  I am getting a lot of the "ID could not be recognized" errors on vertex read:
package com.earlywarning.rnd.titan;

import java.io.File;
import java.util.concurrent.atomic.AtomicInteger;
import java.util.concurrent.atomic.AtomicLong;

import org.apache.commons.configuration.BaseConfiguration;
import org.apache.commons.configuration.Configuration;

import co

[2013-09-26 02:08] mbroecheler commented on #272
Issue has been closed in Rexster which closes it in Titan for the next release (0.4.0)

[2013-09-26 02:08] #272 closed, assigned to nobody

[2013-09-26 02:12] mbroecheler commented on #384
If this method was available, then you would have to have a custom build of Titan which registers your particular shorthand which seems cumbersome or run some custom code prior to initializing Titan.
You can simply use the entire class name in your configuration file:
@storage.index.search.backend=name.for.your.IndexProvider@

Wouldn't that do it?

[2013-09-26 02:19] mbroecheler commented on #289
I have implemented a check that disables automatic creation of types when @batch-loading@ is enabled. AFAIK, this problem arises when multiple threads operate on a graph and attempt to automatically create a new type (label or key) that hasn't been defined up front. Normally, this would cause locking exceptions, however when batch-loading is enabled no exceptions are thrown and things get overwrit

[2013-09-26 02:35] mbroecheler commented on #380
You are doing this:
@Vertex v = tx.getVertex((long) Math.ceil(Math.random() \* keyCount));@
where you make the assumption that Titan assigns ids sequentially which is not true.

[2013-09-26 03:26] #289 closed, assigned to mbroecheler

[2013-09-26 03:26] #329 closed, assigned to mbroecheler

[2013-09-26 15:37] mpouttuclarke commented on #380
How would I get the id that Titan assigned?  I tried v.getId and it didn’t seem to work

From: Matthias Broecheler [mailto:notifications@github.com]
Sent: Wednesday, September 25, 2013 7:36 PM
To: thinkaurelius/titan
Cc: Pouttu-Clarke, Matt
Subject: Re: [titan] Delete of embedded Cassandra? (#380)

You are doing this:
@Vertex https://github.com/Vertex  v = tx.getVertex((long) Math.ceil(Math.random

[2013-09-26 16:27] GeorgeVorobiov commented on #384
Thanks a lot. I was under the impression that you have to use a shorthand, but using a fully qualified class name works fine.
I consider the issue resolved.

[2013-09-26 16:27] #384 closed, assigned to nobody

[2013-09-26 18:19] vertex commented on #380
@mbroecheler well, I never expected to be a line of code, but thank you.

[2013-09-26 18:29] mbroecheler commented on #380
@vertex haha, sweet username you got there.

[2013-09-26 18:30] mbroecheler commented on #380
@mpouttuclarke Titan assigns the ids after the transaction commits, at which point you can do v.getId() to get the id as an object (Tinkerpop compliant) or v.getID() to get the long id (Titan specific).

[2013-09-26 19:46] inolen opened #388 "Make ES client.transport.sniff configurable"
https://github.com/thinkaurelius/titan/blob/22500d4f32d6f1fe9f1fb056d55248ef7d35ec9e/titan-es/src/main/java/com/thinkaurelius/titan/diskstorage/es/ElasticSearchIndex.java#L136

It would be nice if this value was configurable through a storage.index property. I have a setup where my development Amazon box isn't accessible by the default published host address returned due to sniffing (it also can't

[2013-09-26 19:55] mbroecheler opened #389 "Refactor StoreManager.set/getConfigurationProperty to use KeyColumnValueStore"
currently, Cassandra, HBase, Hazelcast etc have their own implementation of this. It would reduce the code complexity to simply open a dedicated KCVS against the manager (for some reserved name) and have a common Utilty class that operates on that.

[2013-09-26 21:14] mpouttuclarke commented on #380
@mbroecheler There's a lot of objects hanging around in memory.  Do you know a way to clear them out?  I am committing every 10000 records.

$ /usr/share/jdk1.7.0_40/bin/jmap -histo:live 43165 | head

##  num     #instances         #bytes  class name

   1:      38454497     2153451832  com.thinkaurelius.titan.graphdb.relations.StandardProperty
   2:      12819488     1023948504  [Ljava.lang.Objec

[2013-09-26 22:40] mpouttuclarke commented on #380
Actually from the heap dump the solution is quite simple, you have to clear the SimpleIndexCache and SimpleVertexCache on commit or rollback of transaction.  These are the lines of code that need to be fixed com.thinkaurelius.titan.graphdb.transaction.StandardTitanTx:
866

[code]

867

[code]

868

[code]

869

[code]

[2013-09-26 22:52] mpouttuclarke commented on #380
Either that or you can make them LRU, but for my data sizes that would not matter much.

[2013-09-26 22:54] mpouttuclarke commented on #380
I can do fork and pull and verify the fix, if you want...  I need the fix right away to continue load testing

[2013-09-26 22:55] mbroecheler commented on #380
@mpouttuclarke You are right, the transaction keeps pointers to all vertices in the transaction. We have an outstanding ticket #335 which is about using caches instead of normal maps so that memory can be released.

However, i don't understand why the transactional state keeps piling up. If you commit the transaction and release the pointer to it, then the garbage collector should clean things up.

[2013-09-26 22:57] mpouttuclarke commented on #380
The code is above, so no, I'm not holding a reference.  Unless                         tx = graph.newTransaction(); returns the same instance to the same thread.

[2013-09-26 23:02] mpouttuclarke commented on #380
Also, the thing is that the garbage collector may not be able to trace the vertex and property instances back to the holding object quickly enough.  In that case explicitly freeing the objects helps the garbage collector free the nested objects sooner.

[2013-09-26 23:06] mbroecheler commented on #380
Ah, I was looking at the writing threads. Those commit regularly and you start a new transaction which should effectively release the memory. However, the reading threads don't and so you load more and more of the graph into each of the transactions which fills up your heap.
The long-running-read-only-transaction use case is exactly why #335 exists. I will take a crack at using guava cache for the

[2013-09-26 23:13] mpouttuclarke commented on #380
@mbroecheler  It even happens when I only spawn writer threads.  Here is the result of the heap dump analysis for only writer threads:

So overall, this is resulting in 95% of heap allocation:
Class Name                                                                                            | Shallow Heap | Retained Heap | Percentage
com.thinkaurelius.titan.graphdb.transaction.StandardTitanTx @

[2013-09-26 23:15] mpouttuclarke commented on #380
@mbroecheler: so I will simply add code in close() to clear the caches in my fork, that should fix my immediate problem.

[2013-09-26 23:23] mbroecheler commented on #380
@mpouttuclarke Let me know if that helps. I still cannot make logical sense of that. When you do tx = graph.newTransaction(); the only pointer to the previous transaction is released. There does not seem to be any other reference to that transaction (or any element in it) inside the run() method. Hence, GC should be able to determine that it can release the transaction and all its associated memor

[2013-09-26 23:44] mbroecheler commented on #186
This issue should have been fixed by the refactoring of the storage backend adapter.

[2013-09-26 23:44] #186 closed, assigned to mbroecheler

[2013-09-27 04:39] mbroecheler opened #391 "Add TransactionBuilder to make individual transaction configurable"
TransactionBuilder would build a TransactionConfig. This could be used to make more "advanced" features available to users, like passing in long UUIDs.

[2013-09-27 05:12] #335 closed, assigned to mbroecheler

[2013-09-27 05:14] mbroecheler commented on #380
@mpouttuclarke Couldn't let go and went ahead to implement an LRUVertexCache. Check out commit:
1749c4d32409de3bd4619844a6d331afbff1a17b

Added a test case that shows that memory is not leaking anymore:
https://github.com/thinkaurelius/titan/blob/master/titan-test/src/main/java/com/thinkaurelius/titan/graphdb/TitanGraphPerformanceMemoryTest.java#L73

[2013-09-27 05:20] mbroecheler commented on #355
Fixed by #289 as described in previous comment.

[2013-09-27 05:20] #355 closed, assigned to mbroecheler

[2013-09-27 11:15] spmallette commented on #289
In a way, automatic type creation is a good and bad thing.  it's good because new users have no clue what's going on with types so it gets them started, but it's bad because you almost never want automatic types happening in production. I know there's a configuration one can set that controls automatic type creation, but usually by that point you've learned too late the importance of types and pro

[2013-09-27 16:41] kevinschumacher opened #392 "Run Titan on Windows as a Windows Service?"
When running Titan on Windows, it would be helpful to be able to run the program in the background as a Windows Service. This has advantages such as:
-  Automatically starting when the server boots
-  Not having a console window running on a logged in user's session
-  Graceful shutdown when the system shuts down (as opposed to Windows just killing the process as I believe happens if the system is

[2013-09-27 17:32] mbroecheler commented on #289
@spmallette Can you elaborate a little more on why this wouldn't solve the issue you were seeing. In the ticket description, the seen exception was a conflict due to in-uniqueness. This is interesting, because the default type maker never creates in-unique property keys. Might it have been a conflict on out-uniqueness? I see that in your key definition you are setting UniquenessConsistency to NO_L

[2013-09-27 17:48] spmallette commented on #289
if i understood the change you made properly, you made it so that batch-loading does not use automatic type creation.  when the error occurred, I wasn't batch-loading, so i assume the error would still have been present.

i'm not sure you're reading my issue right.  looking back at what i wrote on it, i was just trying to say that defining the types in a single thread, up front (before loading dat

[2013-09-27 18:06] mbroecheler commented on #289
Aaaaah, now I got you. You got the error because multiple threads were automatically defining the same types and hence you got an in-unique exception since type names are always unique. Gotcha.

There is nothing we can do about that, since Titan is definitely right in throwing that exception. Synchronizing won't help either, because the transaction won't announce the new type until commit. So, the

[2013-09-27 18:14] spmallette commented on #289
you got it.  my initial description of the problem was somewhat a few steps away from where i ultimately realized the problem was.  if synchronization won't help, the we'll have to rely on documentation like you say.  if folks follow the proper conventions they shouldn't have problems.

[2013-09-27 18:17] mbroecheler commented on #289
Exactly. The good thing about your scenario is that you got the exception
at the right point and it did not impact or corrupt the graph in any way.
That was the scary part about having batch-loading enabled - then the
problem does not appear when the types are automatically defined but later
when you read data.

On Fri, Sep 27, 2013 at 11:14 AM, stephen mallette <notifications@github.com

##

Matt

[2013-09-27 18:20] zcox commented on #289
+1 for clearly documenting this behavior (multiple threads concurrently trying to create default types) as well as the best practice (define all types up-front single-threaded).

Even with the above, this will still happen. Any way to provide a more descriptive message in the exception when this does occur? I think that would really help new users diagnose things.

[2013-09-27 18:29] mpouttuclarke commented on #380
Wow, thanks!

From: Matthias Broecheler [mailto:notifications@github.com]
Sent: Friday, September 27, 2013 12:14 AM
To: thinkaurelius/titan titan@noreply.github.com
Cc: Pouttu-Clarke, Matt
Subject: Re: [titan] Delete of embedded Cassandra? (#380)

@mpouttuclarkehttps://github.com/mpouttuclarke Couldn't let go and went ahead to implement an LRUVertexCache. Check out commit:
1749c4dhttps://github.co

[2013-09-27 20:14] TimLudwinski commented on #375
I can duplicate this just using the rexster console.  I'm not sure how to get an entire stack trace.  Titan doesn't seem to be logging anywhere else except the console (which doesn't show any message besides the WARN message above).  (BTW, the second part of the error above starting with ==> comes from the rexster console).

[2013-09-27 21:50] #314 closed, assigned to mbroecheler

[2013-09-27 21:50] #358 closed, assigned to mbroecheler

[2013-09-27 21:53] spmallette commented on #375
can you clarify how you do this with rexster console?  are the repo steps:
1. open a rexster console and connect to a berkeleydb instance hosted in rexster
2. add a vertex but don't commit()
3. kill rexster console
4. restart rexster console
5. try to mutate the graph....error

is that right?

[2013-09-28 01:56] mbroecheler commented on #375
One thing to throw out there: Somewhere in the 0.3.x line of Titan, the BerkeleyDB adapter had a bug where it would not close an iterator after going a g.V (or similar) which would cause an exception upon commit. Not sure you are using BDB here or whether this bug has anything to do with this. Just thought it worthwhile to point out. This has since been fixed.

@spmallette What can we do to get th

[2013-09-28 02:20] mbroecheler commented on #354
cannot reproduce, might have been fixed along the way when the entire query processing pipeline was redone.

[2013-09-28 02:20] #354 closed, assigned to mbroecheler

[2013-09-28 04:09] mbroecheler opened #393 "Resolving loop edge across tx boundaries fails"
because when it tries to lookup the new representation of said edge it will find two (for each direction).

[2013-09-28 05:12] kdatta commented on #382
Matthias, I see similar exceptions while bulk loading vertices to Titan+HBase. Is this open issue resolved?

[2013-09-28 06:30] #297 closed, assigned to mbroecheler

[2013-09-28 06:30] #393 closed, assigned to mbroecheler

[2013-09-28 07:17] xedin commented on #379
I will make it an option in the configuration, meanwhile you can just set "compressionOptions" to "null" for all CFs in titan keyspace using CLI that would disable compression for new data, compaction would also decompress old data.

[2013-09-28 07:34] xedin commented on #379
@freakinruben as compression is done on schema level, what behavior are you looking for? I guess that option should only be taken into account the every first time you open the graph and everything initialize, otherwise we are risking to create schema disagreements if we are going to try switch it off/on every time graph is open. Can you also elaborate how you tried to disable compression and why

[2013-09-28 14:54] #280 closed, assigned to dalaro

[2013-09-28 14:54] #338 closed, assigned to dalaro

[2013-09-28 14:58] dalaro commented on #339
I updated master to 0.90.5 in 82ee52069ab84c0359018a4d13090f29b90d17fc.  As noted by @jcamins, it seems like `setUpsertRequest(...)` was renamed `setUpsert(...)`.  That was the only source change I made.

After the upgrade, @dkuppitz's script runs without exceptions on my box.  To get the script to execute, I did change the config to run embedded ES and I replaced unique(...) with vertexUnique(...

[2013-09-28 14:58] #339 closed, assigned to dalaro

[2013-09-28 15:06] dalaro commented on #338
I would like to check both the client and server version, but I couldn't find a way to retrieve the server ES version using the Java API.  This is terribly easy to do with the HTTP REST API -- just GET the root -- so I'm kind of wondering if it's in the Java API and I just missed it.

The check does _not_ cause failure.  It just logs a warning.  We could make it throw a RuntimeException, but I did

[2013-09-28 17:39] mbroecheler commented on #379
@xedin I agree, this configuration option should only have any affect when Titan first initializes. Subsequent changes in compression need to be done via the cli and not the configuration option.

[2013-09-28 19:21] mbroecheler opened #394 "Document potential Data Degradation issues in Titan"
There are certain (failure) conditions under which the graph might become inconsistent which should be addressed in the transaction:
1) Index entry points to deleted vertex (in case of partial mutation persistence)
2) Unidirected edge points to deleted vertex
3) Only "half" an edge is present or deleted

[2013-09-28 20:00] mbroecheler opened #395 "Get rid of KeyColumnValueStore.containsKey()"
seems the same can be achieved with a slice query and limit 1. Cleans up the interface.
On the other hand, for this to work we would need to know the max slice length. Also, a "containsKey" might be implemented faster than a SliceQuery depending on the storage backend.

[2013-09-28 21:55] #214 closed, assigned to mbroecheler

[2013-09-28 21:55] #260 closed, assigned to mbroecheler

[2013-09-28 21:55] #363 closed, assigned to mbroecheler

[2013-09-28 23:31] mbroecheler opened #396 "Filter out redundant deletions"
if there is an overwriting addition. This would then also allow us to not have to increment the deletion timestamp for eventually consistent storage backends like Cassandra in order to avoid loosing additions.

[2013-09-29 21:40] #371 closed, assigned to dalaro

[2013-09-30 01:29] dalaro commented on #378
I added three test methods on GroovySerialTest in ca98a67eead60c5e0ee744968d6852b238fa9177 and fa7b9191b1ce1ce388abcb10cbe7e3014cf161aa.  Here's a summary.
- testMultiVertexQuery runs a sequence of 3 transactions, each for a set of 50 vertices.  Iterating over 10 edge labels one at a time, the tx multiQueries labeled edges incident on its 50 vertices.  Both here and below, the "magic" numbers are

[2013-09-30 01:29] #378 closed, assigned to dalaro

[2013-09-30 03:05] dalaro commented on #368
RexsterTitanServer is already deleted and rexster-\* dependencies in titan-core have been removed.

I also removed the embedded Cassandra adapter and its tests, but as we recently discussed, I'm going to restore it so that we can provide it without support.

[2013-09-30 05:30] xedin commented on #379
@mbroecheler Pull request at https://github.com/thinkaurelius/titan/pull/397

[2013-09-30 09:30] dalaro opened #398 "Release supported rpm and deb Titan packages"
The master already contains a RPM specfile and set of Debian control files under titan-dist, but these need updating to account for RexsterTitanServer's removal and documenting.

Related but not integral to this issue: flesh out and document the prototype Titan puppet module.

[2013-09-30 09:41] dalaro commented on #368
A quickstart distribution with Cassandra, ES, Rexster, Titan, and a titan.sh script that accepts the verbs "start", "stop", and "clean" is in the master @ titan-dist/titan-dist-quickstart and slated for 0.4.0.  I think any remaining engineering on the easymode script and distro are better addressed in #263 and #376.  #376 is also in the 0.4 milestone.

I made .rpm and .deb packages for Titan a few

[2013-09-30 09:41] #368 closed, assigned to dalaro

[2013-09-30 17:43] BillBaird opened #399 "Enable Titan to use configured ElasticSearch tokenizers and filters."
Titan exposes a subset of ElasticSearch features.  ElasticSearch allows customized tokenizers and filters.  Proper use of es to index Titan propertykeys would allow Titan to take advantage of these powerful behaviors.  Examples would be a native es tokenizer like the pathhierarchy-tokenizer
http://www.elasticsearch.org/guide/reference/index-modules/analysis/pathhierarchy-tokenizer/
or a plugable t

[2013-09-30 18:19] mbroecheler opened #400 "When transactions get persisted in multiple chunks use identical timestamp"
by setting the timestamp in the transaction configuration just prior to writing out the first data.
That way, it can be ensured that data persisted over multiple persistence calls because it got split up into separate buffers has the same timestamp associated with it.

Target BackendTransaction for this to make sure this is treated uniformly across the different storage backends and configurations

[2013-09-30 18:40] #376 closed, assigned to dalaro

[2013-09-30 18:45] espeed commented on #399
Since Titan is already using ZooKeeper, wouldn't it be simpler to separate the ElasticSearch code, and instead provide an output interface to [Kafka](https://kafka.apache.org/)?

See the ElasticSearch Kafka-River Plugin: https://github.com/endgameinc/elasticsearch-river-kafka

Adding a Kafka out would make it easy for people to configure ElasticSearch as needed, and it would allow Titan to feed in

[2013-09-30 18:52] dalaro opened #401 "Expand getKeys testing (scanTest() in KCVSTest)"

[2013-09-30 18:55] mbroecheler opened #402 "Metrics coverage for TitanTransaction"
Metrics coverage for transaction
- get coverage of transaction time, count, failures (by type: locking vs persistence vs other) => wrapper around TitanTx (MetricInstrumentedTransaction)
- vertex retrieval by id (counts) in MetricInstrumentedTransaction (wrapping method)
- VertexQuery, GraphQuery (counts, times) in QueryExecutor

[2013-09-30 19:04] dkuppitz opened #403 ".has() does not work for multi-valued properties"
### Code to reproduce

**Init**

[code]

**Query**

[code]

**Expected behaviour**

[code]

...should return the only vertex in the graph.

**Actual Result**

[code]

**Expected Result**

[code]

[2013-09-30 19:07] mpouttuclarke opened #404 "Multi-threaded reads do not see changes in titan-core 0.3.2"
If I write changes in a new thread and read the changes in a separate thread (other than main thread) the changes cannot be seen.  See attached code example:

[2013-09-30 19:08] mpouttuclarke commented on #404
import java.io.File;
import java.util.Iterator;
import java.util.concurrent.ArrayBlockingQueue;
import java.util.concurrent.BlockingQueue;

import org.apache.commons.configuration.BaseConfiguration;
import org.apache.commons.configuration.Configuration;
import org.apache.commons.io.FileUtils;

import com.thinkaurelius.titan.core.TitanFactory;
import com.thinkaurelius.titan.core.TitanGraph;
import

[2013-09-30 19:10] mpouttuclarke commented on #404
Currently, running the command line results in:
java -javaagent:C:\Development\Dependencies.m2\repository\com\github\stephenc\jamm\0.2.5\jamm-0.2.5.jar -Xmx4g SimpleLoad src/test/resources/disk-cassandra.yaml
Got cid: 1
Inside of thread: nothing
Outside of thread: jimbo

The second to last line should read:
Inside of thread: jimbo

[2013-09-30 20:24] kunklejr commented on #385
Even if the data isn't huge, it's a problem when querying. Imagine you have vertices with a text field that is 1MB and your query returns 100 vertices. There's currently no way to prevent 100MB worth of data from being returned from that query.

[2013-09-30 20:35] espeed commented on #385
Separating ElasticSearch from Titan and replacing it with a Kafka connector would simplify the code and provide more flexibility in choosing what to store where, and it would make it easy to run custom ElasticSearch configurations (see https://github.com/thinkaurelius/titan/issues/399).

[2013-09-30 23:56] rstaudinger opened #406 "Provide options for online upgrades to major versions"
Using Titan in a 24/7 environment with uptime SLAs is challenging, since most upgrades to major versions require an offline upgrade through Faunus, during which no writes can occur. Titan should provide support for online or 'rolling' upgrades in a cluster without requiring downtime, the same way cassandra or mongo let you upgrade a node at a time.

[2013-10-01 00:18] mbroecheler commented on #336
Titan closes both the ES client and node (if it exists) upon database shutdown. Are you sure you are calling graph.shutdown() after you are done with it? Otherwise I suppose the client and open connections could linger around.

[2013-10-01 01:56] mbroecheler commented on #294
I cannot reproduce this behavior in a Titan only environment (i.e. without Rexster involved) which caused me to hit my head against the wall quite a bit.
I think I have a reasonable explanation for why this is happening: Each statement send to through the client gets treated independently. That means, the g.commit() after the first two type definition statement may not actually commit those. So, w

[2013-10-01 03:43] mbroecheler commented on #404
Yes, that's the whole point of transactions. The changes in a transaction only become visible when the transaction commits. Before then, those changes are tentative and can always be discarded with rollback().
Since your reader starts right after you writer, the writer might not have committed yet. If you introduce a Thread.sleep(x) after writer.start() and slowly increase x from 0, the reader sho

[2013-10-01 05:50] dalaro commented on #381
I played with the BDB assembly descriptor.  Compared to just distributing the BDB backend, Titan core, and associated dependencies, dding Lucene increases the size 11%.  Adding Lucene + ES increases it 44%.  There are no real savings in shipping just ES but not Lucene, since ES depends on most of Lucene.

I updated the [Downloads](https://github.com/thinkaurelius/titan/wiki/Downloads) wiki page to

[2013-10-01 05:50] #381 closed, assigned to dalaro

[2013-10-01 06:36] JonSmoot commented on #373
Wouldn't this simply hide the problem instead of fixing it (the code above will "work", but will not use elasticsearch index (although one is defined) therefore performing full graph scan)?

[2013-10-01 10:07] dalaro opened #407 "Consider setting isKeyOrdered = true for HBase"
HBase has [features.isKeyOrdered = false](https://github.com/thinkaurelius/titan/blob/master/titan-hbase/src/main/java/com/thinkaurelius/titan/diskstorage/hbase/HBaseStoreManager.java#L103).  In contrast, Cassandra with BOP has [features.isKeyOrdered = true](https://github.com/thinkaurelius/titan/blob/master/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/AbstractCassan

[2013-10-01 17:05] dalaro commented on #404
Transactions are safe for [concurrent use by multiple threads](https://github.com/thinkaurelius/titan/wiki/Multi-Threaded-Transactions), just in case somebody stumbles on this issue and wonders.

I think you could get your program's intended behavior by either:
- making the reader and writer threads share a single transaction instead of calling `newTransaction()` separately in each of them; you wo

[2013-10-01 17:32] mpouttuclarke commented on #404
Thanks!  From your description I found the error in my code and fixed it.  I now have the benchmark running against embedded Cassandra with Fusion-io storage.  I’ll publish the results within the next couple of days.

[2013-10-01 17:50] mbroecheler commented on #373
No, it will use an index. It uses the standard index defined via "simpleindex" since this is the faster of the two indexes.
In the future, we will work on making the query optimizer smarter about which indexes to use and how.
However, this should not result in a full table scan for any of your queries.

[2013-10-01 18:19] GeorgeVorobiov opened #409 "Add cassandra backend configuration to support username/password authentication"
We are running the DataStax backend cluster with default authentication policy set to password authentication. Since I couldn't' find a way to configure credentials to be used when calling cassandra, I had to disable auth in cassandra cluster (set it to org.apache.cassandra.auth.AllowAllAuthenticator) to make titan work with it.
It seems that the code is mostly there, we just need to define/pass t

[2013-10-01 20:32] akeffalas opened #410 "ElasticSearch index query condition not being analyzed for Text.CONTAINS"
When I create an indexed, unique property key of type String for a vertex and create a vertex containing that property with a value of "test-me", I'm unable to have a query for "test-me" return that vertex.

Example code:

[code]

If I were to tokenize the search query beforehand, the vertex is returned.

[code]

However, I shouldn't have to know how to tokenize my query beforehand.

After looking

[2013-10-02 13:50] spmallette commented on #392
There was a time when someone contributed a wiki page to Rexster that explained how to get Rexster running as a windows service.  I've long since removed that page as the original submitter no longer wished to maintain it.  In any case, here is the page from the Rexster wiki archives:

http://www.tinkerpop.com/docs/wikidocs/rexster/2.0.0/Wrapping-as-a-Windows-Service.html

Perhaps it can help you

[2013-10-05 02:53] dalaro opened #411 "Configure Maven to build JDK 6 artifacts and assemblies"
In addition to the JDK 7 artifacts and assemblies built by default

[2013-10-05 03:49] #277 closed, assigned to mbroecheler

[2013-10-05 03:49] #373 closed, assigned to mbroecheler

[2013-10-05 11:47] mbroecheler commented on #374
In commit https://github.com/thinkaurelius/titan/commit/361c3df4ff51579a399542bbc97396229e8156fb support was added for ordering GraphQuery results according to a user provided property key.

[2013-10-05 11:47] #374 closed, assigned to mbroecheler

[2013-10-05 11:50] mbroecheler commented on #296
Fixed in https://github.com/thinkaurelius/titan/commit/cfecb0c85cf2539eb2bc01c90a83e7f3572d57d6
All Text.\* predicates now tokenize first.

[2013-10-05 11:50] #296 closed, assigned to mbroecheler

[2013-10-05 11:51] mbroecheler commented on #294
Pending further notice moved to 0.4.1

[2013-10-05 11:51] mbroecheler commented on #336
Pending further notice moved to 0.4.1.

[2013-10-05 18:28] #379 closed, assigned to xedin

[2013-10-08 15:25] okram opened #412 "Faunus SLF4J issues with Titan 0.4.0-SNAPSHOT"
I had this problem earlier in Faunus and was able to use Apache Logger to get around it. But this is in Titan's code and Faunus can't read graphs (HBase or Cassandra).

_HBASE_

[code]

_CASSANDRA_

[code]

[2013-10-08 19:15] okram commented on #412
The problem is that titan-core and titan-hbase have two different versions of SLF4J. A simple exclusion in Faunus on titan-hbase fixes the problem above: https://github.com/thinkaurelius/faunus/blob/master/pom.xml#L97 ...

[2013-10-08 19:15] #412 closed, assigned to dalaro

[2013-10-08 23:15] dalaro commented on #412
This aroused my curiosity, since Titan's maven-enforcer-plugin configuration is supposed to prevent problems like this one.

#280 makes log4j and its slf4j binding optional dependencies.  The objective was to allow Titan users to choose their own logging backend (e.g. logback instead of log4j).  Titan's maven artifacts now depend only on slf4j-api and not on log4j or slf4j-log4j12 unless the user

[2013-10-09 17:12] okram opened #413 "Default directors in conf/ properties are different -- make same?"
[code]

[code]

[2013-10-09 21:14] #388 closed, assigned to nobody

[2013-10-09 21:24] mbroecheler opened #414 "Investigate connection issues with Astyanax on AWS"
sometimes it does not seem to connect. Why and what can we do about that?

[2013-10-10 06:18] #413 closed, assigned to dalaro

[2013-10-10 09:38] dalaro commented on #414
Are there particular cases we should focus on?

I saw http://stackoverflow.com/questions/16536871/noavailablehostsexception-while-starting-titan-with-cassandra/19283015, but that's on 0.3.0.

We know 0.3.1 had a crippling Astyanax bug: https://groups.google.com/forum/#!msg/aureliusgraphs/RQIQqaoURd4/IVwQ-9uXveoJ.

But those are both previous versions.

[2013-10-10 09:40] mbroecheler commented on #414
I filed this bug for future investigation. Let's see if this issue remains
with Titan 0.4.0.

On Thu, Oct 10, 2013 at 2:38 AM, Dan LaRocque notifications@github.comwrote:

##

Matthias Broecheler
http://www.matthiasb.com

[2013-10-10 11:56] fabienrousseau commented on #380
By doing a small change in CassandraEmbeddedKeyColumnValueStore.java#L341, you should have a performance improvement, unless read slices are very small.
This change consists in using cf.getSortedColumns() and, avoid calling cf.getColumn(col)

Why ?
ColumnFamily inherits AbstractColumnContainer, which has a ISortedColumns member.
This interface has multiple implementation. One of them is ArrayBacke

[2013-10-10 15:05] richtera opened #415 "Maven repo doesn't seem to contain titan-rexster"
The titan-rexster project seems to contain a refactor of the rexster specific classes but it's not pointed to by the parent pom file and doesn't seem to be included in the maven repo.

[2013-10-10 16:04] richtera commented on #415
Building this project with it's associated pom file and using it does work, so the code is correct and working. It's just the pom file is not linked.

[2013-10-10 17:04] dalaro commented on #415
Whoops, forgot to `git add pom.xml` in d01dd628c52af6458a0a0bebc4bb00969cd3b909.  Push inbound...

[2013-10-10 17:07] #415 closed, assigned to nobody

[2013-10-10 17:50] richtera commented on #415
Would you be able to make an official compile so that the titan-rexster resources end up in the maven repo?

[2013-10-10 18:59] mbroecheler opened #417 "Improve Cassandra embedded"
By doing a small change in CassandraEmbeddedKeyColumnValueStore.java#L341, you should have a performance improvement, unless read slices are very small.
This change consists in using cf.getSortedColumns() and, avoid calling cf.getColumn(col)

Why ?
ColumnFamily inherits AbstractColumnContainer, which has a ISortedColumns member.
This interface has multiple implementation. One of them is ArrayBacke

[2013-10-10 19:02] mbroecheler commented on #380
Created a new ticket #417
If you have a well thought feature suggestion or enhancement like this one, please create a new issue. Thanks!

[2013-10-10 23:17] karkumar commented on #411
Hi I'm trying to use the -Pjre6 target and I am running into this error:

Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.4:single (assemble-standalone-dir) on project titan-dist-all: Failed to create assembly: Error adding file 'com.thinkaurelius.titan:titan-core:jar:0.4.0-SNAPSHOT' to archive: /Users/myusername/Sandbox/titan/titan/titan-core/target/classes isn't a file. -

[2013-10-11 02:38] dalaro commented on #411
Hi,

Use -Dtargetjre=6 instead of -Pjre6.  Just specifying -Pjre6 does not disable the jre7 profile that is enabled by default.

[code]

Compare:

[code]

[2013-10-11 03:17] dalaro commented on #415
I deployed a 0.4.0-SNAPSHOT to Sonatype.  Is that what you were looking for?  This module won't appear in Maven Central until the 0.4.0 release.

[2013-10-11 11:22] richtera commented on #415
Yes that's what I was looking for, thank you.

Sent from my iPhone

On Oct 10, 2013, at 11:18 PM, Dan LaRocque notifications@github.com wrote:

I deployed a 0.4.0-SNAPSHOT to Sonatype. Is that what you were looking for?
This module won't appear in Maven Central until the 0.4.0 release.

—
Reply to this email directly or view it on
GitHubhttps://github.com/thinkaurelius/titan/issues/415#issuecommen

[2013-10-11 17:05] karkumar commented on #411
Thanks, that work like a charm...sorry for missing that.

[2013-10-12 13:17] okram opened #418 "[Titan04/SNAPSHOT] Be nice to have titan-cassandra-?local?.properties"
We no longer seem to have cassandra.local and hbase.local in conf/ anymore.

[2013-10-12 13:35] okram opened #419 "[Titan04/SNAPSHOT] Hazelcast not found"
From the git pull titan$ directory, Hazelcast doesn't load. Note that Cassandra works just fine.

[code]

[2013-10-13 09:04] #418 closed, assigned to nobody

[2013-10-13 09:04] #419 closed, assigned to nobody

[2013-10-13 09:06] dalaro commented on #419
I forgot to add HC to the dependency set of the "all" distro.  I reproduced the error locally before my commit and it was disappeared after, so I think this should work as expected now.

[2013-10-13 09:09] dalaro commented on #418
You're right, we should keep those.

hbase.local was just renamed.  The contents of conf/titan-hbase.properties are the same as the old hbase.local.

But cassandra.local had no equivalent in conf.  I just restored the contents of cassandra.local to conf/titan-cassandra.properties.  This connects to 127.0.0.1 using the cassandrathrift adapter.  I renamed the embedded & embedded+es configs to titan-

[2013-10-13 17:07] jcamins commented on #324
Are there any negative effects from these errors? How would I delete them manually?

[2013-10-13 18:15] mbroecheler commented on #324
No, there should be no negative effects. The abandoned locks will
eventually time out.
On Oct 13, 2013 7:07 PM, "Jared Camins-Esakov" notifications@github.com
wrote:

[2013-10-13 22:51] #386 closed, assigned to mbroecheler

[2013-10-13 22:54] #370 closed, assigned to mbroecheler

[2013-10-14 02:10] mbroecheler opened #420 "Store properties in Hazelcast NOT locally"

[2013-10-14 05:39] haebin opened #421 "master branch (0.4.0) build fails."
Yes, I only have jdk6 installed, so I changed compiler.target  from 1.6 to 1.7 in root pom.xml.

And I hit the following error.

[ERROR] -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.5.1:compile (default-compile) on project titan-core: Compilation failure
/home1/irteam/apps/titan-all-0.4.0/titan-core/src/

[2013-10-14 05:50] haebin commented on #421
https://groups.google.com/forum/#!msg/aureliusgraphs/1K85lxdtGl0/FvZ-e4zALVEJ

Sorry for cross posting. This is for the other folks.

[2013-10-14 12:03] dalaro commented on #421
Titan's current master can be compiled for the Java 1.6 runtime, but due to this multiple inheritance limitation in JDK 6, we can only do it using the JDK 7 compiler.

[2013-10-14 12:03] #421 closed, assigned to nobody

[2013-10-14 14:23] okram opened #422 "Building Titan mutates Gremlin.sh/bat and deletes README.txt"
[code]

[2013-10-14 14:26] okram opened #423 "Directory issues -- non-relative even with ../db."
Please see the last line of the load. In the conf/ you have ../db. Notice that it is not respected as relative.

[code]

I would make all the temp directories /tmp to be safe.

[code]

[2013-10-14 14:33] okram opened #424 "Too much INFO/WARN with Hazelcast in Gremlin REPL"
Please play with Hazelcast in the Gremlin console. There is an excess amount of INFO information that makes using the REPL a bad experience.

In general, please test all the databases in the REPL and note the experience you have. Many problems can be realized about the set up ( ../db, INFOs, etc.)

[2013-10-14 14:36] okram commented on #424
Not so bad once you get past the initial TitanFactory.open() and the first few commands.

[2013-10-14 14:36] #424 closed, assigned to nobody

[2013-10-14 14:38] okram opened #425 "Transaction timeout with Hazelcast on g.commit() operation"
With other backends, loading a 1 million edge graph  using the code fragment in

[[https://github.com/thinkaurelius/titan/wiki/Generating-Artificial-Natural-Graphs]]

...works just fine. For Hazelcast, it no likey.

[code]

[2013-10-14 16:48] dkuppitz opened #426 "orderBy in unconditional query"
`orderBy` doesn't work in queries without conditions.

Code to reproduce:

[code]

Untested with ES-indexed properties.

[2013-10-14 18:41] dalaro commented on #424
I like all those messages on startup, but you're right that it's hideous for the general-case user experience.  I've turned the threshold up to WARN (1dc2bc8a7bc28209d080b69b3b1d4803cf06efd6).

By the way, I created a `conf/log4j.properties` file in the distros (and the repo root) that takes precedence over any packed in the jars.  This makes it modifying logging settings slightly less annoying be

[2013-10-14 19:02] dalaro commented on #423
Regarding hazelcast.xml: I recently fixed this in the hazelcast distro but missed it in the all/standalone distro.  Fixed with (69a156e0249a0173b717cdade73db96a53321bcb).

Regarding relative paths: I don't understand.  The last line shows interrpretation of ../db relative to the directory containing the config file in which it appeared, which is the new intended behavior for relative paths.  When

[2013-10-14 19:21] okram commented on #423
Yes, it is relative, apologies. I just noticed it. However, I think we should use /tmp/db as opposed to the relative path ../  (but that is just a subjective preference). Either works --- though /Users/marko/blah/blam/bleep/../db is a weird looking toString() of g.

[2013-10-14 19:27] dalaro commented on #422
Those are stubs that I added to remind the user to build Titan before running Gremlin.  I added the stubs while consolidating and refactoring Titan's assembly descriptors for 0.4.0.

[code]

[code]

The build overwrites the stub Gremlin scripts with real ones and deleted the stub README containing Titan's build command.  That's why the files appear in `git status` after the build.

I think the onl

[2013-10-14 19:34] dalaro commented on #423
/tmp is best for totally impermanent data.  Not all systems run [tmpwatch](https://fedorahosted.org/tmpwatch/) or delete the contents of /tmp every time the system reboots, but many do.  For this reason, I'm nervous about writing /tmp into our default configs.  /var/lib/titan is probably the optimal LSB path when root privileges are available, but we shouldn't require root for the distro zipfiles.

[2013-10-14 19:56] dalaro commented on #423
Ah, regarding dropping the directory, #420 might be related...

[2013-10-14 20:00] okram commented on #423
The properties files are for demo purposes. I would use /tmp for this. When someone wants to get "serious" they can create their own properties file. But for intial playing and having tutorials, this just looks rediculous:

[code]

I would do this as the general pattern:

[code]

This way the g.toString() looks good and yes, shows people: "be sure to update this when you get serious about your dat

[2013-10-14 20:09] dalaro commented on #423
Is this primarily a concern about toString()?  If so, then would you accept a toString() based on the current directory, such that after executing `bin/gremlin.sh` you would see `==>titangraph[hazelcastcache:db]` and if you instead changed to the `bin` directory and ran `./gremlin.sh` then you would see `==>titangraph[hazelcastcache:../db]`?

[2013-10-14 20:10] dalaro commented on #423
Alternately, the samples above could be prefixed with a "./" if you want to emphasize that they are both filesystem paths.

[2013-10-14 20:23] dalaro commented on #425
Thanks for finding this.  I'm having trouble reproducing it here.  size = 1M completed in about 3 minutes without an exception.  I'm running 2M and just broke the 25 minute mark with the process at 350% CPU (100%=1 core).

Could you drop some hints -- maybe the approximate walltime this consumed?

[2013-10-14 20:25] dalaro commented on #425
Just occurred to me: is this hazelcastcache or hazelcastkcvs?  I was on cache.

[2013-10-14 20:29] okram opened #427 "Titan/Hazelcast hangs the Gremlin REPL on exit."
[code]

I have to CNTRL-C out. Note that when I g.shutdown() I get an exception as well. Will post that in another ticket.

[2013-10-14 20:36] okram commented on #425
For some reason, it works now?? ……………..apologies.

gremlin> g = TitanFactory.open('conf/titan-hazelcast.properties')
Oct 14, 2013 2:30:07 PM com.hazelcast.config.XmlConfigBuilder
INFO: Looking for hazelcast.xml config file in classpath.
Oct 14, 2013 2:30:07 PM com.hazelcast.config.XmlConfigBuilder
WARNING: Could not find hazelcast.xml in classpath.
Hazelcast will use hazelcast-default.xml config f

[2013-10-14 20:37] #425 closed, assigned to nobody

[2013-10-14 20:44] okram commented on #427
Weird. Sometimes tx g.shutdown() works -- sometimes it doesn't. I don't know why. I know that g.commit() is called in g.shutdown() and perhaps related to the "Could not commit tx error." If it does work, then exit still hangs with a long stall where it looks like memory is being freed.

[code]

[2013-10-14 20:49] dalaro commented on #425
For future reference, I first thought this was due to us indirectly using HC transactions and running afoul of the default 2 minute timeout.  But my successful run ran three minutes (and a few seconds more -- I timed it) from the start of the loop to the finish.  Also, I don't know where we would be indirectly opening a HC transaction.  I get no recursive grep hits for getTransaction in titan-haze

[2013-10-14 20:56] dalaro commented on #425
I was grepping for an outdated method name.  The current name is beginTransaction, and this has a hit in AbstractHazelcastStoreManager.  This looks like a genuine lead.  When `storage.transactions` is true (the default), we open a HC transaction with default options inside AbstractHazelcastStoreManager#beginTransaction.  It seems like this should expire after 2 minutes.

[2013-10-15 06:01] pietermartin opened #428 "Re: exception when vertex property and label have the same name"
The flowing test illustrates the exception.

[code]

And the exception...

[code]

I understand it happens because the vertex has a key 'emailList' and a outgoing label 'emailList'.

This same test passes on other blueprints implementations so I am not quite sure if it is legal or not. I.e. is it a bug or not.

Thanks
Pieter

[2013-10-15 11:00] spmallette commented on #422
I've been ignore them and committing around them, but it's a bit of inconvenience.  I'd vote for removing the stubs i guess.

[2013-10-15 12:29] ilyakard opened #429 "Standard index intersection exception"
Hi, thanks for the great work, the new release is looking fantastic.
I'm not sure if this is expected behaviour, but I've been having some problems with standard index queries on the 0.4 master, I'm building and using the titan-server-0.4.0-SNAPSHOT release. Appears to be the same with both Cassandra and BerkeleyJE, both on gremlin console and using RexPro. This was working fine in the 0.3.2 relea

[2013-10-15 14:00] okram commented on #422
I would say remove the stubs as well.

On Oct 15, 2013, at 5:00 AM, stephen mallette notifications@github.com wrote:

[2013-10-15 14:02] okram opened #430 "titan-hazelcast.properties --> titan-hazelcastcache.properties"
If the Graph is called hazelcastcache, why is the conf/ properites file called titan-hazelcast.properites?

I would either make the Graph be hazelcast or the properties file be called hazelcastcache.properties.

[2013-10-15 15:41] okram opened #431 "Titan source hierarchy pattern (and its ramifications to documentation)"
The current source heirarchy is:

titan-all
titan-berkeleyje
titan-cassandra
titan-core
titan-dist
titan-es
titan-hazelcast
titan-hbase
titan-lucene
titan-persistit
titan-rexster
titan-site
titan-test

Source and documentation might be best understood categorized as:

titan-core
titan-test
storage
.    titan-berkeleyje
.    titan-cassandra
.    titan-hazelcast
.    titan-hbase
.    titan-persistit

[2013-10-15 15:46] spmallette commented on #431
:+1:

[2013-10-15 15:54] okram opened #432 "Old wikidoc HTMLs have all their images as broken links"
http://thinkaurelius.github.io/titan/wikidoc/0.3.0/Home.html

Both in titan and faunus.

[2013-10-15 16:00] mbroecheler commented on #428
In Titan, labels and keys share the same namespace. Hence, this exception is expected. I don't think that Blueprints makes any prescriptions on that and hence other implementations might treat this differently.

For Titan, this choice was made because we found schemas where labels and properties have the same name confusing.

[2013-10-15 16:00] #428 closed, assigned to nobody

[2013-10-15 16:28] #422 closed, assigned to nobody

[2013-10-15 16:33] dalaro commented on #422
Thanks, just pushed their removal.

[2013-10-15 16:33] #394 closed, assigned to mbroecheler

[2013-10-15 16:33] #224 closed, assigned to mbroecheler

[2013-10-15 16:35] mbroecheler commented on #243
Implemented CacheStore and CacheStoreAdapter with an initial (experimental) implementation based on Hazelcast. Merged into mater.

[2013-10-15 16:35] #243 closed, assigned to xedin

[2013-10-15 16:36] dalaro commented on #268
This is going into 0.4.0 and documented here: https://github.com/thinkaurelius/titan/wiki/Titan-Performance-and-Monitoring

Additional work could be done, like instrumenting more of Titan's internals, or adding new reporters, but I think the current master and wiki doc is a good breaking point for this issue.

[2013-10-15 16:36] #268 closed, assigned to dalaro

[2013-10-15 16:38] dalaro commented on #401
I added new tests to exercise getKeys, particularly the getKeys method that takes both a key and column range.

Here are related commits:
- d554c6d80b32c7c9579f1cd93bb3ba4aed12a877
- 16212efb6c2a213b0c13104864ffc830c41db7c9
- d554c6d80b32c7c9579f1cd93bb3ba4aed12a877

[2013-10-15 16:38] #401 closed, assigned to dalaro

[2013-10-15 16:38] mbroecheler commented on #74
This no longer makes sense since we are using an LRU cache with no expectation of completeness.

[2013-10-15 16:38] #74 closed, assigned to mbroecheler

[2013-10-15 16:38] #357 closed, assigned to mbroecheler

[2013-10-15 16:41] #404 closed, assigned to nobody

[2013-10-15 16:42] mbroecheler commented on #410
@akeffalas Yes, as documented here you currently have to tokenize the query string:
https://github.com/thinkaurelius/titan/wiki/Indexing-Backend-Overview

[2013-10-15 16:42] dalaro commented on #430
I'll rename the properties file to -hazelcastcache.

[2013-10-15 16:44] mbroecheler commented on #431
Is this a recommendation for the code layout?

[2013-10-15 18:13] dalaro opened #433 "Tune titan-cassandra -Xmx to survive without JNA"
From the aureliusgraphs thread [0.4.0 build issues ?](https://groups.google.com/d/msg/aureliusgraphs/Y_G63e7iTkU/7OMoQBu2t70J):

It sounds like I've set the -Xmx threshold for the forked Cassandra test VMs so low that it's prone to OOME when JNA isn't available.  I should look at potentially raising -Xmx in the forked Cassandra VMs to avoid death in the absence of JNA, and also check that none of

[2013-10-15 19:15] #430 closed, assigned to dalaro

[2013-10-15 21:13] spmallette commented on #375
You can always get more logs by running rexster with `-d` and by adding a custom `log4j.properties` file:

https://github.com/tinkerpop/rexster/wiki/Rexster-Configuration#logging-configuration

Going to re-test with 0.4.0 as soon as I get past some problems with building the distribution.

[2013-10-15 22:20] #429 closed, assigned to mbroecheler

[2013-10-16 00:53] mbroecheler opened #434 "Shorten store names to one or two characters"
http://hbase.apache.org/book/rowkey.design.html

[2013-10-16 06:54] okram opened #435 "The beautiful table gone in Titan Type Definitions documentation"
This page use to be great with its table representation.

https://github.com/thinkaurelius/titan/wiki/Type-Definition-Overview

[2013-10-16 07:39] #336 closed, assigned to mbroecheler

[2013-10-16 09:55] spmallette commented on #375
I can't recreate the problem using my repro steps under 0.4.0.  Closing, pending more information from original poster.

[2013-10-16 09:55] #375 closed, assigned to spmallette

[2013-10-16 10:08] spmallette commented on #294
Using RexsterClient in that fashion represent sessionless calls and therefore each is treated independently.  By luck I suppose it might work if the same thread processed each request on the server, but that's unlikely.  Several possible solutions:

*.Issue those commands as one complete request (i.e. the two typemaker requests and the `commit()`)
- Issue those commands in a session through `Rexst

[2013-10-16 10:08] #294 closed, assigned to mbroecheler

[2013-10-16 13:50] espeed commented on #243
FYI: [Infinispan](http://infinispan.org/) is now Apache 2.0:

http://infinispan.blogspot.com/2013/05/infinispan-to-adopt-apache-software.html

[2013-10-17 17:35] dalaro commented on #432
The wikidoc generated for versions 0.3.1 and earlier contained absolute URLs pointing to the Github master.  Master has changed since then.  0.3.2's generated wikidoc was not affected because I moved all the image links into the wiki repository and made the URLs relative, protecting it from future changes in master.

I gave each of the wikidoc folders for 0.3.1 and earlier an images subdirectory a

[2013-10-17 17:35] #432 closed, assigned to nobody

[2013-10-18 00:17] poelzi opened #436 "Rexster server now very hard to start"
With the bin/titan.sh wrapper script gone, it is very hard to get the rexster server started.
This is definitively a step in the wrong direction.

[2013-10-18 00:41] poelzi commented on #436
ok, titan-server-*.zip is the way to go. titan-all is kinda misleading :-)

[2013-10-18 00:41] #436 closed, assigned to nobody

[2013-10-18 03:24] dalaro opened #437 "Configurable Metrics prefix"
The default graph display settings in Ganglia print the full metric name at the center-top of each graph.  Metric names like "com.thinkaurelius.titan.stores.getSlice.entries-histogram.p50" are wide enough in the default Ganglia settings to nearly run off the left and right sides of the image.  An option to customize the metrics prefix could improve legibility.

[2013-10-18 03:24] mbroecheler commented on #436
Yes, we tried to pull things apart a little bit so that we don't have all
of the Rexster dependencies in the raw distributions.
We are still experimenting with our distribution strategy. There are lots
of components now and things are getting a little out of hand.
Feedback is welcome.

On Thu, Oct 17, 2013 at 5:41 PM, Daniel Poelzleithner <
notifications@github.com> wrote:

##

Matthias Broecheler