[2015-06-09 20:46] #1102 closed, assigned to nobody

[2015-06-10 19:21] macadelsol opened #1103 "NoSuchElementException in getEdges"
Hello!
I'm  working on unit tests for my titan, so far I'm working on simple graph operations.
The issue comes when I add an edge, add a property to it  and then try to retreive with getEdges()
and I get a NoSuchElementException  My code example is:

[code]

Thank you!

[2015-06-10 19:53] macadelsol commented on #1103
btw I'm using titan 0.5.4

[2015-06-11 16:00] zazzcode opened #1104 "Cassandra 2.1.x compatibility"
Datastax community edition now providing Cassandra 2.1.6

For titan 0.9 GA current documentation says 0.9 is compatible with Cassandra 2.0.x.
Can the Cassandra compatibility version be bumped to either 2.x.x or 2.1.x ?

http://planetcassandra.org/cassandra/

[2015-06-13 18:50] dmill-bz commented on #1030
Just wanted to point out that this is a headache for non-java languages. It implies keeping track of every object generated from a gremlin-server write and then refreshing their IDs on a transaction commit event (creating a whole other set of database read queries). It's a bit of a nightmare when you're trying to cut down you query time and serve information quickly to you end users.

I totally un

[2015-06-16 11:39] SecSan opened #1105 "ElasticSearch timeout at start of titan.sh with Titan 0.9.0-M2"
Hi,
I wanted to try out Titan 0.9 in order to make use of the new features of TinkerPop3. But I only get a timeout at the start of titan.sh when Titan waits for ElasticSearch to start. However, ElasticSearch seems to start without any problems, as I see the running java processes and the log file does not report any errors. (It looks a bit like the issue #1097 I had before with Titan 0.5.)
I only

[2015-06-17 08:34] dmill-bz opened #1106 "0.9.M2 random errors in unit tests (diskstorage.PermanentLockingException)"
I'm using titan via gremlin-server. Using the `cassandra-es` configuration (I've included all configuration details at the end of this post)

I have a set of unit tests that pass but quite regularly they will fail at random. It is worth noting that we set up unique composite keys with consistency (`mgmt.setConsistency(name, ConsistencyModifier.LOCK)`)
This is completely random so I don't really kn

[2015-06-17 11:33] spmallette opened #1107 "Vertices Created on Constraint Violation"
[code]

[2015-06-17 11:42] spmallette commented on #1106
You bring up a lot of issues here - I think we need to try to isolate this problem a little bit.  Regarding:

I'm not getting that by just opening a berkeley instance and calling `graph.tx().commit()` over and over again.  I thought I wasn't being fast enough so i even tried:

[code]

there must be some state that you have to get the db in for this to happen.  Can you please try to figure out what

[2015-06-17 15:38] dmill-bz commented on #1106
Ok I'll try and be more methodical about this. (no concurrency at this point. my scripts are simply run in a single thread). It's a little hard to pinpoint the issue because there's so much going on when failures happen. I'm following breadcrumbs at this point.

After playing around a bit I've managed to recreate the following. I don't know if what I've been experiencing is because of this but I g

[2015-06-17 16:13] spmallette commented on #1106
Doesn't seem to be a problem in the Gremlin Console:

[code]

about to try on Gremlin Server with remoting as you did.

[2015-06-17 16:57] spmallette commented on #1106
It fails as you say in Gremlin Server - but I don't know why.  I'm not sure that's enough to say that this is a Gremlin Server issue as I suppose it is possible that Titan could be at fault somehow.  The most interesting aspect of this thing is that you are issuing calls to `g.tx().commit()` at the end of each line to assure that the transaction is closing even though you don't technically have to

[2015-06-17 17:54] spmallette commented on #1106
@dalaro tested this against:

 titan09 HEAD + TP3-SNAPSHOT (550af6729ed2d3d2a22e94df78c6f2e88a89afc1)

and it works.  now that i heard this from him, i think i located where Gremlin Server changed to account for this problem and it was unfortunately changed after M9 was released.

@PommeVerte not sure if you have time to try things out with the latest version of Gremlin Server but I'd suggest that

[2015-06-17 17:59] dmill-bz commented on #1106
oh I've been working on the assumption that gremlin-server rollbacked transactions that weren't explicitly committed.

I'll definitely try this against the latest version of gremlin-server. Will need to read up on installing titan and gremlin-server separately. I'll post here again once I've tested everything.

Thanks!!

[2015-06-17 18:02] spmallette commented on #1106
It issues a `rollback` if there was some sort of failure or a timeout during evaluation of the script.  other than that, it should just `commit` on "success".

[2015-06-17 18:03] spmallette commented on #1106
Actually - that is only true of sessionless requests.  in-session requests don't do any transaction management.  if you don't commit explicitly from the client the transaction will just continue to grow.

[2015-06-18 11:07] dmill-bz commented on #1106
That's right, I should've remembered from the previous discussions we had around the topic.

So I've tested against `gremlin-server-SNAPSHOT` with `titan-0.9.0-M2` and the above example works properly.
I would now like to test this against cassandra + es to see if it also resolves the original issue behind this report but I can't seem to get it to work.
I'm using the same `gremlin-server.yaml`, an

[2015-06-18 11:11] spmallette commented on #1106
You don't say how you have Gremlin Server setup, but if you don't have cassandra running somewhere, then I'd assume that is your problem.  cassandra is only automatically started under the quick-start "Titan Server" mode (i.e. titan.sh) so if you did this some other way, you will need to start up cassandra yourself.

[2015-06-18 21:15] dmill-bz commented on #1106
Yeah I simply followed the titan documentation. Adding titan jars and such to gremlin-server.
I rebuilt titan instead and it works as expected now. But I'm still having issues with random failures. So I guess that one error wasn't the root cause.

I apologize if this bug report is a little all over the place but I might as well take this one step at a time until I find where the failures are comin

[2015-06-19 09:40] dmill-bz commented on #1106
Ok so I've made a bit of progress in isolating the above bug. I've recreated it using the cassandra-es configuration in my initial post (it seems to work ok with the default berkeley configuration). You can recreate it as follows:

[code]

It's important to duplicate `t.V().has(label,"user").drop().iterate()` as it is the second iteration that creates the issue. It's also important to add the vert

[2015-06-19 12:52] spmallette commented on #1106
I studied the code in this context and I'm not so sure I would call this a bug.  I can see how issuing this:

[code]

as two separate sessionless requests could cause that error periodically.  I'll try to explain.  You issue the first request and this happens:
1. script gets eval'd
2. a response is returned from the server to say it was executed
3. gremlin server transaction management kicks in an

[2015-06-19 15:32] dmill-bz commented on #1106
Thanks for taking the time to look into this Stephen. I see what you're saying, and it makes sense.

On my end I've ensured that any writes are made within the context of a transaction (it was initially a bug that those queries ran outside the scope of a transaction). This has had the effect of not triggering those errors anymore but from what you're saying we could still run into problems.
Thanks

[2015-06-19 18:11] spmallette commented on #1106
I just pushed this change:

https://github.com/apache/incubator-tinkerpop/commit/d5f47f048d7e08d96328308ebc44f9ca75feca7c

Interestingly however, it does not necessarily fix your problem.  But let me start with what's going on with the change.  Gremlin Server now manages transactions such that when result iteration is complete, it immediately commits the transaction and ONLY after that is successf

[2015-06-19 18:11] #1106 closed, assigned to nobody

[2015-06-20 00:24] mbroecheler opened #1108 "TitanIndexRepair Issue: Casting and Failure detection"
I'm running into an issue with re-indexing on Titan 0.5.4. I have a property key on edges, for which I'd like to create a composite index. However, TitanIndexRepairMapper throws this exception when it appears to be nearing completion:

java.lang.Exception: java.io.IOException: com.thinkaurelius.titan.graphdb.types.vertices.PropertyKeyVertex cannot be cast to com.thinkaurelius.titan.hadoop.FaunusPr

[2015-06-20 02:14] mbroecheler commented on #1052
These benchmarks are based on tabular reads. When we did a comparison it turns out that the lack of multi-row query support in thrift led to an overall reduced performance.

[2015-06-20 02:18] #1097 closed, assigned to nobody

[2015-06-20 02:19] mbroecheler commented on #1096
Please ask questions on the mailing list, not the bug tracker:
aureliusgraphs@googlegroups.com

[2015-06-20 02:19] #1096 closed, assigned to nobody

[2015-06-20 02:21] mbroecheler commented on #1043
Are you saying that this call `VariableLong.readUnsigned()` is throwing an exception when reading data? Do you have the entire stack trace? Sorry, just saw your comment now.

[2015-06-20 14:47] dkuppitz commented on #1071
@mbroecheler Do you consider to merge https://github.com/thinkaurelius/titan/pull/1093?

[2015-06-21 04:34] mbroecheler commented on #1071
Yeah, that's why I assigned the ticket to you ;-)

On Sat, Jun 20, 2015 at 7:47 AM Daniel Kuppitz notifications@github.com
wrote:

[2015-06-21 07:09] levin-royl opened #1109 "Relax immutable memory constraints from workerIterationStart and workerIterationEnd"
If I understand correctly the 'memory' object in a VertexProgram object is a (key/value) cluster shared memory instance.

If so, I wanted to use workerIterationStart and workerIterationEnd to aggregate values computed during the 'execute' phase to pass on to the next iteration.
However, 'memory' is immutable during workerIterationStart and workerIterationEnd.

The response from Marko Rodriguez is

[2015-06-22 12:44] dmill-bz commented on #1106
Thanks a lot for the explanation! I will definitely have to look into setting up proper transaction retry. The ones provided by TP3 unfortunately don't help much when submitting multiple separate scripts for a single transaction, but I'll see what I can muster.

Thanks again.

[2015-06-22 13:34] spmallette commented on #1106
I added this for more thought/discussion: https://issues.apache.org/jira/browse/TINKERPOP3-741

[2015-06-22 20:59] dalaro opened #1110 "Upgrade hppc version to match gremlin-core"
Titan and gremlin-core depend on different versions of HPPC.  Titan compiles with 0.6.0.  gremlin-core compiles with 0.7.1.  Incompatible API changes in HPPC 0.7.0 make Titan unable to run with gremlin-core's preferred HPPC version: https://groups.google.com/d/msg/aureliusgraphs/ycd8ddkurYw/iSrNiaqsb04J.

The missing class in that thread didn't go away.  It was just renamed to LongHashSet.  I susp

[2015-06-23 17:04] mishraawake commented on #1043
We get following stack trace.
We also have some instances where vertex index have been screwed for some vertex..

java.lang.reflect.InvocationTargetException
    at sun.reflect.GeneratedMethodAccessor8.invoke(Unknown Source)
    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
    at java.lang.reflect.Method.invoke(Method.java:606)
    at com.til.mytimes.tit

[2015-06-24 03:14] mbroecheler commented on #1109
This is a TinkerPop3 issue (which is the interface that Titan uses) and not directly a Titan issue. I know, this can be confusing.
Please file your ticket here:
https://issues.apache.org/jira/browse/TINKERPOP3

[2015-06-24 03:14] #1109 closed, assigned to nobody

[2015-06-24 07:36] levin-royl commented on #1109
Hi,

Thanks but I am not sure how to open an issue there ...
When I press "create" I need to select one of the following:
- Apache Infrastructure
  https://issues.apache.org/jira/servicedesk/customer/infra
- Kylin https://issues.apache.org/jira/servicedesk/customer/kylin
- Atlas https://issues.apache.org/jira/servicedesk/customer/atlas

How should I proceed?

Thanks,

Roy.

On Wed, Jun 24, 2015 at

[2015-06-24 07:40] dmill-bz opened #1111 "Adding vertex with unique key within clock(1){} throws a constraint error."
I'm using titan-0.9-SNAPSHOT with TP3-SNAPSHOT with the default configuration.
As for the problem, It's as the title says. If I try to clock a mutation that writes a unique constraint I will consistently get the following error:

[code]

Note that I'm using remote here but the same happens if I do it directly in the console.
The vertex isn't created in the end either.

[2015-06-24 07:43] dmill-bz commented on #1111
oh and I forgot :

[code]

[2015-06-24 07:50] Alan47 opened #1112 "Please add an option to make string search case-insensitive"
As of 0.9.0-M2, Titan offers String search and Text search with the following properties:
- **String search:** case-sensitive, matches entire string, no text analysis
- **Text search:** case-insensitive, matches words, text analysis (stemming, ignoring special characters, ...)

Currently, there is **no way** in Titan to cover the following (very common) scenario:
- Vertices store a "name" property

[2015-06-24 08:07] dmill-bz commented on #1112
or perhaps provide a new Predicate for this scenario? I don't know how feasible this is but some fields like emails need to be case sensitive fields but the application layers need to at least do a case insensitive search on them.

[2015-06-24 10:14] spmallette commented on #1111
I'm pretty sure that this isn't a Titan problem.  `clock` has a warm-up round that executes before calculating time.  As it stands, there is no workaround.  I suppose the warm-up could be optional???  I guess you should open a TP3 ticket if you'd like some change there.

[2015-06-24 10:14] #1111 closed, assigned to nobody

[2015-06-24 10:18] dmill-bz commented on #1111
Ah I see thanks for the info Stephen. It's ok, I don't necessarily require this. I've been having really long writes in my app profiling and just stumbled upon this while trying to figure out what was taking so long.  I can use a different system for my manual testing.

Thanks again.

[2015-06-24 11:00] dmill-bz opened #1113 "berkeley LockTimeoutException."
Hi Guys,

I'm continuing with my testing. The following works with cassandra-es but if I use **titan-berkeley-es.properties** I get the following error.

I'm trying to understand which timeout this is and if it's something I need to change in the configuration or not. But I can't seem to figure it out:

The error is as follows. The app does a few things:
- opens a session
- executes some code (can

[2015-06-24 11:10] spmallette commented on #1113
Hmm - not sure about this one.  you say "executes some code" - do you mean in `scripts/empty-sample.groovy`?  if so, is it possible that it's still running when you make your request somehow (i thought that Gremlin Server would prevent that)?

[2015-06-24 12:59] dmill-bz commented on #1113
No, just some application code.

I start the transaction and session.
Then I extract meta data from some files and feed them to gremlin-server via gremlin queries (adding a vertex and/or changing/adding properties to other vertices).
I commit the transaction.

I initially thought the settings for berkeley made the transaction timeout during the time it took to extract the meta data. But I'm not su

[2015-06-24 13:09] spmallette commented on #1113
I don't think so - if you haven't issue a request then simply opening the session shouldn't cause a transaction timeout (not so sure that a transaction is officially started at that point without a request).  You probably need to provide the nature of the requests you are sending for me to say more.

[2015-06-24 13:14] dmill-bz commented on #1113
I'll have a look at the code to make sure but I think it's safe to assume that the session is opened with a query of `graph.tx().open()`. So the transaction timeOut could make sense). I just thought it was weird that it failed for berkeley but worked fine with cassandra.

[2015-06-24 13:32] spmallette commented on #1113
so you are sending manual transaction management commands?  by default, you don't need to issue an `open()` unless you've configured it for `MANUAL` transactions.  of course, you may be on to bug in `MANUAL` so this probably isn't a bad thing to explore a bit.

[2015-06-24 13:43] dmill-bz commented on #1113
Yeah let me go a bit more into detail.
The way the driver works is that if you start a transaction is will send `graph.tx().open()` with an `op` of `session` to gremlin-server. Thus configuring for `MANUAL` transactions and opening one at the same time.

That's the situation here in this use case.
- We create a session so entering `MANUAL` handling of transactions
- We start a transaction with `gr

[2015-06-24 18:02] mbroecheler commented on #1111
Try to use .profile() to figure out how long things are taking in a traversal

[2015-06-24 18:18] mbroecheler commented on #1107
This is actually correct behavior. The call

[code]

Actually does two things: 1) add a vertex and 2) add a property to that vertex.
If you had provided more properties, there would have been multiple individual property add calls behind the scenes.
So, the constraint violation happens on the property add call but after the vertex has already been added. Given that transactions are isolated and at

[2015-06-24 18:18] #1107 closed, assigned to mbroecheler

[2015-06-24 18:22] mbroecheler commented on #1103
you spelled "myEdgeId" and "myEdgeid" differently on retrieval. Note, that key and label names are case sensitive.

[2015-06-24 18:22] #1103 closed, assigned to nobody

[2015-06-24 18:24] mbroecheler commented on #1112
Titan distinguishes between TEXT and STRING search:
http://s3.thinkaurelius.com/docs/titan/0.9.0-M2/index-parameters.html

Does that not cover your use case?

[2015-06-24 18:25] mbroecheler commented on #1109
Good question, @levin-royl. @okram can you get that issues filed over there?

[2015-06-24 18:55] mbroecheler commented on #812
With the move to Gremlin Server for 1.0 this does not require a fix.

[2015-06-24 18:55] #812 closed, assigned to nobody

[2015-06-24 18:57] mbroecheler commented on #1052
This is essentially a duplicate of #312

[2015-06-24 18:57] #1052 closed, assigned to nobody

[2015-06-24 18:58] mbroecheler commented on #668
Given that this doesn't apply to newer versions and 0.4 is no longer supported this is a won't fix.

[2015-06-24 18:58] #668 closed, assigned to dalaro

[2015-06-24 18:59] mbroecheler commented on #476
It seems that the last incarnations of this are a duplicate of #501 which has a dependency on BDB.

[2015-06-24 18:59] #476 closed, assigned to dalaro

[2015-06-24 19:00] #845 closed, assigned to dalaro

[2015-06-24 19:02] mbroecheler commented on #570
This is mostly addressed with the integration of TP3's `.profile()`. Closing this until somebody identifies anything else missing in the metrics gathering of Titan.

[2015-06-24 19:02] #570 closed, assigned to dalaro

[2015-06-24 19:07] mbroecheler commented on #997
@MFrancesco Any other issues here or can we close this?

[2015-06-24 19:08] #1013 closed, assigned to nobody

[2015-06-24 19:19] dalaro commented on #1017
Hi,
1. I'm unable to reproduce this error.
2. Build profiles for Hadoop distros, including CDH5, are welcome.  However, I can't test this, and I'm not sure if it's actually correct; I notice that it does not seem to modify titan-hadoop.
3. The guava version is probably the single most sensitive one in Titan's dependency list, since so many of Titan's dependencies in turn depend on different versio

[2015-06-24 19:19] #1017 closed, assigned to dalaro

[2015-06-24 19:22] mbroecheler commented on #1035
@rjbriody Happy with it? If not, please reopen.

[2015-06-24 19:22] #1035 closed, assigned to mbroecheler

[2015-06-24 20:36] Alan47 commented on #1112
@mbroecheler : no, unfortunately TEXT doesn't cover this case for various reasons. Lucene (and, to my knowledge, Elastic search too) analyzes the text it is given and performs a series of simplifications. For example, the text is split at word boundaries, and everything with less than 3 characters is ignored (i.e. cannot be searched for). Furthermore, all non-alphanumeric characters are ignored as

[2015-06-24 21:00] Alan47 commented on #1112
Here's a concrete example. Let's consider the following list of strings:
"Italian"
"IT Management"
"Windows Server (Physical)"

Now let's use the search string "it" (note the lower case) doing a contains search. With TEXT, we have to give Lucene a Regex ".*it.*". What we get is:

"Italian"

... we do not see "IT Management", not because of the upper case, but "IT" has less than 3 letters and got d

[2015-06-25 08:41] BrynCooke commented on #1112
Isn't this configurable at the elastic search level?
Take a look at:
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis.html
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-lang-analyzer.html#english-analyzer

Maybe just using the whitespace tokenizer and lowercase filter will give you what you need.

[2015-06-25 18:01] Alan47 commented on #1112
Maybe this is possible if one has access to the indexer instance used by Titan and can configure it directly. However, I'm not aware of such a feature in the Titan API, please do correct me if I'm wrong here.

[2015-06-25 18:56] BrynCooke commented on #1112
You could try create.ext?  http://s3.thinkaurelius.com/docs/titan/0.5.4/elasticsearch.html#_embedding_es_index_creation_settings_with_literal_create_ext_literal

[2015-06-25 19:16] MFrancesco commented on #997
Let's close it, thanks

2015-06-24 21:07 GMT+02:00 Matthias Broecheler notifications@github.com:

[2015-06-25 22:34] #997 closed, assigned to dalaro

[2015-06-26 16:50] Alan47 commented on #1112
@BrynCooke: Thanks for the pointer. I was always looking for Lucene options in the Titan docs, it appeara that Elasticsearch supports a lot more options. Most likely we will switch to ES.

I've been reading the Titan Docs on ES and thea good portion of the ES docs. Yet I can't see how I would add a tokenizer or a filter (e.g. lowercase filter) via Titan's create.ext properties. Could you perhaps g

[2015-06-26 19:27] Alan47 commented on #1112
I tried it with the following titan properties file:

storage.backend=inmemory
index.search.backend=elasticsearch
index.search.elasticsearch.interface=NODE
index.search.elasticsearch.create.ext.analysis.analyzer.myanalyzer.type=custom
index.search.elasticsearch.create.ext.analysis.analyzer.myanalyzer.tokenizer=mytokenizer
index.search.elasticsearch.create.ext.analysis.analyzer.myanalyzer.filter=my

[2015-06-27 12:59] mailsanjayyadav commented on #993
Hi,

I was thinking if it is safe to start using 0.9.x version of titan. My graph is already in production on version 0.5.4. I am ready to recreate it using new version as it is still in early stages. It has max of 1 Million edges on one vertex. Which version should i use for my latest developments.

[2015-06-29 10:17] spmallette commented on #993
i would not do a production migration until 1.0 is released, but i'd recommend doing some development against 0.9 and figure out your data migration strategy until that happens.

[2015-06-29 10:19] BrynCooke commented on #1112
Which version of titan are you using?

[2015-06-29 11:43] Alan47 commented on #1112
I'm currently on 0.9.0-M2. I can give it a try with 0.5.4. or 0.9.0-M1 when I get home today.

Is this the way it is supposed to work, i.e. did I do it right?

[2015-06-29 11:50] BrynCooke commented on #1112
I _think_ so. Please raise a separate issue for the error you are getting.

[2015-06-29 12:17] Alan47 opened #1114 "Bug in Titan ElasticSearch ext.create configuration"
I am trying to configure a tokenizer and an analyzer for Elasticsearch through the Titan create.ext properties. Here is the full JUnit-Test:

[code]

This is a slightly simpler filter than presented here in the ElasticSearch docs:
https://www.elastic.co/guide/en/elasticsearch/reference/1.3/analysis-lowercase-tokenfilter.html

According to the Titan documentation, this should work. However, dependi

[2015-06-29 12:19] Alan47 commented on #1112
I re-checked the error messages and opened a new issue. If the ES configuration through Titan will eventually work, this ticket can be closed as it is possible to achieve the required search through ES.

Thanks again to @BrynCooke for pointing me into the right direction. The new ticket is available here:
https://github.com/thinkaurelius/titan/issues/1114

[2015-07-01 06:40] eyal33 opened #1115 "Invalid fetch result after updating node's property(0.5.4)"
Hi,

I am creating a vertex with the following properties :
   contractor String
   isabstract  Boolean
   name        String

On each property we built index of type CompositeIndex.

I am making a query with the properties name & contractor and get the vertex back.

Now, I am changing the value of one of the properties, contractor for example, from "contractor1" to "contractor2". (commit after up

[2015-07-01 13:38] peternavr opened #1116 "TitanDB Support"
Since the datastax buyout, will TitanDB be maintained?

[2015-07-01 14:35] spmallette commented on #1116
Please see: https://groups.google.com/d/msg/aureliusgraphs/WTNYYpUyrvw/pZh02Q2LlpsJ

[2015-07-01 14:35] #1116 closed, assigned to nobody

[2015-07-04 18:53] jturmel opened #1117 "Is it possible to run Titan on BigTable?"
They use the HBase API, but have some slight differences.

HBase differences: https://cloud.google.com/bigtable/docs/hbase-differences

[2015-07-07 06:36] parvbhullar opened #1118 "slf4j version conflicting for libthrift using slf4j 1.5.8 and gremlin core using slf4j 1.7.2"
Is there any fix for that.

[2015-07-07 11:05] Alan47 commented on #1114
No comments on this one? :(

[2015-07-07 18:01] Alan47 commented on #1112
I've found a solution to this problem that is viable for us. It might not work for very VERY large datasets, but here's what I did, in case somebody else needs this.

1) Create a regular mixed index in Titan with the STRING parameter (not TEXT!)
2) Query this index as follows:

[code]

The query above is case insensitive. Why is that? Titan uses standard `java.util.regex` classes. Which means that

[2015-07-07 18:06] dmill-bz commented on #1112
Oh that's a great tip. Thanks.

[2015-07-08 04:56] imamika commented on #1105
Had the same issue, after upgrading to titan 0.9. Pointing JAVA_HOME to Java8 solved this.

[2015-07-09 07:40] SecSan commented on #1105
My bad, I didn't know that Titan 0.9 (or the shipped version of ElasticSearch) requires Java 8. Thanks @karthik047 for your help!

Wouldn't it be a good idea to add such requirements in the documentation under 'Getting started', maybe together with a recommendation whether to use Oracle JDK or OpenJDK?

[2015-07-10 18:10] mbroecheler commented on #1105
Yes, we should document this more clearly.

[2015-07-10 18:21] mbroecheler commented on #1117
I think it should technically be possible to implement KeyValueStore against BigTable.

[2015-07-10 18:23] mbroecheler opened #1119 "Improve usability and functionality around BulkLoaderVertexProgram"

[2015-07-15 21:19] spmallette commented on #1119
:+1: - would like to rewrite the "powers of ten" posts with @dkuppitz .  when tp3 releases (and titan) bulkloading/data migration will be a top question on the mailing list. what needs to be done with this one?

[2015-07-15 21:42] dkuppitz commented on #1119
The last time @dalaro and I looked into it, the loader job went to 100% and then .... nothing else happened. No errors, it just sits there forever. @okram's assumption:

And, although it went to 100%, nothing was ever loaded into Titan.

[2015-07-17 08:27] qianghuang84 opened #1123 "Caused by: java.lang.IllegalStateException: Path calculations are not enabled"
Hi, when I ran these commands

[cloudera@quickstart titan-0.5.3-hadoop2]$ bin/gremlin.sh

[code]

-----oOOo-(_)-oOOo-----
01:24:44 WARN  org.apache.hadoop.util.NativeCodeLoader  - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
gremlin> g = HadoopFactory.open('conf/hadoop/titan-graphson.properties')
gremlin> g.V.as('x').out('father').out('fathe

[2015-07-20 12:54] mishraawake commented on #1043
Is there any progress on this issue? We have experienced same problem on following titan version as well.
titan version :           0.5.3
cassandra version : 2.1.6

[2015-07-23 10:37] mishraawake opened #1125 "Thift framesize out of bound"
We are facing one problem herein for some shallow node, default thift frame size exceeds from its limit defined in asyntax client.
Is titan planning to include latest as astyanax library because in new  astyanax  library there is provision of configuring this particular setting that we need to increase.

Version of titan that we are using is : 0.5.4

There is another work around for this problem i

[2015-07-23 19:48] ghost opened #1126 "Improved Solr Support"
The SolrIndex.java code responsible for providing the SolrCloud interface to Titan currently requires a config set name to match a collection name in SolrCloud.  This requires manual creation of many config sets in ZooKeeper before Titan mixed index commands can be issued.

A new config is not be required for every SolrCloud Collection created by Titan.  The same config set can be reused over and

[2015-08-03 10:20] joan38 opened #1128 "Object serialization documentation issue"
http://s3.thinkaurelius.com/docs/titan/0.9.0-M2/serializer.html#_custom_object_serialization
_"The last requirement is Titan specific"_
This sentence assume that the 2 first points are true for all other Tinkerpop graph db, which is not true at lease for the 1st point because AttributeSerializer is a Titan trait.

Unrelated to above, a 'd' is missing:
Titan supports arbitrary objects as property a

[2015-08-07 12:19] gavelino opened #1130 "TITAN Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-07 19:01] donaldquixote commented on #891
Yes please. Is there any resource that goes more in depth on the effects of the various configurations for Titan's TransactionBuilder wrt a Cassandra backend?

In general, I understand the implications of using Cassandra, and understanding the Cassandra data model helps to mitigate some consistency concerns, but I don't understand exactly how a Titan graph maps to Cassandra column families, so it

[2015-08-07 21:15] donaldquixote opened #1131 "Titan 0.9.0-M2: Could not find method when configuring locking with Astyanax Recipes"
_TitanFactory.Builder builder = TitanFactory.build();
builder.set("storage.backend", "cassandra");
...
builder.set("storage.lock.backend", "astyanaxrecipe");_

**This results in:**

**_java.lang.IllegalArgumentException: Could not find method when configuring locking with Astyanax Recipes**_
    _at com.thinkaurelius.titan.diskstorage.Backend$8.apply(Backend.java:671)
    at com.thinkaurelius.tita

[2015-08-14 13:43] kevinschumacher commented on #1114
Related: issue #399

@dalaro / @mbroecheler any update on this?

[2015-08-15 16:46] LongLiveCHIEF commented on #1130
Interesting study.

:truck: :skull:  :-1: :sob:

[2015-08-17 15:57] pronix commented on #1123
add this settings to your properties file

[code]

[2015-08-21 17:21] amcp commented on #889
Amazon Web Services open sourced the [DynamoDB Storage Backend for Titan](https://github.com/awslabs/dynamodb-titan-storage-backend) yesterday.

[2015-08-22 03:26] dalaro opened #1133 "vertex features and custom vertex ids"
This is on the current titan09 HEAD (a0ba586cf56ac191020e113b0661e05aad2f06cd).

@dkuppitz pointed out this behavior:

[code]

Titan's `graph.set-vertex-id` still exists, but graph.addVertex does not appear to respect it, despite some sentences in its javadoc comment that talk about validity checking on user-supplied vertex IDs.  I think none of Titan's vertex features check `set-vertex-id`.  Some

[2015-08-22 03:28] dalaro commented on #1133
@dkuppitz says:

[2015-08-23 08:41] oren commented on #462
I use ubuntu 15.04 and I couldn't run `bin/titan.sh -c cassandra-es status` until I changed the line to it's original version - local p=jps -l | grep "$2" | awk '{print $1}'

[2015-08-24 00:37] danieljoppi commented on #889
great!!!

[2015-08-24 11:36] spmallette commented on #1133
I guess the javadoc wasn't as clear as I thought.  `supportsUserSuppliedIds` means that a user can specify the identifier - so `g.addV(id,123)` should work.  The other related features:
- `supportsNumericIds`
- `supportsStringIds`
- `supportsUuidIds`
- `supportsCustomIds`
- `supportsAnyIds`

refer to how the id is internally represented in the graph.  So, if you store it as a long, then you should

[2015-08-24 12:01] dalaro commented on #1133
Thanks for explaining.  From your comment and a little bit of back and forth in chat, it now sounds like we should do the following in Titan:

Vertex features:
- supportsNumericIds=true
- supportsUserSuppliedIds=[value of graph.set-vertex-id in the underlying config]
- all other vertex feature support methods, including supportsCustomIds=false

Edge features:
- supportsCustomIds=true (because edge

[2015-08-25 18:54] mbroecheler commented on #1115
Do you have caching enabled? Is it reproducible without caching?

[2015-08-25 19:10] eyal33 commented on #1115
Hi,
The cache was enabled.
As much as I remember, we disabled the cache and restart the application.
It also reproduced.

When there is no index on the property, it is not reproduced.
Moreover, on 5.5.0-SNAPSHOT it is not reproduced.

Regards,
Eyal
בתאריך 25 באוג 2015 21:54, "Matthias Broecheler" notifications@github.com
כתב:

[2015-08-25 19:46] mbroecheler commented on #1115
Ah, then this is the same as the other indexing bug that we fixed for 0.5.5.

[2015-08-25 20:52] eyal33 commented on #1115
Since 0.5.5 is a SNAPSHOT version, is there a chance to get a patch for
0.5.4 ?
Any other suggestions ?

Thanks,
Eyal
בתאריך 25 באוג 2015 22:46, "Matthias Broecheler" notifications@github.com
כתב:

[2015-08-26 00:46] mbroecheler commented on #1115
We will be releasing 0.5.5 soon - that is a minor (patch) release.

[2015-08-26 07:01] eyal33 commented on #1115
Great.
Do you have any estimation when it will be released?
Where will I be able to find the new release? Titan site?

Thanks a lot,
Eyal
בתאריך 26 באוג 2015 03:46, "Matthias Broecheler" notifications@github.com
כתב:

[2015-08-26 07:26] eyal33 commented on #1115
Hi,
I understood that version 1.0 is also going to be released. Do you have any
estimation for that?

Thanks,
Eyal
בתאריך 26 באוג 2015 10:01, "Eyal Sofer" eyali.sofer@gmail.com כתב:

[2015-08-26 18:11] dalaro commented on #1118
I don't see exactly what's wrong or needs to be done here.

Titan doesn't control the slf4j version for libthrift or gremlin-core.  In the titan09 branch, the root pom.xml has a `<dependencyManagement>` stanza that sets the slf4j version to 1.7.5, but that only applies for testing and zip-assembly.   The slf4j version used by downstream projects that depend on Titan through maven is out of our dir

[2015-08-26 18:11] #1118 closed, assigned to dalaro

[2015-08-26 20:24] dalaro commented on #1114
I reproduced the "Unknown configuration element" exception locally on titan09.  There is a workaround for this bug: create a file and invoke `TitanFactory.open` on it.

I haven't tried to reproduce the index.search.conf-file exception yet.

[2015-08-26 22:45] mbroecheler commented on #1115
They are probably going to be released around the same time. In September. 0.5.5 might be a little later.

[2015-08-27 00:27] #1115 closed, assigned to nobody

[2015-08-27 00:27] #1123 closed, assigned to nobody

[2015-08-27 00:33] dalaro commented on #1125
Is this the Astyanax feature that we need?  I know they have a Thrift line and a CQL line, and I don't remember which one master corresponds to off the top of my head.  I'll take a closer look later if I don't hear back from you.

https://github.com/Netflix/astyanax/pull/547/files

[2015-08-27 05:51] eyal33 commented on #1115
Thanks a lot.

Eyal
בתאריך 27 באוג 2015 01:46, "Matthias Broecheler" notifications@github.com
כתב:

[2015-08-27 11:40] spmallette commented on #1113
@PommeVerte I definitely lost track of this one until @mbroecheler assigned it to me a few hours ago.  is this still an issue?

[2015-08-27 14:50] dmill-bz commented on #1113
I'll give it another go. Should I build against titan09?

[2015-08-27 14:58] spmallette commented on #1113
yes - titan09 please.

[2015-08-27 16:02] dalaro commented on #1131
IIRC, the Astyanax recipe locker was deleted a while ago wrt the titan09 branch.  I think we took it out during an Astyanax version upgrade.  It never progressed past the proof of concept stage.  Were you actually using it in a prior version?  I'm not sure it's worth retaining, since it gets virtually no test coverage.

[2015-08-27 19:12] dalaro commented on #1086
I would like more information before attempting to reproduce this.  Can you please provide at least the Titan schema definition?  The more details the better.  It's seems that this job is somehow attempting to feed an unsupported property data type into ES (maybe a list), but I don't really know how we got here.

The exception could be improved.  It's currently `IllegalArgumentException("Unsupport

[2015-08-27 19:24] dalaro commented on #1108
I changed the milestone from Titan1.0 to Titan0.5.5 because the code at the center of the stacktrace has been completely rewritten.  The ClassCastException throw site and assigned type no longer exist in titan09/1.0: FaunusPropertyKey and FaunusElement are both long gone.

For "part b" of this issue: reindex jobs run through titan09's TitanManagement.updateIndex should git fulgora and return a fut

[2015-08-27 22:12] dalaro commented on #1005
I'm closing this since I haven't been able to reproduce it and I'm out of ideas.  Please reopen if we get a new lead.

[2015-08-27 22:12] #1005 closed, assigned to dalaro

[2015-08-28 00:48] dalaro commented on #1114
Re: "I also tried to put the parameters in a Titan *.properties file, without success (same errors as above)."  I checked this on titan09, and I'm not seeing this behavior.  It's not perfect apples-to-apples comparison, since titan09 is slightly newer than M2, but it's unlikely that this changed.

Here's the properties file that I used:

[code]

Here are the gremlin commands that I ran to sanity c

[2015-08-28 00:54] dalaro commented on #1114
`index.<name>.conf-file` also seems okay.

I tried this properties file:

1114.3.properties:

[code]

1114.es.yaml:

[code]

Ran the same commands as in my previous comment, same result.

[2015-08-28 00:55] dalaro commented on #1114
To summarize:

I reproduced the `TitanFactory.Builder`-based exceptions.  I have a new test to cover this and an associated fix forthcoming.

I was unable to reproduce problems with `conf-file` or embedding ES `ext` options in the Titan properties file.

[2015-08-28 01:22] #1114 closed, assigned to dalaro

[2015-08-28 01:22] #1133 closed, assigned to dalaro

[2015-08-28 01:22] #1110 closed, assigned to dalaro

[2015-08-28 10:06] Alan47 commented on #1114
Thanks for looking into this. It is possible that some of the bugs are not reproducible anymore due to the latest developments. The report reflected the issues I was facing at that time.

[2015-08-29 02:22] dalaro commented on #1104
reworded title to avoid the verb "Certify", which is a bit loaded

[2015-08-29 02:33] dalaro commented on #1104
Upgrading from 2.0.8 to 2.1.8 turned out to touch way more parts of Titan than I had anticipated.  The commit log for e5c3421c60934d3fc58b45f69b35884da29eaf60 lists specifics.

The titan-cassandra tests passed when I ran them against 2.1.8 earlier.  I then saw that 2.1.9 was released today.  I committed a patchlevel increment from 2.1.8 -> 2.1.9 as c3bd6b3c53dc6a1194735db03512467baba8f1be.  I'd be

[2015-08-29 02:33] #1104 closed, assigned to dalaro

[2015-08-31 22:05] AritomoAbe opened #1134 "Titan 0.5.x HadoopGraph.V.count() does not match TitanGraph.V.count()"
The same issue as #764

I tried :
- Titan 0.5.2 and 0.5.4
- Hadoop 2.6.0
- HBase 0.98.2-hadoop2

g = TitanFactory.open('conf/titan.properties')
g.V.count()
==>507229

g = HadoopFactory.open('conf/hadoop/titan-input.properties')
g.V.count()
==>148521

[2015-09-01 03:58] amcp opened #1135 "make optimisticLocking a store feature?"
These tests override isLockingOptimistic:
https://github.com/thinkaurelius/titan/blob/47e9b35efaa4d1eb8722c1db0b1e599336a2c049/titan-cassandra/src/test/java/com/thinkaurelius/titan/graphdb/CassandraGraphTest.java#L28
https://github.com/thinkaurelius/titan/blob/47e9b35efaa4d1eb8722c1db0b1e599336a2c049/titan-berkeleyje/src/test/java/com/thinkaurelius/titan/graphdb/berkeleyje/BerkeleyGraphTest.java#L

[2015-09-01 14:16] amcp commented on #1135
created pull request https://github.com/amcp/titan/commit/0638987c7b5907a790e880e1eec305b49ac6494c

[2015-09-01 15:26] dalaro commented on #1135
`isLockingOptimistic` was a hack in the test code before the PR, but if we're pulling it into src/main like this, then perhaps we should refine the concept a bit.  Thinking out loud here...

It might be misleadingly named, since "pessimistic" behavior on BDB only really applies to its read locks; write lock acquisition is still deferred until the titan transaction commits.

This behavior is also n

[2015-09-01 15:40] amcp commented on #1135
I agree the name is probably not right. It is the same property used in test code, determining the order in which conflicting transactions are expected to fail. If you can suggest a better name for this feature, I can update it in the pull request and in the linked documentation.

I will fix the imports in another pull request.

[2015-09-01 15:42] amcp commented on #1135
There may not be much wrong with the suggested name, as long as the documentation of the feature in StoreFeatures says that it works in conjunction with the Locker in place.

[2015-09-01 16:35] dalaro commented on #983
This seems to have been fixed as a side effect of 93b25d1198c97243e93733123725d4536ff0b235 and 17e54ba3d0c4256f47c5c1419cdae7644378802d.

[2015-09-01 16:36] dalaro commented on #983
I would still like test coverage of this to verify that the problem is really fixed.

[2015-09-01 16:39] dalaro commented on #730
I've reserved all of the above words except "label".  That's used by a test in TP 3.0.0-incubating, but it has apparently been fixed in apache/incubator-tinkerpop@fa994d3304a885bc52725e2890e53b2a1186c92b.

[2015-09-01 16:39] #634 closed, assigned to dalaro

[2015-09-03 03:27] dalaro commented on #1135
I haven't thought about this carefully yet, but perhaps moving `isLockingOptimistic` (or whatever we call it) to `GraphDatabaseConfiguration` would obviate the hypothetical problem about considering the locker.  Its implementation could still just call and return some boolean-returning method on `StoreFeatures` right now, functionally equivalent to the PR.  However, exposing this publicly through

[2015-09-03 03:29] dalaro commented on #1078
I implemented this, and then I realized I couldn't think of a use case for it.  `this.configuration()` returns the TitanGraph configuration.  It's possible to embed Spark (or Giraph or whatever) config options in there for eventual interpretation by the AbstractHadoopGraphComputer-descended-class-constructor, but it's somewhat clumsy.  More importantly, I wasn't sure how to build a TP3 mapreduce o

[2015-09-03 03:36] #1078 closed, assigned to dalaro

[2015-09-03 03:38] dalaro commented on #854
As of cfc37e3195066c3298a8719aa66a946fb749434d, titan09 is on Guava 18 (but not shading Guava).

Upgrading is a step forward.  Shading the Guava classes used the titan-\* modules would be another step forward.  I'm leaving this issue open to see if I can wedge the second step in by 1.0.

[2015-09-03 03:39] dalaro commented on #983
Test added in f1738fcbc61ea152fb5ed411c3e26260bddca3de (and passing).

[2015-09-03 03:39] #983 closed, assigned to dalaro

[2015-09-03 03:45] dalaro commented on #1065
I reworked the titan-hbase compat layer to support HBase 1.0 alongside the existing supported versions.

I've only run HBaseGraphTest on each version.  This could really use additional testing.  Of HBase 1.0 versions, I've built and tested only against 1.0.2.  Theoretically, 1.1.x should also be supported now (falling back to the 1.0 compat shim), but I haven't tried it.

[2015-09-03 04:01] dminkovsky commented on #1065
Thank you Dan! This is really cool.

On Wednesday, September 2, 2015, Dan LaRocque notifications@github.com
wrote:

[2015-09-03 19:29] dalaro opened #1139 "Shade Guava"
We upgraded to Guava 18 in #854, but we didn't shade Titan's copy of Guava.

We should do that to give users one less Guava version constraint to worry about.

[2015-09-03 19:29] dalaro commented on #854
After discussion with @mbroecheler, I'm moving shading to 1.1: #1139

[2015-09-03 19:29] #854 closed, assigned to dalaro

[2015-09-04 11:39] amcp commented on #1135
I think that exposing isLockingOptimistic in GraphDatabaseConfiguration would allow us to consider the locker. Let me revise the PR.

[2015-09-04 12:55] amcp commented on #1135
https://github.com/thinkaurelius/titan/pull/1140

[2015-09-04 16:53] #730 closed, assigned to dalaro

[2015-09-04 17:37] dalaro commented on #1075
Insofar as afffa0794213ce1094b66668d2d4aaafd534bc10 is actually correct, this just needs a test case.

[2015-09-04 18:01] mbroecheler commented on #1030
Yeah, I can see how that is a pain. Also, graph partitioning is an advanced enough use case that we can expect those users needing it to disable this configuration option.

[2015-09-04 20:36] mbroecheler commented on #1063
this is still open: https://issues.apache.org/jira/browse/TINKERPOP3-620
Pushing out to 1.1.

[2015-09-04 21:19] dalaro commented on #1075
I realized just after my last comment that the necessary test already exists (5e5b6b4b4bc1cdcdb6078a4cf4fee89b324ec94a) and is still present.  However, titan09 had a couple of completely unrelated problems causing exceptions in titan-hadoop-2 integration test execution that I had to fix before I could successfully execute the widerows test.  Fixes to the unrelated IT problems: dcedc76f79da40cc1d3a

[2015-09-04 21:19] #1075 closed, assigned to dalaro

[2015-09-04 21:21] mbroecheler commented on #1074
dbae2d6d7a14ff16a108ab3f62e8f7233ed0ab50 - manually applied to titan09
82d629f5c2ec8451858f144b81c13f9494990d6e - has been applied to titan09
43690b3bea97373aca20569e35c442bd4b17289f - is now cherry-picked over to titan09
4962db3fafb72e31f5d1f77c1c19b520f3feb960 - has been applied to titan09
84138c642657082101e492941577879225172992 - has been applied to titan09

The following will be ported / adop

[2015-09-04 21:21] #1074 closed, assigned to mbroecheler

[2015-09-05 18:49] #1070 closed, assigned to mbroecheler

[2015-09-07 10:44] #1100 closed, assigned to dalaro

[2015-09-08 14:02] rushmorem commented on #837
Any updates on this? I want to use DSE Search but Titan expects a newer version of Solr than the one in DSE 4.7.3 so I can't even use the Solr configs that come with Titan.

[2015-09-08 14:04] rushmorem commented on #837
It would be real nice if Titan 1.0 is released with support for DSE Search 4.7.x.

[2015-09-08 17:22] mbroecheler commented on #837
Unfortunately, DSE Search does not support atomic document updates which means that it cannot support updates in Titan without extraordinary cost.

[2015-09-08 18:20] dkuppitz commented on #1071
Notes to myself:
- The docs (`hadoop.txt`) mention `grateful-dead-titan-schema.groovy`, which doesn't exist in the data directory.
- Bulk loading sample code is incomplete (should also show HDFS preparation)
- Update all configuration files (they should all include the `gremlin.graph` setting)
- `searchpredicates.txt` and `textsearch.txt` need a full update

Working schema file: https://gist.githu

[2015-09-09 19:21] dkuppitz opened #1147 "order().by() is broken if the ordered field is part of an ES index"
To reproduce:

[code]

The last line will fail with an exception caused by ES.

[2015-09-09 19:39] dalaro opened #1148 "Avoid interrupting BDB in StandardIDPool"
We should avoid interrupting BDB:

http://www.oracle.com/technetwork/database/berkeleydb/je-faq-096044.html#WhatisasafewaytostopthreadsinaJEapplication

The FAQ entry claims that a RunRecoveryException may propagate after interruption, but I think I'm seeing cases where that doesn't even happen -- the environment just gets borked and left in a persistently unopenable state.

Titan can currently in

[2015-09-10 21:18] dalaro commented on #1147
This succeeds on ES 1.4.0, but fails on 1.2.1.

The server's error message complains that `unmapped_type` is not a supported option.  This was introduced in ES 1.4.0.  It deprecates the older `ignore_unmapped` option.

I experimented with detecting the version of the cluster nodes using a `NodesInfoRequest`/`NodesInfoResponse` in the java API, and it does seem to be possible, but I thought it wasn

[2015-09-10 21:18] #1147 closed, assigned to dalaro

[2015-09-10 21:18] #1148 closed, assigned to dalaro

[2015-09-10 21:19] dalaro commented on #1126
The linked PR was recently merged.  I think the merge concludes this issue, so I'm closing it.  Please reopen if I missed something.

[2015-09-10 21:19] #1126 closed, assigned to dalaro

[2015-09-11 14:16] ghost opened #1150 "hadoop-load.properties per documentation missing"
Chapter 32 of the Titan 09 Documentation references hadoop-load.properties, but that file is not packaged with Titan currently.

This defect goes along with pull request 1149 to add the properties file to the Titan package.

[2015-09-11 20:12] dmill-bz commented on #1113
Sorry I've been off work. Finally found time for this and should be more present overall. Quick question as I seem to be running into some issues running the same series of tests. Is `key` a reserved property key now?

[code]

[code]

[2015-09-11 21:36] dalaro commented on #1113
Yes, "key" is now a reserved word in the type system on the titan09 / 1.0 branch (https://github.com/thinkaurelius/titan/issues/634)

[2015-09-11 22:11] twilmes opened #1151 "TitanPropertiesStep not applied by TitanLocalQueryOptimizerStrategy"
I was profiling Titan 0.9 M2 with query.batch=true and noticed that property retrievals were not being batched.  My simple test query is as follows.

`g.V(4344).out('contains').values('thingType')`

I took a look in TitanLocalQueryOptimizerStrategy and found the TitanPropertiesStep.  The strategy is applying the VertexStep -> TitanVertexStep transformation, but not doing so for the PropertiesStep.

[2015-09-11 23:00] dmill-bz commented on #1113
Ok that's a bummer. It means I'll have to refactor both the core and frontend of the software before I can provide more input on this error so it might be a little while.

Was that the only one added? Or are there any other plans for reserved words? I'll probably be changing key for `uid` given the circumstances.

[2015-09-13 23:56] danyaljj opened #1152 "Tinkerpop version"
Apparently Titan using old versions of the tinkerpop (2.5.0)
https://github.com/thinkaurelius/titan/blob/titan05/pom.xml

Any reason it is not updated?

[2015-09-14 04:12] mbroecheler commented on #1152
It is updated on the titan09 branch which is hte current development branch.

On Sun, Sep 13, 2015 at 4:56 PM Daniel Khashabi notifications@github.com
wrote:

[2015-09-15 17:45] dmill-bz commented on #1113
Ok so I took the time to refactor and look into this again and I'm still getting this issue. I placed the error at the end of this post.

I might have more time today to try and recreate this but in essence here's what I think the issue is (all is done via gremlin-server with session OpProcessor):
1. Open a transaction (`graph.tx().start()`)
2. Wait x seconds (from the error message I'm guessing `

[2015-09-16 01:00] #1152 closed, assigned to nobody

[2015-09-16 05:58] #1065 closed, assigned to dalaro

[2015-09-16 06:45] mbroecheler commented on #1151
Excellent point. We had excluded TitanPropertiesStep (i.e. it wasn't applied in any strategy) because we needed additional method access from TinkerPop. That happened but we forgot to add a ticket to re-add TitanPropertiesStep optimizations and hence it never happened.

I have updated TitanPropertiesStep and re-added the optimization. Take a look at 53bb28ad855af750b22eb5f1c3cb0e540852d182 and ple

[2015-09-16 06:49] concretevitamin commented on #1125
@dalaro We got hit by this issue as well. Looking at that pull request, I think it does exactly that. Is it possible to make use of that in Titan? (We're using 0.5.4.)

[2015-09-16 07:32] concretevitamin commented on #1125
@mishraawake Did you find a workable workaround? I'm aware of using cassandrathrift (which allows the frame size to be enlarged), however its performance seems to degrade to an unacceptable level.

[2015-09-16 15:27] twilmes commented on #1151
I took a look at the commit and reran my tests with the new code and everything looks good.  Property retrievals were batched as expected.  I appreciate you taking a look at this.  It'll be a big help.  As far as the PropertyMapStep goes, that makes sense.  I had been puzzled by the duplication between the PropertiesStep and PropertyMapStep.

Thanks again,
Ted

[2015-09-16 22:46] dmill-bz commented on #1113
Ok So I think I'm getting the gist of this, it might be an issue with TP (not entirely sure though). Cassandra isn't ACID so it will not complain about this. However berkeley is and there must be some sort of concurrent conflict over the lock. With that said here's a more in depth explanation of what is happening:
- Our software opens a session (needs to manually set a transaction).
- opens transa

[2015-09-17 12:49] spmallette commented on #1113
You should be calling `commit()` or `rollback()` - the behavior of `close()` is dependent on the `onClose()` behavior which we've found is a bit shaky in its current implementation on the TP3 side.  I would expect locks to be freed on `commit/rollback()` and that you should not call `close()` at all for what you are describing.

As you specifically stated that this is a synchronous process, we sho

[2015-09-17 14:02] spmallette commented on #1113
I can't recreate this in Gremlin Server either:

[code]

I didn't do the "new thread" thing on the client side as that should't really matter to what happens on the server.

I can recreate this error if I start mixing stuff up:

[code]

But that's pretty much to be expected because two different transactions are trying to modify the same property on the same vertex.  The user would need to rollbac

[2015-09-17 20:45] dmill-bz commented on #1113
Thanks for taking the time to test all that out Stephen. This is turning out to be quite a headache. I think there might be two separate issues here.

I've noticed that if I get the error and then just kill the app without closing the sockets/session then the lock persists (indefinitely) and I need to reboot the server and reset the database entirely (`rm -rf db/berkeley`).

If I only reboot and d

[2015-09-17 21:12] spmallette commented on #1113
Gremlin Server should schedule open transactions to be rolledback when the session times out.  I see the code to do it.  You should see a message in Gremlin Server logs that says something like:

[code]

I have a test that validates this operation - but I could see where it might not be perfectly validation the situation as you describe it.  I'd have to write a test that used Neo4j (a transactiona

[2015-09-17 21:15] dmill-bz commented on #1113
Ok. I shut titan down via `./bin/titan -v stop` so it should be clean. But I never see any session closing messages. I'll try a few more things and run simpler tests to see if I can pinpoint this even further.

[2015-09-17 21:41] spmallette commented on #1113
dah - i will definitely write that Neo4j test then.....

[2015-09-18 12:21] spmallette commented on #1113
I'm making some changes to Gremlin Server for 3.0.2 to improve session closing, but I'm not so sure this will do anything much to fix your problem.

[2015-09-18 17:16] dalaro commented on #1150
Merged #1149, thanks

[2015-09-18 17:16] #1150 closed, assigned to nobody

[2015-09-18 20:48] PommeVerte commented on #1113
Ok great. I'm finding a lot of satellite bugs as I test. All different in some way but they should all be related to the same issue I think.

I've managed to recreate one with a pretty simple workflow. I've done this via the driver in a session Op (sill):

- Open session
- Create index in query 1:

[code]
- Start a transaction : `if(!graphT.tx().isOpen()){graphT.tx().open()}`
- Add Vertex : `t.add

[2015-09-19 02:56] dkuppitz commented on #1071
Docs are clean w.r.t TP3 API and the bulk loading section. One last issue: `hadoop.txt` contains a really old PageRank sample. Shall I update it or should we just remove it and add a link to the PR sample in the TP3 docs?

[2015-09-19 03:09] titan-cla commented on #1071
Remove it and link to TP3 docs please

On Fri, Sep 18, 2015 at 7:56 PM Daniel Kuppitz notifications@github.com
wrote:

[2015-09-19 03:13] #1128 closed, assigned to mbroecheler

[2015-09-19 03:15] mbroecheler commented on #1071
Oh, weird, I made that comment via email. Please link to TP3's PR example

[2015-09-19 03:23] dalaro opened #1154 "Try to detect old JVMs in shell scripts and throw a useful error"
#1105 shows that titan.sh does not emit helpful information by default when the JVM is too old.  Consider checking `java -version` early in our shell scripts.

[2015-09-19 03:23] dalaro commented on #1105
I added an `[IMPORTANT]` block to the Getting Started section of the manual, just after introducing the abstract Graph of the Gods but just before extracting the Titan zipfile (893be38cf11536ab3621668fb76aa78b4d3f99fe).

I would like to also try to detect this problem from the `java -version` string in our shell scripts, to which end I opened #1154.

[2015-09-19 03:23] #1105 closed, assigned to dalaro

[2015-09-19 03:59] dkuppitz commented on #1071
Done done.

[2015-09-19 03:59] #1071 closed, assigned to dkuppitz

[2015-09-19 21:46] dalaro opened #1155 "Check that titan-core no longer uses shaded kryo and trim pom.xml cruft"
titan-core/pom.xml on titan09 contains a shade-plugin configuration stanza to shade and relocate Kryo 2.24 and its dependencies.  I think this is no longer needed, since titan09 doesn't directly depend on Kryo anymore.  I also don't see any of the classfiles matching the post-shade patterns in titan-core.jar.  So, it's my impression that the shade-plugin execution on titan-core is currently a noop

[2015-09-19 22:53] concretevitamin commented on #992
@dalaro @skiefer any advice for overcoming this issue in Titan 0.5.4? Or, equivalently, any quick tunings we can do to Cassandra so that it behaves more nicely?

[2015-09-20 17:17] joan38 commented on #1128
Hi,

I think the documentation issue is stikl here because the first requirement IS Titan specific:
"The class must implement AttributeSerializer"
As AttributeSerializer is in the Titan API.

[2015-09-21 17:52] dalaro commented on #1113
I'm still digesting this thread.  Thanks for digging.  A couple of things up front:

@spmallette it's not that you want to keep that stuff around (it has no utility).  It's mostly about stability.  `clean-expired` was bolted onto the lock code after initial implementation, and it hasn't seen as much use as the rest of that code.  `clean-expired` is also an option that tends to be needed only occas

[2015-09-21 19:35] dalaro commented on #992
This particular bug requires ID allocation to repeatedly fail / take longer than `ids.renew-timeout`.  Are you seeing repeated "Lock write succeeded but took too long: duration foo exceeded bar"?  A succession of these can accumulate to `ids.renew-timeout`.  It's one way this can happen, though maybe not the only way.  `ids.authority.wait-time` should control bar.

[2015-09-21 21:39] dmill-bz commented on #1113
@dalaro yes that is correct. For some reason the locks (or some related mechanism) was outliving titan's execution. `stop` and then `start` of titan did not make those elements available for mutations.

I'm currently working my way through what may be some loose ends here before I revisit this issue from a cleaner code base. Will get back to you guys.

[2015-09-24 05:45] jgkamat opened #1158 "Titan 1.0 with Hadoop 2/HBase 1.1.2, Required size [1] exceeds actual remaining size [0]"
I'm new to titan, and I can't seem to run the getting started guide with hbase on hadoop2. I'm running the command `graph = TitanFactory.open('conf/titan-hbase-es.properties')`, but it seems to be erroring out, displaying `Required size [1] exceeds actual remaining size [0]`.  I can store basic tables in hbase, so I don't think its a problem on that end. I've been following the [1.0 getting starte

[2015-09-24 17:03] jgkamat commented on #1158
Solved it, it was caused by an existing titan table in hbase (created with titan 0.5). It would be nice if there was a better error message for this case!

[2015-09-24 17:03] #1158 closed, assigned to nobody

[2015-09-25 19:53] mypolopony opened #1159 "Negative Frame Size w/ Cassandra and Thrift"
I have a functional Cassandra cluster (2.2) that I am trying to allow Titan (1.0) to use. I know that there have been some issues with Thrift, as newer Cassandra versions have depricated it to some degree.

After double checking the connection settings, I try to initialize thusly:

`g = TitanFactory.build().set("storage.backend", "cassandrathrift").set("storage.hostname", "IP.ADD.RES.S").set("stor

[2015-09-25 23:34] #1159 closed, assigned to nobody

[2015-09-25 23:48] dalaro commented on #1159
@mypolopony it looks like you closed the issue a few hours after creating it.  Did you resolve it?

[2015-09-25 23:54] mypolopony commented on #1159
There was a confusion over the port assignment, and in particular the fact that I had dockerized Cassandra and Titan separately, as opposed to using the combined set of tools that are packaged in the 1.0 release.

[2015-09-29 04:41] mbroecheler opened #1160 "Document reserved system names"
vertex
element
edge
property
label
key

[2015-09-29 11:57] ivanBragin opened #1161 "Typo in documentation"
http://s3.thinkaurelius.com/docs/titan/1.0.0/cassandra.html

./bin/nodetool `enablethrfit`

[2015-09-30 12:31] #1161 closed, assigned to nobody

[2015-10-03 21:13] skyebook opened #1164 "Geoshape Double Support"
Is there any reason that Geoshape is based on float when almost everything touching geo (including Spatial4j  and Elasticsearch) are using doubles?  There's a non-trivial loss of precision in defining locations.

From a technical standpoint I don't see a reason why not to use double as the backing data type, though I do recognize this might be problematic for a point release as reading from a Scan

[2015-10-05 14:47] spmallette opened #1165 "Titan Docs Reference Blueprints-style"
The Transaction section on Multi Threaded Transaction uses the old Blueprints-style syntax:

http://s3.thinkaurelius.com/docs/titan/1.0.0/tx.html#multi-thread-tx

Should use:

[code]

[2015-10-08 02:15] ATSpitzer opened #1166 "Issue retrieving name attribute from CacheVertex"
Running through the getting started docs [http://s3.thinkaurelius.com/docs/titan/1.0.0/getting-started.html](http://s3.thinkaurelius.com/docs/titan/1.0.0/getting-started.html) for 1.0.0 using cassandra-es conf file, pointing at a 5 node DSE cluster (rf increased to 3), I ran into an exception running:

[code]

[code]

This in spite of the fact that  vertex v[12344] does have a name

[code]

[2015-10-09 17:55] antonpious opened #1167 "Exception when hosting in rexster-server-2.6.0 not able to load com.thinkaurelius.titan.tinkerpop.rexster.TitanGraphConfiguration"
Have setup rexster-server-2.6.0 and pointed to a Titan 1.0.0-Hadoop 1 instance that runs on a hbase 2 node cluster backend.

I am able to access the graph using titan gremlin shell as well as able to perform graph functions but rexster server is not able to load the graph.

I have copied the jar from lib of titan to the ext folder titan as instructed in
http://s3.thinkaurelius.com/docs/titan/curre

[2015-10-09 21:02] antonpious commented on #1167
Seems this dependency is indeed missed in the distributable for 1.0.0-Hadoop 1. I took the 0.5.4 version of  titan-rexster-0.5.4.jar and dropped it under titan and this started working
http://search.maven.org/#search%7Cga%7C1%7Cfc%3Acom.thinkaurelius.titan.tinkerpop.rexster.TitanGraphConfiguration

[2015-10-09 21:31] antonpious opened #1168 "Where to specify the Zookeeper Quorum when its in standalone mode?"
I have setup Titan 1.0.0-hadoop1 with storage backend as two node hbase cluster. In the titan-hbase.properties I have specified the
storage.backend=hbase
storage.hostname=192.168.0.195,192.168.0.128

I have setup hbase to use a standalone zookeeper at 192.168.0.195 which means that zookeeper is not running on both the nodes but hbase is configured to use a remote zookeeper ensemble.

Now, I am try

[2015-10-12 15:13] twilmes opened #1169 "NPE when using repeat step with query.batch=true"
Version: Titan 1.0.0
This query works without issue with query.batch off.

Steps to reproduce using toy data with the relevant portion of the exception.

[code]

[2015-10-12 15:58] antonpious commented on #1167
Is the titan-rexster-0.5.4.jar the right one to use can it connect to the new version of the graph Titan 1.0.0-Hadoop 1

[2015-10-13 23:43] dkuppitz commented on #1119
I think this can be closed, since BLVP is included (and documented) in Titan 1.0. Further changes/optimizations will be discussed in [TINKERPOP3-319](https://issues.apache.org/jira/browse/TINKERPOP3-319).

[2015-10-13 23:43] #1119 closed, assigned to dkuppitz

[2015-10-14 10:15] eyal33 commented on #1115
Hi Matthias,

We saw titan 1.0.0 was released. We saw it works only with Java 8.
Does titan 1.0.0 is BC with cassandra storage which was used by titan 0.5.4
?

Is titan 0.5.5 going to be released soon ?

Thanks a lot,
Eyal

2015-08-27 1:46 GMT+03:00 Matthias Broecheler notifications@github.com:

[2015-10-15 16:16] effyteva commented on #1169
Hi,

I think this error might be related to: https://groups.google.com/forum/#!topic/gremlin-users/dLr31SyRuk0.
It seems as if .emit().repeat() doesn't work on a multi-threaded environment at all, which might be the source of the query.batch issue as well.

Effy

[2015-10-15 21:14] antonpious commented on #1167
Just realized that titan-rexster is being replace with Gremlin Server and Titan 1.0.0 Hadoop1 is waiting for the actual release which is currently under incubation.
http://tinkerpop.incubator.apache.org/

[2015-10-15 21:14] #1167 closed, assigned to nobody

[2015-10-15 21:16] spmallette commented on #1167
Just to be clear, TinkerPop released 3.0.0 months ago.  Titan 1.0 ships with Gremlin Server.

[2015-10-16 16:42] sharpau commented on #1169
I have experienced this issue in 1.0 as well. Basically can't take advantage of query.batch until it is fixed.

[2015-10-16 19:48] rock59 opened #1171 "Using Titan as main Database"
I am using Cassandra for main datastore and Neo4J(commiunity version) for graph processing in a small startup company.
I need to distribute graph data and Neo4J enterprise license is very expensive thus I consider using Titan as the main datastore with Cassandra storage backend.
Is Titan stable and can I trust it as an operational database?

[2015-10-16 22:32] okram commented on #1171
This is not a issue tracker ticket. Please use the public mailing list for questions.

https://groups.google.com/forum/#!forum/aureliusgraphs

[2015-10-16 22:32] #1171 closed, assigned to nobody

[2015-10-20 15:20] rsaccone opened #1172 "Error Message Launching Gremlin shell on Mac OS X and RHEL x64"
Hello,

 I have downloaded Titan 1.0.0 to my Mac (running El Capitan) and an running into an error with getting the Gremlin shell up and running.  When I launch the Gremlin.sh I get an error that I highlighted in red below.  I am not sure to which file the line number and column refers to.  I checked the groovy.sh file and there isn't anything on line 2 so that file is probably not the one referer

[2015-10-20 17:18] twilmes commented on #1169
I posted a question related to this on the TinkerPop dev list to get some insight into possible repeat step interactions with graph provider optimizations (multi query in this case) and got some good feedback.

First thing first, I'm going to see how Titan runs the TinkerPop test suite and see if I can get it to run with this query.batch=true.  I know there are Titan specific tests with batching o

[2015-10-20 18:01] rsaccone commented on #1172
Just to add some more information.  I see this exact same error on Linux x64 using Oracle Java 8.

[2015-10-20 18:21] spmallette commented on #1172
weird - i'm guessing that this is your issue:

http://stackoverflow.com/questions/18794573/objc10012-class-javalaunchhelper-is-implemented-in-both-libinstrument-dyl

I sense that this isn't a titan or tinkerpop issue.

[2015-10-20 18:44] rsaccone commented on #1172
Hi Stephen,

Thanks for the reply.

I’ve also tried the to run Titan 1.0.0 on RedHat Linux X64 with Java 8 and the same unexpected token error occurs and notice that I don’t get any error from Java 8 on Linux about the JavaLaunchHelper being implemented in two places. It makes me think that isn’t the issue.  Also would you happen to know where I can find the file that grooves_evaluate is complaini

[2015-10-20 19:32] spmallette commented on #1172
i dunno - if the console failed for everyone the way it is failing for you, the mailing lists and issue tracker would be lit up and we're not seeing that so it must be something related to what you are doing in your environment.

My bet is that your failure is in the standard imports for the console:

https://github.com/apache/incubator-tinkerpop/blob/3.0.1-incubating/gremlin-groovy/src/main/java/

[2015-10-20 19:36] pluradj commented on #1172
Did you have the $CLASSPATH set in your env before starting gremlin.sh?

[2015-10-20 20:05] rsaccone commented on #1172
No I don't have $CLASSPATH set before launching gremlin.  I can try doing that. wHat paths should it include?

Regards,
Rob

Sent from my iPad

On Oct 20, 2015, at 3:37 PM, Jason Plurad <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you have the $CLASSPATH set in your env before starting gremlin.sh?

##

Reply to this email directly or view it on GitHubhttps://github.com/t

[2015-10-20 21:14] rsaccone commented on #1172
To add to the above, I had gremlin.sh echo out the CLASSPATH it builds by default.  Are there items missing that should be added?

CLASSPATH: :/Users/rsaccon/bin/titan-1.0.0-hadoop1/conf:/Users/rsaccon/bin/titan-1.0.0-hadoop1/lib/slf4j-log4j12-1.7.5.jar::/Users/rsaccon/bin/titan-1.0.0-hadoop1/lib/titan-all-1.0.0.jar:/Users/rsaccon/bin/titan-1.0.0-hadoop1/lib/titan-berkeleyje-1.0.0.jar:/Users/rsacc

[2015-10-20 21:47] pluradj commented on #1172
I just compared with mine. I have the same set of jars. I've run Titan 1.0.0 successfully on Mac OSX Yosemite, Ubuntu 14.04, and Centos 6.7. The `JavaLaunchHelper` warning on Mac is harmless.

What specific Java version are you using? I have 1.8.0_60, but you should be using at least 1.8.0_40.

[2015-10-20 22:15] rsaccone commented on #1172
On the Mac I am running El Capitan and the Java version is:

java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

On Red Hat Linux the version is exactly the same.

[rsaccon@h0210b01 bin]$ java -version
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server

[2015-10-21 02:50] pluradj commented on #1172
Very strange, Rob. I've never seen that error before. I grepped the TinkerPop and Titan codebases, and here is the only hit

https://github.com/thinkaurelius/titan/blob/titan10/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/configuration/GraphDatabaseConfiguration.java#L53

Are you building Titan from source, or did you pull down the zip from http://s3.thinkaurelius.com/downloads/titan/t

[2015-10-21 09:03] rsaccone commented on #1172
I pulled down the zip from the link you mentioned below.

Sent from my iPhone

On Oct 20, 2015, at 10:50 PM, Jason Plurad <notifications@github.com<mailto:notifications@github.com>> wrote:

Very strange, Rob. I've never seen that error before. I grepped the TinkerPop and Titan codebases, and here is the only hit

https://github.com/thinkaurelius/titan/blob/titan10/titan-core/src/main/java/com/thin

[2015-10-22 14:53] rsaccone commented on #1172
We were able to get the Mac version working by doing a clone and a building from the repository.  Also tried to do a clone and a build on Red Hat to see if that would also take care of the error that we encountered with the prebuilt binaries there as well.  However we ran into different issue with the version that we built on RHEL.  There seems to be an issue with  jline on RHEL.

We tried upgradi

[2015-10-22 18:36] sharpau commented on #946
I would also like to use this feature. It would definitely help with the common case where currently a vertex property must be duplicated on an edge for performance reasons.

[2015-10-23 21:19] pluradj commented on #1172
@spmallette I've been working with Rob offline, and it's looking like this might be a Gremlin Console issue, not really a Titan issue. There may be something environmental, but I haven't been able to find anything thus far.

I added some tracing into the code, and here's how it shakes out...

Succesful run https://gist.github.com/pluradj/6dbd7d9ad5a2fa987e9d
Failed run https://gist.github.com/plur

[2015-10-23 21:29] pluradj commented on #1172
I'll also note, that from the original error reported above, it seems like `import` is missing from the line that it is attempting to evaluate:

[code]

[2015-10-23 21:55] spmallette commented on #1172
wow - i have no clue offhand..........

[2015-10-24 03:07] zifnab87 commented on #1003
Hi! Is there a timeline for that? Thanks

[2015-10-24 10:10] spmallette commented on #1172
Did you try this with the standard Gremlin Console distribution (i.e. not Titan's zip)? Maybe it's a Titan packaging issue?  If you can confirm that this occurs on the TinkerPop distribution, then I'd close this issue and open one on the TinkerPop side.

[2015-10-24 10:20] rsaccone commented on #1172
Hi Stephen,

No haven’t tried that but I will.  However once I download Gremlin are there instructions for how I would setup that separate Gremlin download to work with Titan 1.0.0 so I can try a sample out like Graph of the Gods that you can point me to?

Thanks,
Rob

On Oct 24, 2015, at 6:10 AM, stephen mallette <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you try this

[2015-10-24 10:46] spmallette commented on #1172
Well - that's not what i'm after at the moment.  I'd like to just see if we can isolate the problem to Titan's  packaging.  Right now, I'm not sure we know exactly where we need to look to get to the bottom of your problem.

[2015-10-24 12:06] rsaccone commented on #1172
OK I see what you want.  I’ll try downloading it and just bringing it up.
On Oct 24, 2015, at 6:46 AM, stephen mallette <notifications@github.com<mailto:notifications@github.com>> wrote:

Well - that's not what i'm after at the moment. I'd like to just see if we can isolate the problem to Titan's packaging. Right now, I'm not sure we know exactly where we need to look to get to the bottom of your

[2015-10-25 05:35] fengkai9 commented on #1168
change the storage.hostname=192.168.0.195
when titan connect hbase, it will set hbase.zookeeper.quorum=192.168.0.195

[2015-10-25 11:45] spmallette commented on #1003
@zifnab87 Titan 1.0 is already released:

https://github.com/thinkaurelius/titan/wiki/Downloads#titan-100

[2015-10-25 13:15] zifnab87 commented on #1003
@spmallette Thanks! I meant the hasLabel(). I don't see it in the currently provided TinkerPop API..

[2015-10-25 13:34] spmallette commented on #1003
it's there - see the first code example here:

http://tinkerpop.incubator.apache.org/docs/3.0.1-incubating/#has-step

[2015-10-26 14:12] rsaccone commented on #1172
I get the same error with Gremlin console distribution on both RHEL (x64) and on the Mac.

bin  conf  data  DISCLAIMER  docs  ext  javadocs  lib  LICENSE  NOTICE
[rsaccon@h0210b01 apache-gremlin-console-3.0.1-incubating]$ ./bin/gremlin.sh

[code]

-----oOOo-(3)-oOOo-----
plugin activated: tinkerpop.server
Error loading the 'utilities' plugin - startup failed:
groovysh_evaluate: 2: unexpected token

[2015-10-26 15:24] mfeblowitz commented on #1172
So, Yes - there are two errors we're dealing with - the "org.apache.commons.configuration.*" and the jline problem on RHEL. we're using Oracle java 8u60 on the mac and 8U65 on RHEL.

For the org.apache.commons.configuration.\* issue, it appears that there is some processing by groovy that is interpreting the imports and not liking the asterisk. We also notice that it happens for one file only, and

[2015-10-26 18:55] spmallette commented on #1172
wow - thanks for coming to a solution on this.  i was really lost for an answer.  so does RHEL put that version of jline on the classpath automatically with db2profile?

[2015-10-26 19:15] mfeblowitz commented on #1172
db2profile is a script that does a number of things, to prepare the environment for DB2. Among those things, it pushes an old version of jline onto the CLASSPATH.

This only fixes the jline issue, not the groovy asterisk problem. We’re still trying to chase that one down.

Mark

[2015-10-27 16:01] dmill-bz commented on #1113
Ok.. So after the correction of [TINKERPOP3-910](https://issues.apache.org/jira/browse/TINKERPOP3-910) I decided to make a custom build against the titan `tp-ci-31` branch with these changes.
I double checked that the 910 patch was correctly in place with my driver test suit and all is good. But I still get the error described in this issue (with berkeleyje, and randomly with cassandra).

I've man

[2015-10-27 20:21] spmallette commented on #1113
What is your `storage.lock.wait-time` setting at?  Perhaps you need more time on that?  At this point, I have a hard time explaining what could be wrong because we have it executing nicely on Gremlin Server + Neo4j.  Can't recreate the sequence of failure off of titan.  But we also can't easily recreate it in the console, so......

[2015-10-27 20:41] dmill-bz commented on #1113
It's the default (I don't have it set anywhere) `100ms`, I changed it to `5000ms` but the error still occurs.

Also this is different from what we fixed with gremlin-server and Neo (though it expresses itself in a similar fashion). This is most likely related to the indexing lock system in place setting a lock and not properly closing it (it's composite so at least we don't have to worry about ES?

[2015-10-28 14:59] mfeblowitz commented on #1172
So, the latest attempt was to compare, side by side, running gremlin from my id and from Rob's, on the same machine, from the same directory, using the same java 8u65. We run bin/gremllin.sh from the same titan directory and we get different outcomes: gremlin runs without error for me, not for Rob.

To keep the comparison as close as possible, we run as him, with the error, and then su to me, in t

[2015-10-28 15:01] adurrive opened #1173 "Vertex Properties requests to Gremlin Server do not complete (Titan 1.0.0)"
Hello,

This issue is a follow up from https://github.com/jbmusso/gremlin-javascript/issues/19.

[code]

Such requests do not complete and leave the client hanging. I have reproduced the issue with gremlin-javascript and aiogremlin (although not with the Gremlin console), using Titan 1.0.0 and the latest 1.0.1 build. The Gremlin server works as expected using TinkerGraph, which seems to indicate t

[2015-10-28 15:59] spmallette commented on #1173
When you used the Gremlin Console to `:remote` to Gremlin Server with Titan behind it, what configuration file did you pass to the `:remote` command?

[2015-10-28 16:18] spmallette commented on #1172
:smiling_imp:

i've never ever heard of such a thing.  what happens if you unload the utilities plugin?  meaning - deactivate it by editing `ext/plugins.txt` and removing this line:

[code]

Does the console generally load/work without error in that case?

[2015-10-28 16:31] adurrive commented on #1173
I have reproduced the issue locally with an out of the box Titan 1.0.0 using all default settings. Regarding the Gremlin console (which works) I used the default remote.yaml:

[code]

[2015-10-28 16:43] spmallette commented on #1173
just to be clear....are you saying that with that configuration you had success?

[2015-10-28 16:50] adurrive commented on #1173
Yes. The Gremlin console actually works perfectly. But using any other client (well, at least two of them), the above request does not complete: no response message is sent by the Gremlin server or received by the client.

Looking more closely at the logs, the Gremlin server always find the correct results but when the script returns vertex properties, it stops there leaving the client hanging.

[2015-10-28 16:53] spmallette commented on #1173
Your test with the console is fooling you a bit. You are using "text" serialization.  `serializeResultToString` is `true`.  That doesn't do an actual serialization of the object on the server.  it just toStrings the result - so just about everything works when you do that.  Can you try using `conf/remote-objects.yaml` instead and see if you get an error and if so, what that error is?

[2015-10-28 17:01] adurrive commented on #1173
You were spot on. The gremlin console without the "text" serialization hangs as well. Unfortunately I do not have any error, neither in the console nor the server logs. The console just times out.

[2015-10-28 17:03] spmallette commented on #1173
Ok - well at least we're narrowing things down.  just to be clear again, does this only fail for Titan with that `remote-objects.yaml` or does it also fail for TinkerGraph?

[2015-10-28 17:10] rsaccone commented on #1172
On the Mac the gremlin.sh does come up without error for the prebuilt apache gremlin console download.

However if I try to remove the utilities plugin from the prebuilt titan 1.0 install things don't go so smoothly as the error occurs loading one of the remaining plugins.

Vincenzo:titan-1.0.0-hadoop1 rsaccon$ ./bin/gremlin.sh
objc[18372]: Class JavaLaunchHelper is implemented in both /Library/Ja

[2015-10-28 17:21] adurrive commented on #1173
It fails only with Titan. TinkerGraph works well.

[2015-10-28 19:38] mfeblowitz commented on #1172
Ok - more data. And we think we have the smoking...knife.

We ran the titan/gremlin.sh script, after inserting "-verbose:class" in the java options and running the script with "sh -x".

We've attached both outputs and noticed several differences. Notable are the differences are around line 3700 in both files. In the working version there are multiple references to

[code]

and not in the non-worki

[2015-10-28 19:41] rsaccone commented on #1172
I also tried a similar test to the one Mark described above except with just the gremlin.shell from the Apache gremlin project and see a similar divergence there as well.  I would like to post these files as well.  Please let us know where to send these as well.

[2015-10-28 20:50] pluradj commented on #1172
![diff](https://cloud.githubusercontent.com/assets/4974160/10802346/a50ad9a2-7d79-11e5-9ffd-b506d2b44365.png)
Diff from Rob on these files:
https://gist.github.com/pluradj/013173f7a38005f591fd
https://gist.github.com/pluradj/e1582057a1fe05698bc4

[2015-10-28 20:51] pluradj commented on #1172
Mark's diff:
https://gist.github.com/pluradj/6db763b130e09e7510fb
https://gist.github.com/pluradj/def4c8702144bf50e3a6

[2015-11-02 21:00] rsaccone commented on #1172
Hi Guys,
Any thinking or progress on how to get this resolved?

Thanks,
Rob

[2015-11-03 03:56] zyoo opened #1174 "com.thinkaurelius.titan.diskstorage.idmanagement.ConsistentKeyIDAuthority.getIDBlock()"
throw new TemporaryLockingException(String.format("Reached timeout %d (%s elapsed) when attempting to allocate id block on partition(%d)-namespace(%d)",timeout, methodTime.toString(), partition, idNamespace)); at ConsistenKeyIDAuthority.java(329)

Exception stack:
Caused by: java.util.IllegalFormatConversionException: d != com.thinkaurelius.titan.diskstorage.util.time.StandardDuration
        at j

[2015-11-03 19:48] spmallette commented on #1172
no from me atm - i'm pretty well baffled by what's going on.... @pluradj anything from you?

[2015-11-03 20:25] pluradj commented on #1172
Been on the road, haven't spent much time on this. Do you have brew installed? Maybe you have something that is interfering from that.

[2015-11-03 21:14] mfeblowitz commented on #1172
I have brew installed on my mac. And my accounts, mac and linux, handle the gremlin script just fine.
It seems that something odd is happening, when the env vars are identical, paths are identical, generated classpaths are identical, java is identical, ..., and the processing of the plugins by groovys is different. The side-by-side attachments show where things are going awry.
Is there anything el

[2015-11-03 21:42] rsaccone commented on #1172
I have brew only on my Mac.  It isn't installed on the RHEL Linux that I am using.

Sent from my iPhone

On Nov 3, 2015, at 4:15 PM, Mark Feblowitz <notifications@github.com<mailto:notifications@github.com>> wrote:

I have brew installed on my mac. And my accounts, mac and linux, handle the gremlin script just fine.

##

Reply to this email directly or view it on GitHubhttps://github.com/thinkaure

[2015-11-03 21:48] mfeblowitz commented on #1172
Nor the same Linux that I am using.
Problem exists in both mac and linux, for Rob.

[2015-11-03 21:48] pluradj commented on #1172
And to level set, Rob's Mac is the only env failing now?

[2015-11-03 21:49] pluradj commented on #1172
Ok. Mac and Linux for Rob.

[2015-11-04 11:52] spmallette commented on #1173
took me a while to get to this, but i definitely see your problem.  i don't clearly see what the problem is though unfortunately.  will require further investigation.  still looking....

[2015-11-04 13:42] pluradj commented on #1172
What do you have in /groovy/script? The screenshot shows this path in the right side before the failure.

[2015-11-04 16:53] rsaccone commented on #1172
The first image is the lines from the diff that I believe you are referring to.

[image1.jpeg]

The second image shows that I don't have a /groovy/script directory.  I am not sure what the JVM output was actually referring to.

[image1.jpeg]

Sent from my iPhone

On Nov 4, 2015, at 8:42 AM, Jason Plurad <notifications@github.com<mailto:notifications@github.com>> wrote:

What do you have in /groovy

[2015-11-04 18:04] pluradj commented on #1172
Really just grasping here. So if it is failing with the same error between Mac and Linux, what software has been installed similarly into both envs?

[2015-11-04 18:07] rsaccone commented on #1172
Jason,

Looks like the images didn't make it and I don't have write access to the repository to directly attach them.  Bottom line is that I don't know why the JVM indicates that it is loading something out of /groovy/script as I don't have such a directory nor a file called script1446060377371298884287

[2015-11-04 18:36] mfeblowitz commented on #1172
file:/groovy is not the same as file:///groovy. Is that a typo in the log message or does it mean something else in this environment?

[2015-11-04 18:37] rsaccone commented on #1172
Mark commented that the reference in the diff was to file:/groovy/script which wasn't necessarily to the root of the file system.  I also did a find for groovy from the titan 1.0 install directory and from the standalone gremlin console download but came up with nothing (just javadocs in the gremlin console).  If there is some significance to file:/groovy that we are missing please let us know.

[2015-11-04 19:15] optimuspaul opened #1175 "TitanGraphIndex no easy way to determine disabled state"
awaitGraphIndexStatus appears to be the only way to determine if an index is in the state you want it to be in. But if I don't know what the state is that doesn't seem like a good way to do it. Also calling awaitGraphIndexStatus seems to take forever. I've disabled an index, which took about 30 secs (why would it ever take that long!?!?). Then later I wanted to check if that index was disabled, ke

[2015-11-05 00:06] OndraZizka opened #1176 "NPE in StandardTitanGraph$3.apply()"
Hi, we have experienced a NPE with Titan 0.5.4.

It's not much reproducible, this is the first time I see it.
Posting in case it's useful.

Regards.

Nov 04, 2015 5:49:17 PM com.thinkaurelius.titan.graphdb.database.StandardTitanGraph commit
SEVERE: Could not commit transaction [78] due to exception
java.lang.NullPointerException
    at com.thinkaurelius.titan.graphdb.database.StandardTitanGraph$3.

[2015-11-05 03:00] twprinston opened #1177 "Does titan 0.5.4 GraphOfTheGodsFactory support HBase+Solr?"
I set titan 0.5.4 HBase (1.0.0-cdh5.4.7) +Solr (4.10.3-cdh5.4.7) properties for running GraphOfTheGodsFactory example

When I run graph.query().has('place',WITHIN,Geoshape.circle(37.97,23.72,50)).edges()
I got the error:
ERROR com.thinkaurelius.titan.diskstorage.solr.SolrIndex  - Query did not complete because parameters were not recognized :
org.apache.solr.client.solrj.impl.HttpSolrServer$Remote

[2015-11-05 11:24] spmallette commented on #1172
Will the console start if you disable all the plugins (i.e. clear the `ext/plugins.txt` file)?

I suspect not, as we still do "core" imports and that seems to be where you are failing.  It's as though the console can't eval an "import..." line of code.  I searched around the internet for that problem with groovysh and turned up very little.  I've talked to @dalaro on this problem your having and h

[2015-11-05 13:24] pluradj commented on #1172
Maybe Groovy indy might be part of the problem? http://www.groovy-lang.org/indy.html -- The docs say that indy and normal are mutually exclusive, but both are in the gremlin-console/lib directory.
- groovy-2.4.1-indy.jar
- groovy-2.4.1.jar
- groovy-console-2.4.1.jar
- groovy-groovysh-2.4.1-indy.jar
- groovy-json-2.4.1-indy.jar
- groovy-jsr223-2.4.1-indy.jar
- groovy-sql-2.4.1-indy.jar
- groovy-swi

[2015-11-05 13:26] spmallette commented on #1172
weird - is that how we package that?  i thought we just used indy?  do we have to exclude the regular one?

[2015-11-05 13:42] mfeblowitz commented on #1172
Indeed. We've gone from head-scratching to head-banging.

Sent from my iPhone

[2015-11-05 15:27] optimuspaul opened #1178 "REMOVE_INDEX doesn't actually remove an index"
It may be removing data in an index, but a reference to the index still exists.  This makes it difficult to manage change. Maybe it seems like a nice to have, but when you have 100's or 1000's of indexes cleanup of unused indexes is essential.

[2015-11-05 15:28] optimuspaul opened #1179 "Can't remove a property from an index"
We need to be able to alter an index to add and remove properties after they have been created and committed. Looks like adding may be an option but I don't see anything for removing.

[2015-11-07 15:50] zifnab87 commented on #1179
I have the same issue + use case
For me updateIndex when SchemaAction.REMOVE_INDEX returns null, so I end up with a NullPointerException

[code]

[2015-11-07 15:55] zifnab87 opened #1180 "Even after deleting all indices from ElasticSearch API, Titan still thinks those indices are defined"
Since I couldn't delete my indices from Titan Java API, I deleted all indices on elasticsearch
through DELETE hostip:9200/titan.. Then when I tried building those indices  from scratch,  I get

[code]

[2015-11-08 13:19] santhoshtangudu commented on #1167
@antonpious , what should I put under titan folder ?

I couldn't understand your last comment. Can you please explain a bit ?

[2015-11-09 22:55] rsaccone commented on #1172
Hi
Haven't forgotten about your ask Jason with respect to Groovy Indy.  I will get it to soon.  Been busy.  Stay  tuned...

[2015-11-11 10:45] dmill-bz opened #1181 "ES mixed Index doesn't update (TP 3.1.0)"
This was done against a build of the `tp3-ci-31` branch while using the `titan-cassandra-es.properties` configuration file.

When you set a property value it gets indexed properly and can be found with a direct index search. But if you update a property it will not propagate the changes. Here's an example in the console:

[code]

If this was covered in another branch please let me know. I haven't

[2015-11-11 14:49] dalaro commented on #1181
What was the ES refresh interval?  Was it allowed to elapse between modifying the property and querying it through ES, or equivalently, was a refresh manually forced out-of-band?

[2015-11-11 16:31] rsaccone commented on #1172
Hi Jason,

Here's part one of the test you asked for.  My first test was to take delete all the groovy-*.jars from the gremlin-console/lib.  I copied in the non-indy jars:
groovy-2.4.1.jar
groovy-console-2.4.1.jar
groovy-groovysh-2.4.1.jar
groovy-json-2.4.1.jar
groovy-jsr223-2.4.1.jar
groovy-sql-2.4.1.jar
groovy-swing-2.4.1.jar
groovy-templates-2.4.1.jar
groovy-xml-2.4.1.jar

I ran the console and

[2015-11-11 16:52] rsaccone commented on #1172
Here's the other part of the test using only the indy jars this time. Unfortunately the same result occurs:

Vincenzo:apache-gremlin-console-3.0.1-incubating-testing rsaccon$ ./bin/gremlin.sh
CLASSPATH: :./bin/../config:./bin/../lib/commons-beanutils-1.8.0.jar:./bin/../lib/commons-codec-1.6.jar:./bin/../lib/commons-collections-3.2.1.jar:./bin/../lib/commons-configuration-1.10.jar:./bin/../lib/comm

[2015-11-11 21:16] pluradj commented on #1172
@rsaccone I've figured it out!

[code]

I was going through the diffs again, then zoned in on `org.codehaus.groovy.tools.shell.util.ScriptVariableAnalyzer` since it is only loaded in the failing cases. That gets pulled in via in this if/else statement if the preference is set. https://github.com/apache/incubator-groovy/blob/master/subprojects/groovy-groovysh/src/main/groovy/org/codehaus/groovy/too

[2015-11-11 21:39] spmallette commented on #1172
holy hell!

[2015-11-11 21:45] dalaro commented on #1172
@pluradj this is a breakthrough.  Thank you following up here.  This issue has been driving me a little bit more crazy every time I thought about it.

[2015-11-11 22:02] rsaccone commented on #1172
What's the best way to blow away the preferences?  I saw commands inside the shell but is there some other way to do it outside groovy?

Sent from my iPhone

On Nov 11, 2015, at 4:17 PM, Jason Plurad <notifications@github.com<mailto:notifications@github.com>> wrote:

@rsacconehttps://github.com/rsaccone I've figured it out!

$ ./bin/gremlin.sh

[code]

-----oOOo-(3)-oOOo-----
plugin activated: tin

[2015-11-11 22:06] pluradj commented on #1172
Just follow the steps I had above. TLDR `gremlin> :set interpreterMode false` or `gremlin> :purge preferences`

[2015-11-11 22:07] pluradj commented on #1172
It's hard to do outside groovysh because of how the Java Preferences API stores them.

[2015-11-11 22:23] rsaccone commented on #1172
Ok it works!!  Both the standalone she'll and Titan 1.0.

However can someone explain how this preference gets set in layman terms.  What did I do that Mark didn't to end up in this situation?

Thanks!

Sent from my iPhone

On Nov 11, 2015, at 5:07 PM, Jason Plurad <notifications@github.com<mailto:notifications@github.com>> wrote:

It's hard to do outside groovysh because of how the Java Preferenc

[2015-11-11 22:29] pluradj commented on #1172
If you didn't set that preference explicitly, then I guess there's something else on those machines that is also using `groovysh` which set the preference. Maybe do a full disk search for `*groovysh*.jar` and see what else turns up.

[2015-11-12 22:07] mhfrantz opened #1183 "Titan 1.0.0 GraphSONWriter.writeGraph JsonMappingException"
Gist of a repro: https://gist.github.com/mhfrantz/c9feddbadf56ba39dad7

[code]

[2015-11-12 22:21] spmallette commented on #1183
If you construct all that stuff by hand you have to be sure to tell the `GraphSONMapper` what the titan serializers are:

[code]

or if you don't need to alter any aspects of `GraphSONMapper` with the builder you can do `graph.io().mapper()` and it will come with a `TitanIoRegistry` already added

[2015-11-13 00:59] mhfrantz commented on #1183
Updated gist as suggested, and the error message is now during read:

[code]

Also turned on `embedTypes` (because I think I need that to restore the graph as-is), but that produces an error during write:

[code]

[2015-11-13 01:02] spmallette commented on #1172
I guess this one is safe to close now. Glad a solution was found on this one.  Thanks again @pluradj

[2015-11-13 01:02] #1172 closed, assigned to nobody

[2015-11-13 01:05] spmallette commented on #1113
@PommeVerte do we still have problems here?  I've sorta lost track.

[2015-11-13 01:19] mhfrantz commented on #1183
The most recent set of errors appears to be related to the `Geoshape` type.  Other tests with graphs that do not contain this type of property seem to work with the suggested changes:

[code]

[2015-11-13 09:09] dmill-bz commented on #1113
Yes, I'm supposed to provide a failing script at this point, I just haven't had the time to get around to it yet.  I don't have anything planned over the weekend so I'll probably sort it then along with a couple of other things for TP.

[2015-11-13 22:41] aschepis opened #1185 "THANK YOU."
Thanks for making Titan.  It has been a lot of fun to use and i've got some incredible ideas i'm planning on implementing into my product.

As an aside: What tool did you use to make the graph images in the documentation? I'd like to do the same type of thing for requirements/design docs

[2015-11-14 11:04] spmallette commented on #1185
I'm pretty sure they were done with omnigraffle

[2015-11-14 11:04] #1185 closed, assigned to nobody

[2015-11-16 02:42] bgdavidx opened #1186 "Is there a way for Titan to see updated data without .newTransaction()?"
I'm currently using Titan in production, however it seems like for Titan to be able to see data (vertices/edges) added to the graph, a new transaction has to be created. Is there a way for the query to see the new data without having to create a new transaction?

The setup is as follows:

16 Nodes writing to Titan (Cassandra, 16 Nodes)
32 Nodes answering queries (this is where I have to use newTra

[2015-11-16 11:51] ghost opened #1187 "Conflicting text in bulkloading.txt"
The _ID Acquisition Process_ section says `three configuration options that can be tuned to avoid this` but lists only two - `ids.authority.wait-time` and `ids.renew-timeout`. Please fix to update to "two" or list the third. Is it `ids.renew-buffer-percentage`?

[2015-11-16 14:18] zazzcode opened #1188 "Titan 1.x support for Elasticesearch 2.x"
Hi,
Can a future release of Titan 1.x be updated to support Elasticsearch 2.x.
The query syntax has changed from Elasticsearch 1.x to 2.x, so this may not be a trivial effort.

[2015-11-16 15:56] spmallette commented on #1186
Just to be clear, you should not ever need to call `.newTransaction` unless you are doing a "threaded transaction" - one that allows multiple threads to act on the _same_ transaction.

http://tinkerpop.incubator.apache.org/docs/3.0.2-incubating/#_threaded_transactions
http://s3.thinkaurelius.com/docs/titan/1.0.0/tx.html#multi-thread-tx

You can just issue a `rollback()` to start a fresh transactio

[2015-11-16 15:56] #1186 closed, assigned to nobody

[2015-11-17 18:17] spmallette commented on #1183
@mhfrantz this should be fixed now in the titan10 branch.  not sure how that slipped by.  added some tests for good measure.  are you in a position to test this out to let me know if all is good on your side?

[2015-11-17 19:20] dylanht commented on #1188
I posted in the mailing list a while ago about getting the Titan branch that is staying current with TinkerPop3 to build against ElasticSearch development branch (3.0.0-SNAPSHOT) and Lucene 5.4 which that and possibly 2.x requires - I stopped short of actually getting a cluster fired up, as dealing with the new "JarHell" class in ES when I clearly am living in Jar hell was just too tedious, in the

[2015-11-17 20:59] mhfrantz commented on #1183
Tested with a locally built 1.0.1-SNAPSHOT, and everything worked.

[2015-11-17 21:30] spmallette commented on #1183
thanks for testing so quickly....closing

[2015-11-17 21:30] #1183 closed, assigned to nobody

[2015-11-18 15:49] vschiavoni opened #1189 "Compilation problems (type mismatch, wrong parameter types) under Eclipse"
I've imported the titan-core maven module in my Eclipse workspace. There are few compilation issues that blocks the compilation of the project:

[code]

There is probably a configuration parameter that I'm missing somewhere. Ideas ?
The project compiles and install fine via command-line+Maven.

Java version:

[code]

Mac OSX 10.11, Eclipse Version: Mars.1 Release (4.5.1).

Current Git commit:
89c0

[2015-11-20 19:59] nawazdhandala opened #1191 "API's to delete Edge Label / Vertex Label and Property Keys."

[2015-11-21 21:24] twilmes opened #1193 "Documentation still lists HashMap and ArrayList as serializable by default."
The documentation is lagging the latest changes to the default serialization types Titan supports.

[2015-11-25 10:05] karteeksaragad commented on #904
I am facing the same issues reported by "boliza" on titan-0.5.4. What is the resolution???

[2015-11-25 10:42] spmallette commented on #904
I'm reasonably sure this was closed as @dalaro was unable to reproduce the problem and no additional information was supplied.  It would be interesting to know if Titan 1.x has this problem.  I'm not sure if you are in a position to upgrade, but you might try that as an option.

[2015-11-25 11:06] karteeksaragad commented on #904
Hi Stephen,

Upgrade is not possible at the moment, as we have to do lot of code changes
to get compatible with Titan 1.x.  Recently we have started the replica of
our production environment for reporting and we are using Titan-Hadoop,
unfortunately when we run any job, we are getting the below exception.

java.lang.Exception: java.lang.IllegalArgumentException: Could not
instantiate implementatio

[2015-11-25 11:19] spmallette commented on #904
I've known that error to represent data corruption (which isn't something the initial post showed so this isn't quite the same problem). It's been suggested to me that this issue is repairable by cassandra tooling, but i'm not 100% sure.

@dalaro might have to weigh in and provide an answer on that one....

[2015-11-26 10:50] xavierhardy commented on #1191
+1
Yes, this is a "must have" for labels, properties and indexes (whatever the type), we are considering moving away from Titan because the schema cannot be modified without having to rename everything.

It should also be possible to modify existing labels, properties and indexes.

[2015-11-26 15:38] nawazdhandala commented on #1191
Same here. Its a showstopper for us right now.

[2015-11-27 03:07] jeromatron commented on #837
Should we remove the section of the docs talking about how to configure Titan to use DSE Search at this point since it doesn't use the updateLog?  Specifically http://s3.thinkaurelius.com/docs/titan/1.0.0/solr.html#dse-search ?

Or would there be alternative way on the DSE Search side that could enable this without supporting the Solr updateLog?

I just spent some time trying to get it working and

[2015-11-27 16:13] jeromatron opened #1198 "Enabling ssl on titan 1.0 with gremlin-server errors out"
I'm getting the following exception when trying to start gremlin-server with ssl enabled with titan 1.0:

[code]

It appears that this is because Titan only includes netty version 4.0.25 and SslContextBuilder was added to netty in version 4.0.28.  It's not a problem for the TinkerPop project because it appears to include netty 4.0.28, so it looks like a dependency problem with Titan as it's pullin

[2015-11-27 16:20] jeromatron commented on #1198
If I copy the netty-all-4.0.28-Final.jar to the titan lib directory (and mv the existing netty-all-4.0.25-Final.jar to netty-all-4.0.25-Final.jar.backup), the server starts with ssl enabled.

[2015-12-01 04:14] qingtianfg opened #1199 "com.thinkaurelius.titan.diskstorage.locking.PermanentLockingException: Expected value mismatch for KeyColumn [k=0x200-164-214-194- 16-165-160-114-116- 37-111-116-104-101-242, c=0x 0]: expected=[] vs actual=[ 18-112-133] (store=graphindex)"
hi ,everyone
        when I use more titanInstance commit vertex,an error happened ,anyone knows the reason please help me ,I would be grateful,below is the error:
Caused by: com.thinkaurelius.titan.diskstorage.locking.PermanentLockingException: Expected value mismatch for KeyColumn [k=0x200-164-214-194- 16-165-160-114-116- 37-111-116-104-101-242, c=0x  0]: expected=[] vs actual=[ 18-112-133](stor

[2015-12-02 01:29] laxatives commented on #1183
I think I'm experiencing this bug as well while trying to deserialize properties like `[{ei=EventId, ec=Catgory, es=Source}]`. Is the resolution on the write side or the read side, ie, will the next release allow me to import existing GraphSON files? Will this change be included in the next version with TinkerPop3.1.0?

[2015-12-02 21:01] spmallette commented on #1198
Fixed via 2df21d5b0becc731471423018234126a781c6534 - tested ssl manually - seems to be all good.

[2015-12-02 21:01] #1198 closed, assigned to nobody

[2015-12-02 21:04] spmallette commented on #1199
Depending on the context of what you are dong - this locking exceptions are expected.  Typically it just means that you need to retry the transaction.  if transaction retry doesn't eventually allow the transaction to complete, you might have a different problem in which case you should likely bring up your problem with specific reproduction steps on the Aurelius Graphs mailing list:

https://group

[2015-12-02 21:04] #1199 closed, assigned to nobody

[2015-12-02 22:14] spmallette commented on #1193
merged on #1194

[2015-12-02 22:14] #1193 closed, assigned to nobody

[2015-12-03 10:11] mbriskar opened #1201 "Question: A huge amount of locks cause OutOfMemoryException"
Hello TitanDB team,
we are using titan in jboss windup (https://github.com/windup/windup) and we experience OutOfMemoryExceptions in the long run. I am writing this issue to kindly ask you for a help. I don't know what exactly is happening and if there is an easy way to fix it.
Here are the facts:
- The OutOfMemoryException is thrown because of titan with BarkleyDB taking around 60% of available h

[2015-12-03 19:35] laxatives opened #1202 "Flatten Documentation"
Could you release a version of the documentation on a single page? Its a bit difficult to navigate as is without a time-consuming exhaustive search. Google site: helps, but returns many false positives. IMO a single page with ctrl+f would also greatly increase feature discovery.

[2015-12-03 19:42] Airswoop1 commented on #1202
@laxatives I use a chrome extension that enables me to search through any github repository's entire wiki: https://chrome.google.com/webstore/detail/github-wiki-search/gdifdhnjmjaidbajhapmbcbnoocoeooc?hl=en

This may be of use for you.

[2015-12-03 19:54] spmallette commented on #1202
careful....Titan doesn't publish to the wiki anymore though.  All the current documentation is in asciidoc and published to html.

[2015-12-03 22:00] dalaro commented on #1202
Titan is already capable of generating a one-page manual.  I configured that back when we moved to an AsciiDoc + DocBook toolchain.  It still pops out in `titan-doc/target/docs/single/index.html` during the build process, but it's not uploaded anywhere.

My browser has a mini-stroke when opening it (the markup alone is 1.4 MB), but it's still essentially usable.  It would probably be unpleasant if

[2015-12-03 22:05] spmallette commented on #1202
ha - tinkerpop's single page reference docs with images and all seems to come in around 16MB - going to choke the life out these browsers - for realz.

[2015-12-07 02:01] espeed opened #1203 "Add Support for Cloud Bigtable HBase-Compatible Client"
Google's fully-managed Cloud Bigtable service provides an HBase 1.0 and 1.1 compatible client, which should be a drop-in replacement for the hbase-client:
- https://cloud.google.com/bigtable/docs/using-maven
- https://cloud.google.com/bigtable/docs/connecting-hbase

The read/write latency at 99% is 6ms:
http://googlecloudplatform.blogspot.com/2015/05/introducing-Google-Cloud-Bigtable.html

[2015-12-08 11:19] spmallette commented on #1183
@laxatives i'm not sure that i follow you.  can you please elaborate on the problem?  and yes, this fix will be in the next release.

[2015-12-08 20:56] dylanht commented on #1191
+1

Federating many resources into an integrated graph model can expose a lot of simplifications to the schema, things that need to be renamed to differentiate them, things that can be combined and done away with or changed to improve your setup - but not necessarily when you are at the stage of planning the schema, and not necessarily until you've seen use cases and statistics pile up (not that I

[2015-12-09 07:23] yuanboliu opened #1204 "Upgrade dependent solr version"
I'd like to use current solr version 5.3.1 in titan-solr project, it compiles failed, In Solr 5.3.1, it use updateLiveNodes() instead of updateClusterState() method.

[2015-12-09 07:33] yuanboliu commented on #1204
Here is the fix
[Titan-1204-patch.txt](https://github.com/thinkaurelius/titan/files/56473/Titan-1204-patch.txt)

[2015-12-10 00:50] steowens opened #1205 "IllegalArgumentException when attempting to run an indexQuery against a composite index."
Aside from the fact that I have no idea what the differences are between a mixed index and a composite index and aside from the fact that I can't create a mixed index without an external backend.  I just want to put exact match keys on properties and retrieve vertexes efficiently by unique key.  But when I run TitanGraph.query() it does not use my indexes, and when I run TitanGraph.indexQuery(...)

[2015-12-10 01:14] steowens opened #1206 "TitanGraph query provides no means for efficient indexed queries using composite indexes"
The only way to query for a vertex using the query() function on TitanGraph is to use the .has() constraint.  The .has() constraint does not leverage indexes.  Which seems to translate to the inefficient gremlin query:

g.V.has("name","marko")

Why is it not possible to do the java equivalent to the gremlin query so that indexes will be used?:

g.V("my_key", "abc")

[2015-12-10 19:11] spmallette commented on #1205
Seems like you just need a composite index since all you need is a direct unique match:

[code]

I borrowed the above code from `GraphOfTheGodsFactory`:

https://github.com/thinkaurelius/titan/blob/ee226e52415b8bf43b700afac75fa5b9767993a5/titan-core/src/main/java/com/thinkaurelius/titan/example/GraphOfTheGodsFactory.java#L55-L61

If you have more questions about indices you should probably bring t

[2015-12-10 19:11] #1205 closed, assigned to nobody

[2015-12-10 19:14] spmallette commented on #1206
If you've gotten the indices set up properly on 'name' then `g.V().has('name','marko') should properly use the indices.  note that in Titan 1.0, there is no such method signature as`g.V("my_key", "abc")`.  Please use the [mailing list](https://groups.google.com/forum/#!forum/aureliusgraphs) for questions about titan usage - thanks.

[2015-12-10 19:14] #1206 closed, assigned to nobody

[2015-12-15 20:01] ghost commented on #1204
Do you know if your changes are backwards compatible with older versions of Solr ?
If these changes are included in a build, does that force someone using the latest version of Titan to upgrade their Solr ?

[2015-12-16 07:24] briandilley commented on #1052
So does that mean titan will never run on CQL?

[2015-12-16 12:21] ghost commented on #1203
What are your thoughts on how to provide this ?  Will you provide the support in a separate repo, similar to what Amazon did for their AWS DyanmoDb repo ?
https://github.com/awslabs/dynamodb-titan-storage-backend

Or are you suggesting this be a package inside of Titan ?

[2015-12-16 12:23] xavierhardy opened #1222 "Support composite index uniqueness for edges"
In the documentation in 8.1.1.1 Index, you mention that
_If a composite graph index is defined as unique() there can be at most one vertex or **edge** for any given concatenation of property values associated with the keys of that index._
http://s3.thinkaurelius.com/docs/titan/1.0.0/indexes.html

However, it is impossible to create _unique_ indexes for edges.

[code]

This would be useful to enfor

[2015-12-16 12:25] ghost commented on #1202
@laxatives Did the responses here resolve your question ?  Can this issue be closed now ?

[2015-12-16 15:39] ghost commented on #1201
Titan Versions Being Used For This Report:
 <version.titangraph>0.5.4</version.titangraph>
 <version.tinkerpop.blueprints>2.5.0</version.tinkerpop.blueprints>

[2015-12-16 16:03] ghost commented on #1180
This is working as designed.

Titan tracks the existence of the index in its own store and has no way to know that the index was deleted externally or out of band.  One could imagine a feature where the integration between Titan and an indexing backend like ElasticSearch and/or Solr/SolrCloud is tighter, but this could be a substantial work effort to get "right".

[2015-12-16 16:04] dalaro commented on #1201
Re your question: reducing BDB's tx isolation to READ_UNCOMMITTED will disable locking during reads.  Here's the section of the 0.5.4 docs where the option is described: http://s3.thinkaurelius.com/docs/titan/0.5.4/titan-config-ref.html#_storage_berkeleydb.

Does this lock count seem plausible, given your knowledge of the app?  It seems like this would require a long-lived transaction that reads a

[2015-12-16 16:58] ghost commented on #1169
Any progress in investigating this problem ?

[2015-12-16 17:30] ghost commented on #1168
storage.hostname is misnamed.  It is actually a list of the zookeeper servers in your environment.  Titan can then find HBase via the Zookeeper.  fengkai9 supplied a correct answer.  Is this issue ready to be closed now ?

[2015-12-16 17:51] ghost commented on #1155
Dan, is the pom.xml content in question found in titan-core pom.xml between:
<execution>
                        <id>shade-gremlin-groovy</id>
</execution>

?
If so, do you want me to go ahead and submit a pull request for this to remove this section (the entire shade section it would appear) from the pom.xml ?  I will submit on the tp3-ci-31 branch.

[2015-12-16 17:57] ghost commented on #1151
This problem looks like it is now resolved.  Can we close this now ?

[2015-12-16 17:58] spmallette commented on #1165
Cleaned these docs up.

[2015-12-16 17:58] #1165 closed, assigned to nobody

[2015-12-16 18:22] ghost commented on #1131
I recommend closing this / any feature request around Astyanax.

Astyanax is behind in its support for Cassandra versions. It currently supports only 2.0.x, and the Astyanax driver doesn't work with Cassandra 2.2.x due to changes in Cassandra support.

Rather than develop new features around Astyanax, it sees better to stay status-quo or even deprecate the Astyanax functions with a plan to remove

[2015-12-16 18:25] ghost commented on #1130
Recommend this be closed.  This is not an issue on the project.

[2015-12-16 18:37] ghost commented on #1125
Same question I had on another Issue - but Astyanax doesn't look like it supports Cassandra 2.2.x.

Are we going to get into submitting pull requests there to upgrade the Astyanax / Thrift version of their driver...or what is the thought on how to continue doing Thrift with Cassandra 2.2.x + given the non-backwards changes that were made in Cassandra ?  The Thrift driver still works, but per remar

[2015-12-16 18:49] ghost commented on #1117
This is now a duplicate of 1203.  Recommend we close either this one or 1203, and not sure this needs an issue open against Titan, unless the idea is Titan include a titan-bigtable module, which doesn't seem like a good idea.

[2015-12-16 18:56] #1130 closed, assigned to nobody

[2015-12-16 18:59] twilmes commented on #1169
I added runners for the TP 3 tests with query.batch=true with this PR: https://github.com/thinkaurelius/titan/pull/1190

I was planning on using that as a jumping off point to do further analysis because it uncovered around 60 or so failures when I ran it that seem to be a result of the multiquery optimization steps.

[2015-12-16 19:01] spmallette commented on #1160
The docs were updated in the the PR #1162 - closing.

[2015-12-16 19:01] #1160 closed, assigned to nobody

[2015-12-16 19:01] twilmes commented on #1151
Yeah, this has been resolved.  Not sure if it would be a good idea to create a new issue to make sure that when TINKERPOP-844 is finished, any necessary updates will be made.  Although, that'll probably trickle down through the release notes/upgrade instructions with whatever TP release it makes it into.

[2015-12-16 19:04] spmallette commented on #1117
Closing in favor #1203 as @graben1437 suggested.

[2015-12-16 19:04] #1117 closed, assigned to nobody

[2015-12-16 19:05] ghost commented on #1112
Is this now a documentation defect to add information about (?i) into the Titan docs ?
Is there a reason to change Titan code to support this feature differently ?

[2015-12-16 19:25] spmallette commented on #1151
I would guess that we'd pick that up through the upgrade process. closing - but if you want to create another one referencing that issue then i guess that's cool. up to you....thanks.

[2015-12-16 19:25] #1151 closed, assigned to nobody

[2015-12-16 22:01] zifnab87 commented on #1180
@graben1437 So how can I force Titan to rebuild the indices from scratch?

[2015-12-16 22:05] ghost commented on #974
Hi Dan, Can you please provide more of a description for this ?  Is this still applicable even with the new GraphComputers in addition to the HadoopGraph processing ?

[2015-12-16 22:11] ghost commented on #949
Do we know if the Cassandra defect referenced addressed this problem or if there is still a concern about astyanax caching or some other unkown cause ?

[2015-12-16 23:24] ghost commented on #925
Chapter 43 is gone from the Titan documentation.
The Hadoop-Gremlin Chapter 32 doesn't contain information on vertex-query-filter.
Can this be closed now ?

[2015-12-16 23:28] ghost commented on #917
Last entry indicates this will be moved to backlog until further information is gathered.
Are there more details on edges with null properties required in the indexes at this point ?

[2015-12-16 23:31] ghost commented on #915
Is there any documentation or description of the "pathological configuration" that triggers a dirty vertex to be evicted prior to being written by a thread ?  Any recommendations on how to fix this ?

[2015-12-16 23:43] ghost commented on #896
Curious what happened to this.  There was an experimental build that implemented some of these features.  Was this deemed not necessary or did we just  get sidetracked and not get back to this ?  Is there final agreement on the overall design ?

[2015-12-16 23:49] spmallette commented on #925
I was looking at this earlier today.  Seems like we should still want to have these filters to keep things efficient when reading out data with hadoop-gremlin.

[2015-12-17 02:18] laxatives commented on #1183
Yes, my question was whether I would need to rewrite existing files. It sounds like the answer was yes, I needed to have them written with Extended mode to explicitly describe the type of the serialized object.

Titan won't support containers like ArrayList and HashMap in the future correct? We will need to provide a serializer for these formats?

[2015-12-17 04:49] ghost commented on #861
Some of the Fulgora code is still used even with the latest 1.X code.  Are these changes still relevant or have they been removed/fixed with the GraphComputer and Hadoop-Gremlin changes so that this can be closed ?

[2015-12-17 11:11] spmallette commented on #1183
No - Titan won't support those that I know of.

[2015-12-17 12:17] spmallette commented on #1189
I don't know of any of anyone using the Eclipse on the Titan core dev team, so i'm not sure that anyone can assist you with this one.  You might try to bring it up on the mailing list - perhaps an eclipse user will have some ideas there.

[2015-12-17 12:17] #1189 closed, assigned to nobody

[2015-12-17 12:19] spmallette commented on #1181
@PommeVerte any update on this one?

[2015-12-17 12:40] spmallette commented on #1176
Are you still seeing this exception? I remember reading this some time ago, but nothing jumped out at me as an error i commonly see.

[2015-12-17 13:21] ghost commented on #837
It is not clear to me after reading through this what the "Issue" with Titan is, other than documentation that might need removing.  It sounds like the "Issue", in this case is that, at least at te time of reporting (over a year ago) DataStax Enterprise Edition didn't have key capabilities and was back level in its Solr support.

Can someone provide an update on if DSE now works, or if we should m

[2015-12-17 13:42] spmallette commented on #165
last mentions of these problems go back to titan 0.3.x - Is this still an issue as of Titan 1.0? @graben1437 you do a fair bit with hbase - can you confirm this as something we could close?

[2015-12-17 13:46] ghost commented on #795
Hi Scott,

Following up on your PostgreSQL work.  I didn't see this work in your public repo.  Were you able to complete the PostgreSQL backend ?

[2015-12-17 13:56] ghost commented on #780
Realistically, is this something anyone is going to do or can we just close this ?  I haven't seen a single request for OSGi with a single one of my use cases.  If someone wants it that badly, can we ask them to show up with a sample build ?

[2015-12-17 14:02] ghost commented on #753
Originator wrote "I guess this can be closed, unless you want to add some graceful handling. Thanks."

Can we close this now, or is there some additional work that is planned ?

[2015-12-17 14:28] ghost commented on #719
I recommend we close this.  Dan requested a pull request if possible and none was provided.  This cannot be that important after 482 days ?

[2015-12-17 14:30] #719 closed, assigned to dalaro

[2015-12-17 14:31] spmallette commented on #398
Discussions with @dalaro yesterday made it sound like this wasn't going to happen. - closing

[2015-12-17 14:31] #398 closed, assigned to dalaro

[2015-12-17 14:34] spmallette commented on #392
Given that we haven't seen any action on this since it was first discussed, I'm going to assume that this is not something Titan will support out of the box.  The "rexster wrapping" i referenced in the link above btw ended up being a hassle to manage as i recall - probably not something we'd want in the picture anyway.

[2015-12-17 14:34] #392 closed, assigned to dalaro

[2015-12-17 14:49] ghost commented on #673
An issue open against Titan implies to me that there is work to be done in the Titan code base.  I don't think we want to make changes to Titan for this particular back end.  In that case, this isn't an "Issue" or feature request that needs to be open against Titan.  Someone can still show up with a technology preview in their github repo for hyperdex and at that point there could be a discussion

[2015-12-17 14:52] ghost commented on #666
What is the compelling use case that would warrant the additional code complexity for adding this feature ?

[2015-12-17 14:56] spmallette commented on #673
I'd agree.  If someone would like to develop the hyperdex backend, butild it in a separate repo and present it to the community on the mailing list - we can go from there.

[2015-12-17 14:56] #673 closed, assigned to nobody

[2015-12-17 15:00] dalaro commented on #753
I'm not sure what the next steps should be.  I looked at the linked issue, but I couldn't figure out what it implied for Titan in terms of graceful handling.  I'm closing it by default -- but don't hesitate to reopen or open-new if you want to pick this back up.

[2015-12-17 15:00] #753 closed, assigned to mbroecheler

[2015-12-17 15:49] jturmel commented on #1117
Seems weird since this one was opened/existed first... but anyhow. :smile:

[2015-12-17 15:51] jturmel commented on #1203
Since it should be closely related to the KeyValueStore it seems like making it part of the core package wouldn't hurt anything.

[2015-12-17 15:59] spmallette commented on #1117
If it makes you feel any better, I suspect the other will be closed as well before we're all done going through issues. :)

When it comes to new backends for Titan, we generally like to see folks develop those externally in their own repositories, get community feedback and then watch how it evolves.  Amazon did this nicely.  I think MapDB has an implementation in the works like that.

[2015-12-17 18:36] ghost commented on #459
I believe Hazelcast / Infinispan support was provisional and has since been dropped.  Is this still needed ?

[2015-12-17 18:39] ghost commented on #455
Same question as Dan above.  If the support was provisional and now gone, should this be closed ?

[2015-12-17 18:42] ghost commented on #450
Are the improvements that were implemented on Infinispan branch something that can be pulled over into Cassandra/HBase Titan for improved performance ?  Is this a generally applicable pattern that will improve overall Titan performance ?

[2015-12-17 18:47] ghost commented on #448
Recommend closing >> Persistit related issues.

[2015-12-17 18:50] #448 closed, assigned to dalaro

[2015-12-17 19:07] ghost commented on #301
Looks like this is resolved with a nice discussion and can be closed.  Recommend closing.

[2015-12-17 19:12] spmallette commented on #301
@timjstewart was there anything more to do here? i kinda lost track.

[2015-12-17 19:15] ghost commented on #165
@spmallette I will take a look and let you know what I see.

[2015-12-17 21:49] spmallette commented on #1202
i don't think we should upload (mostly for the @dalaro reasoning) - folks can generate locally if needed.

[2015-12-17 21:49] #1202 closed, assigned to nobody

[2015-12-17 21:50] spmallette commented on #1113
@PommeVerte do you plan on coming back to this issue?

[2015-12-18 13:16] jturmel commented on #1117
I know, mostly kidding.

On Thu, Dec 17, 2015, 10:00 AM stephen mallette notifications@github.com
wrote:

[2015-12-18 23:04] dalaro commented on #1125
Titan release 1.0.0 contains this change which adds an option to control the Astyanax thrift frame size: 1001f3a6b3c0a19222613d2385b212e7d618c89a.  However, this doesn't help the 0.5 line.  This open PR will extend the option to control the Astyanax thrift frame size to 0.5: #1146.  I think that linked PR subsumes work remaining on this issue, so I'm going to close this issue (but keep the PR open

[2015-12-18 23:04] #1125 closed, assigned to dalaro

[2015-12-18 23:07] dalaro commented on #1131
Closing this due to inactivity.  I'm willing to bring back the Astyanax-recipe locker if somebody actually had an application for it.  Otherwise, I think it's better to focus on the main locker implementation instead.

[2015-12-18 23:07] #1131 closed, assigned to dalaro

[2015-12-18 23:10] dalaro commented on #1155
By the time I've refamiliarized with the pom section in question to the extent that I can confidently show that it's unused (and answer your question), deleting it will probably be quick.  I'll take a look.

[2015-12-18 23:15] dalaro commented on #1168
graben1437 is correct; `storage.hostname` should be a comma-separated list of the zk ensemble hosts.  I'm not really clear on whether fengkai9 resolved the issue with the change in his commen, but it sounds that way to me, so I'm tentatively closing.  Please reopen if there is still an problem.

[2015-12-18 23:15] #1168 closed, assigned to nobody

[2015-12-18 23:34] dalaro commented on #1175
Do you want to just read index status at the current instant, blocking as little as possible?  If so, then `awaitGraphIndexStatus` is not the only way to do that, and it's an inappropriate tool for the job.

The state in question is defined for (index, property key) pairs.  So, first retrieve a reference to the index from the management system, then iterate over the property keys (or retrieve a sp

[2015-12-18 23:34] #1175 closed, assigned to dalaro

[2015-12-18 23:36] dalaro commented on #1176
For reference, the innermost stacktrace line: https://github.com/thinkaurelius/titan/blob/0.5.4/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/database/StandardTitanGraph.java#L573

[2015-12-18 23:38] dalaro commented on #1177
It should be supported.  "Could not find collection : edges" sounds odd, like the collections/cores Titan wants don't actually exist.

[2015-12-18 23:44] dalaro commented on #1180
Did you recreate the index with the same name?

REMOVE_INDEX, dropping in ES, and creating a new index that is functionally similar but differently named might be a workaround.  Recreating the index with the same name is almost certain to cause problems, since Titan indeed uses the primary store to hold a separate and (it thinks) authoritative record of what indices exist (C*/HBase/BDB).

This sou

[2015-12-21 18:05] spmallette commented on #301
Closing - pending specific feedback that we need to keep this open for something.

[2015-12-21 18:05] #301 closed, assigned to dalaro

[2015-12-21 18:09] spmallette commented on #64
closing this classic, classic issue from @bobbyno in favor of #165 :smile:

hopefully @graben1437 will learn that hbase is happy in the console at this point and the other issue can close as well.

[2015-12-21 18:09] #64 closed, assigned to nobody

[2015-12-21 18:16] #780 closed, assigned to dalaro

[2015-12-21 19:05] spmallette commented on #818
I'm not sure why this wouldn't work with ivy given that maven dependencies have been fine all along.  If this is somehow still an issue with Titan 1.0 you might want to bring it up on the mailing list.

[2015-12-21 19:05] #818 closed, assigned to dalaro

[2015-12-21 19:06] #496 closed, assigned to mbroecheler

[2015-12-21 19:08] spmallette commented on #795
closing - given matthias' earlier reply.  would be nice to hear if there's been any work on this though externally.

[2015-12-21 19:08] #795 closed, assigned to mbroecheler

[2015-12-21 21:14] scottauchmoody commented on #795
Matthias,
We decided to go a different route and didn't pursue using postgres to
backend Titan.
--Scott

On Thu, Dec 17, 2015 at 5:46 AM, graben1437 notifications@github.com
wrote:

[2015-12-21 21:29] spmallette commented on #1173
This bug has been a ride and I'm only at about 99% certainty that I have identified the root of the problem. Depending on how you look at it, it could be considered a "bug" in Gremlin Server or in Titan.

Here the failure, simplified:

[code]

Basically, Gremlin Server is trying to serialize a `Property` outside of its original transaction in a separate thread.  That's where it is probably a bug f

[2015-12-21 22:36] dalaro opened #1229 "Prevent infinite recursion when looking up detached vertex property ID"
Steps to reproduce (titan11@3a220c95):

[code]

The loop begins like this.  It circles ad infinitum through hasId->longId->it->it->RelationIdentifier.get.  I have main stopped here with a debugger so that the initial call that starts the loop is visible, but it will eat the whole stack doing this if allowed to run normally.

[code]

This is similar to but distinct from #744.

I'm not confident tha

[2015-12-21 22:41] adurrive commented on #1173
Ouch, thanks for tracking this down! Great to know the next TinkerPop version should solve this.

[2015-12-22 01:49] dalaro commented on #1166
I'm unable to reproduce this.  I tried titan11 (adb2c2f682666f7b17094bfff956d14b3b83fdea):

[code]

And 1.0.0:

[code]

[2015-12-22 01:49] dalaro commented on #1166
I can't see what I'm doing wrong above.  Maybe I missed an aspect of the traversal or configuration crucial to making it fail.  Please reopen if you see something that I did incorrectly.

[2015-12-22 01:49] #1166 closed, assigned to dalaro

[2015-12-22 02:24] dalaro commented on #1187
I looked at the git history for bulkloading.txt to jog my memory.

#530 removed the third option once listed in this section.  It was `storage.idauthority-retries`.  However, that option was redundant with `ids.renew-timeout` and tended to just make tuning trickier.  Only `ids.renew-timeout` remains today.

The doc section in question talks about avoiding ID block allocation conflicts.  The option

[2015-12-23 14:54] ghost commented on #933
Checked with the originator (not Matthias, but Roy).  His remarks are as follows:

Back when this was opened, the problem was that you could not specify your own Lucene analyzer
which means you could only rely on Lucene's defaults.

But when working with Solr rather than Lucene this is not an issue.
This issue is not very important to me, so I do not mind if they close it.

[2015-12-28 07:21] rsteppac commented on #780
Bummer.

[2015-12-31 05:53] anishbansal opened #1233 "Upgrade org.codehaus.jettison.jettison dependency in Titan"
**Affected Versions:**
- 0.5.4 with Hadoop 1
- 0.5.4 with Hadoop 2
- 1.0.0 with Hadoop 1
- 1.0.0 with Hadoop 2

**Cause of issue:**
There is a bug in included org.codehaus.jettison.jettison (version 1.3.3) JSONObject.optLong method that is incorrectly giving wrong value from JSON. For example, parsing the below JSON

[code]

with the below code

[code]

shows output as 29189114749474228 instead of

[2015-12-31 15:46] RockyAi125 opened #1234 "How can i change the storage.port ?"
My zookeeper port is not  2181 and my hbase verion is 0.94.
i set the "storage.port", but no use.
I alse set the "storage.hbase.ext.hbase.zookeeper.property.clientPort" parameter , but it seems not support that.
Titan 's version is 0.4.4.
pls help.

[2016-01-05 08:55] gtiwari2015 commented on #756
Hi ,

I am trying implement reindex in our Instance that we created using Titan DB 0 .5.4 with Berkeley DB . We have data loaded in our DB and now we have put the index on once column .When trying to use the above code For reindexing  , i am getting Exception java.lang.IllegalArgumentException: Update action [REINDEX] does not apply to any fields for index  ..Please let me know will the above code

[2016-01-05 12:50] tspecht opened #1235 "Tinkerpop version: Gremlin-Server HTTP Basic Auth"
Hi everyone,

I want to use gremlin-server together with HTTP Basic Auth. This became available in version 3.0.1-incubating of Tinkerpop as far as I can see. Can you tell me which version is by default bundled with Titan, and if its below that one, how I could upgrade the gremlin-server version?

[2016-01-05 13:11] spmallette commented on #1235
Titan 1.0.0 uses TinkerPop 3.0.1-incubating:

https://github.com/thinkaurelius/titan/blob/1.0.0/pom.xml#L62

In the future please use the mailing list for questions on usage - https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-01-05 13:11] #1235 closed, assigned to nobody

[2016-01-06 13:48] ghost opened #1236 "Titan Guava Version Discussion (and StopWatch exceptions)"
Opening this issue to capture an ongoing discussion around the Guava version and StopWatch exceptions that are occurring with Titan 1.1.0/TP3 when using HBase 1.1.x on Hadoop 2.7.1.

The conversation started in a pull request #1216  but was moved here as more appropriate.
(https://github.com/thinkaurelius/titan/pull/1216)

The current version of Guava in Titan is 18.0.   Even the latest versions o

[2016-01-06 17:41] ghost commented on #1234
Hi Rocky,

Version 0.4.4 is very old.  Is there a reason you cannot upgrade to at least Titan 0.5.4 ?
Anyway, this is the way I specify ports in my titan properties file:

storage.hostname=11.115.323.48:2181

Have you tried this yet ?

[2016-01-06 18:46] ghost commented on #1236
Here are details for what appears to be a "working" environment (i.e. I can't get the StopWatch exception to happen - although it happened in this same cluster with different Titan versions, classpaths etc. in the past)

Spark is configured across 3 nodes running in standalone mode.
The master and 1 worker are running on node 2.  1 worker is on node 3.  1 worker is on node 4.
The Spark console sho

[2016-01-06 22:52] ghost commented on #1229
I wrote a small Java program that reproduces the problem outside of the Gremlin shell which can be run in a debugger.

[code]

[2016-01-06 23:17] ghost commented on #1229
Any chance of providing a "big picture" explanation of what is going on here (not the bug...but how this is supposed to work in general ? A few big picture words per the (garbage) boiler plate text below would be appreciated.

[code]

[2016-01-07 00:16] RockyAi125 commented on #1234
Hi,graben,
Thank you for your reply.
My hbase version is 0.94, there is some problem using Titan0.5.4 to connect.
But we are considering to upgrade the hbase.

storage.hostname=11.115.323.48:2181
That works!Thanks!
I also tried this parameter ,
storage.hbase-config.hbase.zookeeper.property.clientPort. It works too.

[2016-01-07 11:12] spmallette commented on #1229
@graben1437 thanks for getting some easier repro steps without gremlin server.  this is one of the issues messing with the 1.1 release.

[2016-01-07 13:55] ghost commented on #1234
Great Rocky.   Glad it is working for you.
Do you think we can now close this Issue/Jira ?

[2016-01-07 15:29] dmill-bz commented on #1113
yeah. I'm back in the office sorting my priorities. This is definitely in my top 2.

[2016-01-07 18:12] coreyauger opened #1237 ""has" traversal fails when type is UUID"
I have a user id type defined as follows

[code]

I am able to find my elements with the initial lookup like so.

[code]

But as soon as I try to filter values in my traversal.. it always fails.

[code]

Note that I can find this vertex with my initial lookup...

[code]

Also if I change the data type to a string ... then this problem goes away.

[2016-01-07 18:14] coreyauger commented on #1237
Sorry.. this is for titan `1.0`
but gremlin server `3.0.2-incubating`

[2016-01-07 18:26] coreyauger commented on #1237
This works...

[code]

But I still feel like this should be handled for you .. like it is done on the initial lookup case.

[2016-01-07 18:27] #1237 closed, assigned to nobody

[2016-01-07 18:40] ghost commented on #1233
Hi Anish,

The format that you list:

[code]

is the old Rexster format I believe, which isn't used in Titan 1.x (Gremlin server is now used).
That doesn't mean your overall point is invalid, just that the specific example you provide is only applicable for Titan 0.5.4 (I think).

I am happy to create a pull request that upgrades jettison, but would like to reproduce the problem you point out with

[2016-01-08 00:16] #1234 closed, assigned to nobody

[2016-01-09 00:49] ghost commented on #1229
Looking at the AbstractTypedRelation class, the it() method, I speculate that:
if (v == v.it())
        return this;
is not working the way it is supposed to work.

Looking carefully at what v.it() returns in the stack overflow scenario, it actually returns "the same" vertex as v.  I believe v  _should_ equal v.it().  The IDs match.    But for whatever reason, that equality is not satisfied, which

[2016-01-10 02:33] wangweislk opened #1239 "how to bulkload data to titan?"
Titan officials only configuration options and didn't see the specific Bulkload case, may I ask how to operate specific

[2016-01-11 18:13] ghost commented on #1239
Have you looked at Chapter 32 of the most recent Titan documentation ?
http://s3.thinkaurelius.com/docs/titan/1.0.0/titan-hadoop-tp3.html
If you look at those instructions, it shows how to use the BulkLoaderVertexProgram
which uses Spark to load data into a Titan graph.

[2016-01-11 18:44] okram commented on #1239
The Titan issue tracker is not a question and answer forum. Please use the mailing list for for questions.

[2016-01-11 18:44] #1239 closed, assigned to nobody

[2016-01-12 15:07] mbriskar commented on #1201
Hi @dalaro, sorry for quite later response. We used READ_UNCOMMITTED with quite good success now (since the app is running in different phases and we are not modifying graph once the reading phase is ON).
The lock count is generally not plausible, it depends on the input. With the long-lived transaction you are right. However, in case we are using READ_UNCOMMITTED, it probably doesn't matter or do

[2016-01-13 21:52] ghost opened #1240 "Java application appears to frequently disconnect/reconnect to Zookeeper on Titan/HBase"
Per comments on this thread from the mailing list, I am opening an issue in case we need to look further into why Titan/HBase appears to constantly reconnect to ZooKeeper.

Here is the entire thread:
https://groups.google.com/forum/#!topic/aureliusgraphs/xJjMTioOAvM

Here is an opening remark describing the problem:

We've noticed that even when our application is idle it appears to be frequently

[2016-01-14 14:10] ghost commented on #1176
I am happy to look into this, but am a bit clueless at how to start with reproducing it.  If there are any suggestions on how to reproduce this, please let me know.

[2016-01-14 14:37] ghost commented on #1174
Dan, any remarks or hints before I look into this ?

[2016-01-14 15:02] ghost commented on #1174
@zyoo :  For completeness, what version of Titan were you using when you saw this exception ?
Thanks,

[2016-01-14 15:17] ghost commented on #1174
Looking at the code and line numbers, I speculate this was generated on Titan 0.5.4

[2016-01-14 16:20] ghost commented on #1174
Pull request 1076 in Titan 1.0
for Issue 1019 "Better Support For Timestamp"  found here:
https://github.com/thinkaurelius/titan/commit/f13611c5687999ab4162df30c9a3d5a8251d3f89#diff-0084690d5160735b1c14b7a7988a0e09

removed the StandardDuration custom class that appears in the above 0.5.4 stack trace here:

Caused by: java.util.IllegalFormatConversionException: d != com.thinkaurelius.titan.disksto

[2016-01-14 18:20] ghost commented on #1174
This small sample program may reproduce the problem described in the original stack trace.  This uses Titan 1.1 class types - so perhaps the problem still exists.  Will see if I can propose a fix:

[code]

And the results:

[code]

[2016-01-14 18:38] ghost commented on #1174
I don't know how to cause this problem to happen using Titan itself but the test program seems to uncover the issue.

It appears calling timeout.getNano() to convert the Duration to a long fixes the problem of formatting this with a %d.  Fix submitted in pull request: #1241

[code]

[2016-01-14 21:41] pluradj opened #1242 "gremlin.bat and gremlin-server.bat issues in titan-1.0.0"
An old thread, but still relevant in titan10 and titan11 branches:
https://groups.google.com/d/msg/aureliusgraphs/tZ0XhwJY9jQ/R-jboJBWAgAJ

More recently
http://stackoverflow.com/questions/34793406/activate-tinkerpop-plugins-for-titan

If you unzip titan-1.0.0-hadoop1.zip on Windows, you'll see errors out of the box.

[code]

I think the fix is to get the gremlin*.bat files better aligned with the

[2016-01-15 15:22] ghost commented on #1176
Intellij cautions for the apply() method:

This is due to the possibility that internalRelation could be null and there are no checks on this object prior to attempting to make method calls on it.

This doesn't explain the  big picture"  yet and whether it is valid for internalRelation to be null in any cases, but is a plausible explanation for the generation of the null pointer exception.

[2016-01-16 04:42] mckenzig commented on #1242
Hi - this resolved the gremlin.bat "The input line is too long." issue for me. Thanks,

[2016-01-16 09:28] dohrayme opened #1243 "Titan1.0.0, repeat().until() with Cassandra/multiQuery gives an NPE"
A query such as:

g.V().has("person", "name", "bob").repeat(_.out("knows")).untilWithTraverser(!_.get.outE("knows).traversal.hasNext).toList()

gives an NPE in TitanVertexStep at:

[code]

while executing, multiQueryResults is null.

Looking into what happens, TitanLocalQueryOptimizerStrategy appears to do a fold on the until traversal.

[code]

However, this causes TitanVertexStep to not create i

[2016-01-18 02:52] laxpatil opened #1244 "titan-1.0.0-hadoop1 compatibilty issues with apache-cassandra-3.2"
I am trying to connect **titan-1.0.0-hadoop1** with **apache-cassandra-3.2**.

I am using following " titan-cassandra-myfile.properties " :

[code]

When I use gremlin to execute following command:

[code]

I am getting following error:

[code]

When I use same configurations with  **apache-cassandra-1.2.5**  and **titan-all-0.3.1** , the above config works and it creates a graph.

Please suggest

[2016-01-18 14:27] pluradj commented on #1244
Check the [version compatibility](http://s3.thinkaurelius.com/docs/titan/1.0.0/version-compat.html) table. Titan 1.0.0 is compatible with the Cassandra 2.1.x stream. If you want to try Cassandra 3.x you would need to [enable thrift](https://groups.google.com/d/msg/aureliusgraphs/SuUdOn3mh2s/vpMAhjSuCgAJ), but keep in mind that you may run into compatibility issues beyond that.

Please don't use ti

[2016-01-18 18:00] laxpatil commented on #1244
Thnaks @pluradj !

I will use Cassandra 2.x with Titan 1.0.0 and check my codes with it. I will close this issue, if no more mismatches.

[2016-01-19 02:23] robtownley commented on #1134
I also get the same issue, also when trying to use the TitanIndexRepair.hbaseRepair as described at http://s3.thinkaurelius.com/docs/titan/0.5.0/reindex.html i use encounter a similar issue where only a subset of the vertices get added to the index. It looks to me as though titan-hadoop scans through all vertices or edges, gets about a quarter of the way through and then gives up.

has this been p

[2016-01-19 02:25] laxpatil opened #1245 "How to retrieve already built graph from Cassandra using Gremlin or Java for GraphOfTheGodsFactory.java?"
I have a query regarding the code GraphOfTheGodsFactory.java. The code creates a graph and stores and commits in Cassandra.

How to retrieve the already built graph in Cassandra later either from Java or Gremlin? How does the code look like? I searched on whole Titan website no where it is mentioned how to retrieve already stored database.

[2016-01-19 02:26] okram commented on #1245
This is an issue tracker, not a support forum. Please use the mailing list.

[2016-01-19 02:26] #1245 closed, assigned to nobody

[2016-01-21 03:48] ghost commented on #1244
If you check the repo here:
https://github.com/graben1437/titan1withtp3.1
which is more of a titan 1.1 version,  I upgraded Thrift to work with Cassandra 2.2+

To find those changes easily, go to the titan-cassandra dir and find/grep for DAVID in the java files below that dir.

[2016-01-21 03:49] ghost commented on #1236
Linking in another "Issue/Feature" on this topic from Dan.
https://github.com/thinkaurelius/titan/issues/1139

[2016-01-21 03:52] ghost commented on #1139
@dalaro  This seems to be a blocker for SparkGraphComputer to work with HBase, so I am looking at this.

[2016-01-23 23:34] srini-daruna opened #1249 "Getting Could not instantiate implementation: com.thinkaurelius.titan.diskstorage.es.ElasticSearchIndex for 0.5.4 version"
I am trying basic java example for titan 0.5.4, in which graph is not being instantiated with the below error.

Exception in thread "main" java.lang.IllegalArgumentException: Could not instantiate implementation: com.thinkaurelius.titan.diskstorage.es.ElasticSearchIndex
    at com.thinkaurelius.titan.util.system.ConfigurationUtil.instantiate(ConfigurationUtil.java:55)
    at com.thinkaurelius.tita

[2016-01-25 01:02] mohataher opened #1251 "NullPointerException in TitanBlueprintsGraph$GraphTransaction"
I'm using Titan 1.0.0 and Amazon DynamoDB as a backend. I'm getting this severe error causing my code to continuously crash at random times. Each time I run my code that involves opening and committing loads of transaction for around 6 hours, I get this error at random times. It's caused by a `NullPointerException` in `TitanBlueprintsGraph$GraphTransaction`

[code]

My code struture looks similar

[2016-01-25 07:22] raviknits commented on #821
@mbbeaubi  - I too have a similar scenario where I am trying to load Titan Graph into GraphX for processing. I am stuck with mapping the FaunusVertex of Titan to EdgeRDD of GraphX.
How did you map Titan's FaunusVertex to Graphx's EdgeRDD for running graph algorithms?
Do you have some custom code which you could share?

[2016-01-25 12:05] spmallette commented on #1251
what happens if your structure is just:

[code]

[2016-01-25 19:45] nastacio commented on #755
In TP3

g.V().hasLabel('blogger').has('bloggerId', 'tw1004449045')

[2016-01-26 10:29] mohataher commented on #1251
I switched my code structure to what you propose,  I got this error

[code]

It's interesting that it:
1. Failed straight on my line `graph.tx().rollback()` which means there could be a bug in Titan code that might occur under loads of loading/creating and updating vertices and edges. Or could also be caused as a result of using DynamoDB
2. This new structure failed very quickly in comparison to m

[2016-01-26 11:06] spmallette commented on #1251
your stacktrace sill shows a call to `isOpen()`.  are you still calling that method? if so, can you please remove it and see what happens?

[2016-01-26 11:50] spmallette commented on #1249
Please use the mailing list for these types of questions:

https://groups.google.com/forum/#!forum/aureliusgraphs

As for your question, it's very odd that you would get the error you are getting about ES.  You are supplying a completely empty `Configuration` object to `TitanFactory.open()`.  I would have expected a different error.  If you are just getting started, I suggest that you use Titan 1.

[2016-01-26 11:50] #1249 closed, assigned to nobody

[2016-01-26 12:29] mohataher commented on #1251
My code failed at `graph.tx().rollback()` line. Looking at the trace, it seems like `isOpen()` method is called from `Transaction$READ_WRITE_BEHAVIOR` at line 209. This line was originally called through `Consumer<Transaction>#accept()` method which was called from `graph.tx().rollaback()` line.

Here is a snippet of the error

[code]

[2016-01-27 08:32] effyteva commented on #1191
+1
This makes upgrading tasks extremely complicated.

[2016-01-27 16:41] ghost commented on #1244
@laxpatil   have you had a chance to review this ?  Since this defect reports something outside of the current support martrix, we should move towards closing it.  LMK.

[2016-01-28 09:28] mohataher commented on #1251
Hello Stephen:

I switched to Berkeley and ran the same script. It passed with no issues.

Now looking at this issue, I feel it should be more vendor specific rather than Titan. However, I think it would have been great if Titan code exposed the real reason of the error (which I assume it's vendor specific).

I'm going to post an issue on [dynamodb-titan-storage-backend](https://github.com/awslabs

[2016-01-28 12:39] spmallette commented on #1251
I was wondering if it was a dynamo issue....ok - thanks for the update.

[2016-01-28 12:39] #1251 closed, assigned to nobody

[2016-01-29 04:41] laxpatil commented on #1244
Thanks @graben1437 .

I verified the compatibility I am using now Titan 1.0 with Apache Cassandra 2.2.4. It is working properly.

Thanks. We can close issue now.

[2016-01-29 04:41] #1244 closed, assigned to nobody

[2016-01-29 17:48] leifurhauks opened #1254 "Docs, Chapter 3, select() fails"
Following the docs, section 3.3.2.2 Pluto's Brothers, the following query fails:

[code]

So the method `select` without any parameters apparently does not exist?

The following does work:

[code]

This example in the docs should be updated to reflect the traversal API.

[2016-01-29 17:52] spmallette commented on #1254
yeah - i think you have to specify the labels explicitly now.  don't remember the reason for that offhand. thanks for mentioning this.  if you'd like to submit a PR i can get that merged - please submit to the titan11 branch if you intend to do that.

[2016-01-31 08:17] esatsuta opened #1256 "Index and storage inconsistencies"
When removing a bunch of vertices using hadoop, and something goes wrong (storage exception, unexpected termination, etc), it's possible that standard index will become inconsistent with existing vertices, e.g. vertex already removed, while it's s till present in the index.
As a result, querying such index will return 'empty' vertex: {label: "_default", ID: 33146368} which could not be used nor re

[2016-02-01 12:17] spmallette commented on #1256
The issue tracker isn't for usage questions - please ask such questions on the mailing list:

https://groups.google.com/forum/#!forum/aureliusgraphs

In the meantime, you might want to read about re-indexing procedures here:

http://s3.thinkaurelius.com/docs/titan/1.0.0/index-admin.html

[2016-02-01 12:17] #1256 closed, assigned to nobody

[2016-02-01 14:40] mohataher commented on #1251
Hello Stephen:

Sorry to get this back to life. I have changed my code to managed transactions. I caught this error

[code]

The same code passed when I used `berekelyj` as a persistence backend. I have also opened up an issue at [dynamodb-titan-storage-backend](https://github.com/awslabs/dynamodb-titan-storage-backend), please access it through this [link](https://github.com/awslabs/dynamodb-tita

[2016-02-02 16:57] twilmes opened #1257 "Add LOCAL_ONE as Cassandra consistency level option."
The possible Cassandra consistency levels are missing LOCAL_ONE as an option.

https://github.com/thinkaurelius/titan/blob/titan10/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/CLevel.java

[2016-02-02 23:37] mvbaffa opened #1259 "Gremlin Server and Cassandra"
I am starting to work with Titan and I am using cassandra as backend store.

When I start titan.sh cassandra and elasticsearch were started but the gremlin server did not.

I was looking at titan.sh and I have seen that it start gremlin server with conf/gremlin-server/gremlin-server.yaml. The problem is that the gremlin-server.yaml is configured as this:
graphs: {
  graph: conf/gremlin-server/tita

[2016-02-03 02:00] mvbaffa opened #1260 "TitanDB and Spark"
Hi,

What is reallly the interface between Spark and TitanDB ?

I could not find any reference to spark in TitanDB. How can they fit together specially the ML library of Spark.

Thanks

[2016-02-03 06:17] Astn commented on #1259
Are you looking for this?
https://github.com/thinkaurelius/titan/blob/titan11/titan-dist/src/assembly/static/conf/gremlin-server/gremlin-server.yaml

[2016-02-03 11:09] spmallette commented on #1260
Usage questions should be posted to the mailing list - which I think you already did:

https://groups.google.com/d/msg/aureliusgraphs/fQABVr6wgxY/MyVe2V12CQAJ

I'm not sure what else you are looking for in terms of the "interface between Spark and Titan.  TinkerPop provides a general purpose query language in Gremlin for traversing large scale graphs over spark.  You don't directly use Titan with

[2016-02-03 11:09] #1260 closed, assigned to nobody

[2016-02-03 11:10] spmallette commented on #1259
Please post usage questions on the mailing list:

https://groups.google.com/d/msg/aureliusgraphs/fQABVr6wgxY/MyVe2V12CQAJ

[2016-02-03 11:10] #1259 closed, assigned to nobody

[2016-02-03 11:17] spmallette commented on #1251
I don't know anything about dynamodb's implementation so I can't comment intelligently on that.

[2016-02-03 19:39] ghost commented on #1236
I was able to solve my Stopwatch issues without more shading.  I moved the StopWatch file in the build from the hbase section to the titan core section, bumped the guava version of Titan down to 16 (correct move...no reason to be at 18 right now - that is more advanced that Spark, HBase, Cassandra or anything else).  I am going to close this issue because I think I know what to do to solve the Sto

[2016-02-03 19:39] #1236 closed, assigned to nobody

[2016-02-06 00:33] twilmes commented on #1243
It looks like this duplicates #1169.

[2016-02-08 02:09] technotrance commented on #1243
Good init

[2016-02-09 14:40] spmallette commented on #1174
merged #1241 - thanks

[2016-02-09 14:40] #1174 closed, assigned to dalaro

[2016-02-10 07:54] javajpn opened #1261 "Not able to run Gremlin in titan11-hdfstinkergraph"
I am using titan graph database. While running gremlin  getting below message

[code]

[2016-02-10 08:00] javajpn opened #1262 "can we export graph from Spark GraphX to titan Database??"
I am checking the feasibility of Exporting graph from Spark GraphX to a file and reading in the Titan graph database.

**_Used below code to construct graph in Spark GraphX and writing graph to a json file :**_

[code]

While running the above code it creates folder with the name that I mentioned D://Spark-GraphX-vertices.json and few other files inside that. But those files does not contain any d

[2016-02-10 09:45] technotrance commented on #1262
Chech the repositories i contribute to for the graph otherwise you need to star a relevant programme

[2016-02-10 11:41] spmallette commented on #1262
The issue tracker is not for usage questions.  Please post your question to the mailing list:

https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-02-10 11:41] #1262 closed, assigned to nobody

[2016-02-10 11:42] spmallette commented on #1261
Please see #1242

[2016-02-10 11:42] #1261 closed, assigned to nobody

[2016-02-10 11:45] spmallette commented on #1242
@pluradj do you still have a PR coming for this?

[2016-02-10 11:47] technotrance commented on #1242
This is solely my own repository

[2016-02-10 15:08] pluradj commented on #1242
@spmallette yeah, finally dusted off the Win machine again for TP3 voting. I'll get the PR submitted based off the branch linked above.

[2016-02-10 15:31] spmallette commented on #1242
cool - i'd really like to get a titan release put together soon. the delay has been good in some sense, but there have been a lot of bug fixes on the TP side that titan should support at this point

[2016-02-11 14:59] ghost commented on #1257
Pull request 1258 submitted to fix this.

[2016-02-11 15:01] ghost commented on #1254
Hope I didn't miss it, but didn't see a Pull Request for this - I'll submit one and return here with the PR number to close the loop.

[2016-02-11 15:07] spmallette commented on #1254
PR #1255 was merged.

[2016-02-11 15:07] #1254 closed, assigned to nobody

[2016-02-11 22:20] mvbaffa commented on #1259
Thanks Austin

[2016-02-12 10:43] layik opened #1264 "Path including space"
Hi there, early days on Titan Graph. I tried to find the issue in the previous threads so if duplicate please delete this or if it has already been fixed.
I tried to run the 1.0.0-hadoop1 version from an external drive with path name including a space (Ubuntu 15.10). Java trace was showing an error for first part of the path name. So for "My Path" it was complaining that it cannot find "My" path.

[2016-02-15 17:03] ghost opened #1266 "Update docs to indicate setting custom IDs is currently not supported."
This issue relates to this discussion on the mailing list:
https://groups.google.com/forum/#!topic/aureliusgraphs/DZcMUnXW5mo

The ability to supply custom IDs is disabled in the code, but the documentation still shows that the capability exists.

Without more information about the "why" this was disabled and whether there was intention to add this capability back in differently, it appears we sho

[2016-02-18 04:58] mishraawake opened #1267 "Problem in titan re-index."
We have a graph database of size 88 gb backed by cassandra storage. We already have several vertex centric index in the graph.  We created another vertex centric index on graph through hadoop map reduce job that is provided with titan distribution.
**The job created the index successfully but created index structurally damaged our graph. We witnessed several -IN edge relationship being created wit

[2016-02-19 21:15] sjudeng opened #1268 "ClassCastException with SparkComputer and HBase 1.0"
When executing a traversal of an HBase graph using SparkComputer, I get the following error. This is based on titan-1.0.0 with hadoop-2 and hbase-1.0.

[code]

[2016-02-22 15:04] Neonell commented on #1095
You close the transaction before to create the edge, that's why you get an exception.

If you want to reuse a vertex you have to map it again, or you have to use it within the same transaction.

Cheers,
Frédéric

[2016-02-25 06:49] nashiyue opened #1271 "Some problems with titan-1.0.0-hadoop2 about MapReduceIndexManagement and zookeeper"
Hi, I meet some problems and I want to get your help please. I use titan-1.0.0-hadoop2, hadoop version is 2.6.0, hbase version is 0.98.
1.when I use bin/gremlin.sh , it will tell about "script14563816651672042298222.groovy: 1: unable to resolve class com.thinkaurelius.titan.hadoop.MapReduceIndexManagement"
2. zookeeper's client port in my server is 2182(not default 2181) . So I modify the file con

[2016-02-25 07:24] #1271 closed, assigned to nobody

[2016-02-25 08:46] sheymann commented on #1242
Any news about a fix?

[2016-02-26 12:51] imanost commented on #317
hi everyone
i have tried to work on the following example http://thinkaurelius.com/2014/05/29/powers-of-ten-part-i/
but when i try to write the gremlin script i get the following error
g = TitanFactory.open('/tmp/1m')
Backend shorthand unknown: /tmp/1m
Display stack trace? [yN] y
java.lang.IllegalArgumentException: Backend shorthand unknown: /tmp/1m
    at com.google.common.base.Preconditions.chec

[2016-02-26 12:59] spmallette commented on #317
@imanost the code in the powers of ten post is designed to work with titan 0.4.x or maybe 0.5.x i think.  Note that Titan 1.0 is the current version. Not sure what version you are using, but you probably need to get that much straight before just copy/pasting the code from that blog post.  The powers of ten still have some validity conceptually for 1.0, but changes in TinkerPop 3.x alter the bulk

[2016-02-27 01:59] dalaro commented on #1267
This inconsistency does look troubling.  It seems like the repair job would write two edge columns: one where the vertex hosted on the current row is local/ego, and one where the same vertex is other/adjacent.  @mbroecheler, any thoughts?

[2016-03-01 17:03] akash3456 opened #1272 "DSE issue"
I am unable to start the solr aspect of DSE search and i get the following exception message when i execute, when i execute bin/dse cassandra start the cassandra service is started but not solr, does anyone have any guidance to offer me i know i have missed something:

bin/dse cassandra -s

message:
[code]

[2016-03-02 07:05] nashiyue commented on #1177
Hi, sir~ I also use Titan(0.5.4) HBase(0.98) to run the example demo, but use the command GraphOfTheGodsFactory.load(g) get many wrong info, can you help me?
Unknown external index backend: search
Display stack trace? [yN] y
java.lang.IllegalArgumentException: Unknown external index backend: search
    at com.google.common.base.Preconditions.checkArgument(Preconditions.java:120)
    at com.thinkau

[2016-03-04 13:15] ghost commented on #1272
Can you provide version information on DSE and the Solr support in that version ?

[2016-03-04 14:19] akash3456 commented on #1272
4.7.7 its not a problem now i have managed to clear out the
data_directories thanks for getting back to me.

On Fri, Mar 4, 2016 at 1:15 PM, graben1437 notifications@github.com wrote:

[2016-03-06 14:51] pluradj commented on #1172
FWIW, I came across another Groovy bug related to `interpreterMode` preference today.
https://issues.apache.org/jira/browse/GROOVY-7562

[2016-03-06 22:11] zifnab87 opened #1275 "Why Multiplicity.SIMPLE edges cannot be included in vertex-centrix indices"
I have this issue:
http://stackoverflow.com/questions/35833151/why-multiplicity-simple-edges-cannot-be-included-in-vertex-centric-indices

Is this on purpose?
Thanks,
Michail

[2016-03-07 12:24] spmallette commented on #1257
#1258 merged

[2016-03-07 12:24] #1257 closed, assigned to nobody

[2016-03-07 23:41] sayrer opened #1278 "Pin guava version to 18"
The guava dependency in titan-core/pom.xml should be pinned to version 18. Not doing this can cause problems when users have other versions of guava available.

[2016-03-08 00:56] amcp opened #1279 "StandardStoreFeatures.Builder should allow setting supportsPersistence=false but doesn't"
Titan incorporates an in-memory storage backend, and there may be other storage backends in the future that are only in-memory (no persistence). For example, I can think of an improvement to the DynamoDB Storage Backend for Titan that would be in memory (use DynamoDBEmbedded instead of AmazonDynamoDBClient in the Client.java file).

This Builder needs a supportsPersistence(boolean) method.

https:

[2016-03-08 15:12] pluradj commented on #1279
Doesn't this do it?
https://github.com/thinkaurelius/titan/blob/titan11/titan-core/src/main/java/com/thinkaurelius/titan/diskstorage/keycolumnvalue/StandardStoreFeatures.java#L265-L268

[2016-03-09 09:41] jCalamari opened #1281 "Question: Publishing snapshot to Maven [Titan11]"
Any chances for publishing Titan11 snapshot to Maven, please?

[2016-03-09 13:49] spmallette commented on #1281
A SNAPSHOT was just published to sonatype at 62fea863 - in the future, please make such requests via the aurelius mailing list rather than the issue tracker. Thanks!

[2016-03-09 13:49] #1281 closed, assigned to nobody

[2016-03-10 18:35] fcalderonnearsoft commented on #1278
Hi @sayrer I just commit that change. Cheers

https://github.com/thinkaurelius/titan/pull/1282

[2016-03-10 18:41] trevorism opened #1283 "gremlin.bat, gremlin-server.bat fails with Titan 1.0-hadoop1"
Same issue as https://github.com/thinkaurelius/titan/issues/662 occurs on Titan 1.0-hadoop1 on Windows.
Also in 1.0, gremlin-server.bat expects /conf/gremlin-server.yaml, but that file exists in conf/gremlin-server/gremlin-server.yaml.

I had to revert to Titan 0.5.4-hadoop1

[2016-03-10 18:47] spmallette commented on #1283
A PR was just merged against `titan11` branch that did some good work for the `.bat` files. you might want to try that out.

@pluradj were the issues mentioned here resolved already?

[2016-03-10 19:08] pluradj commented on #1283
Yes, this is a duplicate of #1242
@trevorism you can pull the `gremlin.bat` and `gremlin-server.bat` from https://github.com/thinkaurelius/titan/tree/titan11/titan-dist/src/assembly/static/bin

[2016-03-11 19:39] mikedias opened #1284 ""Query requires iterating over all vertices" warning when using g.V().hasId(x)"
As discussed in this [topic](https://groups.google.com/forum/#!topic/gremlin-users/Kz2bOeAeqh4), Titan raises a warning when a `g.V().hasId(123)` that has a direct impact on the blvp performance:

`WARN StandardTitanTx  - Query requires iterating over all vertices [(~id = 123)]. For better performance, use indexes.`

Marko suggests that the `TitanGraphStepStrategy` could handle the transformation

[2016-03-14 17:10] prachikhadke commented on #315
Was there a resolution for this issue?

[2016-03-14 21:10] twilmes opened #1285 "Change Cassandra replication-strategy-class and replication-strategy-options to GLOBAL_OFFLINE"
Right now storage.cassandra.replication-factor is set to GLOBAL_OFFLINE, but replication-strategy-class and replication-strategy-options are set to FIXED.  I think these could be safely updated to GLOBAL_OFFLINE to support changes in the Cassandra cluster topology, eg. moving from SimpleStrategy to NetworkTopologyStrategy or possibly adding a new DC to an existing cluster.

[2016-03-15 01:59] boliza commented on #1285
:+1: ,but we change the replication-factor in C\* cluster。

[2016-03-15 02:30] twilmes commented on #1285
Yes, I should have been a bit more clear.  After Titan keyspace initialization, you would manage these things with cqlsh.  The issue that I noticed is that if you do update the config to match your cqlsh changes (maybe just for clarity purposes), you get an error on connect due to the mismatch between your config and what Titan has stored as those FIXED property values in the system_properties CF.

[2016-03-16 15:22] reginachan commented on #1113
@PommeVerte any updates on this issue?

[2016-03-16 18:58] mikedias commented on #1284
The [PR 267](https://github.com/apache/incubator-tinkerpop/pull/267) introduces the method `GraphStep.processHasContainerIds()` that will help to fix this.

[2016-03-18 14:32] spmallette commented on #1284
@mikedias can we then close this issue over here in titan? or is there more for titan to implement?

[2016-03-18 14:45] mikedias commented on #1284
@spmallette no. The `TitanGraphStepStrategy` needs to be optimized yet. The PR 267 AFAIK only introduces a helper method to implement the optimization.

[2016-03-18 22:23] dmill-bz commented on #1113
Just a heads up to let you guys know I'm looking into this again.
I just built titan from `titan11` and I'm getting a bunch of failing tests right off the bat. Can't tell just yet if they're related to this issue or not. Will keep you posted later today.

[2016-03-19 05:43] dmill-bz commented on #1113
Ok, so it turns out that stream of errors was me being an idiot and running my tests as strict. Once that was switched no more errors.

---

So far this seems to be fixed!!!!
The failing tests I mentioned earlier in this thread pass with flying colors. I'm no longer getting these Lock warnings etc.. I've tried over `cassandra-es`, `berkley` and `berkeley-es`.
- Driver tests **PASS**
- ORM/OGM test

[2016-03-19 15:41] dmill-bz commented on #1113
Ok so I spoke too soon. I'm still getting these in app. Going to triple check our transaction management to make sur it's not coming from there.

[code]

[2016-03-20 15:17] dmill-bz commented on #1113
Ok so since the OGM/ORM tests passed (as opposed to previously where they systematically failed) I had a suspicion that my application tests were failing because of some awkward transaction management and I was correct. `berkeley-es` works as expected and all tests pass now. `cassandra-es` has random es failures (es seems to shutdown) but that's another issue entirely.

I'm going to close this bea

[2016-03-20 15:17] #1113 closed, assigned to spmallette

[2016-03-20 16:23] dmill-bz opened #1286 "Random shutdown of ElasticSearch using cassandra-es"
_Concerns `titan11` branch._

I'm getting failures in my application tests because it seems like ES is just shutting down at random. This concerns `cassandra-es` only for the moment. `berkeleyje-es` seems to works just fine.

To give a bit of context, there are about 300 tests. All of which remove fixtures, add fixtures, run, then remove fixtures again from a graph created at startup. Usually each

[2016-03-20 17:09] lindsayismith opened #1287 "Hbase-es configuration fails with ElasticSearch error"
The startup guide says to use the titan-hbase-es.properties file to start Titan against hbase.

This configuration fails relating to ElasticSearch:

Could not instantiate implementation: com.thinkaurelius.titan.diskstorage.es.ElasticSearchIndex
Display stack trace? [yN] y
...
Caused by: org.elasticsearch.client.transport.NoNodeAvailableException: None of the configured nodes are available: []

I'v

[2016-03-21 13:31] pluradj commented on #1287
You should be able to find the `titan-hbase.properties` file in the Titan zip file. It does not attempt to use Elasticsearch as an external indexing backend. Drop the `titan` table in HBase from your failed attempt, then try connecting with `titan-hbase.properties`.

[2016-03-21 13:53] lindsayismith commented on #1287
Thank you, removing the titan table from HBase meant that I could now run this:

g = TitanFactory.open('conf/titan-hbase.properties')

However, now when I run the next step:

GraphOfTheGodsFactory.load(g)

I get an exception relating to the search backend:

[code]

Which suggests that I do need a search backend configured.  Or is there something else I can do to fix this?

[2016-03-21 15:23] pluradj commented on #1287
Try `GraphOfTheGodsFactory.loadWithoutMixedIndex(graph, true)`

https://github.com/thinkaurelius/titan/blob/1.0.0/titan-core/src/main/java/com/thinkaurelius/titan/example/GraphOfTheGodsFactory.java#L46

[2016-03-21 15:35] lindsayismith commented on #1287
Thanks, this works!

[2016-03-21 15:35] #1287 closed, assigned to nobody

[2016-03-21 17:45] dmill-bz commented on #1286
To add to this. Once this occurs if I stop titan and start it again it will just hang. The only way I can get it running again is by erasing the `db/` folder which is kinda catastrophic.

Here's the message it hangs on :

[code]

Note that I get a lot of ReplayPosition entries in my log.

I've actually managed to make it go through with bootup by start/stopping it a few times but : graphs are empt

[2016-03-21 17:57] dmill-bz commented on #1181
Hey sorry for the late reply.

I've tried this again on `titan11` and it seems to work correctly :

[code]

I'm going to re-enable some of my tests and if all is well I'll close this.

[2016-03-23 15:23] metlos commented on #897
I get the same error in Titan 0.5.4 when doing `Vertex.getPropertyKeys()` with Cassandra backend.

While I appreciate this might be an "inconsistency in the data store" - could you provide some guidance on how to repair the inconsistencies?

[2016-03-29 10:53] esatsuta opened #1288 "Setting new property value on edge has no effect in transaction"
Code:
`
        String vertexLabel = "object";
        String edgeLabel = "link";
        String edgePropName = "status";
        Long initialValue = null;
        Long secondValue = Long.valueOf(2l);

[code]

`
if initial value would not be null, everything works as expected.

[2016-03-29 17:18] spmallette commented on #1278
See  #1139 - this will be solved with shading.

[2016-03-29 17:18] #1278 closed, assigned to nobody

[2016-03-30 10:05] jimlack commented on #1113
This is still an issue for me
I am using titan 1.0 stack within java using berkeleyje-es
with the following fragment
TitanTransaction tx = graph.newTransaction();
         GraphTraversalSource g = tx.traversal();
         g.V().drop().iterate();
         tx.commit();

I do not explicitly drop any edges as they should be implicitly removed.
I repopulate the graph with similar

TitanTransaction tx =

[2016-03-30 10:34] jimlack commented on #1113
Apologies mybad, found a dangling transaction. All good now

[2016-03-30 11:01] anindya-albeado opened #1289 "Error on executing scripts on remote server using Gremlin shell"
I am working on Mac OS X el capitan. I am using the titan-1.0.0-hadoop1 distribution of the Titan server.
I have started the Titan server using titan.sh start but using the HttpChannelizer instead of WebsocketChannelizer.

I have created a graph programmatically and I can enumerate the vertices and edges programmatically as well.

When I connect to the server from Gremlin console using :remote com

[2016-03-30 11:06] spmallette commented on #1289
`:remote` command does not work over REST (i.e. `HttpChannelizer`).  convert back to `WebSocketsChannelizer` and it should work.

in the future please use the mailing list for these kinds of "usage" questions:

https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-03-30 11:06] #1289 closed, assigned to nobody

[2016-04-04 07:33] amcp opened #1296 "TitanBlueprintsTransaction forbids use of custom ids despite graph.set-vertex-id=true"
#1295 The following TitanVertexFeature suggests that the use of custom vertex ids through TinkerPop Structure depends on the allowVertexIdSetting() value:

https://github.com/thinkaurelius/titan/blob/titan11/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/tinkerpop/TitanFeatures.java#L173

However the TitanBlueprintsTransaction implementation forbids custom ids regardless of the allowVert

[2016-04-04 07:44] amcp opened #1297 "Improve description of ids.flush configuration"
http://s3.thinkaurelius.com/docs/titan/1.0.0/titan-config-ref.html#_ids
https://github.com/thinkaurelius/titan/blob/titan11/titan-core/src/main/java/com/thinkaurelius/titan/graphdb/configuration/GraphDatabaseConfiguration.java#L706

Graph partitioning is always enabled and a Titan graph will have at least 2 partitions.
The default value of this config is true, so the description is inconsistent. I

[2016-04-05 08:00] wangao1236 opened #1298 "Errors when trying to connect to Cassandra backend with Titan 0.5.4"
I start a titan server on a machine, and it works:

[code]

And I work to bulk load a large graph, so I use java api to connect the server, but it has exceptions:

[code]

And my code is:

[code]

So why my java client doesn't work?

[2016-04-05 08:57] fppt opened #1299 "Ordered Traversal on Titan Using Elasticsearch"
When using Titan `1.0.0` and Elasticsearch as my indexing backend I create the following Mixed index:

[code]

The goal is so that I can search for vertices of a specific **type** and order them using the **degree**. I believe the following should achieve that:

[code]

However the above traversal is clearly not using the Index as I get the following error:

[code]

What's odd is that I have confi

[2016-04-05 14:08] pluradj commented on #1298
Titan uses Thrift to communicate with Cassandra, and the Thrift port is typically `9160`. Check the `rpc_port` in the `cassandra.yaml`.

[2016-04-05 14:10] spmallette commented on #1298
Thanks for answering @pluradj

@wangao1236 in the future, please use the mailing list for questions that involve usage: https://groups.google.com/forum/#!forum/aureliusgraphs - thanks

[2016-04-05 14:10] #1298 closed, assigned to nobody

[2016-04-05 14:12] wangao1236 commented on #1298
OK, it works. Thank you very much!! @pluradj

[2016-04-09 07:36] trixpan commented on #1177
@nashiyue

I faced the same issue. Seems to me that although HBase is a supported backend, Cassandra was the preferred child.

Having said that I was able to connect to HBase and use the system so it may worth just skipping the demo section

[2016-04-09 18:00] martinstepanov1 opened #1301 "Vizuealization for Titan v.1.x"
What are prefered ways to visualize titan graph for administration purposes in version 1.0 and newer? Rexter seems to be no longer part of titan distribution.

[2016-04-10 08:29] boliza commented on #1299
@fppt your query should be

[code]

if you want to use your query,your schema should be:

[code]

because when you define your index ,do not special the Mapping ,so titan use the the default `Mapping.DEFAULT`.

where titan execute a query ,titan will check the query keys is support by Titan Index. see the code in `ElasticSearchIndex` line 967

[code]

see more about index http://s3.thinkaurelius.c

[2016-04-11 05:58] xmen4u commented on #1301
Great question! would love to know as well.

[2016-04-11 06:00] xmen4u opened #1302 "Edge label equals Vertex label"
I would like to define a vertex with label 'brand'. For instance. As well as an edge label (relation type) 'brand'. Is that possible? or it must be unique?

reason is:

g.V(4336).next().addEdge('brand', g.V(12424).next())
"The type of given name is not a label: brand"

Saw this from 2k13:
https://github.com/thinkaurelius/titan/issues/428
So Edge label MUST BE != Vertex Label
Thank you

[2016-04-11 06:12] #1302 closed, assigned to nobody

[2016-04-11 07:26] boliza commented on #1301
see doc in  tinkerpop http://tinkerpop.apache.org/docs/3.1.2-SNAPSHOT/reference/#gremlin-plugins
just see the topic Gephi Plugin

[2016-04-11 12:21] spmallette commented on #1301
As @boliza mentioned we would recommend the gephi plugin. Titan 1.0.x is bound to TinkerPop 3.0.x so the instructions to follow would be here: http://tinkerpop.apache.org/docs/3.0.2-incubating/#gephi-plugin

Also, in the future, please us the mailing list for usage questions: https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-04-11 12:21] #1301 closed, assigned to nobody

[2016-04-13 18:42] jnhagelberg opened #1303 "ClassCastException in TitanPropertiesStep.flatMap"
Titan Version: 1.0.0

When running certain gremlin queries, we encounter the ClassCastException shown below.  This seems to happen in any queries that use a select with a by() clause that uses "__".  The stack trace below is from this query:

`g.V().where(has("hive_db.name", eq("Reporting"))).as("_src1","_src2").select("_src1","_src2").by(__."hive_db.name").by(__."hive_db.createTime" + 1).toList()

[2016-04-13 20:20] jnhagelberg commented on #1303
It's looking like this might be an issue with the query.  Closing for now.  I'll reopen this if I see the issue again.

[2016-04-13 20:20] #1303 closed, assigned to nobody

[2016-04-20 07:22] majic31 commented on #1236
Execuse me, I try to follow your step to "mvn install", but after installing, titan-dist/titan-dist-hadoop-2/target is empty, and I can't get titan-1.1.0-SNAPSHOT-hadoop2.zip(titan-1.1.0-SNAPSHOT-hadoop1.zip is ok)
1)Titan version is 1.0, which is fetched from git,
2)mvn command is: mvn clean install -DskipTests=true -Dgpg.skip=true -Phadoop2 -Paurelius-release
Does some configuration should be ad

[2016-04-22 05:16] zifnab87 opened #1304 "Titan 1.0.0 : Error after installing pip + cqlsh or starting cassandra with cassandra -f ??"
While the database seemed to be working fine. I wanted to see the internal keyspace of cassandra so I installed cqlsh through pip install cqlsh. I run cqlsh version 3.20. Before that I tried to run cassandra on its own with ./cassandra -f.

The result is now I am getting:

[code]

This is the method:

[code]

I also tried to delete the data with:

[code]

which is naive as I need to clean the indi

[2016-04-22 06:34] yucx commented on #1204
SOLR released frequently, and there would be API changes with newer version compared to current one in TItan.
we have a request to update dependent solr version to 5.4.1, which we considered as a stable release recently.
There is API change in [SOLR-8221](https://issues.apache.org/jira/browse/SOLR-8221) which in after SOLR 5.4. So it would compiled failed if only update solr version in titan-solr/

[2016-04-22 06:43] yucx opened #1305 "Upgrade Hbase version"
It's similar with ISSUE#1204.
We have a request to support HBase version 1.2.0.
My fix is based on https://github.com/graben1437/titan1withtp3.1
Will update later once the code from pull request #1218 merged into titan11.

[2016-04-23 03:39] chunfuchen opened #1306 "build fail on ubuntu 14.04"
Hi all,

when I try to build titan,
I encounter a problem in titan-core,

[ERROR] Failed to execute goal on project titan-core: Could not resolve dependencies for project com.thinkaurelius.titan:titan-core:jar:1.0.1-SNAPSHOT: Could not transfer artifact jline:jline:jar:2.11 from/to central (http://repo.maven.apache.org/maven2): GET request of: jline/jline/2.11/jline-2.11.jar from central failed: P

[2016-04-25 07:06] longhaidadi opened #1307 "how to batch loading in titan 1.0.0"
hi, in titan 1.0.0 Api. titanGraph does not implement form TransactionalGraph in blueprints package , I not know how to use batchGraph APi.  so

[2016-04-25 07:12] singit commented on #1191
+1

[2016-04-25 07:17] longhaidadi opened #1308 "BatchGraph In titan 0.54"
hi , all
when I use titan 0.54 BatchGraph API. the zk connections break down  links all the time , then create new connection.  so I doubt its hbase problem, then update base from 0.94 to 0.98 .   but the problem
still be there

[2016-04-25 10:44] spmallette commented on #1307
Titan 1.0 supports TinkerPop 3.x and `BatchGraph` isn't supported in TinkerPop 3.x for bulk loading. you bulk load through BLVP in TinkerPop 3.x:

http://s3.thinkaurelius.com/docs/titan/1.0.0/titan-hadoop-tp3.html
https://github.com/dkuppitz/openflights

In the future, please use the mailing list for "usage questions": https://groups.google.com/forum/#!forum/aureliusgraphs thanks

[2016-04-25 10:44] #1307 closed, assigned to nobody

[2016-04-25 11:19] spmallette commented on #1306
what branch are you building?

[2016-04-26 01:33] jnaous opened #1309 "Can you please upgrade titan 1.0 gremlin dependency to latest?"
The current dependency version is missing a few things like select(Column.keys) etc... that have been added later.

[2016-04-26 05:32] poelzi commented on #312
:+1: cql3 would allow to run on scylla as well

[2016-04-26 10:50] spmallette commented on #1309
That work is on the titan11 branch right now.

[2016-04-26 10:50] #1309 closed, assigned to nobody

[2016-04-28 19:30] leifurhauks opened #1311 "Test failure: ExpirationCacheTest.testGracePeriod"
Building the `titan11` branch with maven, I encountered an assertion failure [here](https://github.com/thinkaurelius/titan/blob/titan10/titan-test/src/test/java/com/thinkaurelius/titan/diskstorage/cache/ExpirationCacheTest.java#L133):

[code]

This was on linux x86_64 with Oracle JDK8.

[2016-04-29 18:50] leifurhauks commented on #1311
This doesn't always fail, I'm not sure how to reproduce reliably.

[2016-05-05 09:23] jason1607 opened #1314 "Load Data into titanDB using Spark"
I want to load data into titanDB using Spark. I searched about it, all i understand is we can traverse graph using SparkGraphComputer but it read the data from the graph but i want to do the opposite of it i.e. i want to write or load data into graph using Spark

[2016-05-05 10:55] spmallette commented on #1314
You should be looking at the various BLVP (BulkLoaderVertexProgram) examples out there:

https://github.com/dkuppitz/openflights
http://s3.thinkaurelius.com/docs/titan/1.0.0/titan-hadoop-tp3.html
https://groups.google.com/forum/#!msg/gremlin-users/AetuGcLiBxo/KW966WAyAQAJ

In the future, please use the titan mailing list for "usage" questions:

https://groups.google.com/forum/#!forum/aureliusgraph

[2016-05-05 10:55] #1314 closed, assigned to nobody

[2016-05-06 12:20] nitinrastogi78 commented on #1105
Hi..i'm facing the exact same issue..my JAVA_HOME points to java 8..i'm running from /Users/rastogi/softwares/titan-1.0.0-hadoop1 folder : ./bin/.titan.sh..
im using titan 1.0.0 verison..

Any help would be appreciated..

[2016-05-06 12:24] nitinrastogi78 commented on #1105
MacBooks-MacBook-Pro:titan-1.0.0-hadoop1 rastogi$ ./bin/titan.sh start
Forking Cassandra...
Running `nodetool statusthrift`... OK (returned exit status 0 and printed string "running").
Forking Elasticsearch...
Connecting to Elasticsearch (127.0.0.1:9300)............................. timeout exceeded (60 seconds): could not connect to 127.0.0.1:9300
See /Users/rastogi/softwares/titan-1.0.0-hadoop1/

[2016-05-10 03:31] kdmcser opened #1315 "How to configure titan to make it restore more quickly when resion server is down?"
I running titian in hbase 1.0.0-cdh5.4.0, Once a hbase region server down, my titan count not read/write hbase for nearly 5min. throgh my hbase table switch to new region server beyond 1 min. I don't know how to configure titan to let it not try to connect old region server for the last 4min. can any one help me? thank you!

[2016-05-11 05:02] nitinknoldus commented on #813
hi broecheler,
whats the solution to this problem ?

[2016-05-12 08:02] mikebrules opened #1316 "README has redirect loop to titan homepage"
Just so you know, the link to the homepage on the README is a redirect loop for

http://titan.thinkaurelius.com/

Thanks

[2016-05-12 09:03] giovibal commented on #312
+1 for this feature.
There is some documentation that help to develop a backend for titandb ?

[2016-05-12 10:17] spmallette commented on #312
You can look at:

http://s3.thinkaurelius.com/docs/titan/1.0.0/internals.html

but i think it is probably best to study some of the existing code of other implementations.

[2016-05-13 03:30] alexingcool opened #1317 "How to get vertex from vertex property"
SQL exists primary key, so I want to keep some property unique in titan. But I get a problem, how can I get the vertex from graph, using codes below?
graph.traversal().V().has("plazaid", Long.valueOf(replaceNullAsZero(items[1]))).next()
if it not exists, I have to catch NoSuchElementException. if it exists, use vertex id to get the vertex and add multi edges.
hope some body give me a better way

[2016-05-13 06:02] dkuppitz commented on #1317
You can use `tryNext().orElse(...)`. See: http://tinkerpop.apache.org/javadocs/3.0.1-incubating/full/org/apache/tinkerpop/gremlin/process/traversal/Traversal.html#tryNext--

Next time please use the [mailing list](https://groups.google.com/forum/#!forum/gremlin-users) for questions.

[2016-05-13 06:02] #1317 closed, assigned to nobody

[2016-05-16 07:04] matthiasg commented on #1316
still happening sadly .. just wanted to read up on titan .. but i am not sure whether a project that doesnt fix a simple thing like this for 4 days is still active. is titan reliable ? are there enough people in the community behind it ?

update:typo

[2016-05-16 07:14] joshsh commented on #1316
Yep, I'm concerned about exactly that perception.  I don't know what the holdup is, but this is definitely on the radar for fixing.

[2016-05-16 10:09] spmallette commented on #1316
we're aware of the issue and as of friday, someone was looking into it. sorta surprised that it is still a problem as of this morning. Note that the docs are still available via direct link:

http://s3.thinkaurelius.com/docs/titan/1.0.0/

[2016-05-16 18:13] nasserghiasi opened #1318 "website issue"
why website can not reachable?!
web site has redirecting cycle forever.

[2016-05-16 18:22] spmallette commented on #1318
please see #1316

[2016-05-16 18:22] #1318 closed, assigned to nobody

[2016-05-17 11:27] spmallette commented on #1316
The DNS issue appears to have been resolved sometime yesterday:

http://titan.thinkaurelius.com/

[2016-05-17 11:27] #1316 closed, assigned to nobody

[2016-05-19 17:49] zfolwick commented on #1085
what was the solution?  This is precisely the issue that I'm having now.

[2016-05-23 11:05] chrimobs opened #1319 "Getting traversal on remote graph breaks with Gremlin 3.2.0 (NoSuchMethodError)"
I use Titan with DynamoDB as storage backend.
I used to have a traverser [g] ready to use after starting Gremlin server. I changed to the 3.2.0 version of the Gremlin stack and [g] is no longer instantiated on startup. A request like
`:> graph.traversal().V()` now fails with the following stack trace:

`203486 [gremlin-server-exec-1] WARN  org.apache.tinkerpop.gremlin.server.op.AbstractEvalOpProce

[2016-05-23 11:16] spmallette commented on #1319
Those versions are not compatible.Titan 1.0.0 works with TinkerPop 3.0.x. There is a branch of development on titan11 for 3.1.x support and then PR #1312 for 3.2.x support. Not sure where the dynamo implementation is on that.

[2016-05-23 11:16] #1319 closed, assigned to nobody

[2016-05-24 10:35] nitinrastogi78 opened #1320 "Titanmanagement API awaitGraphIndexStatus is not available with titan 1.0.0 jar.."
Hi,

I'm trying to do a POC using Titan 1.0.0.
Reading through :

"
Chapter 8. Indexing for better Performance

Composite indexes retrieve vertices or edges by one or a (fixed) composition of multiple keys. Consider the following composite index definitions.

graph.tx().rollback() //Never create new indexes while a transaction is active
mgmt = graph.openManagement()
name = mgmt.getPropertyKey('nam

[2016-05-24 16:02] spmallette commented on #1320
It looks like you found the mailing list for your question - it will be handled over there. thanks.

[2016-05-24 16:02] #1320 closed, assigned to nobody

[2016-06-07 10:20] KimEeckhout opened #1323 "Make ES transport client a shared resource"
We recently ran into trouble with one of our applications hitting it's hosts ulimit. Investigation showed that the vast majority of open connections was to our 3-node ES cluster. Further digging revealed that these were coming from several transport clients started by Titan (we're on 0.5.3, the upgrade to 1.0.0 is on the backlog).

It appears that titan is starting one transport client per index w

[2016-06-08 08:39] joachimbutz opened #1324 "Method "awaitGraphIndexStatus" does not exist, but is mentioned in documentation"
I think, this is an issue in documentation - in the source code example in http://s3.thinkaurelius.com/docs/titan/1.0.0/indexes.html#index-mixed the method awaitGraphIndexStatus is used. But the class TitanManagement does not have this method anymore.

[2016-06-08 11:45] dkuppitz commented on #1324
`awaitGraphIndexStatus`  is a `ManagementSystem` method.

See: http://titan.thinkaurelius.com/javadoc/current/com/thinkaurelius/titan/graphdb/database/management/ManagementSystem.html#awaitGraphIndexStatus-com.thinkaurelius.titan.core.TitanGraph-java.lang.String-

The linked example is totally fine. The only thing that seems to confuse people is that you need to do an explicit cast when you're wri

[2016-06-08 11:45] #1324 closed, assigned to nobody

[2016-06-08 15:48] dhly-etc commented on #1181
This problem is still present in the `titan11` branch. The errors generated are due to ES 1.5 disabling dynamic scripting for Groovy by default. Looks like this configuration change was overlooked in the migration from ES 1.2 to 1.5 in `titan09`. I believe the change actually happened in ES 1.4.3.

Sandboxing Groovy scripts by adding `script.groovy.sandbox.enabled: true` to `conf/es/elasticsearch.

[2016-06-09 00:54] dpitera commented on #1051
Is this also true for reindexing indexes? Can I concurrently `reindex` a `registered` indexes, or will these indexes also get stuck in the `registered` state?

[2016-06-09 17:14] dpitera commented on #1051
Can you point out where exactly in the code while installing an index we check for open transactions and handle accordinly @mbroecheler

[2016-06-11 10:40] alinazemian opened #1325 "NPE on Match step using query.batch=true and Cassandra backend"
Hi,
I have got NPE on using match() step when query.batch is true. My query is as follows:

[code]

And the NPE stack trace:

[code]

[2016-06-11 11:37] dkuppitz commented on #1325
I have a suspicion that this could be related to https://issues.apache.org/jira/browse/TINKERPOP-1335.

[2016-06-11 13:32] alinazemian commented on #1325
@dkuppitz I am not sure. what about this issue:
https://github.com/thinkaurelius/titan/issues/1169

[2016-06-11 15:34] dkuppitz commented on #1325
Dunno, I'm not familiar with the Titan code base, but I just recently discovered this match()/select() bug in TinkerPop and since your query matches the problematic query pattern, I thought it's worth to reference the TP ticket here.

[2016-06-11 15:38] alinazemian commented on #1325
@dkuppitz I have checked the Titan code and it seems the first vertex is just loaded into multiQueryResults. Since this query works in query.batch=false mode I am suspicious about the Titan core not the TP part.

[2016-06-11 15:40] dkuppitz commented on #1325
Ok, great, that's good to know.

[2016-06-16 14:04] gabrielcc2 opened #1326 "GeoshapeTest->testGeoJsonSerialization() line 225"
Hi,

I was trying to build the project, at it's current state, with all tests, and I got an error in the titan-test project, in the GeoshapeTest->testGeoJsonSerialization(), line 225, saying that the result is a Box, and it's not equal to the Polygon passed as string.

Not being too familiar with the code, I don't know if it's a config error on my side. In any case, I changed "Polygon" to "Box" an

[2016-06-17 01:59] pluradj commented on #1326
This is already fixed on the `titan11` branch. If you're building from source, you should go with that branch.

https://github.com/thinkaurelius/titan/commit/5fd9001d34ddb7b97660e5bf02712f3b8a97d150

[2016-06-17 06:40] gabrielcc2 commented on #1326
Good to know. Thanks :+1:

[2016-06-17 06:40] #1326 closed, assigned to nobody

[2016-06-17 16:48] technotrance commented on #1326
Do you have a micro emmitting array for the uhf adaptor programme in the module for test

[2016-06-21 07:31] alinazemian commented on #1325
Is there any help regarding this issue?

[2016-06-23 15:54] rleszilm commented on #1191
+1

[2016-06-28 18:58] xdev-developer opened #1328 "Titan project is dead?"
Last repository update is 7 months ago, so reasonable question - project is dead?

[2016-06-28 19:04] spmallette commented on #1328
Developing is happening on titan11 branch not master:

https://github.com/thinkaurelius/titan/tree/titan11

and there is some effort to get titan working on TinkerPop 3.2.0:

https://github.com/thinkaurelius/titan/pull/1312

development has slowed, but not "dead". Please use the mailing list for these kinds of question in the future:

https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-06-28 19:04] #1328 closed, assigned to nobody

[2016-06-28 20:54] xdev-developer commented on #1328
Got it, thanks! and sorry...

[2016-06-29 23:27] zachkirsch opened #1329 "Running Titan on Hadoop 2 and using SparkGraphComputer"
Hello,

I have been trying to get this to work for a few days, and I'm submitting this as a last resort.

I currently have a functioning cluster that has Spark 1.6.1, Hadoop 2.4, and YARN installed. (It was deployed via Microsoft Azure).

My goal set spark.master to be yarn-client, and successfully execute queries through the gremlin shell. For example, I would like the following to work:

(1) Dow

[2016-06-30 09:37] smyth64 opened #1330 "Using Titan as RDF Triplestore"
Hey there!

Me and my team are planning a social network. I'm currently looking for a scalable solution for an RDF Triplestore. Unfortunately all the providers are commercial and want about 10.000$ / year. This is not affordable for our startup ._.

Is there any possibility to use Titan as an RDF Triplestore? My goal is to import the [Wikidata RDF Dump](https://dumps.wikimedia.org/wikidatawiki/ent

[2016-06-30 09:58] spmallette commented on #1330
You can certainly load RDF data into Titan. Of course with Titan 1.0 that supports TinkerPop 3.x and the old Sail based connectors from TinkerPop 2.x in Blueprints are no longer supported so that feature is not available to you.

In the future, please direct such questions to the Aurelius Mailing List:

https://groups.google.com/forum/#!forum/aureliusgraphs

[2016-06-30 09:58] #1330 closed, assigned to nobody

[2016-06-30 20:43] spmallette commented on #1329
This question is being handled on the mailing list:

https://groups.google.com/d/msg/aureliusgraphs/06biFFbS2xc/blNk51pABQAJ